Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: Select own agent
  packages/database/src/models/document.ts
  src/app/[variants]/(main)/page/_layout/Body/index.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Editor/index.tsx
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
Due: Store Layer, Services Layer, Server Layer

fix(database,memory-user-memory): mismatched types & incorrect type for identity
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/database/src/schemas/userMemories.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/context.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/experience.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
  packages/memory-user-memory/src/extractors/preference.ts
  packages/memory-user-memory/src/index.ts
  packages/memory-user-memory/src/prompts/layers/context.md
  packages/memory-user-memory/src/schemas/common.ts
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/schemas/experience.ts
  packages/memory-user-memory/src/schemas/identity.ts
  packages/memory-user-memory/src/schemas/preference.ts
  packages/types/src/userMemory/layers.ts
  packages/types/src/userMemory/tools.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemories/tools.ts
  src/server/services/memory/userMemory/extract.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/tools/memory/index.ts
Due: Store Layer, Services Layer, Server Layer

🐛 fix(database,memory-user-memory): mismatched types & incorrect type for identity (#10717)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/database/src/schemas/userMemories.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/context.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/experience.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
  packages/memory-user-memory/src/extractors/preference.ts
  packages/memory-user-memory/src/index.ts
  packages/memory-user-memory/src/prompts/layers/context.md
  packages/memory-user-memory/src/schemas/common.ts
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/schemas/experience.ts
  packages/memory-user-memory/src/schemas/identity.ts
  packages/memory-user-memory/src/schemas/preference.ts
  packages/types/src/userMemory/layers.ts
  packages/types/src/userMemory/tools.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemories/tools.ts
  src/server/services/memory/userMemory/extract.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/tools/memory/index.ts
Due: Store Layer, Services Layer, Server Layer

style: Keep query while navigating
  src/features/ResourceManager/components/Explorer/Header/Breadcrumb.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
Due: none

style: Optimzie folder style in masonry
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/DefaultFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
Due: none

feat: add update user profile modal
  locales/en-US/discover.json
  locales/en-US/marketAuth.json
  locales/zh-CN/discover.json
  locales/zh-CN/marketAuth.json
  src/app/(backend)/market/user/me/route.ts
  src/app/[variants]/(main)/discover/features/UserAvatar/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/ProfileSetupModal.tsx
  src/layout/AuthProvider/MarketAuth/types.ts
  src/locales/default/discover.ts
  src/locales/default/marketAuth.ts
  src/services/_url.ts
Due: Services Layer

style: update memory cloud tag
  package.json
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
Due: none

fix(memory-user-memory): exports caused the deps module
  packages/memory-user-memory/package.json
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/tools/memory/index.ts
Due: Store Layer, Services Layer

🐛 fix(memory-user-memory): exports caused the deps module (#10719)
  packages/memory-user-memory/package.json
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/tools/memory/index.ts
Due: Store Layer, Services Layer

fix build
  src/components/NextAuth/AuthIcons.tsx
Due: none

feat: Select agent
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/locales/default/file.ts
  src/store/agent/slices/agent/action.ts
Due: Store Layer

feat(database): added queryIdentityRoles model for user memory
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

✨ feat(database): added queryIdentityRoles model for user memory (#10720)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

fix: change the editor userinfo into discover profile page
  packages/types/src/discover/assistants.ts
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserHeader.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
  src/app/[variants]/(main)/discover/features/UserAvatar/index.tsx
  src/server/services/discover/index.ts
Due: Server Layer

feat: change drawer into card options
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentCard.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentList.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
Due: none

style: update memory cloud tag
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/home/action.ts
Due: Store Layer

fix topic in recent
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/topic.ts
  src/server/routers/lambda/_helpers/resolveContext.test.ts
  src/server/routers/lambda/_helpers/resolveContext.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

fix(memory-user-memory): yet again encountered the openai structured format issue for required objects
  packages/memory-user-memory/src/schemas/identity.ts
Due: none

🐛 fix(memory-user-memory): yet again encountered the openai structured format issue for required objects (#10722)
  packages/memory-user-memory/src/schemas/identity.ts
Due: none

style: update discover avatar
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/Capabilities/KnowledgeItem.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/Capabilities/PluginItem.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/Related/Item.tsx
  src/app/[variants]/(main)/discover/(detail)/features/ShareButton.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/features/Sidebar/Related/Item.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/features/List/Item.tsx
  src/app/[variants]/(main)/discover/components/GitHubAvatar.tsx
Due: none

fix tool calling issues in server runtime
  package.json
  packages/agent-runtime/src/core/__tests__/runtime.test.ts
  packages/agent-runtime/src/core/runtime.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer

🐛 fix: support multiple chunk types in stream update functions
  src/features/AgentSetting/store/action.ts
Due: none

support execAgents
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

fix(memory-user-memory): not correctly defining schema
  packages/database/src/models/userMemory/model.ts
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/schemas/experience.ts
  packages/memory-user-memory/src/schemas/identity.ts
  packages/memory-user-memory/src/schemas/preference.ts
  packages/memory-user-memory/src/utils/zod.ts
  packages/types/src/userMemory/layers.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemories/tools.ts
Due: Server Layer

🐛 fix(memory-user-memory): not correctly defining schema (#10724)
  packages/database/src/models/userMemory/model.ts
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/schemas/experience.ts
  packages/memory-user-memory/src/schemas/identity.ts
  packages/memory-user-memory/src/schemas/preference.ts
  packages/memory-user-memory/src/utils/zod.ts
  packages/types/src/userMemory/layers.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemories/tools.ts
Due: Server Layer

perf(memory-user-memory): now layer runner will run conrrently
  packages/memory-user-memory/src/services/extractExecutor.ts
Due: none

⚡️ perf(memory-user-memory): now layer runner will run conrrently (#10725)
  packages/memory-user-memory/src/services/extractExecutor.ts
Due: none

try unlimited tasks
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

improve operationId
  src/server/routers/lambda/aiAgent.ts
  src/server/services/aiAgent/index.ts
Due: Server Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

clean the ttl
  src/server/modules/AgentRuntime/AgentStateManager.ts
  src/server/modules/AgentRuntime/InMemoryAgentStateManager.ts
  src/server/modules/AgentRuntime/StreamEventManager.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer

feat: Block files
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/features/ResourceManager/components/Header/hooks/useUploadFolder.ts
  src/locales/default/file.ts
  src/utils/gitignore.test.ts
  src/utils/gitignore.ts
Due: Utils Layer

feat: Add search
  src/features/PageEditor/Copilot/Conversation.tsx
Due: none

fix: Filter out message with role=tool
  packages/database/src/repositories/search/index.test.ts
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/README.md
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

fix: Title not saving
  src/app/[variants]/(main)/page/_layout/Body/List/Item/index.tsx
  src/features/PageEditor/store/action.ts
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Editor/index.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

fix(database,userMemories): cursor paginated topic iteration will cause infinite loop for memory extraction task
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/topic.ts
Due: none

🐛 fix(database,userMemories): cursor paginated topic iteration will cause infinite loop for memory extraction task (#10732)
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/topic.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
