Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

support export topic json
  packages/types/src/export.ts
  src/features/ShareModal/ShareJSON/generateFullExport.test.ts
  src/features/ShareModal/ShareJSON/generateFullExport.ts
  src/features/ShareModal/ShareJSON/generateMessages.ts
  src/features/ShareModal/ShareJSON/index.tsx
  src/features/ShareModal/ShareJSON/type.ts
  src/locales/default/chat.ts
Due: none

style: update AgentCouncil actions
  src/features/Conversation/Messages/AgentCouncil/TaskInstruction.tsx
  src/features/Conversation/Messages/AgentCouncil/components/AutoScrollShadow.tsx
  src/features/Conversation/Messages/AgentCouncil/components/CouncilList.tsx
  src/features/Conversation/Messages/AgentCouncil/components/CouncilMember.tsx
  src/features/Conversation/Messages/AgentCouncil/components/ScrollShadowWithButton.tsx
  src/features/Conversation/Messages/AgentCouncil/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/Contexts/message-action-context.ts
  src/features/Conversation/store/slices/data/selectors.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/store/chat/helpers.ts
Due: Store Layer

fix: Search more of a speific topic
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/features/CommandMenu/utils/queryParser.test.ts
  src/features/CommandMenu/utils/queryParser.ts
  src/features/PageEditor/PageEditor.tsx
  src/locales/default/common.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

refac: Warp CommandItem
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/ContextCommands.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/components/CommandItem.tsx
  src/features/CommandMenu/components/index.ts
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/utils/queryParser.ts
  src/locales/default/common.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

refac: Use context instead of hook
  src/features/CommandMenu/CommandMenuContext.tsx
  src/features/CommandMenu/ContextCommands.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/ThemeMenu.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/types.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/features/CommandMenu/utils/context.ts
  src/features/CommandMenu/utils/contextCommands.ts
  src/locales/default/common.ts
Due: none

style: Back button position
  src/features/ResourceManager/components/Editor/index.tsx
Due: none

fix: AddButton cannot expand
  src/features/ResourceManager/components/Header/AddButton.tsx
Due: none

fix: Type error
  src/features/CommandMenu/MainMenu.tsx
  src/server/routers/lambda/search.ts
Due: Server Layer

style: Add hint
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/locales/default/common.ts
Due: none

chore: sync some changes from cloud
  packages/database/src/schemas/_helpers.ts
  packages/database/src/utils/idGenerator.ts
  packages/model-runtime/src/core/RouterRuntime/baseRuntimeMap.ts
  packages/model-runtime/src/core/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/providers/anthropic/resolveCacheTTL.ts
  packages/model-runtime/src/providers/bedrock/index.ts
  packages/types/src/asyncTask.ts
  packages/types/src/user/preference.ts
  packages/utils/src/time.test.ts
  src/app/(backend)/trpc/lambda/[trpc]/route.ts
  src/app/[variants]/(main)/settings/provider/features/ProviderConfig/index.tsx
  src/components/404/index.tsx
  src/features/PluginStore/McpList/Detail/Settings/index.tsx
  src/hooks/useTTS.ts
  src/libs/trpc/lambda/context.ts
  src/server/modules/ModelRuntime/index.ts
  src/services/_url.ts
  src/store/user/slices/auth/selectors.ts
  src/store/user/slices/common/action.ts
  src/store/user/slices/common/initialState.ts
  src/utils/errorResponse.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: add localstorage cache in swr provider
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/hooks/useFetchAgentList.ts
  src/layout/GlobalProvider/Query.tsx
  src/libs/swr/index.ts
  src/libs/swr/localStorageProvider.test.ts
  src/libs/swr/localStorageProvider.ts
  src/libs/swr/useClientDataSWRWithSync.ts
  src/store/home/slices/agentList/action.ts
Due: Store Layer, Libraries Layer

lint: Remove unused varibles
  src/features/CommandMenu/components/CommandItem.tsx
Due: none

fix: fix something about knowledges
  src/server/routers/async/file.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
Due: Store Layer, Server Layer

feat: add use fetch topic into cache
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/index.tsx
  src/hooks/useFetchTopics.ts
  src/libs/swr/localStorageProvider.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Libraries Layer

feat: add homepage recents api cache
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/store/home/slices/recent/action.ts
Due: Store Layer

feat: add group chat initial cache
  src/app/[variants]/(main)/group/_layout/Sidebar/Members/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/index.tsx
  src/hooks/useInitGroupConfig.ts
  src/libs/swr/localStorageProvider.ts
  src/store/agentGroup/action.ts
Due: Store Layer, Libraries Layer

chore: sync some changes from cloud (#10882)
  packages/database/src/schemas/_helpers.ts
  packages/database/src/utils/idGenerator.ts
  packages/model-runtime/src/core/RouterRuntime/baseRuntimeMap.ts
  packages/model-runtime/src/core/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/providers/anthropic/resolveCacheTTL.ts
  packages/model-runtime/src/providers/bedrock/index.ts
  packages/types/src/asyncTask.ts
  packages/types/src/user/preference.ts
  packages/utils/src/time.test.ts
  src/app/(backend)/trpc/lambda/[trpc]/route.ts
  src/app/[variants]/(main)/settings/provider/features/ProviderConfig/index.tsx
  src/components/404/index.tsx
  src/features/PluginStore/McpList/Detail/Settings/index.tsx
  src/hooks/useTTS.ts
  src/libs/trpc/lambda/context.ts
  src/server/modules/ModelRuntime/index.ts
  src/services/_url.ts
  src/store/user/slices/auth/selectors.ts
  src/store/user/slices/common/action.ts
  src/store/user/slices/common/initialState.ts
  src/utils/errorResponse.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

✨ feat: support import and export topic data
  locales/en-US/chat.json
  locales/en-US/topic.json
  locales/zh-CN/chat.json
  locales/zh-CN/topic.json
  packages/database/src/repositories/topicImporter/__tests__/fixtures/exported-topic.json
  packages/database/src/repositories/topicImporter/__tests__/importTopic.test.ts
  packages/database/src/repositories/topicImporter/index.ts
  packages/types/src/export.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/ToolAuthAlert.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/locales/default/chat.ts
  src/locales/default/topic.ts
  src/server/routers/lambda/topic.ts
  src/services/topic/index.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Services Layer, Server Layer

update config
  src/locales/default/chat.ts
Due: none

docs: update the hint
  src/libs/swr/localStorageProvider.ts
  src/libs/swr/useClientDataSWRWithSync.ts
Due: Libraries Layer

✨ feat: support export and import topic JSON (#10885)
  locales/en-US/chat.json
  locales/en-US/topic.json
  locales/zh-CN/chat.json
  locales/zh-CN/topic.json
  packages/database/src/repositories/topicImporter/__tests__/fixtures/exported-topic.json
  packages/database/src/repositories/topicImporter/__tests__/importTopic.test.ts
  packages/database/src/repositories/topicImporter/index.ts
  packages/types/src/export.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/ToolAuthAlert.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/features/ShareModal/ShareJSON/generateFullExport.test.ts
  src/features/ShareModal/ShareJSON/generateFullExport.ts
  src/features/ShareModal/ShareJSON/generateMessages.ts
  src/features/ShareModal/ShareJSON/index.tsx
  src/features/ShareModal/ShareJSON/type.ts
  src/locales/default/chat.ts
  src/locales/default/topic.ts
  src/server/routers/lambda/topic.ts
  src/services/topic/index.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Services Layer, Server Layer

fix: fix by ai's suggestion
  src/server/routers/async/file.ts
Due: Server Layer

✨ feat: support swr local cache (#10884)
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Members/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/hooks/useFetchAgentList.ts
  src/hooks/useFetchTopics.ts
  src/hooks/useInitGroupConfig.ts
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/layout/GlobalProvider/Query.tsx
  src/libs/swr/index.ts
  src/libs/swr/localStorageProvider.test.ts
  src/libs/swr/localStorageProvider.ts
  src/libs/swr/useClientDataSWRWithSync.ts
  src/store/agentGroup/action.ts
  src/store/chat/slices/topic/action.ts
  src/store/home/slices/agentList/action.ts
  src/store/home/slices/recent/action.ts
Due: Store Layer, Libraries Layer

feat: add topic message swr cache
  src/features/Conversation/store/slices/data/action.ts
  src/libs/swr/localStorageProvider.ts
Due: Libraries Layer

fix: additional notes
  src/server/routers/async/file.ts
Due: Server Layer

✨ feat: add window resizing and sizing functionality
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/core/browser/BrowserManager.ts
  packages/electron-client-ipc/src/types/index.ts
  packages/electron-client-ipc/src/types/window.ts
  src/app/[variants]/(main)/desktop-onboarding/index.tsx
  src/features/DesktopOnboarding/OnboardingContainer.tsx
  src/services/electron/system.ts
Due: Services Layer

🐛 fix(desktop): prevent window resize when onboarding (#10887)
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/core/browser/BrowserManager.ts
  packages/electron-client-ipc/src/types/index.ts
  packages/electron-client-ipc/src/types/window.ts
  src/app/[variants]/(main)/desktop-onboarding/index.tsx
  src/features/DesktopOnboarding/OnboardingContainer.tsx
  src/services/electron/system.ts
Due: Services Layer

feat: Remove page filter
  src/app/[variants]/(main)/page/_layout/Body/useDropdownMenu.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/locales/default/common.ts
Due: none

feat: Replace medium with youtube
  locales/ar/common.json
  locales/bg-BG/common.json
  locales/de-DE/common.json
  locales/en-US/common.json
  locales/es-ES/common.json
  locales/fa-IR/common.json
  locales/fr-FR/common.json
  locales/it-IT/common.json
  locales/ja-JP/common.json
  locales/ko-KR/common.json
  locales/nl-NL/common.json
  locales/pl-PL/common.json
  locales/pt-BR/common.json
  locales/ru-RU/common.json
  locales/tr-TR/common.json
  locales/vi-VN/common.json
  locales/zh-CN/common.json
  locales/zh-TW/common.json
  src/app/[variants]/(main)/settings/about/index.tsx
Due: none

feat: Remove `docs_` prefix from URL
  packages/builtin-agents/src/agents/page-agent/systemRole.ts
  src/app/[variants]/(main)/page/index.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

chore: add relation
  public/.well-known/assetlinks.json
Due: none

chore: add expo fingerpoint
  public/.well-known/assetlinks.json
Due: none

chore: add android origin hash
  src/auth.ts
Due: none

feat: mobile native better auth support
  .eslintrc.js
  .npmrc
  docs/development/database-schema.dbml
  next.config.ts
  package.json
  packages/agent-runtime/package.json
  packages/const/package.json
  packages/database/migrations/0065_add_passkey.sql
  packages/database/migrations/meta/0065_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/package.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/betterAuth.ts
  packages/electron-client-ipc/package.json
  packages/model-bank/package.json
  packages/model-runtime/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web-crawler/package.json
  public/.well-known/README.md
  public/.well-known/apple-app-site-association
  public/.well-known/assetlinks.json
  src/auth.ts
  src/libs/better-auth/email-templates/index.ts
  src/libs/better-auth/email-templates/verification-otp.ts
  src/libs/better-auth/utils/config.ts
  src/server/routers/lambda/_template.ts
  src/server/routers/lambda/group.ts
  src/server/routers/lambda/knowledgeBase.ts
  src/server/routers/lambda/session.ts
  src/server/routers/lambda/sessionGroup.ts
  src/server/routers/lambda/thread.ts
Due: Server Layer, Libraries Layer

chore: add android assetlinks
  public/.well-known/assetlinks.json
Due: none

fix: TS error
  src/features/CommandMenu/useCommandMenu.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
