Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

♻️ refactor: Migrating Firecrawl to v2 (#9850)
  docs/self-hosting/advanced/online-search.mdx
  docs/self-hosting/advanced/online-search.zh-CN.mdx
  packages/model-bank/src/aiModels/anthropic.ts
  packages/model-bank/src/aiModels/higress.ts
  packages/model-bank/src/aiModels/infiniai.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-runtime/src/core/streams/openai/__snapshots__/responsesStream.test.ts.snap
  packages/model-runtime/src/providers/minimax/index.ts
  packages/model-runtime/src/providers/search1api/index.test.ts
  packages/web-crawler/src/crawImpl/firecrawl.ts
  src/config/modelProviders/anthropic.ts
  src/config/modelProviders/higress.ts
  src/config/modelProviders/minimax.ts
  src/config/modelProviders/qiniu.ts
  src/server/services/search/impls/firecrawl/index.ts
  src/server/services/search/impls/firecrawl/type.ts
Due: Server Layer

style: fix some ui isseus
  apps/mobile/src/components/CapsuleTabs/style.ts
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/List.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b3/243cf6fb8c44f9a6179669875a34dd65dee1a5
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

style: fix Appearance
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/ThemeProvider/context.tsx
Due: none

✨ feat: 添加 MiniMax M2 和 Qwen3 VL 235B Instruct 模型，更新模型属性 🔧 fix: 修复免费标识逻辑，确保正确判断模型是否免费
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-runtime/src/providers/openrouter/index.ts
Due: none

feat: add topic group
  apps/mobile/locales/zh-CN/topic.json
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/components/ThemeProvider/context.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList/ByTimeMode.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList/FlatMode.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList/GroupItem.tsx
  apps/mobile/src/features/TopicDrawer/index.tsx
  apps/mobile/src/hooks/useLocale.ts
  apps/mobile/src/i18n/default/topic.ts
  apps/mobile/src/i18n/index.ts
  apps/mobile/src/store/setting.ts
  apps/mobile/src/utils/dayjsLocale.ts
Due: none

upgrade next 16
  next.config.ts
  package.json
  src/app/(backend)/webapi/revalidate/route.ts
  src/app/[variants]/layout.tsx
  src/proxy.ts
  tsconfig.json
Due: none

try to fix
  next.config.ts
  package.json
Due: none

try to fix
  package.json
Due: none

upgrade
  package.json
Due: none

🐛 fix(AssistantStore): add missing identifier parameter in fallback fetch
  src/server/modules/AssistantStore/index.ts
Due: Server Layer

fic(mobile): provider checker
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/Checker.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/index.tsx
  apps/mobile/src/store/aiInfra/slices/aiProvider/action.ts
Due: none

feat: add session group
  apps/mobile/locales/zh-CN/chat.json
  apps/mobile/src/features/SideBar/components/SessionList/features/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/features/SessionGroupHeader.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/i18n/default/chat.ts
  apps/mobile/src/store/global.ts
Due: none

✨ feat: 添加历史思考内容选项，增强消息上下文理解
  packages/context-engine/src/processors/MessageContent.ts
  packages/model-runtime/src/types/chat.ts
  packages/types/src/agent/chatConfig.ts
  src/features/AgentSetting/AgentModal/index.tsx
  src/locales/default/setting.ts
  src/services/chat/contextEngineering.ts
  src/services/chat/index.ts
Due: Services Layer

add tests
  packages/context-engine/src/processors/MessageContent.ts
  packages/context-engine/src/processors/__tests__/MessageContent.test.ts
Due: none

fix lint
  src/services/chat/contextEngineering.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
Due: Store Layer, Services Layer

:memo: docs: migrate next-auth env to V2
  src/envs/__tests__/auth.test.ts
  src/envs/auth.ts
  src/libs/next-auth/sso-providers/auth0.ts
  src/libs/next-auth/sso-providers/authelia.ts
  src/libs/next-auth/sso-providers/authentik.ts
  src/libs/next-auth/sso-providers/cloudflare-zero-trust.ts
  src/libs/next-auth/sso-providers/cognito.ts
  src/libs/next-auth/sso-providers/generic-oidc.ts
  src/libs/next-auth/sso-providers/github.ts
  src/libs/next-auth/sso-providers/google.ts
  src/libs/next-auth/sso-providers/keycloak.ts
  src/libs/next-auth/sso-providers/logto.ts
  src/libs/next-auth/sso-providers/okta.ts
  src/libs/next-auth/sso-providers/zitadel.ts
Due: Libraries Layer

:memo: docs: full align to authjs & db session release
  docs/self-hosting/advanced/auth.mdx
  docs/self-hosting/advanced/auth.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/auth0.mdx
  docs/self-hosting/advanced/auth/next-auth/auth0.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/authelia.mdx
  docs/self-hosting/advanced/auth/next-auth/authelia.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/authentik.mdx
  docs/self-hosting/advanced/auth/next-auth/authentik.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/casdoor.mdx
  docs/self-hosting/advanced/auth/next-auth/casdoor.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/cloudflare-zero-trust.mdx
  docs/self-hosting/advanced/auth/next-auth/cloudflare-zero-trust.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/github.mdx
  docs/self-hosting/advanced/auth/next-auth/github.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/google.mdx
  docs/self-hosting/advanced/auth/next-auth/keycloak.mdx
  docs/self-hosting/advanced/auth/next-auth/keycloak.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/logto.mdx
  docs/self-hosting/advanced/auth/next-auth/logto.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/microsoft-entra-id.mdx
  docs/self-hosting/advanced/auth/next-auth/microsoft-entra-id.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/okta.mdx
  docs/self-hosting/advanced/auth/next-auth/okta.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/wechat.mdx
  docs/self-hosting/advanced/auth/next-auth/wechat.zh-CN.mdx
  docs/self-hosting/advanced/auth/next-auth/zitadel.mdx
  docs/self-hosting/advanced/auth/next-auth/zitadel.zh-CN.mdx
  src/libs/next-auth/auth.config.ts
Due: Libraries Layer

:memo: docs: add db session docs
  docs/self-hosting/advanced/auth.mdx
  docs/self-hosting/advanced/auth.zh-CN.mdx
Due: none

feat: add session group manager
  apps/mobile/locales/zh-CN/chat.json
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/(main)/session/group-config/index.tsx
  apps/mobile/src/app/(main)/session/group-rename/index.tsx
  apps/mobile/src/app/(main)/session/group-select/index.tsx
  apps/mobile/src/components/CapsuleTabs/style.ts
  apps/mobile/src/features/SideBar/components/SessionList/features/AddButton.tsx
  apps/mobile/src/features/SideBar/components/SessionList/features/SessionGroupHeader.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/i18n/default/chat.ts
Due: none

chore: add custom build for development and try
  apps/mobile/.eas/build/development-android.yml
  apps/mobile/.eas/workflows/publish-preview-update.yml
  apps/mobile/eas.json
Due: none

chore: try ios build
  apps/mobile/.eas/build/development-ios.yml
  apps/mobile/eas.json
Due: none

feat: Toast support config and destory with config
  apps/mobile/src/components/Toast/InnerToastProvider.tsx
  apps/mobile/src/components/Toast/demos/static.tsx
  apps/mobile/src/components/Toast/index.md
  apps/mobile/src/components/Toast/index.ts
  apps/mobile/src/components/Toast/staticMethods.tsx
  apps/mobile/src/components/Toast/type.ts
Due: none

feat: support destroy message
  apps/mobile/src/app/(main)/setting/index.tsx
  apps/mobile/src/components/Toast/InnerToastProvider.tsx
  apps/mobile/src/components/Toast/demos/static.tsx
  apps/mobile/src/components/Toast/staticMethods.tsx
Due: none

chore: add preview and android custom build
  apps/mobile/.eas/build/preview-android.yml
  apps/mobile/.eas/build/preview-ios.yml
  apps/mobile/.eas/build/production-android.yml
  apps/mobile/.eas/build/production-ios.yml
  apps/mobile/eas.json
  apps/mobile/pnpm-lock.yaml
Due: none

🔨 chore: add custom build webhook & optimize update (#9955)
  apps/mobile/.eas/build/development-android.yml
  apps/mobile/.eas/build/development-ios.yml
  apps/mobile/.eas/build/preview-android.yml
  apps/mobile/.eas/build/preview-ios.yml
  apps/mobile/.eas/build/production-android.yml
  apps/mobile/.eas/build/production-ios.yml
  apps/mobile/.eas/workflows/publish-preview-update.yml
  apps/mobile/eas.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/(main)/setting/index.tsx
  apps/mobile/src/components/Toast/InnerToastProvider.tsx
  apps/mobile/src/components/Toast/demos/static.tsx
  apps/mobile/src/components/Toast/index.md
  apps/mobile/src/components/Toast/index.ts
  apps/mobile/src/components/Toast/staticMethods.tsx
  apps/mobile/src/components/Toast/type.ts
Due: none

style: update dropdown
  apps/mobile/src/components/Dropdown/Dropdown.tsx
Due: none

style: update dropdown
  apps/mobile/locales/ar/topic.json
  apps/mobile/locales/bg-BG/topic.json
  apps/mobile/locales/de-DE/topic.json
  apps/mobile/locales/en-US/topic.json
  apps/mobile/locales/es-ES/topic.json
  apps/mobile/locales/fa-IR/topic.json
  apps/mobile/locales/fr-FR/topic.json
  apps/mobile/locales/it-IT/topic.json
  apps/mobile/locales/ja-JP/topic.json
  apps/mobile/locales/ko-KR/topic.json
  apps/mobile/locales/nl-NL/topic.json
  apps/mobile/locales/pl-PL/topic.json
  apps/mobile/locales/pt-BR/topic.json
  apps/mobile/locales/ru-RU/topic.json
  apps/mobile/locales/tr-TR/topic.json
  apps/mobile/locales/vi-VN/topic.json
  apps/mobile/locales/zh-CN/topic.json
  apps/mobile/locales/zh-TW/topic.json
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ModelCard.tsx
  apps/mobile/src/i18n/default/topic.ts
Due: none

feat: editor
  src/features/FileManager/components/NoteEditorModal.tsx
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
Due: Services Layer, Server Layer

feat: custom note
  locales/en-US/file.json
  locales/zh-CN/file.json
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
  src/features/FileManager/Header/NewNoteButton.tsx
  src/locales/default/file.ts
  src/server/routers/lambda/document.ts
  src/server/routers/lambda/file.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/services/file/server.ts
  src/store/file/slices/fileManager/action.test.ts
Due: Store Layer, Services Layer, Server Layer

feat: save
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
  src/features/FileManager/Header/NewNoteButton.tsx
  src/features/FileManager/components/NoteEditorModal.tsx
  src/locales/default/file.ts
Due: none

feat: editor
  src/features/FileManager/components/NoteEditorModal.tsx
  src/server/services/document/index.ts
Due: Server Layer

feat: save
  src/features/FileManager/Header/NewNoteButton.tsx
Due: none

feat: New note entry
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/features/FileManager/Header/NewNoteButton.tsx
  src/features/FileManager/Header/index.tsx
  src/locales/default/file.ts
Due: none

feat: New note view
  locales/en-US/file.json
  locales/zh-CN/file.json
  packages/types/src/files/index.ts
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/FileMenu.tsx
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteSplitView.tsx
  src/features/FileManager/index.tsx
  src/locales/default/file.ts
Due: none
