Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix: Root folder
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerData.ts
Due: none

style: update res pagesize
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/app/[variants]/(main)/memory/features/ContextsList.tsx
  src/app/[variants]/(main)/memory/features/MemoryCard.tsx
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/index.tsx
  src/features/ResourceManager/FileExplorer/MoveToFolderModal.tsx
  src/features/ResourceManager/FileExplorer/OPTIMIZATION_SUMMARY.md
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerActions.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerData.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerSelection.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerView.ts
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/FileExplorer/store/index.ts
  src/features/ResourceManager/FileExplorer/store/initialState.ts
  src/features/ResourceManager/FileExplorer/store/selectors.ts
  src/features/ResourceManager/FileExplorer/store/store.ts
  src/features/ResourceManager/FileExplorer/store/types.ts
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
  src/features/ResourceManager/FileTree/index.tsx
  src/locales/default/setting.ts
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/knowledge.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/file/slices/fileManager/action.ts
  src/store/userMemory/slices/base/index.ts
  src/store/userMemory/slices/context/index.ts
Due: Store Layer, Server Layer

fix: fix mobile
  src/app/[variants]/(mobile)/index.tsx
  src/app/[variants]/page.tsx
Due: none

fix: Update library id based on URL
  src/app/[variants]/(main)/resource/(home)/index.tsx
  src/app/[variants]/(main)/resource/library/index.tsx
Due: none

style: update market-auth-callback
  src/app/[variants]/(auth)/market-auth-callback/page.tsx
  src/app/market-auth-callback/layout.tsx
  src/proxy.ts
Due: none

Experience 经验记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  packages/database/src/repositories/userMemory/index.ts
  src/app/[variants]/(main)/memory/features/ContextCard.tsx
  src/app/[variants]/(main)/memory/features/ContextDayGroup.tsx
  src/app/[variants]/(main)/memory/features/ContextTimelineView.tsx
  src/app/[variants]/(main)/memory/features/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/ExperienceDayGroup.tsx
  src/app/[variants]/(main)/memory/features/ExperienceDrawer.tsx
  src/app/[variants]/(main)/memory/features/ExperienceTimelineView.tsx
  src/app/[variants]/(main)/memory/features/ExperiencesList.tsx
  src/app/[variants]/(main)/memory/features/MemoryTabs.tsx
  src/app/[variants]/(main)/memory/features/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/features/PreferenceDayGroup.tsx
  src/app/[variants]/(main)/memory/features/PreferenceTimelineView.tsx
  src/app/[variants]/(main)/memory/features/PreferencesList.tsx
  src/app/[variants]/(main)/memory/features/ViewModeSwitcher.tsx
  src/app/[variants]/(main)/memory/index.tsx
  src/app/[variants]/loaders/routeParams.ts
  src/app/[variants]/router/desktopRouter.config.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/experience/action.ts
Due: Store Layer, Services Layer, Server Layer

refac: Clean up code
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

chore: rm unused loading
  src/app/[variants]/loading/Server/Content.tsx
  src/app/[variants]/loading/Server/Redirect.tsx
  src/app/[variants]/loading/Server/index.tsx
  src/app/[variants]/loading/index.tsx
  src/app/[variants]/loading/stage.ts
Due: none

style: update market-auth-callback
  src/app/[variants]/(auth)/_layout/index.tsx
  src/app/[variants]/(auth)/auth-error/page.tsx
  src/app/[variants]/(auth)/layout.tsx
  src/app/[variants]/(auth)/loading.tsx
  src/app/[variants]/(auth)/signin/page.tsx
  src/app/[variants]/layout.tsx
  src/app/market-auth-callback/layout.tsx
  src/app/market-auth-callback/page.tsx
Due: none

fix: back button
  src/features/ResourceManager/components/Editor/index.tsx
Due: none

fix: fix home market avatar z-index
  src/app/[variants]/(main)/home/features/CommunityAgents/Item.tsx
Due: none

fix: View mode
  src/app/[variants]/(main)/resource/(home)/index.tsx
  src/app/[variants]/(main)/resource/library/index.tsx
Due: none

Experience 经验记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  src/app/[variants]/(main)/memory/features/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/ExperienceDrawer.tsx
  src/locales/default/memory.ts
Due: none

Context 情景记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  packages/database/src/repositories/userMemory/index.ts
  src/app/[variants]/(main)/memory/features/ContextCard.tsx
  src/app/[variants]/(main)/memory/features/ContextDayGroup.tsx
  src/app/[variants]/(main)/memory/features/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/features/ContextTimelineView.tsx
  src/app/[variants]/(main)/memory/features/ContextsList.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/context/action.ts
Due: Store Layer, Services Layer, Server Layer

Preference 偏好记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  packages/database/src/repositories/userMemory/index.ts
  src/app/[variants]/(main)/memory/features/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/features/PreferenceDayGroup.tsx
  src/app/[variants]/(main)/memory/features/PreferenceDrawer.tsx
  src/app/[variants]/(main)/memory/features/PreferenceTimelineView.tsx
  src/app/[variants]/(main)/memory/features/PreferencesList.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer, Services Layer, Server Layer

style: update oidc style
  src/app/[variants]/(auth)/oauth/callback/error/page.tsx
  src/app/[variants]/(auth)/oauth/callback/success/page.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/ClientError.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Consent/BuiltinConsent.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Consent/index.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Login.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/components/OAuthApplicationLogo.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/page.tsx
  src/app/[variants]/oauth/ResultLayout.tsx
  src/app/[variants]/oauth/callback/layout.tsx
  src/app/[variants]/oauth/callback/loading.tsx
  src/app/[variants]/oauth/callback/success/page.tsx
  src/app/[variants]/oauth/consent/[uid]/ClientError.tsx
  src/app/[variants]/oauth/consent/[uid]/Consent/index.tsx
  src/app/[variants]/oauth/consent/[uid]/Login.tsx
  src/app/[variants]/oauth/consent/[uid]/components/OAuthApplicationLogo.tsx
  src/app/market-auth-callback/page.tsx
Due: none

refac: Clean up code
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

🔨 chore(userMemories): improved the results of memory extractor (#10636)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix build
  packages/memory-user-memory/.gitignore
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/utils/path.ts
Due: none

opti: Better dnd performance
  src/features/ResourceManager/components/Explorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/components/Explorer/useFileItemDropdown.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

refac: Clean up code
  src/features/ResourceManager/components/Explorer/EmptyPlaceholder.tsx
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
Due: none

opti: Better D & D performance
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Header/index.tsx
Due: none

refac: Reorgnize folders
  src/features/ResourceManager/components/Explorer/ItemDropdown/DropdownMenu.tsx
  src/features/ResourceManager/components/Explorer/ItemDropdown/useFileItemDropdown.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/ChunkTag.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/Skeleton.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/DefaultFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/ImageFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/MarkdownFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/NoteFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

♻️ refactor(memory-user-memory): better structure, added tests, simplified executor (#10641)
  packages/database/src/models/userMemory.ts
  packages/memory-user-memory/.gitignore
  packages/memory-user-memory/package.json
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/context.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/experience.ts
  packages/memory-user-memory/src/extractors/gatekeeper.test.ts
  packages/memory-user-memory/src/extractors/gatekeeper.ts
  packages/memory-user-memory/src/extractors/identity.test.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
  packages/memory-user-memory/src/extractors/preference.ts
  packages/memory-user-memory/src/providers/chatTopic.test.ts
  packages/memory-user-memory/src/providers/chatTopic.ts
  packages/memory-user-memory/src/providers/existingUserMemory.test.ts
  packages/memory-user-memory/src/providers/existingUserMemory.ts
  packages/memory-user-memory/src/providers/index.ts
  packages/memory-user-memory/src/schemas/gatekeeper.ts
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/memory-user-memory/src/utils/path.ts
  packages/types/src/topic/topic.ts
  packages/types/src/user/settings/general.ts
  packages/types/src/userMemory/identity.ts
  packages/types/src/userMemory/layers.ts
  src/server/services/memory/userMemory/extract.ts
  src/store/userMemory/slices/identity/action.ts
Due: Store Layer, Server Layer

refactor send
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/session/slices/homeInput/action.ts
Due: Store Layer

lint: Remove unused files
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Header/NewNoteButton.tsx
  src/features/ResourceManager/components/PageExplorer/DocumentActions.tsx
  src/features/ResourceManager/components/PageExplorer/DocumentListItem.tsx
  src/features/ResourceManager/components/PageExplorer/RenamePopover.tsx
  src/features/ResourceManager/components/PageExplorer/hooks/usePageEditor.ts
Due: none

support switch input mode
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/store/session/initialState.ts
  src/store/session/slices/homeInput/action.test.ts
  src/store/session/slices/homeInput/action.ts
  src/store/session/slices/homeInput/index.ts
  src/store/session/slices/homeInput/initialState.ts
  src/store/session/store.ts
Due: Store Layer

try to fix build
  packages/memory-user-memory/src/services/extractAgentService.ts
Due: none

style: update memory GroupedVirtuoso
  src/app/[variants]/(main)/discover/components/VirtuosoGridList/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/useScrollParent.ts
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/List.tsx
  src/features/PluginStore/InstalledList/List/index.tsx
  src/features/PluginStore/McpList/List/index.tsx
  src/features/PluginStore/PluginList/List/index.tsx
Due: none

style: update memory card
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/ContextCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/HashTags.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/MasonryCard.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/features/ProgressIcon.tsx
  src/app/[variants]/(main)/memory/features/SourceLink.tsx
  src/app/[variants]/(main)/memory/features/Time.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/MemoryCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
Due: none

feat: Optimize hook
  src/app/[variants]/(main)/resource/features/store/action.ts
  src/app/[variants]/(main)/resource/features/store/initialState.ts
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/BatchActionsDropdown.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/ViewSwitcher.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/index.tsx
  src/features/ResourceManager/components/Explorer/hooks/useFileSelection.ts
  src/features/ResourceManager/components/Explorer/hooks/useViewMode.ts
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

style: update memory
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/ContextCard.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/GridView/index.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/features/SourceLink.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/ViewModeSwitcher.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/MemoryCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/MonthGroup.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
Due: none

Home Repo
  packages/database/src/repositories/home/index.test.ts
  packages/database/src/repositories/home/index.ts
  src/server/routers/lambda/home.ts
  src/server/routers/lambda/index.ts
Due: Server Layer

lint: Clean up codes
  src/features/ResourceManager/index.tsx
Due: none

refactor sidebar using homeStore and agentStore
  packages/database/src/repositories/home/index.test.ts
  packages/database/src/repositories/home/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionGroupMenuItems.tsx
  src/server/routers/lambda/home.ts
  src/services/home/index.ts
  src/store/home/slices/agentList/action.ts
Due: Store Layer, Services Layer, Server Layer

fix delete agent and improve start input action
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/store/home/slices/sidebarUI/action.ts
Due: Store Layer, Services Layer, Server Layer

lint: Clean up coed
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/BatchActionsDropdown.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/MultiSelectActions.tsx
Due: none

style: update memory card
  src/app/[variants]/(main)/memory/contexts/features/List/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/ContextCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/ExperienceDrawer.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/MasonryCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/useCateColor.ts
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/PreferenceDrawer.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/PreferenceCard.tsx
Due: none
