Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

♻️ refactor: i18n formatting optimization
  apps/desktop/resources/locales/en-US/common.json
  locales/en-US/chat.json
  locales/en-US/common.json
  locales/en-US/components.json
  locales/en-US/discover.json
  locales/en-US/file.json
  locales/en-US/home.json
  locales/en-US/knowledgeBase.json
  locales/en-US/metadata.json
  locales/en-US/modelProvider.json
  locales/en-US/oauth.json
  locales/en-US/onboarding.json
  locales/en-US/plugin.json
  locales/en-US/portal.json
  locales/en-US/setting.json
  locales/en-US/welcome.json
  src/locales/create.ts
Due: none

✨ feat(i18n): update welcome and group activity localization strings for improved clarity and consistency
  src/locales/default/welcome.ts
Due: none

🐛 fix(i18n): restore English i18n keys that were incorrectly changed to Japanese characters
  locales/ja-JP/chat.json
  locales/ja-JP/common.json
  locales/ja-JP/discover.json
  locales/ja-JP/error.json
  locales/ja-JP/labs.json
  locales/ja-JP/metadata.json
  locales/ja-JP/models.json
  locales/ja-JP/plugin.json
  locales/ja-JP/providers.json
  locales/ja-JP/setting.json
  locales/ja-JP/tool.json
  locales/ko-KR/auth.json
  locales/ko-KR/chat.json
  locales/ko-KR/common.json
  locales/ko-KR/discover.json
  locales/ko-KR/error.json
  locales/ko-KR/home.json
  locales/ko-KR/hotkey.json
  locales/ko-KR/labs.json
  locales/ko-KR/marketAuth.json
  locales/ko-KR/memory.json
  locales/ko-KR/metadata.json
  locales/ko-KR/models.json
  locales/ko-KR/onboarding.json
  locales/ko-KR/plugin.json
  locales/ko-KR/portal.json
  locales/ko-KR/providers.json
  locales/ko-KR/setting.json
  locales/ko-KR/tool.json
  locales/ko-KR/welcome.json
Due: none

✨ feat(i18n): enhance localization loading logic to improve language handling and streamline imports for default and normalized locales
  src/locales/create.ts
  src/server/translation.ts
Due: Server Layer

✨ chore(i18n): add ESLint directives to welcome localization file for improved code quality
  src/locales/default/welcome.ts
Due: none

🐛 fix: restore default provider to openai for open source version
  packages/business/const/src/llm.ts
Due: none

🔧 chore: increase parse performance test threshold to 60ms
  packages/conversation-flow/src/__tests__/parse.test.ts
Due: none

🐛 fix(i18n): add missing footer translation keys for discover page
  locales/zh-CN/discover.json
  src/locales/default/discover.ts
Due: none

feat: add always show tools render in createPlan & createDoc tools
  packages/builtin-tool-gtd/src/manifest.ts
  packages/builtin-tool-notebook/src/manifest.ts
  src/features/Conversation/Messages/AssistantGroup/Tool/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tools.tsx
Due: none

✨ feat(i18n): restore footer translation keys for discover page
  src/locales/default/discover.ts
Due: none

fix: Restore placeholder
  src/features/PageExplorer/index.tsx
Due: none

fix: Image preview
  src/features/FileViewer/Renderer/Image/StandaloneImageViewer.tsx
  src/features/FileViewer/index.tsx
Due: none

feat: Use our own viewer
  package.json
  src/app/[variants]/(main)/resource/features/modal/FilePreview.tsx
  src/features/FileViewer/NotSupport/index.tsx
  src/features/FileViewer/Renderer/Image/StandaloneImageViewer.tsx
  src/features/FileViewer/Renderer/Image/index.tsx
  src/features/FileViewer/Renderer/JavaScript/index.tsx
  src/features/FileViewer/Renderer/MSDoc/index.tsx
  src/features/FileViewer/Renderer/Markdown/index.tsx
  src/features/FileViewer/Renderer/TXT/index.tsx
  src/features/FileViewer/Renderer/Video/index.tsx
  src/features/FileViewer/Renderer/index.ts
  src/features/FileViewer/hooks/useTextFileLoader.ts
  src/features/FileViewer/index.tsx
Due: none

chore: fix proxy.ts
  src/libs/proxy/define-config.ts
  src/proxy.ts
Due: Libraries Layer

chore: fix proxy.ts (#10938)
  src/libs/proxy/define-config.ts
  src/proxy.ts
Due: Libraries Layer

✨ feat(ci): add bundle analyzer workflow (#10932)
  .github/workflows/bundle-analyzer.yml
Due: none

fix: remove useless config variable
  src/libs/proxy/define-config.ts
Due: Libraries Layer

:bookmark: chore(release): v2.0.0-next.177 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  80/4a6197a99067b3d0ca0c03e926bfba92fcf1a0
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

refactor page agent
  package.json
  packages/builtin-tool-page-agent/package.json
  packages/builtin-tool-page-agent/src/ExecutionRuntime/index.test.ts
  packages/builtin-tool-page-agent/src/ExecutionRuntime/index.ts
  packages/builtin-tool-page-agent/src/Renderer/index.ts
  packages/builtin-tool-page-agent/src/index.ts
  packages/builtin-tool-page-agent/src/manifest.ts
  packages/builtin-tool-page-agent/src/systemRole.ts
  packages/builtin-tool-page-agent/src/types.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/tools/identifiers.ts
  src/tools/index.ts
  src/tools/page-agent/const.ts
  src/tools/page-agent/index.ts
Due: Store Layer

refactor page agent system prompt
  packages/builtin-tool-page-agent/src/ExecutionRuntime/index.ts
  packages/builtin-tool-page-agent/src/systemRole.ts
  packages/prompts/src/agents/__snapshots__/pageContentContext.test.ts.snap
  packages/prompts/src/agents/index.ts
  packages/prompts/src/agents/pageAgent.ts
  packages/prompts/src/agents/pageContentContext.test.ts
  packages/prompts/src/agents/pageContentContext.ts
  packages/utils/package.json
Due: none

feat: add document protral can modify & jump to pages to modify it
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/features/Portal/Document/AutoSaveHint.tsx
  src/features/Portal/Document/Body.tsx
  src/features/Portal/Document/EditorCanvas.tsx
  src/features/Portal/Document/Header.tsx
  src/features/Portal/Document/StoreUpdater.tsx
  src/features/Portal/Document/Title.tsx
  src/features/Portal/Document/store/action.ts
  src/features/Portal/Document/store/initialState.ts
  src/locales/default/file.ts
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
Due: Services Layer, Server Layer

♻️ refactor: rename browser identifier from 'chat' to 'app'
  apps/desktop/src/main/appBrowsers.ts
  apps/desktop/src/main/controllers/McpInstallCtr.ts
  apps/desktop/src/main/controllers/__tests__/McpInstallCtr.test.ts
  apps/desktop/src/main/core/browser/BrowserManager.ts
  apps/desktop/src/main/core/browser/__tests__/BrowserManager.test.ts
Due: none

♻️ refactor: rename browser identifier from 'chat' to 'app' (#10940)
  apps/desktop/src/main/appBrowsers.ts
  apps/desktop/src/main/controllers/McpInstallCtr.ts
  apps/desktop/src/main/controllers/__tests__/McpInstallCtr.test.ts
  apps/desktop/src/main/core/browser/BrowserManager.ts
  apps/desktop/src/main/core/browser/__tests__/BrowserManager.test.ts
Due: none

✨ feat(desktop): macOS About menu should navigate to Settings About tab
  apps/desktop/src/main/menus/impls/macOS.ts
Due: none

feat: add a warpper into portal render
  src/app/[variants]/(main)/chat/features/Portal/_layout/Desktop.tsx
  src/app/[variants]/(main)/chat/features/Portal/_layout/Mobile.tsx
  src/app/[variants]/(main)/chat/features/Portal/features/PortalPanel.tsx
  src/app/[variants]/(main)/group/features/Portal/_layout/Desktop.tsx
  src/app/[variants]/(main)/group/features/Portal/_layout/Mobile.tsx
  src/app/[variants]/(main)/group/features/Portal/features/PortalPanel.tsx
  src/features/Portal/Document/Body.tsx
  src/features/Portal/Document/Header.tsx
  src/features/Portal/Document/Wrapper.tsx
  src/features/Portal/Document/index.ts
  src/features/Portal/router.tsx
  src/features/Portal/type.ts
  src/locales/default/file.ts
Due: none

✨ feat(desktop): macOS About menu should navigate to Settings About tab (#10942)
  apps/desktop/src/main/menus/impls/macOS.ts
Due: none

✨ feat: add always show tools render in createPlan & createDoc tools (#10937)
  locales/zh-CN/file.json
  packages/builtin-tool-gtd/src/manifest.ts
  packages/builtin-tool-notebook/src/manifest.ts
  src/app/[variants]/(main)/chat/features/Portal/_layout/Desktop.tsx
  src/app/[variants]/(main)/chat/features/Portal/_layout/Mobile.tsx
  src/app/[variants]/(main)/chat/features/Portal/features/PortalPanel.tsx
  src/app/[variants]/(main)/group/features/Portal/_layout/Desktop.tsx
  src/app/[variants]/(main)/group/features/Portal/_layout/Mobile.tsx
  src/app/[variants]/(main)/group/features/Portal/features/PortalPanel.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tools.tsx
  src/features/Portal/Document/AutoSaveHint.tsx
  src/features/Portal/Document/Body.tsx
  src/features/Portal/Document/EditorCanvas.tsx
  src/features/Portal/Document/Header.tsx
  src/features/Portal/Document/StoreUpdater.tsx
  src/features/Portal/Document/Title.tsx
  src/features/Portal/Document/Wrapper.tsx
  src/features/Portal/Document/index.ts
  src/features/Portal/Document/store/action.ts
  src/features/Portal/Document/store/initialState.ts
  src/features/Portal/router.tsx
  src/features/Portal/type.ts
  src/locales/default/file.ts
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
Due: Services Layer, Server Layer

fix: add lost portal locals files
  locales/zh-CN/portal.json
  src/features/Portal/Document/Header.tsx
  src/locales/default/portal.ts
Due: none

🐛 fix add lost portal locals files (#10943)
  locales/zh-CN/portal.json
  src/features/Portal/Document/Header.tsx
  src/locales/default/portal.ts
Due: none

fix: maxDuration must use literal
  packages/business/config/src/server/route.ts
  src/app/(backend)/trpc/async/[trpc]/route.ts
  src/app/(backend)/trpc/tools/[trpc]/route.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/plugin/gateway/route.ts
Due: none

🐛 fix(ci): skip backend routes in bundle analyzer build
  .github/workflows/bundle-analyzer.yml
  scripts/prebuild.mts
Due: none

🐛 fix(ci): skip backend routes in bundle analyzer build (#10944)
  .github/workflows/bundle-analyzer.yml
  scripts/prebuild.mts
Due: none
