Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

🔨 feat(google): 添加 gemini-2.5-flash-image-preview 模型到模型集合中，更新思考配置逻辑
  packages/model-runtime/src/google/index.ts
Due: none

🔨 feat(qwen): 调整 textInput_cacheRead 定价策略，优化定价计算
  packages/model-bank/src/aiModels/qwen.ts
Due: none

去除重复
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/aiModels/vertexai.ts
Due: none

🔨 feat(vertexai): 添加 Gemini 2.5 Flash 实验模型，支持图像生成
  packages/model-bank/src/aiModels/vertexai.ts
Due: none

pull main
  packages/model-runtime/src/utils/streams/google-ai.ts
Due: none

🔨 feat(aihubmix): 添加 Grok 4 模型，增强自然语言处理和推理能力
  packages/model-bank/src/aiModels/aihubmix.ts
Due: none

♻️ fix: avoid duplicate 'stop' chunk in Google AI stream; handle missing usage metadata
  packages/model-bank/src/aiModels/openrouter.ts
  packages/model-runtime/src/utils/streams/google-ai.ts
Due: none

♻️ fix: update snapshot
  packages/model-runtime/src/novita/__snapshots__/index.test.ts.snap
Due: none

update novita
  packages/model-bank/src/aiModels/novita.ts
Due: none

Delete src/config/aiModels/nebius.ts
  src/config/aiModels/nebius.ts
Due: none

Delete src/config/aiModels/index.ts
  src/config/aiModels/index.ts
Due: none

Delete src/config/aiModels/openrouter.ts
  src/config/aiModels/openrouter.ts
Due: none

add change
  packages/model-bank/src/aiModels/index.ts
  packages/model-bank/src/aiModels/nebius.ts
  packages/model-bank/src/aiModels/openrouter.ts
Due: none

💄 style: update i18n
  locales/ar/models.json
  locales/bg-BG/models.json
  locales/de-DE/models.json
  locales/en-US/models.json
  locales/es-ES/models.json
  locales/fa-IR/models.json
  locales/fr-FR/models.json
  locales/it-IT/models.json
  locales/ja-JP/models.json
  locales/ko-KR/models.json
  locales/nl-NL/models.json
  locales/pl-PL/models.json
  locales/pt-BR/models.json
  locales/ru-RU/models.json
  locales/tr-TR/models.json
  locales/vi-VN/models.json
  locales/zh-CN/models.json
  locales/zh-TW/models.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

Update xai.ts
  packages/model-bank/src/aiModels/xai.ts
Due: none

Update modelParse.ts
  packages/model-runtime/src/utils/modelParse.ts
Due: none

fix: update snapshot
  packages/model-runtime/src/novita/__snapshots__/index.test.ts.snap
Due: none

添加 nebius 模型的导出路径
  packages/model-bank/package.json
Due: none

✨ feat: support Vercel AI Gateway provider
  .env.example
  Dockerfile
  Dockerfile.database
  Dockerfile.pglite
  docs/self-hosting/environment-variables/model-provider.mdx
  docs/self-hosting/environment-variables/model-provider.zh-CN.mdx
  docs/usage/providers/vercel-ai-gateway.mdx
  docs/usage/providers/vercel-ai-gateway.zh-CN.mdx
  packages/model-bank/src/aiModels/index.ts
  packages/model-bank/src/aiModels/vercelaigateway.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/model-runtime/src/types/type.ts
  packages/model-runtime/src/vercelaigateway/index.ts
  packages/types/src/user/settings/keyVaults.ts
  src/config/llm.ts
  src/config/modelProviders/index.ts
  src/config/modelProviders/vercelaigateway.ts
Due: none

feat: 统一 files trpc message 为 enum
  packages/types/src/files/index.ts
  src/server/services/file/__tests__/index.test.ts
  src/server/services/file/index.ts
Due: Server Layer

fix: 修复单元测试失败的问题
  packages/types/src/files/index.ts
  src/server/services/file/__tests__/index.test.ts
Due: Server Layer

♻️ refactor: move types to separate package (#8635)
  packages/types/package.json
  packages/types/src/locale.ts
  packages/types/src/next.ts
  packages/types/src/share.ts
  vitest.config.mts
Due: none

Revert "fix: when s3 files not exist , global files should delete" (#8661)
  packages/types/src/files/index.ts
  src/server/services/file/__tests__/index.test.ts
  src/server/services/file/index.ts
Due: Server Layer

:construction: wip:
  packages/model-runtime/src/utils/streams/protocol.ts
  packages/types/src/message/base.ts
  src/libs/trpc/lambda/context.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/services/usage/client.ts
  src/services/usage/index.ts
  src/services/usage/server.ts
  src/services/usage/type.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/types/usage/index.ts
  src/types/usage/requestLog.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

:recycle: refactor: use inner fetcher
  packages/model-runtime/src/types/chat.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/[provider]/util.ts
  src/app/(backend)/webapi/usage/route.ts
  src/server/modules/ModelRuntime/usage.ts
  src/server/services/usage/index.ts
Due: Server Layer

:construction: wip:
  packages/database/src/models/usage.ts
  packages/database/src/schemas/usage.ts
  packages/database/src/utils/idGenerator.ts
  src/server/routers/lambda/usage.ts
  src/types/usage/requestLog.ts
Due: Server Layer

:construction: wip
  packages/database/src/core/dbForEdge.ts
  packages/model-runtime/src/utils/streams/protocol.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/server/modules/ModelRuntime/index.ts
  src/server/modules/ModelRuntime/usage.ts
  src/services/usage/server.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/types/usage/requestLog.ts
Due: Store Layer, Services Layer, Server Layer

:bug: fix: add key
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

:bug: fix: data mapping
  src/app/(backend)/webapi/usage/route.ts
  src/server/modules/ModelRuntime/usage.ts
  src/server/services/usage/index.ts
Due: Server Layer

:recycle: refactor: use stack
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

:rewind: revert: revert change
  packages/database/src/core/dbForEdge.ts
  src/libs/trpc/lambda/context.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/services/usage/client.ts
  src/services/usage/index.ts
  src/services/usage/server.ts
  src/services/usage/type.ts
Due: Services Layer, Server Layer, Libraries Layer

:recycle: refactor: change layout
  packages/database/src/models/usage.ts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
Due: none

wip:
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
  src/app/[variants]/(main)/profile/usage/features/components/UsageBarChart.tsx
Due: none

:lip_stick: style: add cate charts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

:recycle: refactor: move types
  packages/database/src/models/usage.ts
  packages/types/src/usage/index.ts
  packages/types/src/usage/requestLog.ts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
  src/types/usage/index.ts
  src/types/usage/requestLog.ts
Due: none

:recycle: refactor: cascade changes from model-runtime
  packages/model-runtime/src/types/chat.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/[provider]/util.ts
Due: none

:lipstick: style: add trends
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
Due: none

:lipstick: style: change charts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
