Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

✨ feat(database): added queryIdentityRoles model for user memory (#10720)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

style: Optimzie folder style in masonry
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/DefaultFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
Due: none

style: update discover avatar
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/Capabilities/KnowledgeItem.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/Capabilities/PluginItem.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/Related/Item.tsx
  src/app/[variants]/(main)/discover/(detail)/features/ShareButton.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/features/Sidebar/Related/Item.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/features/List/Item.tsx
  src/app/[variants]/(main)/discover/components/GitHubAvatar.tsx
Due: none

🐛 fix(memory-user-memory): yet again encountered the openai structured format issue for required objects (#10722)
  packages/memory-user-memory/src/schemas/identity.ts
Due: none

style: update memory cloud tag
  package.json
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
Due: none

style: update memory cloud tag
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/home/action.ts
Due: Store Layer

fix build
  src/components/NextAuth/AuthIcons.tsx
Due: none

🐛 fix(memory-user-memory): exports caused the deps module (#10719)
  packages/memory-user-memory/package.json
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/tools/memory/index.ts
Due: Store Layer, Services Layer

style: Keep query while navigating
  src/features/ResourceManager/components/Explorer/Header/Breadcrumb.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
Due: none

feat: Select agent
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/locales/default/file.ts
  src/store/agent/slices/agent/action.ts
Due: Store Layer

fix topic in recent
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/topic.ts
  src/server/routers/lambda/_helpers/resolveContext.test.ts
  src/server/routers/lambda/_helpers/resolveContext.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

🐛 fix(database,memory-user-memory): mismatched types & incorrect type for identity (#10717)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/database/src/schemas/userMemories.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/context.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/experience.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
  packages/memory-user-memory/src/extractors/preference.ts
  packages/memory-user-memory/src/index.ts
  packages/memory-user-memory/src/prompts/layers/context.md
  packages/memory-user-memory/src/schemas/common.ts
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/schemas/experience.ts
  packages/memory-user-memory/src/schemas/identity.ts
  packages/memory-user-memory/src/schemas/preference.ts
  packages/types/src/userMemory/layers.ts
  packages/types/src/userMemory/tools.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemories/tools.ts
  src/server/services/memory/userMemory/extract.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/tools/memory/index.ts
Due: Store Layer, Services Layer, Server Layer

fix tool calling issues in server runtime
  packages/agent-runtime/src/core/__tests__/runtime.test.ts
  packages/agent-runtime/src/core/runtime.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer

🐛 fix(database,userMemories): cursor paginated topic iteration will cause infinite loop for memory extraction task (#10732)
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/topic.ts
Due: none

feat: Add search
  src/features/PageEditor/Copilot/Conversation.tsx
Due: none

fix: Filter out message with role=tool
  packages/database/src/repositories/search/index.test.ts
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/README.md
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

support execAgents
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

feat: Block files
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/features/ResourceManager/components/Header/hooks/useUploadFolder.ts
  src/locales/default/file.ts
  src/utils/gitignore.test.ts
  src/utils/gitignore.ts
Due: Utils Layer

fix: Title not saving
  src/app/[variants]/(main)/page/_layout/Body/List/Item/index.tsx
  src/features/PageEditor/store/action.ts
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Editor/index.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

🐛 fix(memory-user-memory): not correctly defining schema (#10724)
  packages/database/src/models/userMemory/model.ts
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/schemas/experience.ts
  packages/memory-user-memory/src/schemas/identity.ts
  packages/memory-user-memory/src/schemas/preference.ts
  packages/memory-user-memory/src/utils/zod.ts
  packages/types/src/userMemory/layers.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemories/tools.ts
Due: Server Layer

⚡️ perf(memory-user-memory): now layer runner will run conrrently (#10725)
  packages/memory-user-memory/src/services/extractExecutor.ts
Due: none

move action
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/index.ts
  src/store/chat/store.ts
Due: Store Layer

clean the ttl
  src/server/modules/AgentRuntime/AgentStateManager.ts
  src/server/modules/AgentRuntime/InMemoryAgentStateManager.ts
  src/server/modules/AgentRuntime/StreamEventManager.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer

try unlimited tasks
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

improve operationId
  src/server/routers/lambda/aiAgent.ts
  src/server/services/aiAgent/index.ts
Due: Server Layer

[DB Repository] 创建 AgentGroup repository 添加 findByIdWithAgents 方法
  packages/database/src/repositories/agentGroup/index.test.ts
  packages/database/src/repositories/agentGroup/index.ts
  packages/types/src/agentGroup/index.ts
  packages/types/src/index.ts
Due: none

feat: Active zone for entire folder
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
Due: none

opti: Better DND performance
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

opti: Better DND performance
  DND_SYSTEM_ARCHITECTURE.md
  package.json
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
  src/hooks/useHotkeys/globalScope.ts
Due: none

fix: ignore function scoping for SearchResults component
  src/features/CommandMenu/SearchResults.tsx
Due: none

refactor types
  packages/types/src/conversation.ts
  packages/types/src/session/agentSession.ts
  packages/types/src/topic/topic.ts
Due: none

refactor agent profile
  src/app/[variants]/(main)/chat/profile/features/AgentSettings/Content.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/AgentBuilder/AgentBuilderProvider.tsx
  src/features/AgentBuilder/AgentBuilderWelcome.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/AgentBuilder/index.tsx
Due: none

✅ test(hooks): add tests for useFetchTopics hook
  src/hooks/useFetchTopics.test.ts
Due: none

style: update discover
  package.json
  src/app/[variants]/(main)/discover/(detail)/_layout/Header.tsx
  src/app/[variants]/(main)/discover/(detail)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/index.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/index.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/Header.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/Nav.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/useScroll.ts
  src/app/[variants]/(main)/discover/_layout/Sidebar/Header/Nav.tsx
  src/app/[variants]/(main)/discover/_layout/Sidebar/Header/index.tsx
  src/app/[variants]/(main)/discover/_layout/Sidebar/index.tsx
  src/app/[variants]/(main)/discover/_layout/index.tsx
  src/app/[variants]/(main)/discover/components/CategoryContainer.tsx
  src/app/[variants]/(main)/discover/features/Search.tsx
  src/app/[variants]/(main)/memory/_layout/Sidebar/Header/Nav.tsx
  src/features/WideScreenContainer/index.tsx
Due: none

lint: Remove unused files
  DND_SYSTEM_ARCHITECTURE.md
Due: none

feat: Update CMDK icons
  src/features/CommandMenu/MainMenu.tsx
  src/locales/default/common.ts
Due: none

fix market build
  src/server/routers/lambda/market/index.ts
Due: Server Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
