Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

style: fix hero
  src/app/[variants]/(main)/home/features/WelcomeText/index.tsx
Due: none

style: update sytle
  package.json
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/InboxItem.tsx
Due: none

feat: add current memory settings selector to user settings
  src/store/user/slices/settings/selectors/settings.ts
Due: Store Layer

♻️ refactor: use updateDefaultAgent instead of updateDefaultModel in settings
  src/app/[variants]/(main)/settings/agent/features/DefaultAgentForm.tsx
Due: none

style(): add deepseek-math-v2 model for qiniu provider
  packages/model-bank/src/aiModels/qiniu.ts
Due: none

feat: add agent group builder
  packages/builtin-agents/package.json
  packages/builtin-agents/src/agents/group-agent-builder/index.ts
  packages/builtin-agents/src/agents/group-agent-builder/systemRole.ts
  packages/builtin-agents/src/index.ts
  packages/builtin-agents/src/types.ts
  packages/builtin-tool-group-agent-builder/package.json
  packages/builtin-tool-group-agent-builder/src/ExecutionRuntime/index.ts
  packages/builtin-tool-group-agent-builder/src/index.ts
  packages/builtin-tool-group-agent-builder/src/manifest.ts
  packages/builtin-tool-group-agent-builder/src/systemRole.ts
  packages/builtin-tool-group-agent-builder/src/types.ts
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  packages/context-engine/src/engine/messages/types.ts
  packages/context-engine/src/providers/GroupAgentBuilderContextInjector.ts
  packages/context-engine/src/providers/index.ts
  packages/types/src/conversation.ts
  src/app/[variants]/(main)/chat/profile/features/ProfileHydration.tsx
  src/app/[variants]/(main)/group/profile/features/AgentBuilder/AgentBuilderProvider.tsx
  src/app/[variants]/(main)/group/profile/features/AgentBuilder/TopicSelector.tsx
  src/app/[variants]/(main)/group/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/group/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/AgentHeader.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileHydration.tsx
  src/features/AgentBuilder/index.tsx
  src/locales/default/plugin.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/agent/selectors/builtinAgentSelectors.ts
  src/store/agentGroup/initialState.ts
  src/store/agentGroup/slices/curd.ts
  src/store/chat/slices/builtinTool/actions/groupAgentBuilder.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/operation/types.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/topic/selectors.ts
  src/tools/executionRuntimes.ts
  src/tools/identifiers.ts
  src/tools/index.ts
Due: Store Layer, Services Layer

style(): add deepseek-math-v2 for Qiniu provider
  packages/model-bank/src/aiModels/qiniu.ts
Due: none

refactor: streamline protocol handling and MIME type management
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/core/infrastructure/BackendProxyProtocolManager.ts
  apps/desktop/src/main/core/infrastructure/RendererProtocolManager.ts
  apps/desktop/src/main/core/infrastructure/StaticFileServerManager.ts
  apps/desktop/src/main/core/infrastructure/__tests__/BackendProxyProtocolManager.test.ts
  apps/desktop/src/main/core/infrastructure/__tests__/RendererProtocolManager.test.ts
  apps/desktop/src/main/utils/mime.ts
Due: none

fix: add group agent builder dependency to package.json
  package.json
Due: none

fix step context
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

feat: update unoptimized prop to use isDesktop for responsive behavior in Common component resolves LOBE-2031
  src/app/[variants]/(main)/settings/common/features/Common/Common.tsx
Due: none

feat: add mcp tools auth aleart
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/ToolAuthAlert.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/ToolAuthAlert.tsx
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/index.tsx
  src/locales/default/chat.ts
Due: none

fix: enhance fetch mock type definition and ensure init object is defined in BackendProxyProtocolManager tests
  apps/desktop/src/main/core/infrastructure/__tests__/BackendProxyProtocolManager.test.ts
Due: none

✨ feat: add mcp tools auth aleart (#10824)
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/ToolAuthAlert.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/ToolAuthAlert.tsx
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/index.tsx
  src/locales/default/chat.ts
Due: none

chore: update i18n
  locales/ar/chat.json
  locales/ar/plugin.json
  locales/bg-BG/chat.json
  locales/bg-BG/plugin.json
  locales/de-DE/chat.json
  locales/de-DE/plugin.json
  locales/en-US/plugin.json
  locales/es-ES/chat.json
  locales/es-ES/plugin.json
  locales/fa-IR/chat.json
  locales/fa-IR/plugin.json
  locales/fr-FR/chat.json
  locales/fr-FR/plugin.json
  locales/it-IT/chat.json
  locales/it-IT/plugin.json
  locales/ja-JP/chat.json
  locales/ja-JP/plugin.json
  locales/ko-KR/chat.json
  locales/ko-KR/plugin.json
  locales/nl-NL/chat.json
  locales/nl-NL/plugin.json
  locales/pl-PL/chat.json
  locales/pl-PL/plugin.json
  locales/pt-BR/chat.json
  locales/pt-BR/plugin.json
  locales/ru-RU/chat.json
  locales/ru-RU/plugin.json
  locales/tr-TR/chat.json
  locales/tr-TR/plugin.json
  locales/vi-VN/chat.json
  locales/vi-VN/plugin.json
  locales/zh-CN/plugin.json
  locales/zh-TW/chat.json
  locales/zh-TW/plugin.json
Due: none

🔨 chore: updatei18n (#10826)
  locales/ar/chat.json
  locales/ar/plugin.json
  locales/bg-BG/chat.json
  locales/bg-BG/plugin.json
  locales/de-DE/chat.json
  locales/de-DE/plugin.json
  locales/en-US/plugin.json
  locales/es-ES/chat.json
  locales/es-ES/plugin.json
  locales/fa-IR/chat.json
  locales/fa-IR/plugin.json
  locales/fr-FR/chat.json
  locales/fr-FR/plugin.json
  locales/it-IT/chat.json
  locales/it-IT/plugin.json
  locales/ja-JP/chat.json
  locales/ja-JP/plugin.json
  locales/ko-KR/chat.json
  locales/ko-KR/plugin.json
  locales/nl-NL/chat.json
  locales/nl-NL/plugin.json
  locales/pl-PL/chat.json
  locales/pl-PL/plugin.json
  locales/pt-BR/chat.json
  locales/pt-BR/plugin.json
  locales/ru-RU/chat.json
  locales/ru-RU/plugin.json
  locales/tr-TR/chat.json
  locales/tr-TR/plugin.json
  locales/vi-VN/chat.json
  locales/vi-VN/plugin.json
  locales/zh-CN/plugin.json
  locales/zh-TW/chat.json
  locales/zh-TW/plugin.json
Due: none

perf: optimize onboarding next/previous speed
  src/app/[variants]/onboarding/features/FullNameStep.tsx
  src/app/[variants]/onboarding/features/ModeSelectionStep.tsx
  src/app/[variants]/onboarding/features/ProSettingsStep.tsx
  src/app/[variants]/onboarding/features/ResponseLanguageStep.tsx
  src/app/[variants]/onboarding/features/TelemetryStep.tsx
  src/store/user/slices/onboarding/action.ts
  src/store/user/slices/onboarding/initialState.ts
  src/store/user/slices/onboarding/selectors.ts
Due: Store Layer

✨ feat: add occupation step to onboarding process
  locales/en-US/onboarding.json
  locales/zh-CN/onboarding.json
  src/app/[variants]/onboarding/features/OccupationStep.tsx
  src/app/[variants]/onboarding/index.tsx
  src/locales/default/onboarding.ts
Due: none

fix: SHow date in search result
  src/features/CommandMenu/SearchResults.tsx
Due: none

chore: delete AgentSetting Modal in Agent Profiles setting page
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/group/profile/features/AgentSettings/Content.tsx
  src/app/[variants]/(main)/group/profile/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/index.tsx
Due: none

🔨 chore: delete AgentSetting Modal in Agent Profiles setting page (#10827)
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/group/profile/features/AgentSettings/Content.tsx
  src/app/[variants]/(main)/group/profile/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/index.tsx
Due: none

style: updat onboarding
  src/app/[variants]/onboarding/components/KlavisServerList/components/KlavisServerItem.tsx
  src/app/[variants]/onboarding/components/KlavisServerList/components/ServerIcon.tsx
  src/app/[variants]/onboarding/components/KlavisServerList/components/ServerStatusControl.tsx
  src/app/[variants]/onboarding/components/KlavisServerList/hooks/useKlavisOAuth.ts
  src/app/[variants]/onboarding/components/KlavisServerList/hooks/useKlavisServerActions.ts
  src/app/[variants]/onboarding/components/KlavisServerList/index.tsx
  src/app/[variants]/onboarding/features/KlavisServerList.tsx
  src/app/[variants]/onboarding/features/ProSettingsStep.tsx
  src/locales/default/onboarding.ts
Due: none

fix: Add missing translation
  src/features/CommandMenu/ContextCommands.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/utils/contextCommands.ts
Due: none

feat: fixed the assitant dicover tools tab show tools
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/GroupAgentBuilderContextInjector.ts
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/Capabilities/PluginItem.tsx
  src/server/routers/lambda/klavis.ts
  src/server/services/discover/index.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/tool/slices/builtin/selectors.ts
  src/store/tool/slices/klavisStore/selectors.ts
Due: Store Layer, Services Layer, Server Layer

🐛 fix: update the discover detail tools tab show (#10828)
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/GroupAgentBuilderContextInjector.ts
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/Capabilities/PluginItem.tsx
  src/server/routers/lambda/klavis.ts
  src/server/services/discover/index.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/tool/slices/builtin/selectors.ts
  src/store/tool/slices/klavisStore/selectors.ts
Due: Store Layer, Services Layer, Server Layer

chore: update i18n
  locales/ar/onboarding.json
  locales/bg-BG/onboarding.json
  locales/de-DE/onboarding.json
  locales/en-US/onboarding.json
  locales/es-ES/onboarding.json
  locales/fa-IR/onboarding.json
  locales/fr-FR/onboarding.json
  locales/it-IT/onboarding.json
  locales/ja-JP/onboarding.json
  locales/ko-KR/onboarding.json
  locales/nl-NL/onboarding.json
  locales/pl-PL/onboarding.json
  locales/pt-BR/onboarding.json
  locales/ru-RU/onboarding.json
  locales/tr-TR/onboarding.json
  locales/vi-VN/onboarding.json
  locales/zh-CN/onboarding.json
  locales/zh-TW/onboarding.json
Due: none

fix: add desktop oidc signout
  src/features/DesktopOnboarding/storage.ts
  src/features/User/UserPanel/PanelContent.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

feat: open agent in newWinodws add
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/List/Item/Actions.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/List/Item/index.tsx
  src/store/global/actions/general.ts
Due: Store Layer

🐛 fix: open agent in newWinodws add (#10829)
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/List/Item/Actions.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/List/Item/index.tsx
  src/store/global/actions/general.ts
Due: Store Layer

style: update onboarding
  locales/ar/onboarding.json
  locales/bg-BG/onboarding.json
  locales/de-DE/onboarding.json
  locales/en-US/onboarding.json
  locales/es-ES/onboarding.json
  locales/fa-IR/onboarding.json
  locales/fr-FR/onboarding.json
  locales/it-IT/onboarding.json
  locales/ja-JP/onboarding.json
  locales/ko-KR/onboarding.json
  locales/nl-NL/onboarding.json
  locales/pl-PL/onboarding.json
  locales/pt-BR/onboarding.json
  locales/ru-RU/onboarding.json
  locales/tr-TR/onboarding.json
  locales/vi-VN/onboarding.json
  locales/zh-CN/onboarding.json
  locales/zh-TW/onboarding.json
  src/app/[variants]/onboarding/features/FullNameStep.tsx
  src/app/[variants]/onboarding/features/OccupationStep.tsx
  src/app/[variants]/onboarding/features/ResponseLanguageStep.tsx
  src/app/[variants]/onboarding/features/TelemetryStep.tsx
  src/locales/default/onboarding.ts
Due: none

refactor: streamline onboarding check in StoreInitialization
  src/layout/GlobalProvider/StoreInitialization.tsx
  src/store/user/slices/onboarding/selectors.ts
Due: Store Layer

fix: onboarding flicker
  src/app/[variants]/onboarding/features/FullNameStep.tsx
  src/app/[variants]/onboarding/features/ModeSelectionStep.tsx
  src/app/[variants]/onboarding/features/OccupationStep.tsx
  src/app/[variants]/onboarding/features/ProSettingsStep.tsx
  src/app/[variants]/onboarding/features/ResponseLanguageStep.tsx
  src/app/[variants]/onboarding/features/TelemetryStep.tsx
  src/store/user/slices/onboarding/action.ts
  src/store/user/slices/onboarding/selectors.ts
Due: Store Layer

fix: toggle mcp plugin should only change inbox agent plugins
  src/app/[variants]/onboarding/components/KlavisServerList/hooks/useKlavisServerActions.ts
  src/store/user/slices/onboarding/action.ts
Due: Store Layer

fix(userMemories,database): not correctly updating capturedAt
  packages/database/src/models/userMemory/model.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

✨ feat: support Ctrl/Cmd+click to open provider settings in new tab
  src/features/ModelSwitchPanel/index.tsx
Due: none

refactor gto context
  packages/builtin-tool-gtd/package.json
  packages/builtin-tool-gtd/src/client/Intervention/ClearTodos.tsx
  packages/builtin-tool-gtd/src/executor/index.test.ts
  packages/builtin-tool-gtd/src/executor/index.ts
  packages/prompts/src/prompts/gtd/index.test.ts
  packages/prompts/src/prompts/gtd/index.ts
  packages/prompts/src/prompts/index.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

update default open info
  packages/builtin-tool-gtd/src/manifest.ts
  packages/builtin-tool-gtd/src/systemRole.ts
  packages/types/src/tool/builtin.ts
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/index.tsx
  src/store/tool/selectors/tool.ts
Due: Store Layer
