Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

Update src/server/routers/lambda/topic.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

✨ refactor: 优化插件信息获取逻辑，减少循环嵌套，提高性能
  src/server/routers/lambda/topic.ts
Due: Server Layer

feat(models): 添加 DeepSeek V3.2 聊天模型以增强功能
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

Update packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/aiModels/google.ts
Due: none

✨ refactor: streamline extendParams handling in OpenRouter and VercelAIGateway providers
  packages/model-runtime/src/providers/openrouter/index.ts
  packages/model-runtime/src/providers/vercelaigateway/index.ts
  src/locales/default/chat.ts
Due: none

feat(models): 添加 Kimi K2 Thinking 聊天模型以增强功能
  packages/model-bank/src/aiModels/volcengine.ts
Due: none

💄 style: implement smooth scroll to top functionality in Nav and Title components
  src/app/[variants]/(main)/discover/(list)/_layout/Mobile/Nav.tsx
  src/app/[variants]/(main)/discover/components/Title.tsx
Due: none

fix: update link handling in Title component for improved navigation
  src/app/[variants]/(main)/discover/components/Title.tsx
Due: none

feat: add topic more
  locales/zh-CN/topic.json
  package.json
  packages/database/src/models/topic.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/Actions.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/AllTopicsDrawer/Content.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/AllTopicsDrawer/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/ByTimeMode/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/FlatMode/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/app/[variants]/(main)/layouts/DesktopLayoutContainer.tsx
  src/features/NavPanel/SideBarDrawer.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
  src/features/NavPanel/index.tsx
  src/features/ResourceManager/FileExplorer/Header/Breadcrumb.tsx
  src/features/ResourceManager/FileExplorer/ListView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/PreviewMode/index.tsx
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
  src/hooks/useFetchTopics.ts
  src/locales/default/topic.ts
  src/server/routers/lambda/topic.ts
  src/services/topic/index.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/initialState.ts
  src/store/chat/slices/topic/selectors.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer, Services Layer, Server Layer

fix: enhance pagination scrolling behavior for mobile responsiveness
  src/app/[variants]/(main)/discover/(list)/features/Pagination.tsx
Due: none

feat: add agent more
  locales/zh-CN/common.json
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/AllTopicsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/useDropdownMenu.tsx
  src/locales/default/common.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
  src/store/session/slices/session/action.ts
  src/store/session/slices/session/initialState.ts
  src/store/session/slices/session/selectors/list.ts
Due: Store Layer

style: Turn changelog to a modal
  src/app/[variants]/(main)/(mobile)/me/(home)/__tests__/useCategory.test.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/features/Category.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/features/useCategory.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/index.tsx
  src/app/[variants]/(main)/changelog/_layout/Desktop/Container.tsx
  src/app/[variants]/(main)/changelog/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/changelog/_layout/Mobile/Header.tsx
  src/app/[variants]/(main)/changelog/_layout/Mobile/index.tsx
  src/app/[variants]/(main)/changelog/error.tsx
  src/app/[variants]/(main)/changelog/features/GridLayout.tsx
  src/app/[variants]/(main)/changelog/features/Hero.tsx
  src/app/[variants]/(main)/changelog/features/Pagination.tsx
  src/app/[variants]/(main)/changelog/features/Post.tsx
  src/app/[variants]/(main)/changelog/features/PublishedTime.tsx
  src/app/[variants]/(main)/changelog/features/UpdateChangelogStatus.tsx
  src/app/[variants]/(main)/changelog/index.tsx
  src/app/[variants]/(main)/changelog/loading.tsx
  src/app/[variants]/(main)/changelog/not-found.tsx
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/app/[variants]/(main)/resource/store/action.ts
  src/app/[variants]/(main)/resource/store/initialState.ts
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/VersionTag.tsx
  src/components/ChangelogModal/index.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

chore: add source type into user_install_plugins
  docs/development/database-schema.dbml
  packages/database/migrations/0058_add_source_into_plugins_installed.sql
  packages/database/migrations/meta/0058_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/user.ts
Due: none

⚡️ perf: optimize better-auth bundle size
  src/auth.ts
Due: none

feat: add agent more
  src/features/NavPanel/SideBarLayout.tsx
  src/features/NavPanel/components/SkeletonList.tsx
Due: none

⚡️ perf: enable database joins for better-auth query optimization
  src/auth.ts
Due: none

style: clean add button
  src/app/[variants]/(main)/home/_layout/Body/Agent/ModalProvider.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/index.tsx
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/app/[variants]/(main)/home/_layout/SidebarContent.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
Due: none

feat: update klavis item & klavis call tools
  packages/const/src/index.ts
  packages/const/src/klavis.ts
  packages/database/src/models/plugin.ts
  src/features/ChatInput/ActionBar/Tools/KlavisServerItem.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/server/routers/lambda/klavis.ts
  src/server/services/mcp/index.ts
  src/services/chat/index.ts
  src/services/mcp.test.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/tool/slices/builtin/selectors.ts
  src/store/tool/slices/klavisStore/selectors.ts
Due: Store Layer, Services Layer, Server Layer

fix: change the source type into varchar
  docs/development/database-schema.dbml
  packages/database/migrations/0058_add_source_into_plugins_installed.sql
  packages/database/migrations/0058_add_source_into_user_plugins.sql
  packages/database/migrations/meta/0058_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/user.ts
Due: none

🔨 chore: add source type into user_install_plugins (#10603)
  docs/development/database-schema.dbml
  packages/database/migrations/0058_add_source_into_user_plugins.sql
  packages/database/migrations/meta/0058_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/user.ts
Due: none

style: update style
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/SwitchPanel.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/Editing.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/index.tsx
Due: none

feat: Unfiied search
  packages/database/src/repositories/search/index.test.ts
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

feat: update the noraml klavis mcp (no need oauth)
  locales/ar/setting.json
  locales/bg-BG/setting.json
  locales/de-DE/setting.json
  locales/en-US/setting.json
  locales/es-ES/setting.json
  locales/fa-IR/setting.json
  locales/fr-FR/setting.json
  locales/it-IT/setting.json
  locales/ja-JP/setting.json
  locales/ko-KR/setting.json
  locales/nl-NL/setting.json
  locales/pl-PL/setting.json
  locales/pt-BR/setting.json
  locales/ru-RU/setting.json
  locales/tr-TR/setting.json
  locales/vi-VN/setting.json
  locales/zh-CN/setting.json
  locales/zh-TW/setting.json
  src/features/ChatInput/ActionBar/Tools/KlavisServerItem.tsx
  src/features/ChatInput/ActionBar/Tools/index.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/locales/default/setting.ts
  src/server/services/mcp/index.ts
  src/store/tool/slices/klavisStore/action.ts
Due: Store Layer, Server Layer

support config plugins
  packages/builtin-agents/src/agents/agent-builder/index.ts
  packages/builtin-agents/src/agents/agent-builder/systemRole.ts
  packages/builtin-agents/src/types.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/hooks/useInitAgentConfig.ts
  src/services/chat/index.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/store/agent/slices/builtin/action.ts
  src/store/user/slices/auth/selectors.ts
Due: Store Layer, Services Layer

fix: rollback test
  src/server/services/mcp/index.ts
  src/services/chat/index.ts
  src/services/mcp.test.ts
Due: Services Layer, Server Layer

improve conversation width
  src/features/Conversation/Messages/Assistant/index.tsx
Due: none

feat: Upload folder
  src/features/ResourceManager/Header/AddButton.tsx
  src/store/file/slices/fileManager/action.ts
  src/utils/folderStructure.ts
Due: Store Layer, Utils Layer

fix: fixed test ci
  src/helpers/toolEngineering/index.test.ts
  src/server/services/mcp/index.ts
Due: Server Layer

add welcome for agent
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/AddButton.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/WelcomeChatItem/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
Due: none

chore: missing deps
  package.json
Due: none

support session get inbox
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
Due: none

refactor inbox agent store
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileProvider.tsx
  src/layout/GlobalProvider/StoreInitialization.tsx
  src/server/services/nextAuthUser/index.ts
  src/server/services/user/index.ts
  src/store/agent/selectors/builtinAgentSelectors.test.ts
  src/store/agent/selectors/builtinAgentSelectors.ts
  src/store/agent/selectors/selectors.test.ts
  src/store/agent/selectors/selectors.ts
  src/store/agent/slices/agent/action.test.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
  src/store/agent/slices/knowledge/action.test.ts
  src/store/agent/slices/plugin/action.test.ts
  src/store/chat/slices/message/selectors/displayMessage.test.ts
  src/store/serverConfig/selectors.test.ts
  src/store/serverConfig/selectors.ts
Due: Store Layer, Server Layer

feat: update the klavis select model & locals settings
  locales/ar/setting.json
  locales/bg-BG/setting.json
  locales/de-DE/setting.json
  locales/en-US/setting.json
  locales/es-ES/setting.json
  locales/fa-IR/setting.json
  locales/fr-FR/setting.json
  locales/it-IT/setting.json
  locales/ja-JP/setting.json
  locales/ko-KR/setting.json
  locales/nl-NL/setting.json
  locales/pl-PL/setting.json
  locales/pt-BR/setting.json
  locales/ru-RU/setting.json
  locales/tr-TR/setting.json
  locales/vi-VN/setting.json
  locales/zh-CN/setting.json
  locales/zh-TW/setting.json
  packages/const/src/klavis.ts
  src/features/ChatInput/ActionBar/Tools/KlavisServerItem.tsx
  src/features/ChatInput/ActionBar/Tools/index.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/features/ChatInput/ActionBar/components/ActionDropdown.tsx
  src/locales/default/setting.ts
Due: none

chore: add e2e env
  e2e/src/steps/hooks.ts
  next.config.ts
Due: none

chore: missing test
  packages/database/src/models/__tests__/userMemories.test.ts
Due: none

fix: change the klavis id to klavis types
  packages/const/src/klavis.ts
Due: none

fix: delete the klavis into getGlobalConfig
  .env.example
  packages/types/src/serverConfig.ts
  src/config/klavis.ts
  src/features/ChatInput/ActionBar/Tools/index.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/server/globalConfig/index.ts
  src/store/serverConfig/index.ts
  src/store/serverConfig/selectors.ts
  src/store/tool/slices/klavisStore/selectors.ts
Due: Store Layer, Server Layer

🔒 Limit check-user response surface
  src/app/(backend)/api/auth/check-user/route.ts
Due: none
