Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix topic messages issues
  packages/database/src/models/__tests__/topics/topic.delete.test.ts
  packages/database/src/models/__tests__/topics/topic.update.test.ts
  packages/database/src/models/topic.ts
  packages/database/src/repositories/agentMigration/__tests__/agentMigrationRepo.test.ts
  packages/database/src/repositories/agentMigration/index.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

✨ feat(userMemories): whitelist to extract users (#10626)
  packages/database/src/models/user.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

feat(userMemories): unify layer names, add webhook verify headers (#10629)
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/userMemory/shared.ts
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

style: update editor
  locales/ar/editor.json
  locales/bg-BG/editor.json
  locales/de-DE/editor.json
  locales/en-US/editor.json
  locales/es-ES/editor.json
  locales/fa-IR/editor.json
  locales/fr-FR/editor.json
  locales/it-IT/editor.json
  locales/ja-JP/editor.json
  locales/ko-KR/editor.json
  locales/nl-NL/editor.json
  locales/pl-PL/editor.json
  locales/pt-BR/editor.json
  locales/ru-RU/editor.json
  locales/tr-TR/editor.json
  locales/vi-VN/editor.json
  locales/zh-CN/editor.json
  locales/zh-TW/editor.json
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/TypoBar.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/useSlashItems.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileProvider.tsx
  src/app/[variants]/(main)/chat/profile/features/StoreUpdater.tsx
  src/app/[variants]/(main)/chat/profile/features/index.ts
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/index.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/app/[variants]/(main)/chat/profile/features/store/selectors.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/PageEditor/EditorCanvas/TypoBar.tsx
  src/locales/default/editor.ts
Due: none

🐛 fix: expose /api/workflows endpoints (#10632)
  src/proxy.ts
Due: none

style: update page sidebar
  packages/database/src/models/__tests__/document.test.ts
  packages/database/src/models/document.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Nav.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/Nav.tsx
  src/app/[variants]/(main)/page/_layout/Body/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/AllPagesDrawer/Content.tsx
  src/app/[variants]/(main)/page/_layout/Body/AllPagesDrawer/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/useDropdownMenu.tsx
  src/app/[variants]/(main)/page/_layout/Header/Search.tsx
  src/app/[variants]/(main)/page/_layout/Header/index.tsx
  src/features/NavPanel/SideBarDrawer.tsx
  src/hooks/useHotkeys/globalScope.ts
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
  src/store/file/slices/document/selectors.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: add modify system prompt tools in agentbuilder (#10634)
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/MentionDropdown.tsx
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/GetPrompt.tsx
  src/tools/agent-builder/Render/UpdatePrompt.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

feat: add Suspense debug
  src/app/[variants]/(auth)/next-auth/error/page.tsx
  src/app/[variants]/(auth)/next-auth/signin/page.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/layout.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/features/Portal/features/PortalPanel.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/image/loading.tsx
  src/app/[variants]/(main)/layouts/index.tsx
  src/app/[variants]/(main)/page/index.tsx
  src/app/[variants]/(main)/settings/features/SettingsContent.tsx
  src/app/[variants]/(main)/settings/provider/detail/default/ClientMode.tsx
  src/app/[variants]/(main)/settings/provider/detail/index.tsx
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/layout.tsx
  src/app/[variants]/loading.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/app/loading.tsx
  src/components/Loading/BrandTextLoading/index.tsx
  src/features/PageEditor/PageEditor.tsx
  src/utils/router.tsx
Due: Utils Layer

fix: fix cmd k register
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/hooks/useHotkeys/globalScope.ts
  src/store/global/initialState.ts
Due: Store Layer

feat: add Suspense debug
  src/app/[variants]/(main)/chat/features/Portal/index.tsx
  src/components/Loading/BrandTextLoading/index.tsx
Due: none

fix: fix DraggablePanel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/PageEditor.tsx
Due: none

fix(userMemories): Upstash workflow will serialize into JSON, causes the Date being incorrectly used
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

chore(userMemories): improved the results of memory extractor
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix(userMemories): Upstash Workflows will serialize into `JSON`, causes the `Date` being incorrectly used (#10635)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

style: update agent setting
  package.json
  src/app/[variants]/(main)/chat/(mobile)/settings/_layout/Header.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/_layout/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/features/AgentInfoDescription/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/features/AgentTeamSettings/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/features/SettingButton.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/Header/Avatar.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/SystemRole.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/ConfigLayout.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/ConfigSwitcher.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/TopicModal.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentSettings/Content.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/PublishButton.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileHydration.tsx
  src/app/[variants]/(main)/chat/profile/features/index.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/AgentSetting/AgentModal/index.tsx
Due: none

✨ feat: add klavis tools into agent builder
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/PluginTag.tsx
  src/app/[variants]/(main)/settings/(mobile)/_layout/Header.tsx
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SearchMarketTools.tsx
  src/tools/agent-builder/Render/SearchOfficialTools.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

style: update res pagesize
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/app/[variants]/(main)/memory/features/ContextsList.tsx
  src/app/[variants]/(main)/memory/features/MemoryCard.tsx
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/index.tsx
  src/features/ResourceManager/FileExplorer/MoveToFolderModal.tsx
  src/features/ResourceManager/FileExplorer/OPTIMIZATION_SUMMARY.md
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerActions.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerData.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerSelection.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerView.ts
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/FileExplorer/store/index.ts
  src/features/ResourceManager/FileExplorer/store/initialState.ts
  src/features/ResourceManager/FileExplorer/store/selectors.ts
  src/features/ResourceManager/FileExplorer/store/store.ts
  src/features/ResourceManager/FileExplorer/store/types.ts
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
  src/features/ResourceManager/FileTree/index.tsx
  src/locales/default/setting.ts
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/knowledge.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/file/slices/fileManager/action.ts
  src/store/userMemory/slices/base/index.ts
  src/store/userMemory/slices/context/index.ts
Due: Store Layer, Server Layer

🐛 fix: resolve circular dependencies in klavisStore imports
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SearchOfficialTools.tsx
Due: none

✨ feat： add more official tools into agentbuilder (#10638)
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/PluginTag.tsx
  src/app/[variants]/(main)/settings/(mobile)/_layout/Header.tsx
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SearchMarketTools.tsx
  src/tools/agent-builder/Render/SearchOfficialTools.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

✨ feat: 添加 DeepSeek V3.2 模型及其定价信息，增强模型能力描述
  packages/model-bank/src/aiModels/volcengine.ts
Due: none

🐛 Fix Replicate sdkType to route checker correctly
  src/config/modelProviders/replicate.ts
Due: none

✨ Complete Replicate provider integration and address PR review
  packages/model-bank/src/aiModels/index.ts
  packages/model-bank/src/aiModels/replicate.ts
  packages/model-bank/src/const/modelProvider.ts
  packages/model-runtime/src/providers/replicate/index.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/ssrf-safe-fetch/index.browser.ts
  packages/ssrf-safe-fetch/index.ts
  packages/types/src/aiProvider.ts
Due: none

🐛 Fix Replicate connectivity and dynamic models
  packages/model-runtime/src/core/ModelRuntime.ts
  packages/model-runtime/src/providers/replicate/index.ts
  packages/model-runtime/src/utils/modelParse.ts
Due: none

🐛 Handle Replicate model ids with owner/name
  packages/model-runtime/src/providers/replicate/index.ts
Due: none

✨ Add Replicate provider config
  src/config/modelProviders/index.ts
  src/config/modelProviders/replicate.ts
Due: none

🧹 Remove placeholder token from header test
  packages/fetch-sse/src/__tests__/headers.test.ts
Due: none

fix: fix mobile
  src/app/[variants]/(mobile)/index.tsx
  src/app/[variants]/page.tsx
Due: none

fix: fix mobile
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/Header/Avatar.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/Header/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/SystemRole.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/ConfigLayout.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/ConfigSwitcher.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/TopicModal.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/index.tsx
  src/app/[variants]/(mobile)/chat/index.tsx
Due: none

fix: Root folder
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerData.ts
Due: none

style: Update header
  src/features/ResourceManager/FileEditor/index.tsx
Due: none

refactor: server ipc
  apps/desktop/Development.md
  apps/desktop/README.md
  apps/desktop/README.zh-CN.md
  apps/desktop/src/main/controllers/SystemCtr.ts
  apps/desktop/src/main/controllers/SystemServerCtr.ts
  apps/desktop/src/main/controllers/UploadFileCtr.ts
  apps/desktop/src/main/controllers/UploadFileServerCtr.ts
  apps/desktop/src/main/controllers/__tests__/DevtoolsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemServerCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileServerCtr.test.ts
  apps/desktop/src/main/controllers/index.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/infrastructure/IoCContainer.ts
  apps/desktop/src/main/core/infrastructure/__tests__/IoCContainer.test.ts
  apps/desktop/src/main/exports.d.ts
  apps/desktop/src/main/exports.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/index.ts
  apps/desktop/src/preload/electronApi.test.ts
  apps/desktop/src/preload/electronApi.ts
  packages/electron-client-ipc/src/ipc.test.ts
  packages/electron-client-ipc/src/ipc.ts
  packages/electron-client-ipc/vitest.config.mts
  packages/electron-server-ipc/src/ipcClient.ts
  packages/electron-server-ipc/src/ipcServer.ts
  packages/electron-server-ipc/src/types/index.ts
  src/server/modules/ElectronIPCClient/index.ts
  src/services/electron/file.ts
  src/types/electron-ipc.d.ts
  src/utils/electron/ipc.ts
  tsconfig.json
Due: Services Layer, Server Layer, Utils Layer

fix: roll back file pagesize
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/index.tsx
  src/features/ResourceManager/FileExplorer/MoveToFolderModal.tsx
  src/features/ResourceManager/FileExplorer/OPTIMIZATION_SUMMARY.md
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerActions.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerData.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerSelection.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerView.ts
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/FileExplorer/store/index.ts
  src/features/ResourceManager/FileExplorer/store/initialState.ts
  src/features/ResourceManager/FileExplorer/store/selectors.ts
  src/features/ResourceManager/FileExplorer/store/store.ts
  src/features/ResourceManager/FileExplorer/store/types.ts
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
  src/features/ResourceManager/FileTree/index.tsx
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/knowledge.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/file/slices/fileManager/action.ts
  src/store/userMemory/slices/base/index.ts
  src/store/userMemory/slices/context/index.ts
Due: Store Layer, Server Layer

refactor: update IPC method names for consistency
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  src/services/electron/file.ts
  src/services/electron/localFileService.ts
  src/services/electron/settings.ts
  src/services/electron/system.ts
  tsconfig.json
Due: Services Layer

fix: cast IPC return type to DesktopIpcServices for type safety
  src/utils/electron/ipc.ts
Due: Utils Layer

chore: add new workspace for desktop application in package.json
  package.json
Due: none
