Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

✅ test(fetch-sse): fix mock paths and package configuration
  packages/fetch-sse/package.json
  packages/fetch-sse/src/__tests__/fetchSSE.test.ts
  src/services/chat/chat.test.ts
  src/services/chat/clientModelRuntime.test.ts
Due: Services Layer

🐛 fix(vitest): add specific aliases for src/utils subdirectories
  vitest.config.mts
Due: none

♻️ refactor(fetch): extract utilities to @lobechat/fetch-sse package
  package.json
  packages/fetch-sse/package.json
  packages/fetch-sse/src/__tests__/fetchSSE.test.ts
  packages/fetch-sse/src/__tests__/parseError.test.ts
  packages/fetch-sse/src/fetchSSE.ts
  packages/fetch-sse/src/headers.ts
  packages/fetch-sse/src/index.ts
  packages/fetch-sse/src/parseError.ts
  packages/fetch-sse/src/request.ts
  src/features/AgentSetting/AgentTTS/SelectWithTTSPreview.tsx
  src/features/AgentSetting/store/action.ts
  src/features/ChatInput/ActionBar/STT/browser.tsx
  src/features/ChatInput/ActionBar/STT/openai.tsx
  src/features/Conversation/components/Extras/TTS/InitPlayer.tsx
  src/services/chat/chat.test.ts
  src/services/chat/index.ts
  src/services/chat/types.ts
  src/services/models.ts
  src/utils/electron/desktopRemoteRPCFetch.ts
Due: Services Layer, Utils Layer

🔥 chore: remove old snapshot file from packages/utils
  packages/utils/src/__snapshots__/parseModels.test.ts.snap
Due: none

✅ test: add missing snapshot for parseModels test
  src/utils/server/__snapshots__/parseModels.test.ts.snap
Due: Utils Layer

🐛 fix(test): restore imageUrlToBase64 mock for ollama tests
  packages/model-runtime/src/providers/ollama/index.test.ts
Due: none

Update route.ts
  src/app/(backend)/f/[id]/route.ts
Due: none

🐛 fix: fix mcp server return image error (#10113)
  packages/database/src/models/file.ts
  packages/database/src/repositories/aiInfra/index.test.ts
  packages/database/src/repositories/dataExporter/index.test.ts
  packages/database/src/repositories/tableViewer/index.test.ts
  src/app/(backend)/f/[id]/route.ts
  src/envs/app.ts
  src/features/Conversation/components/VirtualizedList/index.tsx
  src/features/PluginsUI/Render/MCPType/index.tsx
  src/server/routers/desktop/mcp.ts
  src/server/routers/tools/mcp.ts
  src/server/services/file/impls/local.ts
  src/server/services/file/index.ts
  src/server/services/mcp/contentProcessor.ts
  src/server/services/mcp/index.test.ts
  src/server/services/mcp/index.ts
  src/services/session/index.ts
Due: Services Layer, Server Layer

🐛 fix(ssrf): add browser conditional export to prevent webpack build errors
  packages/ssrf-safe-fetch/index.browser.ts
  packages/ssrf-safe-fetch/package.json
Due: none

feat: add db migrations
  packages/database/migrations/0044_bent_whizzer.sql
  packages/database/migrations/meta/0044_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  src/app/[variants]/(main)/discover/(list)/assistant/AssistantPage.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
  src/server/services/discover/index.ts
Due: Server Layer

:bookmark: chore(release): v2.0.0-next.47 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6c/e223ed116a9db4aa013edd2524678f4b794420
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

test: update test
  src/server/services/discover/index.test.ts
Due: Server Layer

fix: rollback mirgration
  packages/database/migrations/meta/0034_snapshot.json
  packages/database/migrations/meta/0039_snapshot.json
Due: none

fix: change mirgration
  packages/database/migrations/meta/0034_snapshot.json
  packages/database/migrations/meta/0039_snapshot.json
  packages/database/src/core/migrations.json
Due: none

fix: acccount mismatch error
  src/server/services/oidc/index.ts
Due: Server Layer

test: add oidc service test case
  src/server/services/oidc/index.test.ts
Due: Server Layer

chore: adjust oidc login and consent page mobile style
  src/app/[variants]/oauth/consent/[uid]/Consent/index.tsx
  src/app/[variants]/oauth/consent/[uid]/Login.tsx
Due: none

fix: back snapshot
  packages/database/migrations/meta/0034_snapshot.json
Due: none

Update print statement from 'Hello' to 'Goodbye'
  packages/database/migrations/meta/0034_snapshot.json
Due: none

✨ feat(models): 添加Kimi K2 Thinking模型及其能力到infiniai和siliconcloud
  packages/model-bank/src/aiModels/infiniai.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

chore: add market_identifier into agents table schema
  docs/development/database-schema.dbml
  packages/database/migrations/0044_high_toxin.sql
  packages/database/migrations/meta/0044_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/agent.ts
Due: none

chore: add type
  packages/types/src/index.ts
Due: none

🔨 chore: add market_identifier into agents table schema (#10164)
  docs/development/database-schema.dbml
  packages/database/migrations/0044_high_toxin.sql
  packages/database/migrations/meta/0044_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/agent.ts
Due: none

feat: change all discover page to the spa
  src/app/[variants]/(main)/discover/(detail)/_layout/Desktop/DetailLayout.tsx
  src/app/[variants]/(main)/discover/(detail)/_layout/Mobile/DetailLayout.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/desktop.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/mobile.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/desktop.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/mobile.tsx
  src/app/[variants]/(main)/discover/(detail)/model/desktop.tsx
  src/app/[variants]/(main)/discover/(detail)/model/mobile.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/desktop.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/mobile.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/index.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/mobile.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/Desktop/ListLayout.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/Mobile/ListLayout.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/AssistantLayout.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/desktop.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/index.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/desktop.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/mobile.tsx
  src/app/[variants]/(main)/discover/(list)/model/_layout/Desktop.tsx
  src/app/[variants]/(main)/discover/(list)/model/desktop.tsx
  src/app/[variants]/(main)/discover/(list)/model/index.tsx
  src/app/[variants]/(main)/discover/(list)/model/mobile.tsx
  src/app/[variants]/(main)/discover/(list)/provider/desktop.tsx
  src/app/[variants]/(main)/discover/(list)/provider/mobile.tsx
  src/app/[variants]/(main)/discover/_layout/Desktop/DiscoverLayout.tsx
  src/app/[variants]/(main)/discover/_layout/Mobile/DiscoverLayout.tsx
  src/app/[variants]/(main)/discover/pages/desktop/home.page.tsx
  src/app/[variants]/(main)/discover/pages/mobile/assistant.page.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  src/locales/default/discover.ts
  src/server/routers/lambda/market/index.ts
Due: Server Layer

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

add intervention tool
  docs/development/database-schema.dbml
  packages/database/migrations/0044_add_tool_intervention.sql
  packages/database/src/models/message.ts
  packages/database/src/schemas/message.ts
  packages/types/src/message/common/tools.ts
  packages/types/src/message/db/item.ts
  packages/types/src/message/ui/params.ts
  src/server/routers/lambda/message.ts
Due: Server Layer

update sql
  packages/database/migrations/0045_add_tool_intervention.sql
  packages/database/migrations/meta/0045_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

👷 build: add intervention tool column (#10163)
  docs/development/database-schema.dbml
  packages/database/migrations/0044_add_tool_intervention.sql
  packages/database/migrations/0045_add_tool_intervention.sql
  packages/database/migrations/meta/0045_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/models/message.ts
  packages/database/src/schemas/message.ts
  packages/types/src/message/common/tools.ts
  packages/types/src/message/db/item.ts
  packages/types/src/message/ui/params.ts
  src/server/routers/lambda/message.ts
Due: Server Layer

update sql
  package.json
  packages/database/src/core/migrations.json
Due: none

👷 build: update client sql (#10169)
  package.json
  packages/database/src/core/migrations.json
Due: none

🔨 chore: add type (#10165)
  packages/types/src/index.ts
Due: none

:bookmark: chore(release): v2.0.0-next.48 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
