Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix tests
  src/store/tool/slices/oldStore/action.test.ts
Due: Store Layer

update antd
  package.json
Due: none

test: fix isMainWindowAgentRuntimeRunning tests to set active context
  src/store/chat/slices/operation/__tests__/selectors.test.ts
Due: Store Layer

🌐 chore: translate non-English comments to English in packages/utils (#10351)
  packages/utils/src/client/parserPlaceholder.ts
Due: none

fix: change activeTopicId from null to undefined in tests
  src/store/chat/slices/operation/__tests__/selectors.test.ts
Due: Store Layer

update
  src/app/[variants]/(main)/chat/session/features/SessionListContent/CollapseGroup/index.tsx
  src/layout/GlobalProvider/AntdV5MonkeyPatch.tsx
  src/layout/GlobalProvider/index.tsx
Due: none

✨ feat(PinList): update agent switching to use Link and router for navigation
  src/app/[variants]/(main)/layouts/desktop/SideBar/PinList/index.tsx
Due: none

fix: check if operation's message is in current displayed messages
  packages/database/src/repositories/knowledge/index.ts
  src/store/chat/slices/operation/selectors.ts
Due: Store Layer

✨ feat: refactor TopicItem to use Link for navigation and improve URL handling
  src/app/[variants]/(main)/chat/components/topic/features/Topic/TopicListContent/TopicItem/index.tsx
Due: none

🔨 chore: Support Interleaved thinking in kimi-k2-thinking (#10256)
  packages/model-bank/src/aiModels/moonshot.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/providers/moonshot/index.ts
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

fix(operation): isolate loading state to current active topic
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/selectors.ts
Due: Store Layer

refactor
  packages/types/src/user/settings/keyVaults.ts
  src/features/ChatList/Error/AccessCodeForm.tsx
  src/services/__tests__/_auth.test.ts
  src/services/__tests__/share.test.ts
  src/services/_auth.ts
  src/services/_header.ts
  src/store/user/slices/settings/selectors/keyVaults.ts
Due: Store Layer, Services Layer

refactor to fix
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/builtinTool/actions/localSystem.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
Due: Store Layer

try to fix stylelint ci issue
  package.json
Due: none

fix tests
  src/store/chat/agents/__tests__/createAgentExecutors/call-llm.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/assertions.ts
  src/store/chat/agents/__tests__/createAgentExecutors/request-human-approve.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/resolve-aborted-tools.test.ts
Due: Store Layer

fix tests
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/operation/selectors.ts
Due: Store Layer

🐛 fix(operation): isolate loading state to current active topic (#10360)
  package.json
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/user/settings/keyVaults.ts
  src/features/ChatList/Error/AccessCodeForm.tsx
  src/services/__tests__/_auth.test.ts
  src/services/__tests__/share.test.ts
  src/services/_auth.ts
  src/services/_header.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-llm.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/assertions.ts
  src/store/chat/agents/__tests__/createAgentExecutors/request-human-approve.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/resolve-aborted-tools.test.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/builtinTool/actions/localSystem.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/user/slices/settings/selectors/keyVaults.ts
Due: Store Layer, Services Layer

:bookmark: chore(release): v2.0.0-next.105 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  29/f19637d30233f988b66bd9069b69f04b7b976b
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

✨ feat: Add Nano Banana Pro to image generation whitelist
  packages/model-runtime/src/utils/postProcessModelList.ts
Due: none

🐛 fix: Revert unnecessary changes to destructuring code
  packages/model-runtime/src/utils/postProcessModelList.ts
Due: none

♻️ refactor: Use lodash omit for cleaner property filtering
  packages/model-runtime/src/utils/postProcessModelList.ts
Due: none

:bookmark: chore(release): v2.0.0-next.106 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3a/a39a651e506aaf9307f010570b3512c95a7442
Due: none

🐛 fix: refine no-image handling
  packages/model-runtime/src/providers/google/createImage.ts
  packages/model-runtime/src/types/error.ts
  packages/model-runtime/src/utils/googleErrorParser.ts
  src/server/routers/async/image.ts
Due: Server Layer

✅ Fix Google image no-image expectations
  packages/model-runtime/src/providers/google/createImage.test.ts
Due: none

💄 style: optimize nana banana pro error message (#10378)
  packages/model-runtime/src/providers/google/createImage.test.ts
  packages/model-runtime/src/providers/google/createImage.ts
  packages/model-runtime/src/types/error.ts
  packages/model-runtime/src/utils/googleErrorParser.ts
  src/server/routers/async/image.ts
Due: Server Layer

:bookmark: chore(release): v2.0.0-next.107 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  76/454756403beae103252c5e27536194fbab5c5d
Due: none

🌐 chore: translate non-English comments to English in packages/model-bank (#10373)
  packages/model-bank/src/aiModels/cometapi.ts
  packages/model-bank/src/aiModels/fal.ts
  packages/model-bank/src/aiModels/nebius.ts
  packages/model-bank/src/aiModels/newapi.ts
  packages/model-bank/src/aiModels/openai.ts
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/stepfun.ts
  packages/model-bank/src/aiModels/vercelaigateway.ts
  packages/model-bank/src/aiModels/volcengine.ts
  packages/model-bank/src/aiModels/zhipu.ts
  packages/model-bank/src/types/aiModel.ts
Due: none
