Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

⚡️ perf(database): optimize document queries with indexes and field exclusion (#10740)
  docs/development/database-schema.dbml
  packages/database/migrations/0061_add_document_and_memory_index.sql
  packages/database/migrations/meta/0061_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/models/__tests__/document.test.ts
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/document.ts
  packages/database/src/models/userMemory.ts
  packages/database/src/schemas/agent.ts
  packages/database/src/schemas/file.ts
  packages/database/src/schemas/user.ts
  packages/database/src/schemas/userMemories.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
Due: Store Layer, Services Layer

:bookmark: chore(release): v2.0.0-next.170 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c4/6bd6e49a6b356f5f294482f14cb49ffbe018a3
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix loading
  src/app/(backend)/api/agent/stream/__tests__/route.test.ts
  src/app/(backend)/api/agent/stream/route.ts
  src/server/modules/AgentRuntime/AgentRuntimeCoordinator.ts
  src/server/modules/AgentRuntime/__tests__/AgentRuntimeCoordinator.test.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/runAgent.ts
Due: Store Layer, Server Layer

update content
  src/app/(backend)/api/agent/stream/route.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/StreamEventManager.ts
  src/tools/page-agent/systemRole.ts
Due: Server Layer

add timing
  src/server/modules/AgentRuntime/redis.ts
Due: Server Layer

♻️ refactor: use Vercel `after` for non-blocking background tasks
  src/server/routers/lambda/image.ts
  src/server/routers/lambda/user.ts
Due: Server Layer

🐛 fix: add error handling for after() callback in image router
  src/server/routers/lambda/image.ts
Due: Server Layer

🔨 chore: optimize not await async call (#10756)
  src/server/routers/lambda/image.ts
  src/server/routers/lambda/user.ts
Due: Server Layer

⏪ revert: remove after() from image router to avoid resource waste
  src/server/routers/lambda/image.ts
Due: Server Layer

⏪ revert: remove after() from image router to avoid resource waste (#10757)
  src/server/routers/lambda/image.ts
Due: Server Layer

💄 style: Update GPT-5.2 models (#10749)
  packages/model-bank/src/aiModels/aihubmix.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-bank/src/aiModels/openai.ts
  packages/model-bank/src/aiModels/zenmux.ts
  packages/model-runtime/src/const/models.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
Due: none

💄 style: update i18n
  locales/ar/models.json
  locales/bg-BG/models.json
  locales/de-DE/models.json
  locales/en-US/models.json
  locales/es-ES/models.json
  locales/fa-IR/models.json
  locales/fr-FR/models.json
  locales/it-IT/models.json
  locales/ja-JP/models.json
  locales/ko-KR/models.json
  locales/nl-NL/models.json
  locales/pl-PL/models.json
  locales/pt-BR/models.json
  locales/ru-RU/models.json
  locales/tr-TR/models.json
  locales/vi-VN/models.json
  locales/zh-CN/models.json
  locales/zh-TW/models.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

完成 GroupOrchestrationSupervisor 定义
  package.json
  packages/agent-runtime/src/core/GroupOrchestrationRuntime.ts
  packages/agent-runtime/src/core/__tests__/GroupOrchestrationRuntime.test.ts
  packages/agent-runtime/src/core/index.ts
  packages/agent-runtime/src/types/groupOrchestration.ts
  packages/agent-runtime/src/types/index.ts
  packages/builtin-tool-group-management/src/types.ts
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/store/chat/agents/GroupOrchestration/GroupOrchestrationSupervisor.ts
  src/store/chat/agents/GroupOrchestration/__tests__/GroupOrchestrationSupervisor.test.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/agents/GroupOrchestration/index.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/aiAgent/actions/index.ts
  src/store/chat/slices/plugin/actions/index.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/tool/slices/builtin/action.ts
  src/store/tool/slices/builtin/executors/index.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer

添加 builtin group agent
  packages/builtin-agents/src/agents/group-supervisor/index.ts
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/builtin-agents/src/agents/group-supervisor/type.ts
  packages/builtin-agents/src/index.ts
  packages/builtin-agents/src/types.ts
  packages/builtin-tool-group-management/package.json
  packages/builtin-tool-group-management/src/index.ts
  packages/builtin-tool-group-management/src/manifest.ts
  packages/builtin-tool-group-management/src/systemRole.ts
  packages/builtin-tool-group-management/src/types.ts
  packages/database/src/repositories/agentGroup/index.test.ts
  packages/database/src/repositories/agentGroup/index.ts
  packages/utils/src/client/parserPlaceholder.ts
  src/server/modules/Mecha/ContextEngineering/index.ts
Due: Server Layer

完成 Supervisor 注入链路
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/builtin-tool-group-management/src/manifest.ts
  src/app/[variants]/(main)/group/features/Conversation/useActionsBarConfig.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/store/agentGroup/action.ts
  src/store/agentGroup/selectors/byId.test.ts
  src/store/agentGroup/selectors/byId.ts
  src/store/agentGroup/selectors/index.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/tools/identifiers.ts
  src/tools/index.ts
Due: Store Layer, Services Layer

clean actions
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/Conversation/Error/ClerkLogin/index.tsx
  src/features/Conversation/Error/OAuthForm.tsx
  src/features/Conversation/Error/OllamaBizError/InvalidOllamaModel.tsx
  src/features/Conversation/Error/OllamaBizError/index.tsx
  src/features/Conversation/Error/OllamaSetupGuide/Desktop.tsx
  src/features/Conversation/Error/OllamaSetupGuide/index.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/PluginSettings.tsx
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/hooks/useHotkeys/chatScope.ts
  src/store/agentGroup/selectors/byId.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/chat/slices/plugin/actions/workflow.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer

chore: update siliconcloud models
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

fix regenerate and delete
  packages/types/src/aiChat.ts
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/locales/default/plugin.ts
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/tool/slices/builtin/executors/BaseExecutor.ts
  src/store/tool/slices/builtin/executors/__tests__/BaseExecutor.test.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-web-browsing.test.ts
  src/store/tool/slices/builtin/executors/index.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/executors/lobe-web-browsing.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer, Server Layer

clean
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMemberItem.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatItem/OrchestratorThinking.tsx
  src/components/TodoList.tsx
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/features/Conversation/Messages/index.tsx
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
Due: Store Layer

improve
  src/hooks/useFetchTopics.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/message/actions/runtimeState.ts
Due: Store Layer, Services Layer

fix avatar id
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/hooks/useAgentMeta.test.ts
  src/features/Conversation/hooks/useAgentMeta.ts
Due: none

fix group message query
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/message.ts
  packages/types/src/conversation.ts
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
Due: Server Layer

fix total workflow in group mode
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMemberItem.tsx
  src/features/Conversation/store/slices/data/action.test.ts
  src/features/Conversation/store/slices/data/action.ts
  src/hooks/useFetchTopics.test.ts
  src/hooks/useFetchTopics.ts
  src/server/services/aiChat/index.ts
  src/services/message/index.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-llm.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/testExecutor.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/utils/messageMapKey.test.ts
  src/store/chat/utils/messageMapKey.ts
Due: Store Layer, Services Layer, Server Layer

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
Due: none

fix group and thread
  src/features/Conversation/store/slices/data/action.test.ts
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/server/routers/lambda/_schema/context.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
Due: Store Layer, Services Layer, Server Layer

初步跑通群聊 pipeline
  packages/database/src/repositories/agentGroup/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/types.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer

style: update error style
  src/app/[variants]/(main)/image/features/GenerationFeed/BatchItem.tsx
  src/components/InvalidAPIKey/APIKeyForm/index.tsx
  src/components/InvalidAPIKey/Bedrock.tsx
  src/components/InvalidAPIKey/ComfyUIForm.tsx
  src/components/InvalidAPIKey/LoadingContext.ts
  src/components/InvalidAPIKey/ProviderApiKeyForm.tsx
  src/components/InvalidAPIKey/__tests__/ComfyUIForm.test.tsx
  src/components/InvalidAPIKey/index.tsx
  src/components/InvalidAPIKey/useApiKey.ts
  src/features/Conversation/ChatInput/index.tsx
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/ErrorContent.tsx
  src/features/Conversation/ChatItem/type.ts
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Error/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/ErrorResponse.tsx
  src/features/Conversation/Messages/Tool/Render/ErrorResponse.tsx
  src/features/Conversation/Messages/Tool/index.tsx
Due: none

style: update error style
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/index.tsx
  src/components/OllamaSetupGuide/index.tsx
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/ErrorContent.tsx
  src/features/Conversation/ChatItem/style.ts
  src/features/Conversation/Error/BaseErrorForm.tsx
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/Conversation/Error/ClerkLogin/index.tsx
  src/features/Conversation/Error/ErrorJsonViewer.tsx
  src/features/Conversation/Error/OAuthForm.tsx
  src/features/Conversation/Error/OllamaBizError/index.tsx
  src/features/Conversation/Error/OllamaSetupGuide/Desktop.tsx
  src/features/Conversation/Error/OllamaSetupGuide/index.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Error/index.tsx
  src/features/Conversation/Messages/AssistantGroup/components/ContentBlock.tsx
  src/features/ModelSwitchPanel/index.tsx
  src/locales/default/components.ts
  src/locales/default/error.ts
Due: none

feat(mobile): add topic router for mobile compatibility
  src/server/routers/mobile/index.ts
  src/server/routers/mobile/topic.ts
Due: Server Layer

feat(mobile): add topic router for mobile compatibility (#10776)
  src/server/routers/mobile/index.ts
  src/server/routers/mobile/topic.ts
Due: Server Layer

fix group mode
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentCouncil/simple.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentCouncil/with-supervisor-reply.json
  packages/conversation-flow/src/transformation/ContextTreeBuilder.ts
  packages/conversation-flow/src/types/contextTree.ts
  src/features/Conversation/ChatList/components/VirtualizedList.tsx
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
Due: Store Layer

implement getAgentInfo
  packages/prompts/src/prompts/agentGroup/index.ts
  packages/prompts/src/prompts/index.ts
  src/store/chat/agents/GroupOrchestration/GroupOrchestrationSupervisor.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer

add tests for different speaker
  packages/conversation-flow/src/__tests__/fixtures/index.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/agentGroup/index.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/agentGroup/speak-different-agent.json
  packages/conversation-flow/src/__tests__/fixtures/inputs/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentGroup/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentGroup/speak-different-agent.json
  packages/conversation-flow/src/__tests__/parse.test.ts
  packages/prompts/src/prompts/agentGroup/index.test.ts
Due: none
