Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

style: update create icon
  packages/const/src/meta.ts
  public/icons/icon-lobe.png
  src/app/[variants]/(main)/chat/(mobile)/features/ChatHeader/ChatHeaderTitle.tsx
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/Inbox/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/AgentConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Toolbar/index.tsx
  src/features/ShareModal/ShareImage/Preview.tsx
Due: none

fix: systemrole editor init
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/Item.tsx
  src/features/Conversation/components/VirtualizedList/index.tsx
Due: none

fix: Jump link
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/components/CommandFooter.tsx
  src/features/CommandMenu/index.tsx
Due: none

fix topic with inbox agent
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/models/__tests__/topics/topic.create.test.ts
  packages/database/src/models/__tests__/topics/topic.delete.test.ts
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/__tests__/topics/topic.stats.test.ts
  packages/database/src/models/__tests__/topics/topic.update.test.ts
  packages/database/src/models/topic.ts
  packages/types/src/topic/topic.ts
  src/hooks/useFetchTopics.ts
  src/server/routers/lambda/__tests__/integration/topic.integration.test.ts
  src/server/routers/lambda/topic.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Server Layer

update for test
  src/server/routers/lambda/topic.ts
Due: Server Layer

fix: Copilot size
  src/features/PageEditor/Copilot/index.tsx
Due: none

refactor agent
  src/hooks/useHotkeys/globalScope.ts
Due: none

style: update icon
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/index.tsx
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
  src/components/KnowledgeIcon/index.tsx
  src/components/LibIcon/index.tsx
  src/components/RepoIcon/index.tsx
  src/features/ChatInput/ActionBar/Knowledge/useControls.tsx
  src/features/LibraryModal/AddFilesToKnowledgeBase/SelectForm.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
Due: none

refactor agent
  packages/memory-user-memory/.gitignore
  packages/utils/src/index.ts
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/Inbox/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/useNavigateToAgent.ts
  src/hooks/useQueryRoute.ts
  src/hooks/useSwitchSession.ts
Due: none

🐛 fix: slove the command k jump link error (#10614)
  src/app/[variants]/(main)/layouts/index.tsx
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/layout/GlobalProvider/CmdkLazy.tsx
  src/layout/GlobalProvider/index.tsx
Due: none

update for test
  src/server/routers/lambda/__tests__/integration/topic.integration.test.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

style: update agent welcome and chatinput
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/OpeningQuestions.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/ClassicChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/GroupChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Mobile/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/MainChatInput/index.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/features/Conversation/ChatList/index.tsx
Due: none

fix
  src/server/services/agent/index.ts
Due: Server Layer

style: update new topic button
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/AddTopicButon.tsx
Due: none

style: update chat item style
  src/features/ChatList/Messages/Assistant/index.tsx
  src/features/ChatList/Messages/Group/ContentBlock.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/ContentBlock.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

style: update agent welcome and chatinput
  src/features/ChatInput/Desktop/index.tsx
Due: none

style: update chat item style
  src/components/BubblesLoading/index.tsx
  src/components/ChatItem/components/Title.tsx
  src/components/ChatItem/style.ts
  src/features/Conversation/Messages/User/index.tsx
Due: none

♻️ refactor(agent): add getAgentConfigById to AgentService with default config merging
  src/server/routers/lambda/agent.ts
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
Due: Server Layer

chore: add knip cli
  knip.ts
  package.json
Due: none

opti: Save on blur
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/index.tsx
Due: none

🐛 fix(agent): merge default configs for builtin agents on server side
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
  src/store/agent/selectors/selectors.ts
Due: Store Layer, Server Layer

fix: Page explore
  src/features/PageExplorer/index.tsx
  tsconfig.json
Due: none

style: update editor style
  CHECK_UNUSED_SRC.md
  UNUSED_FILES_GUIDE.md
  knip.json
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/features/Conversation/components/WideScreenContainer/index.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/index.tsx
  src/features/PageEditor/usePageEditor.ts
Due: none

🔨 chore: delete the url hydration & romove the pin agent way (#10616)
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/usePinnedAgentState.ts
  src/store/urlHydration/action.ts
  src/store/urlHydration/index.ts
  src/store/urlHydration/initialState.ts
  src/store/urlHydration/store.ts
Due: Store Layer

fix: Deduplication
  src/features/ResourceManager/FileTree/index.tsx
  src/libs/swr/deduplication.test.ts
  src/libs/swr/index.ts
Due: Libraries Layer

style: fix cursor
  src/features/PageEditor/Body/Title.tsx
Due: none

feat: Discard the page editor modal
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/Toolbar/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/Header/NewNoteButton.tsx
Due: none

refac: Renaming files
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/PageExplorer/index.tsx
Due: none

opti: Better file loading
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/index.tsx
  src/store/file/slices/document/action.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer

feat: Download document
  src/features/ResourceManager/FileExplorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/index.tsx
Due: none

fix: Remove unncessary tRPC calling
  src/features/PageEditor/Context.tsx
Due: none

feat: Header
  src/features/ResourceManager/FileExplorer/Header/index.tsx
Due: none

feat: Renaming KB
  glossary.json
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/Editing.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/index.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/useDropdownMenu.tsx
Due: none

fix: Changelog dialog crashing
  docs/changelog/2025-12-15-V2.mdx
  docs/changelog/2025-12-15-V2.zh-CN.mdx
  docs/changelog/index.json
  src/app/[variants]/(main)/(mobile)/me/(home)/index.tsx
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/index.tsx
Due: none

refactor topic issues
  packages/types/src/aiChat.ts
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/initialState.ts
  src/store/chat/slices/topic/reducer.ts
  src/store/chat/slices/topic/selectors.test.ts
  src/store/chat/slices/topic/selectors.ts
Due: Store Layer, Server Layer

update tests
  src/store/agent/selectors/chatConfigByIdSelectors.test.ts
  src/store/agent/selectors/chatConfigSelectors.test.ts
Due: Store Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
