Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

⚡️ perf: optimize better-auth performance with cache (#10621)
  locales/ar/authError.json
  locales/bg-BG/authError.json
  locales/de-DE/authError.json
  locales/en-US/authError.json
  locales/es-ES/authError.json
  locales/fa-IR/authError.json
  locales/fr-FR/authError.json
  locales/it-IT/authError.json
  locales/ja-JP/authError.json
  locales/ko-KR/authError.json
  locales/nl-NL/authError.json
  locales/pl-PL/authError.json
  locales/pt-BR/authError.json
  locales/ru-RU/authError.json
  locales/tr-TR/authError.json
  locales/vi-VN/authError.json
  locales/zh-CN/authError.json
  locales/zh-CN/setting.json
  locales/zh-TW/authError.json
  src/app/[variants]/(auth)/auth-error/page.tsx
  src/auth.ts
  src/envs/redis.ts
  src/libs/better-auth/utils/config.ts
  src/libs/redis/manager.ts
  src/libs/redis/redis.test.ts
  src/libs/redis/upstash.test.ts
  src/libs/redis/upstash.ts
  src/locales/default/authError.ts
  src/locales/default/index.ts
  src/proxy.ts
Due: Libraries Layer

chore: upgrade just for create pr
  package.json
Due: none

fix topic messages issues
  packages/database/src/models/__tests__/topics/topic.delete.test.ts
  packages/database/src/models/__tests__/topics/topic.update.test.ts
  packages/database/src/models/topic.ts
  packages/database/src/repositories/agentMigration/__tests__/agentMigrationRepo.test.ts
  packages/database/src/repositories/agentMigration/index.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

:bookmark: chore(release): v2.0.0-next.162 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6d/5a5379e88d22f122d9602d83c5178091badab5
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

✨ feat: add description field to NewAPIPricing and update fetch headers for JSON response
  packages/model-runtime/src/providers/newapi/index.test.ts
  packages/model-runtime/src/providers/newapi/index.ts
  src/app/(backend)/webapi/proxy/route.ts
Due: none

✨ feat: 添加混元2.0模型及其定价信息，增强模型能力描述
  packages/model-bank/src/aiModels/hunyuan.ts
Due: none

refactor the switch branch
  packages/conversation-flow/src/__tests__/fixtures/outputs/assistantGroup/tools-with-branches.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/active-index-1.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/assistant-branch.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/assistant-group-branches.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/assistant-user-branch.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/conversation.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/nested.json
  packages/conversation-flow/src/transformation/FlatListBuilder.ts
  packages/database/src/repositories/agentMigration/__tests__/agentMigrationRepo.test.ts
  packages/utils/src/folderStructure.ts
  packages/utils/src/index.ts
  src/app/[variants]/(main)/chat/features/Conversation/ChatItem/OrchestratorThinking.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatItem/Thread.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatItem/ThreadItem.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/ChatItem/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/Messages/components/MessageBranch.tsx
  src/features/Conversation/store/slices/data/action.test.ts
  src/features/Conversation/store/slices/data/action.ts
  src/features/Conversation/store/slices/tool/action.test.ts
  src/features/Conversation/store/slices/tool/action.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer

fix: DraggablePanel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/features/PageEditor/Copilot/index.tsx
Due: none

fix: DraggablePanel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/AgentBuilderConversation.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/TopicSelector.tsx
Due: none

style: update agent builder
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/features/PageEditor/EditorContent.tsx
Due: none

feat(userMemories): unify layer names, add webhook verify headers
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/userMemory/shared.ts
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

style: update editor
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/TypoBar.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/useSlashItems.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/EditorCanvas/TypoBar.tsx
  src/features/PageEditor/EditorCanvas/actions.ts
  src/features/PageEditor/EditorCanvas/index.tsx
  src/features/PageEditor/EditorCanvas/useSlashItems.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Modal/index.tsx
  src/locales/default/editor.ts
Due: none

feat(userMemories): unify layer names, add webhook verify headers (#10629)
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/userMemory/shared.ts
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

style: update editor
  locales/ar/editor.json
  locales/bg-BG/editor.json
  locales/de-DE/editor.json
  locales/en-US/editor.json
  locales/es-ES/editor.json
  locales/fa-IR/editor.json
  locales/fr-FR/editor.json
  locales/it-IT/editor.json
  locales/ja-JP/editor.json
  locales/ko-KR/editor.json
  locales/nl-NL/editor.json
  locales/pl-PL/editor.json
  locales/pt-BR/editor.json
  locales/ru-RU/editor.json
  locales/tr-TR/editor.json
  locales/vi-VN/editor.json
  locales/zh-CN/editor.json
  locales/zh-TW/editor.json
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/TypoBar.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/useSlashItems.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileProvider.tsx
  src/app/[variants]/(main)/chat/profile/features/StoreUpdater.tsx
  src/app/[variants]/(main)/chat/profile/features/index.ts
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/index.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/app/[variants]/(main)/chat/profile/features/store/selectors.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/PageEditor/EditorCanvas/TypoBar.tsx
  src/locales/default/editor.ts
Due: none

✨ feat: Rustfs
  docs/self-hosting/advanced/s3/rustfs.zh-CN.mdx
Due: none

fix: expose /api/workflows endpoints
  src/proxy.ts
Due: none

fix: fix cmd k register
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/hooks/useHotkeys/globalScope.ts
  src/store/global/initialState.ts
Due: Store Layer

📝 docs: Translate
  docs/self-hosting/advanced/knowledge-base.mdx
  docs/self-hosting/advanced/knowledge-base.zh-CN.mdx
  docs/self-hosting/advanced/s3/rustfs.mdx
  docs/self-hosting/advanced/s3/rustfs.zh-CN.mdx
  docs/self-hosting/server-database.mdx
  docs/self-hosting/server-database.zh-CN.mdx
Due: none

fix: fix DraggablePanel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/PageEditor.tsx
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🐛 fix: expose /api/workflows endpoints (#10632)
  src/proxy.ts
Due: none

feat: add Suspense debug
  src/app/[variants]/(auth)/next-auth/error/page.tsx
  src/app/[variants]/(auth)/next-auth/signin/page.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/layout.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/features/Portal/features/PortalPanel.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/image/loading.tsx
  src/app/[variants]/(main)/layouts/index.tsx
  src/app/[variants]/(main)/page/index.tsx
  src/app/[variants]/(main)/settings/features/SettingsContent.tsx
  src/app/[variants]/(main)/settings/provider/detail/default/ClientMode.tsx
  src/app/[variants]/(main)/settings/provider/detail/index.tsx
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/layout.tsx
  src/app/[variants]/loading.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/app/loading.tsx
  src/components/Loading/BrandTextLoading/index.tsx
  src/features/PageEditor/PageEditor.tsx
  src/utils/router.tsx
Due: Utils Layer

feat: add Suspense debug
  src/app/[variants]/(main)/chat/features/Portal/index.tsx
  src/components/Loading/BrandTextLoading/index.tsx
Due: none

feat: support modify system role & use stream output
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/GetPrompt.tsx
  src/tools/agent-builder/Render/UpdatePrompt.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

fix: slove metion dropdown position
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/MentionDropdown.tsx
Due: none

fix types
  src/features/Conversation/hooks/useChatItemContextMenu.tsx
Due: none

feat: add agent more
  locales/zh-CN/common.json
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/AllTopicsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/useDropdownMenu.tsx
  src/locales/default/common.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
  src/store/session/slices/session/action.ts
  src/store/session/slices/session/initialState.ts
  src/store/session/slices/session/selectors/list.ts
Due: Store Layer

style: Turn changelog to a modal
  src/app/[variants]/(main)/(mobile)/me/(home)/__tests__/useCategory.test.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/features/Category.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/features/useCategory.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/index.tsx
  src/app/[variants]/(main)/changelog/_layout/Desktop/Container.tsx
  src/app/[variants]/(main)/changelog/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/changelog/_layout/Mobile/Header.tsx
  src/app/[variants]/(main)/changelog/_layout/Mobile/index.tsx
  src/app/[variants]/(main)/changelog/error.tsx
  src/app/[variants]/(main)/changelog/features/GridLayout.tsx
  src/app/[variants]/(main)/changelog/features/Hero.tsx
  src/app/[variants]/(main)/changelog/features/Pagination.tsx
  src/app/[variants]/(main)/changelog/features/Post.tsx
  src/app/[variants]/(main)/changelog/features/PublishedTime.tsx
  src/app/[variants]/(main)/changelog/features/UpdateChangelogStatus.tsx
  src/app/[variants]/(main)/changelog/index.tsx
  src/app/[variants]/(main)/changelog/loading.tsx
  src/app/[variants]/(main)/changelog/not-found.tsx
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/app/[variants]/(main)/resource/store/action.ts
  src/app/[variants]/(main)/resource/store/initialState.ts
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/VersionTag.tsx
  src/components/ChangelogModal/index.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

style: update i18n
  locales/ar/welcome.json
  locales/bg-BG/welcome.json
  locales/de-DE/welcome.json
  locales/en-US/welcome.json
  locales/es-ES/welcome.json
  locales/fa-IR/welcome.json
  locales/fr-FR/welcome.json
  locales/it-IT/welcome.json
  locales/ja-JP/welcome.json
  locales/ko-KR/welcome.json
  locales/nl-NL/welcome.json
  locales/pl-PL/welcome.json
  locales/pt-BR/welcome.json
  locales/ru-RU/welcome.json
  locales/tr-TR/welcome.json
  locales/vi-VN/welcome.json
  locales/zh-CN/welcome.json
  locales/zh-TW/welcome.json
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/types.ts
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/useMarketPublish.ts
  src/app/[variants]/(main)/home/features/CommunityAgents/Item.tsx
  src/app/[variants]/(main)/home/features/WelcomeText/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/resource/library/[slug]/index.tsx
  src/app/[variants]/(main)/settings/_layout/SidebarContent.tsx
  src/features/ChatList/Messages/index.tsx
  src/features/NavPanel/SideBarLayout.tsx
  src/locales/default/welcome.ts
Due: none

style: update welcome speed
  package.json
  src/app/[variants]/(main)/home/features/WelcomeText/index.tsx
Due: none

feat: add topic more
  locales/zh-CN/topic.json
  package.json
  packages/database/src/models/topic.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/Actions.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/AllTopicsDrawer/Content.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/AllTopicsDrawer/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/ByTimeMode/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/FlatMode/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/app/[variants]/(main)/layouts/DesktopLayoutContainer.tsx
  src/features/NavPanel/SideBarDrawer.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
  src/features/NavPanel/index.tsx
  src/features/ResourceManager/FileExplorer/Header/Breadcrumb.tsx
  src/features/ResourceManager/FileExplorer/ListView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/PreviewMode/index.tsx
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
  src/hooks/useFetchTopics.ts
  src/locales/default/topic.ts
  src/server/routers/lambda/topic.ts
  src/services/topic/index.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/initialState.ts
  src/store/chat/slices/topic/selectors.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer, Services Layer, Server Layer

style: Add tooltip
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
