Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: show agent download tag
  packages/types/src/discover/assistants.ts
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/TokenTag.tsx
  src/app/[variants]/(main)/settings/my-agents/features/AgentCard.tsx
  src/app/[variants]/(main)/settings/my-agents/features/AgentDetailDrawer.tsx
  src/app/[variants]/(main)/settings/my-agents/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/index.tsx
  src/server/services/discover/index.ts
Due: Server Layer

🔧 fix(Dockerfile): electron main typing pkg (#10693)
  Dockerfile
Due: none

feat(database): added queryTags model for user memory
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/userMemory/shared.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

feat: update the agent detial drawer create agent
  locales/en-US/setting.json
  locales/zh-CN/setting.json
  packages/database/src/models/agent.ts
  packages/types/src/agent/item.ts
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/ActionButton/AddAgent.tsx
  src/app/[variants]/(main)/settings/my-agents/features/AgentDetailDrawer.tsx
  src/locales/default/setting.ts
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
Due: Services Layer, Server Layer

:bookmark: chore(release): v2.0.0-next.166 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  82/424887dd6afd1d24faa28ea1cb655e267ea762
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

feat(database): to trpc
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

chore: debug
  packages/database/src/models/topic.ts
Due: none

feat: add market identifier into agent meta
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/useMarketPublish.ts
  src/store/agent/selectors/selectors.test.ts
  src/store/agent/selectors/selectors.ts
Due: Store Layer

lint: Clean up codes
  src/app/[variants]/(main)/home/features/UploadEntries.tsx
  src/features/PageEditor/PageEditorProvider.tsx
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
Due: none

style: Warp title if too long
  src/features/PageEditor/Body/Title.tsx
Due: none

style: update message edit
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/Actions.tsx
  src/features/Conversation/ChatItem/components/MessageContent.tsx
  src/features/Conversation/ChatItem/components/MessageContent/EditableModal.tsx
  src/features/Conversation/ChatItem/components/MessageContent/Typobar.tsx
  src/features/Conversation/ChatItem/components/MessageContent/index.tsx
  src/features/Conversation/ChatItem/style.ts
  src/features/Conversation/Messages/Default.tsx
  src/features/Conversation/hooks/useChatItemContextMenu.tsx
Due: none

🐛 fix: update model for qwen and zenmux
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/zenmux.ts
  packages/model-runtime/src/providers/qwen/index.ts
Due: none

docs: add AI Badgr as OpenAI-compatible backend (base_url override + examples)
  README.md
Due: none

✨ feat: 移除 Mistral Saba 24B 模型，更新 Zenmux 模型的能力描述
  packages/model-bank/src/aiModels/groq.ts
  packages/model-bank/src/aiModels/zenmux.ts
Due: none

feat: supportgetOwnAgents、deprecate、unpublish、publish agent api
  locales/en-US/setting.json
  locales/zh-CN/setting.json
  packages/types/src/discover/assistants.ts
  src/app/(backend)/market/agent/[[...segments]]/route.ts
  src/app/[variants]/(main)/settings/my-agents/features/AgentCard.tsx
  src/app/[variants]/(main)/settings/my-agents/features/AgentDetailDrawer.tsx
  src/app/[variants]/(main)/settings/my-agents/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/locales/default/setting.ts
  src/server/services/discover/index.ts
  src/services/_url.ts
  src/services/marketApi.ts
Due: Services Layer, Server Layer

🐛 fix: prevent multiple sends when generating
  src/features/ChatInput/store/action.ts
Due: none

feat: Add a close button
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
Due: none

feat: Sync folder expand
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

⬆️ chore: update Fork-Sync-With-Upstream-action to v3.4.1
  .github/workflows/sync.yml
Due: none

chore: debug
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  vitest.config.mts
Due: none

✨ feat(database): added `queryTags` for user memory (#10694)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/userMemory/shared.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemory.ts
  src/server/services/memory/userMemory/extract.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

refactor agent service
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agent/index.ts
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/agentRuntime/types.ts
Due: Server Layer

support server agent runtime with integration testing
  .cursor/rules/testing-guide/agent-runtime-e2e.mdc
  next.config.ts
  package.json
  src/app/(backend)/api/workflows/agent/run/route.ts
  src/server/modules/AgentRuntime/AgentRuntimeCoordinator.ts
  src/server/modules/AgentRuntime/GeneralAgent.ts
  src/server/modules/AgentRuntime/InMemoryAgentStateManager.ts
  src/server/modules/AgentRuntime/InMemoryStreamEventManager.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/index.ts
  src/server/modules/AgentRuntime/types.ts
  src/server/routers/lambda/__tests__/aiAgent.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/helpers/openaiMock.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/__tests__/executeSync.test.ts
Due: Server Layer

refactor GeneralChatAgent to agent runtime
  packages/agent-runtime/src/agents/GeneralChatAgent.ts
  packages/agent-runtime/src/agents/__tests__/GeneralChatAgent.test.ts
  packages/agent-runtime/src/agents/index.ts
  packages/agent-runtime/src/index.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

fix aiAgent.integration.test.ts
  packages/agent-runtime/src/types/state.ts
  src/server/modules/AgentRuntime/InMemoryAgentStateManager.ts
  src/server/modules/AgentRuntime/InMemoryStreamEventManager.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/helpers/openaiMock.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
Due: Server Layer

fix aiAgent runByAgentId
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

improve tests
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer

chore: debug
  packages/database/src/models/topic.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix type
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

fix parentId issue
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/__tests__/RuntimeExecutors.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
Due: Server Layer

refactor runByAgentId to execAgent
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/routers/lambda/__tests__/aiAgent.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/agent.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

chore(memory-user-memory): add more attributes to tracing for user memory
  packages/memory-user-memory/src/extractors/base.ts
Due: none

🔨 chore(memory-user-memory): add more attributes to tracing for user memory (#10702)
  packages/memory-user-memory/src/extractors/base.ts
Due: none

fix plugins
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

fix parentId
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/__tests__/RuntimeExecutors.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer
