Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

:recycle: refactor: use adapter & strategy control
  src/config/auth.ts
  src/libs/next-auth/adapter/index.ts
  src/libs/next-auth/auth.config.ts
  src/server/services/nextAuthUser/index.ts
  src/server/services/nextAuthUser/utils.ts
Due: Server Layer, Libraries Layer

:bug: fix: date conversation err
  src/app/(backend)/api/auth/adapter/route.ts
  src/app/(backend)/api/webhooks/logto/route.ts
  src/libs/next-auth/adapter/index.ts
  src/server/services/nextAuthUser/index.ts
Due: Server Layer, Libraries Layer

:recycle: refactor: immediate return
  src/libs/next-auth/adapter/index.ts
Due: Libraries Layer

:recycle: refactor: cascade changes
  packages/utils/src/server/auth.ts
  src/libs/next-auth/edge.ts
  src/libs/next-auth/index.ts
  src/libs/trpc/edge/context.ts
  src/libs/trpc/lambda/context.ts
  src/middleware.ts
  src/server/routers/lambda/user.ts
Due: Server Layer, Libraries Layer

:white_check_mark: test: update auth test
  packages/utils/src/server/__tests__/auth.test.ts
Due: none

:recycle: refactor: cascade changes
  src/server/routers/lambda/user.test.ts
  src/server/routers/lambda/user.ts
Due: Server Layer

:bug: fix: naming
  src/server/services/nextAuthUser/index.ts
Due: Server Layer

:recycle: refactor: migreate
  src/app/[variants]/(auth)/next-auth/signin/AuthSignInBox.tsx
Due: none

:bug: fix: default callbackUrl
  src/app/[variants]/(auth)/next-auth/signin/AuthSignInBox.tsx
Due: none

:bookmark: chore(release): v1.122.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6d/438262b04a82463c19d6ea05f006d29fba96bb
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

🐛 fix: Support base64 image from markdown image syntax (#9054)
  packages/model-runtime/src/utils/streams/openai/openai.test.ts
  packages/model-runtime/src/utils/streams/openai/openai.ts
Due: none

💄 style: Update the price of the o3 model in OpenRouter (#9075)
  packages/model-bank/src/aiModels/openrouter.ts
Due: none

:bookmark: chore(release): v1.122.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  75/9f30e5b74bdf405d70bb1229b8ea0c9d042b5e
Due: none

:bookmark: chore(release): v1.122.0 [skip ci]
  CHANGELOG.md
Due: none

fix
  .github/workflows/docker-database.yml
  .github/workflows/docker-pglite.yml
  .github/workflows/docker.yml
  packages/database/src/models/__tests__/drizzleMigration.test.ts
  packages/database/src/models/__tests__/file.test.ts
  packages/database/src/models/__tests__/session.test.ts
  packages/database/src/server/models/__tests__/user.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
Due: Store Layer

fix
  .github/workflows/docker-database.yml
Due: none

fix
  .github/workflows/docker-pglite.yml
  .github/workflows/docker.yml
Due: none

✅ test: add more tests (#9074)
  packages/database/src/models/__tests__/drizzleMigration.test.ts
  packages/database/src/models/__tests__/file.test.ts
  packages/database/src/models/__tests__/session.test.ts
  packages/database/src/server/models/__tests__/user.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
Due: Store Layer

🤖 style: update i18n (#9062)
  locales/ar/common.json
  locales/bg-BG/common.json
  locales/de-DE/common.json
  locales/en-US/common.json
  locales/es-ES/common.json
  locales/fa-IR/common.json
  locales/fr-FR/common.json
  locales/it-IT/common.json
  locales/ja-JP/common.json
  locales/ko-KR/common.json
  locales/nl-NL/common.json
  locales/pl-PL/common.json
  locales/pt-BR/common.json
  locales/ru-RU/common.json
  locales/tr-TR/common.json
  locales/vi-VN/common.json
  locales/zh-TW/common.json
Due: none

:bookmark: chore(release): v1.122.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3d/671740a31ef7fc7ff7c5df58d7844d0cd6a9b6
Due: none

♻️ refactor: make LobeNextAuthDBAdapter Edge Compatible (#8188)
  packages/database/src/server/models/__tests__/nextauth.test.ts
  packages/utils/src/server/__tests__/auth.test.ts
  packages/utils/src/server/auth.ts
  src/app/(backend)/api/auth/adapter/route.ts
  src/app/(backend)/api/webhooks/logto/route.ts
  src/config/auth.ts
  src/libs/next-auth/adapter/index.ts
  src/libs/next-auth/auth.config.ts
  src/libs/next-auth/edge.ts
  src/libs/next-auth/index.ts
  src/libs/trpc/edge/context.ts
  src/libs/trpc/lambda/context.ts
  src/middleware.ts
  src/server/routers/lambda/user.test.ts
  src/server/routers/lambda/user.ts
  src/server/services/nextAuthUser/index.test.ts
  src/server/services/nextAuthUser/index.ts
  src/server/services/nextAuthUser/utils.ts
Due: Server Layer, Libraries Layer

fix: not use branch topic when this topic is not save
  locales/ar/common.json
  locales/bg-BG/common.json
  locales/de-DE/common.json
  locales/en-US/common.json
  locales/es-ES/common.json
  locales/fa-IR/common.json
  locales/fr-FR/common.json
  locales/it-IT/common.json
  locales/ja-JP/common.json
  locales/ko-KR/common.json
  locales/nl-NL/common.json
  locales/pl-PL/common.json
  locales/pt-BR/common.json
  locales/ru-RU/common.json
  locales/tr-TR/common.json
  locales/vi-VN/common.json
  locales/zh-CN/common.json
  locales/zh-TW/common.json
  src/features/Conversation/components/ChatItem/ActionsBar.tsx
  src/locales/default/common.ts
Due: none

🐛 fix: add usage data to chat completion chunk for stream = false
  packages/model-runtime/src/utils/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/utils/streams/spark.ts
Due: none

✨ feat: 添加 Gemma 3 12B 和 Seed OSS 36B Instruct 模型，更新描述、定价和上下文窗口令牌
  packages/model-bank/src/aiModels/novita.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

🐛 fix: ensure reasoning_content is included in chat completion chunks for non-stream responses
  packages/model-runtime/src/utils/openaiCompatibleFactory/index.ts
Due: none

:bookmark: chore(release): v1.122.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  56/f55da260f909875487bbada8cec9e7f1ea7586
Due: none

Revert "♻️ refactor: make LobeNextAuthDBAdapter Edge Compatible (#8188)"
  packages/database/src/server/models/__tests__/nextauth.test.ts
  packages/utils/src/server/__tests__/auth.test.ts
  packages/utils/src/server/auth.ts
  src/app/(backend)/api/auth/adapter/route.ts
  src/app/(backend)/api/webhooks/logto/route.ts
  src/config/auth.ts
  src/libs/next-auth/adapter/index.ts
  src/libs/next-auth/adapter/utils.ts
  src/libs/next-auth/auth.config.ts
  src/libs/next-auth/edge.ts
  src/libs/next-auth/index.ts
  src/libs/trpc/edge/context.ts
  src/libs/trpc/lambda/context.ts
  src/middleware.ts
  src/server/routers/lambda/user.test.ts
  src/server/routers/lambda/user.ts
  src/server/services/nextAuthUser/index.test.ts
  src/server/services/nextAuthUser/index.ts
Due: Server Layer, Libraries Layer

👷 build: Revert "♻️ refactor: make LobeNextAuthDBAdapter Edge Compatible" (#9086)
  packages/database/src/server/models/__tests__/nextauth.test.ts
  packages/utils/src/server/__tests__/auth.test.ts
  packages/utils/src/server/auth.ts
  src/app/(backend)/api/auth/adapter/route.ts
  src/app/(backend)/api/webhooks/logto/route.ts
  src/config/auth.ts
  src/libs/next-auth/adapter/index.ts
  src/libs/next-auth/adapter/utils.ts
  src/libs/next-auth/auth.config.ts
  src/libs/next-auth/edge.ts
  src/libs/next-auth/index.ts
  src/libs/trpc/edge/context.ts
  src/libs/trpc/lambda/context.ts
  src/middleware.ts
  src/server/routers/lambda/user.test.ts
  src/server/routers/lambda/user.ts
  src/server/services/nextAuthUser/index.test.ts
  src/server/services/nextAuthUser/index.ts
Due: Server Layer, Libraries Layer

Update packages/model-runtime/src/newapi/index.ts
  packages/model-runtime/src/newapi/index.ts
Due: none

🐛 fix: correct baseURL configuration and add comprehensive tests for NewAPI
  packages/model-runtime/src/newapi/index.test.ts
  packages/model-runtime/src/newapi/index.ts
Due: none

🧪 test: implement 100% branch coverage for NewAPI runtime
  packages/model-runtime/src/newapi/index.test.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
