Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

✨ feat: 添加 Kimi K2 0905 模型，更新上下文窗口令牌和定价策略
  packages/model-bank/src/aiModels/modelscope.ts
  packages/model-bank/src/aiModels/novita.ts
Due: none

chore(mobile): update i18n
  apps/mobile/locales/ar/error.json
  apps/mobile/locales/ar/setting.json
  apps/mobile/locales/bg-BG/error.json
  apps/mobile/locales/bg-BG/setting.json
  apps/mobile/locales/de-DE/error.json
  apps/mobile/locales/de-DE/setting.json
  apps/mobile/locales/en-US/error.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/es-ES/error.json
  apps/mobile/locales/es-ES/setting.json
  apps/mobile/locales/fa-IR/error.json
  apps/mobile/locales/fa-IR/setting.json
  apps/mobile/locales/fr-FR/error.json
  apps/mobile/locales/fr-FR/setting.json
  apps/mobile/locales/it-IT/error.json
  apps/mobile/locales/it-IT/setting.json
  apps/mobile/locales/ja-JP/error.json
  apps/mobile/locales/ja-JP/setting.json
  apps/mobile/locales/ko-KR/error.json
  apps/mobile/locales/ko-KR/setting.json
  apps/mobile/locales/nl-NL/error.json
  apps/mobile/locales/nl-NL/setting.json
  apps/mobile/locales/pl-PL/error.json
  apps/mobile/locales/pl-PL/setting.json
  apps/mobile/locales/pt-BR/error.json
  apps/mobile/locales/pt-BR/setting.json
  apps/mobile/locales/ru-RU/error.json
  apps/mobile/locales/ru-RU/setting.json
  apps/mobile/locales/tr-TR/error.json
  apps/mobile/locales/tr-TR/setting.json
  apps/mobile/locales/vi-VN/error.json
  apps/mobile/locales/vi-VN/setting.json
  apps/mobile/locales/zh-CN/error.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/locales/zh-TW/error.json
  apps/mobile/locales/zh-TW/setting.json
  apps/mobile/src/i18n/default/setting.ts
Due: none

:bookmark: chore(release): v1.123.0 [skip ci]
  CHANGELOG.md
Due: none

✨ feat: enhance NewAPI with environment variables and fix routers compatibility
  .env.example
  Dockerfile
  Dockerfile.database
  Dockerfile.pglite
  docs/self-hosting/environment-variables/model-provider.mdx
  docs/self-hosting/environment-variables/model-provider.zh-CN.mdx
  locales/zh-CN/modelProvider.json
  packages/model-runtime/src/newapi/index.test.ts
  packages/model-runtime/src/newapi/index.ts
  src/app/[variants]/(main)/settings/provider/(detail)/newapi/page.tsx
  src/config/llm.ts
  src/locales/default/modelProvider.ts
Due: none

style(mobile): configuration
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ConfigurationSection/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ConfigurationSection/style.ts
Due: none

Update lambda.ts
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

♻️ refactor: refactor to use trpc client link chain (#9107)
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

♻️ refactor: remove edge runtime (#9085)
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/anthropic/route.test.ts
  src/app/(backend)/webapi/chat/anthropic/route.ts
  src/app/(backend)/webapi/chat/google/route.test.ts
  src/app/(backend)/webapi/chat/google/route.ts
  src/app/(backend)/webapi/chat/groq/route.test.ts
  src/app/(backend)/webapi/chat/groq/route.ts
  src/app/(backend)/webapi/chat/openai/route.test.ts
  src/app/(backend)/webapi/chat/openai/route.ts
  src/app/(backend)/webapi/chat/vertexai/route.ts
Due: none

:bookmark: chore(release): v1.123.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  57/47239625cfb57f6323470ea9f08e2232a496af
Due: none

fix tests
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
Due: Store Layer

✨ feat: Add BurnCloud document
  .env.example
  Dockerfile
  Dockerfile.database
  Dockerfile.pglite
  docs/self-hosting/environment-variables/model-provider.mdx
  docs/self-hosting/environment-variables/model-provider.zh-CN.mdx
  locales/ar/providers.json
  locales/bg-BG/providers.json
  locales/de-DE/providers.json
  locales/en-US/providers.json
  locales/es-ES/providers.json
  locales/fa-IR/providers.json
  locales/fr-FR/providers.json
  locales/it-IT/providers.json
  locales/ja-JP/providers.json
  locales/ko-KR/providers.json
  locales/nl-NL/providers.json
  locales/pl-PL/providers.json
  locales/pt-BR/providers.json
  locales/ru-RU/providers.json
  locales/tr-TR/providers.json
  locales/vi-VN/providers.json
  locales/zh-CN/providers.json
  locales/zh-TW/providers.json
Due: none

:sparkles: feat: add BurnCloud Provider
  packages/model-bank/src/aiModels/burncloud.ts
  packages/model-bank/src/aiModels/index.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/model-runtime/src/types/type.ts
  packages/types/src/user/settings/keyVaults.ts
  src/app/[variants]/(main)/settings/llm/ProviderList/providers.tsx
  src/config/llm.ts
  src/config/modelProviders/burncloud.ts
  src/config/modelProviders/index.ts
  src/libs/model-runtime/burncloud/index.ts
Due: Libraries Layer

feat: add TextInput Component
  apps/mobile/app/(discover)/assistant/list/index.tsx
  apps/mobile/app/playground/components/textinput.tsx
  apps/mobile/app/playground/index.tsx
  apps/mobile/app/playground/utils.ts
  apps/mobile/src/components/TextInput/demos/basic.tsx
  apps/mobile/src/components/TextInput/demos/index.ts
  apps/mobile/src/components/TextInput/demos/prefix.tsx
  apps/mobile/src/components/TextInput/index.tsx
  apps/mobile/src/components/TextInput/style.ts
Due: none

chore: replace Playground and Sidebar TextInput
  apps/mobile/app/playground/index.tsx
  apps/mobile/app/playground/styles.ts
  apps/mobile/src/components/TextInput/style.ts
  apps/mobile/src/components/index.ts
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
Due: none

✨ feat: add BurnCloud Provider
  packages/model-runtime/src/burncloud/index.ts
  src/libs/model-runtime/burncloud/index.ts
Due: Libraries Layer

feat: add TextInput.Search and Password, suffix and replace inplace
  apps/mobile/app/(discover)/assistant/list/components/SkeletonList.tsx
  apps/mobile/app/(discover)/assistant/list/index.tsx
  apps/mobile/app/(discover)/assistant/list/styles.ts
  apps/mobile/app/(main)/chat/(components)/ChatInput/index.tsx
  apps/mobile/app/(main)/chat/(components)/ChatInput/style.ts
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ConfigurationSection/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ConfigurationSection/style.ts
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ModelsSection/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ModelsSection/style.ts
  apps/mobile/app/playground/components/textinput.tsx
  apps/mobile/app/playground/index.tsx
  apps/mobile/src/components/TextInput/demos/compound.tsx
  apps/mobile/src/components/TextInput/demos/index.ts
  apps/mobile/src/components/TextInput/demos/suffix.tsx
  apps/mobile/src/components/TextInput/index.tsx
  apps/mobile/src/components/TextInput/style.ts
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
Due: none

fix mobile
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatInput/Mobile/index.tsx
Due: none

chore: 重构项目 TextInput 使用
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ConfigurationSection/index.tsx
  apps/mobile/app/playground/components/textinput.tsx
  apps/mobile/app/playground/components/theme-token/(components)/TokenTable/index.tsx
  apps/mobile/app/playground/components/theme-token/(components)/TokenTable/style.ts
  apps/mobile/app/playground/components/theme-token/index.tsx
  apps/mobile/app/playground/components/theme-token/style.ts
  apps/mobile/src/components/TextInput/demos/index.ts
  apps/mobile/src/components/TextInput/demos/password.tsx
  apps/mobile/src/components/TextInput/demos/search.tsx
Due: none

Refactor: Update branding and URL constants, remove desktop routes
  packages/const/src/branding.ts
  packages/const/src/url.ts
  src/app/(backend)/trpc/desktop/[trpc]/route.ts
  src/app/[variants]/(main)/chat/settings/features/SubmitAgentButton/SubmitAgentModal.tsx
  src/app/[variants]/(main)/discover/features/CreateButton/Inner.tsx
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
  src/features/DataImporter/Error.tsx
  src/features/FileViewer/NotSupport/index.tsx
  src/libs/oidc-provider/provider.ts
Due: Libraries Layer

✨ feat: 更新 Doubao Seed 模型的部署名称和最大输出，调整上下文窗口令牌
  packages/model-bank/src/aiModels/volcengine.ts
Due: none

✨ feat: 添加 Qwen3 Max Preview 模型，更新上下文窗口令牌和定价策略
  packages/model-bank/src/aiModels/qwen.ts
Due: none

Refactor: Rename LobeHub to ImoogleAI and update branding
  locales/en-US/chat.json
  locales/en-US/plugin.json
  packages/const/src/branding.ts
  packages/const/src/guide.ts
  src/libs/oidc-provider/provider.ts
  src/locales/default/chat.ts
  src/locales/default/plugin.ts
Due: Libraries Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

Refactor: Update app loading text to include ImoogleAI
  locales/en-US/common.json
  src/locales/default/common.ts
Due: none

:bookmark: chore(release): v1.124.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  92/6577302eee7cc3226733227f176caeb2fd101b
Due: none

add more tests
  src/store/chat/slices/aiChat/actions/__tests__/cancel-functionality.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

update tests
  src/store/chat/slices/aiChat/actions/__tests__/cancel-functionality.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
Due: Store Layer

improve
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  src/features/ChatInput/Desktop/index.tsx
  src/locales/default/chat.ts
Due: none

🐛 fix: 移除 CometAPI 中的 chatModels 列表以简化配置
  src/config/modelProviders/cometapi.ts
Due: none

✨ feat: 添加 CometAPI 模型支持及相关配置
  packages/model-bank/package.json
  packages/model-bank/src/aiModels/cometapi.ts
  packages/model-bank/src/aiModels/index.ts
  packages/model-runtime/src/cometapi/index.ts
  packages/model-runtime/src/index.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/model-runtime/src/types/type.ts
  packages/types/src/user/settings/keyVaults.ts
  src/config/llm.ts
  src/config/modelProviders/cometapi.ts
  src/config/modelProviders/index.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
