Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix plugins
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

move to /api/agent
  src/app/(backend)/api/agent/isEnableAgent.ts
  src/app/(backend)/api/agent/route.ts
  src/app/(backend)/api/agent/run/route.ts
  src/app/(backend)/api/agent/stream/__tests__/route.test.ts
  src/app/(backend)/api/agent/stream/route.ts
  src/server/routers/lambda/__tests__/aiAgent.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/aiAgent/index.ts
  src/services/agentRuntime/__tests__/client.test.ts
  src/services/agentRuntime/client.ts
Due: Services Layer, Server Layer

refactor for pure api call
  src/app/(backend)/api/workflows/agent/route.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/aiAgent/index.ts
Due: Server Layer

improve tests
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer

fix aiAgent.integration.test.ts
  packages/agent-runtime/src/types/state.ts
  src/server/modules/AgentRuntime/InMemoryAgentStateManager.ts
  src/server/modules/AgentRuntime/InMemoryStreamEventManager.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/helpers/openaiMock.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
Due: Server Layer

refactor runByAgentId to execAgent
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/routers/lambda/__tests__/aiAgent.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/agent.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

fix parentId issue
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/__tests__/RuntimeExecutors.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
Due: Server Layer

🔨 chore(memory-user-memory): add more attributes to tracing for user memory (#10702)
  packages/memory-user-memory/src/extractors/base.ts
Due: none

fix topic list
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/__tests__/RuntimeExecutors.test.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Server Layer

fix type
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

🐛 fix(memory-user-memory): existing memory not being passed as context of gatekeeper (#10703)
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
Due: none

refactor agent service
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agent/index.ts
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/agentRuntime/types.ts
Due: Server Layer

refactor GeneralChatAgent to agent runtime
  packages/agent-runtime/src/agents/GeneralChatAgent.ts
  packages/agent-runtime/src/agents/__tests__/GeneralChatAgent.test.ts
  packages/agent-runtime/src/agents/index.ts
  packages/agent-runtime/src/index.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

style: update ChatItem
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/Actions.tsx
  src/features/Conversation/ChatItem/components/Avatar.tsx
  src/features/Conversation/ChatItem/components/BorderSpacing.tsx
  src/features/Conversation/ChatItem/components/ErrorContent.tsx
  src/features/Conversation/ChatItem/components/MessageContent/index.tsx
  src/features/Conversation/ChatItem/components/Title.tsx
  src/features/Conversation/ChatItem/style.ts
Due: none

style: update ChatItem
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/MessageContent/index.tsx
  src/features/Conversation/ChatItem/style.ts
  src/features/Conversation/ChatItem/type.ts
  src/features/Conversation/ChatList/components/BackBottom/index.tsx
  src/features/Conversation/ChatList/components/BackBottom/style.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/Assistant/useAssistantActions.ts
  src/features/Conversation/Messages/AssistantGroup/GroupItem.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/AssistantGroup/useGroupActions.ts
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/features/Conversation/Messages/User/useUserActions.ts
  src/features/Conversation/components/ContextMenu.tsx
  src/features/Conversation/hooks/useDoubleClickEdit.ts
Due: none

style: update ChatItem
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Actions/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/AssistantGroup/useGroupActions.ts
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/Messages/User/useUserActions.ts
Due: none

🐛 fix(memory-user-memory): populate source id, user id, langauge, tuned language of extractors (#10709)
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/prompts/gatekeeper.md
  packages/memory-user-memory/src/prompts/layers/context.md
  packages/memory-user-memory/src/prompts/layers/experience.md
  packages/memory-user-memory/src/prompts/layers/identity.md
  packages/memory-user-memory/src/prompts/layers/preference.md
  packages/memory-user-memory/src/types.ts
Due: none

style: Masonry item style
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/DefaultFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/ImageFileItem.tsx
Due: none

fix: flushSync error
  src/features/PageEditor/StoreUpdater.tsx
Due: none

style: update ChatItem
  src/features/Conversation/components/SkeletonList.tsx
Due: none

support grouping
  packages/model-runtime/src/core/streams/protocol.test.ts
  packages/model-runtime/src/core/streams/protocol.ts
  packages/model-runtime/src/types/chat.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/StreamEventManager.ts
Due: Server Layer

refactor to remove feature flag
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/useDropdownMenu.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/useDropdownMenu.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/app/[variants]/(mobile)/(home)/_layout/SessionHeader.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/CollapseGroup/Actions.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/List/index.tsx
  src/config/featureFlags/schema.test.ts
  src/config/featureFlags/schema.ts
  src/features/AgentSetting/AgentCategory/useCategory.tsx
  src/features/ChatInput/ActionBar/Tools/index.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/store/serverConfig/store.test.ts
Due: Store Layer

feat: Context arwraing commands
  src/features/CommandMenu/ContextCommands.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
  src/features/CommandMenu/types.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/features/CommandMenu/utils/context.ts
  src/features/CommandMenu/utils/contextCommands.ts
Due: none

✨ feat(database,memory-user-memory): include `traceId` of memory extraction into topic metadata (#10713)
  packages/memory-user-memory/src/providers/chatTopic.ts
  packages/types/src/topic/topic.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix: Auto save not working if only modify title
  package.json
  src/features/PageEditor/store/action.ts
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
Due: none

style: Adjust editor background
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/features/PageEditor/PageEditor.tsx
Due: none

feat(observability-otel,memory-user-memory): expand resource attributes to include Vercel & Node.js attributes (#10712)
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/obervability-otel/src/node.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

feat: Add more navigation commands
  src/features/CommandMenu/MainMenu.tsx
  src/locales/default/common.ts
Due: none

update api agent
  src/proxy.ts
Due: none

style: update ChatItem
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/index.tsx
Due: none

style: update memory
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/home/action.ts
  src/store/userMemory/slices/home/index.ts
  src/store/userMemory/store.ts
Due: Store Layer

feat: New drag style
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/index.tsx
  src/features/ResourceManager/components/Explorer/MoveToFolderModal.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
  src/features/ResourceManager/components/Tree/index.tsx
  src/server/routers/lambda/file.ts
  src/store/file/slices/fileManager/action.test.ts
  src/store/file/slices/fileManager/action.ts
  src/store/file/slices/fileManager/initialState.ts
  src/store/file/slices/fileManager/selectors.ts
Due: Store Layer, Server Layer

style: update Minimap
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/MinimapIndicator.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/styles.ts
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/types.ts
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/useMinimapData.ts
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/utils.ts
Due: none

style: update ChatItem
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/MessageContent/index.tsx
  src/features/Conversation/ChatItem/type.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Actions/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Actions/useGroupActions.ts
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

lint: Clean up code
  src/features/PageEditor/PageEditor.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Header/hooks/useUploadFolder.ts
Due: none

fix: Cannot go topic
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/utils/contextCommands.ts
Due: none

style: update Share
  src/features/ShareModal/ShareImage/ChatList/index.tsx
  src/features/ShareModal/ShareImage/index.tsx
  src/features/ShareModal/ShareJSON/Preview.tsx
  src/features/ShareModal/ShareText/Preview.tsx
  src/features/ShareModal/index.tsx
Due: none

feat: Select own agent
  src/app/[variants]/(main)/page/_layout/Body/index.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Editor/index.tsx
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
Due: Store Layer, Services Layer, Server Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
