Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix: Add CometAPI export to model-bank, remove CometAPIProviderCard from ProviderList
  packages/model-bank/package.json
  src/app/[variants]/(main)/settings/llm/ProviderList/providers.tsx
Due: none

✨ feat: 更新 Groq 模型的描述和显示名称，调整 ID 格式
  packages/model-bank/src/aiModels/groq.ts
Due: none

fix
  packages/const/src/index.ts
  packages/types/src/index.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

refactor send message
  packages/database/src/models/topic.ts
  packages/types/src/aiChat.ts
  packages/types/src/index.ts
  packages/utils/src/index.ts
  src/server/routers/lambda/aiChat.ts
  src/server/routers/lambda/index.ts
  src/server/services/aiChat/index.ts
  src/services/aiChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/aiChat/actions/index.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/message/reducer.ts
  src/store/chat/slices/topic/reducer.ts
Due: Store Layer, Services Layer, Server Layer

support message rag data
  packages/database/src/models/message.ts
  packages/types/src/message/base.ts
  packages/types/src/message/index.ts
  packages/types/src/message/rag.ts
  src/server/routers/lambda/aiChat.ts
  src/server/routers/lambda/message.ts
  src/server/services/aiChat/index.ts
  src/services/message/_deprecated.ts
  src/services/message/client.ts
  src/services/message/server.ts
  src/services/message/type.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/message/action.ts
Due: Store Layer, Services Layer, Server Layer

fix tests
  packages/const/src/session.ts
  packages/types/src/index.ts
Due: none

fix lint
  packages/types/src/message/base.ts
  packages/types/src/message/chat.ts
Due: none

style: add model search setting when search ability = true and remove when false
  packages/database/src/repositories/aiInfra/index.test.ts
  packages/database/src/repositories/aiInfra/index.ts
Due: none

fix: delete sync page & refactor useActiveSettingsKey hook
  src/app/[variants]/(main)/profile/@category/features/CategoryContent.tsx
  src/app/[variants]/(main)/settings/_layout/Desktop/Header.tsx
  src/app/[variants]/(main)/settings/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/settings/_layout/Mobile/Header.tsx
  src/hooks/useActiveTabKey.ts
  src/store/global/initialState.ts
Due: Store Layer

add tests
  packages/database/src/models/__tests__/message.test.ts
  packages/utils/src/object.test.ts
  src/server/routers/lambda/__tests__/message.test.ts
  src/server/routers/lambda/aiChat.test.ts
  src/server/services/aiChat/index.test.ts
Due: Server Layer

fix: replace useContext to use
  src/app/[variants]/(main)/settings/_layout/ContextProvider/index.tsx
  src/app/[variants]/(main)/settings/provider/(list)/index.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/All.tsx
Due: none

fix bug
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

✨ feat: refactor to speed up send message in server mode (#9046)
  packages/const/src/index.ts
  packages/const/src/session.ts
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
  packages/database/src/models/topic.ts
  packages/types/src/aiChat.ts
  packages/types/src/index.ts
  packages/types/src/message/base.ts
  packages/types/src/message/chat.ts
  packages/types/src/message/index.ts
  packages/types/src/message/rag.ts
  packages/utils/src/index.ts
  packages/utils/src/object.test.ts
  src/server/routers/lambda/__tests__/message.test.ts
  src/server/routers/lambda/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/message.ts
  src/server/services/aiChat/index.test.ts
  src/server/services/aiChat/index.ts
  src/services/aiChat.ts
  src/services/message/_deprecated.ts
  src/services/message/client.ts
  src/services/message/server.ts
  src/services/message/type.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/aiChat/actions/index.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/message/reducer.ts
  src/store/chat/slices/topic/reducer.ts
Due: Store Layer, Services Layer, Server Layer

fix build
  next.config.ts
Due: none

🔨 chore: fix webpack build OOM (#9066)
  next.config.ts
Due: none

:bookmark: chore(release): v1.122.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

🐛 fix(modelProvider): add lmstudio to provider whitelist to enable fetchOnClient toggle
  src/store/aiInfra/slices/aiProvider/selectors.ts
  src/store/user/slices/modelList/selectors/modelConfig.ts
Due: Store Layer

Notes added by 'git notes add'
  61/2866dea1085d3d6f25dd87ceefb34849403c7d
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

feat: added docker-compose configuration files for Grafana, Prometheus, and Tempo, Otel stacks
  docker-compose.development.yml
  docker-compose/local/grafana/.env.example
  docker-compose/local/grafana/.env.zh-CN.example
  docker-compose/local/grafana/docker-compose.yml
  docker-compose/local/grafana/grafana/dashboards/.gitkeep
  docker-compose/local/grafana/grafana/datasources/datasource-prometheus.yaml
  docker-compose/local/grafana/grafana/datasources/datasource-tempo.yaml
  docker-compose/local/grafana/otel-collector/collector-config.yaml
  docker-compose/local/grafana/prometheus/prometheus.yml
  docker-compose/local/grafana/tempo/tempo.yaml
  docker-compose/production/grafana/.env.example
  docker-compose/production/grafana/.env.zh-CN.example
  docker-compose/production/grafana/docker-compose.yml
  docker-compose/production/grafana/grafana/dashboards/.gitkeep
  docker-compose/production/grafana/grafana/datasources/datasource-prometheus.yaml
  docker-compose/production/grafana/grafana/datasources/datasource-tempo.yaml
  docker-compose/production/grafana/otel-collector/collector-config.yaml
  docker-compose/production/grafana/prometheus/prometheus.yml
  docker-compose/production/grafana/tempo/tempo.yaml
Due: none

docs: added docs for deploying production level Grafana stack
  docs/self-hosting/advanced/observability/grafana.mdx
  docs/self-hosting/advanced/observability/grafana.zh-CN.mdx
Due: none

try to fix docker build issue
  .github/workflows/docker-database.yml
  .github/workflows/docker-pglite.yml
  .github/workflows/docker.yml
  Dockerfile
  Dockerfile.database
  Dockerfile.pglite
Due: none

feat: integrated otel for instrumenting backend side of Next.js
  package.json
  src/instrumentation.node.ts
  src/instrumentation.ts
Due: none

replace
  .github/workflows/docker-database.yml
  .github/workflows/docker-pglite.yml
  .github/workflows/docker.yml
Due: none

Update openrouter o3 price
  packages/model-bank/src/aiModels/openrouter.ts
Due: none

fix build
  package.json
Due: none

✨ feat: 更新 Novita 模型的上下文窗口令牌和定价策略
  packages/model-bank/src/aiModels/novita.ts
Due: none

feat: use next/dynamic to replace react lazy
  src/app/[variants]/(main)/settings/_layout/SettingsContent.tsx
Due: none

feat: fix next link herf error
  packages/database/src/repositories/aiInfra/index.ts
  src/app/[variants]/(main)/discover/(detail)/provider/[...slugs]/features/Sidebar/ActionButton/ProviderConfig.tsx
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/components/ModelSelect.tsx
  src/app/[variants]/(main)/settings/provider/(list)/ProviderGrid/Card.tsx
  src/app/[variants]/(main)/settings/provider/features/CreateNewProvider/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ProviderConfig/UpdateProviderInfo/SettingModal.tsx
  src/features/ModelSwitchPanel/index.tsx
Due: none

👷 build: fix docker build issue (#9070)
  Dockerfile
  Dockerfile.database
  Dockerfile.pglite
  package.json
Due: none

fix: change some wrong url & delete useless page
  apps/desktop/src/main/controllers/__tests__/BrowserWindowsCtr.test.ts
  src/app/[variants]/(main)/settings/system-agent/page.tsx
  src/app/[variants]/(main)/settings/tts/page.tsx
  src/features/MobileTabBar/index.tsx
  src/hooks/useInterceptingRoutes.test.ts
Due: none

update docs
  README.md
Due: none

:bookmark: chore(release): v1.122.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  14/ac6d151592db37f74d23ab61014b2281fd403d
Due: none

📝 docs: update README (#9079)
  README.md
Due: none

🐛 fix(modelProvider): add lmstudio to provider whitelist to enable fetchOnClient toggle (#9067)
  src/store/aiInfra/slices/aiProvider/selectors.ts
  src/store/user/slices/modelList/selectors/modelConfig.ts
Due: Store Layer

:white_check_mark: test: no longer need not impl err
  src/server/routers/lambda/user.test.ts
Due: Server Layer

:recycle: refactor: improve codes & remove tests
  packages/database/src/server/models/__tests__/nextauth.test.ts
  src/app/(backend)/api/auth/adapter/route.ts
  src/libs/next-auth/adapter/index.ts
  src/server/services/nextAuthUser/index.test.ts
  src/server/services/nextAuthUser/index.ts
Due: Server Layer, Libraries Layer

:recycle: refactor: make adapter edge compatible
  src/app/(backend)/api/auth/adapter/route.ts
  src/libs/next-auth/adapter/index.ts
  src/server/services/nextAuthUser/index.ts
Due: Server Layer, Libraries Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
