Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: dynamic locale load
  apps/mobile/app/(main)/setting/locale/index.tsx
  apps/mobile/src/hooks/useLocale.ts
  apps/mobile/src/i18n/index.ts
Due: none

💄 style: Add hotkey tooltip to typobar actions (#9203)
  package.json
  src/features/ChatInput/ActionBar/index.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/features/ChatInput/InputEditor/index.tsx
  src/features/ChatInput/TypoBar/index.tsx
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

:bookmark: chore(release): v1.127.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a4/9422b3228d3e16412dbdc50b5122c4b39285ed
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

chore: remove updates enable false
  apps/mobile/app.json
Due: none

chore: prepare for build (#9204)
  apps/mobile/app/(main)/setting/(components)/SettingItem/index.tsx
  apps/mobile/app/(main)/setting/fontSize/index.tsx
  apps/mobile/app/(main)/setting/fontSize/styles.ts
  apps/mobile/app/(main)/setting/locale/index.tsx
  apps/mobile/locales/ar/setting.json
  apps/mobile/locales/bg-BG/setting.json
  apps/mobile/locales/de-DE/setting.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/es-ES/setting.json
  apps/mobile/locales/fa-IR/setting.json
  apps/mobile/locales/fr-FR/setting.json
  apps/mobile/locales/it-IT/setting.json
  apps/mobile/locales/ja-JP/setting.json
  apps/mobile/locales/ko-KR/setting.json
  apps/mobile/locales/nl-NL/setting.json
  apps/mobile/locales/pl-PL/setting.json
  apps/mobile/locales/pt-BR/setting.json
  apps/mobile/locales/ru-RU/setting.json
  apps/mobile/locales/tr-TR/setting.json
  apps/mobile/locales/vi-VN/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/locales/zh-TW/setting.json
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/Slider/index.tsx
  apps/mobile/src/components/Slider/style.ts
  apps/mobile/src/hooks/useLocale.ts
  apps/mobile/src/i18n/default/setting.ts
  apps/mobile/src/i18n/index.ts
  apps/mobile/src/utils/tokenizer/client.ts
  apps/mobile/tsconfig.json
Due: none

fix remove message
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/message/action.ts
Due: Store Layer

make wideScreen default false
  src/store/global/action.test.ts
  src/store/global/actions/__tests__/general.test.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
Due: Store Layer

improve topic generate and add tests for delete
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

feat: pwa installer popup feature flag
  src/config/featureFlags/schema.ts
  src/server/routers/lambda/user.test.ts
  src/server/routers/lambda/user.ts
  src/store/serverConfig/selectors.test.ts
Due: Store Layer, Server Layer

chore: cleanup
  src/server/routers/lambda/user.ts
  src/store/serverConfig/selectors.test.ts
Due: Store Layer, Server Layer

chore: added flag to documentation
  docs/self-hosting/advanced/feature-flags.mdx
Due: none

refactor
  src/store/global/action.test.ts
  src/store/global/actions/__tests__/general.test.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

fix tests
  src/store/global/action.test.ts
  src/store/global/actions/__tests__/general.test.ts
Due: Store Layer

📝 docs: consolidate image generation docs with server database setup (#9096)
  .gitignore
  docs/development/basic/image-generation-setup.mdx
  docs/development/basic/image-generation-setup.zh-CN.mdx
  docs/development/basic/setup-development.mdx
  docs/development/basic/setup-development.zh-CN.mdx
  docs/development/basic/work-with-server-side-database.mdx
  docs/development/basic/work-with-server-side-database.zh-CN.mdx
  scripts/setup-image-generation-dev.sh
Due: none

Update error.html
  apps/desktop/resources/error.html
Due: none

Update splash.html
  apps/desktop/resources/splash.html
Due: none

Update branding.ts
  packages/const/src/branding.ts
Due: none

Update common.ts
  packages/const/src/settings/common.ts
Due: none

Update tts.ts
  packages/const/src/settings/tts.ts
Due: none

Update common.json
  locales/en-US/common.json
Due: none

Update plugin.json
  locales/en-US/plugin.json
Due: none

Update welcome.json
  locales/en-US/welcome.json
Due: none

Update setting.json
  locales/en-US/setting.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

Delete changelog directory
  changelog/CHANGELOG.v0.md
  changelog/v0.json
  changelog/v1.json
Due: none

🐛 fix: fix not remove message with server mode (#9207)
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/message/action.ts
  src/store/global/action.test.ts
  src/store/global/actions/__tests__/general.test.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

add test
  packages/model-runtime/src/ai302/index.test.ts
  packages/model-runtime/src/aihubmix/index.test.ts
  packages/model-runtime/src/cometapi/index.test.ts
  packages/model-runtime/src/higress/index.test.ts
  packages/model-runtime/src/infiniai/index.test.ts
  packages/model-runtime/src/siliconcloud/index.test.ts
  packages/model-runtime/src/types/error.test.ts
  packages/model-runtime/src/types/toolsCalling.test.ts
  packages/model-runtime/src/types/type.test.ts
  packages/model-runtime/src/utils/createError.test.ts
  packages/model-runtime/src/utils/handleOpenAIError.test.ts
  packages/model-runtime/src/utils/postProcessModelList.test.ts
  packages/model-runtime/src/utils/response.test.ts
  packages/model-runtime/src/utils/streams/model.test.ts
  packages/model-runtime/src/utils/streams/utils.test.ts
  packages/model-runtime/src/utils/uuid.test.ts
  packages/model-runtime/src/vertexai/index.test.ts
  packages/model-runtime/src/vllm/index.test.ts
  packages/model-runtime/src/xinference/index.test.ts
  src/libs/mcp/__tests__/client.test.ts
  src/libs/mcp/__tests__/index.test.ts
  src/libs/mcp/__tests__/types.test.ts
  src/libs/oidc-provider/__tests__/adapter.test.ts
  src/libs/oidc-provider/__tests__/config.test.ts
  src/libs/oidc-provider/__tests__/http-adapter.test.ts
  src/libs/oidc-provider/__tests__/interaction-policy.test.ts
  src/libs/oidc-provider/__tests__/jwt.test.ts
  src/libs/oidc-provider/__tests__/provider.test.ts
Due: Libraries Layer

test prebuild type-check
  next.config.ts
  package.json
Due: none

更新 package.json
  package.json
Due: none

test again
  next.config.ts
  package.json
Due: none

try
  package.json
Due: none

try again
  package.json
Due: none

:bookmark: chore(release): v1.127.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
