Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix portal thread create display
  src/features/Conversation/store/index.ts
Due: none

🐛 fix(streaming): enhance image upload handling for multimodal content
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

fix: update mcp call fc
  src/libs/mcp/__tests__/index.test.ts
  src/libs/mcp/client.ts
  src/server/routers/lambda/market/index.ts
  src/server/routers/tools/mcp.ts
  src/server/services/mcp/index.ts
  src/services/mcp.ts
  src/store/tool/slices/mcpStore/action.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

🔧 test: update expected table count in TableViewerRepo test
  packages/database/src/repositories/tableViewer/index.test.ts
Due: none

✨ feat: handle parentId chain in deleteMessages reducer for optimistic update
  src/features/Conversation/store/slices/data/reducer.test.ts
  src/features/Conversation/store/slices/data/reducer.ts
Due: none

update tests
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/message.ts
Due: none

fix delete parentId
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/message.ts
Due: none

fix delete parentId in the frontend
  src/features/Conversation/store/slices/message/action/crud.test.ts
  src/features/Conversation/store/slices/message/action/crud.ts
Due: none

fix: update test.ts
  src/store/tool/slices/mcpStore/action.test.ts
Due: Store Layer

feat: Drag to move
  package.json
  packages/types/src/document/index.ts
  src/app/[variants]/(main)/resource/index.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
Due: Store Layer, Services Layer, Server Layer

feat: Move multiple items at one time
  src/app/[variants]/(main)/resource/index.tsx
  src/app/[variants]/(main)/resource/store/action.ts
  src/app/[variants]/(main)/resource/store/initialState.ts
  src/features/ResourceManager/FileExplorer/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/FileExplorer/index.tsx
Due: none

🐛 fix(topic): collect nested message IDs from assistantGroup in topic creation
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer

🐛 fix: delete message with parentId (#10524)
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/message.ts
  src/features/Conversation/store/slices/data/reducer.test.ts
  src/features/Conversation/store/slices/data/reducer.ts
  src/features/Conversation/store/slices/message/action/crud.test.ts
  src/features/Conversation/store/slices/message/action/crud.ts
Due: none

fix height
  src/features/Conversation/ChatList/index.tsx
Due: none

feat: delete client type cloud ts
  src/libs/mcp/__tests__/index.test.ts
  src/libs/mcp/client.ts
  src/libs/mcp/types.ts
  src/server/routers/tools/mcp.ts
Due: Server Layer, Libraries Layer

🐛 fix(topic): optimize file deletion logic for Code Interpreter plugin by removing unused checks
  src/server/routers/lambda/topic.ts
Due: Server Layer

feat(chat): collect nested message IDs from assistantGroup in topic creation
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer

feat: Drag to root
  src/app/[variants]/(main)/resource/index.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/PageExplorer/DocumentActions.tsx
  src/features/ResourceManager/PageExplorer/DocumentEditorPlaceholder.tsx
  src/features/ResourceManager/PageExplorer/DocumentListItem.tsx
  src/features/ResourceManager/PageExplorer/PageEditor.tsx
  src/features/ResourceManager/PageExplorer/hooks/usePageEditor.ts
  src/features/ResourceManager/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: integrate idGenerator into better-auth for consistent user ID generation
  packages/database/src/index.ts
  src/auth.ts
Due: none

chore: add migration scripts
  docs/development/database-schema.dbml
  packages/database/migrations/0054_better_auth_indexes.sql
  packages/database/migrations/0054_better_auth_two_factor.sql
  packages/database/migrations/meta/0054_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

✨ feat: add emoji reaction feature for messages
  packages/context-engine/src/processors/ReactionFeedback.ts
  packages/context-engine/src/processors/index.ts
  packages/types/src/message/common/metadata.ts
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/components/Reaction/ReactionDisplay.tsx
  src/features/Conversation/components/Reaction/ReactionPicker.tsx
  src/features/Conversation/components/Reaction/index.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/locales/default/chat.ts
Due: none

✅ test: add unit tests for Reaction feature
  packages/context-engine/src/processors/__tests__/ReactionFeedback.test.ts
  src/features/Conversation/store/slices/message/action/crud.test.ts
Due: none

✨ feat: integrate better-auth admin plugin (#10512)
  docs/development/database-schema.dbml
  packages/database/migrations/0053_better_auth_admin.sql
  packages/database/migrations/0054_better_auth_two_factor.sql
  packages/database/migrations/meta/0053_snapshot.json
  packages/database/migrations/meta/0054_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/index.ts
  packages/database/src/repositories/tableViewer/index.test.ts
  packages/database/src/schemas/betterAuth.ts
  packages/database/src/schemas/user.ts
  src/auth.ts
  src/envs/auth.ts
  src/libs/better-auth/auth-client.ts
Due: Libraries Layer

:bookmark: chore(release): v2.0.0-next.140 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bb/7561468fb81d812956862f8f98230c5fff0c6c
Due: none

fix: Persist collpase state
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/PageExplorer/PageEditor.tsx
  src/features/ResourceManager/PageExplorer/PageEditorBreadcrumb.tsx
  src/features/ResourceManager/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

✅ test: add unit tests for UploadFileCtr
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
Due: none

✅ test: add unit tests for RemoteServerSyncCtr
  apps/desktop/src/main/controllers/__tests__/RemoteServerSyncCtr.test.ts
Due: none

✅ test: add unit tests for McpInstallCtr
  apps/desktop/src/main/controllers/__tests__/McpInstallCtr.test.ts
Due: none

✅ test: add unit tests for SystemCtr
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
Due: none

feat: Auto expand category menu
  src/app/[variants]/(main)/resource/components/CategoryMenu.tsx
Due: none

style: update agent profile
  package.json
  src/app/[variants]/(main)/chat/_layout/Sidebar/Body.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/ByTimeMode/GroupItem.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/ByTimeMode/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/FlatMode/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/PluginTag.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/features/AgentSetting/AgentMeta/BackgroundSwatches.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/features/ModelSelect/index.tsx
  src/features/NavPanel/Body/Agent/List/Group/Item.tsx
  src/locales/default/setting.ts
Due: none

✅ test: add unit tests for NotificationCtr
  apps/desktop/src/main/controllers/__tests__/NotificationCtr.test.ts
Due: none

✅ test: add unit tests for RemoteServerConfigCtr
  apps/desktop/src/main/controllers/__tests__/RemoteServerConfigCtr.test.ts
Due: none

style: skeleton fallback title
  src/features/ResourceManager/FileExplorer/FolderBreadcrumb.tsx
Due: none

feat: add auth market modal
  locales/ar/marketAuth.json
  locales/bg-BG/marketAuth.json
  locales/de-DE/marketAuth.json
  locales/en-US/marketAuth.json
  locales/es-ES/marketAuth.json
  locales/fa-IR/marketAuth.json
  locales/fr-FR/marketAuth.json
  locales/it-IT/marketAuth.json
  locales/ja-JP/marketAuth.json
  locales/ko-KR/marketAuth.json
  locales/nl-NL/marketAuth.json
  locales/pl-PL/marketAuth.json
  locales/pt-BR/marketAuth.json
  locales/ru-RU/marketAuth.json
  locales/tr-TR/marketAuth.json
  locales/vi-VN/marketAuth.json
  locales/zh-CN/marketAuth.json
  locales/zh-TW/marketAuth.json
  src/app/[variants]/(main)/discover/(detail)/mcp/features/Sidebar/ActionButton/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthConfirmModal.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/locales/default/marketAuth.ts
Due: none

🗃️ db: rename phone_number to phone in users table
  docs/development/database-schema.dbml
  packages/database/migrations/0055_rename_phone_number_to_phone.sql
  packages/database/migrations/meta/0055_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/user.ts
Due: none

🐛 fix: drop user.phoneNumber and reuse user.phone (#10531)
  docs/development/database-schema.dbml
  packages/database/migrations/0055_rename_phone_number_to_phone.sql
  packages/database/migrations/meta/0055_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/user.ts
Due: none

:bookmark: chore(release): v2.0.0-next.141 [skip ci]
  CHANGELOG.md
  package.json
Due: none
