Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

Notes added by 'git notes add'
  e3/1e7b5d2def361f5bcbce8d91df3270d46abb16
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix test
  packages/model-runtime/src/providers/vercelaigateway/index.ts
  src/app/[variants]/(main)/settings/provider/features/ModelList/ModelItem.tsx
Due: none

chore(mobile): update sidebar
  apps/mobile/src/features/SideBar/index.tsx
  apps/mobile/src/features/TopicDrawer/index.tsx
  apps/mobile/src/utils/detection.ts
Due: none

add e2e
  .github/workflows/e2e.yml
Due: none

update
  .github/workflows/e2e.yml
Due: none

chore(mobile): upgrade to expo54
  .gitignore
  apps/mobile/.npmrc
  apps/mobile/babel.config.js
  apps/mobile/package.json
  apps/mobile/patches/react-native-shiki-engine.patch
  apps/mobile/pnpm-lock.yaml
  apps/mobile/pnpm-workspace.yaml
Due: none

🔨 chore: add e2e workflow (#9677)
  .github/workflows/e2e.yml
  e2e/routes.spec.ts
  package.json
  playwright.config.ts
  tsconfig.json
  vitest.config.mts
Due: none

🐛fix(mobile): enable conditional fetching of AI provider list based on mobile view (#9621)
  src/app/[variants]/(main)/settings/provider/detail/default/index.tsx
  src/store/aiInfra/slices/aiProvider/action.ts
Due: Store Layer

🔧 chore: Rebase
  apps/mobile/app/playground/.data/index.json
  apps/mobile/src/components/ActionIcon/ActionIcon.tsx
  apps/mobile/src/components/ActionIcon/__tests__/ActionIcon.test.tsx
  apps/mobile/src/components/ActionIcon/components/utils.ts
  apps/mobile/src/components/ActionIcon/demos/colors.tsx
  apps/mobile/src/components/ActionIcon/demos/variants.tsx
  apps/mobile/src/components/ActionIcon/index.ts
  apps/mobile/src/components/ActionIcon/index.tsx
  apps/mobile/src/components/ActionIcon/style.ts
  apps/mobile/src/components/ActionIcon/type.ts
  apps/mobile/src/components/Block/Block.tsx
  apps/mobile/src/components/Block/demos/active.tsx
  apps/mobile/src/components/Block/demos/index.tsx
  apps/mobile/src/components/Block/style.ts
  apps/mobile/src/components/Block/type.ts
  apps/mobile/src/components/Divider/style.ts
  apps/mobile/src/components/Icon/Icon.tsx
  apps/mobile/src/components/Icon/components/IconProvider.tsx
  apps/mobile/src/components/Icon/components/utils.ts
  apps/mobile/src/components/Icon/demos/basic.tsx
  apps/mobile/src/components/Icon/demos/colors.tsx
  apps/mobile/src/components/Icon/demos/sizes.tsx
  apps/mobile/src/components/Icon/demos/spin.tsx
  apps/mobile/src/components/Icon/index.ts
  apps/mobile/src/components/Icon/index.tsx
  apps/mobile/src/components/Icon/type.ts
  apps/mobile/src/components/PageContainer/index.tsx
  apps/mobile/src/components/styles/theme/stylish/index.ts
Due: none

♻️ refactor: rename isLocalUrl to isDesktopLocalStaticServerUrl
  packages/context-engine/src/processors/MessageContent.ts
  packages/utils/src/url.test.ts
  packages/utils/src/url.ts
  src/services/chat/chat.test.ts
  src/services/chat/clientModelRuntime.test.ts
Due: Services Layer

🐛 fix: prevent Vertex AI JSON credentials from being split by comma
  src/services/__tests__/_auth.test.ts
  src/services/_auth.ts
Due: Services Layer

✨ feat(model-bank): add Vertex AI image generation models
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/aiModels/vertexai.ts
Due: none

🐛 fix: prevent Vertex AI JSON credentials from being split by comma (#9703)
  src/services/__tests__/_auth.test.ts
  src/services/_auth.ts
Due: Services Layer

✅ test(context-engine): fix mock after function rename
  packages/context-engine/src/processors/__tests__/MessageContent.test.ts
Due: none

♻️ refactor: use submodule imports for @lobechat/utils
  packages/context-engine/src/processors/MessageContent.ts
  packages/context-engine/src/processors/__tests__/MessageContent.test.ts
  packages/utils/package.json
Due: none

♻️ refactor(wip): Refactor setting
  apps/mobile/app/(main)/setting/(components)/SettingGroup/index.tsx
  apps/mobile/app/(main)/setting/(components)/SettingGroup/style.ts
  apps/mobile/app/(main)/setting/(components)/SettingItem/index.tsx
  apps/mobile/app/(main)/setting/(components)/SettingItem/style.ts
  apps/mobile/app/(main)/setting/account/index.tsx
  apps/mobile/app/(main)/setting/index.tsx
  apps/mobile/app/playground/.data/import.ts
  apps/mobile/app/playground/.data/index.json
  apps/mobile/app/playground/index.tsx
  apps/mobile/src/components/Block/Block.tsx
  apps/mobile/src/components/Block/style.ts
  apps/mobile/src/components/Block/type.ts
  apps/mobile/src/components/Button/__tests__/Button.test.tsx
  apps/mobile/src/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
  apps/mobile/src/components/Cell/Cell.tsx
  apps/mobile/src/components/Cell/demos/basic.tsx
  apps/mobile/src/components/Cell/demos/index.tsx
  apps/mobile/src/components/Cell/demos/with-extra.tsx
  apps/mobile/src/components/Cell/demos/with-icon.tsx
  apps/mobile/src/components/Cell/index.md
  apps/mobile/src/components/Cell/index.ts
  apps/mobile/src/components/Cell/type.ts
  apps/mobile/src/components/PageContainer/index.tsx
  apps/mobile/src/components/PageContainer/style.ts
  apps/mobile/src/components/index.ts
  apps/mobile/src/components/styles/theme/stylish/index.ts
Due: none

:bookmark: chore(release): v1.137.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  93/8cf6ba71cf04940b08ec654effa4da2b9033c5
Due: none

✅ test: update mocks after function rename
  src/services/chat/chat.test.ts
  src/services/chat/clientModelRuntime.test.ts
Due: Services Layer

✅ test(chat): fix mocks to use submodule imports
  src/services/chat/chat.test.ts
Due: Services Layer

:white_check_mark: test: add usage tests
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/server/services/usage/index.test.ts
Due: Server Layer

:white_check_mark: lint: fix
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/server/services/usage/index.ts
Due: Server Layer

:globe_with_meridians: i18n: add translations
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
Due: none

:lipstick: style: migrate panel UI
  packages/types/src/usage/usageRecord.ts
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/app/[variants]/(main)/profile/usage/features/components/UsageBarChart.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/server/services/usage/index.ts
  src/services/usage.ts
  src/store/global/initialState.ts
Due: Store Layer, Services Layer, Server Layer

:globe_with_meridians: i18n: add i18n slots
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/locales/default/auth.ts
Due: none

💄 style: add imagen model to vertex ai (#9699)
  packages/context-engine/src/processors/MessageContent.ts
  packages/context-engine/src/processors/__tests__/MessageContent.test.ts
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/aiModels/vertexai.ts
  packages/utils/package.json
  packages/utils/src/url.test.ts
  packages/utils/src/url.ts
  src/services/chat/chat.test.ts
  src/services/chat/clientModelRuntime.test.ts
Due: Services Layer

✨ feat: 添加 Ring-1T 和 Ling-1T 模型定义，扩展聊天模型库
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

:bookmark: chore(release): v1.137.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5d/e9e9fea39a4bc2482931ee0d298455641f6c81
Due: none

chore(mobile): migrate mmkv
  apps/mobile/AGENTS.md
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/rules/state-management.mdc
  apps/mobile/src/hooks/useLocale.ts
  apps/mobile/src/i18n/index.ts
  apps/mobile/src/store/agent/store.ts
  apps/mobile/src/store/openai.ts
  apps/mobile/src/store/setting.ts
  apps/mobile/src/utils/storage/index.ts
  apps/mobile/test/utils.tsx
Due: none

refactor tests
  src/store/chat/slices/aiChat/actions/__tests__/fixtures.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
Due: Store Layer

fix: ensure consistent vertex ai runtime initialization
  src/app/(backend)/webapi/chat/vertexai/route.ts
  src/server/modules/ModelRuntime/index.test.ts
  src/server/modules/ModelRuntime/index.ts
Due: Server Layer

chore: update pnpm lock
  apps/mobile/pnpm-lock.yaml
Due: none

♻️ refactor(test): improve test layering and fix type errors
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
Due: Store Layer

✅ test: refactor aiChat tests (#9708)
  src/store/chat/slices/aiChat/actions/__tests__/fixtures.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
Due: Store Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
