Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🐛 fix(TokenUsage): prevent animation when toggling between token and credit display (#10098)
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

🌐 chore: translate non-English comments to English in packages/web-crawler (#10101)
  packages/web-crawler/src/crawImpl/browserless.ts
  packages/web-crawler/src/crawImpl/naive.ts
  packages/web-crawler/src/crawler.ts
  packages/web-crawler/src/urlRules.ts
  packages/web-crawler/src/utils/appUrlRules.ts
Due: none

🤖 style: update i18n (#10100)
  locales/ar/modelProvider.json
  locales/bg-BG/modelProvider.json
  locales/de-DE/modelProvider.json
  locales/en-US/modelProvider.json
  locales/es-ES/modelProvider.json
  locales/fa-IR/modelProvider.json
  locales/fr-FR/modelProvider.json
  locales/it-IT/modelProvider.json
  locales/ja-JP/modelProvider.json
  locales/ko-KR/modelProvider.json
  locales/nl-NL/modelProvider.json
  locales/pl-PL/modelProvider.json
  locales/pt-BR/modelProvider.json
  locales/ru-RU/modelProvider.json
  locales/tr-TR/modelProvider.json
  locales/vi-VN/modelProvider.json
  locales/zh-CN/modelProvider.json
  locales/zh-TW/modelProvider.json
Due: none

:bookmark: chore(release): v2.0.0-next.38 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  92/a62e70a92399a8cd789b3a5b5458f2f81e3de1
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix: change the router judge by servers
  src/app/[variants]/AppRouter.tsx
Due: none

fix parentId issue
  src/features/Conversation/Messages/Group/GroupChildren.tsx
  src/features/Conversation/Messages/Group/GroupItem.tsx
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

fix duration is NaN
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

✨ feat(models): 更新讯飞星火
  packages/model-bank/src/aiModels/cerebras.ts
  packages/model-bank/src/aiModels/moonshot.ts
  packages/model-bank/src/aiModels/spark.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/spark/index.test.ts
  packages/model-runtime/src/providers/spark/index.ts
  src/config/modelProviders/spark.ts
Due: none

typo
  packages/model-runtime/src/core/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
Due: none

fix test
  packages/model-runtime/src/providers/spark/index.test.ts
Due: none

💄 Style: RFC-113 Provider Model Usage Statistics (#8453)
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
  packages/types/src/usage/usageRecord.ts
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/app/[variants]/(main)/profile/usage/features/components/UsageBarChart.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/locales/default/auth.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/server/services/usage/index.test.ts
  src/server/services/usage/index.ts
  src/services/usage.ts
  src/store/global/initialState.ts
Due: Store Layer, Services Layer, Server Layer

improve mcp render
  src/features/PluginsUI/Render/MCPType/index.tsx
Due: none

🐛 fix(context-engine): preserve reasoning field in MessageCleanupProcessor
  packages/context-engine/src/processors/MessageCleanup.ts
  packages/context-engine/src/processors/__tests__/MessageCleanup.test.ts
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
Due: Server Layer

fix maxSteps
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

✅ test: update test expectation for reasoning field preservation
  src/services/chat/contextEngineering.test.ts
Due: Services Layer

✅ test: add unit tests for network proxy module (#10104)
  apps/desktop/src/main/modules/networkProxy/__tests__/dispatcher.test.ts
  apps/desktop/src/main/modules/networkProxy/__tests__/tester.test.ts
  apps/desktop/src/main/modules/networkProxy/__tests__/urlBuilder.test.ts
  apps/desktop/src/main/modules/networkProxy/__tests__/validator.test.ts
Due: none

✨ feat(TokenDetail): add toggle for short/long format display of token values
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

✨ feat(TokenDetail): enhance token display format persistence and toggle functionality
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

✨ feat(TokenDetail): adjust popover trigger behavior for mobile and desktop
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

replace localStorage with global store for token display format management
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

feat: change AppRouter to Desktop Router & mobile Router to dynamic import
  src/app/[variants]/CommonRouterWrapper.tsx
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/app/[variants]/_DesktopRouter.tsx
  src/app/[variants]/_MobileRouter.tsx
  src/app/[variants]/page.tsx
Due: none

👷 build(observability-otel): support to trace and meter for tRPC (#10086)
  packages/obervability-otel/package.json
  packages/obervability-otel/src/api.ts
  packages/obervability-otel/src/trpc/convention.ts
  packages/obervability-otel/src/trpc/index.test.ts
  packages/obervability-otel/src/trpc/index.ts
  packages/obervability-otel/src/trpc/metrics.ts
  src/libs/trpc/lambda/index.ts
  src/libs/trpc/middleware/openTelemetry.ts
Due: Libraries Layer

:bookmark: chore(release): v2.0.0-next.39 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  07/578fe163544bb51b79bad2bdbe301c2991d2dc
Due: none

:lipstick: style: update table
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/components/UsageBarChart.tsx
Due: none

🐛 fix(database): fix deleteMessagesBySession incorrectly deleting all messages
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
Due: none

🐛 fix(database): fix deleteMessagesBySession incorrectly deleting all messages (#10110)
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
Due: none

✅ test(database): add comprehensive test coverage for message query edge cases
  packages/database/src/models/__tests__/message.test.ts
Due: none

update
  packages/database/src/models/__tests__/message.test.ts
Due: none

:bookmark: chore(release): v2.0.0-next.40 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c6/2092f63ab93a18fd121fa19cf13292914f8ee9
Due: none

✅ test(database): add comprehensive test coverage for message query edge cases (#10111)
  packages/database/src/models/__tests__/message.test.ts
Due: none
