Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix manual add
  packages/conversation-flow/src/__tests__/fixtures/inputs/branch/assistant-group-branches.json
  packages/conversation-flow/src/__tests__/fixtures/inputs/branch/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/assistant-group-branches.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/index.ts
  packages/conversation-flow/src/__tests__/parse.test.ts
  src/features/Conversation/Messages/Assistant/MessageContent.tsx
  src/features/Conversation/Messages/Default.tsx
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
Due: Store Layer

fix tests
  src/services/message/__tests__/metadata-race-condition.test.ts
Due: Services Layer

✨ feat: 适配 MiniMax-M2 enhance MessageCleanup and MessageContent processors to support reasoning preservation for MiniMax
  packages/context-engine/src/processors/MessageCleanup.ts
  packages/context-engine/src/processors/MessageContent.ts
  packages/context-engine/src/processors/__tests__/MessageCleanup.test.ts
  packages/context-engine/src/processors/__tests__/MessageContent.test.ts
  packages/model-bank/src/aiModels/minimax.ts
  packages/model-runtime/src/core/streams/openai/openai.test.ts
  packages/model-runtime/src/core/streams/openai/openai.ts
  packages/model-runtime/src/providers/minimax/index.ts
  packages/model-runtime/src/types/chat.ts
  src/locales/default/setting.ts
  src/services/chat/contextEngineering.ts
Due: Services Layer

fix group
  packages/const/src/user.ts
  packages/types/src/user/preference.ts
  src/app/[variants]/(main)/labs/page.tsx
  src/store/user/slices/preference/selectors/labPrefer.ts
Due: Store Layer

✨ feat: 添加 Kimi K2 思考模型及其高速版本，增强聊天模型功能
  packages/model-bank/src/aiModels/moonshot.ts
  packages/model-runtime/src/providers/minimax/index.ts
  packages/model-runtime/src/providers/moonshot/index.ts
Due: none

Update packages/model-runtime/src/core/streams/openai/openai.ts
  packages/model-runtime/src/core/streams/openai/openai.ts
Due: none

:bookmark: chore(release): v2.0.0-next.36 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  23/5a41ca5433ad720362c9746d160ab4bb13b125
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
  src/features/Conversation/Messages/User/Actions/MessageBranch.tsx
Due: none

refactor plugin actions
  src/features/Conversation/Messages/Assistant/Tool/Render/CustomRender.tsx
  src/features/PluginsUI/Render/StandaloneType/Iframe.tsx
  src/store/chat/slices/builtinTool/actions/__tests__/localSystem.test.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/builtinTool/actions/interpreter.ts
  src/store/chat/slices/builtinTool/actions/localSystem.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
  src/store/chat/slices/plugin/actions/index.ts
  src/store/chat/slices/plugin/actions/internals.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/chat/slices/plugin/actions/workflow.ts
  src/store/chat/store.ts
Due: Store Layer

feat: change the root path to react-router-dom to render spa
  src/app/[variants]/(main)/_layout/Desktop/SideBar/TopActions.tsx
  src/app/[variants]/(main)/chat/ChatRouter.tsx
  src/app/[variants]/(main)/chat/error.tsx
  src/app/[variants]/(main)/chat/layout.tsx
  src/app/[variants]/(main)/chat/loading.tsx
  src/app/[variants]/(main)/chat/not-found.tsx
  src/app/[variants]/(main)/chat/page.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/Desktop/Nav.tsx
  src/app/[variants]/(main)/discover/DiscoverRouter.tsx
  src/app/[variants]/(main)/discover/[[...path]]/page.tsx
  src/app/[variants]/(main)/discover/_layout/Desktop/Header.tsx
  src/app/[variants]/(main)/discover/error.tsx
  src/app/[variants]/(main)/discover/features/useNav.tsx
  src/app/[variants]/(main)/discover/not-found.tsx
  src/app/[variants]/(main)/knowledge/[[...path]]/page.tsx
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/app/[variants]/loading/Server/Redirect.tsx
  src/app/[variants]/page.tsx
  src/proxy.ts
Due: none

feat: disable / to /chat rewrite
  next.config.ts
Due: none

refactor mcp invoke
  src/libs/mcp/client.ts
  src/libs/mcp/types.ts
  src/server/routers/desktop/mcp.ts
  src/server/routers/tools/mcp.ts
  src/server/services/mcp/index.ts
  src/services/mcp.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

refactor MCPType display
  src/features/Conversation/Messages/Group/Error/index.tsx
  src/features/Conversation/Messages/Group/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/Group/Tool/Render/CustomRender.tsx
  src/features/Conversation/Messages/Group/Tool/index.tsx
  src/features/PluginsUI/Render/BuiltinType/index.tsx
  src/features/PluginsUI/Render/MCPType/index.tsx
  src/features/PluginsUI/Render/index.tsx
  src/store/chat/slices/message/actions/publicApi.ts
Due: Store Layer

support Continue Generate
  src/features/Conversation/Messages/Group/Actions/WithoutContentId.tsx
  src/features/Conversation/Messages/Group/GroupChildren.tsx
  src/features/Conversation/Messages/Group/index.tsx
  src/features/Conversation/hooks/useChatListActionsBar.tsx
  src/locales/default/chat.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/initialState.ts
  src/store/chat/slices/message/selectors/chat.test.ts
  src/store/chat/slices/message/selectors/chat.ts
  src/store/chat/slices/message/selectors/dbMessage.test.ts
  src/store/chat/slices/message/selectors/displayMessage.test.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
  src/store/chat/slices/message/selectors/messageState.ts
Due: Store Layer

feat: change /settings labs image profile changelog to spa mode
  src/app/[variants]/(main)/changelog/ChangelogRouter.tsx
  src/app/[variants]/(main)/image/ImageRouter.tsx
  src/app/[variants]/(main)/knowledge/KnowledgeRouter.tsx
  src/app/[variants]/(main)/knowledge/layout.tsx
  src/app/[variants]/(main)/labs/LabsRouter.tsx
  src/app/[variants]/(main)/labs/index.tsx
  src/app/[variants]/(main)/profile/@category/features/CategoryContent.tsx
  src/app/[variants]/(main)/profile/ProfileRouter.tsx
  src/app/[variants]/(main)/profile/error.tsx
  src/app/[variants]/(main)/profile/layout.tsx
  src/app/[variants]/(main)/profile/loading.tsx
  src/app/[variants]/(main)/profile/not-found.tsx
  src/app/[variants]/(main)/settings/SettingsRouter.tsx
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/features/User/UserPanel/useMenu.tsx
  src/proxy.ts
Due: none

✅ test: add unit tests for ApiKeyModel (#10091)
  packages/database/src/models/__tests__/apiKey.test.ts
Due: none

support continueGeneration message
  src/features/Conversation/Messages/Group/Actions/WithoutContentId.tsx
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/selectors/displayMessage.test.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
Due: Store Layer

fix tests
  src/server/services/mcp/index.test.ts
  src/server/services/mcp/index.ts
  src/services/mcp.test.ts
Due: Services Layer, Server Layer

feat: use loading to dynamic loading
  src/app/[variants]/AppRouter.tsx
  src/app/[variants]/page.tsx
Due: none

fix: change the goback & knowledge/base url
  src/app/[variants]/(main)/knowledge/components/KnowledgeBaseItem/index.tsx
  src/app/[variants]/(main)/knowledge/components/modal/page.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeBaseDetail/menu/Head.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/KnowledgeBase.tsx
Due: none

fix tests
  src/store/chat/slices/builtinTool/actions/__tests__/localSystem.test.ts
Due: Store Layer

🐛 fix: don't include runtimeProvider in JWT for non-image operations
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

feat: change some nextjs router to react-router-dom use
  src/app/[variants]/(main)/(mobile)/me/(home)/features/UserBanner.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/features/useCategory.tsx
  src/app/[variants]/(main)/(mobile)/me/MeRouter.tsx
  src/app/[variants]/(main)/(mobile)/me/profile/features/Category.tsx
  src/app/[variants]/(main)/(mobile)/me/profile/features/Header.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/features/Header.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/features/useCategory.tsx
  src/app/[variants]/(main)/_layout/Mobile/NavBar.tsx
  src/app/[variants]/(main)/chat/ChatRouter.tsx
  src/app/[variants]/(main)/chat/session/layout/Mobile/SessionHeader.tsx
  src/app/[variants]/(main)/chat/settings/_layout/Mobile/Header.tsx
  src/app/[variants]/(main)/image/ImageRouter.tsx
  src/app/[variants]/(main)/image/_layout/Mobile/index.tsx
  src/app/[variants]/MobileRouter.tsx
  src/hooks/useInterceptingRoutes.ts
  src/proxy.ts
Due: none

feat: link replace to react-router-dom
  src/app/[variants]/(main)/_layout/Desktop/SideBar/BottomActions.tsx
Due: none

fix: delete useless code
  src/app/[variants]/(main)/(mobile)/me/(home)/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/loading.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/page.tsx
  src/app/[variants]/(main)/(mobile)/me/profile/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/profile/loading.tsx
  src/app/[variants]/(main)/(mobile)/me/profile/page.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/loading.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/page.tsx
Due: none

feat: fix mobile agent settings page not work problem
  src/hooks/useInterceptingRoutes.ts
Due: none

fix: fix the test
  src/app/[variants]/(main)/(mobile)/me/(home)/__tests__/UserBanner.test.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/__tests__/useCategory.test.tsx
  src/app/[variants]/(main)/chat/components/conversation/features/ChatInput/Desktop/index.tsx
  src/app/[variants]/(main)/chat/settings/error.tsx
  src/app/[variants]/(main)/chat/settings/loading.tsx
  src/app/[variants]/(main)/chat/settings/not-found.tsx
  src/hooks/useInterceptingRoutes.test.ts
Due: none

fix: slove the router back
  src/app/[variants]/(main)/_layout/Desktop/SideBar/TopActions.test.tsx
  src/app/[variants]/(main)/_layout/Desktop/SideBar/TopActions.tsx
  src/app/[variants]/AppRouter.tsx
  src/store/global/action.test.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
Due: Store Layer

fix: slove ts problem
  src/layout/GlobalProvider/StoreInitialization.tsx
Due: none

🐛 fix: don't include runtimeProvider in JWT for non-image operations (#9959)
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

🐛 fix(TokenUsage): prevent animation when toggling between token and credit display
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

📝 docs: add comment explaining key prop for AnimatedNumber
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

💄 style: adjust comment format for AnimatedNumber
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.37 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  48/b2ec92a1ab89896f3979d07600f3443a6a03cd
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

💄 style: update i18n
  locales/ar/modelProvider.json
  locales/bg-BG/modelProvider.json
  locales/de-DE/modelProvider.json
  locales/en-US/modelProvider.json
  locales/es-ES/modelProvider.json
  locales/fa-IR/modelProvider.json
  locales/fr-FR/modelProvider.json
  locales/it-IT/modelProvider.json
  locales/ja-JP/modelProvider.json
  locales/ko-KR/modelProvider.json
  locales/nl-NL/modelProvider.json
  locales/pl-PL/modelProvider.json
  locales/pt-BR/modelProvider.json
  locales/ru-RU/modelProvider.json
  locales/tr-TR/modelProvider.json
  locales/vi-VN/modelProvider.json
  locales/zh-CN/modelProvider.json
  locales/zh-TW/modelProvider.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none
