Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

⚡️ perf(task): show a sent comment in the feed before the round-trip returns
  src/features/AgentTasks/AgentTaskDetail/CommentCard.tsx
  src/store/task/slices/detail/action.test.ts
  src/store/task/slices/detail/action.ts
  src/store/task/slices/detail/optimisticActivity.test.ts
  src/store/task/slices/detail/optimisticActivity.ts
Due: Store Layer

🐛 fix(task): lock cascade origins, batch their rows, widen the schedule value
  apps/server/src/services/task/index.test.ts
  apps/server/src/services/task/index.ts
  packages/database/src/models/__tests__/task.test.ts
  packages/database/src/models/task.ts
  packages/prompts/src/prompts/task/index.ts
  packages/types/src/task/index.ts
  src/features/AgentTasks/AgentTaskDetail/TaskActivities.tsx
  src/store/task/slices/config/action.test.ts
  src/store/task/slices/config/action.ts
  src/store/task/slices/lifecycle/action.test.ts
  src/store/task/slices/lifecycle/action.ts
Due: Store Layer

🐛 fix(task): attribute client-runtime edits, tighten activity collapse and rollback
  apps/cli/src/commands/task/index.ts
  apps/server/src/routers/lambda/task.ts
  apps/server/src/services/task/collapseActivityLog.test.ts
  apps/server/src/services/task/collapseActivityLog.ts
  apps/server/src/services/task/index.test.ts
  apps/server/src/services/task/index.ts
  packages/builtin-tool-task/src/client/executor/assignee.test.ts
  packages/builtin-tool-task/src/client/executor/index.ts
  packages/database/src/models/__tests__/task.test.ts
  packages/database/src/models/task.ts
  packages/prompts/src/prompts/task/index.ts
  packages/types/src/task/index.ts
  src/services/task.ts
  src/store/task/slices/config/action.test.ts
  src/store/task/slices/config/action.ts
  src/store/task/slices/detail/action.test.ts
  src/store/task/slices/detail/action.ts
  src/store/task/slices/detail/optimisticActivity.test.ts
  src/store/task/slices/detail/optimisticActivity.ts
  src/store/task/slices/lifecycle/action.ts
Due: Store Layer, Services Layer

✨ feat(task): fold a burst of edits to one property into a single feed entry
  apps/server/src/services/task/collapseActivityLog.test.ts
  apps/server/src/services/task/collapseActivityLog.ts
  apps/server/src/services/task/index.ts
Due: none

⚡️ perf(task): show the assignment activity row in the same beat as the chip
  src/features/AgentTasks/features/AssigneeAgentSelector.tsx
  src/features/AgentTasks/features/AssigneeMemberSelector.tsx
  src/store/task/slices/detail/action.test.ts
  src/store/task/slices/detail/action.ts
  src/store/task/slices/detail/optimisticAssignment.test.ts
  src/store/task/slices/detail/optimisticAssignment.ts
Due: Store Layer

🔒 fix(task): make assignment attribution unforgeable and atomic
  apps/server/src/routers/lambda/task.ts
  apps/server/src/services/task/index.test.ts
  apps/server/src/services/task/index.ts
  apps/server/src/services/taskRunner/index.ts
  apps/server/src/services/toolExecution/serverRuntimes/__tests__/task.test.ts
  apps/server/src/services/toolExecution/serverRuntimes/task.ts
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  packages/database/src/models/__tests__/task.test.ts
  packages/database/src/models/task.ts
  packages/locales/src/default/chat.ts
  packages/trpc/src/lambda/context.ts
  src/features/AgentTasks/AgentTaskDetail/TaskActivities.tsx
  src/features/AgentTasks/AgentTaskDetail/assignmentActivityCopy.ts
Due: none

💄 style(task): centre the activity rail under the cards' avatar column
  src/features/AgentTasks/shared/style.ts
Due: none

💄 style(task): priority rows use the app's solid priority bars
  src/features/AgentTasks/AgentTaskDetail/TaskActivities.tsx
Due: none

🧪 Add reproducible nanoGPT agentic experiment
  scripts/experiments/nanogpt/README.md
  scripts/experiments/nanogpt/build_corpus.py
  scripts/experiments/nanogpt/eval_loss.py
  scripts/experiments/nanogpt/export_public.py
  scripts/experiments/nanogpt/fetch_agentic.py
  scripts/experiments/nanogpt/fetch_public.sh
  scripts/experiments/nanogpt/protocol.record.json
  scripts/experiments/nanogpt/run_matrix.py
  scripts/experiments/nanogpt/selection.example.json
  scripts/experiments/nanogpt/selection_rule.md
  scripts/experiments/nanogpt/test_corpus_invariants.py
  scripts/experiments/nanogpt/test_eval_loss.py
  scripts/experiments/nanogpt/test_payload_markers.py
  scripts/experiments/nanogpt/upstream.diff
Due: none

✨ feat(portal): render local xlsx previews with layout fidelity and a reflow view (#19265)
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/locales/src/default/chat.ts
  src/features/Portal/LocalFile/DocumentPreview.tsx
  src/features/Portal/LocalFile/xlsx/SheetDocument.test.tsx
  src/features/Portal/LocalFile/xlsx/SheetDocument.tsx
  src/features/Portal/LocalFile/xlsx/SheetGrid.test.tsx
  src/features/Portal/LocalFile/xlsx/SheetGrid.tsx
  src/features/Portal/LocalFile/xlsx/XlsxPane.tsx
  src/features/Portal/LocalFile/xlsx/classifySheet.test.ts
  src/features/Portal/LocalFile/xlsx/classifySheet.ts
  src/features/Portal/LocalFile/xlsx/model.test.ts
  src/features/Portal/LocalFile/xlsx/model.ts
  src/features/Portal/LocalFile/xlsx/styles.ts
Due: none

📝 docs: link Goal pilot evidence and clarify experiment scope
  scripts/experiments/nanogpt/README.md
Due: none

🐛 fix(cli): retain bounded event backlog across temporary outages
  apps/cli/src/utils/BatchIngester.test.ts
  apps/cli/src/utils/BatchIngester.ts
  apps/cli/src/utils/CoalescingBatchIngester.test.ts
  apps/cli/src/utils/CoalescingBatchIngester.ts
Due: none

🐛 fix: register CLI notebook reports as operation deliverables
  apps/cli/src/commands/doc.test.ts
  apps/cli/src/commands/doc.ts
  apps/server/src/routers/lambda/notebook.test.ts
  apps/server/src/routers/lambda/notebook.ts
Due: none

📝 docs(goal): correct exploration budget command
  apps/server/src/services/goal/EXPLORATION.md
Due: none

🐛 fix: avoid signing notebook origins as file URLs
  apps/server/src/routers/lambda/document.test.ts
  apps/server/src/routers/lambda/document.ts
Due: none

🐛 fix(cli): isolate dispatched agent run identity
  apps/cli/src/device/agentRun.test.ts
  apps/cli/src/device/agentRun.ts
Due: none

🐛 fix(work): flag orphaned document works and let users remove them
  apps/server/src/routers/lambda/__tests__/work.test.ts
  apps/server/src/routers/lambda/work.ts
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/database/src/models/work/__tests__/document.test.ts
  packages/database/src/models/work/__tests__/task.test.ts
  packages/database/src/models/work/__tests__/workspace.test.ts
  packages/database/src/models/work/displayWork.ts
  packages/database/src/models/work/index.ts
  packages/database/src/models/work/internal.ts
  packages/database/src/models/work/queries.ts
  packages/database/src/models/work/task.ts
  packages/database/src/models/work/writes.ts
  packages/locales/src/default/chat.ts
  packages/types/src/work.ts
  src/features/Conversation/WorkingSidebar/WorksSection/WorkVersionHistoryCard.tsx
  src/features/Work/ResourceDeletedTag.tsx
  src/features/Work/WorkSummaryCard.tsx
  src/features/Work/useRemoveWork.ts
  src/features/WorkGallery/WorkPreviewCard.tsx
  src/services/work.test.ts
  src/services/work.ts
Due: Services Layer

📝 docs: define reusable check asset schema
  docs/development/acceptance-check-assets.md
Due: none

📝 docs: remove acceptance design markdown
  docs/development/acceptance-check-assets.md
  docs/development/acceptance-flows.md
Due: none

✨ feat: compose acceptance flows in a grouped canvas
  apps/server/src/routers/lambda/acceptance.ts
  docs/development/database-schema.dbml
  locales/en-US/verify.json
  locales/zh-CN/verify.json
  packages/database/migrations/0160_acceptance_check_assets.sql
  packages/database/migrations/meta/0160_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/models/__tests__/acceptanceFlow.test.ts
  packages/database/src/models/acceptanceFlow.ts
  packages/database/src/schemas/acceptanceFlow.ts
  packages/locales/src/default/verify.ts
  packages/types/src/acceptanceFlow.ts
  src/features/Acceptance/Viewer/AcceptanceFlow.tsx
  src/features/Acceptance/Viewer/FlowCanvas.tsx
  src/features/Acceptance/Viewer/FlowGroup.tsx
  src/features/Acceptance/Viewer/FlowNode.tsx
  src/features/Acceptance/Viewer/flowGraph.test.ts
  src/features/Acceptance/Viewer/flowGraph.ts
Due: none

♻️ refactor: simplify flow definitions and isolate multi-flow navigation
  apps/server/src/routers/lambda/acceptance.ts
  docs/development/database-schema.dbml
  packages/database/migrations/0160_acceptance_check_assets.sql
  packages/database/migrations/meta/0160_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/models/__tests__/acceptanceFlow.test.ts
  packages/database/src/models/acceptanceFlow.ts
  packages/database/src/schemas/acceptanceFlow.ts
  packages/types/src/acceptanceFlow.ts
  src/features/Acceptance/Viewer/flowDiff.test.ts
  src/features/Acceptance/Viewer/flowDiff.ts
  src/features/Acceptance/Viewer/flowNavigation.test.ts
  src/features/Acceptance/Viewer/flowNavigation.ts
Due: none

🐛 fix: preserve acceptance evidence descriptions and file labels
  apps/cli/src/commands/acceptanceRun.ts
  apps/cli/src/commands/verify.test.ts
  apps/cli/src/commands/verifyHelpers.ts
  packages/builtin-skills/src/acceptance/SKILL.md
  packages/builtin-skills/src/acceptance/references/evidence.md
  packages/builtin-tool-acceptance-evidence/src/manifest.ts
  packages/builtin-tool-acceptance-evidence/src/systemRole.ts
  src/features/Acceptance/Report/MarkdownEvidence.tsx
  src/features/Acceptance/Report/ReportViewer.tsx
  src/features/Acceptance/Report/markdownEvidenceTitle.test.ts
  src/features/Acceptance/Viewer/CheckList.tsx
Due: none

🐛 fix: address acceptance flow review and CI failures
  apps/cli/src/commands/acceptanceFlowFeedback.test.ts
  apps/cli/src/commands/verifyAcceptance.ts
  packages/builtin-skills/src/acceptance/SKILL.md
  packages/database/src/models/__tests__/acceptanceFlow.test.ts
  packages/database/src/models/acceptanceFlow.ts
  packages/types/src/acceptanceFlow.ts
  src/features/Acceptance/Viewer/index.tsx
  src/features/Acceptance/Viewer/useAcceptanceBundle.test.ts
  src/features/Acceptance/Viewer/useAcceptanceBundle.ts
Due: none

📝 docs: clarify flow completion requirements
  packages/builtin-skills/src/acceptance/SKILL.md
Due: none

📝 docs: add required descriptions to acceptance ingest examples
  packages/builtin-skills/src/acceptance/references/report.md
Due: none

🐛 fix: use clipboard fallback for agent topic copy actions
  src/features/AgentSidebar/Topic/List/Item/useDropdownMenu.test.tsx
  src/features/AgentSidebar/Topic/List/Item/useDropdownMenu.tsx
  src/routes/(main)/agent/features/Conversation/Header/HeaderActions/useMenu.test.tsx
  src/routes/(main)/agent/features/Conversation/Header/HeaderActions/useMenu.tsx
Due: none

docs: add Vinatex production deployment guide
  docs/VINATEX-DEPLOYMENT.md
Due: none

chore: add Vinatex production environment template
  .env.example.vinatex
Due: none

✨ feat(desktop): add chat completion sound settings
  apps/desktop/resources/sounds/lobehub-complete.aiff
  apps/desktop/src/main/controllers/CompletionSoundCtr.ts
  apps/desktop/src/main/controllers/NotificationCtr.mac.ts
  apps/desktop/src/main/controllers/__tests__/CompletionSoundCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/controllerDefaultExport.test.ts
  apps/desktop/src/main/controllers/notificationShared.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/modules/completionSound.test.ts
  apps/desktop/src/main/modules/completionSound.ts
  apps/desktop/src/main/types/store.ts
  locales/en-US/setting.json
  locales/zh-CN/setting.json
  packages/electron-client-ipc/src/types/notification.ts
  packages/electron-mac-notifications/index.d.ts
  packages/electron-mac-notifications/index.js
  packages/electron-mac-notifications/native/addon.mm
  packages/locales/src/default/setting.ts
  public/sounds/chat-complete.wav
  scripts/generateCompletionSound.mts
  src/features/Settings/features/componentMap.desktop.ts
  src/features/Settings/hooks/useCategory.tsx
  src/features/Settings/notification/index.tsx
  src/features/SettingsSearch/items.ts
  src/services/electron/completionSound.test.ts
  src/services/electron/completionSound.ts
  src/store/chat/slices/agentRun/actions/lifecycle/buildRunLifecycle.test.ts
  src/store/chat/slices/agentRun/actions/lifecycle/buildRunLifecycle.ts
  src/store/chat/utils/desktopNotification.test.ts
  src/store/chat/utils/desktopNotification.ts
Due: Store Layer, Services Layer

💄 style(shiny-text): tone shiny labels to the text beside them (#19262)
  packages/shared-tool-ui/src/styles.ts
  src/styles/loading.ts
Due: none

🐛 fix: make Acceptance file evidence identifiable and require descriptions in prompts (#19276)
  apps/cli/src/commands/acceptanceRun.ts
  apps/cli/src/commands/verify.test.ts
  apps/cli/src/commands/verifyHelpers.ts
  packages/builtin-skills/src/acceptance/SKILL.md
  packages/builtin-skills/src/acceptance/references/evidence.md
  packages/builtin-skills/src/acceptance/references/report.md
  packages/builtin-tool-acceptance-evidence/src/manifest.ts
  packages/builtin-tool-acceptance-evidence/src/systemRole.ts
  src/features/Acceptance/Report/MarkdownEvidence.tsx
  src/features/Acceptance/Report/ReportViewer.tsx
  src/features/Acceptance/Report/markdownEvidenceTitle.test.ts
  src/features/Acceptance/Viewer/CheckList.tsx
Due: none

🐛 fix(test): realign mocks with the first-screen graph cut
  src/features/Auth/SignIn/useSignIn.test.ts
  src/features/Auth/SignUp/useSignUp.test.ts
  src/features/DailyBrief/__tests__/BriefCardSummary.test.tsx
  src/features/ModelSwitchPanel/components/List/__tests__/MultipleProvidersModelItem.test.tsx
  src/features/Settings/skill/features/SkillDetail/index.test.tsx
  src/store/chat/slices/agentRun/actions/__tests__/conversationLifecycle.test.ts
Due: Store Layer

🔨 chore(deep-review): fix P0/P1 and quick P2 directly, ask only for high-risk findings
  .agents/skills/deep-review/SKILL.md
  .agents/skills/deep-review/references/claude-code/main.md
  .agents/skills/deep-review/references/codex/main.md
  .agents/skills/deep-review/references/fix-policy.md
  .agents/skills/deep-review/references/report-template.md
  .agents/skills/deep-review/references/verify-prompt.md
Due: none
