Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

add more regions
  src/app/[variants]/(main)/settings/provider/detail/bedrock/index.tsx
Due: none

:bookmark: chore(release): v1.136.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  32/1b4149310a47bddde19a5320ac4c5232d823c3
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

feat: change sdk & api into url const & change market api into servers
  src/app/(backend)/market-oidc/[[...segments]]/route.ts
  src/app/(backend)/market/[[...segments]]/route.ts
  src/app/[variants]/(main)/discover/(detail)/assistant/[...slugs]/features/Sidebar/ActionButton/AddAgent.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/oidc.ts
  src/services/_url.ts
  src/services/marketApi.ts
Due: Services Layer

chore: adjust input style
  apps/mobile/app/(main)/setting/providers/[id]/index.tsx
  apps/mobile/app/discover/assistant/index.tsx
  apps/mobile/app/playground/index.tsx
  apps/mobile/src/components/Input/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/setting/providers/ConfigurationSection/index.tsx
Due: none

✨ feat: （预渲染模型切换浮窗）支持 ActionDropdown 组件的预渲染功能
  src/features/ChatInput/ActionBar/components/ActionDropdown.tsx
  src/features/ModelSwitchPanel/index.tsx
Due: none

pdated copyMessage function to use the new utility
  src/store/chat/slices/message/action.ts
Due: Store Layer

new utility function to process markdown content for copying
  src/utils/processMarkdownForCopy.ts
Due: Utils Layer

feat: change all api into /market server path
  src/app/(backend)/market/[[...segments]]/route.ts
  src/app/(backend)/market/agent/[[...segments]]/route.ts
  src/app/(backend)/market/oidc/[[...segments]]/route.ts
  src/services/_url.ts
Due: Services Layer

add abstract chunk prompt eval
  packages/prompts/package.json
  packages/prompts/promptfoo/abstract-chunk/eval.yaml
  packages/prompts/promptfoo/abstract-chunk/prompt.ts
  packages/prompts/promptfooconfig.yaml
  packages/prompts/src/chains/__tests__/__snapshots__/abstractChunk.test.ts.snap
  packages/prompts/src/chains/__tests__/abstractChunk.test.ts
Due: none

feat: logout after comfirm
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/src/features/setting/developer/CustomServer/index.tsx
  apps/mobile/src/i18n/default/setting.ts
Due: none

fix: update DeepSeek model versions and descriptions in modelscope
  packages/model-bank/src/aiModels/modelscope.ts
  src/config/modelProviders/modelscope.ts
Due: none

🐛 fix(provider): add deepseek-v3.1-terminus to THINKING_MODELS (#9653)
  packages/model-runtime/src/providers/nvidia/index.ts
Due: none

:bookmark: chore(release): v1.136.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  51/5dee110eb0f2376307ccb80cc8c9726d0fc10d
Due: none

feat: show developer config
  apps/mobile/app/(main)/setting/(components)/SettingGroup/style.ts
  apps/mobile/app/(main)/setting/developer/custom-server/index.tsx
  apps/mobile/app/(main)/setting/developer/index.tsx
  apps/mobile/src/features/setting/developer/CustomServer/index.tsx
  apps/mobile/src/i18n/default/setting.ts
  apps/mobile/src/i18n/index.ts
Due: none

add labs page
  src/app/[variants]/(main)/_layout/Desktop/SideBar/BottomActions.tsx
  src/app/[variants]/(main)/labs/components/LabCard.tsx
  src/app/[variants]/(main)/labs/page.tsx
  src/store/user/slices/preference/selectors.ts
Due: Store Layer

💄 style: add lab to support disable/enable rich text (#9652)
  packages/prompts/package.json
  packages/prompts/promptfoo/abstract-chunk/eval.yaml
  packages/prompts/promptfoo/abstract-chunk/prompt.ts
  packages/prompts/promptfooconfig.yaml
  packages/prompts/src/chains/__tests__/__snapshots__/abstractChunk.test.ts.snap
  packages/prompts/src/chains/__tests__/abstractChunk.test.ts
  src/app/[variants]/(main)/_layout/Desktop/SideBar/BottomActions.tsx
  src/app/[variants]/(main)/labs/components/LabCard.tsx
  src/app/[variants]/(main)/labs/page.tsx
  src/store/user/slices/preference/selectors.ts
Due: Store Layer

add i18n
  locales/fa-IR/common.json
  locales/fa-IR/hotkey.json
Due: none

:bookmark: chore(release): v1.136.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cd/337011fa7f15709d06b3193fc48129d89e3e37
Due: none

add placeholder structure
  packages/types/src/tool/builtin.ts
  src/features/Conversation/Messages/Assistant/Tool/Render/Arguments/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/LoadingPlaceholder/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/index.tsx
  src/tools/placeholders.ts
  src/tools/web-browsing/Placeholder/Search.tsx
  src/tools/web-browsing/Placeholder/index.tsx
  src/tools/web-browsing/Render/Search/SearchQuery/SearchView.tsx
  src/tools/web-browsing/Render/Search/SearchResult/index.tsx
  src/tools/web-browsing/const.ts
Due: none

improve searching
  src/features/Conversation/Messages/Assistant/Tool/Inspector/BuiltinPluginTitle.tsx
  src/features/Conversation/Messages/Assistant/Tool/Inspector/ToolTitle.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  src/store/chat/slices/message/selectors.ts
  src/tools/web-browsing/components/EngineAvatar.tsx
  src/tools/web-browsing/const.ts
Due: Store Layer

improve search result content
  packages/prompts/src/prompts/index.ts
  packages/prompts/src/prompts/search/index.ts
  packages/prompts/src/prompts/search/searchResults.test.ts
  packages/prompts/src/prompts/search/searchResults.ts
  packages/types/src/tool/index.ts
  src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  src/store/chat/slices/builtinTool/actions/search.ts
  src/tools/web-browsing/Placeholder/PageContent.tsx
  src/tools/web-browsing/Placeholder/index.tsx
  src/tools/web-browsing/const.ts
Due: Store Layer

fix tests
  src/store/chat/slices/builtinTool/actions/search.test.ts
Due: Store Layer

improve error
  src/tools/web-browsing/Render/PageContent/Result.tsx
Due: none

improve crawler multi page style
  src/features/PluginsUI/Render/BuiltinType/index.tsx
  src/tools/web-browsing/Placeholder/PageContent.tsx
  src/tools/web-browsing/Placeholder/index.tsx
  src/tools/web-browsing/Render/PageContent/Loading.tsx
  src/tools/web-browsing/Render/PageContent/Result.tsx
  src/tools/web-browsing/Render/PageContent/index.tsx
Due: none

improve crawler multi page content
  packages/prompts/src/prompts/search/crawlResults.test.ts
  packages/prompts/src/prompts/search/crawlResults.ts
  packages/prompts/src/prompts/search/index.ts
  packages/prompts/src/prompts/search/searchResults.ts
  packages/prompts/src/prompts/search/xmlEscape.ts
  src/store/chat/slices/builtinTool/actions/search.test.ts
  src/store/chat/slices/builtinTool/actions/search.ts
Due: Store Layer

improve styles
  src/tools/web-browsing/Placeholder/PageContent.tsx
Due: none

fix tests
  src/features/PluginsUI/Render/BuiltinType/index.test.tsx
Due: none

✨ feat: add new setting for default image num
  docs/development/database-schema.dbml
  packages/const/src/settings/image.ts
  packages/const/src/settings/index.ts
  packages/database/migrations/0037_add_image_user_settings.sql
  packages/database/src/models/user.ts
  packages/database/src/schemas/user.ts
  packages/types/src/user/settings/image.ts
  packages/types/src/user/settings/index.ts
  src/app/[variants]/(main)/settings/_layout/SettingsContent.tsx
  src/app/[variants]/(main)/settings/hooks/useCategory.tsx
  src/app/[variants]/(main)/settings/image/index.tsx
  src/components/FormInput/FormSliderWithInput.tsx
  src/components/FormInput/index.ts
  src/hooks/useFetchAiImageConfig.ts
  src/locales/default/setting.ts
  src/store/global/initialState.ts
  src/store/image/slices/generationConfig/action.test.ts
  src/store/image/slices/generationConfig/action.ts
  src/store/image/slices/generationConfig/initialState.ts
  src/store/user/slices/settings/selectors/settings.ts
Due: Store Layer

chore: update db migration script
  packages/database/migrations/0037_add_image_user_settings.sql
  packages/database/migrations/0038_add_image_user_settings.sql
  packages/database/migrations/meta/0038_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

fix: image config load for none-login user
  src/hooks/useFetchAiImageConfig.ts
  src/store/image/slices/generationConfig/action.ts
Due: Store Layer
