Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix(desktop): add safe top edge for message container
  src/layout/GlobalProvider/AppTheme.tsx
Due: none

🐛 fix(desktop): add safe top edge for message container (#10908)
  src/layout/GlobalProvider/AppTheme.tsx
Due: none

update migration sql
  packages/database/migrations/0066_add_document_fields.sql
  packages/database/src/core/migrations.json
Due: none

🔧 chore: remove deprecated patch for @swagger-api/apidom-reference from package.json and delete associated patch file
  package.json
  patches/@swagger-api__apidom-reference.patch
Due: none

🐛 fix: remove openapi pkg patch file (#10910)
  package.json
  patches/@swagger-api__apidom-reference.patch
Due: none

fix: Page creaetion
  src/features/CommandMenu/SearchResults.tsx
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

feat: Context aware commands
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/components/CommandItem.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
Due: none

lint: Remove unused console.log
  src/features/PageEditor/PageEditorProvider.tsx
  src/features/PageEditor/StoreUpdater.tsx
  src/features/PageEditor/store/action.ts
Due: none

feat: Add more CMDK commands
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/features/PageEditor/PageEditor.tsx
  src/features/PageExplorer/index.tsx
  src/locales/default/common.ts
Due: none

lint: Clean up console.log
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  src/features/PageEditor/StoreUpdater.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
  src/tools/page-agent/ExecutionRuntime/index.ts
Due: none

lint: Clean up console.log
  src/features/ResourceManager/components/Header/hooks/useNotionImport.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
Due: Store Layer

feat: Create team in the CMDK
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/layout/GlobalProvider/GroupWizardProvider.tsx
  src/layout/GlobalProvider/index.tsx
Due: none

lint: Clean up console.log
  src/features/PageEditor/StoreUpdater.tsx
  src/features/PageEditor/store/action.ts
Due: none

feat: Adjust text
  src/features/CommandMenu/MainMenu.tsx
  src/locales/default/common.ts
Due: none

feat: SHow agent list in CMDK
  src/features/CommandMenu/AskAIMenu.tsx
Due: none

feat: Lobe AI
  src/features/CommandMenu/AskAIMenu.tsx
Due: none

feat: Ask AI menu
  src/features/CommandMenu/AskAIMenu.tsx
  src/features/CommandMenu/CommandMenuContext.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/types.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
Due: none

feat: Add email entry
  src/features/CommandMenu/MainMenu.tsx
  src/locales/default/common.ts
Due: none

⚡️ perf(tooltip): group tooltip to optimize tooltip performance (#10906)
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Details/Overview/ProviderList/index.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Details/Overview/ModelList/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserAgentCard.tsx
  src/app/[variants]/(main)/community/features/LikeButton.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/EnabledModelList/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/SearchResult.tsx
  src/features/ChatInput/ActionBar/Search/FunctionCallingModelSelect/index.tsx
  src/features/ModelSelect/index.tsx
Due: none

👷 build: improve document db schema (#10892)
  docs/development/database-schema.dbml
  packages/database/migrations/0066_add_document_fields.sql
  packages/database/migrations/meta/0066_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/file.ts
Due: none

:bookmark: chore(release): v2.0.0-next.176 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ce/c3754c48739e4ce13f871d3b31ba35622fb008
Due: none

add notebook builtin tool
  package.json
  packages/builtin-tool-notebook/package.json
  packages/builtin-tool-notebook/src/ExecutionRuntime/index.ts
  packages/builtin-tool-notebook/src/client/Intervention/CreateDocument/index.tsx
  packages/builtin-tool-notebook/src/client/Intervention/index.ts
  packages/builtin-tool-notebook/src/client/Render/CreateDocument/DocumentCard.tsx
  packages/builtin-tool-notebook/src/client/Render/CreateDocument/index.tsx
  packages/builtin-tool-notebook/src/client/Render/ListDocuments/index.tsx
  packages/builtin-tool-notebook/src/client/Render/index.ts
  packages/builtin-tool-notebook/src/client/index.ts
  packages/builtin-tool-notebook/src/index.ts
  packages/builtin-tool-notebook/src/manifest.ts
  packages/builtin-tool-notebook/src/systemRole.ts
  packages/builtin-tool-notebook/src/types.ts
  packages/database/src/models/__tests__/topicDocument.test.ts
  packages/database/src/models/topicDocument.ts
  src/tools/index.ts
Due: none

add notebook tools
  locales/en-US/plugin.json
  locales/zh-CN/plugin.json
  package.json
  packages/builtin-agents/src/agents/inbox/systemRole.ts
  src/features/Conversation/Messages/Tool/ErrorBoundary/ErrorResult.tsx
  src/features/Conversation/Messages/Tool/ErrorBoundary/index.tsx
  src/features/Conversation/Messages/Tool/index.tsx
  src/features/PluginsUI/Render/index.tsx
  src/libs/swr/mutate.ts
  src/locales/default/plugin.ts
  src/store/document/index.ts
  src/store/document/slices/editor/action.ts
  src/store/document/slices/editor/index.ts
  src/store/document/slices/editor/initialState.ts
  src/store/document/slices/editor/selectors.ts
  src/store/document/slices/notebook/action.ts
  src/store/document/slices/notebook/index.ts
  src/store/document/slices/notebook/initialState.ts
  src/store/document/slices/notebook/selectors.ts
  src/store/document/store.ts
  src/store/notebook/index.ts
Due: Store Layer, Libraries Layer

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

gtd support plan mode
  packages/builtin-tool-gtd/src/client/Intervention/CreatePlan.tsx
  packages/builtin-tool-gtd/src/client/Intervention/index.ts
  packages/builtin-tool-gtd/src/client/Render/CreatePlan.tsx
  packages/builtin-tool-gtd/src/client/Render/PlanCard.tsx
  packages/builtin-tool-gtd/src/client/Render/index.ts
  packages/builtin-tool-gtd/src/executor/index.ts
  packages/builtin-tool-gtd/src/manifest.ts
  packages/builtin-tool-gtd/src/systemRole.ts
  packages/builtin-tool-gtd/src/types.ts
  packages/builtin-tool-notebook/src/manifest.ts
  src/features/Portal/Document/Body.tsx
  src/server/routers/lambda/notebook.ts
  src/services/notebook.ts
  src/store/notebook/action.ts
  src/store/notebook/initialState.ts
  src/store/notebook/selectors.ts
Due: Store Layer, Services Layer, Server Layer

feat: add user follow and like agent/mcp
  locales/en-US/discover.json
  locales/zh-CN/discover.json
  package.json
  packages/types/src/discover/index.ts
  src/app/(backend)/market/social/[[...segments]]/route.ts
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/community/(detail)/mcp/features/Sidebar/ActionButton/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/FollowButton.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/FollowStats.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserAgentList.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserContent.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserFavoriteAgents.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserFavoritePlugins.tsx
  src/app/[variants]/(main)/community/(detail)/user/index.tsx
  src/features/MCPPluginDetail/Header.tsx
  src/locales/default/discover.ts
  src/server/services/discover/index.ts
  src/services/_url.ts
  src/services/social.ts
  src/store/discover/slices/social/action.ts
  src/store/discover/slices/social/index.ts
  src/store/discover/store.ts
Due: Store Layer, Services Layer, Server Layer

feat: update market sdk& api call back
  package.json
  src/server/services/discover/index.ts
Due: Server Layer

✨ feat： community support like and follow (#10913)
  locales/en-US/discover.json
  locales/zh-CN/discover.json
  package.json
  packages/types/src/discover/index.ts
  src/app/(backend)/market/social/[[...segments]]/route.ts
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/community/(detail)/mcp/features/Sidebar/ActionButton/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/FollowButton.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/FollowStats.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserAgentList.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserContent.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserFavoriteAgents.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserFavoritePlugins.tsx
  src/app/[variants]/(main)/community/(detail)/user/index.tsx
  src/features/MCPPluginDetail/Header.tsx
  src/locales/default/discover.ts
  src/server/services/discover/index.ts
  src/services/_url.ts
  src/services/social.ts
  src/store/discover/slices/social/action.ts
  src/store/discover/slices/social/index.ts
  src/store/discover/store.ts
Due: Store Layer, Services Layer, Server Layer

remove docker file patch
  .github/workflows/c3-pipeline-build-push-deploy-to-dev.yml
Due: none

tag lobechat image with lobechat version
  .github/workflows/c3-pipeline-build-push-deploy-to-dev.yml
Due: none

feat: Better CMDK (#10915)
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  src/features/CommandMenu/AskAIMenu.tsx
  src/features/CommandMenu/CommandMenuContext.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/components/CommandItem.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/types.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/features/PageEditor/PageEditor.tsx
  src/features/PageEditor/PageEditorProvider.tsx
  src/features/PageEditor/StoreUpdater.tsx
  src/features/PageEditor/store/action.ts
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
  src/features/ResourceManager/components/Header/hooks/useNotionImport.ts
  src/layout/GlobalProvider/GroupWizardProvider.tsx
  src/layout/GlobalProvider/index.tsx
  src/locales/default/common.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/store/file/slices/document/action.ts
  src/tools/page-agent/ExecutionRuntime/index.ts
Due: Store Layer

chore: update i18n
  src/locales/default/auth.ts
  src/locales/default/discover.ts
  src/locales/default/electron.ts
  src/locales/default/file.ts
  src/locales/default/image.ts
  src/locales/default/oauth.ts
Due: none

chore: update i18n
  src/locales/default/chat.ts
  src/locales/default/common.ts
  src/locales/default/discover.ts
  src/locales/default/error.ts
  src/locales/default/marketAuth.ts
  src/locales/default/modelProvider.ts
  src/locales/default/plugin.ts
  src/locales/default/portal.ts
  src/locales/default/setting.ts
Due: none

chore: update i18n
  src/locales/default/auth.ts
  src/locales/default/authError.ts
  src/locales/default/chat.ts
  src/locales/default/common.ts
  src/locales/default/components.ts
  src/locales/default/discover.ts
  src/locales/default/editor.ts
  src/locales/default/error.ts
  src/locales/default/file.ts
  src/locales/default/home.ts
  src/locales/default/image.ts
  src/locales/default/marketAuth.ts
  src/locales/default/migration.ts
  src/locales/default/modelProvider.ts
  src/locales/default/oauth.ts
  src/locales/default/onboarding.ts
  src/locales/default/plugin.ts
  src/locales/default/portal.ts
  src/locales/default/setting.ts
  src/locales/default/thread.ts
  src/locales/default/tool.ts
  src/locales/default/topic.ts
  src/locales/default/welcome.ts
Due: none

chore: update i18n
  .cursor/rules/microcopy-cn.mdc
  .cursor/rules/microcopy-en.mdc
Due: none

chore: update i18n
  src/locales/default/common.ts
  src/locales/default/components.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
