Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

Notes added by 'git notes add'
  c7/c1757e44bba5b0ca13477a1ebab6e8ca9e8369
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

🌐 chore: translate non-English comments to English in mcp service (#10407)
  src/server/services/mcp/contentProcessor.ts
  src/server/services/mcp/deps/MCPSystemDepsCheckService.ts
  src/server/services/mcp/index.ts
Due: Server Layer

✅ test: add unit tests for headersToRecord function (#10412)
  packages/fetch-sse/src/__tests__/headers.test.ts
Due: none

move db envs
  package.json
  packages/database/src/core/dbForTest.ts
  packages/database/src/core/web-server.ts
  packages/utils/src/server/index.ts
  packages/utils/src/server/sse.ts
  src/app/(backend)/api/auth/adapter/route.ts
  src/app/(backend)/webapi/create-image/comfyui/route.ts
  src/envs/db.ts
  src/libs/next-auth/adapter/index.ts
  src/libs/oidc-provider/provider.ts
  src/libs/trpc/async/asyncAuth.ts
  src/server/modules/KeyVaultsEncrypt/index.ts
  src/server/routers/async/caller.ts
  src/server/routers/async/file.ts
  src/server/routers/lambda/file.ts
  src/server/services/file/index.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer, Server Layer, Libraries Layer

add
  src/libs/redis/client.ts
  src/libs/redis/config.ts
  src/libs/redis/index.ts
Due: Libraries Layer

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🐛 fix: Showing compatibility with both new and old versions of Plugins (#10418)
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/Capabilities/Plugins.tsx
  src/server/services/discover/index.ts
Due: Server Layer

Update siliconcloud.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

feat: change settings drawer to model and delete something
  src/app/[variants]/(main)/chat/components/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/index.tsx
  src/features/AgentSetting/AgentChat/index.tsx
  src/features/AgentSetting/AgentModal/index.tsx
  src/features/AgentSetting/AgentSettingsContent.tsx
Due: none

fix snapshot
  src/libs/mcp/__tests__/__snapshots__/index.test.ts.snap
Due: Libraries Layer

✅ test: fix tests snapshot (#10434)
  src/libs/mcp/__tests__/__snapshots__/index.test.ts.snap
Due: Libraries Layer

update
  .github/workflows/pr-build-desktop.yml
  .github/workflows/pr-build-docker.yml
  .github/workflows/release-docker.yml
Due: none

:bookmark: chore(release): v2.0.0-next.118 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  65/53544fed147c1d4e825f7b7fb74ade633753d6
Due: none

🔨 chore: update docker yml (#10433)
  .github/workflows/pr-build-desktop.yml
  .github/workflows/pr-build-docker.yml
  .github/workflows/release-docker.yml
Due: none

feat: add the manual add tools into agent setting editor
  packages/types/src/agent/item.ts
  src/app/[variants]/(main)/chat/components/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/AgentConfigBar.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/PluginTag.tsx
Due: none

fix again
  package.json
Due: none

try to fix
  package.json
Due: none

💄 style: update i18n
  locales/ar/models.json
  locales/ar/setting.json
  locales/bg-BG/models.json
  locales/bg-BG/setting.json
  locales/de-DE/models.json
  locales/de-DE/setting.json
  locales/en-US/models.json
  locales/en-US/setting.json
  locales/es-ES/models.json
  locales/es-ES/setting.json
  locales/fa-IR/models.json
  locales/fa-IR/setting.json
  locales/fr-FR/models.json
  locales/fr-FR/setting.json
  locales/it-IT/models.json
  locales/it-IT/setting.json
  locales/ja-JP/models.json
  locales/ja-JP/setting.json
  locales/ko-KR/models.json
  locales/ko-KR/setting.json
  locales/nl-NL/models.json
  locales/nl-NL/setting.json
  locales/pl-PL/models.json
  locales/pl-PL/setting.json
  locales/pt-BR/models.json
  locales/pt-BR/setting.json
  locales/ru-RU/models.json
  locales/ru-RU/setting.json
  locales/tr-TR/models.json
  locales/tr-TR/setting.json
  locales/vi-VN/models.json
  locales/vi-VN/setting.json
  locales/zh-CN/models.json
  locales/zh-TW/models.json
  locales/zh-TW/setting.json
Due: none

✨ feat: add image aspect ratio and resolution settings for AI models
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/types/aiModel.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
  packages/types/src/agent/chatConfig.ts
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/ImageAspectRatioSelect.tsx
  src/features/ChatInput/ActionBar/Model/ImageResolutionSlider.tsx
  src/locales/default/chat.ts
  src/services/chat/index.ts
Due: Services Layer

🤖 style: update i18n (#10405)
  locales/ar/models.json
  locales/ar/setting.json
  locales/bg-BG/models.json
  locales/bg-BG/setting.json
  locales/de-DE/models.json
  locales/de-DE/setting.json
  locales/en-US/models.json
  locales/en-US/setting.json
  locales/es-ES/models.json
  locales/es-ES/setting.json
  locales/fa-IR/models.json
  locales/fa-IR/setting.json
  locales/fr-FR/models.json
  locales/fr-FR/setting.json
  locales/it-IT/models.json
  locales/it-IT/setting.json
  locales/ja-JP/models.json
  locales/ja-JP/setting.json
  locales/ko-KR/models.json
  locales/ko-KR/setting.json
  locales/nl-NL/models.json
  locales/nl-NL/setting.json
  locales/pl-PL/models.json
  locales/pl-PL/setting.json
  locales/pt-BR/models.json
  locales/pt-BR/setting.json
  locales/ru-RU/models.json
  locales/ru-RU/setting.json
  locales/tr-TR/models.json
  locales/tr-TR/setting.json
  locales/vi-VN/models.json
  locales/vi-VN/setting.json
  locales/zh-CN/models.json
  locales/zh-TW/models.json
  locales/zh-TW/setting.json
Due: none

:bookmark: chore(release): v2.0.0-next.119 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0c/831527ba1b671ebe8c3f724da5ad00ac111d51
Due: none

🐛 fix: try to fix “TypeError: Response body object should not be disturbed or locked” (#10321)
  package.json
Due: none

:bookmark: chore(release): v2.0.0-next.120 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6a/235f22bfbd93e8072773ba487e791e8bc1e2fc
Due: none

feat: update metion to market way
  packages/prompts/src/index.ts
  packages/prompts/src/prompts/plugin/index.ts
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/MentionList/MentionDropdown.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/MentionList/index.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/MentionList/types.ts
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/MentionList/useMentionItems.tsx
  src/features/AgentSetting/store/reducers/config.ts
Due: none

fix: clean useless code
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/PluginTag.tsx
Due: none

fix: change the plugins back
  packages/types/src/agent/item.ts
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/AgentConfigBar.tsx
Due: none

💄 style: add image aspect ratio and resolution settings for Nano Banana Pro (#10430)
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/types/aiModel.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
  packages/types/src/agent/chatConfig.ts
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/ImageAspectRatioSelect.tsx
  src/features/ChatInput/ActionBar/Model/ImageResolutionSlider.tsx
  src/locales/default/chat.ts
  src/services/chat/index.ts
Due: Services Layer

:bookmark: chore(release): v2.0.0-next.121 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e3/8d37eee5dfbbf48c68255f1c90df4607021027
Due: none

feat: add some loading & inital status config
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/AgentConfigBar.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/AutoSaveHint.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/PluginTag.tsx
  src/app/[variants]/(main)/chat/components/features/AgentSettingsEditor/index.tsx
  src/features/AgentSetting/store/action.ts
  src/features/AgentSetting/store/initialState.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
