Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

📝 docs: supplement feature flags and refine env guide
  .cursor/rules/add-setting-env.mdc
  docs/self-hosting/advanced/feature-flags.mdx
  docs/self-hosting/advanced/feature-flags.zh-CN.mdx
Due: none

📝 docs: add database migrations guide and update migration SQL for idempotency
  .cursor/rules/db-migrations.mdc
  packages/database/migrations/0037_add_image_user_settings.sql
Due: none

✨ feat(image): support AI_IMAGE_DEFAULT_IMAGE_NUM env variable
  .cursor/rules/add-new-setting-env.mdc
  .env.example
  docs/self-hosting/environment-variables/basic.mdx
  docs/self-hosting/environment-variables/basic.zh-CN.mdx
  packages/const/src/settings/image.ts
  packages/types/src/serverConfig.ts
  packages/types/src/user/settings/image.ts
  src/app/[variants]/(main)/settings/image/index.tsx
  src/envs/image.ts
  src/hooks/useFetchAiImageConfig.ts
  src/server/globalConfig/index.ts
  src/store/image/slices/generationConfig/action.test.ts
  src/store/image/slices/generationConfig/action.ts
  src/store/image/slices/generationConfig/initialState.ts
  src/store/user/slices/common/action.ts
Due: Store Layer, Server Layer

🔧 chore(db): add IF NOT EXISTS to image user settings migration
  packages/database/migrations/0038_add_image_user_settings.sql
  packages/database/src/core/migrations.json
Due: none

ssrf-safe-fetch: fix browser lint no-undef; add timeout support and browser tests; accept 'true' for SSRF env var; fix prebuild-wrapper lint
  package.json
  packages/ssrf-safe-fetch/index.browser.test.ts
  packages/ssrf-safe-fetch/index.browser.ts
  packages/ssrf-safe-fetch/index.ts
  packages/ssrf-safe-fetch/package.json
  scripts/prebuild-wrapper.mjs
  src/app/(backend)/trpc/desktop/[trpc]/route.ts
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
Due: none

make url max twoline
  src/styles/text.ts
  src/tools/web-browsing/Render/PageContent/Loading.tsx
Due: none

💄 style: improve search experience (#9661)
  packages/prompts/src/prompts/index.ts
  packages/prompts/src/prompts/search/crawlResults.test.ts
  packages/prompts/src/prompts/search/crawlResults.ts
  packages/prompts/src/prompts/search/index.ts
  packages/prompts/src/prompts/search/searchResults.test.ts
  packages/prompts/src/prompts/search/searchResults.ts
  packages/prompts/src/prompts/search/xmlEscape.ts
  packages/types/src/tool/builtin.ts
  packages/types/src/tool/index.ts
  src/features/Conversation/Messages/Assistant/Tool/Inspector/BuiltinPluginTitle.tsx
  src/features/Conversation/Messages/Assistant/Tool/Inspector/ToolTitle.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/Arguments/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/LoadingPlaceholder/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/index.tsx
  src/features/PluginsUI/Render/BuiltinType/index.test.tsx
  src/features/PluginsUI/Render/BuiltinType/index.tsx
  src/store/chat/slices/builtinTool/actions/search.test.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/selectors.ts
  src/styles/text.ts
  src/tools/placeholders.ts
  src/tools/web-browsing/Placeholder/PageContent.tsx
  src/tools/web-browsing/Placeholder/Search.tsx
  src/tools/web-browsing/Placeholder/index.tsx
  src/tools/web-browsing/Render/PageContent/Loading.tsx
  src/tools/web-browsing/Render/PageContent/Result.tsx
  src/tools/web-browsing/Render/PageContent/index.tsx
  src/tools/web-browsing/Render/Search/SearchQuery/SearchView.tsx
  src/tools/web-browsing/Render/Search/SearchResult/index.tsx
  src/tools/web-browsing/components/EngineAvatar.tsx
  src/tools/web-browsing/const.ts
Due: Store Layer

🐛 fix: add imageOutputKeywords support to model parsing logic
  packages/model-runtime/src/utils/modelParse.ts
Due: none

🐛 fix: test
  packages/model-runtime/src/utils/modelParse.test.ts
  packages/model-runtime/src/utils/modelParse.ts
  packages/types/src/llm.ts
Due: none

🐛 fix: enhance model search configuration by incorporating internal model checks
  src/helpers/getSearchConfig.test.ts
  src/helpers/getSearchConfig.ts
  src/store/aiInfra/slices/aiModel/selectors.ts
Due: Store Layer

💄 style: update form items to support search and imageOutput abilities
  packages/model-bank/src/types/aiModel.ts
  src/app/[variants]/(main)/settings/provider/features/ModelList/CreateNewModelModal/Form.tsx
  src/locales/default/modelProvider.ts
Due: none

style: add model search setting when search ability = true and remove when false
  packages/database/src/repositories/aiInfra/index.test.ts
  packages/database/src/repositories/aiInfra/index.ts
Due: none

🐛 fix: parsing imageOutput model will get other abilities
  packages/model-runtime/src/utils/modelParse.ts
Due: none

🐛 fix: enhance model parsing to support local enabled
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/utils/modelParse.ts
Due: none

🐛 fix: test
  packages/model-runtime/src/utils/postProcessModelList.test.ts
Due: none

🐛 fix: refine model parsing by updating keyword matching and removing redundant checks
  packages/model-runtime/src/utils/modelParse.ts
Due: none

💄 style: add video support to model configuration and parsing
  packages/database/src/repositories/aiInfra/index.test.ts
  packages/database/src/repositories/aiInfra/index.ts
  packages/model-bank/src/types/aiModel.ts
  packages/model-runtime/src/providers/novita/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/providers/openai/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/utils/modelParse.ts
  packages/model-runtime/src/utils/postProcessModelList.ts
  packages/types/src/llm.ts
  src/app/[variants]/(main)/settings/provider/features/ModelList/CreateNewModelModal/Form.tsx
  src/locales/default/modelProvider.ts
  src/store/aiInfra/slices/aiModel/action.ts
Due: Store Layer

🐛 fix: refine model parsing by removing unnecessary properties from image models
  packages/model-runtime/src/utils/postProcessModelList.ts
Due: none

🐛 fix: update search mode handling for internal models in Controls component
  src/features/ChatInput/ActionBar/Search/Controls.tsx
  src/store/aiInfra/slices/aiModel/selectors.ts
Due: Store Layer

🐛 fix: streamline settings cleanup by using destructuring to remove unused properties
  packages/database/src/repositories/aiInfra/index.ts
Due: none

🐛 fix: improve model parsing logic to conditionally display search options for Perplexity and Jina
  src/features/ChatInput/ActionBar/Search/Controls.tsx
Due: none

🐛 fix: prevent 'internal' search models use fcSearch
  src/store/aiInfra/slices/aiModel/selectors.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

🐛 fix: add searchKeywords support and imageOutput match to model parsing logic
  packages/model-runtime/src/providers/novita/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/providers/openai/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/utils/modelParse.ts
  packages/types/src/llm.ts
  src/store/aiInfra/slices/aiModel/action.ts
Due: Store Layer

:bookmark: chore(release): v1.136.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  eb/0c0696d0703902a01d5e19edd4d10362be8f7d
Due: none

💄 style: Add capability inference for web search, image output and video recognition in model parsing and update UI form items to support search, imageOutput and video abilities (#9022)
  packages/database/src/repositories/aiInfra/index.test.ts
  packages/database/src/repositories/aiInfra/index.ts
  packages/model-bank/src/types/aiModel.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/providers/novita/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/providers/openai/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/utils/modelParse.test.ts
  packages/model-runtime/src/utils/modelParse.ts
  packages/model-runtime/src/utils/postProcessModelList.test.ts
  packages/model-runtime/src/utils/postProcessModelList.ts
  packages/types/src/llm.ts
  src/app/[variants]/(main)/settings/provider/features/ModelList/CreateNewModelModal/Form.tsx
  src/features/ChatInput/ActionBar/Search/Controls.tsx
  src/helpers/getSearchConfig.test.ts
  src/helpers/getSearchConfig.ts
  src/locales/default/modelProvider.ts
  src/store/aiInfra/slices/aiModel/action.ts
  src/store/aiInfra/slices/aiModel/selectors.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

✨ feat: 支持 Google Gemini 音频和视频文件理解功能
  packages/context-engine/src/processors/MessageContent.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
  src/features/ChatInput/ActionBar/Upload/ServerMode.tsx
Due: none

:bookmark: chore(release): v1.136.11 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7e/f16b73f381c0563240ed012039206a95b2fe53
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

💄 style: add more AWS regions (#9644)
  src/app/[variants]/(main)/settings/provider/detail/bedrock/index.tsx
Due: none

💄 style: Update infini-ai models (#9646)
  packages/model-bank/src/aiModels/infiniai.ts
  packages/model-bank/src/aiModels/modelscope.ts
  packages/model-bank/src/aiModels/novita.ts
  packages/model-runtime/src/providers/infiniai/index.ts
  src/config/modelProviders/infiniai.ts
  src/config/modelProviders/modelscope.ts
Due: none

:bookmark: chore(release): v1.136.12 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  92/42e83824eb48562713a4dcdc958cb650613c8e
Due: none

fix(build): Changes Made:
  .vercelignore
  next.config.ts
  package.json
  vercel.json
Due: none

fix: vercel build module resolution and config
  .vercelignore
  next.config.ts
Due: none

💄 style: update i18n
  locales/ar/modelProvider.json
  locales/ar/models.json
  locales/bg-BG/modelProvider.json
  locales/bg-BG/models.json
  locales/de-DE/modelProvider.json
  locales/de-DE/models.json
  locales/en-US/modelProvider.json
  locales/en-US/models.json
  locales/es-ES/modelProvider.json
  locales/es-ES/models.json
  locales/fa-IR/modelProvider.json
  locales/fa-IR/models.json
  locales/fr-FR/modelProvider.json
  locales/fr-FR/models.json
  locales/it-IT/modelProvider.json
  locales/it-IT/models.json
  locales/ja-JP/modelProvider.json
  locales/ja-JP/models.json
  locales/ko-KR/modelProvider.json
  locales/ko-KR/models.json
  locales/nl-NL/modelProvider.json
  locales/nl-NL/models.json
  locales/pl-PL/modelProvider.json
  locales/pl-PL/models.json
  locales/pt-BR/modelProvider.json
  locales/pt-BR/models.json
  locales/ru-RU/modelProvider.json
  locales/ru-RU/models.json
  locales/tr-TR/modelProvider.json
  locales/tr-TR/models.json
  locales/vi-VN/modelProvider.json
  locales/vi-VN/models.json
  locales/zh-CN/modelProvider.json
  locales/zh-CN/models.json
  locales/zh-TW/modelProvider.json
  locales/zh-TW/models.json
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none
