Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

update for test
  src/server/routers/lambda/__tests__/integration/topic.integration.test.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

style: update agent welcome and chatinput
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/OpeningQuestions.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/ClassicChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/GroupChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Mobile/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/MainChatInput/index.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/features/Conversation/ChatList/index.tsx
Due: none

opti: Save on blur
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/index.tsx
Due: none

fix: systemrole editor init
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/Item.tsx
  src/features/Conversation/components/VirtualizedList/index.tsx
Due: none

refac: Renaming files
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/PageExplorer/index.tsx
Due: none

fix
  src/server/services/agent/index.ts
Due: Server Layer

style: update agent welcome and chatinput
  src/features/ChatInput/Desktop/index.tsx
Due: none

🐛 fix(agent): merge default configs for builtin agents on server side
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
  src/store/agent/selectors/selectors.ts
Due: Store Layer, Server Layer

chore: add knip cli
  knip.ts
  package.json
Due: none

style: update new topic button
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/AddTopicButon.tsx
Due: none

feat: Discard the page editor modal
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/Toolbar/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/Header/NewNoteButton.tsx
Due: none

style: update chat item style
  src/features/ChatList/Messages/Assistant/index.tsx
  src/features/ChatList/Messages/Group/ContentBlock.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/ContentBlock.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

opti: Better file loading
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/index.tsx
  src/store/file/slices/document/action.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer

style: update chat item style
  src/components/BubblesLoading/index.tsx
  src/components/ChatItem/components/Title.tsx
  src/components/ChatItem/style.ts
  src/features/Conversation/Messages/User/index.tsx
Due: none

fix: Page explore
  src/features/PageExplorer/index.tsx
  tsconfig.json
Due: none

♻️ refactor(agent): add getAgentConfigById to AgentService with default config merging
  src/server/routers/lambda/agent.ts
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
Due: Server Layer

fix: Deduplication
  src/features/ResourceManager/FileTree/index.tsx
  src/libs/swr/deduplication.test.ts
  src/libs/swr/index.ts
Due: Libraries Layer

🔨 chore: delete the url hydration & romove the pin agent way (#10616)
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/usePinnedAgentState.ts
  src/store/urlHydration/action.ts
  src/store/urlHydration/index.ts
  src/store/urlHydration/initialState.ts
  src/store/urlHydration/store.ts
Due: Store Layer

style: update editor style
  CHECK_UNUSED_SRC.md
  UNUSED_FILES_GUIDE.md
  knip.json
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/features/Conversation/components/WideScreenContainer/index.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/index.tsx
  src/features/PageEditor/usePageEditor.ts
Due: none

style: fix cursor
  src/features/PageEditor/Body/Title.tsx
Due: none

refactor topic issues
  packages/types/src/aiChat.ts
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/initialState.ts
  src/store/chat/slices/topic/reducer.ts
  src/store/chat/slices/topic/selectors.test.ts
  src/store/chat/slices/topic/selectors.ts
Due: Store Layer, Server Layer

style: Changelog modal
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/index.tsx
Due: none

fix: Change log modal
  src/components/ChangelogModal/index.tsx
Due: none

♻️ refactor(server/modules/s3): improved constructor to accept options without taking env directly (#10624)
  src/server/modules/S3/index.test.ts
  src/server/modules/S3/index.ts
  src/server/routers/lambda/upload.ts
  src/server/routers/lambda/user.ts
  src/server/services/file/impls/s3.test.ts
  src/server/services/file/impls/s3.ts
  src/server/services/user/index.ts
Due: Server Layer

fix: Exclude mapped document
  packages/database/src/repositories/knowledge/index.ts
Due: none

fix: Changelog dialog crashing
  docs/changelog/2025-12-15-V2.mdx
  docs/changelog/2025-12-15-V2.zh-CN.mdx
  docs/changelog/index.json
  src/app/[variants]/(main)/(mobile)/me/(home)/index.tsx
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/index.tsx
Due: none

refactor chat input issue
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/features/ChatInput/ActionBar/History/Controls.tsx
  src/features/ChatInput/ActionBar/History/index.tsx
  src/features/ChatInput/ActionBar/Knowledge/useControls.tsx
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/GPT51ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/GPT5ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/ImageAspectRatioSelect.tsx
  src/features/ChatInput/ActionBar/Model/ImageResolutionSlider.tsx
  src/features/ChatInput/ActionBar/Model/ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/TextVerbositySlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingLevelSlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingSlider.tsx
  src/features/ChatInput/ActionBar/Model/index.tsx
  src/features/ChatInput/ActionBar/Params/Controls.tsx
  src/features/ChatInput/ActionBar/Params/index.tsx
  src/features/ChatInput/ActionBar/STT/browser.tsx
  src/features/ChatInput/ActionBar/STT/openai.tsx
  src/features/ChatInput/ActionBar/Search/Controls.tsx
  src/features/ChatInput/ActionBar/Search/FCSearchModel.tsx
  src/features/ChatInput/ActionBar/Search/ModelBuiltinSearch.tsx
  src/features/ChatInput/ActionBar/Search/index.tsx
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
  src/features/ChatInput/ActionBar/Token/TokenTagForGroupChat.tsx
  src/features/ChatInput/ActionBar/Tools/index.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/features/ChatInput/ActionBar/Upload/ServerMode.tsx
  src/features/ChatInput/ChatInputProvider.tsx
  src/features/ChatInput/Desktop/FilePreview/index.tsx
  src/features/ChatInput/StoreUpdater.tsx
  src/features/ChatInput/hooks/useAgentId.ts
  src/features/ChatInput/store/initialState.ts
  src/store/agent/selectors/agentByIdSelectors.ts
  src/store/agent/selectors/chatConfigByIdSelectors.ts
  src/store/agent/selectors/index.ts
Due: Store Layer

support send message
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/hooks/useInitAgentConfig.ts
Due: none

feat: Renaming KB
  glossary.json
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/Editing.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/index.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/useDropdownMenu.tsx
Due: none

fix: Remove unncessary tRPC calling
  src/features/PageEditor/Context.tsx
Due: none

refactor model list
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/ChatInput/ActionBar/History/Controls.tsx
  src/features/ChatInput/ActionBar/History/index.tsx
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/GPT51ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/GPT5ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/ImageAspectRatioSelect.tsx
  src/features/ChatInput/ActionBar/Model/ImageResolutionSlider.tsx
  src/features/ChatInput/ActionBar/Model/ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/TextVerbositySlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingLevelSlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingSlider.tsx
  src/features/ChatInput/ActionBar/Model/index.tsx
  src/features/ChatInput/ActionBar/Params/Controls.tsx
  src/features/ChatInput/ActionBar/Search/Controls.tsx
  src/features/ChatInput/ActionBar/Search/FCSearchModel.tsx
  src/features/ChatInput/ActionBar/Search/ModelBuiltinSearch.tsx
  src/features/ChatInput/ActionBar/Search/index.tsx
  src/features/ChatInput/hooks/useAgentEnableSearch.ts
  src/features/ChatInput/hooks/useUpdateAgentConfig.ts
  src/features/Conversation/ChatInput/index.tsx
  src/features/ModelSwitchPanel/index.tsx
  src/store/agent/slices/agent/action.ts
Due: Store Layer

feat: Download document
  src/features/ResourceManager/FileExplorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/index.tsx
Due: none

feat: Header
  src/features/ResourceManager/FileExplorer/Header/index.tsx
Due: none

update tests
  src/store/agent/selectors/chatConfigByIdSelectors.test.ts
  src/store/agent/selectors/chatConfigSelectors.test.ts
Due: Store Layer

✨ feat(userMemory): with Upstash Workflows for memory extractor (#10623)
  package.json
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/obervability-otel/src/modules/memory-user-memory/extract.ts
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix topic models update issues
  packages/database/src/models/__tests__/topics/topic.update.test.ts
  packages/database/src/models/topic.ts
  packages/database/src/schemas/_helpers.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
