Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: Update layout background color based on theme
  src/app/[variants]/(main)/_layout/index.tsx
Due: none

feat: Add copilot entry
  src/features/PageEditor/Copilot/Toolbar.tsx
Due: none

🐛 fix(userMemories,memory-user-memory): trim off based on the configured model token limit (#10737)
  packages/types/src/serverConfig.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix market build
  src/server/routers/lambda/market/index.ts
Due: Server Layer

fix: Remove unused files
  src/features/PageEditor/Copilot/Toolbar.tsx
Due: none

style: update discover
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/useSlashItems.tsx
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/app/[variants]/(main)/discover/(detail)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/DetailProvider.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/Banner.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentCard.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentList.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserHeader.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/useUserDetail.ts
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/discover/features/UserAvatar/index.tsx
  src/locales/default/discover.ts
Due: none

feat: Update CMDK icons
  src/features/CommandMenu/MainMenu.tsx
  src/locales/default/common.ts
Due: none

⚡️ perf(database): optimize document queries with indexes and field exclusion
  packages/database/src/models/__tests__/document.test.ts
  packages/database/src/models/document.ts
  packages/database/src/schemas/file.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
Due: Store Layer, Services Layer

feat: Add migration
  docs/development/database-schema.dbml
  packages/database/migrations/0061_add_documents_indexes.sql
  packages/database/migrations/meta/0061_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

⚡️ perf(database): missing user_id and user_memory_id index
  docs/development/database-schema.dbml
  packages/database/migrations/0062_add_memory_user_id_index.sql
  packages/database/migrations/meta/0062_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/userMemories.ts
Due: none

style: update discover
  src/app/[variants]/(main)/discover/(detail)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/Banner.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentList.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/loading.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/Client.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/loading.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/index.tsx
  src/app/[variants]/(main)/discover/components/ListLoading.tsx
  src/app/[variants]/(main)/discover/components/Title.tsx
  src/locales/default/discover.ts
Due: none

refac: Use select
  packages/database/migrations/0061_add_documents_indexes.sql
  packages/database/src/models/document.ts
Due: none

style: fix draw z-index
  src/features/NavPanel/SideBarDrawer.tsx
  src/features/NavPanel/index.tsx
Due: none

style: add start converstation button
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/locales/default/setting.ts
Due: none

fix(memory-user-memory): do not update updated_at for topic when extracted
  packages/memory-user-memory/src/providers/chatTopic.ts
Due: none

🐛 fix(memory-user-memory): do not update updated_at for topic when extracted (#10741)
  packages/memory-user-memory/src/providers/chatTopic.ts
Due: none

refactor with new supervisor
  packages/database/src/models/chatGroup.ts
  packages/database/src/repositories/agentGroup/index.test.ts
  packages/database/src/repositories/agentGroup/index.ts
  packages/types/src/agentGroup/index.ts
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionGroupMenuItems.tsx
  src/server/routers/lambda/agentGroup.ts
  src/services/chatGroup/index.ts
  src/store/agentGroup/action.ts
Due: Store Layer, Services Layer, Server Layer

refactor Conversation context
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/chat/features/Conversation/useAgentContext.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/group/features/Conversation/useGroupContext.ts
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/CollapseGroup/Actions.tsx
  src/hooks/useCurrentContext.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/types.ts
  src/server/services/aiAgent/index.ts
  src/store/agentGroup/selectors/byId.ts
  src/store/agentGroup/selectors/current.ts
  src/store/agentGroup/selectors/index.ts
Due: Store Layer, Server Layer

refactor the topic map issue
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/AgentProfilePopup.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMemberItem.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/style.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/List/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/TopicListContent/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/Header/index.tsx
  src/app/[variants]/(main)/group/profile/features/AgentBuilder/TopicSelector.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/Avatar.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/locales/default/chat.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/chat/slices/message/initialState.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/initialState.ts
  src/store/chat/slices/topic/selectors.test.ts
  src/store/chat/slices/topic/selectors.ts
  src/store/chat/utils/messageMapKey.ts
  src/store/chat/utils/topicMapKey.test.ts
  src/store/chat/utils/topicMapKey.ts
Due: Store Layer

✨ feat: 添加 GLM-4.6V 模型，更新 siliconcloud 模型的上下文窗口，移除过时的 Gemini 模型
  packages/model-bank/src/aiModels/infiniai.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-bank/src/aiModels/zenmux.ts
Due: none

fix: migration
  packages/database/migrations/0062_add_memory_user_id_index.sql
  packages/database/src/core/migrations.json
Due: none

fix(memory-user-memory): should handle the exceptions loosely
  packages/memory-user-memory/src/prompts/layers/context.md
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

🐛 fix(memory-user-memory): should handle the exceptions loosely (#10742)
  packages/memory-user-memory/src/prompts/layers/context.md
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

refactor aiAgent tests
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgents.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execGroupAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/helpers.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/multiRoundTools.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

2 messages on server runtime
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/__tests__/RuntimeExecutors.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

fix group agent
  packages/types/src/agentGroup/index.ts
  packages/types/src/message/ui/params.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/aiAgent/index.ts
  src/store/chat/slices/aiAgent/actions/__tests__/agentGroup.test.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/runAgent.ts
  src/store/chat/slices/aiAgent/initialState.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/utils/messageMapKey.test.ts
  src/store/chat/utils/messageMapKey.ts
Due: Store Layer, Server Layer

group send message
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/AddTopicButon.tsx
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/group/features/Conversation/useGroupHooks.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/operation/actions.ts
Due: Store Layer

update api
  packages/types/src/agentGroup/index.ts
  src/server/services/aiAgent/index.ts
Due: Server Layer

refactor group agent
  src/store/chat/slices/aiAgent/actions/__tests__/agentGroup.test.ts
  src/store/chat/slices/aiAgent/actions/__tests__/runAgent.test.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/runAgent.ts
  src/store/chat/slices/aiAgent/initialState.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/operation/types.ts
  src/store/chat/slices/plugin/action.test.ts
Due: Store Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

style: update discover
  src/app/[variants]/(main)/discover/features/UserAvatar/index.tsx
Due: none

fix: Test error
  packages/database/src/models/__tests__/document.test.ts
Due: none

test(memory-user-memory): evaluation of memory prompts with promptfoo
  cspell.config.yaml
  packages/memory-user-memory/package.json
  packages/memory-user-memory/promptfoo/gatekeeper/eval.yaml
  packages/memory-user-memory/promptfoo/gatekeeper/prompt.ts
Due: none

fix: fix cve errors
  package.json
Due: none

✨ feat: 添加 GPT-5.2 和 GPT-5.2 Pro 模型及其推理努力滑块
  packages/model-bank/src/aiModels/aihubmix.ts
  packages/model-bank/src/aiModels/openai.ts
  packages/model-bank/src/types/aiModel.ts
  packages/model-runtime/src/const/models.ts
  packages/types/src/agent/chatConfig.ts
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/GPT52ProReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/GPT52ReasoningEffortSlider.tsx
  src/services/chat/index.ts
Due: Services Layer

🐛 fix: slove market oidc error (#10715)
  src/libs/oidc-provider/provider.ts
Due: Libraries Layer

:bookmark: chore(release): v2.0.0-next.168 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7c/fc9a28e4d34b8d6d39f68f6d41ecc36aef2f21
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  README.md
  README.zh-CN.md
  changelog/v1.json
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
