Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: add cot
  apps/mobile/src/features/Conversation/Messages/Assistant/Reasoning/index.tsx
Due: none

feat: change the import way
  packages/types/src/discover/mcp.ts
  packages/types/src/plugins/mcp.ts
  src/server/routers/lambda/market/index.ts
  src/store/tool/slices/mcpStore/action.test.ts
  src/store/tool/slices/mcpStore/action.ts
Due: Store Layer, Server Layer

feat: change the import way
  src/server/routers/lambda/market/index.ts
Due: Server Layer

chore: add ios deploymentTarget restriction
  apps/mobile/app.config.ts
Due: none

feat: change the enum type
  packages/types/src/discover/mcp.ts
Due: none

:bookmark: chore(release): v2.0.0-next.27 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c4/873d1854e1c15f439714178107e905db989b19
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix: slove types problem
  packages/types/src/plugins/mcp.ts
Due: none

fix: slove types problem
  src/store/tool/slices/mcpStore/action.ts
Due: Store Layer

chore: improve renovate config to not group minor & major
  renovate.json
Due: none

feat: add tool
  apps/mobile/locales/ar/tool.json
  apps/mobile/locales/bg-BG/tool.json
  apps/mobile/locales/de-DE/tool.json
  apps/mobile/locales/en-US/tool.json
  apps/mobile/locales/es-ES/tool.json
  apps/mobile/locales/fa-IR/tool.json
  apps/mobile/locales/fr-FR/tool.json
  apps/mobile/locales/it-IT/tool.json
  apps/mobile/locales/ja-JP/tool.json
  apps/mobile/locales/ko-KR/tool.json
  apps/mobile/locales/nl-NL/tool.json
  apps/mobile/locales/pl-PL/tool.json
  apps/mobile/locales/pt-BR/tool.json
  apps/mobile/locales/ru-RU/tool.json
  apps/mobile/locales/tr-TR/tool.json
  apps/mobile/locales/vi-VN/tool.json
  apps/mobile/locales/zh-CN/tool.json
  apps/mobile/locales/zh-TW/tool.json
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/Img.tsx
  apps/mobile/src/components/Markdown/components/Footnotes/SearchResultCards/index.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/MessageContent.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Inspector/ToolTitle.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/WebBrowsing/PageContent.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/WebBrowsing/PageLoading.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/WebBrowsing/PageResult.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/WebBrowsing/SearchQuery.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/WebBrowsing/SearchResult.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/WebBrowsing/SearchResultItem.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/WebBrowsing/index.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/BuiltinRender/index.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/Tool/index.tsx
  apps/mobile/src/features/Conversation/Messages/Assistant/index.tsx
  apps/mobile/src/features/Conversation/Messages/Supervisor/index.tsx
  apps/mobile/src/features/Conversation/Messages/User/ImageFileListViewer.tsx
  apps/mobile/src/features/Conversation/Messages/User/index.tsx
  apps/mobile/src/features/Conversation/Messages/index.tsx
  apps/mobile/src/i18n/default/index.ts
  apps/mobile/src/i18n/default/tool.ts
  apps/mobile/src/i18n/generatedConfig.ts
Due: none

✨ feat: add INTERNAL_APP_URL for server-to-server calls
  src/envs/app.ts
  src/server/routers/async/caller.ts
Due: Server Layer

✅ test: add tests for INTERNAL_APP_URL feature
  src/envs/__tests__/app.test.ts
  src/server/routers/async/__tests__/caller.test.ts
Due: Server Layer

📝 docs: add INTERNAL_APP_URL documentation
  docker-compose/local/.env.example
  docs/self-hosting/server-database/docker-compose.mdx
  docs/self-hosting/server-database/docker-compose.zh-CN.mdx
Due: none

🔨 chore: improve renovate config to not group minor & major (#10051)
  renovate.json
Due: none

feat: update Image cache
  apps/mobile/src/components/Image/Image.tsx
Due: none

feat: add NativePageContainer
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/app/playground/[component]/index.tsx
  apps/mobile/src/app/playground/index.tsx
  apps/mobile/src/components/NativePageContainer/NativePageContainer.tsx
  apps/mobile/src/components/NativePageContainer/demos/basic.tsx
  apps/mobile/src/components/NativePageContainer/demos/index.tsx
  apps/mobile/src/components/NativePageContainer/index.md
  apps/mobile/src/components/NativePageContainer/type.ts
  apps/mobile/src/features/SideBar/index.tsx
Due: none

fix: mobile not show custom add mcp button
  src/features/PluginStore/Content.tsx
  src/features/PluginStore/McpList/index.tsx
  src/store/tool/slices/oldStore/initialState.ts
Due: Store Layer

refactor new chat message
  packages/database/package.json
  packages/types/src/message/ui/params.ts
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/message.ts
  src/services/message/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
Due: Store Layer, Services Layer, Server Layer

♻️ refactor: Unify message creation methods into single `internal_createMessage`
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer

✨ feat: support install sreamable http mcp server on web (#10044)
  packages/types/src/discover/mcp.ts
  packages/types/src/plugins/mcp.ts
  src/features/MCP/utils.test.ts
  src/features/MCP/utils.ts
  src/features/PluginStore/Content.tsx
  src/features/PluginStore/McpList/index.tsx
  src/server/routers/lambda/market/index.ts
  src/services/mcp.ts
  src/store/tool/slices/mcpStore/action.test.ts
  src/store/tool/slices/mcpStore/action.ts
  src/store/tool/slices/oldStore/initialState.ts
Due: Store Layer, Services Layer, Server Layer

♻️ refactor: optimize message update operations to reduce API calls
  packages/database/src/models/message.ts
  src/server/routers/lambda/message.ts
  src/services/message/index.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
Due: Store Layer, Services Layer, Server Layer

:bookmark: chore(release): v2.0.0-next.28 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a4/1c7a3fb7da803b269312a93618b3599b6c5124
Due: none

♻️ refactor: optimize all internal message methods to reduce API calls
  src/server/routers/lambda/message.ts
  src/services/message/index.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
Due: Store Layer, Services Layer, Server Layer

♻️ refactor: optimize message deletion to reduce API calls and fix group message children deletion
  src/server/routers/lambda/message.ts
  src/services/message/index.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/action.ts
Due: Store Layer, Services Layer, Server Layer

✅ test: add comprehensive tests for group message deletion with children
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/action.ts
Due: Store Layer

♻️ refactor: refactor chat message model to speed up (#10053)
  packages/database/package.json
  packages/database/src/models/message.ts
  packages/types/src/message/ui/params.ts
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/message.ts
  src/services/message/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer, Services Layer, Server Layer

:bookmark: chore(release): v2.0.0-next.29 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5c/66dc2b0245496c66c0039fe365eaf2c5471f7d
Due: none

✅ test: enhance message router integration test coverage
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
Due: Server Layer

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🔨 refactor: 移除不再使用的nebius聊天模型
  packages/model-bank/src/aiModels/nebius.ts
Due: none

✨ feat(aiModel): 优化批量插入和更新模型
  packages/database/src/models/aiModel.ts
Due: none

fix test
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
Due: Server Layer
