Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

💄 style(aihubmix): update extendParams to include urlContext (#9914)
  packages/model-bank/src/aiModels/aihubmix.ts
Due: none

:bookmark: chore(release): v1.142.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix: Fix Highlighter in stream
  apps/mobile/src/components/Highlighter/SyntaxHighlighter/index.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/style.ts
  apps/mobile/src/components/Markdown/demos/index.tsx
Due: none

Notes added by 'git notes add'
  26/7d4d80b15e2471b8c26288aa94aaec5cb69e7f
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

style: update markdown marginBlock
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/style.ts
Due: none

style: update session loading
  apps/mobile/src/features/SideBar/components/SessionList/features/SkeletonList.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
Due: none

style: topic list
  apps/mobile/src/features/TopicDrawer/components/TopicItem.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList.tsx
Due: none

style: update drawerOverlay
  apps/mobile/src/features/SideBar/style.ts
  apps/mobile/src/features/TopicDrawer/style.ts
Due: none

chore: clean
  apps/mobile/REFACTOR_FINAL_REPORT.md
  apps/mobile/SKELETON_ALIGNMENT_CHANGES.md
  apps/mobile/SKELETON_ALIGNMENT_REFERENCE.md
  apps/mobile/STOP_ANIMATION_FIX.md
  apps/mobile/STOP_BUTTON_FIX.md
  apps/mobile/test.ts
  apps/mobile/tsconfig.json
Due: none

chore: clean
  apps/mobile/.cursor/rules/api-integration.mdc
  apps/mobile/.cursor/rules/app-structure.mdc
  apps/mobile/.cursor/rules/debug-usage.mdc
  apps/mobile/.cursor/rules/development-workflow.mdc
  apps/mobile/.cursor/rules/internationalization.mdc
  apps/mobile/.cursor/rules/project-overview.mdc
  apps/mobile/.cursor/rules/quick-reference.mdc
  apps/mobile/.cursor/rules/react-native.mdc
  apps/mobile/.cursor/rules/state-management.mdc
  apps/mobile/rules/color-system.mdc
Due: none

pre merge
  packages/context-engine/src/index.ts
  packages/context-engine/src/processors/GroupMessageFlatten.ts
  packages/context-engine/src/processors/__tests__/GroupMessageFlatten.test.ts
  packages/context-engine/src/processors/index.ts
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
  packages/types/src/message/db/params.ts
  packages/types/src/message/ui/params.ts
  src/features/Conversation/Messages/Assistant/Block.tsx
  src/server/routers/lambda/message.ts
Due: Server Layer

refactor
  src/services/message/_deprecated.ts
  src/services/message/client.ts
  src/services/message/server.ts
  src/services/message/type.ts
Due: Services Layer

clean
  src/store/chat/slices/plugin/action.ts
Due: Store Layer

fix types
  packages/types/src/message/db/params.ts
Due: none

fix tests
  packages/database/src/models/__tests__/message.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
Due: none

🧪 test(plugin): update triggerToolCalls test expectations
  src/store/chat/slices/plugin/action.test.ts
Due: Store Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

fix: oidc/consent redirect header
  src/app/(backend)/oidc/consent/route.ts
Due: none

🔨 chore: pre-merge message group code (#9915)
  packages/context-engine/src/index.ts
  packages/context-engine/src/processors/GroupMessageFlatten.ts
  packages/context-engine/src/processors/__tests__/GroupMessageFlatten.test.ts
  packages/context-engine/src/processors/index.ts
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/types/src/message/db/params.ts
  packages/types/src/message/ui/params.ts
  src/features/Conversation/Messages/Assistant/Block.tsx
  src/server/routers/lambda/message.ts
  src/services/message/_deprecated.ts
  src/services/message/client.ts
  src/services/message/server.ts
  src/services/message/type.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
Due: Store Layer, Services Layer, Server Layer

style: remove fluent emoji webview
  apps/mobile/src/components/FluentEmoji/FluentEmoji.tsx
  apps/mobile/src/components/ImageGallery/ImageGallery.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/Img.tsx
  apps/mobile/src/features/chat/ChatBubble/Welcome.tsx
Due: none

feat(mobile): scrollable title
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/features/chat/ChatInput/components/ModelSwitch/ModelItemRender/ScrollableTitle.tsx
  apps/mobile/src/features/chat/ChatInput/components/ModelSwitch/ModelItemRender/index.tsx
Due: none

✨ feat: 更新模型配置，移除 Claude 3.5 Sonnet 相关条目，添加 MiniMax M2 和 KAT-Dev 32B 模型
  packages/model-bank/src/aiModels/anthropic.ts
  packages/model-bank/src/aiModels/higress.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-runtime/src/providers/minimax/index.ts
  src/config/modelProviders/anthropic.ts
  src/config/modelProviders/higress.ts
Due: none

feat: update session list style
  apps/mobile/src/_const/common.ts
  apps/mobile/src/components/ListItem/ListItem.tsx
  apps/mobile/src/components/ListItem/type.ts
  apps/mobile/src/features/SideBar/components/SessionList/features/SessionItem.tsx
  apps/mobile/src/features/discover/assistant/components/AgentCard/index.tsx
  apps/mobile/src/utils/formatTime.ts
Due: none

chore: support market-oidc grant
  .env.example
  src/envs/app.ts
  src/libs/oidc-provider/config.ts
  src/libs/oidc-provider/provider.ts
Due: Libraries Layer

style: update list style
  apps/mobile/src/app/auth/login/index.tsx
  apps/mobile/src/features/SideBar/components/Footer/index.tsx
  apps/mobile/src/features/chat/BackBottom/index.tsx
  apps/mobile/src/features/chat/ChatList/index.tsx
Due: none

style: update list style
  apps/mobile/src/features/chat/ChatList/index.tsx
Due: none

fix: only include input_fidelity parameter for gpt-image-1.
  packages/model-runtime/src/core/openaiCompatibleFactory/createImage.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
Due: none

fix: update appEnv the env Market Base Url
  .env.example
  src/envs/app.ts
  src/libs/oidc-provider/config.ts
Due: Libraries Layer

fix: fix long press
  apps/mobile/src/components/Highlighter/FullFeatured.tsx
  apps/mobile/src/components/Highlighter/Highlighter.tsx
  apps/mobile/src/components/Highlighter/SyntaxHighlighter/index.tsx
  apps/mobile/src/components/Markdown/Markdown.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/Div.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/List.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/Sub.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/Sup.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/components/Table.tsx
  apps/mobile/src/components/Markdown/ReactNativeMarkdown/style.ts
  apps/mobile/src/components/Markdown/SyntaxMarkdown/StreamdownRender.tsx
  apps/mobile/src/components/Markdown/components/Section.tsx
  apps/mobile/src/components/MaskShadow/style.ts
  apps/mobile/src/components/Mermaid/SyntaxMermaid/index.tsx
  apps/mobile/src/features/chat/BackBottom/style.ts
  apps/mobile/src/features/chat/ChatBubble/index.tsx
  apps/mobile/src/features/chat/MessageContextMenu/index.tsx
Due: none

style: update alert style
  apps/mobile/src/components/Toast/InnerToastProvider.tsx
  apps/mobile/src/components/Toast/Toast.tsx
  apps/mobile/src/components/Toast/ToastProviderWrapper.tsx
  apps/mobile/src/components/Toast/demos/basic.tsx
  apps/mobile/src/components/Toast/demos/index.tsx
  apps/mobile/src/components/Toast/demos/position.tsx
  apps/mobile/src/components/Toast/index.md
  apps/mobile/src/components/Toast/style.ts
  apps/mobile/src/components/Toast/type.ts
  apps/mobile/src/features/chat/MessageActions/index.tsx
Due: none

test: update test.ts & the oidc path
  src/libs/oidc-provider/config.test.ts
  src/libs/oidc-provider/config.ts
Due: Libraries Layer

fix: fix some style problem
  apps/mobile/src/app/(main)/session/search/index.tsx
  apps/mobile/src/app/(main)/topic/search/index.tsx
  apps/mobile/src/app/discover/assistant/search/index.tsx
  apps/mobile/src/components/Center/Center.tsx
  apps/mobile/src/components/Flexbox/Flexbox.tsx
  apps/mobile/src/components/Flexbox/type.ts
  apps/mobile/src/components/FluentEmoji/FluentEmoji.tsx
  apps/mobile/src/components/FluentEmoji/style.ts
  apps/mobile/src/components/FluentEmoji/type.ts
  apps/mobile/src/components/Input/Input.tsx
  apps/mobile/src/components/Input/TextArea/index.tsx
  apps/mobile/src/features/chat/ChatInput/index.tsx
Due: none

style: update session list
  apps/mobile/src/features/SideBar/components/SessionList/features/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/features/SessionItem.tsx
Due: none

style: update time style
  apps/mobile/src/features/chat/ChatBubble/index.tsx
  apps/mobile/src/utils/formatTime.ts
Due: none

style: update inbox style
  apps/mobile/src/features/SideBar/components/SessionList/features/Inbox.tsx
Due: none

feat: update the oidc-provider test
  src/libs/oidc-provider/config.test.ts
  src/libs/oidc-provider/provider.test.ts
Due: Libraries Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
