Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix group agent list
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/AddTopicButon.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/Desktop/ClassicChat.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/Desktop/MessageFromUrl.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/Desktop/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/Desktop/useSendMenuItems.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/Mobile/MentionedUsers/MentionedUserItem.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/Mobile/MentionedUsers/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/Mobile/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/V1Mobile/ActionBar.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/V1Mobile/Files/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/V1Mobile/InputArea/Container.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/V1Mobile/InputArea/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/V1Mobile/Send.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/V1Mobile/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/V1Mobile/useSend.ts
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatInput/useSend.ts
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/group/features/Conversation/GroupWelcome/useTemplateMatching.ts
  src/app/[variants]/(main)/group/features/Conversation/Header/Tags/MemberCountTag.tsx
  src/app/[variants]/(main)/group/features/Conversation/Header/Tags/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/MainChatInput/GroupChat.tsx
  src/app/[variants]/(main)/group/features/Conversation/MainChatInput/index.tsx
  src/app/[variants]/(main)/group/profile/index.tsx
  src/store/agentGroup/action.ts
  src/store/agentGroup/initialState.ts
  src/store/agentGroup/reducers.ts
  src/store/agentGroup/selectors.ts
  src/store/agentGroup/selectors/byId.ts
  src/store/agentGroup/selectors/index.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/message/initialState.ts
Due: Store Layer

style: update discover
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/useSlashItems.tsx
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/app/[variants]/(main)/discover/(detail)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/DetailProvider.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/Banner.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentCard.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentList.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserHeader.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/useUserDetail.ts
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/discover/features/UserAvatar/index.tsx
  src/locales/default/discover.ts
Due: none

style: update discover
  src/app/[variants]/(main)/discover/(detail)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/Banner.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentList.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/loading.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/Client.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/loading.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/index.tsx
  src/app/[variants]/(main)/discover/components/ListLoading.tsx
  src/app/[variants]/(main)/discover/components/Title.tsx
  src/locales/default/discover.ts
Due: none

style: Hide topic list
  src/features/PageEditor/Copilot/Toolbar.tsx
Due: none

fix: Remove unused files
  src/features/PageEditor/Copilot/Toolbar.tsx
Due: none

feat: Show a built in copilot
  locales/zh-CN/chat.json
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/locales/default/chat.ts
Due: none

feat: Add copilot entry
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/PageEditor/EditorCanvas/InlineToolbar.tsx
  src/features/PageEditor/EditorCanvas/index.tsx
  src/features/PageEditor/Modal/EditorCanvas.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/locales/default/common.ts
Due: none

🐛 fix(userMemories,memory-user-memory): trim off based on the configured model token limit (#10737)
  packages/types/src/serverConfig.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

feat: Add copilot entry
  src/features/PageEditor/Copilot/Toolbar.tsx
Due: none

refactor the topic map issue
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/AgentProfilePopup.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMemberItem.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/style.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/List/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/TopicListContent/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/Header/index.tsx
  src/app/[variants]/(main)/group/profile/features/AgentBuilder/TopicSelector.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/Avatar.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
  src/locales/default/chat.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/chat/slices/message/initialState.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/initialState.ts
  src/store/chat/slices/topic/selectors.test.ts
  src/store/chat/slices/topic/selectors.ts
  src/store/chat/utils/messageMapKey.ts
  src/store/chat/utils/topicMapKey.test.ts
  src/store/chat/utils/topicMapKey.ts
Due: Store Layer

2 messages on server runtime
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/__tests__/RuntimeExecutors.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

style: fix draw z-index
  src/features/NavPanel/SideBarDrawer.tsx
  src/features/NavPanel/index.tsx
Due: none

update api
  packages/types/src/agentGroup/index.ts
  src/server/services/aiAgent/index.ts
Due: Server Layer

refactor with new supervisor
  packages/database/src/models/chatGroup.ts
  packages/database/src/repositories/agentGroup/index.test.ts
  packages/database/src/repositories/agentGroup/index.ts
  packages/types/src/agentGroup/index.ts
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionGroupMenuItems.tsx
  src/server/routers/lambda/agentGroup.ts
  src/services/chatGroup/index.ts
  src/store/agentGroup/action.ts
Due: Store Layer, Services Layer, Server Layer

🐛 fix(memory-user-memory): do not update updated_at for topic when extracted (#10741)
  packages/memory-user-memory/src/providers/chatTopic.ts
Due: none

group send message
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/AddTopicButon.tsx
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/group/features/Conversation/useGroupHooks.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/operation/actions.ts
Due: Store Layer

style: add start converstation button
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/locales/default/setting.ts
Due: none

refactor Conversation context
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/chat/features/Conversation/useAgentContext.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/group/features/Conversation/useGroupContext.ts
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/CollapseGroup/Actions.tsx
  src/hooks/useCurrentContext.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/types.ts
  src/server/services/aiAgent/index.ts
  src/store/agentGroup/selectors/byId.ts
  src/store/agentGroup/selectors/current.ts
  src/store/agentGroup/selectors/index.ts
Due: Store Layer, Server Layer

🐛 fix(memory-user-memory): should handle the exceptions loosely (#10742)
  packages/memory-user-memory/src/prompts/layers/context.md
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix group agent
  packages/types/src/agentGroup/index.ts
  packages/types/src/message/ui/params.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/aiAgent/index.ts
  src/store/chat/slices/aiAgent/actions/__tests__/agentGroup.test.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/runAgent.ts
  src/store/chat/slices/aiAgent/initialState.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/utils/messageMapKey.test.ts
  src/store/chat/utils/messageMapKey.ts
Due: Store Layer, Server Layer

refactor aiAgent tests
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgents.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execGroupAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/helpers.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/multiRoundTools.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

fix(memory-user-memory): extractor should handle errors correctly
  packages/memory-user-memory/src/services/extractExecutor.ts
Due: none

refactor group agent
  src/store/chat/slices/aiAgent/actions/__tests__/agentGroup.test.ts
  src/store/chat/slices/aiAgent/actions/__tests__/runAgent.test.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/runAgent.ts
  src/store/chat/slices/aiAgent/initialState.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/operation/types.ts
  src/store/chat/slices/plugin/action.test.ts
Due: Store Layer

🐛 fix(memory-user-memory): extractor not passing results correctly (#10751)
  packages/memory-user-memory/src/services/extractExecutor.ts
Due: none

💄 style: update layout background color based on layout color (#10738)
  src/app/[variants]/(main)/_layout/index.tsx
Due: none

opti: Better prompt
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/tools/document/systemRole.ts
  src/tools/identifiers.ts
  src/tools/index.ts
  src/tools/page-agent/ExecutionRuntime/index.test.ts
  src/tools/page-agent/ExecutionRuntime/index.ts
  src/tools/page-agent/const.ts
  src/tools/page-agent/index.ts
  src/tools/page-agent/systemRole.ts
  src/tools/page-agent/type.ts
Due: Store Layer, Services Layer

feat: Search community content
  locales/en-US/common.json
  locales/zh-CN/common.json
  packages/database/src/repositories/knowledge/index.ts
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

style: update discover
  src/app/[variants]/(main)/discover/(list)/(home)/index.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/loading.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/index.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/index.tsx
  src/app/[variants]/(main)/discover/(list)/model/index.tsx
  src/app/[variants]/(main)/discover/(list)/provider/index.tsx
  src/app/[variants]/(main)/discover/components/ListLoading.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
Due: none

perf(memory-user-memory): improve identity & gatekeeper for better results
  packages/memory-user-memory/src/prompts/gatekeeper.md
  packages/memory-user-memory/src/prompts/layers/identity.md
Due: none

style: update discover
  src/app/[variants]/(main)/discover/features/UserAvatar/index.tsx
Due: none

style: update avatar
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/Avatar.tsx
  src/features/Conversation/ChatItem/type.ts
Due: none

style: update discover
  src/app/[variants]/(main)/discover/(detail)/assistant/loading.tsx
  src/app/[variants]/(main)/discover/(detail)/user/features/UserAgentCard.tsx
Due: none

fix: Cross panel drag issue
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/MoveToFolderModal.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

update agent group
  packages/types/src/agentGroup/index.ts
  packages/types/src/fetch.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/hooks/useOperationState.test.ts
  src/hooks/useOperationState.ts
  src/locales/default/error.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgents.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execGroupAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/aiAgent/index.ts
  src/services/agentRuntime/type.ts
  src/store/chat/slices/aiAgent/actions/__tests__/agentGroup.test.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/runAgent.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/operation/types.ts
Due: Store Layer, Services Layer, Server Layer

style: update discover
  src/app/[variants]/(main)/discover/(detail)/assistant/index.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/index.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
Due: none

style: update discover
  src/app/[variants]/(main)/discover/(list)/assistant/_layout/Mobile.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/_layout/index.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/_layout/Mobile.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/_layout/index.tsx
  src/app/[variants]/(main)/discover/(list)/model/_layout/Mobile.tsx
  src/app/[variants]/(main)/discover/(list)/model/_layout/index.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
Due: none

🐛 fix: slove makret oidc error but the set usersetting to much (#10754)
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
Due: none

feat: Optimize drag UX
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

style: update discover
  src/app/[variants]/(main)/discover/(detail)/_layout/index.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/index.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/features/Sidebar/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/features/Sidebar/index.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/features/Sidebar/index.tsx
Due: none

style: update discover
  src/components/Plugins/PluginAvatar.tsx
  src/features/AgentInfo/index.tsx
  src/features/AgentSetting/AgentPlugin/index.tsx
  src/features/ChatInput/ActionBar/Mention/index.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/features/ChatInput/Desktop/MentionedUsers/MentionedUserItem.tsx
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/Error/style.tsx
  src/features/Conversation/Markdown/plugins/Mention/Render.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/PluginSettings.tsx
  src/features/Conversation/Messages/Tool/Render/PluginSettings.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/GroupChatSettings/AgentCard.tsx
  src/features/GroupChatSettings/HostMemberCard.tsx
  src/features/GroupInfo/index.tsx
  src/features/MCPPluginDetail/Header.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PluginStore/McpList/Detail/Loading.tsx
  src/features/PluginStore/PluginList/Detail/Header.tsx
  src/features/PluginStore/PluginList/Detail/Loading.tsx
  src/features/Portal/GroupThread/Header/index.tsx
  src/features/Portal/Home/Body/Files/FileList/index.tsx
  src/features/Portal/Home/Body/Plugins/ArtifactList/index.tsx
  src/features/ShareModal/ShareImage/Preview.tsx
  src/features/User/UserAvatar.tsx
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
