Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix(userMemories): workflow id build issue
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topics/workflows/[workflowId]/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topics/workflows/batch/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topics/workflows/workflows.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-user-topics/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

🐛 fix(userMemories): workflow id build issue (#10998)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topics/workflows/[workflowId]/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topics/workflows/batch/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topics/workflows/workflows.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-user-topics/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix: circle deps
  packages/business/const/package.json
Due: none

style: enhance UpdatePrompt component with new styles and improve layout for better readability
  packages/builtin-tool-agent-builder/src/client/Render/UpdatePrompt.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/ChatInput/ActionBar/Model/index.tsx
Due: none

chore: remove outdate @types/bcryptjs
  package.json
Due: none

✨ feat: update agent builder ui (#10996)
  packages/builtin-tool-agent-builder/src/client/Render/UpdatePrompt.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ProviderConfig/Checker.tsx
  src/components/ModelSelect/index.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/ChatInput/ActionBar/Model/index.tsx
  src/features/DevPanel/features/FloatPanel.tsx
Due: none

fix: slove when have market scerat key should direct publish agnet
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/useMarketPublish.ts
Due: none

🐛 fix slove when have market scerat key should direct publish agnet (#10999)
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/useMarketPublish.ts
Due: none

✅ test: add unit tests for keyboard module (#10861)
  packages/utils/src/keyboard.test.ts
Due: none

chore(@upstash/qstash): debug 400 error not shown issue
  patches/@upstash__qstash.patch
  pnpm-workspace.yaml
Due: none

🔨 chore(@upstash/qstash): debug 400 error not shown issue (#11000)
  patches/@upstash__qstash.patch
  pnpm-workspace.yaml
Due: none

fix deps
  packages/database/package.json
  packages/utils/package.json
Due: none

👷 build: fix deps not correct set in packages (#11001)
  packages/database/package.json
  packages/utils/package.json
Due: none

chore: update package dependencies in database and utils
  packages/database/package.json
  packages/utils/package.json
Due: none

chore: remove outdated @auth/core dependency from package.json
  package.json
Due: none

refactor: move edge-config to npm package
  package.json
  packages/edge-config/package.json
  packages/edge-config/src/index.ts
  packages/edge-config/src/types.ts
  src/config/featureFlags/index.ts
  src/server/featureFlags/index.ts
  src/server/modules/AssistantStore/index.test.ts
  src/server/modules/AssistantStore/index.ts
Due: Server Layer

chore: export edge config types
  packages/edge-config/src/index.ts
Due: none

fix: make models property optional in RouterInstance interface
  packages/business/model-runtime/src/router-runtime-options.ts
Due: none

👷 feat: add manual desktop build workflow
  .github/workflows/manual-build-desktop.yml
Due: none

👷 build: add manual desktop build workflow (#11002)
  .github/workflows/manual-build-desktop.yml
Due: none

:bookmark: chore(release): v2.0.0-next.180 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  52/7bcf3fdca3ba49793fe2391e5601e6f280a68f
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

refactor: add assertions to electron workflow modifiers
  .github/workflows/manual-build-desktop.yml
  .github/workflows/verify-desktop-patch.yml
  scripts/electronWorkflow/modifiers/appCode.mts
  scripts/electronWorkflow/modifiers/cleanUp.mts
  scripts/electronWorkflow/modifiers/nextConfig.mts
  scripts/electronWorkflow/modifiers/routes.mts
  scripts/electronWorkflow/modifiers/utils.mts
Due: none

build: add assertions to electron workflow modifiers (#11003)
  .github/workflows/manual-build-desktop.yml
  .github/workflows/verify-desktop-patch.yml
  scripts/electronWorkflow/modifiers/appCode.mts
  scripts/electronWorkflow/modifiers/cleanUp.mts
  scripts/electronWorkflow/modifiers/nextConfig.mts
  scripts/electronWorkflow/modifiers/routes.mts
  scripts/electronWorkflow/modifiers/utils.mts
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

fix: update test snapshots for model description changes
  src/server/routers/lambda/config/__snapshots__/index.test.ts.snap
  src/utils/server/__snapshots__/parseModels.test.ts.snap
Due: Server Layer, Utils Layer

🐛 fix: update test snapshots for model description changes (#11008)
  src/server/routers/lambda/config/__snapshots__/index.test.ts.snap
  src/utils/server/__snapshots__/parseModels.test.ts.snap
Due: Server Layer, Utils Layer

feat: add a white waitlist in edge config
  locales/en-US/error.json
  locales/zh-CN/error.json
  packages/edge-config/src/index.ts
  packages/edge-config/src/types.ts
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(mobile)/_layout/index.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/app/[variants]/waitlist/index.tsx
  src/hooks/useWhitelistCheck.ts
  src/locales/default/error.ts
  src/server/routers/lambda/config/index.ts
  src/services/global.ts
Due: Services Layer, Server Layer

✨ feat: add a white waitlist in edge config env (#11009)
  locales/en-US/error.json
  locales/zh-CN/error.json
  packages/edge-config/src/index.ts
  packages/edge-config/src/types.ts
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(mobile)/_layout/index.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/app/[variants]/waitlist/index.tsx
  src/hooks/useWhitelistCheck.ts
  src/locales/default/error.ts
  src/server/routers/lambda/config/index.ts
  src/services/global.ts
Due: Services Layer, Server Layer

Revert "✨ feat: add a white waitlist in edge config env (#11009)"
  locales/en-US/error.json
  locales/zh-CN/error.json
  packages/edge-config/src/index.ts
  packages/edge-config/src/types.ts
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(mobile)/_layout/index.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/app/[variants]/waitlist/index.tsx
  src/hooks/useWhitelistCheck.ts
  src/locales/default/error.ts
  src/server/routers/lambda/config/index.ts
  src/services/global.ts
Due: Services Layer, Server Layer

feat: ready for cloud client
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/business/client/BusinessDesktopRoutes.tsx
  src/business/client/BusinessMobileRoutes.tsx
  src/business/client/useMainLayoutRendingChecking.tsx
Due: none

feat: add business configuration endpoints to lambda router
  src/business/server/lambda-routers/config.ts
  src/server/routers/lambda/config/index.ts
Due: Server Layer

refactor: change access modifiers for getValue and getValues methods in EdgeConfig class
  packages/edge-config/src/index.ts
Due: none

feat: introduce BusinessGlobalService and extend GlobalService
  src/business/client/services/BusinessGlobalServices.ts
  src/services/global.ts
Due: Services Layer

chore: rename filename BusinessGlobalService
  src/business/client/services/BusinessGlobalService.ts
  src/services/global.ts
Due: Services Layer

Revert "chore: rename filename BusinessGlobalService"
  src/business/client/services/BusinessGlobalServices.ts
  src/services/global.ts
Due: Services Layer

refactor: BusinessGlobalService file rename
  src/business/client/services/BusinessGlobalService.ts
  src/services/global.ts
Due: Services Layer

feat: add businessLocales to default resources
  src/business/business-locales.ts
  src/locales/default/index.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
