Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

💄 style: Enable thinkingBudget control for Vertex Gemini 2.5 models (#8223)
  packages/model-bank/src/aiModels/vertexai.ts
  packages/model-runtime/src/providers/google/index.ts
Due: none

style: 重命名
  src/tools/python/index.ts
Due: none

:bookmark: chore(release): v1.132.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  18/e4c04fb9a433be08ad11350c5671a52940c433
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

misc: 小修小补
  .github/workflows/test.yml
  src/store/chat/slices/builtinTool/actions/python.ts
  src/tools/python/index.ts
Due: Store Layer

refactor: 重命名为 code-interpreter
  locales/zh-CN/tool.json
  packages/types/src/tool/index.ts
  packages/types/src/tool/interpreter.ts
  packages/types/src/tool/python.ts
  src/locales/default/tool.ts
  src/services/python.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/interpreter.ts
  src/store/chat/slices/builtinTool/initialState.ts
  src/store/chat/slices/builtinTool/selectors.ts
  src/tools/code-interpreter/Render/components/ResultFileGallery.tsx
  src/tools/code-interpreter/Render/components/ResultFileItem.tsx
  src/tools/code-interpreter/Render/index.tsx
  src/tools/code-interpreter/index.ts
  src/tools/index.ts
  src/tools/renders.ts
Due: Store Layer, Services Layer

:bug:️ fix: building and merge typo
  locales/zh-CN/models.json
  packages/types/src/aiProvider.ts
Due: none

✨ feat: 更新 Novita 和 SiliconCloud 聊天模型，增加新模型并调整参数
  packages/model-bank/src/aiModels/novita.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

♻️ refactor: move ComfyUI WebAPI route and fix imports
  docs/development/basic/comfyui-development.mdx
  docs/development/basic/comfyui-development.zh-CN.mdx
  packages/model-runtime/src/providers/comfyui/__tests__/index.test.ts
  packages/model-runtime/src/providers/comfyui/index.ts
  src/app/(backend)/webapi/create-image/comfyui/route.ts
  src/app/[variants]/(main)/settings/provider/(detail)/comfyui/page.tsx
Due: none

fix tests
  packages/const/src/settings/genUserLLMConfig.test.ts
  src/server/globalConfig/_deprecated.test.ts
  src/server/globalConfig/genServerAiProviderConfig.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
Due: Store Layer, Server Layer

fix deps
  packages/model-runtime/package.json
Due: none

clean deps
  packages/context-engine/package.json
Due: none

chore: update i18n
  apps/mobile/locales/ar/setting.json
  apps/mobile/locales/bg-BG/setting.json
  apps/mobile/locales/de-DE/setting.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/es-ES/setting.json
  apps/mobile/locales/fa-IR/setting.json
  apps/mobile/locales/fr-FR/setting.json
  apps/mobile/locales/it-IT/setting.json
  apps/mobile/locales/ja-JP/setting.json
  apps/mobile/locales/ko-KR/setting.json
  apps/mobile/locales/nl-NL/setting.json
  apps/mobile/locales/pl-PL/setting.json
  apps/mobile/locales/pt-BR/setting.json
  apps/mobile/locales/ru-RU/setting.json
  apps/mobile/locales/tr-TR/setting.json
  apps/mobile/locales/vi-VN/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/locales/zh-TW/setting.json
Due: none

:bookmark: chore(release): v1.132.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  db/ec6b67765343f22901875419e5ada1835ac9eb
Due: none

feat: development mode & chatInput style fix (#9375)
  apps/mobile/app/(main)/setting/developer/index.tsx
  apps/mobile/app/(main)/setting/index.tsx
  apps/mobile/locales/ar/setting.json
  apps/mobile/locales/bg-BG/setting.json
  apps/mobile/locales/de-DE/setting.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/es-ES/setting.json
  apps/mobile/locales/fa-IR/setting.json
  apps/mobile/locales/fr-FR/setting.json
  apps/mobile/locales/it-IT/setting.json
  apps/mobile/locales/ja-JP/setting.json
  apps/mobile/locales/ko-KR/setting.json
  apps/mobile/locales/nl-NL/setting.json
  apps/mobile/locales/pl-PL/setting.json
  apps/mobile/locales/pt-BR/setting.json
  apps/mobile/locales/ru-RU/setting.json
  apps/mobile/locales/tr-TR/setting.json
  apps/mobile/locales/vi-VN/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/locales/zh-TW/setting.json
  apps/mobile/src/components/TextInput/style.ts
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
  apps/mobile/src/i18n/default/setting.ts
  apps/mobile/src/store/setting.ts
Due: none

Update route.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
Due: none

fix: refresh token lost
  apps/mobile/src/config/auth.ts
Due: none

Revert readability filtering and add HTML fallback
  packages/web-crawler/src/utils/__snapshots__/htmlToMarkdown.test.ts.snap
  packages/web-crawler/src/utils/html/shortpage.html
  packages/web-crawler/src/utils/htmlToMarkdown.test.ts
  packages/web-crawler/src/utils/htmlToMarkdown.ts
Due: none

Update route.ts
  src/app/(backend)/webapi/chat/vertexai/route.ts
Due: none

更新 Novita 聊天模型，调整上下文窗口令牌和最大输出限制
  packages/model-bank/src/aiModels/novita.ts
Due: none

👷 Adjust mac signing for missing certificates
  apps/desktop/electron-builder.js
Due: none

:bug:️ fix: new backend provider
  src/app/[variants]/(main)/settings/provider/detail/comfyui/index.tsx
  src/app/[variants]/(main)/settings/provider/detail/index.tsx
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

更新 DeepSeek V3.1 模型，增加新参数并添加 Longcat 模型配置
  packages/model-bank/src/aiModels/novita.ts
  packages/model-runtime/src/utils/modelParse.ts
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

✨ feat: 支持通过 Google Files API 上传音频和视频文件
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
  src/services/chat/index.ts
Due: Services Layer

✨ feat: 优化 ChatService 中的文件 URL 处理
  src/services/chat/index.ts
Due: Services Layer

✨ feat: 优化 Google Files API 上传逻辑
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  src/services/chat/index.ts
Due: Services Layer

启用doubao-seededit-3-0-i2i-250628模型
  packages/model-bank/src/aiModels/volcengine.ts
  packages/model-runtime/src/providers/volcengine/createImage.ts
  packages/model-runtime/src/providers/volcengine/index.ts
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/index.tsx
  src/server/routers/lambda/image.ts
Due: Server Layer

启用doubao-seededit-3-0-i2i-250628模型
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/index.tsx
Due: none
