Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

update
  scripts/electronWorkflow/modifiers/appCode.mts
Due: none

chore: update .gitignore to include 'out' directory
  .gitignore
Due: none

feat: enhance Electron desktop build process with Next.js export integration
  Dockerfile
  apps/desktop/electron-builder.js
  apps/desktop/package.json
  apps/desktop/pnpm-workspace.yaml
  apps/desktop/src/main/appBrowsers.ts
  apps/desktop/src/main/const/dir.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/core/browser/__tests__/Browser.test.ts
  apps/desktop/src/main/core/infrastructure/RendererProtocolManager.ts
  apps/desktop/src/main/utils/next-electron-rsc.ts
  apps/desktop/tsconfig.json
  package.json
  packages/const/src/index.ts
  packages/desktop-bridge/package.json
  packages/desktop-bridge/src/index.ts
  packages/desktop-bridge/src/routeVariants.ts
  scripts/electronWorkflow/moveNextExports.ts
  scripts/electronWorkflow/moveNextStandalone.ts
  src/app/[variants]/layout.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/proxy.ts
  src/utils/server/routeVariants.ts
Due: Utils Layer

feat: transition data sync storage mode from local to cloud
  apps/desktop/src/main/appBrowsers.ts
  apps/desktop/src/main/const/store.ts
  apps/desktop/src/main/controllers/RemoteServerConfigCtr.ts
  packages/electron-client-ipc/src/types/dataSync.ts
  src/features/ElectronTitlebar/Connection/ConnectionMode.tsx
  src/features/ElectronTitlebar/Connection/index.tsx
  src/store/electron/actions/sync.ts
  src/store/electron/initialState.ts
Due: Store Layer

feat: improve path resolution and asset handling in Electron app
  apps/desktop/src/main/const/dir.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/core/infrastructure/RendererProtocolManager.ts
  apps/desktop/src/main/utils/path.ts
Due: none

refactor: streamline Next.js export handling and remove database lock management
  Dockerfile
  apps/desktop/electron-builder.js
  apps/desktop/src/main/const/dir.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  packages/database/src/core/db-adaptor.ts
  packages/database/src/core/electron.ts
  scripts/electronWorkflow/moveNextExports.ts
Due: none

refactor: streamline Next.js export handling and remove database lock management
  .github/workflows/desktop-build-electron.yml
  apps/desktop/src/main/const/remoteRequest.ts
  apps/desktop/src/main/controllers/RemoteServerSyncCtr.ts
  apps/desktop/src/main/controllers/__tests__/RemoteServerSyncCtr.test.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/preload/streamer.test.ts
  apps/desktop/src/preload/streamer.ts
  packages/electron-client-ipc/src/events/remoteServer.ts
  packages/electron-client-ipc/src/streamInvoke.ts
  packages/electron-client-ipc/src/types/proxyTRPCRequest.ts
  src/app/(backend)/trpc/desktop/[trpc]/route.ts
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
  src/libs/trpc/client/async.ts
  src/libs/trpc/client/lambda.ts
  src/libs/trpc/client/tools.ts
  src/services/chat/index.ts
  src/utils/electron/desktopRemoteRPCFetch.ts
Due: Services Layer, Libraries Layer, Utils Layer

refactor: improve request handling in Browser class
  apps/desktop/src/main/core/browser/Browser.ts
Due: none

feat: Introduce ELECTRON_BE_PROTOCOL_SCHEME and update protocol handling
  apps/desktop/package.json
  apps/desktop/pnpm-workspace.yaml
  apps/desktop/src/main/const/protocol.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/core/infrastructure/RendererProtocolManager.ts
  packages/const/package.json
  packages/const/src/protocol.ts
  src/libs/trpc/client/async.ts
  src/libs/trpc/client/desktop.ts
  src/libs/trpc/client/lambda.ts
  src/libs/trpc/client/tools.ts
  src/services/_url.ts
Due: Services Layer, Libraries Layer

refactor: streamline Electron build process and remove unused remote request constants
  apps/desktop/electron-builder.js
  apps/desktop/src/main/const/remoteRequest.ts
  apps/desktop/src/main/controllers/AuthCtr.ts
  apps/desktop/src/main/controllers/RemoteServerSyncCtr.ts
  apps/desktop/src/main/core/browser/Browser.ts
  scripts/electronWorkflow/modifiers/appCode.mts
  src/components/mdx/Image.tsx
Due: none

feat: Implement desktop-specific authentication handling and update app browser path
  apps/desktop/src/main/appBrowsers.ts
  src/layout/AuthProvider/Desktop/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/index.tsx
  src/store/user/slices/common/action.ts
Due: Store Layer

chore: remove unused const package from pnpm workspace configuration
  apps/desktop/pnpm-workspace.yaml
Due: none

refactor: enhance RendererProtocolManager for improved 404 handling and add unit tests
  apps/desktop/package.json
  apps/desktop/src/main/core/infrastructure/RendererProtocolManager.ts
  apps/desktop/src/main/core/infrastructure/__tests__/RendererProtocolManager.test.ts
  src/app/[variants]/router/desktopRouter.config.tsx
Due: none

fix: Update logout item visibility based on authentication and desktop status
  src/features/User/UserPanel/PanelContent.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

test: Update various tests to improve assertions and ensure proper handling of results
  apps/desktop/src/main/controllers/__tests__/RemoteServerConfigCtr.test.ts
  apps/desktop/src/main/core/browser/__tests__/Browser.test.ts
  apps/desktop/src/main/modules/fileSearch/__tests__/macOS.integration.test.ts
  src/app/(backend)/trpc/trpc.test.ts
  src/app/__tests__/desktop.routes.test.ts
  src/libs/mcp/__tests__/index.test.ts
  src/store/serverConfig/store.test.ts
Due: Store Layer, Libraries Layer

chore: Remove hardcoded environment variables from GitHub Actions workflow
  .github/workflows/desktop-build-electron.yml
Due: none

chore: Enhance pnpm caching in GitHub Actions workflow for improved build performance
  .github/workflows/desktop-build-electron.yml
Due: none

refactor: Remove SystemServerCtr and related tests, update pre-commit script, and enhance URL rewriting error handling in Browser class
  .husky/pre-commit
  apps/desktop/src/main/controllers/SystemServerCtr.ts
  apps/desktop/src/main/controllers/__tests__/SystemServerCtr.test.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/tsconfig.json
  tsconfig.json
Due: none

feat: Add DesktopAutoOidcOnFirstOpen component for automatic OIDC authorization on first app launch
  src/app/[variants]/(main)/_layout/DesktopAutoOidcOnFirstOpen.tsx
  src/app/[variants]/(main)/_layout/index.tsx
  src/features/ElectronTitlebar/Connection/Waiting.tsx
  src/store/electron/actions/sync.ts
Due: Store Layer

add gtd tool
  packages/builtin-tool-group-management/src/manifest.ts
  packages/builtin-tool-group-management/src/systemRole.ts
  packages/builtin-tool-gtd/package.json
  packages/builtin-tool-gtd/src/index.ts
  packages/builtin-tool-gtd/src/manifest.ts
  packages/builtin-tool-gtd/src/systemRole.ts
  packages/builtin-tool-gtd/src/types.ts
  packages/context-engine/src/processors/AgentCouncilFlatten.ts
  packages/context-engine/src/processors/__tests__/AgentCouncilFlatten.test.ts
  packages/context-engine/src/processors/index.ts
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/topic.ts
  src/app/[variants]/(main)/group/_layout/GroupIdSync.tsx
  src/store/agentGroup/selectors/byId.ts
Due: Store Layer

fix(userMemories): capturedAt field missing
  packages/database/src/models/userMemory/model.ts
  packages/database/src/repositories/userMemory/index.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/index.ts
  packages/types/src/util.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

update lint
  package.json
Due: none

fix: Improve error handling in Browser class and add duplex support for streaming requests
  apps/desktop/src/main/core/browser/Browser.ts
Due: none

refactor: Update DevPanel to conditionally render PostgresViewer based on desktop status and remove unused DesktopService
  src/features/DevPanel/index.tsx
  src/services/tableViewer/desktop.ts
  src/services/tableViewer/index.ts
Due: Services Layer

feat(userMemories): added queryMemories for searching & listing
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
Due: Server Layer

✨ feat(userMemories): added queryMemories for searching & listing (#10779)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
Due: Server Layer

style: update Memory Empty
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud/TagCloudCanvas.tsx
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud/index.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/MemoryEmpty.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
Due: none

remove group feature flag
  packages/const/src/user.ts
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/useDropdownMenu.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/ModalProvider.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/useDropdownMenu.tsx
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/AgentItem.tsx
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/AvailableAgentList.tsx
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/SelectedAgentList.tsx
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/store.ts
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/CollapseGroup/Actions.tsx
  src/components/LabsModal/index.tsx
  src/config/featureFlags/schema.ts
  src/store/agentGroup/selectors/current.ts
  src/store/user/slices/preference/selectors/labPrefer.ts
Due: Store Layer

🐛 fix: correct claude_args quoting to prevent shell-quote parsing errors
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-translator.yml
Due: none

🐛 fix: correct claude_args quoting to prevent shell-quote parsing errors (#10790)
  .github/workflows/claude-issue-triage.yml
  .github/workflows/claude-translator.yml
Due: none

create to navigate to profile
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/AgentProfilePopup.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/style.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/AddTopicButon.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Item.tsx
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(mobile)/me/(home)/features/UserBanner.tsx
  src/features/PageEditor/EditorCanvas/InlineToolbar.tsx
  src/locales/default/chat.ts
  src/locales/default/file.ts
  src/locales/default/home.ts
  src/proxy.ts
  src/server/modules/AgentRuntime/types.ts
  src/server/routers/lambda/userMemories.ts
  src/store/agent/slices/agent/action.ts
  src/store/agentGroup/action.ts
Due: Store Layer, Server Layer

feat: Implement MCP Controller and client for managing MCP server interactions, including tool calls and manifest retrieval
  apps/desktop/package.json
  apps/desktop/src/main/controllers/McpCtr.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/libs/mcp/client.ts
  apps/desktop/src/main/libs/mcp/types.ts
  src/app/[variants]/(main)/discover/(detail)/mcp/features/Sidebar/ActionButton/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/oidc.test.ts
  src/layout/AuthProvider/MarketAuth/oidc.ts
  src/libs/trpc/client/desktop.ts
  src/libs/trpc/client/index.ts
  src/server/routers/desktop/index.ts
  src/server/routers/desktop/mcp.ts
  src/server/routers/desktop/pgTable.ts
  src/services/_url.ts
  src/services/mcp.test.ts
  src/services/mcp.ts
Due: Services Layer, Server Layer, Libraries Layer

feat: Integrate SuperJSON for serialization in MCP service and controller, enhancing data handling for tool calls and manifests
  apps/desktop/package.json
  apps/desktop/src/main/controllers/McpCtr.ts
  apps/desktop/src/main/libs/mcp/client.ts
  apps/desktop/src/main/libs/mcp/types.ts
  src/services/mcp.test.ts
  src/services/mcp.ts
Due: Services Layer

refac: Get page content tool
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  packages/context-engine/src/engine/messages/__tests__/MessagesEngine.test.ts
  packages/context-engine/src/engine/messages/index.ts
  packages/context-engine/src/engine/messages/types.ts
  packages/context-engine/src/providers/index.ts
  src/features/Conversation/Messages/Tool/Inspector/Debug.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/EditorCanvas/index.tsx
  src/features/PageEditor/StoreUpdater.tsx
  src/features/PageEditor/store/initialState.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/chat/slices/message/initialState.ts
  src/store/file/slices/document/action.ts
  src/tools/page-agent/ExecutionRuntime/index.ts
  src/tools/page-agent/index.ts
  src/tools/page-agent/type.ts
Due: Store Layer, Services Layer

lint: Removw unused code
  src/features/ChatInput/Desktop/ContextItem/FileItem/utils.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
Due: Store Layer

fix: List not updated after upload
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Header/hooks/useNotionImport.ts
Due: none

refactor(userMemories): re-design the queryMemories
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/types/src/userMemory/identity.ts
  packages/types/src/userMemory/layers.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
Due: Server Layer

feat(userMemories): added queryMemoryDetail
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

fix: Type script error
  packages/context-engine/src/providers/index.ts
  src/features/PageEditor/StoreUpdater.tsx
  src/tools/page-agent/ExecutionRuntime/index.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
