Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix: fix build problem
  src/app/[variants]/(main)/profile/apikey/index.tsx
  src/app/[variants]/(main)/profile/apikey/page.tsx
  src/app/[variants]/(main)/profile/security/desktop.tsx
  src/app/[variants]/(main)/profile/security/index.tsx
  src/app/[variants]/(main)/profile/security/page.tsx
  src/app/[variants]/(main)/profile/stats/desktop.tsx
  src/app/[variants]/(main)/profile/stats/index.tsx
  src/app/[variants]/(main)/profile/stats/page.tsx
  src/app/[variants]/(main)/profile/usage/index.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/components/Loading/BrandTextLoading/index.tsx
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  README.md
  README.zh-CN.md
Due: none

fix tests
  packages/types/src/message/common/base.ts
Due: none

🧪 test: update error message expectations to English in BaseProcessor tests
  packages/context-engine/src/base/__tests__/BaseProcessor.test.ts
Due: none

fix: change the changelog pages render
  scripts/prebuild.mts
  src/app/[variants]/(main)/changelog/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/changelog/_layout/Mobile/index.tsx
  src/app/[variants]/(main)/changelog/features/Pagination.tsx
  src/app/[variants]/(main)/changelog/features/Post.tsx
  src/app/[variants]/(main)/changelog/features/UpdateChangelogStatus.tsx
  src/app/[variants]/(main)/changelog/index.tsx
  src/app/[variants]/@modal/(.)changelog/modal/features/Cover.tsx
  src/app/[variants]/@modal/(.)changelog/modal/features/Hero.tsx
  src/app/[variants]/@modal/(.)changelog/modal/features/Post.tsx
  src/app/[variants]/@modal/(.)changelog/modal/features/PublishedTime.tsx
  src/app/[variants]/@modal/(.)changelog/modal/features/ReadDetail.tsx
  src/app/[variants]/@modal/(.)changelog/modal/features/VersionTag.tsx
  src/app/[variants]/@modal/(.)changelog/modal/layout.tsx
  src/app/[variants]/@modal/(.)changelog/modal/loading.tsx
  src/app/[variants]/@modal/(.)changelog/modal/page.tsx
  src/app/[variants]/@modal/_layout/ModalLayout.tsx
  src/app/[variants]/@modal/_layout/SettingModalLayout.tsx
  src/app/[variants]/@modal/default.tsx
  src/app/[variants]/@modal/error.tsx
  src/app/[variants]/@modal/layout.tsx
  src/app/[variants]/@modal/loading.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/components/mdx/constants.ts
Due: none

:bookmark: chore(release): v2.0.0-next.49 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c7/3e1e2bfcc03d02a3e57acd64d01b77ed7641c9
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

feat: delete all nuqs
  package.json
  src/app/[variants]/(main)/chat/components/conversation/features/ChatHydration/index.tsx
  src/app/[variants]/(main)/chat/components/conversation/features/ThreadHydration.tsx
  src/app/[variants]/(main)/chat/session/features/SessionHydration.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Details/index.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/features/Details/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/features/Details/index.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/features/Details/index.tsx
  src/app/[variants]/(main)/image/@topic/features/Topics/TopicUrlSync.tsx
  src/app/[variants]/(main)/image/features/ImageWorkspace/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/settings/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/settings/_layout/Mobile/Header.tsx
  src/app/[variants]/(main)/settings/_layout/Mobile/index.tsx
  src/app/[variants]/(main)/settings/agent/AgentMenu/Menu.tsx
  src/app/[variants]/(main)/settings/agent/index.tsx
  src/app/[variants]/(main)/settings/provider/(list)/index.tsx
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/app/[variants]/_DesktopClientRouter.tsx
  src/app/[variants]/_MobileClientRouter.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/layout.tsx
  src/app/[variants]/oauth/callback/error/page.tsx
  src/components/Loading/BrandTextLoading/index.tsx
  src/features/FileManager/FileList/index.tsx
  src/features/FileManager/Header/FilesSearchBar.tsx
  src/hooks/useDiscoverTab.ts
  src/hooks/usePinnedAgentState.ts
  src/hooks/useQueryParam.ts
  src/hooks/useShowMobileWorkspace.ts
  src/layout/GlobalProvider/ImportSettings.tsx
Due: none

feat: change the mobile me layout back
  src/app/[variants]/(main)/(mobile)/me/(home)/index.tsx
  src/app/[variants]/(main)/(mobile)/me/_layout/index.tsx
  src/app/[variants]/(main)/(mobile)/me/profile/index.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/index.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/ActionButton/AddAgent.tsx
  src/app/[variants]/mobileRouter.config.tsx
Due: none

chore: add mobile me layout back
  src/app/[variants]/(main)/(mobile)/me/(home)/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/profile/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/layout.tsx
  src/app/[variants]/mobileRouter.config.tsx
Due: none

fix: discover find more link error fixed
  src/app/[variants]/(main)/discover/components/Title.tsx
Due: none

fix: add nuqs back & useQueryState back in oath
  package.json
  src/app/[variants]/oauth/callback/error/page.tsx
Due: none

fix: add files back
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
Due: none

🌐 chore: translate non-English comments to English in context-engine (#10180)
  packages/context-engine/src/base/BaseProcessor.ts
  packages/context-engine/src/base/BaseProvider.ts
  packages/context-engine/src/base/__tests__/BaseProcessor.test.ts
  packages/context-engine/src/processors/MessageCleanup.ts
  packages/context-engine/src/processors/MessageContent.ts
  packages/context-engine/src/processors/PlaceholderVariables.ts
  packages/context-engine/src/processors/ToolCall.ts
  packages/context-engine/src/processors/ToolMessageReorder.ts
  packages/context-engine/src/providers/HistorySummary.ts
  packages/context-engine/src/providers/ToolSystemRole.ts
  packages/context-engine/src/tools/ToolsEngine.ts
  packages/context-engine/src/types.ts
Due: none

fix: add files back
  src/app/[variants]/layout.tsx
Due: none

♻️ refactor(auth): migrate to better-auth authentication system
  package.json
  packages/database/src/index.ts
  packages/database/src/models/__tests__/session.test.ts
  packages/database/src/schemas/betterAuth.ts
  packages/database/src/schemas/ragEvals.ts
  packages/database/src/schemas/user.ts
  packages/database/src/server/models/__tests__/user.test.ts
  src/app/(backend)/api/auth/[...all]/route.ts
  src/auth.ts
  src/envs/auth.ts
  src/libs/better-auth/auth-client.ts
Due: Libraries Layer

✨ feat(email): add email service with nodemailer support
  package.json
  src/server/services/email/README.md
  src/server/services/email/impls/index.ts
  src/server/services/email/impls/nodemailer/index.ts
  src/server/services/email/impls/nodemailer/type.ts
  src/server/services/email/impls/type.ts
  src/server/services/email/index.test.ts
  src/server/services/email/index.ts
Due: Server Layer

♻️ refactor(auth): remove legacy next-auth route
  src/app/(backend)/api/auth/[...nextauth]/route.ts
Due: none

✨ feat(database): add better-auth database migration
  .cursor/rules/db-migrations.mdc
  docs/development/database-schema.dbml
  packages/database/migrations/0046_better_auth.sql
  packages/database/migrations/meta/0046_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

✨ feat(auth): integrate email verification with better-auth
  .env.example
  src/auth.ts
  src/libs/better-auth/email-templates/index.ts
  src/libs/better-auth/email-templates/reset-password.ts
  src/libs/better-auth/email-templates/verification.ts
  src/server/services/email/impls/nodemailer/index.ts
  src/server/services/email/impls/type.ts
  src/server/services/email/index.ts
Due: Server Layer, Libraries Layer

✨ feat(auth): implement better-auth signup with email verification
  locales/en-US/auth.json
  locales/zh-CN/auth.json
  src/app/[variants]/(auth)/login/[[...login]]/page.tsx
  src/app/[variants]/(auth)/signup/SignUpForm.tsx
  src/app/[variants]/(auth)/signup/[[...signup]]/page.tsx
  src/app/[variants]/(auth)/signup/page.tsx
  src/app/[variants]/(auth)/verify-email/page.tsx
  src/locales/default/auth.ts
Due: none

✨ feat(auth): implement BetterAuth provider integration
  .env.example
  src/envs/auth.ts
  src/layout/AuthProvider/BetterAuth/UserUpdater.tsx
  src/layout/AuthProvider/BetterAuth/index.tsx
  src/layout/AuthProvider/index.tsx
  src/libs/better-auth/auth-client.ts
Due: Libraries Layer

🐛 fix(auth): include BetterAuth in enableAuth check
  packages/const/src/auth.ts
  src/store/user/slices/auth/selectors.ts
Due: Store Layer

♻️ refactor(email): centralize SMTP configuration in dedicated env file
  src/envs/email.ts
  src/server/services/email/impls/nodemailer/index.ts
  src/server/services/email/index.ts
Due: Server Layer

✨ feat(auth): implement BetterAuth middleware with full session support
  src/proxy.ts
Due: none

♻️ refactor(auth): remove unused headers from BetterAuth middleware
  src/proxy.ts
Due: none

✨ feat(auth): improve signup form with firstName/lastName fields
  locales/en-US/auth.json
  locales/zh-CN/auth.json
  src/app/[variants]/(auth)/signup/SignUpForm.tsx
  src/app/[variants]/(auth)/signup/page.tsx
  src/auth.ts
  src/libs/better-auth/auth-client.ts
  src/locales/default/auth.ts
Due: Libraries Layer

🐛 fix(auth): enable access to verify-email page and export betterAuth schema
  packages/database/src/schemas/index.ts
  src/proxy.ts
Due: none

✨ feat(auth): implement Better Auth email/password signin with two-step flow
  locales/en-US/auth.json
  locales/zh-CN/auth.json
  src/app/(backend)/api/auth/check-user/route.ts
  src/app/[variants]/(auth)/signin/page.tsx
  src/libs/better-auth/auth-client.ts
  src/libs/trpc/lambda/context.ts
  src/libs/trpc/middleware/userAuth.ts
  src/locales/default/auth.ts
  src/store/user/slices/auth/action.ts
Due: Store Layer, Libraries Layer

✨ feat(auth): add environment variable to control email verification requirement
  .env.example
  src/app/[variants]/(auth)/signup/page.tsx
  src/auth.ts
  src/envs/auth.ts
Due: none

🐛 fix(auth): correct Better Auth signOut redirect behavior
  src/features/User/UserPanel/PanelContent.tsx
  src/store/user/slices/auth/action.ts
Due: Store Layer

💄 style(auth): improve signup and verify-email pages UI and fix layout issues
  src/app/[variants]/(auth)/signup/page.tsx
  src/app/[variants]/(auth)/verify-email/page.tsx
Due: none

✨ feat(auth): improve signup flow with auto-login and better redirect handling
  src/app/[variants]/(auth)/signup/page.tsx
  src/auth.ts
Due: none

✨ feat(auth): redesign email verification template with better UX
  src/auth.ts
  src/libs/better-auth/email-templates/verification.ts
Due: Libraries Layer

✨ feat(auth): auto-redirect to signup with email pre-fill
  src/app/[variants]/(auth)/signin/page.tsx
  src/app/[variants]/(auth)/signup/page.tsx
Due: none

✨ feat(auth): auto-focus input on signin step transitions
  src/app/[variants]/(auth)/signin/page.tsx
Due: none
