Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

✨ feat: when install tools have oauth ,should oauth in approve way (#10675)
  src/tools/agent-builder/ExecutionRuntime/index.ts
Due: none

feat: Tap header to go root folder
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.164 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  86/45a6db16f783e4395f3e3fd81e9650a14f9503
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  README.md
  README.zh-CN.md
  changelog/v1.json
Due: none

refactor: update IPC method names for consistency
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  src/services/electron/file.ts
  src/services/electron/localFileService.ts
  src/services/electron/settings.ts
  src/services/electron/system.ts
  tsconfig.json
Due: Services Layer

refactor: server ipc
  apps/desktop/Development.md
  apps/desktop/README.md
  apps/desktop/README.zh-CN.md
  apps/desktop/src/main/controllers/SystemCtr.ts
  apps/desktop/src/main/controllers/SystemServerCtr.ts
  apps/desktop/src/main/controllers/UploadFileCtr.ts
  apps/desktop/src/main/controllers/UploadFileServerCtr.ts
  apps/desktop/src/main/controllers/__tests__/DevtoolsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemServerCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileServerCtr.test.ts
  apps/desktop/src/main/controllers/index.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/infrastructure/IoCContainer.ts
  apps/desktop/src/main/core/infrastructure/__tests__/IoCContainer.test.ts
  apps/desktop/src/main/exports.d.ts
  apps/desktop/src/main/exports.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/index.ts
  apps/desktop/src/preload/electronApi.test.ts
  apps/desktop/src/preload/electronApi.ts
  packages/electron-client-ipc/src/ipc.test.ts
  packages/electron-client-ipc/src/ipc.ts
  packages/electron-client-ipc/vitest.config.mts
  packages/electron-server-ipc/src/ipcClient.ts
  packages/electron-server-ipc/src/ipcServer.ts
  packages/electron-server-ipc/src/types/index.ts
  src/server/modules/ElectronIPCClient/index.ts
  src/services/electron/file.ts
  src/types/electron-ipc.d.ts
  src/utils/electron/ipc.ts
  tsconfig.json
Due: Services Layer, Server Layer, Utils Layer

fix: cast IPC return type to DesktopIpcServices for type safety
  src/utils/electron/ipc.ts
Due: Utils Layer

chore: add new workspace for desktop application in package.json
  package.json
Due: none

fix: export FileMetadata interface for improved accessibility
  apps/desktop/src/main/services/fileSrv.ts
Due: none

refactor: unify IPC mocking across test files for consistency
  apps/desktop/src/main/controllers/__tests__/AuthCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/BrowserWindowsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/DevtoolsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/LocalFileCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/MenuCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/NetworkProxyCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/NotificationCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/RemoteServerConfigCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/RemoteServerSyncCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/ShellCommandCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/ShortcutCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/TrayMenuCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UpdaterCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  apps/desktop/src/main/modules/fileSearch/__tests__/macOS.integration.test.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/preload/invoke.test.ts
Due: none

chore: add global type definitions and refactor import statements
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  apps/desktop/src/main/global.d.ts
Due: none

refactor: enhance IPC method registration for improved type safety
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/utility.ts
Due: none

feat: enhance type-safe IPC flow with context propagation and service registry
  apps/desktop/README.md
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/controllers/UpdaterCtr.ts
  apps/desktop/src/main/controllers/__tests__/BrowserWindowsCtr.test.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/index.ts
  apps/desktop/src/main/utils/ipc/utility.ts
  src/utils/electron/ipc.ts
Due: Utils Layer

fix: update sql
  docs/development/database-schema.dbml
  packages/database/migrations/0060_add_agent_versions_table.sql
  packages/database/migrations/meta/0060_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/agent.ts
  packages/database/src/utils/idGenerator.ts
Due: none

fix: update agent meta into config
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/UpdateConfig.tsx
  src/tools/agent-builder/Render/UpdateMeta.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

✨ feat: 添加 GLM-4.6V 和 GLM-4.6V-Flash 模型，更新模型能力和定价信息
  packages/model-bank/src/aiModels/zhipu.ts
Due: none

fix approve and push
  src/features/Conversation/store/slices/tool/action.test.ts
  src/features/Conversation/store/slices/tool/action.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/operation/types.ts
Due: Store Layer

refactor: make groupName in BrowserWindowsCtr readonly for better encapsulation
  apps/desktop/Development.md
Due: none

try to fix operation
  src/store/chat/slices/aiChat/actions/conversationControl.ts
Due: Store Layer

feat: add agent builder welcome
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/AgentBuilderConversation.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/AgentBuilderWelcome.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/group/profile/features/AgentBuilder/AgentBuilderConversation.tsx
  src/locales/default/chat.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
Due: none

feat: update locals
  locales/ar/chat.json
  locales/ar/hotkey.json
  locales/bg-BG/chat.json
  locales/bg-BG/hotkey.json
  locales/de-DE/chat.json
  locales/de-DE/hotkey.json
  locales/en-US/hotkey.json
  locales/es-ES/chat.json
  locales/es-ES/hotkey.json
  locales/fa-IR/chat.json
  locales/fa-IR/hotkey.json
  locales/fr-FR/chat.json
  locales/fr-FR/hotkey.json
  locales/it-IT/chat.json
  locales/it-IT/hotkey.json
  locales/ja-JP/chat.json
  locales/ja-JP/hotkey.json
  locales/ko-KR/chat.json
  locales/ko-KR/hotkey.json
  locales/nl-NL/chat.json
  locales/nl-NL/hotkey.json
  locales/pl-PL/chat.json
  locales/pl-PL/hotkey.json
  locales/pt-BR/chat.json
  locales/pt-BR/hotkey.json
  locales/ru-RU/chat.json
  locales/ru-RU/hotkey.json
  locales/tr-TR/chat.json
  locales/tr-TR/hotkey.json
  locales/vi-VN/chat.json
  locales/vi-VN/hotkey.json
  locales/zh-CN/hotkey.json
  locales/zh-TW/chat.json
  locales/zh-TW/hotkey.json
Due: none

feat: remove the installPlugins invetion plugins button ,use appreove is enought
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  src/locales/default/chat.ts
  src/tools/agent-builder/Intervention/InstallPlugin.tsx
Due: none

🐛 fix: remove the installPlugins invertion button,use defalut approve instead (#10681)
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  src/locales/default/chat.ts
  src/tools/agent-builder/Intervention/InstallPlugin.tsx
Due: none

feat: Page copilot
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/features/PageEditor/StoreUpdater.tsx
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/chat/slices/message/initialState.ts
  src/tools/document/const.ts
Due: Store Layer, Services Layer

style: update memory panel
  src/app/[variants]/(main)/memory/contexts/features/ContextRightPanel.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/ExperienceRightPanel.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/ExperienceDrawer.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/CateTag.tsx
  src/app/[variants]/(main)/memory/features/DetailPanel.tsx
  src/app/[variants]/(main)/memory/features/HighlightedContent.tsx
  src/app/[variants]/(main)/memory/features/ProgressIcon.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/identities/features/IdentityRightPanel.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/PreferenceDrawer.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/PreferenceRightPanel.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/features/RightPanel/index.tsx
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/identity/action.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer

feat: update the toggle agent into agent config tools
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/TogglePlugin.tsx
  src/tools/agent-builder/Render/UpdateConfig.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

🔨 chore: update the toggleAgentPlugin into config tools (#10682)
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/TogglePlugin.tsx
  src/tools/agent-builder/Render/UpdateConfig.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

update i18n
  locales/ar/home.json
  locales/bg-BG/home.json
  locales/de-DE/home.json
  locales/en-US/home.json
  locales/es-ES/home.json
  locales/fa-IR/home.json
  locales/fr-FR/home.json
  locales/it-IT/home.json
  locales/ja-JP/home.json
  locales/ko-KR/home.json
  locales/nl-NL/home.json
  locales/pl-PL/home.json
  locales/pt-BR/home.json
  locales/ru-RU/home.json
  locales/tr-TR/home.json
  locales/vi-VN/home.json
  locales/zh-CN/home.json
  locales/zh-TW/home.json
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/locales/default/home.ts
  src/locales/default/index.ts
Due: none

refactor with new mode
  src/app/(backend)/api/workflows/agent/run/route.ts
Due: none

🐛 fix: inject default search settings for builtin models without user settings
  packages/database/src/repositories/aiInfra/index.test.ts
  packages/database/src/repositories/aiInfra/index.ts
  packages/model-bank/src/aiModels/qwen.ts
Due: none

🐛 fix: add internal search implementation settings for search1api models
  packages/database/src/repositories/aiInfra/index.ts
  packages/model-bank/src/aiModels/qiniu.ts
  packages/model-bank/src/aiModels/search1api.ts
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
