Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: Auto save
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/locales/default/file.ts
Due: none

fix: Cannot delete note
  packages/database/src/repositories/knowledge/index.ts
  src/features/FileManager/components/NoteActions.tsx
  src/locales/default/file.ts
  src/store/file/slices/chat/action.ts
Due: Store Layer

style: Adjust skelton shape
  src/features/FileManager/components/NoteListSkeleton.tsx
Due: none

fix: Tab active status
  src/features/FileManager/components/NoteSplitView.tsx
  src/store/global/initialState.ts
Due: Store Layer

style: image placeholder
  src/components/FileIcon/index.tsx
  src/features/FileManager/FileList/MasonryFileItem/ImageFileItem.tsx
  src/features/FileManager/components/NoteSplitView.tsx
Due: none

style: Fix input color
  src/features/FileManager/components/NoteActions.tsx
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/locales/default/file.ts
Due: none

feat: Emoji picker
  locales/zh-CN/file.json
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteSplitView.tsx
  src/locales/default/file.ts
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
Due: Services Layer, Server Layer

feat: Knowlwdge home
  src/features/FileManager/Home/UploadEntries.tsx
Due: none

fix: Knowledge base home
  locales/zh-CN/file.json
  src/features/KnowledgeManager/Home/UploadEntries.tsx
  src/locales/default/file.ts
Due: none

feat: Knowlwdge home
  src/app/[variants]/(main)/knowledge/components/KnowledgeBaseItem/index.tsx
  src/app/[variants]/(main)/knowledge/components/KnowledgeBaseList/index.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/FileMenu.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/KnowledgeBase.tsx
  src/features/FileSidePanel/index.tsx
  src/locales/default/file.ts
Due: none

fix: New knowledge base modal not working
  src/features/KnowledgeBaseModal/CreateNew/CreateForm.tsx
Due: none

fix: Knowledge base not working
  packages/database/src/repositories/knowledge/index.ts
  src/features/KnowledgeManager/index.tsx
Due: none

feat: Three dot menu
  locales/zh-CN/file.json
  src/features/KnowledgeManager/Home/RecentDocumentCard.tsx
  src/features/KnowledgeManager/Home/RecentDocuments.tsx
  src/features/KnowledgeManager/Home/RecentFileCard.tsx
  src/features/KnowledgeManager/Home/index.tsx
  src/locales/default/file.ts
Due: none

feat: Knowlwdge home
  packages/database/src/models/file.ts
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/index.ts
  src/app/[variants]/(main)/knowledge/hooks/useFileCategory.ts
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/FileMenu.tsx
  src/features/FileManager/DocumentExplorer/DocumentExplorer.tsx
  src/features/FileManager/DocumentExplorer/NoteActions.tsx
  src/features/FileManager/DocumentExplorer/NoteEditorModal.tsx
  src/features/FileManager/DocumentExplorer/NoteEditorPanel.tsx
  src/features/FileManager/DocumentExplorer/NoteEmptyStatus.tsx
  src/features/FileManager/DocumentExplorer/NoteListSkeleton.tsx
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
  src/features/FileManager/Header/AddButton.tsx
  src/features/FileManager/Header/NewNoteButton.tsx
  src/features/FileManager/Home/RecentFileCard.tsx
  src/features/FileManager/Home/RecentFiles.tsx
  src/features/FileManager/Home/RecentFilesSkeleton.tsx
  src/features/FileManager/Home/UploadEntries.tsx
  src/features/FileManager/Home/index.tsx
  src/features/FileManager/index.tsx
  src/locales/default/file.ts
Due: none

fix: Knowledge base home
  locales/zh-CN/file.json
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/layout/Container.tsx
  src/features/KnowledgeManager/Home/UploadEntries.tsx
  src/features/KnowledgeManager/Home/index.tsx
  src/locales/default/file.ts
Due: none

feat: Knowlwdge home
  src/features/FileManager/Home/RecentFileCard.tsx
  src/features/FileManager/Home/RecentFiles.tsx
  src/features/FileManager/Home/RecentFilesSkeleton.tsx
  src/features/FileManager/Home/index.tsx
Due: none

feat: Cannot use upload
  src/features/KnowledgeManager/Home/UploadEntries.tsx
  src/features/KnowledgeManager/Home/index.tsx
  src/features/KnowledgeManager/index.tsx
Due: none

feat: Use virtualso for the list
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/locales/default/file.ts
Due: none

feat: Route for document
  src/app/[variants]/(main)/knowledge/KnowledgeRouter.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/index.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/CategoryMenu.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentExplorer.tsx
  src/features/KnowledgeManager/index.tsx
Due: none

refac: Rename symbol
  src/features/KnowledgeManager/DocumentExplorer/DocumentActions.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentExplorer.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentListSkeleton.tsx
  src/features/KnowledgeManager/DocumentExplorer/NoteEmptyStatus.tsx
  src/features/KnowledgeManager/Home/UploadEntries.tsx
  src/store/file/slices/chat/action.ts
  src/store/file/slices/chat/initialState.ts
Due: Store Layer

fix: Lint
  src/features/KnowledgeManager/FileExplorer/MasonryFileItem/NoteFileItem.tsx
  src/features/KnowledgeManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/KnowledgeManager/Home/RecentFilesSkeleton.tsx
  src/features/KnowledgeManager/Home/UploadEntries.tsx
  src/store/file/slices/chat/action.ts
Due: Store Layer

fix: documents not aloding
  src/services/file/index.ts
Due: Services Layer

fix: Cannot save icon
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

fix: Test error
  src/features/Portal/FilePreview/Body/index.tsx
  src/features/Portal/FilePreview/Header.tsx
  src/store/file/slices/chat/action.ts
  src/store/file/slices/fileManager/action.test.ts
Due: Store Layer

fix: Type error
  src/server/routers/lambda/file.ts
Due: Server Layer

feat: Bump Editor version
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

fix: Hover style
  src/features/KnowledgeManager/Home/UploadEntries.tsx
Due: none

fix: Cannot open documents
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/index.tsx
  src/features/KnowledgeManager/Home/UploadEntries.tsx
  src/features/KnowledgeManager/Home/index.tsx
  src/locales/default/file.ts
Due: none

fix: Add missing i18n
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditorPlaceholder.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/locales/default/file.ts
Due: none

feat: Hide preview for selected item
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
Due: none

fix: Add missing translation
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/locales/default/file.ts
Due: none

style: New doc list style
  src/features/KnowledgeManager/DocumentExplorer/DocumentListSkeleton.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
Due: none

style: Adjust padding
  src/features/KnowledgeManager/DocumentExplorer/DocumentActions.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/NoteEmptyStatus.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/features/KnowledgeManager/FileExplorer/FileListItem/index.tsx
  src/features/KnowledgeManager/FileExplorer/MasonryFileItem/NoteFileItem.tsx
  src/locales/default/file.ts
Due: none

feat: Auto save hint
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/locales/default/file.ts
Due: none

style: New header
  src/features/KnowledgeManager/DocumentExplorer/DocumentActions.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
Due: none

feat: Heade tyle
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

fix: Editor blur
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

style: Limit max width
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none
