Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: support ios 26 (#9753)
  apps/mobile/app.config.ts
  apps/mobile/assets/images/ios-dark.png
  apps/mobile/assets/images/ios-light.png
  apps/mobile/assets/images/ios-tinted.png
  apps/mobile/assets/images/ios.icon/Assets/Group 72.png
  apps/mobile/assets/images/ios.icon/Assets/dLogo.png
  apps/mobile/assets/images/ios.icon/icon.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/package.json
  apps/mobile/pnpm-workspace.yaml
  apps/mobile/src/_const/settings/index.ts
  apps/mobile/src/_const/settings/systemAgent.ts
  apps/mobile/src/app/(main)/setting/developer/index.tsx
  apps/mobile/src/app/_layout.tsx
  apps/mobile/src/chains/abstractChunk.ts
  apps/mobile/src/chains/answerWithContext.ts
  apps/mobile/src/chains/langDetect.ts
  apps/mobile/src/chains/pickEmoji.ts
  apps/mobile/src/chains/rewriteQuery.ts
  apps/mobile/src/chains/summaryDescription.ts
  apps/mobile/src/chains/summaryGenerationTitle.ts
  apps/mobile/src/chains/summaryHistory.ts
  apps/mobile/src/chains/summaryTags.ts
  apps/mobile/src/chains/summaryTitle.ts
  apps/mobile/src/chains/translate.ts
  apps/mobile/src/i18n/default/setting.ts
  apps/mobile/src/store/chat/slices/topic/action.ts
  apps/mobile/src/store/session/slices/session/helpers.ts
  apps/mobile/src/store/session/slices/session/initialState.ts
  apps/mobile/src/store/session/slices/session/selectors/list.ts
  apps/mobile/src/utils/fetch/fetchSSE.ts
Due: none

feat: fixed market update locals
  locales/zh-CN/setting.json
  packages/database/src/core/migrations.json
  src/app/[variants]/(main)/chat/settings/features/SmartAgentActionButton/MarketPublishButton.tsx
  src/app/[variants]/(main)/chat/settings/features/SmartAgentActionButton/index.tsx
  src/hooks/useAgentOwnershipCheck.ts
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/types.ts
  src/locales/default/setting.ts
Due: none

chore: update pnpm-lock ymal
  apps/mobile/pnpm-lock.yaml
Due: none

chore: pick version from package.json
  apps/mobile/app.config.ts
Due: none

🔨 chore: refactor the prompt engineering (#9744)
  packages/prompts/CLAUDE.md
  packages/prompts/package.json
  packages/prompts/promptfoo/supervisor/productive/eval.yaml
  packages/prompts/promptfoo/supervisor/productive/prompt.ts
  packages/prompts/promptfoo/supervisor/productive/tests/basic-case.ts
  packages/prompts/promptfoo/supervisor/productive/tests/role.ts
  packages/prompts/promptfoo/supervisor/productive/tools.json
  packages/prompts/src/contexts/index.ts
  packages/prompts/src/contexts/supervisor/index.ts
  packages/prompts/src/contexts/supervisor/makeDecision.ts
  packages/prompts/src/contexts/supervisor/tools.ts
  packages/prompts/src/index.ts
  packages/types/src/aiChat.ts
  src/server/routers/lambda/aiChat.ts
  src/store/chat/slices/message/supervisor.test.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer, Server Layer

🐛fix: update search settings handling based on explicit model search abilities
  packages/database/src/repositories/aiInfra/index.ts
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🐛fix: update search settings handling based on explicit model search abilities (#9757)
  packages/database/src/repositories/aiInfra/index.ts
Due: none

feat: Create group member shortcut
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/features/GroupChatSettings/GroupMembers.tsx
  src/features/GroupChatSettings/GroupSettingsContent.tsx
  src/features/GroupChatSettings/index.ts
  src/locales/default/chat.ts
  src/locales/default/setting.ts
Due: none

feat: Hide sub topic mode in group chat
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/User/Actions.tsx
Due: none

fix: persist stop thinking tag
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/ChatItem/OrchestratorThinking.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/ChatItem/index.tsx
Due: none

fix topic issue
  packages/database/src/models/topic.ts
  src/server/services/aiChat/index.ts
  src/services/topic/client.ts
Due: Services Layer, Server Layer

fix tests
  src/server/services/aiChat/index.test.ts
Due: Server Layer

🐛 fix: fix topic fetch not correct in custom agent (#9761)
  packages/database/src/models/topic.ts
  src/server/services/aiChat/index.test.ts
  src/server/services/aiChat/index.ts
  src/services/topic/client.ts
Due: Services Layer, Server Layer

:bookmark: chore(release): v1.138.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c9/ea5336d32ea1163e26eff4a379ecdf94ba8407
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

feat: 添加 Qwen3-VL-8B-Instruct 和 Qwen3-VL-8B-Thinking 模型，支持视觉理解和推理
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

fix
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
Due: none

fix response tools calling
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/anthropic/generateObject.ts
  packages/model-runtime/src/types/structureOutput.ts
  packages/types/src/aiChat.ts
  src/server/routers/lambda/aiChat.ts
Due: Server Layer

add log
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
Due: none

fix tests
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/providers/anthropic/generateObject.test.ts
Due: none

✅test: add search unit test cases for merging the user model with the base model.
  packages/database/src/repositories/aiInfra/index.test.ts
Due: none

fix all text and lint and types
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/providers/anthropic/generateObject.test.ts
  packages/model-runtime/src/providers/google/generateObject.test.ts
  packages/model-runtime/src/providers/google/generateObject.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/providers/openai/index.test.ts
  packages/model-runtime/src/types/structureOutput.ts
Due: none

✅test: add search unit test cases for merging the user model with the base model (#9764)
  packages/database/src/repositories/aiInfra/index.test.ts
Due: none

refactor google context builder
  packages/model-runtime/src/core/contextBuilders/google.ts
  packages/model-runtime/src/providers/google/generateObject.test.ts
  packages/model-runtime/src/providers/google/generateObject.ts
  packages/model-runtime/src/providers/google/index.test.ts
  packages/model-runtime/src/providers/google/index.ts
Due: none

add tests
  packages/model-runtime/src/core/contextBuilders/google.test.ts
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

✨ feat: 支持 Google Gemini 音频和视频文件理解功能
  packages/context-engine/src/processors/MessageContent.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
  src/features/ChatInput/ActionBar/Upload/ServerMode.tsx
Due: none

feat: 实现 OpenAI 消息格式转换为 Hugging Face 格式，并添加相关单元测试
  packages/model-bank/src/aiModels/akashchat.ts
  packages/model-runtime/src/core/contextBuilders/huggingface.test.ts
  packages/model-runtime/src/core/contextBuilders/huggingface.ts
  packages/model-runtime/src/providers/huggingface/index.ts
Due: none

🐛 fix: fix response API tools calling issue (#9760)
  packages/model-runtime/src/core/contextBuilders/google.test.ts
  packages/model-runtime/src/core/contextBuilders/google.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/anthropic/generateObject.test.ts
  packages/model-runtime/src/providers/anthropic/generateObject.ts
  packages/model-runtime/src/providers/google/generateObject.test.ts
  packages/model-runtime/src/providers/google/generateObject.ts
  packages/model-runtime/src/providers/google/index.test.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/providers/openai/index.test.ts
  packages/model-runtime/src/types/structureOutput.ts
  packages/types/src/aiChat.ts
  src/server/routers/lambda/aiChat.ts
Due: Server Layer

:bookmark: chore(release): v1.138.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  48/a7a081109a0772353857792155fb1eb18a0602
Due: none

refactor edge router and decide to remove it in V2
  src/app/(backend)/trpc/edge/[trpc]/route.ts
  src/server/routers/edge/index.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/upload.ts
  src/services/__tests__/upload.test.ts
  src/services/upload.ts
Due: Services Layer, Server Layer

♻️ refactor: refactor upload router into lambda and decide to remove it in V2 (#9766)
  src/app/(backend)/trpc/edge/[trpc]/route.ts
  src/server/routers/edge/index.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/upload.ts
  src/services/__tests__/upload.test.ts
  src/services/upload.ts
Due: Services Layer, Server Layer

:bookmark: chore(release): v1.138.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  da/5427ccdf77d432cac25dc24add4a7d6b7dc75c
Due: none
