Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

Notes added by 'git notes add'
  55/3d13c9f8d542b774f1cda99a9d2eaece5b9d45
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

✨ feat(minimax, ollamacloud): 添加缓存读取和写入定价，更新 Kimi K2 Thinking 模型信息
  packages/model-bank/src/aiModels/minimax.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
Due: none

:bookmark: chore(release): v2.0.0-next.35 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  72/9dbe2a0f2a9f245686f5b7b4988bfa6669ab1a
Due: none

🌐 chore: translate non-English comments to English in file services (#10089)
  src/services/electron/desktopNotification.ts
  src/services/electron/file.ts
  src/services/file/ClientS3/index.ts
  src/services/upload.ts
Due: Services Layer

refactor
  package.json
  packages/context-engine/src/processors/GroupMessageFlatten.ts
  packages/context-engine/src/processors/__tests__/GroupMessageFlatten.test.ts
  packages/database/src/models/__tests__/message.grouping.test.ts
  packages/database/src/models/message.ts
  packages/database/src/utils/__tests__/groupMessages.test.ts
  packages/types/src/message/ui/chat.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/message/initialState.ts
  src/store/chat/slices/message/reducer.test.ts
  src/store/chat/slices/message/reducer.ts
Due: Store Layer

refactor
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/action.ts
Due: Store Layer

refactor message group
  packages/database/src/utils/groupMessages.ts
  src/app/[variants]/(main)/chat/components/conversation/features/ChatList/Content.tsx
  src/features/Conversation/Messages/index.tsx
  src/store/chat/helpers.test.ts
  src/store/chat/helpers.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/aiChat/actions/rag.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/message/selectors/chat.test.ts
  src/store/chat/slices/message/selectors/chat.ts
  src/store/chat/slices/message/selectors/dbMessage.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
  src/store/chat/slices/plugin/action.ts
Due: Store Layer

refactor
  src/store/chat/agents/createChatExecutors.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

wip
  src/store/chat/agents/ChatAgent.ts
  src/store/chat/agents/createChatExecutors.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

refactor style
  src/features/Conversation/Messages/User/Actions/ActionsBar.tsx
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/aiChat/actions/index.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/aiChat/actions/streamingStates.ts
Due: Store Layer

add fix
  packages/conversation-flow/src/__tests__/fixtures/inputs/branch/index.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/__tests__/parse.test.ts
Due: none

fix tests
  src/store/chat/slices/plugin/action.test.ts
Due: Store Layer

remove gpt-tokenizer
  next.config.ts
  package.json
  packages/utils/src/tokenizer/client.ts
  packages/utils/src/tokenizer/estimated.ts
  packages/utils/src/tokenizer/index.ts
  packages/utils/src/tokenizer/server.ts
  packages/utils/src/tokenizer/tokenizer.worker.ts
  src/app/(backend)/webapi/tokenizer/index.test.ts
  src/app/(backend)/webapi/tokenizer/route.ts
Due: none

fix send issue
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

refactor agent mode
  packages/agent-runtime/src/types/generalAgent.ts
  packages/agent-runtime/src/types/index.ts
  packages/agent-runtime/src/types/instruction.ts
  src/store/chat/agents/ChatAgent.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/agents/createChatExecutors.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/plugin/action.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer

fix style
  src/features/Conversation/Messages/Group/MessageContent.tsx
Due: none

add metadata api
  src/server/routers/lambda/message.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer, Services Layer, Server Layer

refactor from model to model
  packages/database/src/models/message.ts
  packages/types/src/importer.ts
  packages/types/src/message/ui/extra.ts
  packages/types/src/message/ui/params.ts
  src/features/Conversation/Messages/Assistant/Extra/index.test.tsx
  src/features/Conversation/Messages/Assistant/Extra/index.tsx
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/thread/action.test.ts
Due: Store Layer, Server Layer

finish the refactor
  packages/agent-runtime/src/core/runtime.ts
  packages/agent-runtime/src/types/generalAgent.ts
  packages/agent-runtime/src/types/instruction.ts
  src/store/chat/agents/GeneralChatAgent.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

support branch
  packages/agent-runtime/src/core/__tests__/runtime.test.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/transformation/FlatListBuilder.ts
  packages/types/src/aiChat.ts
  src/features/Conversation/Messages/Group/MessageContent.tsx
  src/features/Conversation/components/Extras/Usage/UsageDetail/AnimatedNumber.tsx
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
  src/server/routers/lambda/aiChat.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer, Server Layer

refactor agent executors
  src/features/Conversation/Messages/Group/MessageContent.tsx
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/message/selectors/chat.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
  src/store/chat/slices/thread/selectors/index.ts
Due: Store Layer

refactor style
  src/features/Conversation/Messages/Group/ContentBlock.tsx
  src/features/Conversation/Messages/Group/MessageContent.tsx
Due: none

refactor tests
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingStates.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
Due: Store Layer

fix branch render data
  packages/conversation-flow/src/__tests__/fixtures/inputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/active-index-1.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/conversation.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/nested.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/complex-scenario.json
  packages/conversation-flow/src/index.ts
  packages/conversation-flow/src/transformation/FlatListBuilder.ts
  packages/conversation-flow/src/types/flatMessageList.ts
  packages/conversation-flow/src/types/index.ts
  packages/types/src/message/ui/chat.ts
  src/features/Conversation/Messages/User/index.tsx
Due: none

refactor
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/message.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
Due: Services Layer, Server Layer

update style
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Group/Actions/WithContentId.tsx
  src/store/chat/slices/topic/reducer.ts
Due: Store Layer

refactor regenerate mode
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/User/Actions/ActionsBar.tsx
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/hooks/useChatListActionsBar.tsx
  src/store/chat/agents/GeneralChatAgent.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/initialState.ts
  src/store/chat/slices/message/selectors/messageState.ts
Due: Store Layer

fix delete
  packages/database/src/models/message.ts
  src/features/Conversation/Messages/Assistant/Tool/Inspector/PluginResult.tsx
  src/features/Conversation/Messages/Assistant/Tool/Inspector/PluginState.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  src/features/Conversation/Messages/Group/Actions/index.tsx
  src/store/chat/slices/builtinTool/actions/interpreter.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/selectors/chat.test.ts
  src/store/chat/slices/message/selectors/chat.ts
  src/store/chat/slices/message/selectors/dbMessage.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
  src/store/chat/slices/message/selectors/messageState.ts
Due: Store Layer

fix
  src/features/Conversation/Messages/Group/Tool/Render/PluginSettings.tsx
  src/store/chat/slices/thread/action.test.ts
Due: Store Layer

fix basic experience
  src/features/Conversation/Error/AccessCodeForm.tsx
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/Conversation/Error/ClerkLogin/index.tsx
  src/features/Conversation/Error/InvalidAccessCode.tsx
  src/features/Conversation/Error/OAuthForm.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/PluginSettings.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/Group/Actions/WithContentId.tsx
  src/features/Conversation/Messages/User/Actions/ActionsBar.tsx
  src/features/Conversation/components/AutoScroll.tsx
  src/features/Conversation/components/VirtualizedList/index.tsx
  src/hooks/useHotkeys/chatScope.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer

refactor
  packages/agent-runtime/src/core/__tests__/runtime.test.ts
  packages/agent-runtime/src/core/runtime.ts
Due: none

refactor
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/store/chat/slices/message/actions/optimisticUpdate.ts
Due: Store Layer

fix lint
  src/features/Conversation/Messages/Assistant/index.tsx
Due: none

refactor thread mode
  src/features/Conversation/Messages/Group/Actions/WithContentId.tsx
  src/features/Conversation/Messages/Group/GroupChildren.tsx
  src/features/Conversation/Messages/Group/index.tsx
  src/features/Conversation/Messages/User/Actions/ActionsBar.tsx
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer

fix tests
  src/services/message/__tests__/metadata-race-condition.test.ts
  src/services/message/index.ts
  src/services/utils/abortableRequest.test.ts
  src/services/utils/abortableRequest.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
Due: Store Layer, Services Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
