Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

♻️ refactor(desktop): capture tab previews on tab bar hover instead of polling
  src/features/Electron/TabHost/index.ts
  src/features/Electron/TabHost/useTabPreviewCapture.ts
  src/features/Electron/titlebar/TabBar/index.tsx
Due: none

🐛 fix: wrap acceptance row metadata on mobile and restore control sizes
  src/features/Acceptance/Viewer/Checks/AcceptanceCheckInventory.tsx
  src/features/Acceptance/Viewer/Checks/CheckRow.tsx
  src/features/Acceptance/Viewer/Checks/styles.ts
  src/features/Acceptance/Viewer/Header/AcceptanceTabs.tsx
Due: none

💄 fix: round acceptance tabs and simplify decision bar layout
  src/features/Acceptance/Viewer/Header/AcceptanceTabs.tsx
  src/features/Acceptance/Viewer/Review/DecisionBar.tsx
Due: none

💄 fix: restore underline tabs with round count badges
  src/features/Acceptance/Viewer/Header/AcceptanceTabs.tsx
Due: none

💄 fix: use default acceptance controls and standard tabs
  src/features/Acceptance/Viewer/Checks/AcceptanceCheckInventory.tsx
  src/features/Acceptance/Viewer/Header/AcceptanceTabs.tsx
Due: none

💄 fix: move mobile check metadata above full-width titles
  src/features/Acceptance/Viewer/Checks/CheckRow.tsx
  src/features/Acceptance/Viewer/Checks/styles.ts
  src/features/Acceptance/Viewer/Focus/AcceptanceEnterFocus.tsx
Due: none

💄 fix: place repair prompt action after additional comment
  src/features/Acceptance/Viewer/Review/DecisionBar.tsx
Due: none

💄 fix: tighten mobile acceptance row spacing
  src/features/Acceptance/Viewer/Checks/styles.ts
Due: none

💄 fix: align mobile acceptance metadata to the right edge
  src/features/Acceptance/Viewer/Checks/styles.ts
Due: none

🐛 fix: support HTTP origins in agent topic copy actions (#19279)
  src/features/AgentSidebar/Topic/List/Item/useDropdownMenu.test.tsx
  src/features/AgentSidebar/Topic/List/Item/useDropdownMenu.tsx
  src/routes/(main)/agent/features/Conversation/Header/HeaderActions/useMenu.test.tsx
  src/routes/(main)/agent/features/Conversation/Header/HeaderActions/useMenu.tsx
Due: none

🐛 fix(desktop): log renderer OTA compatibility and update lifecycle
  apps/desktop/src/main/core/infrastructure/rendererOta/RendererUpdateManager.ts
  apps/desktop/src/main/core/infrastructure/rendererOta/__tests__/RendererUpdateManager.int.test.ts
Due: none

Add CITATION.cff for LobeHub software citation
  CITATION.cff
Due: none

⚡️ perf(spa): keep first-screen and lazy modules in separate chunks (#19288)
  apps/desktop/vite.renderer.config.ts
  apps/share/vite.config.ts
  apps/workbench/vite.config.ts
  plugins/vite/sharedRendererConfig.ts
  vite.config.ts
Due: none

✨ feat(hetero): hand off rate-limited chats to another agent
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/locales/src/default/chat.ts
  src/features/Conversation/Error/index.test.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Electron/HeterogeneousAgent/StatusGuide/index.tsx
  src/features/Electron/HeterogeneousAgent/StatusGuide/states/RateLimitState.tsx
  src/features/Electron/HeterogeneousAgent/StatusGuide/types.ts
  src/store/chat/slices/forward/action.test.ts
  src/store/chat/slices/forward/action.ts
Due: Store Layer

🐛 fix: acknowledge agent handoffs before target execution
  src/features/Conversation/Error/index.test.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/MessageForward/TopicForwardModal/Content.tsx
  src/features/Conversation/MessageForward/useForwardTopic.test.ts
  src/features/Conversation/MessageForward/useForwardTopic.ts
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/store/chat/slices/agentRun/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/agentRun/actions/entries/conversationLifecycle.ts
  src/store/chat/slices/forward/action.ts
Due: Store Layer

🐛 fix: harden agent topic handoff
  src/features/Conversation/Error/index.test.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/MessageForward/TopicForwardModal/Content.tsx
  src/features/Conversation/MessageForward/useForwardTopic.ts
  src/features/Conversation/Messages/AssistantGroup/components/ContentBlock.test.tsx
  src/store/chat/slices/forward/action.test.ts
  src/store/chat/slices/forward/action.ts
Due: Store Layer

🐛 fix: scope handoff scheduling to conversation topic
  src/features/Conversation/Error/index.test.tsx
  src/features/Conversation/Error/index.tsx
Due: none

🐛 fix: cancel the forwarded source topic
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/locales/src/default/chat.ts
  src/features/Conversation/Error/index.test.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
Due: none

🐛 fix: improve mobile acceptance rows and use standard controls (#19287)
  src/features/Acceptance/Viewer/Checks/AcceptanceCheckInventory.tsx
  src/features/Acceptance/Viewer/Checks/CheckRow.tsx
  src/features/Acceptance/Viewer/Checks/styles.ts
  src/features/Acceptance/Viewer/Focus/AcceptanceEnterFocus.tsx
  src/features/Acceptance/Viewer/Header/AcceptanceTabs.tsx
  src/features/Acceptance/Viewer/Review/DecisionBar.tsx
Due: none

🐛 fix(acceptance): improve flow readability and add fullscreen viewing
  locales/en-US/chat.json
  locales/en-US/labs.json
  locales/en-US/verify.json
  locales/zh-CN/verify.json
  packages/locales/src/default/chat.ts
  packages/locales/src/default/labs.ts
  packages/locales/src/default/verify.ts
  src/features/Acceptance/Viewer/Flow/AcceptanceFlow.tsx
  src/features/Acceptance/Viewer/Flow/FlowCanvas.tsx
  src/features/Acceptance/Viewer/Flow/FlowEdge.tsx
Due: none

✨ feat(desktop): show a page thumbnail when hovering a tab (#19284)
  apps/desktop/src/main/controllers/TabPreviewCtr.ts
  apps/desktop/src/main/controllers/registry.ts
  packages/electron-client-ipc/src/types/index.ts
  packages/electron-client-ipc/src/types/tabPreview.ts
  src/features/Electron/TabHost/TabHost.tsx
  src/features/Electron/TabHost/index.ts
  src/features/Electron/TabHost/useTabPreviewCapture.ts
  src/features/Electron/titlebar/TabBar/TabItem.tsx
  src/features/Electron/titlebar/TabBar/hooks/useTabPreview.ts
  src/features/Electron/titlebar/TabBar/index.tsx
  src/features/Electron/titlebar/TabBar/styles.ts
Due: none

📝 docs: bound acceptance checker feedback and scope
  .agents/acceptance/PROCESS.md
  .agents/acceptance/references/plan-feedback.md
  packages/builtin-skills/src/acceptance/SKILL.md
  packages/builtin-skills/src/acceptance/index.ts
  packages/builtin-skills/src/acceptance/references/acceptance-checker.md
  packages/builtin-skills/src/acceptance/references/plan-format.md
  packages/builtin-skills/src/acceptance/references/project-adapter.md
  packages/builtin-skills/src/acceptance/references/report.md
  packages/builtin-skills/src/acceptance/references/tester-review.md
Due: none

✅ test(upload): assert rejected store actions without act()
  src/store/file/slices/upload/action.test.ts
Due: Store Layer

🐛 fix(desktop): log renderer OTA compatibility and update lifecycle (#19300)
  apps/desktop/src/main/core/infrastructure/rendererOta/RendererUpdateManager.ts
  apps/desktop/src/main/core/infrastructure/rendererOta/__tests__/RendererUpdateManager.int.test.ts
Due: none

🐛 fix(acceptance): preserve fullscreen theme and separate branch captions
  src/features/Acceptance/Viewer/Flow/AcceptanceFlow.tsx
  src/features/Acceptance/Viewer/Flow/FlowEdge.tsx
  src/features/Acceptance/Viewer/Flow/flowEdgeLabel.test.ts
  src/features/Acceptance/Viewer/Flow/flowEdgeLabel.ts
Due: none

📝 docs(acceptance): bound checker feedback and review scope (#19297)
  .agents/acceptance/PROCESS.md
  .agents/acceptance/PROJECT.md
  .agents/acceptance/references/plan-feedback.md
  packages/builtin-skills/src/acceptance/SKILL.md
  packages/builtin-skills/src/acceptance/index.ts
  packages/builtin-skills/src/acceptance/references/acceptance-checker.md
  packages/builtin-skills/src/acceptance/references/plan-format.md
  packages/builtin-skills/src/acceptance/references/project-adapter.md
  packages/builtin-skills/src/acceptance/references/report.md
  packages/builtin-skills/src/acceptance/references/tester-review.md
Due: none

⚡️ perf(model-bank): keep the aiModels catalog off the boot path (#19291)
  eslint.config.mjs
  packages/model-bank/package.json
  packages/model-runtime/package.json
  packages/model-runtime/src/utils/modelExtendParams.ts
  src/features/ChatInput/ActionBar/Params/Controls.tsx
  src/features/ChatInput/hooks/useReasoningEffortControl.ts
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/ModelSwitchPanel/components/ControlsForm/ControlsForm.tsx
  src/features/ModelSwitchPanel/components/ControlsForm/ReasoningModeSegmented.tsx
  src/features/Settings/provider/detail/azure/index.tsx
  src/features/Settings/provider/detail/azureai/index.tsx
  src/features/Settings/provider/features/ModelList/ModelItem.tsx
  src/helpers/getSearchConfig.ts
  src/routes/(main)/(create)/features/GenerationInput/GenerationInvalidAPIKey.tsx
  src/routes/(main)/(create)/image/features/ConfigPanel/components/InputNumber/index.tsx
  src/routes/(main)/(create)/image/features/ConfigPanel/hooks/useAutoDimensions.ts
  src/services/_auth.ts
  src/store/aiInfra/slices/aiModel/selectors.ts
  src/store/file/slices/upload/action.test.ts
  src/store/image/slices/generationConfig/action.ts
  src/store/image/slices/generationConfig/hooks.ts
  src/store/image/slices/generationConfig/initialState.ts
  src/store/video/slices/generationConfig/action.ts
  src/store/video/slices/generationConfig/initialState.ts
  src/utils/aiProvider.ts
  src/utils/errorResponse.ts
Due: Store Layer, Services Layer, Utils Layer

🔧 chore(ci): lower the first-screen chunk gate to 40
  .github/scripts/bundle-size-gate.cjs
Due: none

⚡️ perf(home): cut the first navigation's closure in half (#19295)
  eslint.config.mjs
  src/components/ChangelogModal/index.tsx
  src/components/ErrorBoundary/AlertFallback.tsx
  src/features/DailyBrief/BriefCardActions.tsx
  src/features/DailyBrief/BriefCardSummary.tsx
  src/features/DailyBrief/__tests__/BriefCardSummary.test.tsx
  src/features/Home/index.tsx
  src/features/HomeInbox/NewsList.tsx
  src/features/HomeInbox/UnreadTopicList.tsx
  src/features/HomeSidebar/Header/components/InboxModal/NotificationDetailModal.tsx
  src/features/HomeSidebar/hooks/useProjectMenuItems.tsx
  src/features/Projects/CreateProjectContent.tsx
  src/features/Projects/CreateProjectModal.tsx
  src/features/RecommendTaskTemplates/TaskTemplateCard.tsx
  src/features/ResourceManager/DndContextWrapper.tsx
  src/hooks/useInterceptingRoutes.test.ts
  src/hooks/useInterceptingRoutes.ts
  src/routes/(main)/_layout/index.tsx
Due: none

⚡️ perf(skills): keep builtin skill bodies and the tool store off the boot path (#19293)
  packages/builtin-skills/package.json
  packages/builtin-skills/src/agent-browser/index.ts
  packages/builtin-skills/src/agent-browser/manifest.ts
  packages/builtin-skills/src/artifacts/index.ts
  packages/builtin-skills/src/artifacts/manifest.ts
  packages/builtin-skills/src/lobehub/index.ts
  packages/builtin-skills/src/lobehub/manifest.ts
  packages/builtin-skills/src/manifests.ts
  packages/builtin-skills/src/task/index.ts
  packages/builtin-skills/src/task/manifest.ts
  packages/types/src/skill/index.ts
  src/components/Skeleton/Settings/Profile.tsx
  src/features/Settings/skill/features/AgentSkillItem.tsx
  src/features/Settings/skill/features/SkillDetail/index.test.tsx
  src/features/Settings/skill/features/SkillDetail/index.tsx
  src/features/Settings/skill/features/SkillDetail/localization.test.ts
  src/features/Settings/skill/features/SkillDetail/localization.ts
  src/features/Settings/skill/features/SkillList.tsx
  src/features/SkillStore/SkillDetail/BuiltinAgentSkillDetailProvider.tsx
  src/features/SkillStore/SkillList/LobeHub/index.tsx
  src/helpers/skillFilters.ts
  src/services/chat/mecha/skillEngineering.test.ts
  src/services/chat/mecha/skillEngineering.ts
  src/services/chat/mecha/skillPreload.ts
  src/store/chat/slices/agentRun/actions/__tests__/conversationLifecycle.test.ts
  src/store/tool/slices/builtin/initialState.ts
  src/store/tool/slices/builtin/loadBuiltinSkills.test.ts
  src/store/tool/slices/builtin/loadBuiltinSkills.ts
  src/store/tool/slices/builtin/selectors.ts
Due: Store Layer, Services Layer

🔧 chore(ci): gate Vite JS chunks by baseline growth
  .github/scripts/bundle-size-gate.cjs
  .github/scripts/bundle-size-gate.test.cjs
  .github/scripts/size-gate-comment.cjs
Due: none

⚡️ perf(spa): cut the editor runtime, ajv and database models from the boot path (#19294)
  apps/cli/src/commands/agent.ts
  apps/server/src/services/aiAgent/helpers/agentFactory.ts
  packages/agent-runtime/src/agents/graph/GraphAgent.ts
  packages/agent-runtime/src/agents/graph/__tests__/GraphAgent.test.ts
  packages/context-engine/package.json
  packages/context-engine/src/providers/AgentDocumentInjector/shared.ts
  packages/locales/src/create.test.ts
  packages/locales/src/create.ts
  packages/openapi/src/types/agent.type.ts
  packages/types/package.json
  packages/types/src/agent/index.ts
  plugins/vite/sharedRendererConfig.ts
  src/features/AgentSetting/AgentGraphRuntime/index.tsx
  src/layout/GlobalProvider/Editor.tsx
  src/utils/agentDocumentContextMapping.ts
Due: Utils Layer

⚡️ perf(analytics): load @lobehub/analytics after first paint (#19289)
  eslint.config.mjs
  src/components/Analytics/HomePageTracker.tsx
  src/components/Analytics/LobeAnalyticsProvider.tsx
  src/components/Analytics/X.tsx
  src/features/AgentSetting/store/action.ts
  src/features/Auth/SignIn/useSignIn.test.ts
  src/features/Auth/SignUp/useSignUp.test.ts
  src/features/Billboard/Carousel.tsx
  src/features/Billboard/index.tsx
  src/features/HomeSidebar/Footer/index.test.tsx
  src/features/HomeSidebar/Footer/index.tsx
  src/features/HomeSidebar/hooks/useCreateModal.test.tsx
  src/features/MobileHome/SessionListContent/List/index.tsx
  src/features/User/UserLoginOrSignup/trackLoginOrSignupClicked.test.ts
  src/features/User/UserLoginOrSignup/trackLoginOrSignupClicked.ts
  src/libs/analytics/client.test.ts
  src/libs/analytics/client.ts
  src/libs/analytics/productUsageEvent.ts
  src/services/onboardingMetrics/index.test.ts
  src/services/onboardingMetrics/index.ts
  src/store/agent/slices/agent/action.ts
  src/store/session/slices/session/action.ts
  src/store/user/slices/common/action.ts
Due: Store Layer, Services Layer, Libraries Layer

🔧 chore(ci): lower the first-screen chunk gate to 40 (#19301)
  .github/scripts/bundle-size-gate.cjs
  .github/scripts/bundle-size-gate.test.cjs
  .github/scripts/size-gate-comment.cjs
Due: none

🐛 fix(workspace): keep the workspace name out of the prompt and register the mobile hotkey route
  apps/server/src/modules/AgentRuntime/adapters/serverCallLlmContextBuilder.test.ts
  apps/server/src/modules/AgentRuntime/adapters/serverCallLlmContextBuilder.ts
  packages/context-engine/src/providers/WorkspaceContextInjector.ts
  packages/context-engine/src/providers/__tests__/WorkspaceContextInjector.test.ts
  packages/prompts/src/prompts/workspaceContext/index.test.ts
  packages/prompts/src/prompts/workspaceContext/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/spa/router/mobileRouter.config.tsx
Due: Services Layer

✅ test(task): cover the acceptance-row click with a hook regression test
  src/features/AgentTasks/AgentTaskDetail/TaskAcceptanceStateRow.tsx
  src/features/AgentTasks/AgentTaskDetail/useOpenAcceptanceInPanel.test.ts
  src/features/AgentTasks/AgentTaskDetail/useOpenAcceptanceInPanel.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
