Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

:bug: fix: no attr len
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/server/services/usage/index.ts
Due: Server Layer

:memo: docs: update annotations
  packages/types/src/usage/usageRecord.ts
  src/server/services/usage/index.ts
Due: Server Layer

:lipstick: style: migrate panel UI
  packages/types/src/usage/usageRecord.ts
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/app/[variants]/(main)/profile/usage/features/components/UsageBarChart.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/server/services/usage/index.ts
  src/services/usage.ts
  src/store/global/initialState.ts
Due: Store Layer, Services Layer, Server Layer

:globe_with_meridians: i18n: add i18n slots
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/locales/default/auth.ts
Due: none

:bug: fix: dayjs init error
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
Due: none

:globe_with_meridians: i18n: add translations
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
Due: none

:bug: fix: slice err
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
Due: none

🌐 chore: translate non-English comments to English in packages/const (#10073)
  packages/const/src/hotkeys.ts
  packages/const/src/models.ts
  packages/const/src/utils/merge.ts
Due: none

优化 Responses API 处理逻辑，优化错误处理和流数据转换
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/core/streams/openai/__snapshots__/responsesStream.test.ts.snap
Due: none

refactor name
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/message.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChat.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/action.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
Due: Store Layer, Services Layer, Server Layer

revert
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  docs/development/basic/work-with-server-side-database.mdx
  docs/development/basic/work-with-server-side-database.zh-CN.mdx
Due: none

Update work-with-server-side-database.mdx
  docs/development/basic/work-with-server-side-database.mdx
Due: none

Update work-with-server-side-database.zh-CN.mdx
  docs/development/basic/work-with-server-side-database.zh-CN.mdx
Due: none

fix: build error
  apps/mobile/babel.config.js
  apps/mobile/package.json
Due: none

feat: add oidc config for mobile
  .env.mobile
Due: none

chore(mobile): update chat input
  apps/mobile/app/(main)/chat/(components)/ChatInput/index.tsx
  apps/mobile/src/hooks/useChat.ts
  apps/mobile/src/hooks/useSendMessage.ts
  apps/mobile/src/store/chat/slices/aiChat/actions/generateAIChat.ts
Due: none

feat: add trpc services
  apps/mobile/app/Query.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
Due: none

feat: migrate mobile trpc api
  apps/mobile/app/(auth)/login/index.tsx
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
  src/server/routers/mobile/__tests__/file.test.ts
  src/server/routers/mobile/__tests__/importer.test.ts
  src/server/routers/mobile/__tests__/message.test.ts
  src/server/routers/mobile/_template.ts
  src/server/routers/mobile/agent.test.ts
  src/server/routers/mobile/agent.ts
  src/server/routers/mobile/aiModel.test.ts
  src/server/routers/mobile/aiModel.ts
  src/server/routers/mobile/aiProvider.test.ts
  src/server/routers/mobile/aiProvider.ts
  src/server/routers/mobile/chunk.ts
  src/server/routers/mobile/config/__snapshots__/index.test.ts.snap
  src/server/routers/mobile/config/index.test.ts
  src/server/routers/mobile/config/index.ts
  src/server/routers/mobile/document.ts
  src/server/routers/mobile/exporter.ts
  src/server/routers/mobile/file.ts
  src/server/routers/mobile/generation.test.ts
  src/server/routers/mobile/generation.ts
  src/server/routers/mobile/generationBatch.test.ts
  src/server/routers/mobile/generationBatch.ts
  src/server/routers/mobile/generationTopic.test.ts
  src/server/routers/mobile/generationTopic.ts
  src/server/routers/mobile/image.ts
  src/server/routers/mobile/importer.ts
  src/server/routers/mobile/knowledgeBase.ts
  src/server/routers/mobile/market/index.ts
  src/server/routers/mobile/message.ts
  src/server/routers/mobile/plugin.ts
  src/server/routers/mobile/ragEval.ts
  src/server/routers/mobile/session.ts
  src/server/routers/mobile/sessionGroup.ts
  src/server/routers/mobile/thread.ts
  src/server/routers/mobile/topic.ts
  src/server/routers/mobile/user.test.ts
  src/server/routers/mobile/user.ts
Due: Server Layer

fix: trpc client problem
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/services/session.ts
  apps/mobile/src/store/session/index.ts
Due: none

feat: sidebar implementation (#8658)
  apps/mobile/.gitignore
  apps/mobile/.npmrc
  apps/mobile/app/(main)/chat/(components)/StopLoadingIcon/index.tsx
  apps/mobile/app/(main)/chat/(components)/StopLoadingIcon/style.ts
  apps/mobile/app/(main)/chat/index.tsx
  apps/mobile/eas.json
  apps/mobile/jest.config.json
  apps/mobile/locales/en-US/chat.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/GithubAvatar/__tests__/GitHubAvatar.test.tsx
  apps/mobile/src/components/ListItem/index.tsx
  apps/mobile/src/components/ListItem/style.ts
  apps/mobile/src/features/SideBar/components/Footer/index.tsx
  apps/mobile/src/features/SideBar/components/Footer/styles.ts
  apps/mobile/src/features/SideBar/components/Header/index.tsx
  apps/mobile/src/features/SideBar/components/Header/style.ts
  apps/mobile/src/features/SideBar/components/SessionList/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/SessionItem.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
  apps/mobile/src/features/SideBar/index.tsx
  apps/mobile/src/features/SideBar/style.ts
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/services/session.ts
  apps/mobile/src/store/session/index.ts
Due: none

fix: eas preview build env
  apps/mobile/eas.json
Due: none

fix: detail style token and lineHeight Problem
  apps/mobile/app/(discover)/assistant/detail/components/Header/styles.ts
  apps/mobile/app/(discover)/assistant/detail/styles.ts
  apps/mobile/app/(main)/chat/setting/styles.ts
  apps/mobile/app/playground/components/theme-token/(components)/TokenTable/index.tsx
  apps/mobile/app/playground/styles.ts
  apps/mobile/src/components/Highlighter/demos/basic.tsx
  apps/mobile/src/components/Highlighter/demos/compact.tsx
  apps/mobile/src/components/Highlighter/demos/fullFeatured.tsx
  apps/mobile/src/components/Highlighter/style.ts
  apps/mobile/src/components/Toast/style.ts
  apps/mobile/src/components/Tooltip/style.ts
  apps/mobile/src/theme/algorithm/shared/genFontMapToken.ts
  apps/mobile/src/theme/algorithm/shared/genFontSizes.ts
  src/server/routers/mobile/chunk.ts
  src/server/routers/mobile/ragEval.ts
  src/server/routers/mobile/user.ts
Due: Server Layer

feat: role edit & session context menu & expo 53 upgrade (#9024)
  apps/mobile/app.json
  apps/mobile/app/(main)/chat/(components)/WelcomeChatBubble/index.tsx
  apps/mobile/app/(main)/chat/setting/index.tsx
  apps/mobile/app/(main)/setting/(components)/SettingGroup/index.tsx
  apps/mobile/app/(main)/setting/account/index.tsx
  apps/mobile/app/(main)/setting/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/index.tsx
  apps/mobile/app/(main)/setting/providers/openai.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/locales/zh-CN/chat.json
  apps/mobile/package.json
  apps/mobile/plugins/withFbjniFix.js
  apps/mobile/plugins/withFbjniFix.ts
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/ListItem/style.ts
  apps/mobile/src/config/auth.ts
  apps/mobile/src/features/AgentRoleEdit/AgentRoleEditSection.tsx
  apps/mobile/src/features/AgentRoleEdit/sectionStyles.ts
  apps/mobile/src/features/SideBar/components/SessionList/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/components/SkeletonList.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList/index.tsx
  apps/mobile/src/hooks/useLocale.ts
  apps/mobile/src/i18n/ReadyGate.tsx
  apps/mobile/src/i18n/default/chat.ts
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/store/chat/slices/aiChat/actions/generateAIChat.ts
  apps/mobile/src/utils/fetch/fetchSSE.ts
Due: none

fix(mobile): provider icon color when change theme
  apps/mobile/app/(main)/setting/providers/(components)/ProviderCard/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ProviderInfoSection/index.tsx
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

feat: ColorSwatch support Conic Gradient
  apps/mobile/app/(discover)/assistant/list/components/AgentCard/index.tsx
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/ColorSwatches/ConicGradientPatern.tsx
  apps/mobile/src/components/ColorSwatches/index.tsx
  apps/mobile/src/components/ColorSwatches/style.ts
  apps/mobile/src/const/common.ts
Due: none

fix: color token
  apps/mobile/src/theme/alias.ts
  apps/mobile/src/theme/color/custom.ts
  apps/mobile/src/theme/interface/alias.ts
  apps/mobile/src/theme/interface/maps/colors.ts
  apps/mobile/src/theme/interface/seeds.ts
  apps/mobile/src/theme/seed.ts
Due: none

chore: add back ScrollToBottom
  apps/mobile/src/features/chat/ChatList/index.tsx
Due: none

fix(mobile): lock
  apps/mobile/pnpm-lock.yaml
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
