Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

:bookmark: chore(release): v1.128.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  20/e026c9f10541114f5c5494951ebbf5c331584c
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

💄 style: support `.doc` file parse (#8182)
  package.json
  packages/file-loaders/src/loadFile.ts
  packages/file-loaders/src/loaders/docx/index.ts
Due: none

fix
  .github/workflows/sync-database-schema.yml
  src/services/session/server.ts
Due: Services Layer

💄 style: improve error handle with agent config (#9263)
  .github/workflows/sync-database-schema.yml
  src/services/session/server.ts
Due: Services Layer

🐛Fix: non streaming not displaying token usage and thinking content (#9087)
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/core/streams/anthropic.ts
  packages/model-runtime/src/core/streams/google-ai.ts
  packages/model-runtime/src/core/streams/openai/openai.ts
  packages/model-runtime/src/core/streams/openai/responsesStream.ts
  packages/model-runtime/src/core/streams/protocol.ts
  packages/model-runtime/src/core/streams/qwen.ts
  packages/model-runtime/src/core/streams/spark.test.ts
  packages/model-runtime/src/core/streams/spark.ts
  packages/model-runtime/src/core/streams/vertex-ai.ts
  packages/model-runtime/src/providers/azureOpenai/index.ts
  packages/model-runtime/src/providers/azureai/index.ts
Due: none

fix: button variant type error
  apps/mobile/src/components/Button/style.ts
Due: none

✨ feat: 支持通过 Google Files API 上传音频和视频文件
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
  src/services/chat/index.ts
Due: Services Layer

✨ feat: 优化 Google Files API 上传逻辑
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
Due: none

✨ feat: 优化 ChatService 中的文件 URL 处理
  src/services/chat/index.ts
Due: Services Layer

📝 docs(bot): Auto sync agents & plugin to readme
  src/services/chat/index.ts
Due: Services Layer

fix: 解决当智能联网被打开调用时候，token不被统计的问题
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
Due: none

feat: change the right use smart searchEngines Token calc
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
  src/store/agent/slices/chat/selectors/agent.ts
Due: Store Layer

🔧 chore: Add next instrumentationHook to upgrade sentry
  next.config.mjs
  package.json
  src/instrumentation.ts
Due: none

启用doubao-seededit-3-0-i2i-250628模型
  packages/model-bank/src/aiModels/volcengine.ts
  packages/model-runtime/src/providers/volcengine/createImage.ts
  packages/model-runtime/src/providers/volcengine/index.ts
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/index.tsx
  src/server/routers/lambda/image.ts
Due: Server Layer

启用doubao-seededit-3-0-i2i-250628模型
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/index.tsx
Due: none

✨ feat: 支持通过 Google Files API 上传音频和视频文件
  src/services/chat/index.ts
Due: Services Layer

feat: 更新响应API路由控制，支持模型匹配和实例覆盖
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/aihubmix/index.ts
Due: none

Update index.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
Due: none

fix
  src/services/session/server.test.ts
Due: Services Layer

🐛 fix: refine model parsing by updating keyword matching and removing redundant checks
  packages/model-runtime/src/utils/modelParse.ts
Due: none

✅ test: fix tests (#9265)
  src/services/session/server.test.ts
Due: Services Layer

🔧 chore: Migrating from Sentry JavaScript SDK 7.x to 8.x
  next.config.ts
  package.json
  src/instrumentation.ts
Due: none

🔧 chore: Migrating from Sentry JavaScript SDK 7.x to 8.x
  next.config.ts
Due: none

🔧 chore: Migrate sentry v10
  package.json
  sentry.client.config.ts
Due: none

add tests
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
Due: none

:bookmark: chore(release): v1.128.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  37/f7028c4c5b2a1818f3feac439be1c1058b480a
Due: none

regex
  packages/model-runtime/src/providers/aihubmix/index.ts
Due: none

启用doubao-seededit-3-0-i2i-250628模型
  packages/model-runtime/src/providers/volcengine/createImage.ts
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/index.tsx
  src/server/routers/lambda/image.ts
Due: Server Layer

✨ feat: 支持通过 Google Files API 上传音频和视频文件
  packages/model-runtime/src/providers/google/index.ts
Due: none

fix: lint error
  packages/agent-runtime/examples/tools-calling.ts
  packages/context-engine/src/base/BaseProcessor.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
