Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: Allow DND in tree
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

feat: add agent builder inject context well down
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/agent/selectors/agentByIdSelectors.ts
  src/tools/agent-builder/const.ts
Due: Store Layer, Services Layer

fix: delelte some get agentbuilder tools
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/GetAvailableTools.tsx
  src/tools/agent-builder/Render/GetConfig.tsx
  src/tools/agent-builder/Render/GetMeta.tsx
  src/tools/agent-builder/Render/GetPrompt.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

refactor: server ipc
  apps/desktop/Development.md
  apps/desktop/README.md
  apps/desktop/README.zh-CN.md
  apps/desktop/src/main/controllers/SystemCtr.ts
  apps/desktop/src/main/controllers/SystemServerCtr.ts
  apps/desktop/src/main/controllers/UploadFileCtr.ts
  apps/desktop/src/main/controllers/UploadFileServerCtr.ts
  apps/desktop/src/main/controllers/__tests__/DevtoolsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemServerCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileServerCtr.test.ts
  apps/desktop/src/main/controllers/index.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/infrastructure/IoCContainer.ts
  apps/desktop/src/main/core/infrastructure/__tests__/IoCContainer.test.ts
  apps/desktop/src/main/exports.d.ts
  apps/desktop/src/main/exports.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/index.ts
  apps/desktop/src/preload/electronApi.test.ts
  apps/desktop/src/preload/electronApi.ts
  packages/electron-client-ipc/src/ipc.test.ts
  packages/electron-client-ipc/src/ipc.ts
  packages/electron-client-ipc/vitest.config.mts
  packages/electron-server-ipc/src/ipcClient.ts
  packages/electron-server-ipc/src/ipcServer.ts
  packages/electron-server-ipc/src/types/index.ts
  src/server/modules/ElectronIPCClient/index.ts
  src/services/electron/file.ts
  src/types/electron-ipc.d.ts
  src/utils/electron/ipc.ts
  tsconfig.json
Due: Services Layer, Server Layer, Utils Layer

fix: export FileMetadata interface for improved accessibility
  apps/desktop/src/main/services/fileSrv.ts
Due: none

fix: cast IPC return type to DesktopIpcServices for type safety
  src/utils/electron/ipc.ts
Due: Utils Layer

chore: add new workspace for desktop application in package.json
  package.json
Due: none

refactor: unify IPC mocking across test files for consistency
  apps/desktop/src/main/controllers/__tests__/AuthCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/BrowserWindowsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/DevtoolsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/LocalFileCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/MenuCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/NetworkProxyCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/NotificationCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/RemoteServerConfigCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/RemoteServerSyncCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/ShellCommandCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/ShortcutCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/TrayMenuCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UpdaterCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  apps/desktop/src/main/modules/fileSearch/__tests__/macOS.integration.test.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/preload/invoke.test.ts
Due: none

refactor: update IPC method names for consistency
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  src/services/electron/file.ts
  src/services/electron/localFileService.ts
  src/services/electron/settings.ts
  src/services/electron/system.ts
  tsconfig.json
Due: Services Layer

feat: enhance type-safe IPC flow with context propagation and service registry
  apps/desktop/README.md
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/controllers/UpdaterCtr.ts
  apps/desktop/src/main/controllers/__tests__/BrowserWindowsCtr.test.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/index.ts
  apps/desktop/src/main/utils/ipc/utility.ts
  src/utils/electron/ipc.ts
Due: Utils Layer

style: add password confirm when signup
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
  src/app/[variants]/(auth)/signup/[[...signup]]/BetterAuthSignUpForm.tsx
  src/locales/default/auth.ts
Due: none

refactor: enhance IPC method registration for improved type safety
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/utility.ts
Due: none

♻️ refactor(mobile): simplify UserBanner login logic
  src/app/[variants]/(main)/(mobile)/me/(home)/features/UserBanner.tsx
Due: none

✨ feat: add the agentbuilder inject context & delete some get tools (#10666)
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/agent/selectors/agentByIdSelectors.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/GetAvailableTools.tsx
  src/tools/agent-builder/Render/GetConfig.tsx
  src/tools/agent-builder/Render/GetMeta.tsx
  src/tools/agent-builder/Render/GetPrompt.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/const.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer, Services Layer

fix title and avatar
  packages/database/src/repositories/home/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/index.tsx
Due: none

feat: change all set fc in agentbuilder to one tool
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SetModel.tsx
  src/tools/agent-builder/Render/SetOpeningMessage.tsx
  src/tools/agent-builder/Render/SetOpeningQuestions.tsx
  src/tools/agent-builder/Render/UpdateChatConfig.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

add server agent
  src/server/modules/AgentRuntime/AgentRuntimeCoordinator.ts
  src/server/modules/AgentRuntime/AgentStateManager.ts
  src/server/modules/AgentRuntime/GeneralAgent.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/StreamEventManager.ts
  src/server/modules/AgentRuntime/__tests__/AgentRuntimeCoordinator.feature
  src/server/modules/AgentRuntime/__tests__/AgentRuntimeCoordinator.test.ts
  src/server/modules/AgentRuntime/__tests__/AgentStateManager.test.ts
  src/server/modules/AgentRuntime/__tests__/GeneralAgent.test.ts
  src/server/modules/AgentRuntime/__tests__/StreamEventManager.test.ts
  src/server/modules/AgentRuntime/index.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/routers/lambda/index.ts
  src/services/agentRuntime/__tests__/client.test.ts
  src/services/agentRuntime/client.ts
  src/services/agentRuntime/index.ts
  src/services/agentRuntime/toolEngine.ts
  src/services/agentRuntime/type.ts
Due: Services Layer, Server Layer

💄 style(profile): add mobile responsive layout for profile page
  src/app/[variants]/(main)/profile/(home)/Client.tsx
Due: none

refac: Make the file preview overflow
  src/features/ResourceManager/index.tsx
Due: none

fix intervention issue
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

feat: add offical tools into context
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/services/chat/index.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SearchOfficialTools.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer, Services Layer

feat: add agent_Version into agents
  docs/development/database-schema.dbml
  packages/database/migrations/0060_add_agent_versions_table.sql
  packages/database/migrations/meta/0060_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/agent.ts
  packages/database/src/schemas/relations.ts
  packages/database/src/utils/idGenerator.ts
Due: none

✨ feat: change all get tools into one & change tools into context (#10670)
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/services/chat/index.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SearchOfficialTools.tsx
  src/tools/agent-builder/Render/SetModel.tsx
  src/tools/agent-builder/Render/SetOpeningMessage.tsx
  src/tools/agent-builder/Render/SetOpeningQuestions.tsx
  src/tools/agent-builder/Render/UpdateChatConfig.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer, Services Layer

feat: Select All checkbox
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/Skeleton.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
Due: none

support always intervention
  packages/types/src/tool/intervention.ts
  src/store/chat/agents/GeneralChatAgent.ts
  src/store/chat/agents/__tests__/GeneralChatAgent.test.ts
  src/tools/agent-builder/index.ts
Due: Store Layer

chore: add global type definitions and refactor import statements
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  apps/desktop/src/main/global.d.ts
Due: none

style: Move the close button
  src/features/ResourceManager/components/Editor/index.tsx
Due: none

fix: update test
  packages/database/src/repositories/tableViewer/index.test.ts
Due: none

style: rename action
  packages/const/src/hotkeys.ts
Due: none

style: rename action
  src/app/[variants]/(main)/_layout/DesktopLayoutContainer.tsx
  src/components/Analytics/MainInterfaceTracker.tsx
  src/features/NavPanel/components/TogglePanelButton.tsx
  src/features/NavPanel/hooks/useNavPanel.ts
  src/features/NavPanel/index.tsx
  src/hooks/useHotkeys/chatScope.ts
  src/hooks/useHotkeys/globalScope.ts
  src/store/global/action.test.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

💄 style(profile): add mobile responsive layout and signup improvements (#10669)
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
  src/app/[variants]/(auth)/signup/[[...signup]]/BetterAuthSignUpForm.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/features/UserBanner.tsx
  src/app/[variants]/(main)/profile/(home)/Client.tsx
  src/locales/default/auth.ts
Due: none

style: update right panel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/AgentBuilderToggle.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/index.tsx
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/app/[variants]/(main)/chat/profile/features/store/selectors.ts
  src/components/Analytics/MainInterfaceTracker.tsx
  src/features/NavHeader/index.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
  src/features/NavPanel/ToggleLeftPanelButton.tsx
  src/features/NavPanel/components/BackNav.tsx
  src/features/NavPanel/components/TogglePanelButton.tsx
  src/features/NavPanel/index.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/store/action.ts
  src/features/PageEditor/store/initialState.ts
  src/features/RightPanel/ToggleRightPanelButton.tsx
  src/features/RightPanel/index.tsx
  src/locales/default/hotkey.ts
  src/store/global/action.test.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

💄 style: update link handling in PlanTag component to use react-router-dom
  src/features/User/PlanTag.tsx
Due: none

fix: No loading if cached
  packages/builtin-agents/src/agents/page-agent/systemRole.ts
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

💄 style: update link handling in PlanTag component to use react-router-dom (#10673)
  src/features/User/PlanTag.tsx
Due: none

refactor: update useMenu logic and enhance tests for profile inclusion
  src/features/User/__tests__/useMenu.test.tsx
  src/helpers/getSearchConfig.test.ts
  src/store/agent/selectors/chatConfigSelectors.ts
Due: Store Layer

style: Add density for the tree
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

feat: add auto oauth when click approve
  src/tools/agent-builder/ExecutionRuntime/index.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
