Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

refactor and clean
  src/features/PageEditor/PageEditor.tsx
  src/features/PageEditor/index.ts
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

fix: fill empty tool_call content in chat agent execution loop
  src/store/chat/agents/createAgentExecutors.ts
Due: Store Layer

fix: package circle reference
  packages/model-runtime/src/types/error.ts
  packages/types/package.json
  packages/types/src/agentRuntime.ts
  packages/types/src/fetch.ts
  packages/types/src/index.ts
  packages/types/src/message/common/base.ts
Due: none

♻️ refactor: clean page editor (#10966)
  src/features/PageEditor/PageEditor.tsx
  src/features/PageEditor/index.ts
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

feat: add a custom drag upload way
  src/components/DragUploadZone/DragUploadProvider.tsx
  src/components/DragUploadZone/index.tsx
  src/components/DragUploadZone/useLocalDragUpload.ts
  src/features/ChatInput/Desktop/ContextContainer/index.tsx
  src/features/ChatInput/Desktop/FilePreview/index.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/layout/GlobalProvider/index.tsx
Due: none

feat: add agent bulilder & page builder & group chat support upload files
  src/app/[variants]/(main)/chat/features/Conversation/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
Due: none

chore: remove unstructured
  package.json
  src/libs/unstructured/__tests__/fixtures/image-parse/fast-partition-none-output.json
  src/libs/unstructured/__tests__/fixtures/image-parse/fast-partition-none-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/auto-partition-basic-output.json
  src/libs/unstructured/__tests__/fixtures/table-parse/auto-partition-basic-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/auto-partition-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/fast-partition-basic-output.json
  src/libs/unstructured/__tests__/fixtures/table-parse/fast-partition-basic-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/fast-partition-raw.json
  src/libs/unstructured/__tests__/index.test.ts
  src/libs/unstructured/index.ts
  src/server/modules/ContentChunk/index.test.ts
  src/server/modules/ContentChunk/index.ts
Due: Server Layer, Libraries Layer

chore: update
  src/libs/getUILocaleAndResources.ts
Due: Libraries Layer

chore: remove unused ImageGenerationService implementation
  src/services/textToImage.ts
Due: Services Layer

feat: use upload fileitem to show detail
  src/features/ChatInput/Desktop/ContextContainer/ContextItem/index.tsx
  src/features/ChatInput/Desktop/ContextContainer/ContextList.tsx
  src/features/ChatInput/Mobile/FilePreview/FileItem/index.tsx
Due: none

Tj/refactor/businessify-3 (#10961)
  package.json
  packages/business/model-runtime/package.json
  packages/business/model-runtime/src/index.ts
  packages/business/model-runtime/src/router-runtime-options.ts
  packages/model-runtime/package.json
  packages/model-runtime/src/index.ts
  packages/model-runtime/src/providers/lobehub/index.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/model-runtime/src/types/error.ts
  packages/types/package.json
  packages/types/src/agentRuntime.ts
  packages/types/src/fetch.ts
  packages/types/src/index.ts
  packages/types/src/message/common/base.ts
  src/business/server/image-generation/chargeAfterGenerate.ts
  src/business/server/image-generation/chargeBeforeGenerate.ts
  src/business/server/trpc-middlewares/async.ts
  src/business/server/trpc-middlewares/lambda.ts
  src/business/server/user.ts
  src/libs/better-auth/define-config.ts
  src/libs/unstructured/__tests__/fixtures/image-parse/fast-partition-none-output.json
  src/libs/unstructured/__tests__/fixtures/image-parse/fast-partition-none-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/auto-partition-basic-output.json
  src/libs/unstructured/__tests__/fixtures/table-parse/auto-partition-basic-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/auto-partition-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/fast-partition-basic-output.json
  src/libs/unstructured/__tests__/fixtures/table-parse/fast-partition-basic-raw.json
  src/libs/unstructured/__tests__/fixtures/table-parse/fast-partition-raw.json
  src/libs/unstructured/__tests__/index.test.ts
  src/libs/unstructured/index.ts
  src/server/modules/ContentChunk/index.test.ts
  src/server/modules/ContentChunk/index.ts
  src/server/routers/async/file.ts
  src/server/routers/async/image.ts
  src/server/routers/lambda/chunk.ts
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/image.ts
  src/server/routers/lambda/user.ts
  src/server/services/user/index.ts
  src/services/textToImage.ts
Due: Services Layer, Server Layer, Libraries Layer

feat: support preview in chatinput files
  src/features/ChatInput/Desktop/ContextContainer/ContextItem/FilePreviewModal.tsx
  src/features/ChatInput/Desktop/ContextContainer/ContextItem/index.tsx
Due: none

feat: add useUploadFiles hook to replace the repeat logic code
  src/app/[variants]/(main)/chat/features/Conversation/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/components/DragUploadZone/index.tsx
  src/components/DragUploadZone/useUploadFiles.ts
  src/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
Due: none

✨ feat: support files upload in chat input (#10967)
  src/app/[variants]/(main)/chat/features/Conversation/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/components/DragUploadZone/DragUploadProvider.tsx
  src/components/DragUploadZone/index.tsx
  src/components/DragUploadZone/useLocalDragUpload.ts
  src/components/DragUploadZone/useUploadFiles.ts
  src/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/ChatInput/Desktop/ContextContainer/ContextItem/FilePreviewModal.tsx
  src/features/ChatInput/Desktop/ContextContainer/ContextItem/index.tsx
  src/features/ChatInput/Desktop/ContextContainer/ContextList.tsx
  src/features/ChatInput/Desktop/ContextContainer/index.tsx
  src/features/ChatInput/Desktop/FilePreview/index.tsx
  src/features/ChatInput/Mobile/FilePreview/FileItem/index.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/layout/GlobalProvider/index.tsx
Due: none

style: update community style
  src/app/[variants]/(main)/community/(detail)/_layout/Header.tsx
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/FollowButton.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/FollowStats.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/community/(list)/_layout/Header.tsx
  src/app/[variants]/(main)/community/_layout/Sidebar/Header/Nav.tsx
  src/features/Conversation/Messages/User/components/FileListViewer/Item.tsx
  src/features/Conversation/Messages/User/components/MessageContent.tsx
  src/features/MCPPluginDetail/Header.tsx
  src/layout/AuthProvider/MarketAuth/ProfileSetupModal.tsx
Due: none

style: update community style
  package.json
  src/app/[variants]/(main)/community/components/CategoryContainer.tsx
  src/app/[variants]/(main)/community/components/CategoryMenu.tsx
  src/features/ModelSelect/index.tsx
  src/features/User/UserAvatar.tsx
  src/layout/AuthProvider/MarketAuth/ProfileSetupModal.tsx
  src/locales/default/common.ts
Due: none

test: update siteName to use BRANDING_NAME and streamline translation mocks
  src/server/metadata.test.ts
  src/server/translation.test.ts
Due: Server Layer

feat: add like action in community detail
  locales/zh-CN/discover.json
  src/app/(backend)/market/social/[[...segments]]/route.ts
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/locales/default/discover.ts
  src/services/_url.ts
  src/services/social.ts
Due: Services Layer

✨ feat: add like action in community detail (#10971)
  locales/zh-CN/discover.json
  src/app/(backend)/market/social/[[...segments]]/route.ts
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/locales/default/discover.ts
  src/services/_url.ts
  src/services/social.ts
Due: Services Layer

✨ feat: Add i18n UI locales and improve tool types (#10964)
  packages/database/src/schemas/user.ts
  packages/memory-user-memory/src/schemas/jsonSchemas.ts
  packages/types/src/discover/plugins.ts
  packages/types/src/message/common/tools.ts
  packages/types/src/tool/index.ts
  packages/types/src/tool/plugin.ts
  src/app/(backend)/webapi/plugin/gateway/route.ts
  src/helpers/toolEngineering/index.ts
  src/layout/GlobalProvider/AppTheme.tsx
  src/libs/getUILocaleAndResources.test.ts
  src/libs/getUILocaleAndResources.ts
  src/libs/redis/upstash.ts
  src/locales/ui/ar.ts
  src/locales/ui/bg-BG.ts
  src/locales/ui/de-DE.ts
  src/locales/ui/es-ES.ts
  src/locales/ui/fa-IR.ts
  src/locales/ui/fr-FR.ts
  src/locales/ui/it-IT.ts
  src/locales/ui/ja-JP.ts
  src/locales/ui/ko-KR.ts
  src/locales/ui/nl-NL.ts
  src/locales/ui/pl-PL.ts
  src/locales/ui/pt-BR.ts
  src/locales/ui/ru-RU.ts
  src/locales/ui/tr-TR.ts
  src/locales/ui/vi-VN.ts
  src/locales/ui/zh-TW.ts
  src/server/metadata.test.ts
  src/server/routers/lambda/klavis.ts
  src/server/services/mcp/index.ts
  src/server/services/pluginGateway/index.ts
  src/server/translation.test.ts
  src/store/tool/helpers.ts
  src/store/tool/selectors/tool.ts
Due: Store Layer, Server Layer, Libraries Layer

✨ feat(i18n): Translate plugin.ts locale to English
  src/locales/default/plugin.ts
Due: none

✨ fix(i18n): Translate plugin.ts locale to English (#10972)
  src/locales/default/plugin.ts
Due: none

refactor: extract common next config
  next.config.ts
  src/libs/next/config/define-config.ts
  src/libs/next/proxy/define-config.ts
  src/proxy.ts
Due: Libraries Layer

✨ feat: Add turbopack configuration support to CustomNextConfig
  src/libs/next/config/define-config.ts
Due: Libraries Layer

✨ feat: Integrate bcryptjs for password verification in BetterAuth
  package.json
  src/libs/better-auth/define-config.ts
Due: Libraries Layer

style: update token tag
  package.json
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
  src/features/ChatInput/ActionBar/Token/TokenTagForGroupChat.tsx
Due: none

fix: lint errors
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/server/translation.ts
Due: Server Layer

refactor: remove lobehub configuration from LLM settings
  packages/business/config/src/llm.ts
Due: none

refactor: remove some unused business code
  packages/business/config/src/index.ts
  packages/business/config/src/url.ts
  packages/business/const/src/url.ts
Due: none

style: update agent back style
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/AddTopicButon.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Header/AddTopicButon.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
  src/features/NavPanel/index.tsx
Due: none

revert
  packages/utils/src/toolManifest.ts
Due: none

chore: add workspaces and overrides to package.json
  package.json
Due: none

refactor: clean up imports in lobe-web-browsing executor
  src/store/tool/slices/builtin/executors/lobe-web-browsing.ts
Due: Store Layer

refactor: expose lobehub models
  packages/business/const/src/lobehub/models.ts
  packages/model-bank/package.json
  packages/model-bank/src/aiModels/lobehub.ts
Due: none

update
  package.json
Due: none

refactor: replace logging library with console.error in tRPC tools handler
  src/app/(backend)/trpc/tools/[trpc]/route.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
