Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

:lipstick: style: add table
  packages/database/src/models/usage.ts
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/server/routers/lambda/usage.ts
  src/services/usage.ts
  src/store/global/initialState.ts
Due: Store Layer, Services Layer, Server Layer

:recycle: refactor: remove cate tables
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

:construction: wip: cards
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
Due: none

:bug: fix: $ symbol
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
Due: none

:lipstick: style: add group by ui
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
Due: none

:construction: wip:
  packages/model-runtime/src/utils/streams/protocol.ts
  packages/types/src/message/base.ts
  src/libs/trpc/lambda/context.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/services/usage/client.ts
  src/services/usage/index.ts
  src/services/usage/server.ts
  src/services/usage/type.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/types/usage/index.ts
  src/types/usage/requestLog.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

:lip_stick: style: add cate charts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

♻️ refactor: move types to separate package (#8635)
  packages/types/package.json
  packages/types/src/locale.ts
  packages/types/src/next.ts
  packages/types/src/share.ts
  vitest.config.mts
Due: none

:construction: wip
  packages/database/src/core/dbForEdge.ts
  packages/model-runtime/src/utils/streams/protocol.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/server/modules/ModelRuntime/index.ts
  src/server/modules/ModelRuntime/usage.ts
  src/services/usage/server.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/types/usage/requestLog.ts
Due: Store Layer, Services Layer, Server Layer

:lipstick: style: add trends
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
Due: none

wip:
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
  src/app/[variants]/(main)/profile/usage/features/components/UsageBarChart.tsx
Due: none

:recycle: refactor: move types
  packages/database/src/models/usage.ts
  packages/types/src/usage/index.ts
  packages/types/src/usage/requestLog.ts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
  src/types/usage/index.ts
  src/types/usage/requestLog.ts
Due: none

:bug: fix: table headers
  src/app/[variants]/(main)/profile/usage/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/ActiveModels/index.tsx
Due: none

:recycle: refactor: rename imports
  src/server/modules/ModelRuntime/usage.ts
  src/server/services/usage/index.ts
Due: Server Layer

:rewind: revert:
  src/server/routers/lambda/index.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
Due: Store Layer, Server Layer

:recycle: refactor: change layout
  packages/database/src/models/usage.ts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
Due: none

:recycle: refactor: auto inc id as pk
  packages/database/src/schemas/usage.ts
  packages/database/src/utils/idGenerator.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/server/modules/ModelRuntime/usage.ts
  src/server/services/usage/index.ts
Due: Server Layer

fix: 修复单元测试失败的问题
  packages/types/src/files/index.ts
  src/server/services/file/__tests__/index.test.ts
Due: Server Layer

feat: 统一 files trpc message 为 enum
  packages/types/src/files/index.ts
  src/server/services/file/__tests__/index.test.ts
  src/server/services/file/index.ts
Due: Server Layer

:bug: fix: type err
  packages/database/src/models/usage.ts
  packages/types/src/usage/usageRecord.ts
  src/server/services/usage/index.ts
Due: Server Layer

:rewind: revert: revert change
  packages/database/src/core/dbForEdge.ts
  src/libs/trpc/lambda/context.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/services/usage/client.ts
  src/services/usage/index.ts
  src/services/usage/server.ts
  src/services/usage/type.ts
Due: Services Layer, Server Layer, Libraries Layer

:recycle: refactor: add mo where
  packages/database/src/models/usage.ts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
  src/server/routers/lambda/usage.ts
  src/services/usage.ts
  src/types/usage/requestLog.ts
Due: Services Layer, Server Layer

Revert "fix: when s3 files not exist , global files should delete" (#8661)
  packages/types/src/files/index.ts
  src/server/services/file/__tests__/index.test.ts
  src/server/services/file/index.ts
Due: Server Layer

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

chore: adjust Android TextInput Style
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
  apps/mobile/src/theme/seed.ts
Due: none

feat: 封装 TextInput 组件
  apps/mobile/src/components/TextInput/index.tsx
  apps/mobile/src/components/TextInput/style.ts
  apps/mobile/src/components/index.ts
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
Due: none

✨ feat: add NewAPI as a router provider for multi-model aggregation (#9041)
  .gitignore
  package.json
  packages/model-bank/package.json
  packages/model-bank/src/aiModels/index.ts
  packages/model-bank/src/aiModels/newapi.ts
  packages/model-runtime/src/RouterRuntime/createRuntime.test.ts
  packages/model-runtime/src/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/index.ts
  packages/model-runtime/src/newapi/index.test.ts
  packages/model-runtime/src/newapi/index.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/model-runtime/src/types/type.ts
  packages/types/src/user/settings/keyVaults.ts
  src/app/[variants]/(main)/settings/provider/(detail)/newapi/page.tsx
  src/config/modelProviders/index.ts
  src/config/modelProviders/newapi.ts
  src/locales/default/modelProvider.ts
Due: none

:bookmark: chore(release): v1.123.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  30/5e910e9838fdb8c95009ef07e063ca6d42700e
Due: none

✨ feat: 移除 Gemini 2.5 Flash 实验模型，更新模型列表
  packages/model-bank/src/aiModels/openrouter.ts
Due: none

Rename project from LobeChat to Imoogle AI across all files
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  README.zh-CN.md
  locales/en-US/common.json
  locales/en-US/discover.json
  locales/en-US/electron.json
  locales/en-US/file.json
  locales/en-US/image.json
  locales/en-US/market.json
  locales/en-US/oauth.json
  locales/en-US/plugin.json
  next.config.ts
  package.json
  src/app/[variants]/(auth)/next-auth/signin/AuthSignInBox.tsx
  src/tools/dalle/index.ts
Due: none

Refactor image generation tool and add Pollinations image provider
  README.md
  packages/model-runtime/src/pollinations/index.ts
  packages/model-runtime/src/runtimeMap.ts
  src/app/[variants]/(auth)/next-auth/signin/AuthSignInBox.tsx
  src/tools/image-generator/Render/GalleyGrid.tsx
  src/tools/image-generator/Render/Item/EditMode.tsx
  src/tools/image-generator/Render/Item/Error.tsx
  src/tools/image-generator/Render/Item/Image.tsx
  src/tools/image-generator/Render/Item/ImageFileItem.tsx
  src/tools/image-generator/Render/Item/index.tsx
  src/tools/image-generator/Render/ToolBar.tsx
  src/tools/image-generator/Render/index.tsx
  src/tools/image-generator/index.ts
  src/tools/index.ts
  src/tools/renders.ts
Due: none

Rebrand from LobeChat to Imoogle AI, remove GitHub/community links
  locales/en-US/common.json
  locales/en-US/discover.json
  packages/const/src/branding.ts
  packages/const/src/url.ts
  src/app/[variants]/(main)/_layout/Desktop/SideBar/BottomActions.tsx
  src/components/BrandWatermark/index.tsx
  src/features/Setting/Footer.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

Refactor image generation tool references and update manifests
  packages/model-runtime/src/index.ts
  src/features/PluginsUI/Render/BuiltinType/index.test.tsx
  src/services/__tests__/chat.test.ts
  src/store/tool/slices/builtin/selectors.test.ts
  src/store/tool/slices/builtin/selectors.ts
Due: Store Layer, Services Layer

💄 style: update i18n
  locales/ar/modelProvider.json
  locales/ar/providers.json
  locales/bg-BG/modelProvider.json
  locales/bg-BG/providers.json
  locales/de-DE/modelProvider.json
  locales/de-DE/providers.json
  locales/en-US/modelProvider.json
  locales/en-US/providers.json
  locales/es-ES/modelProvider.json
  locales/es-ES/providers.json
  locales/fa-IR/modelProvider.json
  locales/fa-IR/providers.json
  locales/fr-FR/modelProvider.json
  locales/fr-FR/providers.json
  locales/it-IT/modelProvider.json
  locales/it-IT/providers.json
  locales/ja-JP/modelProvider.json
  locales/ja-JP/providers.json
  locales/ko-KR/modelProvider.json
  locales/ko-KR/providers.json
  locales/nl-NL/modelProvider.json
  locales/nl-NL/providers.json
  locales/pl-PL/modelProvider.json
  locales/pl-PL/providers.json
  locales/pt-BR/modelProvider.json
  locales/pt-BR/providers.json
  locales/ru-RU/modelProvider.json
  locales/ru-RU/providers.json
  locales/tr-TR/modelProvider.json
  locales/tr-TR/providers.json
  locales/vi-VN/modelProvider.json
  locales/vi-VN/providers.json
  locales/zh-CN/modelProvider.json
  locales/zh-CN/providers.json
  locales/zh-TW/modelProvider.json
  locales/zh-TW/providers.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

Rebrand from LobeChat to Imoogle, remove GitHub-related links and functionality
  packages/const/src/guide.ts
  packages/const/src/url.ts
  src/app/[variants]/(main)/(mobile)/me/(home)/features/useCategory.tsx
  src/app/[variants]/(main)/chat/settings/features/SubmitAgentButton/SubmitAgentModal.tsx
  src/app/[variants]/(main)/discover/features/CreateButton/Inner.tsx
  src/app/[variants]/(main)/settings/llm/features/Footer.tsx
  src/app/[variants]/(main)/settings/provider/(list)/Footer.tsx
  src/features/DataImporter/Error.tsx
  src/features/FileViewer/NotSupport/index.tsx
  src/features/User/UserPanel/useMenu.tsx
  src/services/github.ts
Due: Services Layer
