Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

👷 build(deps): missing deps for model-runtime (#9782)
  packages/model-runtime/package.json
Due: none

:bookmark: chore(release): v1.139.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6c/53a5f026b2cc5374724f1b28a2a642f625d7d5
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

refactor to spa
  package.json
  src/app/[variants]/(main)/profile/(home)/[[...slugs]]/page.tsx
  src/app/[variants]/(main)/profile/@category/default.tsx
  src/app/[variants]/(main)/profile/@category/features/CategoryContent.tsx
  src/app/[variants]/(main)/profile/ProfileRouter.tsx
  src/app/[variants]/(main)/profile/[[...slugs]]/page.tsx
  src/app/[variants]/(main)/profile/apikey/page.tsx
  src/app/[variants]/(main)/profile/features/CategoryContent.tsx
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/app/[variants]/(main)/profile/layout.tsx
  src/app/[variants]/(main)/profile/routes/ApiKeyPage.tsx
  src/app/[variants]/(main)/profile/routes/ProfilePage.tsx
  src/app/[variants]/(main)/profile/routes/SecurityPage.tsx
  src/app/[variants]/(main)/profile/routes/StatsPage.tsx
  src/app/[variants]/(main)/profile/stats/page.tsx
Due: none

refactor
  src/app/[variants]/(main)/profile/ProfileRouter.tsx
  src/app/[variants]/(main)/profile/[[...slugs]]/page.tsx
  src/app/[variants]/(main)/profile/features/SSOProvidersList/index.tsx
  src/app/[variants]/(main)/profile/routes/ProfilePage.tsx
Due: none

refactor
  src/app/[variants]/(main)/profile/[[...slugs]]/page.tsx
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

fix: Use debug instead
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatMinimap/index.tsx
Due: none

feat: Persist state in URL
  src/features/FileManager/FileList/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/FileManager/FileList/index.tsx
Due: none

feat: Add knowlwdge base entry
  src/app/[variants]/(main)/_layout/Desktop/SideBar/TopActions.tsx
  src/locales/default/common.ts
Due: none

feat: Bump dayjs
  package.json
  src/app/[variants]/(main)/_layout/Desktop/SideBar/TopActions.tsx
Due: none

style: Mansory
  package.json
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
  src/features/FileManager/FileList/MasonryItemWrapper.tsx
  src/features/FileManager/FileList/ToolBar/ViewSwitcher.tsx
  src/features/FileManager/FileList/ToolBar/index.tsx
  src/features/FileManager/FileList/index.tsx
  src/locales/default/components.ts
Due: none

lint: Remove unesd file
  src/app/[variants]/(main)/files/(content)/@menu/features/KnowledgeBase/Item/index.tsx
  src/features/FileManager/FileList/ToolBar/ViewSwitcher.tsx
Due: none

Update index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatMinimap/index.tsx
Due: none

:bug:️ fix: add missing plaintext in doc
  docs/development/basic/comfyui-development.mdx
  docs/development/basic/comfyui-development.zh-CN.mdx
  docs/usage/providers/comfyui.mdx
  docs/usage/providers/comfyui.zh-CN.mdx
Due: none

:bug:️ remove unused tRPC endpoint according to https://github.com/lobehub/lobe-chat/pull/9043#pullrequestreview-3354507458
  src/server/routers/lambda/comfyui.ts
Due: Server Layer

✨ feat: add VERCEL_URL support for ComfyUI provider
  packages/model-runtime/src/providers/comfyui/index.ts
Due: none

feat: Skelton
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
  src/features/FileManager/FileList/MasonrySkeleton.tsx
  src/features/FileManager/FileList/index.tsx
  src/features/FileManager/Header/FilesSearchBar.tsx
  src/locales/default/file.ts
Due: none

💄 style: Show message author in minimap (#9797)
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatMinimap/index.tsx
  src/locales/default/chat.ts
Due: none

:bookmark: chore(release): v1.139.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a0/94d5c04c891bf2ee77f84ad75e6ada4377dfe4
Due: none

📝 docs: fix outdated server-side database documentation (#9806)
  docs/development/basic/work-with-server-side-database.mdx
  docs/development/basic/work-with-server-side-database.zh-CN.mdx
Due: none

fix dev hydration
  src/features/DevPanel/index.tsx
Due: none

🐛 fix: pass threadId to messages in sendMessageInServer
  packages/types/src/message/chat.ts
  src/server/routers/lambda/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
Due: Server Layer

✅ test: add comprehensive tests for addUserMessage
  src/store/chat/slices/message/action.test.ts
  tests/integration/README.md
  tests/integration/setup.ts
Due: Store Layer

fix thread fix
  src/store/chat/slices/message/action.ts
Due: Store Layer

move
  src/server/routers/lambda/__tests__/agent.test.ts
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/__tests__/aiModel.test.ts
  src/server/routers/lambda/__tests__/aiProvider.test.ts
  src/server/routers/lambda/__tests__/generation.test.ts
  src/server/routers/lambda/__tests__/generationBatch.test.ts
  src/server/routers/lambda/__tests__/generationTopic.test.ts
  src/server/routers/lambda/__tests__/integration/README.md
  src/server/routers/lambda/__tests__/integration/setup.ts
  src/server/routers/lambda/__tests__/user.test.ts
Due: Server Layer

baseline
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
Due: Server Layer

✅ test: fix and improve message integration tests
  docs/development/Integration-Testing.md
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
Due: Server Layer

refactor
  docs/development/tests/integration-testing.zh-CN.mdx
  packages/database/package.json
  packages/database/tests/test-utils.ts
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
Due: Server Layer

feat: 支持用户自定义排序合并数组项
  packages/const/src/utils/merge.ts
  packages/database/src/models/aiModel.ts
  packages/model-bank/src/types/aiModel.ts
  packages/utils/src/merge.test.ts
  packages/utils/src/merge.ts
Due: none

improve
  src/features/ElectronTitlebar/UpdateNotification.tsx
Due: none

🐛 fix: pass threadId to messages in sendMessageInServer (#9808)
  docs/development/tests/integration-testing.zh-CN.mdx
  packages/database/package.json
  packages/database/tests/test-utils.ts
  packages/types/src/message/chat.ts
  src/features/DevPanel/index.tsx
  src/features/ElectronTitlebar/UpdateNotification.tsx
  src/server/routers/lambda/__tests__/agent.test.ts
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/__tests__/aiModel.test.ts
  src/server/routers/lambda/__tests__/aiProvider.test.ts
  src/server/routers/lambda/__tests__/generation.test.ts
  src/server/routers/lambda/__tests__/generationBatch.test.ts
  src/server/routers/lambda/__tests__/generationTopic.test.ts
  src/server/routers/lambda/__tests__/integration/README.md
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/__tests__/integration/setup.ts
  src/server/routers/lambda/__tests__/user.test.ts
  src/server/routers/lambda/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/action.ts
Due: Store Layer, Server Layer

:bookmark: chore(release): v1.139.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  34/660559681e03f469dbba4e28db09fbda5afa68
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
