Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

♻️ refactor: extract MessageService for mutation + conditional query patterns
  src/server/routers/lambda/message.ts
  src/server/services/message/index.ts
Due: Server Layer

♻️ refactor: improve MessageService and createNewMessage
  packages/database/src/models/message.ts
  src/server/routers/lambda/message.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
Due: Server Layer

♻️ refactor: move createNewMessage from model to MessageService
  src/server/routers/lambda/message.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
Due: Server Layer

♻️ refactor: remove createNewMessage from MessageModel
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
Due: none

🌐 chore: translate non-English comments to English in utils/server (#10057)
  packages/utils/src/server/auth.ts
  packages/utils/src/server/geo.ts
  packages/utils/src/server/xor.ts
Due: none

fix
  src/services/message/index.ts
Due: Services Layer

♻️ refactor: enhance message router with service layer and comprehensive tests (#10056)
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/message.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
Due: Services Layer, Server Layer

:bookmark: chore(release): v2.0.0-next.30 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8e/c9491b48f3cb91017731aebf759fc2e379af55
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

feat: add oidc config for mobile
  .env.mobile
Due: none

fix: eas preview build env
  apps/mobile/eas.json
Due: none

feat: add trpc services
  apps/mobile/app/Query.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
Due: none

fix: build error
  apps/mobile/babel.config.js
  apps/mobile/package.json
Due: none

fix: trpc client problem
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/services/session.ts
  apps/mobile/src/store/session/index.ts
Due: none

feat: sidebar implementation (#8658)
  apps/mobile/.gitignore
  apps/mobile/.npmrc
  apps/mobile/app/(main)/chat/(components)/StopLoadingIcon/index.tsx
  apps/mobile/app/(main)/chat/(components)/StopLoadingIcon/style.ts
  apps/mobile/app/(main)/chat/index.tsx
  apps/mobile/eas.json
  apps/mobile/jest.config.json
  apps/mobile/locales/en-US/chat.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/GithubAvatar/__tests__/GitHubAvatar.test.tsx
  apps/mobile/src/components/ListItem/index.tsx
  apps/mobile/src/components/ListItem/style.ts
  apps/mobile/src/features/SideBar/components/Footer/index.tsx
  apps/mobile/src/features/SideBar/components/Footer/styles.ts
  apps/mobile/src/features/SideBar/components/Header/index.tsx
  apps/mobile/src/features/SideBar/components/Header/style.ts
  apps/mobile/src/features/SideBar/components/SessionList/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/SessionItem.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
  apps/mobile/src/features/SideBar/index.tsx
  apps/mobile/src/features/SideBar/style.ts
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/services/session.ts
  apps/mobile/src/store/session/index.ts
Due: none

chore(mobile): update chat input
  apps/mobile/app/(main)/chat/(components)/ChatInput/index.tsx
  apps/mobile/src/hooks/useChat.ts
  apps/mobile/src/hooks/useSendMessage.ts
  apps/mobile/src/store/chat/slices/aiChat/actions/generateAIChat.ts
Due: none

fix: detail style token and lineHeight Problem
  apps/mobile/app/(discover)/assistant/detail/components/Header/styles.ts
  apps/mobile/app/(discover)/assistant/detail/styles.ts
  apps/mobile/app/(main)/chat/setting/styles.ts
  apps/mobile/app/playground/components/theme-token/(components)/TokenTable/index.tsx
  apps/mobile/app/playground/styles.ts
  apps/mobile/src/components/Highlighter/demos/basic.tsx
  apps/mobile/src/components/Highlighter/demos/compact.tsx
  apps/mobile/src/components/Highlighter/demos/fullFeatured.tsx
  apps/mobile/src/components/Highlighter/style.ts
  apps/mobile/src/components/Toast/style.ts
  apps/mobile/src/components/Tooltip/style.ts
  apps/mobile/src/theme/algorithm/shared/genFontMapToken.ts
  apps/mobile/src/theme/algorithm/shared/genFontSizes.ts
  src/server/routers/mobile/chunk.ts
  src/server/routers/mobile/ragEval.ts
  src/server/routers/mobile/user.ts
Due: Server Layer

feat: migrate mobile trpc api
  apps/mobile/app/(auth)/login/index.tsx
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
  src/server/routers/mobile/__tests__/file.test.ts
  src/server/routers/mobile/__tests__/importer.test.ts
  src/server/routers/mobile/__tests__/message.test.ts
  src/server/routers/mobile/_template.ts
  src/server/routers/mobile/agent.test.ts
  src/server/routers/mobile/agent.ts
  src/server/routers/mobile/aiModel.test.ts
  src/server/routers/mobile/aiModel.ts
  src/server/routers/mobile/aiProvider.test.ts
  src/server/routers/mobile/aiProvider.ts
  src/server/routers/mobile/chunk.ts
  src/server/routers/mobile/config/__snapshots__/index.test.ts.snap
  src/server/routers/mobile/config/index.test.ts
  src/server/routers/mobile/config/index.ts
  src/server/routers/mobile/document.ts
  src/server/routers/mobile/exporter.ts
  src/server/routers/mobile/file.ts
  src/server/routers/mobile/generation.test.ts
  src/server/routers/mobile/generation.ts
  src/server/routers/mobile/generationBatch.test.ts
  src/server/routers/mobile/generationBatch.ts
  src/server/routers/mobile/generationTopic.test.ts
  src/server/routers/mobile/generationTopic.ts
  src/server/routers/mobile/image.ts
  src/server/routers/mobile/importer.ts
  src/server/routers/mobile/knowledgeBase.ts
  src/server/routers/mobile/market/index.ts
  src/server/routers/mobile/message.ts
  src/server/routers/mobile/plugin.ts
  src/server/routers/mobile/ragEval.ts
  src/server/routers/mobile/session.ts
  src/server/routers/mobile/sessionGroup.ts
  src/server/routers/mobile/thread.ts
  src/server/routers/mobile/topic.ts
  src/server/routers/mobile/user.test.ts
  src/server/routers/mobile/user.ts
Due: Server Layer

feat: ColorSwatch support Conic Gradient
  apps/mobile/app/(discover)/assistant/list/components/AgentCard/index.tsx
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/ColorSwatches/ConicGradientPatern.tsx
  apps/mobile/src/components/ColorSwatches/index.tsx
  apps/mobile/src/components/ColorSwatches/style.ts
  apps/mobile/src/const/common.ts
Due: none

fix: color token
  apps/mobile/src/theme/alias.ts
  apps/mobile/src/theme/color/custom.ts
  apps/mobile/src/theme/interface/alias.ts
  apps/mobile/src/theme/interface/maps/colors.ts
  apps/mobile/src/theme/interface/seeds.ts
  apps/mobile/src/theme/seed.ts
Due: none

fix(mobile): lock
  apps/mobile/pnpm-lock.yaml
Due: none

fix(mobile): i18n
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ConfigurationSection/index.tsx
  apps/mobile/locales/ar/setting.json
  apps/mobile/locales/bg-BG/setting.json
  apps/mobile/locales/de-DE/setting.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/es-ES/setting.json
  apps/mobile/locales/fa-IR/setting.json
  apps/mobile/locales/fr-FR/setting.json
  apps/mobile/locales/it-IT/setting.json
  apps/mobile/locales/ja-JP/setting.json
  apps/mobile/locales/ko-KR/setting.json
  apps/mobile/locales/nl-NL/setting.json
  apps/mobile/locales/pl-PL/setting.json
  apps/mobile/locales/pt-BR/setting.json
  apps/mobile/locales/ru-RU/setting.json
  apps/mobile/locales/tr-TR/setting.json
  apps/mobile/locales/vi-VN/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/locales/zh-TW/setting.json
  apps/mobile/src/i18n/default/setting.ts
Due: none

fix(mobile): provider icon color when change theme
  apps/mobile/app/(main)/setting/providers/(components)/ProviderCard/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ProviderInfoSection/index.tsx
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

feat: role edit & session context menu & expo 53 upgrade (#9024)
  apps/mobile/app.json
  apps/mobile/app/(main)/chat/(components)/WelcomeChatBubble/index.tsx
  apps/mobile/app/(main)/chat/setting/index.tsx
  apps/mobile/app/(main)/setting/(components)/SettingGroup/index.tsx
  apps/mobile/app/(main)/setting/account/index.tsx
  apps/mobile/app/(main)/setting/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/index.tsx
  apps/mobile/app/(main)/setting/providers/openai.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/locales/zh-CN/chat.json
  apps/mobile/package.json
  apps/mobile/plugins/withFbjniFix.js
  apps/mobile/plugins/withFbjniFix.ts
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/ListItem/style.ts
  apps/mobile/src/config/auth.ts
  apps/mobile/src/features/AgentRoleEdit/AgentRoleEditSection.tsx
  apps/mobile/src/features/AgentRoleEdit/sectionStyles.ts
  apps/mobile/src/features/SideBar/components/SessionList/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/components/SkeletonList.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList/index.tsx
  apps/mobile/src/hooks/useLocale.ts
  apps/mobile/src/i18n/ReadyGate.tsx
  apps/mobile/src/i18n/default/chat.ts
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/store/chat/slices/aiChat/actions/generateAIChat.ts
  apps/mobile/src/utils/fetch/fetchSSE.ts
Due: none

chore: 调整 ChatInput 样式
  apps/mobile/src/features/chat/ChatBubble/ErrorContent.tsx
  apps/mobile/src/features/chat/ChatInput/style.ts
Due: none
