Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: 添加 Qwen3 VL Flash 和 Qwen3 Coder 30B A3B 模型，更新定价和发布信息
  packages/model-bank/src/aiModels/qwen.ts
Due: none

fix: Update test snap
  packages/prompts/src/prompts/groupChat/__snapshots__/index.test.ts.snap
Due: none

fix: test error
  src/store/chat/slices/message/supervisor.test.ts
Due: Store Layer

💄 style: Add Claude Haiku 4.5 model (#9735)
  packages/const/src/models.ts
  packages/model-bank/src/aiModels/aihubmix.ts
  packages/model-bank/src/aiModels/anthropic.ts
  packages/model-bank/src/aiModels/cerebras.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/volcengine.ts
  packages/model-bank/src/aiModels/zhipu.ts
  packages/model-runtime/src/core/parameterResolver.ts
Due: none

fix: Unexpectly test fail
  src/components/DragUpload/useDragUpload.test.tsx
Due: none

wip add model detail
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/components/ModelSelect.tsx
  src/components/ModelSelect/ModelHoverCard.tsx
  src/components/ModelSelect/index.tsx
  src/features/ChatInput/ActionBar/Search/FunctionCallingModelSelect/index.tsx
  src/features/ModelSelect/index.tsx
  src/features/ModelSwitchPanel/index.tsx
  src/locales/default/components.ts
Due: none

update
  .gitignore
Due: none

:bookmark: chore(release): v1.137.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ea/44ef1b4c28d3bb172a15c2b286942640a45f2b
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

:bookmark: chore(release): v1.138.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  85/c4553821160ce712c22329e35dac844571f344
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
  src/features/ChatInput/InputEditor/index.tsx
  src/features/Conversation/Messages/index.tsx
Due: none

refactor the prompt engineering
  packages/prompts/CLAUDE.md
  packages/prompts/package.json
  packages/prompts/promptfoo/supervisor/productive/eval.yaml
  packages/prompts/promptfoo/supervisor/productive/prompt.ts
  packages/prompts/promptfoo/supervisor/productive/tests/basic-case.ts
  packages/prompts/promptfoo/supervisor/productive/tests/role.ts
  packages/prompts/promptfoo/supervisor/productive/tools.json
  packages/prompts/src/contexts/index.ts
  packages/prompts/src/contexts/supervisor/index.ts
  packages/prompts/src/contexts/supervisor/makeDecision.ts
  packages/prompts/src/contexts/supervisor/tools.ts
  packages/prompts/src/index.ts
  packages/types/src/aiChat.ts
  src/server/routers/lambda/aiChat.ts
  src/store/chat/slices/message/supervisor.test.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer, Server Layer

feat: add BottomSheet and Select
  apps/mobile/src/app/(main)/chat/index.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/index.tsx
  apps/mobile/src/app/playground/.data/import.ts
  apps/mobile/src/app/playground/.data/index.json
  apps/mobile/src/components/BottomSheet/BottomSheet.tsx
  apps/mobile/src/components/BottomSheet/demos/basic.tsx
  apps/mobile/src/components/BottomSheet/demos/content.tsx
  apps/mobile/src/components/BottomSheet/demos/index.tsx
  apps/mobile/src/components/BottomSheet/demos/noCloseButton.tsx
  apps/mobile/src/components/BottomSheet/demos/noPanToClose.tsx
  apps/mobile/src/components/BottomSheet/demos/snapPoints.tsx
  apps/mobile/src/components/BottomSheet/index.md
  apps/mobile/src/components/BottomSheet/index.ts
  apps/mobile/src/components/BottomSheet/style.ts
  apps/mobile/src/components/BottomSheet/type.ts
  apps/mobile/src/components/Input/Input.tsx
  apps/mobile/src/components/Input/TextArea/index.tsx
  apps/mobile/src/components/Select/Select.tsx
  apps/mobile/src/components/Select/SelectItem.tsx
  apps/mobile/src/components/Select/demos/basic.tsx
  apps/mobile/src/components/Select/demos/custom.tsx
  apps/mobile/src/components/Select/demos/disabled.tsx
  apps/mobile/src/components/Select/demos/index.tsx
  apps/mobile/src/components/Select/demos/sizes.tsx
  apps/mobile/src/components/Select/demos/variants.tsx
  apps/mobile/src/components/Select/index.md
  apps/mobile/src/components/Select/index.ts
  apps/mobile/src/components/Select/style.ts
  apps/mobile/src/components/Select/type.ts
  apps/mobile/src/components/index.ts
  apps/mobile/src/features/SideBar/components/Footer/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/index.tsx
  apps/mobile/src/features/chat/ChatInput/index.tsx
  apps/mobile/src/features/discover/assistant/components/AgentCard/index.tsx
Due: none

docs: 添加 Feishu 应用的环境变量配置说明
  docs/self-hosting/environment-variables/auth.mdx
Due: none

feat: 添加 Feishu 作为新的 OAuth 认证提供者，并更新相关配置
  src/envs/auth.ts
  src/libs/next-auth/sso-providers/feishu.ts
  src/libs/next-auth/sso-providers/index.ts
Due: Libraries Layer

refactor: 移除 Feishu 相关的环境变量配置，对齐 auth.js 环境变量规范
  src/envs/auth.ts
  src/libs/next-auth/sso-providers/feishu.ts
Due: Libraries Layer

improve docs
  docs/self-hosting/environment-variables/auth.mdx
Due: none

add feishu
  src/libs/next-auth/sso-providers/feishu.ts
Due: Libraries Layer

style: update chat style
  apps/mobile/src/app/(main)/chat/index.tsx
  apps/mobile/src/app/(main)/setting/account/index.tsx
  apps/mobile/src/app/(main)/setting/developer/features/CustomServer/index.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/Checker.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ModelCard.tsx
  apps/mobile/src/app/(main)/setting/providers/features/ProviderCard.tsx
  apps/mobile/src/app/auth/login/index.tsx
  apps/mobile/src/app/auth/login/selfhost/index.tsx
  apps/mobile/src/app/discover/assistant/[...slugs]/index.tsx
  apps/mobile/src/components/Button/Button.tsx
  apps/mobile/src/components/Button/style.ts
  apps/mobile/src/components/Cell/Cell.tsx
  apps/mobile/src/components/Cell/type.ts
  apps/mobile/src/components/Segmented/style.ts
  apps/mobile/src/components/Select/Select.tsx
  apps/mobile/src/features/AgentRoleEdit/AgentRoleEditSection.tsx
  apps/mobile/src/features/SideBar/style.ts
  apps/mobile/src/features/TopicDrawer/components/TopicItem.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicItem/style.ts
  apps/mobile/src/features/TopicDrawer/components/TopicList.tsx
  apps/mobile/src/features/TopicDrawer/components/TopicList/style.ts
  apps/mobile/src/features/TopicDrawer/index.tsx
  apps/mobile/src/features/TopicDrawer/style.ts
  apps/mobile/src/features/chat/ChatBubble/Welcome.tsx
  apps/mobile/src/features/chat/ChatBubble/style.ts
Due: none

🔨 chore: support Feishu OAuth Provider (#9745)
  docs/self-hosting/environment-variables/auth.mdx
  src/libs/next-auth/sso-providers/feishu.ts
  src/libs/next-auth/sso-providers/index.ts
Due: Libraries Layer

🐛 fix: Automatic topic creation switch does not work (#9693)
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-bank/src/aiModels/vercelaigateway.ts
  packages/types/src/aiChat.ts
  src/server/routers/lambda/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer, Server Layer

feat: support ios 26 icon
  apps/mobile/app.config.ts
  apps/mobile/assets/images/ios-dark.png
  apps/mobile/assets/images/ios-light.png
  apps/mobile/assets/images/ios-tinted.png
  apps/mobile/assets/images/ios.icon/Assets/Group 72.png
  apps/mobile/assets/images/ios.icon/Assets/dLogo.png
  apps/mobile/assets/images/ios.icon/icon.json
Due: none

:bookmark: chore(release): v1.138.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  77/bc2614a49efdd17bfa545699305c76bc2d80ea
Due: none

Update Dockerfile.database
  Dockerfile.database
Due: none

add feishu
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/AgentWelcome/AddButton.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/InboxWelcome/AgentsSuggest.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/InboxWelcome/QuestionSuggest.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/OpeningQuestions.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/index.tsx
  src/locales/default/welcome.ts
Due: none

refactor
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/AgentWelcome/OpeningQuestions.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/WelcomeMessage.tsx
Due: none

rename
  packages/const/src/version.ts
Due: none

:bookmark: chore(release): v1.138.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f2/230ae5364599d9a9692e4cac858ef941c1f55d
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
