Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

Update package.json
  package.json
Due: none

✨ feat: 添加 Qwen3 VL 模型，扩展聊天模型库并更新 Vercel AI Gateway 模型定价
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/vercelaigateway.ts
Due: none

add
  src/store/serverConfig/action.test.ts
  src/store/serverConfig/selectors.test.ts
Due: Store Layer

baseline
  .cursor/rules/testing-guide/zustand-store-action-test.mdc
  src/store/test-coverage.md
Due: Store Layer

✅ test(store): add tests for discover store plugin and mcp slices
  src/store/discover/slices/mcp/action.test.ts
  src/store/discover/slices/plugin/action.test.ts
  src/store/test-coverage.md
Due: Store Layer

fix(mobile): eas build
  apps/mobile/patches/@expo__fingerprint.patch
  apps/mobile/pnpm-lock.yaml
  apps/mobile/pnpm-workspace.yaml
Due: none

📝 docs(testing): add SWR hooks testing guide and subagent workflow
  .cursor/rules/testing-guide/zustand-store-action-test.mdc
  src/store/test-coverage.md
Due: Store Layer

feat: change the item show place
  src/app/[variants]/(main)/discover/(detail)/assistant/[...slugs]/features/Header.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/[...slugs]/page.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
  src/server/services/discover/index.ts
Due: Server Layer

♻️ refactor(test): fix SWR mock strategy to properly test fetcher
  .cursor/rules/testing-guide/zustand-store-action-test.mdc
  src/store/discover/slices/mcp/action.test.ts
  src/store/discover/slices/plugin/action.test.ts
Due: Store Layer

feat: add market source switch components
  src/app/[variants]/(main)/discover/(list)/assistant/features/MarketSourceSwitch.tsx
Due: none

🐛 fix(test): correct SWR mock strategy to match project standards
  .cursor/rules/testing-guide/zustand-store-action-test.mdc
  src/store/discover/slices/mcp/action.test.ts
  src/store/discover/slices/plugin/action.test.ts
Due: Store Layer

feat: support language display names (#9718)
  .gitignore
  .npmrc
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/(main)/setting/locale/index.tsx
  apps/mobile/src/i18n/resource.ts
Due: none

feat: add 'force-dynamic' in discord/detail page
  packages/const/src/url.ts
  src/app/[variants]/(main)/discover/(detail)/assistant/[...slugs]/page.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
Due: none

chore(mobile): refactor mobile router
  src/app/(backend)/trpc/mobile/[trpc]/route.ts
  src/server/routers/mobile/index.ts
Due: Server Layer

chore: format tsconfig.json
  tsconfig.json
Due: none

✅ test(store): add comprehensive tests for high priority action files
  src/store/file/slices/fileManager/action.test.ts
  src/store/test-coverage.md
  src/store/tool/slices/mcpStore/action.test.ts
Due: Store Layer

feat: add icons for developer page
  apps/mobile/locales/ar/setting.json
  apps/mobile/locales/bg-BG/setting.json
  apps/mobile/locales/de-DE/setting.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/es-ES/setting.json
  apps/mobile/locales/fa-IR/setting.json
  apps/mobile/locales/fr-FR/setting.json
  apps/mobile/locales/it-IT/setting.json
  apps/mobile/locales/ja-JP/setting.json
  apps/mobile/locales/ko-KR/setting.json
  apps/mobile/locales/nl-NL/setting.json
  apps/mobile/locales/pl-PL/setting.json
  apps/mobile/locales/pt-BR/setting.json
  apps/mobile/locales/ru-RU/setting.json
  apps/mobile/locales/tr-TR/setting.json
  apps/mobile/locales/vi-VN/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/locales/zh-TW/setting.json
  apps/mobile/src/app/(main)/setting/developer/index.tsx
  apps/mobile/src/i18n/default/setting.ts
Due: none

chore: refactor provider form page with Form component
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/index.tsx
Due: none

style: update Switch
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ModelCard.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ProviderInfoSection/index.tsx
  apps/mobile/src/components/InstantSwitch/InstantSwitch.tsx
  apps/mobile/src/components/InstantSwitch/demos/basic.tsx
  apps/mobile/src/components/InstantSwitch/demos/sizes.tsx
  apps/mobile/src/components/InstantSwitch/demos/states.tsx
  apps/mobile/src/components/InstantSwitch/style.ts
  apps/mobile/src/components/InstantSwitch/type.ts
  apps/mobile/src/components/ListItem/demos/advanced.tsx
  apps/mobile/src/components/Switch/Switch.tsx
  apps/mobile/src/components/Switch/demos/basic.tsx
  apps/mobile/src/components/Switch/type.ts
  apps/mobile/src/components/Toast/demos/advanced.tsx
  apps/mobile/src/features/SettingItem/index.tsx
Due: none

feat: add TabView
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ProviderInfoSection/index.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/index.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/styles.ts
  apps/mobile/src/app/playground/components/ComponentPlayground.tsx
  apps/mobile/src/app/playground/index.tsx
  apps/mobile/src/app/playground/styles.ts
  apps/mobile/src/components/Cell/Cell.tsx
  apps/mobile/src/components/PageContainer/PageContainer.tsx
  apps/mobile/src/components/PageContainer/style.ts
  apps/mobile/src/components/PageContainer/type.ts
  apps/mobile/src/components/TabView/TabView.tsx
  apps/mobile/src/components/TabView/index.ts
  apps/mobile/src/components/TabView/type.ts
  apps/mobile/src/components/index.ts
Due: none

✅ test(store): complete 100% action file coverage with 160 new tests
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/discover/slices/assistant/action.test.ts
  src/store/discover/slices/model/action.test.ts
  src/store/discover/slices/provider/action.test.ts
  src/store/file/slices/chunk/action.test.ts
  src/store/file/slices/upload/action.test.ts
  src/store/knowledgeBase/slices/content/action.test.ts
  src/store/knowledgeBase/slices/crud/action.test.ts
  src/store/test-coverage.md
Due: Store Layer

fix test
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
Due: Store Layer

feat(mobile): update mobile router and dependencies
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/services/_auth/trpc.ts
  src/server/routers/mobile/index.ts
Due: Server Layer

chore(mobile): simplify mobile router
  src/server/routers/mobile/index.ts
Due: Server Layer

style: use different icon in dev mode
  public/favicon-32x32-dev.ico
  public/favicon-dev.ico
  src/app/[variants]/metadata.ts
Due: none

✨ feat(database): user memory db schemas
  .vscode/settings.json
  packages/database/src/schemas/userMemories.ts
Due: none

feat: migrations
  docs/development/database-schema.dbml
  packages/database/migrations/0037_add_user_memory.sql
  packages/database/migrations/meta/0037_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

feat(tools): implemented basic memory tools
  .vscode/settings.json
  package.json
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory.ts
  packages/types/src/index.ts
  packages/types/src/userMemory/index.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/memory.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/memory.ts
  src/tools/index.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
  src/types/userMemory.ts
Due: Store Layer, Services Layer, Server Layer

fix: id
  packages/database/migrations/0037_add_user_memory.sql
  packages/database/migrations/meta/0037_snapshot.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/userMemories.ts
Due: none

fix: syntax id
  packages/database/migrations/0037_add_user_memory.sql
  packages/database/src/core/migrations.json
  packages/database/src/schemas/userMemories.ts
Due: none

style: update Input
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/(main)/setting/providers/[id]/features/Content.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ProviderInfoSection.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ProviderInfoSection/style.ts
  apps/mobile/src/app/playground/components/ComponentPlayground.tsx
  apps/mobile/src/components/Input/Input.tsx
  apps/mobile/src/components/Input/TextArea/index.tsx
  apps/mobile/src/components/Input/TextArea/style.ts
  apps/mobile/src/components/Input/demos/basic.tsx
  apps/mobile/src/components/Input/demos/compound.tsx
  apps/mobile/src/components/Input/demos/password.tsx
  apps/mobile/src/components/Input/demos/prefix.tsx
  apps/mobile/src/components/Input/demos/search.tsx
  apps/mobile/src/components/Input/demos/sizes.tsx
  apps/mobile/src/components/Input/demos/suffix.tsx
  apps/mobile/src/components/Input/demos/textarea.tsx
  apps/mobile/src/components/Input/demos/variant.tsx
  apps/mobile/src/components/Input/index.ts
  apps/mobile/src/components/Input/style.ts
  apps/mobile/src/components/Input/type.ts
  apps/mobile/src/components/Segmented/style.ts
  apps/mobile/src/components/TabView/TabView.tsx
  apps/mobile/src/components/index.ts
Due: none

🔨 style: Use different favicon.ico in dev mode (#9723)
  public/favicon-32x32-dev.ico
  public/favicon-dev.ico
  src/app/[variants]/metadata.ts
Due: none

:bookmark: chore(release): v1.137.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  62/66a85cf1c5532c82e1ca236b798994f81ec636
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix test
  src/store/file/slices/chat/action.test.ts
  src/store/file/slices/tts/action.test.ts
  src/store/tool/slices/oldStore/action.ts
Due: Store Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
