Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: fixed the category link error
  src/features/MCPPluginDetail/Header.tsx
Due: none

🐛 fix: fixed the category link error (#10852)
  src/features/MCPPluginDetail/Header.tsx
Due: none

opti: Narrow down the tool scope
  src/tools/page-agent/index.ts
  src/tools/page-agent/systemRole.ts
Due: none

fix: sloved the tools & header goback
  src/app/[variants]/(main)/community/(detail)/_layout/Header.tsx
  src/features/ChatInput/ActionBar/Tools/KlavisServerItem.tsx
  src/features/ChatInput/ActionBar/components/CheckbokWithLoading.tsx
  src/features/MCPPluginDetail/Nav.tsx
Due: none

🐛 fix: sloved the tools & header goback (#10853)
  src/app/[variants]/(main)/community/(detail)/_layout/Header.tsx
  src/features/ChatInput/ActionBar/Tools/KlavisServerItem.tsx
  src/features/ChatInput/ActionBar/components/CheckbokWithLoading.tsx
  src/features/MCPPluginDetail/Nav.tsx
Due: none

fix total tool use
  src/server/routers/lambda/__tests__/aiAgent.getTaskStatus.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

fix
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/Intervention/ApprovalActions.tsx
Due: none

finish all task detail UI
  src/features/Conversation/Messages/Task/TaskDetailPanel/CompletedState.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/InitializingState.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/ProcessingState.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/StatusContent.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/index.tsx
  src/features/Conversation/Messages/Task/index.tsx
  src/locales/default/chat.ts
  src/server/routers/lambda/__tests__/aiAgent.getTaskStatus.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
Due: Store Layer, Server Layer

fix: Update translation
  locales/ar/common.json
  locales/ar/tool.json
  locales/bg-BG/common.json
  locales/bg-BG/tool.json
  locales/de-DE/common.json
  locales/de-DE/tool.json
  locales/en-US/knowledgeBase.json
  locales/en-US/tool.json
  locales/es-ES/common.json
  locales/es-ES/tool.json
  locales/fa-IR/common.json
  locales/fa-IR/tool.json
  locales/fr-FR/common.json
  locales/fr-FR/tool.json
  locales/it-IT/common.json
  locales/it-IT/tool.json
  locales/ja-JP/common.json
  locales/ja-JP/tool.json
  locales/ko-KR/common.json
  locales/ko-KR/tool.json
  locales/nl-NL/common.json
  locales/nl-NL/tool.json
  locales/pl-PL/common.json
  locales/pl-PL/tool.json
  locales/pt-BR/common.json
  locales/pt-BR/tool.json
  locales/ru-RU/common.json
  locales/ru-RU/tool.json
  locales/tr-TR/common.json
  locales/tr-TR/tool.json
  locales/vi-VN/common.json
  locales/vi-VN/tool.json
  locales/zh-CN/tool.json
  locales/zh-TW/common.json
  locales/zh-TW/tool.json
  src/features/ResourceManager/components/UploadDock/index.tsx
Due: none

fix final content
  src/features/Conversation/Messages/Task/TaskDetailPanel/ProcessingState.tsx
  src/server/routers/lambda/__tests__/aiAgent.getTaskStatus.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

lint: Add comment
  src/features/CommandMenu/SearchResults.tsx
Due: none

fix: Document title
  src/app/[variants]/(main)/home/index.tsx
  src/features/PageEditor/PageEditor.tsx
  src/features/PageEditor/PageTitle/index.tsx
  src/features/PageEditor/store/selectors.ts
Due: none

chore: add index for ai provider and model
  docs/development/database-schema.dbml
  packages/database/migrations/0068_rename_occupation_add_ai_infra_indexes.sql
  packages/database/migrations/0068_replace_occupation_with_interests.sql
  packages/database/migrations/meta/0068_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/repositories/aiInfra/index.ts
  packages/database/src/schemas/aiInfra.ts
Due: none

support skip with exec task
  packages/builtin-tool-group-management/src/executor.ts
  packages/builtin-tool-group-management/src/manifest.ts
  packages/builtin-tool-group-management/src/types.ts
  packages/types/src/tool/builtin.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
Due: Store Layer

feat: Search Page
  packages/database/src/repositories/search/index.test.ts
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/useCommandMenu.ts
Due: none

perf: SingletonMessageActions
  src/app/[variants]/(main)/image/features/GenerationFeed/GenerationItem/ActionButtons.tsx
  src/app/[variants]/(main)/image/features/GenerationFeed/GenerationItem/index.tsx
  src/const/messageActionPortal.ts
  src/features/Conversation/ChatList/index.tsx
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/Contexts/MessageActionProvider.tsx
  src/features/Conversation/Messages/Contexts/message-action-context.ts
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/features/Portal/GroupThread/Body/ThreadChatList.tsx
Due: none

chore: merge migration scripts
  packages/database/migrations/0063_add_threads_metadata_and_columns.sql
  packages/database/migrations/0063_add_user_occupation_and_onboarding.sql
  packages/database/migrations/0064_add_memory_settings.sql
  packages/database/migrations/0065_gigantic_firedrake.sql
  packages/database/migrations/0066_agents_plugins_drop_default.sql
  packages/database/migrations/0067_dapper_alex_wilder.sql
  packages/database/migrations/0068_rename_occupation_add_ai_infra_indexes.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/0064_snapshot.json
  packages/database/migrations/meta/0065_snapshot.json
  packages/database/migrations/meta/0066_snapshot.json
  packages/database/migrations/meta/0067_snapshot.json
  packages/database/migrations/meta/0068_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

fix: Update key generation for Group component
  src/features/Conversation/Messages/AssistantGroup/components/Group.tsx
Due: none

feat: model dropdown displayName tooltip
  src/components/ModelSelect/index.tsx
Due: none

✨ feat: support unified dropdownPlacement for ActionBar
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/features/ChatInput/ActionBar/Model/index.tsx
  src/features/ChatInput/ActionBar/components/Action.tsx
  src/features/ChatInput/ActionBar/context.ts
  src/features/ChatInput/ActionBar/index.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/features/ModelSwitchPanel/index.tsx
Due: none

⚡ perf: skip httpBatch for getUserState and getGlobalConfig
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

✨ feat: enhance batching control for initial load procedures
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

show working mode
  packages/types/src/agentGroup/index.ts
  src/features/Conversation/Messages/Task/TaskDetailPanel/ProcessingState.tsx
  src/locales/default/chat.ts
  src/server/routers/lambda/__tests__/aiAgent.getTaskStatus.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer

update agent coding rule
  .cursor/rules/db-migrations.mdc
  .cursor/rules/drizzle-schema-style-guide.mdc
  .cursor/rules/group-chat.mdc
  .cursor/rules/hotkey.mdc
  .cursor/rules/i18n.mdc
  .cursor/rules/project-introduce.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/react-component.mdc
  .cursor/rules/react.mdc
  .cursor/rules/recent-data-usage.mdc
  .cursor/rules/rules-index.mdc
  .cursor/rules/testing-guide/agent-runtime-e2e.mdc
  .cursor/rules/testing-guide/zustand-store-action-test.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/zustand-action-patterns.mdc
  .cursor/rules/zustand-slice-organization.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  packages/memory-user-memory/.gitignore
Due: none

🔨 chore: update agent coding rule (#10856)
  .cursor/rules/db-migrations.mdc
  .cursor/rules/drizzle-schema-style-guide.mdc
  .cursor/rules/group-chat.mdc
  .cursor/rules/hotkey.mdc
  .cursor/rules/i18n.mdc
  .cursor/rules/project-introduce.mdc
  .cursor/rules/project-structure.mdc
  .cursor/rules/react-component.mdc
  .cursor/rules/react.mdc
  .cursor/rules/recent-data-usage.mdc
  .cursor/rules/rules-index.mdc
  .cursor/rules/testing-guide/agent-runtime-e2e.mdc
  .cursor/rules/testing-guide/zustand-store-action-test.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/zustand-action-patterns.mdc
  .cursor/rules/zustand-slice-organization.mdc
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  packages/memory-user-memory/.gitignore
Due: none

chore update config
  .gitignore
  .husky/pre-commit
  .i18nrc.js
  docs/development/state-management/state-management-selectors.mdx
  glossary.json
  vitest.config.mts
Due: none

🔨 chore: update config (#10857)
  .gitignore
  .husky/pre-commit
  .i18nrc.js
  docs/development/state-management/state-management-selectors.mdx
  glossary.json
  vitest.config.mts
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

update data schema
  docs/development/database-schema.dbml
  package.json
  packages/database/migrations/0063_add_columns_for_several_tables.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/_helpers.ts
  packages/database/src/schemas/agent.ts
  packages/database/src/schemas/aiInfra.ts
  packages/database/src/schemas/message.ts
  packages/database/src/schemas/topic.ts
  packages/database/src/schemas/user.ts
  packages/database/src/schemas/userMemories.ts
Due: none

update data schema
  packages/types/src/topic/thread.ts
  packages/types/src/user/index.ts
  packages/types/src/user/onboarding.ts
Due: none

♻️ refactor: refactor database schema (#10860)
  docs/development/database-schema.dbml
  package.json
  packages/database/migrations/0063_add_columns_for_several_tables.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/_helpers.ts
  packages/database/src/schemas/agent.ts
  packages/database/src/schemas/aiInfra.ts
  packages/database/src/schemas/message.ts
  packages/database/src/schemas/topic.ts
  packages/database/src/schemas/user.ts
  packages/database/src/schemas/userMemories.ts
  packages/types/src/topic/thread.ts
  packages/types/src/user/index.ts
  packages/types/src/user/onboarding.ts
Due: none

🔧 chore: update basic config
  e2e/src/features/routes/core-routes.feature
  knip.ts
  next.config.ts
  package.json
  patches/@swagger-api__apidom-reference.patch
  public/avatars/agent-builder.png
  public/avatars/agent-default.png
  public/avatars/doc-copilot.png
  public/avatars/lobe-ai.png
  public/images/mode_lite_dark.webp
  public/images/mode_lite_light.webp
  public/images/mode_pro_dark.webp
  public/images/mode_pro_light.webp
  tsconfig.json
Due: none

:bookmark: chore(release): v2.0.0-next.174 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  93/d2bb995f89fd81b0ee1a7b83ae247599971d9a
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  README.md
  README.zh-CN.md
  changelog/v1.json
Due: none

♻️ refactor: refactor implement for desktop
  packages/database/package.json
  packages/database/src/core/db-adaptor.ts
  packages/database/src/core/electron.ts
  packages/desktop-bridge/package.json
  packages/desktop-bridge/src/index.ts
  packages/desktop-bridge/src/routeVariants.ts
  packages/electron-client-ipc/src/events/index.ts
  packages/electron-client-ipc/src/events/localSystem.ts
  packages/electron-client-ipc/src/events/menu.ts
  packages/electron-client-ipc/src/events/navigation.ts
  packages/electron-client-ipc/src/events/notification.ts
  packages/electron-client-ipc/src/events/protocol.ts
  packages/electron-client-ipc/src/events/remoteServer.ts
  packages/electron-client-ipc/src/events/settings.ts
  packages/electron-client-ipc/src/events/shortcut.ts
  packages/electron-client-ipc/src/events/system.ts
  packages/electron-client-ipc/src/events/tray.ts
  packages/electron-client-ipc/src/events/update.ts
  packages/electron-client-ipc/src/events/upload.ts
  packages/electron-client-ipc/src/events/windows.ts
  packages/electron-client-ipc/src/ipc.ts
  packages/electron-client-ipc/src/streamInvoke.ts
  packages/electron-client-ipc/src/types/dataSync.ts
  packages/electron-client-ipc/src/types/dispatch.ts
  packages/electron-client-ipc/src/types/index.ts
  packages/electron-client-ipc/src/types/proxyTRPCRequest.ts
  packages/electron-server-ipc/src/events/database.ts
  packages/electron-server-ipc/src/events/file.ts
  packages/electron-server-ipc/src/events/index.ts
  packages/electron-server-ipc/src/events/storagePath.ts
  packages/electron-server-ipc/src/index.ts
  packages/file-loaders/src/utils/parser-utils.ts
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
  src/styles/global.ts
  src/styles/react-diff-view.dark.css
  src/utils/electron/autoOidc.ts
  src/utils/electron/desktopRemoteRPCFetch.ts
Due: Utils Layer
