Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

✨ feat: add collection files using code interpreter (#10811)
  packages/conversation-flow/src/transformation/FlatListBuilder.ts
  packages/conversation-flow/src/transformation/MessageTransformer.ts
  packages/database/src/models/message.ts
  packages/types/src/message/ui/chat.ts
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/server/routers/lambda/message.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/tools/code-interpreter/systemRole.ts
Due: Store Layer, Services Layer, Server Layer

feat: Implement desktop auto OIDC handling on first open and update onboarding flow
  src/app/[variants]/(main)/_layout/DesktopAutoOidcOnFirstOpen.tsx
  src/features/DesktopOnboarding/screens/Screen5.tsx
  src/utils/electron/autoOidc.ts
Due: Utils Layer

refactor agent builder
  package.json
  packages/builtin-agents/package.json
  packages/builtin-agents/src/agents/agent-builder/index.ts
  packages/builtin-agents/src/agents/group-supervisor/index.ts
  packages/builtin-agents/src/agents/inbox/index.ts
  packages/builtin-tool-agent-builder/package.json
  packages/builtin-tool-agent-builder/src/ExecutionRuntime/index.ts
  packages/builtin-tool-agent-builder/src/client/Intervention/InstallPlugin.tsx
  packages/builtin-tool-agent-builder/src/client/Intervention/index.ts
  packages/builtin-tool-agent-builder/src/client/Render/GetAvailableModels.tsx
  packages/builtin-tool-agent-builder/src/client/Render/InstallPlugin.tsx
  packages/builtin-tool-agent-builder/src/client/Render/SearchMarketTools.tsx
  packages/builtin-tool-agent-builder/src/client/Render/UpdateConfig.tsx
  packages/builtin-tool-agent-builder/src/client/Render/UpdatePrompt.tsx
  packages/builtin-tool-agent-builder/src/client/Render/components/ConfigCard.tsx
  packages/builtin-tool-agent-builder/src/client/Render/components/ConfigDiffView.tsx
  packages/builtin-tool-agent-builder/src/client/Render/index.ts
  packages/builtin-tool-agent-builder/src/client/index.ts
  packages/builtin-tool-agent-builder/src/index.ts
  packages/builtin-tool-agent-builder/src/manifest.ts
  packages/builtin-tool-agent-builder/src/systemRole.ts
  packages/builtin-tool-agent-builder/src/types.ts
  src/auth.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/const.ts
  src/tools/executionRuntimes.ts
  src/tools/identifiers.ts
  src/tools/index.ts
  src/tools/interventions.ts
  src/tools/renders.ts
Due: Store Layer, Services Layer

fix inbox agent topic
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/topic.ts
  packages/database/src/repositories/agentMigration/__tests__/agentMigrationRepo.test.ts
  packages/database/src/repositories/agentMigration/index.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

support builtin tool structures
  packages/builtin-tool-gtd/package.json
  packages/builtin-tool-gtd/src/client/Intervention/AddTodo.tsx
  packages/builtin-tool-gtd/src/client/Intervention/ClearTodos.tsx
  packages/builtin-tool-gtd/src/client/Intervention/index.ts
  packages/builtin-tool-gtd/src/client/Render/AddTodo.tsx
  packages/builtin-tool-gtd/src/client/Render/ClearTodos.tsx
  packages/builtin-tool-gtd/src/client/Render/CompleteTodo.tsx
  packages/builtin-tool-gtd/src/client/Render/ListTodos.tsx
  packages/builtin-tool-gtd/src/client/Render/TodoList.tsx
  packages/builtin-tool-gtd/src/client/Render/index.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList.tsx
  packages/builtin-tool-gtd/src/client/components/index.ts
  packages/builtin-tool-gtd/src/client/index.ts
  packages/builtin-tool-gtd/src/manifest.ts
  src/features/Conversation/hooks/useAgentMeta.test.ts
  src/features/Conversation/hooks/useAgentMeta.ts
  src/locales/default/plugin.ts
  src/locales/default/tool.ts
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
  src/tools/interventions.ts
Due: Server Layer

fix(desktop): desktop setting crash
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  src/app/[variants]/(main)/settings/profile/Client.tsx
  src/app/[variants]/(main)/settings/profile/features/SSOProvidersList/index.tsx
  vitest.config.mts
Due: none

feat: Add setup actions for Node.js with Bun and pnpm, and create manual build workflow for desktop
  .github/actions/setup-node-bun/action.yml
  .github/actions/setup-node-pnpm/action.yml
  .github/workflows/manual-build-desktop.yml
  .github/workflows/pr-build-desktop.yml
Due: none

feat: Enhance manual build workflow for desktop applications with multi-architecture support and separate build jobs for macOS, Windows, and Linux
  .github/workflows/manual-build-desktop.yml
  apps/desktop/package.json
Due: none

✨ feat: implement new onboarding flow (steps 1-3)
  locales/en-US/onboarding.json
  locales/zh-CN/onboarding.json
  packages/const/src/user.ts
  packages/database/src/models/user.ts
  packages/types/src/user/onboarding.ts
  packages/types/src/user/preference.ts
  src/app/[variants]/(onboarding)/_layout/index.tsx
  src/app/[variants]/(onboarding)/layout.tsx
  src/app/[variants]/(onboarding)/metadata.ts
  src/app/[variants]/(onboarding)/onboarding/Client.tsx
  src/app/[variants]/(onboarding)/onboarding/features/FullNameStep.tsx
  src/app/[variants]/(onboarding)/onboarding/features/ResponseLanguageStep.tsx
  src/app/[variants]/(onboarding)/onboarding/features/TelemetryStep.tsx
  src/app/[variants]/(onboarding)/onboarding/page.tsx
  src/layout/GlobalProvider/StoreInitialization.tsx
  src/locales/default/index.ts
  src/locales/default/onboarding.ts
  src/proxy.ts
  src/server/routers/lambda/user.ts
  src/services/user/index.ts
  src/store/user/initialState.ts
  src/store/user/selectors.ts
  src/store/user/slices/common/action.ts
  src/store/user/slices/common/initialState.ts
  src/store/user/slices/onboarding/action.ts
  src/store/user/slices/onboarding/initialState.ts
  src/store/user/slices/onboarding/selectors.ts
  src/store/user/store.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat(onboarding): add step 4 mode selection
  locales/en-US/onboarding.json
  locales/zh-CN/onboarding.json
  src/app/[variants]/(onboarding)/onboarding/Client.tsx
  src/app/[variants]/(onboarding)/onboarding/features/ModeSelectionStep.tsx
  src/app/[variants]/(onboarding)/onboarding/features/ResponseLanguageStep.tsx
  src/locales/default/onboarding.ts
Due: none

✨ feat(onboarding): add step 5 pro settings and fix default model sync
  locales/en-US/onboarding.json
  locales/zh-CN/onboarding.json
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/(main)/group/profile/index.tsx
  src/app/[variants]/(onboarding)/onboarding/Client.tsx
  src/app/[variants]/(onboarding)/onboarding/features/KlavisServerList.tsx
  src/app/[variants]/(onboarding)/onboarding/features/ProSettingsStep.tsx
  src/locales/default/onboarding.ts
  src/server/services/agent/index.ts
  src/store/agent/selectors/chatConfigByIdSelectors.ts
  src/store/agent/selectors/selectors.test.ts
  src/store/agent/selectors/selectors.ts
  src/store/agent/slices/agent/action.test.ts
  src/store/agent/slices/agent/initialState.ts
  src/store/agent/slices/knowledge/action.test.ts
  src/store/agent/slices/plugin/action.test.ts
  src/store/user/slices/onboarding/action.ts
Due: Store Layer, Server Layer

✨ feat(onboarding): add toggleDefaultPlugin action for Klavis server
  src/app/[variants]/onboarding/features/KlavisServerList.tsx
  src/app/[variants]/onboarding/features/ProSettingsStep.tsx
  src/store/agent/selectors/chatConfigSelectors.ts
  src/store/user/slices/onboarding/action.ts
Due: Store Layer

feat: onboarding rest work
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/(onboarding)/layout.tsx
  src/app/[variants]/(onboarding)/metadata.ts
  src/app/[variants]/(onboarding)/onboarding/page.tsx
  src/app/[variants]/onboarding/_layout/index.tsx
  src/app/[variants]/onboarding/features/FullNameStep.tsx
  src/app/[variants]/onboarding/features/KlavisServerList.tsx
  src/app/[variants]/onboarding/features/ModeSelectionStep.tsx
  src/app/[variants]/onboarding/features/ProSettingsStep.tsx
  src/app/[variants]/onboarding/features/ResponseLanguageStep.tsx
  src/app/[variants]/onboarding/features/TelemetryStep.tsx
  src/app/[variants]/onboarding/index.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/proxy.ts
Due: none

fix: jump to home page instead of chat page
  src/app/[variants]/onboarding/features/ProSettingsStep.tsx
Due: none

chore: revert some changes
  src/app/[variants]/router/desktopRouter.config.tsx
  src/proxy.ts
Due: none

feat: Add desktop-specific routes and components for DevTools and layout
  scripts/electronWorkflow/modifiers/routes.mts
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
Due: none

refactor: Clean up desktop-specific routes in the modifyRoutes function
  scripts/electronWorkflow/modifiers/routes.mts
Due: none

fix(database): try to fix the deadlock issue
  packages/database/src/models/userMemory/model.ts
Due: none

feat: Expose darwinMajorVersion in lobeEnv and update layout border radius
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/preload/electronApi.test.ts
  apps/desktop/src/preload/electronApi.ts
  src/app/[variants]/(main)/_layout/DesktopLayoutContainer.tsx
  src/types/global.d.ts
Due: none

chore: desktop title bar height
  src/app/[variants]/(main)/_layout/DesktopLayoutContainer.tsx
Due: none

fix(tools): method missing for builtin knowledge base
  src/tools/knowledge-base/ExecutionRuntime/index.ts
Due: none

feat(memory-user-memory): added tracing for embedding calls
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix: dev turbo api cjs import error
  .gitignore
  package.json
  patches/@swagger-api__apidom-reference.patch
Due: none

refactor to the todo list
  packages/builtin-tool-gtd/src/client/Intervention/AddTodo.tsx
  packages/builtin-tool-gtd/src/client/Intervention/ClearTodos.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/AddItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/SortableItem.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoList.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/index.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store.ts
Due: none

refactor agent config
  src/services/chat/mecha/agentConfigResolver.test.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer, Services Layer

support todo list
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/AddItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoList.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store.ts
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
Due: Server Layer

refactor to finish Todo list tool
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/AddItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoList.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/index.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/actions.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/index.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/initialState.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/store.test.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/types.ts
  src/locales/default/plugin.ts
Due: none

refactor to finish Todo list tool
  packages/builtin-tool-gtd/src/client/Intervention/AddTodo.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/AddItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoList.tsx
  packages/builtin-tool-gtd/src/types.ts
  packages/types/src/tool/builtin.ts
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/Intervention/index.tsx
  src/features/Conversation/store/selectors.test.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/features/Conversation/store/slices/messageState/initialState.ts
  src/features/Conversation/store/slices/tool/action.ts
Due: none

refactor the builtin structure
  packages/builtin-tool-group-management/package.json
  packages/builtin-tool-group-management/src/executor.test.ts
  packages/builtin-tool-group-management/src/executor.ts
  packages/builtin-tool-gtd/src/client/Intervention/AddTodo.tsx
  packages/builtin-tool-gtd/src/client/Intervention/index.ts
  packages/builtin-tool-gtd/src/client/Render/TodoList.tsx
  packages/builtin-tool-gtd/src/client/Render/index.ts
  packages/builtin-tool-gtd/src/executor.test.ts
  packages/builtin-tool-gtd/src/executor.ts
  packages/builtin-tool-gtd/src/index.ts
  packages/builtin-tool-gtd/src/manifest.ts
  packages/builtin-tool-gtd/src/systemRole.ts
  packages/builtin-tool-gtd/src/types.ts
  packages/types/src/tool/builtin.ts
  src/features/Conversation/store/slices/message/action/crud.test.ts
  src/features/Conversation/store/slices/tool/action.test.ts
  src/locales/default/plugin.ts
  src/locales/default/tool.ts
  src/store/tool/slices/builtin/executors/BaseExecutor.ts
  src/store/tool/slices/builtin/executors/__tests__/BaseExecutor.test.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-gtd.test.ts
  src/store/tool/slices/builtin/executors/index.ts
  src/store/tool/slices/builtin/executors/lobe-web-browsing.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer

refactor the builtin structure
  packages/builtin-tool-gtd/package.json
  packages/builtin-tool-gtd/src/executor/index.test.ts
  packages/builtin-tool-gtd/src/executor/index.ts
  packages/builtin-tool-gtd/src/index.ts
  src/store/tool/slices/builtin/executors/index.ts
Due: Store Layer

refactor the updateToolArguments api
  packages/builtin-tool-gtd/src/client/Intervention/AddTodo.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/TodoItemRow.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/index.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/actions.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/index.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/store.test.ts
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/store/types.ts
  packages/builtin-tool-gtd/src/executor/index.test.ts
  packages/builtin-tool-gtd/src/executor/index.ts
  packages/builtin-tool-gtd/src/manifest.ts
  packages/builtin-tool-gtd/src/types.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
  packages/database/src/models/message.ts
  packages/types/src/tool/builtin.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/server/routers/lambda/message.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
Due: Services Layer, Server Layer

support todo list
  packages/builtin-tool-gtd/src/client/Intervention/AddTodo.tsx
  packages/builtin-tool-gtd/src/client/components/SortableTodoList/index.tsx
  packages/types/src/tool/builtin.ts
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/Intervention/ApprovalActions.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/Intervention/index.tsx
  src/features/Conversation/store/slices/message/action/crud.ts
Due: none

update todo list style
  packages/builtin-tool-gtd/src/client/Render/TodoList.tsx
  packages/builtin-tool-gtd/src/client/Render/index.ts
  packages/builtin-tool-gtd/src/client/index.ts
  packages/builtin-tool-gtd/src/executor/index.ts
Due: none

fix message branch
  src/features/Conversation/Messages/AssistantGroup/index.tsx
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🐛 fix: resolve circular dependency in user store onboarding slice
  src/store/user/slices/onboarding/selectors.ts
Due: Store Layer

refactor accessibility tests for macOS in SystemController
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
Due: none

style: update Avatar
  package.json
  packages/const/src/meta.ts
  public/icons/icon-agent-default.png
  public/images/default_avatar.webp
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/Avatar.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/Item.tsx
Due: none
