Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

✅ test(database): add comprehensive test coverage for message query edge cases
  packages/database/src/models/__tests__/message.test.ts
Due: none

refactor messages tests
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/__tests__/messages/message.create.test.ts
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.stats.test.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
Due: none

✨ feat: implement batch file download functionality with subscription support
  Dockerfile
  Dockerfile.lite
  package.json
  packages/types/src/files/index.ts
  src/features/FileManager/FileList/FileListItem/DropdownMenu.tsx
  src/features/FileManager/FileList/FileListItem/index.tsx
  src/features/FileManager/FileList/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
  src/features/FileManager/FileList/ToolBar/MultiSelectActions.tsx
  src/features/FileManager/FileList/ToolBar/index.tsx
  src/features/FileManager/FileList/index.tsx
  src/libs/trpc/client/lambda.ts
  src/locales/default/components.ts
  src/server/routers/lambda/file.ts
  src/server/services/file/index.ts
  src/services/file/server.ts
  src/services/file/type.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

fix conflict
  src/libs/trpc/client/lambda.ts
  src/services/file/index.ts
  src/services/file/server.ts
  src/services/file/type.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer, Services Layer, Libraries Layer

✨ feat: enhance batch file download with partial success messaging
  src/features/FileManager/FileList/ToolBar/index.tsx
  src/locales/default/components.ts
  src/server/services/file/index.ts
Due: Server Layer

✨ feat: refactor batch download types and move TrpcSubscriptionCallback to a new file
  packages/types/src/files/index.ts
  src/server/services/file/index.ts
  src/services/file/index.ts
  src/services/file/type.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: implement concurrent file streaming in batch download process
  package.json
  packages/types/src/files/index.ts
  src/server/modules/S3/index.ts
  src/server/services/file/impls/local.ts
  src/server/services/file/impls/s3.ts
  src/server/services/file/impls/type.ts
  src/server/services/file/index.ts
  src/services/file/index.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: restructure batch download messages and update translation keys
  src/features/FileManager/FileList/ToolBar/MultiSelectActions.tsx
  src/features/FileManager/FileList/ToolBar/index.tsx
  src/locales/default/components.ts
  src/locales/default/file.ts
Due: none

✨ feat: optimize binary data handling in batch download process
  src/features/FileManager/FileList/ToolBar/MultiSelectActions.tsx
  src/features/FileManager/FileList/ToolBar/index.tsx
Due: none

🔧 fix: use unique userIds in test files to prevent concurrent test conflicts
  packages/database/src/models/__tests__/messages/message.create.test.ts
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.stats.test.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
Due: none

♻️ refactor(database): move conditional query logic from Model to Service layer
  packages/database/src/models/__tests__/messages/message.update.test.ts
  packages/database/src/models/message.ts
  src/server/services/message/index.ts
Due: Server Layer

✅ test(database): split message.test.ts into modular test files (#10114)
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/__tests__/messages/message.create.test.ts
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.stats.test.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
  packages/database/src/models/message.ts
  src/server/services/message/index.ts
Due: Server Layer

💄 style: update i18n
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
Due: none

add animation duration for token value display
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

🤖 style: update i18n (#10116)
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
Due: none

:bookmark: chore(release): v2.0.0-next.41 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e1/83eacf3657435108491e9e7ea6d5a0790eaa9e
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

✅ test(database): fix all 3 skipped tests and improve coverage to 98.6%
  packages/database/src/models/__tests__/messages/message.create.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.stats.test.ts
Due: none

fix tests
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
Due: none

Update upstream-sync-and-build.yml
  .github/workflows/upstream-sync-and-build.yml
Due: none

✅ test(database): achieve 100% coverage for message model
  packages/database/src/models/__tests__/messages/message.create.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.stats.test.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
  packages/database/src/models/message.ts
Due: none

🌐 chore: translate non-English comments to English in packages/utils (#10133)
  packages/utils/src/clientIP.ts
  packages/utils/src/compressImage.ts
  packages/utils/src/fetch/fetchSSE.ts
  packages/utils/src/format.ts
  packages/utils/src/merge.ts
  packages/utils/src/parseModels.ts
  packages/utils/src/sanitizeUTF8.ts
  packages/utils/src/toolManifest.ts
  packages/utils/src/uriParser.ts
Due: none

✅ test(database): achieve 100% coverage for message model (#10137)
  packages/database/src/models/__tests__/messages/message.create.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.stats.test.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
  packages/database/src/models/message.ts
Due: none

✅ test: add unit tests for trace utilities (#10136)
  packages/utils/src/trace.test.ts
Due: none

Update Dockerfile.lite
  Dockerfile.lite
Due: none

Update Dockerfile
  Dockerfile
Due: none

✨ feat: 强制重新挂载以防止在切换 token/credit 时出现不必要的动画
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
Due: none

fix missing message when finish render
  src/features/ChatItem/components/Title.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/Group/index.tsx
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
Due: Store Layer

🐛 fix: fix missing messages when finish runtime (#10138)
  src/features/ChatItem/components/Title.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/Group/index.tsx
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.42 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5d/b5cf582df349e2a521f478bafa833a7d893de9
Due: none

🐛 fix: Abnormal animation of tokens (#10106)
  src/features/Conversation/components/Extras/Usage/UsageDetail/index.tsx
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.43 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
