Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix: improve the code
  src/libs/klavis/index.ts
  src/server/routers/lambda/klavis.ts
  src/server/routers/tools/index.ts
  src/server/routers/tools/klavis.ts
  src/services/chat/index.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/internals.ts
  src/store/tool/slices/klavisStore/action.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

🌐 chore: translate non-English comments to English in packages/database (#10613)
  packages/database/src/core/electron.ts
  packages/database/src/repositories/aiInfra/index.ts
  packages/database/src/repositories/dataExporter/index.ts
  packages/database/src/repositories/tableViewer/index.ts
Due: none

⚡️ perf: optimize better-auth query speed with database joins (#10605)
  src/auth.ts
Due: none

⚡️ perf: optimize better-auth bundle size (#10604)
  src/auth.ts
Due: none

style: update agent welcome and chatinput
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/OpeningQuestions.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/ClassicChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/GroupChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Mobile/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/MainChatInput/index.tsx
  src/features/ChatInput/Desktop/index.tsx
  src/features/Conversation/ChatList/index.tsx
Due: none

style: update agent welcome and chatinput
  src/features/ChatInput/Desktop/index.tsx
Due: none

style: update new topic button
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/AddTopicButon.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.160 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  95/d9f7026feb0b904a91a24a386336931d375e03
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

style: update chat item style
  src/components/BubblesLoading/index.tsx
  src/components/ChatItem/components/Title.tsx
  src/components/ChatItem/style.ts
  src/features/Conversation/Messages/User/index.tsx
Due: none

style: update chat item style
  src/features/ChatList/Messages/Assistant/index.tsx
  src/features/ChatList/Messages/Group/ContentBlock.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/ContentBlock.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

✅ test: add unit tests for ImportService (#10599)
  src/services/import/index.test.ts
Due: Services Layer

chore: add knip cli
  knip.ts
  package.json
Due: none

🐛 fix(agent): merge default configs for builtin agents on server side
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
  src/store/agent/selectors/selectors.ts
Due: Store Layer, Server Layer

fix
  src/server/services/agent/index.ts
Due: Server Layer

opti: Better file loading
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/index.tsx
  src/store/file/slices/document/action.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer

fix: Page explore
  src/features/PageExplorer/index.tsx
  tsconfig.json
Due: none

feat: update test & update the klavis const var
  packages/const/src/klavis.ts
  packages/types/src/message/common/tools.ts
  src/features/ChatInput/ActionBar/Tools/KlavisServerItem.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/server/routers/lambda/klavis.ts
  src/store/chat/slices/plugin/actions/internals.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/tool/slices/builtin/selectors.ts
  src/store/tool/slices/klavisStore/action.test.ts
  src/store/tool/slices/klavisStore/action.ts
  src/store/tool/slices/klavisStore/selectors.test.ts
  src/store/tool/slices/klavisStore/selectors.ts
  src/store/tool/slices/klavisStore/types.ts
Due: Store Layer, Server Layer

♻️ refactor(agent): add getAgentConfigById to AgentService with default config merging
  src/server/routers/lambda/agent.ts
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
Due: Server Layer

fix: change it to const
  packages/const/src/klavis.ts
Due: none

refac: Renaming files
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/PageExplorer/index.tsx
Due: none

feat: use swr to replace useEffect
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/server/routers/tools/klavis.ts
  src/services/chat/index.ts
  src/store/tool/slices/klavisStore/action.test.ts
  src/store/tool/slices/klavisStore/action.ts
Due: Store Layer, Services Layer, Server Layer

优化 openrouter 模型获取
  packages/model-runtime/src/providers/openrouter/index.test.ts
  packages/model-runtime/src/providers/openrouter/index.ts
Due: none

feat: Discard the page editor modal
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/Toolbar/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/Header/NewNoteButton.tsx
Due: none

🔨 chore: integrate code inspector plugin and update turbopack configuration (#10588)
  e2e/src/steps/hooks.ts
  next.config.ts
  package.json
Due: none

支持显示在远端不存在的内置模型
  src/app/[variants]/(main)/settings/provider/features/ModelList/EmptyModels.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/ModelTitle/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/UpdateNotification.tsx
  src/locales/default/modelProvider.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/aiInfra/slices/aiModel/action.ts
  src/store/aiInfra/slices/aiModel/types.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.161 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  17/2b15b0df5ca5b2ee674a94ba036dcb8584988b
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
  src/store/tool/slices/klavisStore/initialState.ts
Due: Store Layer

style: update editor style
  CHECK_UNUSED_SRC.md
  UNUSED_FILES_GUIDE.md
  knip.json
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/features/Conversation/components/WideScreenContainer/index.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/index.tsx
  src/features/PageEditor/usePageEditor.ts
Due: none

style: fix cursor
  src/features/PageEditor/Body/Title.tsx
Due: none

fix: Deduplication
  src/features/ResourceManager/FileTree/index.tsx
  src/libs/swr/deduplication.test.ts
  src/libs/swr/index.ts
Due: Libraries Layer

fix: delete the url Hydration & delete pinagent way
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/usePinnedAgentState.ts
  src/store/urlHydration/action.ts
  src/store/urlHydration/index.ts
  src/store/urlHydration/initialState.ts
  src/store/urlHydration/store.ts
Due: Store Layer

🔨 chore: delete the url hydration & romove the pin agent way (#10616)
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/usePinnedAgentState.ts
  src/store/urlHydration/action.ts
  src/store/urlHydration/index.ts
  src/store/urlHydration/initialState.ts
  src/store/urlHydration/store.ts
Due: Store Layer

添加对不可用模型的支持，更新相关状态和选择器，优化模型列表显示
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/locales/default/modelProvider.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/aiInfra/slices/aiModel/action.ts
  src/store/aiInfra/slices/aiModel/initialState.ts
  src/store/aiInfra/slices/aiModel/selectors.test.ts
  src/store/aiInfra/slices/aiModel/selectors.ts
Due: Store Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
