Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

style: update back style
  src/app/[variants]/(main)/image/_layout/Header.tsx
  src/app/[variants]/(main)/page/_layout/Header/AddButton.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Header/index.tsx
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
  src/app/[variants]/(main)/resource/library/_layout/Header/index.tsx
  src/app/[variants]/(main)/resource/library/_layout/Sidebar.tsx
  src/features/NavPanel/Header/index.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
Due: none

fix: drag
  src/app/[variants]/(main)/layouts/desktop/index.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Sidebar.tsx
  src/app/[variants]/(main)/resource/(home)/index.tsx
  src/app/[variants]/(main)/resource/_layout/index.tsx
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/app/[variants]/(main)/resource/features/ResourceManagerProvider.tsx
  src/app/[variants]/(main)/resource/features/store/index.ts
  src/app/[variants]/(main)/resource/library/_layout/Sidebar.tsx
  src/app/[variants]/(main)/resource/library/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
Due: none

refactor: Move files
  src/app/[variants]/(main)/page/features/index.tsx
  src/app/[variants]/(main)/page/index.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/PageEditorBreadcrumb.tsx
  src/features/PageEditor/PageEditorModal.tsx
  src/features/PageEditor/index.tsx
  src/features/PageEditor/usePageEditor.ts
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/Header/NewNoteButton.tsx
  src/features/ResourceManager/index.tsx
Due: none

style: Toggle copilot
  src/features/PageEditor/index.tsx
Due: none

update eslint
  src/tools/document/index.ts
Due: none

style: update home header
  packages/const/src/layoutTokens.ts
  src/app/[variants]/(main)/home/features/index.tsx
  src/app/[variants]/(main)/home/index.tsx
Due: none

style: update pageEditor
  src/features/PageEditor/Body/Title.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/Header/Breadcrumb.tsx
  src/features/PageEditor/Header/PageEditorBreadcrumb.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/Header/useMenu.tsx
  src/features/PageEditor/Modal/index.tsx
  src/features/PageEditor/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/Header/NewNoteButton.tsx
Due: none

fix: View mode
  src/features/ResourceManager/FileTree/index.tsx
Due: none

style: update setting header
  src/app/[variants]/(main)/settings/_layout/index.tsx
  src/app/[variants]/(main)/settings/features/SettingsContent.tsx
  src/app/[variants]/(main)/settings/index.tsx
  src/app/[variants]/(main)/settings/provider/_layout/Desktop/Container.tsx
  src/features/NavHeader/index.tsx
Due: none

refactor: refactor dev copilot (#10559)
  packages/const/src/agent.ts
  packages/const/src/index.ts
  packages/database/src/models/agent.ts
  packages/prompts/src/agents/index.ts
  packages/prompts/src/agents/pageAgent.ts
  packages/prompts/src/index.ts
  packages/types/src/conversation.ts
  src/features/Conversation/ChatList/index.tsx
  src/features/PageEditor/DocumentConversation.tsx
  src/features/PageEditor/PageAgentProvider.tsx
  src/features/PageEditor/index.tsx
  src/hooks/useOperationState.ts
  src/server/routers/lambda/agent.ts
  src/server/services/agent/index.ts
  src/services/agent.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/actions/internals.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/utils/messageMapKey.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
Due: Store Layer, Services Layer, Server Layer

style: update discover and res header
  src/app/[variants]/(main)/discover/(list)/_layout/Desktop/Nav.tsx
  src/app/[variants]/(main)/discover/(list)/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/discover/_layout/Desktop/Header.tsx
  src/app/[variants]/(main)/discover/features/Search.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/index.tsx
  src/app/[variants]/(main)/resource/(home)/features/Container.tsx
  src/app/[variants]/(main)/resource/(home)/index.tsx
  src/app/[variants]/(main)/resource/_layout/RegisterHotkeys.tsx
  src/app/[variants]/(main)/resource/_layout/index.tsx
  src/features/NavHeader/index.tsx
  src/features/ResourceManager/FileExplorer/Header/Breadcrumb.tsx
  src/features/ResourceManager/FileExplorer/Header/index.tsx
  src/features/ResourceManager/FileExplorer/ListView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/index.tsx
  src/features/ResourceManager/FileExplorer/PreviewMode/index.tsx
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
Due: none

style: update image header
  packages/const/src/hotkeys.ts
  src/app/[variants]/(main)/(mobile)/_layout/NavBar.tsx
  src/app/[variants]/(main)/(mobile)/_layout/index.tsx
  src/app/[variants]/(main)/image/_layout/index.tsx
  src/app/[variants]/(main)/image/features/GenerationFeed/index.tsx
  src/app/[variants]/(main)/image/features/ImageWorkspace/EmptyState.tsx
  src/app/[variants]/(main)/image/features/ImageWorkspace/SkeletonList.tsx
  src/app/[variants]/(main)/image/index.tsx
  src/app/[variants]/(main)/layouts/DesktopLayoutContainer.tsx
  src/app/[variants]/(main)/layouts/RegisterHotkeys.tsx
  src/app/[variants]/(main)/layouts/desktop/index.tsx
  src/app/[variants]/(main)/layouts/index.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/Conversation/components/WideScreenContainer/index.tsx
  src/features/NavHeader/index.tsx
  src/features/NavPanel/index.tsx
  src/hooks/useHotkeys/chatScope.ts
  src/hooks/useHotkeys/filesScope.ts
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/useHotkeys/imageScope.ts
Due: none

🐛 fix: slove the soft reload will HydrateFallback (#10556)
  src/utils/router.tsx
Due: Utils Layer

refac: Rename files
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBase.tsx
  src/features/ChatInput/ActionBar/Knowledge/index.tsx
  src/features/KnowledgeBaseModal/AddFilesToKnowledgeBase/index.tsx
  src/features/LibraryModal/AddFilesToKnowledgeBase/SelectForm.tsx
  src/features/LibraryModal/AddFilesToKnowledgeBase/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/Action.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/EditCustomPlugin.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/MasonryItem.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/MasonryItemWrapper.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/PluginTag.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/List.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Loading.tsx
  src/features/LibraryModal/AssignKnowledgeBase/MasonrySkeleton.tsx
  src/features/LibraryModal/AssignKnowledgeBase/ViewSwitcher.tsx
  src/features/LibraryModal/AssignKnowledgeBase/index.tsx
  src/features/LibraryModal/CreateNew/CreateForm.tsx
  src/features/LibraryModal/CreateNew/index.tsx
  src/features/LibraryModal/index.ts
  src/features/NavPanel/hooks/useProjectMenuItems.tsx
  src/features/ResourceManager/FileExplorer/EmptyStatus.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/FileExplorer/ToolBar/index.tsx
  src/features/ResourceManager/FileExplorer/index.tsx
Due: none

style: update page header
  src/app/[variants]/(main)/page/[id]/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/Editing.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/index.tsx
  src/app/[variants]/(main)/page/index.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/features/PageEditor/Header/PageEditorBreadcrumb.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/PageEditorBody.tsx
  src/features/PageEditor/PageEditorContext.tsx
  src/features/PageEditor/PageEditorCopilot.tsx
  src/features/PageEditor/PageEditorTitle.tsx
  src/features/PageEditor/index.tsx
  src/features/PageEditor/usePageEditorMenu.tsx
  src/features/PageExplorer/DocumentEditorPlaceholder.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

improve loading
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
Due: none

add log error
  src/store/chat/slices/plugin/actions/pluginTypes.ts
Due: Store Layer

style: update nav
  src/app/[variants]/(main)/home/_layout/Header/components/Nav.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
Due: none

style: Heading
  locales/zh-CN/file.json
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/index.tsx
  src/locales/default/file.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
  src/store/file/slices/document/selectors.ts
Due: Store Layer

refac: Migrate to virtua
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
Due: none

style: update agent profile header
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentHeader.tsx
Due: none

refactor to use getAgentConfigById
  src/services/chat/index.ts
  src/store/agent/selectors/chatConfigSelectors.test.ts
  src/store/agent/selectors/chatConfigSelectors.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
Due: Store Layer, Services Layer

✨ feat(topic): add recentTopics API for homepage display
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/models/topic.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

feat: Editor toolbar
  locales/zh-CN/editor.json
  package.json
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Toolbar/index.tsx
  src/locales/default/editor.ts
Due: none

improve
  src/features/Conversation/ChatList/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
Due: none

style: Adjust title style
  src/features/PageEditor/Body/Title.tsx
Due: none

style(wip): update home
  package.json
  src/app/[variants]/(main)/home/_layout/Header/components/Nav.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/RecentPage/Item.tsx
  src/app/[variants]/(main)/home/features/RecentPage/List.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/Item.tsx
  src/app/[variants]/(main)/home/features/RecentResource/List.tsx
  src/app/[variants]/(main)/home/features/RecentResource/Skeleton.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/app/[variants]/(main)/home/features/WelcomeText/index.tsx
  src/app/[variants]/(main)/home/features/index.tsx
  src/app/[variants]/(main)/home/index.tsx
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
Due: none

feat: Add AI chat in CMDK
  src/layout/GlobalProvider/Cmdk.tsx
Due: none

style(wip): update home
  packages/database/src/models/topic.ts
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/topic/topic.ts
  src/app/[variants]/(main)/home/features/GroupBlock/index.tsx
  src/app/[variants]/(main)/home/features/RecentPage/Item.tsx
  src/app/[variants]/(main)/home/features/RecentPage/List.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/Item.tsx
  src/app/[variants]/(main)/home/features/RecentResource/List.tsx
  src/app/[variants]/(main)/home/features/RecentResource/Skeleton.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/Item.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/List.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/app/[variants]/(main)/home/features/components/GroupBlock/index.tsx
  src/app/[variants]/(main)/home/features/components/GroupSkeleton.tsx
  src/app/[variants]/(main)/home/features/components/ScrollShadowWithButton/index.tsx
  src/app/[variants]/(main)/home/features/components/Time.tsx
  src/app/[variants]/(main)/home/features/const.ts
  src/app/[variants]/(main)/home/features/index.tsx
  src/server/routers/lambda/topic.ts
  src/services/topic/index.ts
  src/store/session/slices/recent/action.ts
  src/store/session/slices/recent/initialState.ts
Due: Store Layer, Services Layer, Server Layer

refactor with agent slug
  packages/const/src/agent.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/store/agent/selectors/builtinAgentSelectors.ts
  src/store/agent/slices/builtin/action.ts
Due: Store Layer

update
  CLAUDE.md
  src/helpers/getSearchConfig.ts
  src/services/chat/chat.test.ts
Due: Services Layer

refactor with new useInitBuiltinAgent
  packages/const/src/agent.ts
  src/features/PageEditor/index.tsx
  src/store/agent/initialState.ts
  src/store/agent/selectors/builtinAgentSelectors.ts
  src/store/agent/selectors/chatConfigSelectors.test.ts
  src/store/agent/selectors/index.ts
  src/store/agent/selectors/selectors.test.ts
  src/store/agent/selectors/selectors.ts
  src/store/agent/slices/builtin/action.ts
  src/store/agent/slices/builtin/index.ts
  src/store/agent/slices/builtin/initialState.ts
  src/store/agent/store.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
Due: Store Layer

refac: Lint code
  src/features/CommandMenu/ChatList.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/ThemeMenu.tsx
  src/features/CommandMenu/components/CommandFooter.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
  src/features/CommandMenu/types.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/layout/GlobalProvider/Cmdk.tsx
  src/layout/GlobalProvider/CmdkLazy.tsx
Due: none

style: Reserve space for the check mark
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/Actions.tsx
Due: none

style: update sidebar style
  locales/zh-CN/chat.json
  packages/database/src/repositories/knowledge/index.ts
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/types.ts
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/useMarketPublish.ts
  src/app/[variants]/(main)/home/features/GroupBlock/index.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/app/[variants]/(main)/home/features/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/resource/library/[slug]/index.tsx
  src/app/[variants]/(main)/settings/_layout/SidebarContent.tsx
  src/features/ResourceManager/FileExplorer/Header/Breadcrumb.tsx
  src/features/ResourceManager/FileExplorer/ListView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/Skeleton.tsx
  src/features/ResourceManager/FileExplorer/PreviewMode/index.tsx
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/locales/default/chat.ts
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/topic.ts
  src/services/file/index.ts
  src/services/topic/index.ts
  src/store/session/initialState.ts
  src/store/session/slices/recent/action.ts
  src/store/session/slices/recent/initialState.ts
  src/store/session/slices/session/action.ts
  src/store/session/store.ts
Due: Store Layer, Services Layer, Server Layer

style: Adjust key style
  src/layout/GlobalProvider/Cmdk.tsx
Due: none

feat: New shortcut for cmd menu
  packages/const/src/hotkeys.ts
  src/app/[variants]/(main)/home/_layout/Header/components/Nav.tsx
Due: none
