Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: CodeInterpreter market feat down
  package.json
  src/store/chat/slices/builtinTool/actions/interpreter.ts
  src/tools/code-interpreter-draft/Render/components/ResultFileGallery.tsx
  src/tools/code-interpreter-draft/Render/components/ResultFileItem.tsx
  src/tools/code-interpreter-draft/Render/index.tsx
  src/tools/code-interpreter-draft/index.ts
  src/tools/code-interpreter/ExecutionRuntime/index.ts
  src/tools/code-interpreter/Intervention/EditLocalFile/index.tsx
  src/tools/code-interpreter/Intervention/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Intervention/RunCommand/index.tsx
  src/tools/code-interpreter/Intervention/WriteFile/index.tsx
  src/tools/code-interpreter/Intervention/index.ts
  src/tools/code-interpreter/Render/EditLocalFile/index.tsx
  src/tools/code-interpreter/Render/ListFiles/index.tsx
  src/tools/code-interpreter/Render/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Render/ReadLocalFile/index.tsx
  src/tools/code-interpreter/Render/RunCommand/index.tsx
  src/tools/code-interpreter/Render/SearchFiles/index.tsx
  src/tools/code-interpreter/Render/WriteFile/index.tsx
  src/tools/code-interpreter/Render/index.ts
  src/tools/code-interpreter/index.ts
  src/tools/code-interpreter/systemRole.ts
  src/tools/code-interpreter/type.ts
  src/tools/identifiers.ts
  src/tools/index.ts
  src/tools/interventions.ts
  src/tools/renders.ts
Due: Store Layer

feat: change draft to new code interpreter
  src/server/routers/tools/codeInterpreter.ts
  src/server/routers/tools/index.ts
  src/services/codeInterpreter.ts
  src/store/chat/slices/builtinTool/actions/interpreter.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/tools/code-interpreter/ExecutionRuntime/index.ts
  src/tools/identifiers.ts
  src/tools/index.ts
  src/tools/renders.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat(userMemories): added queryMemoryDetail (#10791)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

chore(memory-user-memory): improved scoring, add range constraints, improved gate keeper
  packages/memory-user-memory/src/prompts/gatekeeper.md
  packages/memory-user-memory/src/schemas/context.ts
  packages/memory-user-memory/src/schemas/experience.ts
  packages/memory-user-memory/src/schemas/preference.ts
Due: none

lint: Clean up code
  src/app/[variants]/(main)/resource/library/_layout/Sidebar.tsx
  src/app/[variants]/(main)/resource/library/features/LibraryMenu.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

lint: Remove unused props
  src/features/PageExplorer/index.tsx
Due: none

clean
  src/features/PageEditor/Body/index.tsx
  src/services/chat/index.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/store/chat/slices/message/actions/runtimeState.ts
Due: Store Layer, Services Layer

fix: Correct baseUrl path in tsconfig.json for consistent module resolution
  apps/desktop/tsconfig.json
Due: none

fix: Update module resolution paths in tsconfig.json for consistency
  apps/desktop/tsconfig.json
Due: none

fix(userMemories): should accept string types
  packages/database/src/models/userMemory/model.ts
  src/server/routers/lambda/userMemories.ts
Due: Server Layer

lint: Clean up code
  src/features/PageEditor/Modal/EditorCanvas.tsx
  src/features/PageEditor/Modal/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
Due: none

fix: Not jumping after creation
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

fix: Update module resolution paths in tsconfig.json for consistency
  apps/desktop/tsconfig.json
  packages/electron-client-ipc/src/ipc.ts
  packages/electron-client-ipc/src/streamInvoke.ts
  packages/electron-client-ipc/src/types/proxyTRPCRequest.ts
Due: none

refactor: Clean up formatting in streamInvoke function and remove unused fetch logic in toolsClient
  packages/electron-client-ipc/src/streamInvoke.ts
  src/libs/trpc/client/tools.ts
Due: Libraries Layer

feat: add export files tools
  src/server/routers/tools/codeInterpreter.ts
  src/services/codeInterpreter.ts
  src/tools/code-interpreter/ExecutionRuntime/index.ts
  src/tools/code-interpreter/Render/ExportFile/index.tsx
  src/tools/code-interpreter/Render/index.ts
  src/tools/code-interpreter/index.ts
  src/tools/code-interpreter/type.ts
Due: Services Layer, Server Layer

chore: Add @lobechat/types package and update pnpm workspace configuration to include new packages
  apps/desktop/package.json
  apps/desktop/pnpm-workspace.yaml
Due: none

feat: Cloud Code Interpreter implementation
  package.json
  src/server/routers/tools/codeInterpreter.ts
  src/server/routers/tools/index.ts
  src/services/codeInterpreter.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/tools/code-interpreter-draft/Render/components/ResultFileGallery.tsx
  src/tools/code-interpreter-draft/Render/components/ResultFileItem.tsx
  src/tools/code-interpreter-draft/Render/index.tsx
  src/tools/code-interpreter-draft/index.ts
  src/tools/code-interpreter/ExecutionRuntime/index.ts
  src/tools/code-interpreter/Intervention/EditLocalFile/index.tsx
  src/tools/code-interpreter/Intervention/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Intervention/RunCommand/index.tsx
  src/tools/code-interpreter/Intervention/WriteFile/index.tsx
  src/tools/code-interpreter/Intervention/index.ts
  src/tools/code-interpreter/Render/EditLocalFile/index.tsx
  src/tools/code-interpreter/Render/ExportFile/index.tsx
  src/tools/code-interpreter/Render/ListFiles/index.tsx
  src/tools/code-interpreter/Render/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Render/ReadLocalFile/index.tsx
  src/tools/code-interpreter/Render/RunCommand/index.tsx
  src/tools/code-interpreter/Render/SearchFiles/index.tsx
  src/tools/code-interpreter/Render/WriteFile/index.tsx
  src/tools/code-interpreter/Render/index.ts
  src/tools/code-interpreter/index.ts
  src/tools/code-interpreter/systemRole.ts
  src/tools/code-interpreter/type.ts
  src/tools/interventions.ts
  src/tools/renders.ts
Due: Store Layer, Services Layer, Server Layer

chore: Remove @lobechat/types package from dependencies and update pnpm workspace configuration; add local interface for CheckMcpInstallResult to avoid path-alias issues
  apps/desktop/package.json
  apps/desktop/pnpm-workspace.yaml
  apps/desktop/src/main/controllers/McpCtr.ts
Due: none

feat: Update multiopkle node
  src/tools/page-agent/ExecutionRuntime/index.ts
  src/tools/page-agent/index.ts
  src/tools/page-agent/systemRole.ts
  src/tools/page-agent/type.ts
Due: none

feat: update the system role & icon
  src/tools/code-interpreter/index.ts
  src/tools/code-interpreter/systemRole.ts
Due: none

✨ feat: support market Cloud Code Interpreter implementation (#10795)
  package.json
  src/server/routers/tools/codeInterpreter.ts
  src/server/routers/tools/index.ts
  src/services/codeInterpreter.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/tools/code-interpreter-draft/Render/components/ResultFileGallery.tsx
  src/tools/code-interpreter-draft/Render/components/ResultFileItem.tsx
  src/tools/code-interpreter-draft/Render/index.tsx
  src/tools/code-interpreter-draft/index.ts
  src/tools/code-interpreter/ExecutionRuntime/index.ts
  src/tools/code-interpreter/Intervention/EditLocalFile/index.tsx
  src/tools/code-interpreter/Intervention/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Intervention/RunCommand/index.tsx
  src/tools/code-interpreter/Intervention/WriteFile/index.tsx
  src/tools/code-interpreter/Intervention/index.ts
  src/tools/code-interpreter/Render/EditLocalFile/index.tsx
  src/tools/code-interpreter/Render/ExportFile/index.tsx
  src/tools/code-interpreter/Render/ListFiles/index.tsx
  src/tools/code-interpreter/Render/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Render/ReadLocalFile/index.tsx
  src/tools/code-interpreter/Render/RunCommand/index.tsx
  src/tools/code-interpreter/Render/SearchFiles/index.tsx
  src/tools/code-interpreter/Render/WriteFile/index.tsx
  src/tools/code-interpreter/Render/index.ts
  src/tools/code-interpreter/index.ts
  src/tools/code-interpreter/systemRole.ts
  src/tools/code-interpreter/type.ts
  src/tools/interventions.ts
  src/tools/renders.ts
Due: Store Layer, Services Layer, Server Layer

improve system role
  packages/builtin-agents/src/agents/group-supervisor/index.ts
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/builtin-tool-group-management/src/systemRole.ts
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  packages/context-engine/src/engine/messages/types.ts
  packages/context-engine/src/processors/SupervisorRoleRestore.ts
  packages/context-engine/src/processors/__tests__/SupervisorRoleRestore.test.ts
  packages/context-engine/src/processors/index.ts
  packages/context-engine/src/providers/GroupContextInjector.ts
  packages/context-engine/src/providers/__tests__/GroupContextInjector.test.ts
  packages/context-engine/src/providers/__tests__/__snapshots__/GroupContextInjector.test.ts.snap
  packages/prompts/src/prompts/agentGroup/__snapshots__/index.test.ts.snap
  packages/prompts/src/prompts/agentGroup/groupContext.ts
  packages/prompts/src/prompts/agentGroup/index.test.ts
  packages/prompts/src/prompts/agentGroup/index.ts
  packages/types/src/conversation.ts
  packages/types/src/message/common/metadata.ts
  src/app/[variants]/(main)/group/features/Conversation/MainChatInput/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/useGroupContext.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/agents/createAgentExecutors.ts
Due: Store Layer, Services Layer

chore: Add alias for utils directory in vitest configuration to streamline module resolution
  packages/utils/vitest.config.mts
Due: none

fix builtin tool
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/builtin-tool-group-management/src/systemRole.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
Due: Store Layer

fix error
  src/tools/page-agent/index.ts
Due: none

chore(DevPanel): fix removed pg data typing
  src/features/DevPanel/PostgresViewer/DataTable/index.tsx
  src/features/DevPanel/PostgresViewer/SchemaSidebar/Columns.tsx
  src/features/DevPanel/PostgresViewer/SchemaSidebar/index.tsx
  src/features/DevPanel/PostgresViewer/index.tsx
  src/features/DevPanel/PostgresViewer/usePgTable.ts
  src/features/DevPanel/index.tsx
  src/services/tableViewer/client.ts
Due: Services Layer

feat: add development script and enhance authentication logic for desktop
  apps/desktop/package.json
  src/proxy.ts
Due: none

style: update Memory
  locales/zh-CN/memory.json
  src/app/[variants]/(main)/memory/(home)/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/FilterBar.tsx
  src/app/[variants]/(main)/memory/features/GridView/index.tsx
  src/app/[variants]/(main)/memory/features/Loading.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/features/MemoryEmpty.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/FilterBar.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/locales/default/memory.ts
  src/services/userMemory.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/identity/action.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer, Services Layer

style: update Memory
  locales/zh-CN/memory.json
  src/app/[variants]/(main)/memory/contexts/features/ContextRightPanel.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/ExperienceRightPanel.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/DetailLoading.tsx
  src/app/[variants]/(main)/memory/features/FilterBar.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/identities/features/FilterBar.tsx
  src/app/[variants]/(main)/memory/identities/features/IdentityRightPanel.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/PreferenceRightPanel.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/locales/default/memory.ts
  src/services/userMemory.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/base/action.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/identity/action.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer, Services Layer

style: update Memory
  package.json
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/GridView/index.tsx
  src/app/[variants]/(main)/memory/features/HighlightedContent.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/ViewModeSwitcher.tsx
  src/app/[variants]/(main)/memory/identities/features/IdentityRightPanel.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
Due: none

style: update Memory
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/identity/action.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer

style: update Memory
  locales/zh-CN/memory.json
  src/app/[variants]/(main)/discover/components/VirtuosoGridList/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/ContextCard.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/GridView/MasonryCard.tsx
  src/app/[variants]/(main)/memory/features/GridView/index.tsx
  src/app/[variants]/(main)/memory/features/Loading.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/List.tsx
  src/features/PluginStore/InstalledList/List/index.tsx
  src/features/PluginStore/McpList/List/index.tsx
  src/features/PluginStore/PluginList/List/index.tsx
  src/locales/default/memory.ts
Due: none

feat(desktop): implement system theme mode management and optimize layout background handling
  apps/desktop/src/main/controllers/SystemCtr.ts
  src/app/[variants]/(main)/_layout/index.tsx
  src/features/ElectronTitlebar/hooks/useWatchThemeUpdate.ts
  src/features/NavPanel/index.tsx
  src/store/global/actions/general.ts
Due: Store Layer

style: update Memory
  src/app/[variants]/(main)/memory/contexts/features/List/GridView/ContextCard.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/GridView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/GridView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/GridView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/features/GridView/GridCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/GridView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/GridView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/GridView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/GridView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
Due: none

✨ docs: Update CLAUDE.md to specify PR title prefixes for triggering release workflows
  CLAUDE.md
Due: none

🗃️ chore(database): add migration for onboarding fields
  docs/development/database-schema.dbml
  packages/database/migrations/0063_add_onboarding_fields.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

Revert "🗃️ chore(database): add migration for onboarding fields"
  docs/development/database-schema.dbml
  packages/database/migrations/0063_add_onboarding_fields.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

♻️ refactor(settings): move telemetry setting from common to storage page
  src/app/[variants]/(main)/settings/common/features/Common/Common.tsx
  src/app/[variants]/(main)/settings/storage/Advanced.tsx
Due: none

♻️ refactor(user): rename career field to occupation
  packages/database/src/models/user.ts
  packages/database/src/schemas/user.ts
  packages/types/src/user/preference.ts
  src/app/[variants]/(main)/settings/profile/Client.tsx
  src/locales/default/auth.ts
  src/server/routers/lambda/user.ts
  src/services/user/index.ts
  src/store/user/slices/auth/selectors.ts
  src/store/user/slices/common/action.ts
Due: Store Layer, Services Layer, Server Layer
