Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix: add mention back
  src/features/ChatInput/InputEditor/index.tsx
Due: none

fix: circular deps
  packages/model-bank/src/aiModels/aihubmix.ts
  packages/types/src/aiChat.ts
  src/store/chat/deps.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/store.ts
  src/store/chatGroup/action.ts
  src/store/chatGroup/initialState.ts
Due: Store Layer

feat: Update i18n
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  packages/types/src/aiChat.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/locales/default/chat.ts
Due: none

fix: Coverage
  packages/database/src/models/__tests__/topic.test.ts
  packages/prompts/src/chains/summaryTitle.ts
  src/store/chat/slices/message/selectors.test.ts
Due: Store Layer

build: Add missing test
  packages/database/src/models/__tests__/session.test.ts
Due: none

fix: Replace debug info
  src/server/routers/lambda/config/index.ts
Due: Server Layer

fix: DM reduction
  src/features/Conversation/Messages/Assistant/index.tsx
Due: none

fix: Add test for topic
  src/store/chat/slices/topic/action.test.ts
Due: Store Layer

feat: Filter model without function calling
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
Due: none

fix: Revert unncessary files
  packages/database/src/models/__tests__/chatGroup.test.ts
  tests/utils.tsx
Due: none

feat: Group chat fallback style
  src/app/[variants]/(main)/chat/@session/_layout/Desktop/SessionHeader.tsx
Due: none

lint: Address build error
  src/store/chatGroup/action.ts
Due: Store Layer

fix claude
  packages/model-runtime/src/providers/anthropic/generateObject.ts
  packages/types/src/aiChat.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer

feat: tool usage
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/features/Conversation/Messages/index.tsx
  src/locales/default/chat.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer

fix: Test error
  src/store/chat/slices/message/supervisor.test.ts
Due: Store Layer

opti: Better prompt
  packages/prompts/src/prompts/groupChat/index.ts
Due: none

fix: Revert unintentional changes
  .vscode/settings.json
  packages/database/src/models/message.ts
  src/components/DragUpload/useDragUpload.test.tsx
Due: none

fix: type error
  src/store/session/slices/session/selectors/list.ts
Due: Store Layer

fix: better test
  packages/prompts/src/prompts/groupChat/__snapshots__/index.test.ts.snap
  packages/prompts/src/prompts/groupChat/index.test.ts
  public/favicon-32x32-dev.ico
  public/favicon-dev.ico
Due: none

fix: inbox not working
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/index.tsx
Due: none

opti: Better prompt
  packages/prompts/src/prompts/groupChat/index.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer

fix: Use debug
  src/config/featureFlags/index.ts
Due: none

feat: Store model info
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
Due: Store Layer

refact: Move normalization postion
  packages/database/src/models/message.ts
  src/server/routers/lambda/message.ts
Due: Server Layer

feat: Use new welcome message
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/index.tsx
Due: none

lint: Remove unused code
  src/services/chat/chat.test.ts
  src/services/chat/index.ts
Due: Services Layer

style: Clean up welcome messaeg
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/WelcomeChatItem/GroupWelcome/index.tsx
Due: none

feat: Optimize prompt
  packages/prompts/src/prompts/groupChat/index.ts
  src/store/chat/slices/message/supervisor.test.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer

fix: inbox not working
  src/features/Conversation/Messages/Assistant/index.tsx
  src/store/session/slices/session/selectors/list.ts
Due: Store Layer

opti: Better prompt
  packages/prompts/src/prompts/groupChat/index.test.ts
  packages/prompts/src/prompts/groupChat/index.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer

feat: change the describe name
  locales/zh-CN/discover.json
  src/app/[variants]/(main)/discover/(detail)/assistant/[...slugs]/features/StatusPage/index.tsx
  src/features/PluginTag/PluginStatus.tsx
  src/locales/default/discover.ts
  src/services/session/type.ts
Due: Services Layer

style: update style
  apps/mobile/src/app/(main)/chat/index.tsx
  apps/mobile/src/app/(main)/chat/setting/index.tsx
  apps/mobile/src/app/(main)/chat/setting/styles.ts
  apps/mobile/src/app/(main)/chat/style.ts
  apps/mobile/src/components/Input/TextArea/index.tsx
  apps/mobile/src/components/Input/TextArea/style.ts
  apps/mobile/src/components/ListItem/ListItem.tsx
  apps/mobile/src/components/PageContainer/PageContainer.tsx
  apps/mobile/src/components/PageContainer/style.ts
  apps/mobile/src/components/PageContainer/type.ts
  apps/mobile/src/features/AgentRoleEdit/AgentRoleEditSection.tsx
  apps/mobile/src/features/SideBar/components/SessionList/features/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/features/SessionItem.tsx
  apps/mobile/src/features/SideBar/components/SessionList/features/SkeletonList.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/index.tsx
  apps/mobile/src/features/SideBar/style.ts
  apps/mobile/src/features/chat/ChatInput/index.tsx
  apps/mobile/src/features/chat/ChatList/index.tsx
  apps/mobile/src/features/chat/actions/ToogleTopic/index.tsx
Due: none

fix: fix KeyboardAvoidingView
  apps/mobile/src/app/(main)/chat/index.tsx
  apps/mobile/src/features/AgentRoleEdit/AgentRoleEditSection.tsx
Due: none

添加 doubao-seed-1.6-lite；更新模型价格区间格式，调整价格单位为百万 tokens
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/volcengine.ts
  packages/model-bank/src/aiModels/zhipu.ts
Due: none

feat: integrate BottomSheetModal & reactor Checker
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/Checker.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/style.ts
  apps/mobile/src/app/_layout.tsx
Due: none

fix: Invalid combination of reasoning_effort and thinking type: low + disabled
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/volcengine.ts
Due: none

style: update Markdown style
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ProviderInfoSection.tsx
  apps/mobile/src/app/(main)/setting/providers/index.tsx
  apps/mobile/src/components/Highlighter/FullFeatured.tsx
  apps/mobile/src/components/Highlighter/Highlighter.tsx
  apps/mobile/src/components/Highlighter/components/TokenDisplay/style.ts
  apps/mobile/src/components/Highlighter/style.ts
  apps/mobile/src/components/InstantSwitch/InstantSwitch.tsx
  apps/mobile/src/components/Markdown/Markdown.tsx
  apps/mobile/src/components/Markdown/demos/basic.tsx
  apps/mobile/src/components/Markdown/demos/data.ts
  apps/mobile/src/components/Markdown/renderers/heading.tsx
  apps/mobile/src/components/Markdown/renderers/list.tsx
  apps/mobile/src/components/Markdown/renderers/math.tsx
  apps/mobile/src/components/Markdown/renderers/paragraph.tsx
  apps/mobile/src/components/Markdown/renderers/table.tsx
  apps/mobile/src/components/Markdown/style.ts
  apps/mobile/src/components/Text/Text.tsx
  apps/mobile/src/components/Text/style.ts
  apps/mobile/src/features/chat/ChatBubble/Welcome.tsx
  apps/mobile/src/features/chat/ChatList/index.tsx
  apps/mobile/src/features/chat/WelcomeMessage/OpeningQuestions.tsx
  apps/mobile/src/features/chat/WelcomeMessage/index.tsx
Due: none

fix: fix neutralColor Setting
  apps/mobile/src/store/setting.ts
Due: none

:sparkles: feat(search): enable chat log search results
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/message.ts
  packages/types/src/message/base.ts
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/SearchMessages.tsx
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/SearchMode.tsx
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/useMessageNavigator.ts
  src/locales/default/chat.ts
  src/server/routers/lambda/message.ts
  src/services/message/_deprecated.ts
  src/services/message/client.ts
  src/services/message/server.ts
  src/services/message/type.ts
Due: Services Layer, Server Layer

lint: Clear console.log
  src/store/chatGroup/selectors.ts
Due: Store Layer
