Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix test
  src/store/tool/slices/oldStore/action.test.ts
Due: Store Layer

fix context-engine
  .npmrc
  packages/context-engine/src/tools/ToolsEngine.ts
  packages/context-engine/src/tools/__tests__/ToolsEngine.test.ts
  src/libs/trpc/lambda/context.ts
Due: Libraries Layer

add tests
  packages/context-engine/src/tools/__tests__/ToolNameResolver.test.ts
Due: none

remove
  src/features/ChatInput/InputEditor/index.tsx
Due: none

remove tools bar
  src/features/ChatInput/ActionBar/index.tsx
  src/features/ChatInput/TypoBar/index.tsx
Due: none

pin bun version
  .github/workflows/e2e.yml
Due: none

fix
  src/libs/trpc/lambda/context.ts
Due: Libraries Layer

🐛 fix: fix duplicate tools id issue and fix link dialog issue (#9731)
  .cursor/rules/testing-guide/zustand-store-action-test.mdc
  .github/workflows/e2e.yml
  .npmrc
  packages/context-engine/src/tools/ToolsEngine.ts
  packages/context-engine/src/tools/__tests__/ToolNameResolver.test.ts
  packages/context-engine/src/tools/__tests__/ToolsEngine.test.ts
  src/features/ChatInput/ActionBar/index.tsx
  src/features/ChatInput/InputEditor/index.tsx
  src/features/ChatInput/TypoBar/index.tsx
  src/libs/trpc/lambda/context.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/discover/slices/assistant/action.test.ts
  src/store/discover/slices/mcp/action.test.ts
  src/store/discover/slices/model/action.test.ts
  src/store/discover/slices/plugin/action.test.ts
  src/store/discover/slices/provider/action.test.ts
  src/store/file/slices/chat/action.test.ts
  src/store/file/slices/chunk/action.test.ts
  src/store/file/slices/fileManager/action.test.ts
  src/store/file/slices/tts/action.test.ts
  src/store/file/slices/upload/action.test.ts
  src/store/knowledgeBase/slices/content/action.test.ts
  src/store/knowledgeBase/slices/crud/action.test.ts
  src/store/serverConfig/action.test.ts
  src/store/serverConfig/selectors.test.ts
  src/store/test-coverage.md
  src/store/tool/slices/mcpStore/action.test.ts
  src/store/tool/slices/oldStore/action.test.ts
  src/store/tool/slices/oldStore/action.ts
Due: Store Layer, Libraries Layer

💄 style: add region support for Vertex AI provider (#9720)
  locales/en-US/modelProvider.json
  locales/zh-CN/modelProvider.json
  packages/types/src/auth.ts
  packages/types/src/user/settings/keyVaults.ts
  src/app/[variants]/(main)/settings/provider/detail/vertexai/index.tsx
  src/locales/default/modelProvider.ts
  src/server/modules/ModelRuntime/index.ts
  src/services/_auth.ts
Due: Services Layer, Server Layer

refactor tool source
  packages/types/src/tool/builtin.ts
  packages/types/src/tool/index.ts
  packages/types/src/tool/plugin.ts
  packages/types/src/tool/tool.ts
  src/components/Plugins/PluginTag.tsx
  src/features/AgentSetting/AgentPlugin/index.tsx
  src/features/PluginStore/InstalledList/Detail/index.tsx
  src/features/PluginStore/InstalledList/List/Item/Action.tsx
  src/features/PluginStore/InstalledList/List/Item/index.tsx
  src/features/PluginStore/InstalledList/List/index.tsx
  src/features/PluginStore/InstalledList/index.tsx
  src/features/PluginStore/McpList/List/Item.tsx
  src/features/PluginStore/PluginList/List/Item.tsx
  src/store/tool/slices/builtin/selectors.ts
Due: Store Layer

Revert "refactor tool source"
  packages/types/src/tool/builtin.ts
  packages/types/src/tool/index.ts
  packages/types/src/tool/plugin.ts
  packages/types/src/tool/tool.ts
  src/components/Plugins/PluginTag.tsx
  src/features/AgentSetting/AgentPlugin/index.tsx
  src/features/PluginStore/InstalledList/Detail/index.tsx
  src/features/PluginStore/InstalledList/List/Item/Action.tsx
  src/features/PluginStore/InstalledList/List/Item/index.tsx
  src/features/PluginStore/InstalledList/List/index.tsx
  src/features/PluginStore/InstalledList/index.tsx
  src/features/PluginStore/McpList/List/Item.tsx
  src/features/PluginStore/PluginList/List/Item.tsx
  src/store/tool/slices/builtin/selectors.ts
Due: Store Layer

:bookmark: chore(release): v1.137.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b2/c28d081053f7ba33083b48eea02524be64b90e
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

style: update Input
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/_const/common.ts
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ModelsHeader.tsx
  apps/mobile/src/app/discover/assistant/index.tsx
  apps/mobile/src/components/Flexbox/Flexbox.tsx
  apps/mobile/src/components/Input/Input.tsx
  apps/mobile/src/components/ListGroup/ListGroup.tsx
  apps/mobile/src/components/ListItem/ListItem.tsx
  apps/mobile/src/components/ListItem/style.ts
  apps/mobile/src/features/SideBar/components/Footer/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
  apps/mobile/src/features/SideBar/index.tsx
Due: none

improve update notification
  src/features/ElectronTitlebar/UpdateModal.tsx
  src/features/ElectronTitlebar/UpdateNotification.tsx
  src/locales/default/electron.ts
Due: none

improve locale
  locales/ar/electron.json
  locales/ar/modelProvider.json
  locales/bg-BG/electron.json
  locales/bg-BG/modelProvider.json
  locales/de-DE/electron.json
  locales/de-DE/modelProvider.json
  locales/en-US/electron.json
  locales/es-ES/electron.json
  locales/es-ES/modelProvider.json
  locales/fa-IR/electron.json
  locales/fa-IR/modelProvider.json
  locales/fr-FR/electron.json
  locales/fr-FR/modelProvider.json
  locales/it-IT/electron.json
  locales/it-IT/modelProvider.json
  locales/ja-JP/electron.json
  locales/ja-JP/modelProvider.json
  locales/ko-KR/electron.json
  locales/ko-KR/modelProvider.json
  locales/nl-NL/electron.json
  locales/nl-NL/modelProvider.json
  locales/pl-PL/electron.json
  locales/pl-PL/modelProvider.json
  locales/pt-BR/electron.json
  locales/pt-BR/modelProvider.json
  locales/ru-RU/electron.json
  locales/ru-RU/modelProvider.json
  locales/tr-TR/electron.json
  locales/tr-TR/modelProvider.json
  locales/vi-VN/electron.json
  locales/vi-VN/modelProvider.json
  locales/zh-CN/electron.json
  locales/zh-TW/electron.json
  locales/zh-TW/modelProvider.json
Due: none

💄 style: improve update notification (#9717)
  locales/ar/electron.json
  locales/ar/modelProvider.json
  locales/bg-BG/electron.json
  locales/bg-BG/modelProvider.json
  locales/de-DE/electron.json
  locales/de-DE/modelProvider.json
  locales/en-US/electron.json
  locales/es-ES/electron.json
  locales/es-ES/modelProvider.json
  locales/fa-IR/electron.json
  locales/fa-IR/modelProvider.json
  locales/fr-FR/electron.json
  locales/fr-FR/modelProvider.json
  locales/it-IT/electron.json
  locales/it-IT/modelProvider.json
  locales/ja-JP/electron.json
  locales/ja-JP/modelProvider.json
  locales/ko-KR/electron.json
  locales/ko-KR/modelProvider.json
  locales/nl-NL/electron.json
  locales/nl-NL/modelProvider.json
  locales/pl-PL/electron.json
  locales/pl-PL/modelProvider.json
  locales/pt-BR/electron.json
  locales/pt-BR/modelProvider.json
  locales/ru-RU/electron.json
  locales/ru-RU/modelProvider.json
  locales/tr-TR/electron.json
  locales/tr-TR/modelProvider.json
  locales/vi-VN/electron.json
  locales/vi-VN/modelProvider.json
  locales/zh-CN/electron.json
  locales/zh-TW/electron.json
  locales/zh-TW/modelProvider.json
  src/features/ElectronTitlebar/UpdateModal.tsx
  src/features/ElectronTitlebar/UpdateNotification.tsx
  src/locales/default/electron.ts
Due: none

:bookmark: chore(release): v1.137.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7c/ef9d88ea30260e789882ba8249e13358fa68bb
Due: none

feat: 添加 Claude Haiku 4.5 模型及其相关配置
  packages/const/src/models.ts
  packages/model-bank/src/aiModels/aihubmix.ts
  packages/model-bank/src/aiModels/anthropic.ts
  packages/model-runtime/src/core/parameterResolver.ts
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

fix: 修复模型 ID 格式并移除 Llama 4 Maverick 模型
  packages/model-bank/src/aiModels/cerebras.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
Due: none

🔨 chore: mobile related server implementation pick from mobile app (#9691)
  package.json
  src/app/(backend)/trpc/mobile/[trpc]/route.ts
  src/app/[variants]/oauth/consent/[uid]/components/OAuthApplicationLogo.tsx
  src/features/ModelSelect/index.tsx
  src/libs/oidc-provider/config.ts
  src/libs/oidc-provider/jwt.ts
  src/libs/oidc-provider/provider.ts
  src/middleware.ts
  src/server/routers/mobile/index.ts
  tsconfig.json
  vitest.config.mts
Due: Server Layer, Libraries Layer

chore: form refact with Form component (#9737)
  apps/mobile/locales/ar/setting.json
  apps/mobile/locales/bg-BG/setting.json
  apps/mobile/locales/de-DE/setting.json
  apps/mobile/locales/en-US/setting.json
  apps/mobile/locales/es-ES/setting.json
  apps/mobile/locales/fa-IR/setting.json
  apps/mobile/locales/fr-FR/setting.json
  apps/mobile/locales/it-IT/setting.json
  apps/mobile/locales/ja-JP/setting.json
  apps/mobile/locales/ko-KR/setting.json
  apps/mobile/locales/nl-NL/setting.json
  apps/mobile/locales/pl-PL/setting.json
  apps/mobile/locales/pt-BR/setting.json
  apps/mobile/locales/ru-RU/setting.json
  apps/mobile/locales/tr-TR/setting.json
  apps/mobile/locales/vi-VN/setting.json
  apps/mobile/locales/zh-CN/setting.json
  apps/mobile/locales/zh-TW/setting.json
  apps/mobile/src/app/(main)/setting/developer/index.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/index.tsx
  apps/mobile/src/i18n/default/setting.ts
Due: none

style: update Model Setting
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ConfigurationSection/index.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/Content.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ModelCard.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ProviderInfoSection.tsx
  apps/mobile/src/app/(main)/setting/providers/[id]/index.tsx
  apps/mobile/src/components/Cell/Cell.tsx
  apps/mobile/src/components/Cell/type.ts
  apps/mobile/src/components/Input/Input.tsx
  apps/mobile/src/components/Input/TextArea/index.tsx
  apps/mobile/src/components/Input/demos/basic.tsx
  apps/mobile/src/components/Input/type.ts
  apps/mobile/src/components/InstantSwitch/InstantSwitch.tsx
  apps/mobile/src/components/Text/style.ts
Due: none

style: update Model Setting
  apps/mobile/src/app/(main)/setting/color/index.tsx
  apps/mobile/src/app/(main)/setting/developer/index.tsx
  apps/mobile/src/app/(main)/setting/developer/styles.ts
  apps/mobile/src/app/(main)/setting/locale/index.tsx
  apps/mobile/src/app/(main)/setting/locale/styles.ts
  apps/mobile/src/app/(main)/setting/providers/[id]/features/ModelsHeader.tsx
Due: none

fix: type check
  packages/database/src/models/__tests__/chatGroup.test.ts
  packages/database/src/models/__tests__/session.test.ts
Due: none

lint: Clear unused varibles
  src/features/ChatInput/InputEditor/index.tsx
Due: none

update
  src/features/ChatItem/type.ts
Due: none

fix
  .vscode/settings.json
  packages/database/migrations/0034_giant_callisto.sql
  src/features/ChatItem/type.ts
  src/libs/mcp/__tests__/__snapshots__/index.test.ts.snap
  src/libs/mcp/__tests__/index.test.ts
Due: Libraries Layer

fix mention
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
Due: Store Layer

fix mention
  src/features/ChatItem/ChatItem.tsx
  src/features/ChatItem/components/MessageContent.tsx
  src/features/ChatItem/type.ts
  src/features/Conversation/MarkdownElements/Mention/Render.tsx
  src/features/Conversation/MarkdownElements/Mention/index.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/User/MessageContent.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

fix: Add missing test
  packages/database/src/models/__tests__/chatGroup.test.ts
  packages/database/src/models/__tests__/message.test.ts
  packages/database/src/models/__tests__/session.test.ts
  packages/database/src/models/__tests__/topic.test.ts
Due: none

revert pglite mock
  packages/database/migrations/meta/_journal.json
  packages/web-crawler/src/crawImpl/naive.ts
  src/services/file/client.test.ts
  src/services/import/client.test.ts
  src/services/message/client.test.ts
  src/services/plugin/client.test.ts
  src/services/session/client.test.ts
  src/services/topic/pglite.test.ts
  src/services/user/client.test.ts
Due: Services Layer

opti: Better prompr
  packages/prompts/src/prompts/groupChat/index.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer

fix: Add missing test
  packages/prompts/src/prompts/chatMessages/index.test.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
