Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: Migrate Pages entry
  src/app/(backend)/trpc/desktop/[trpc]/route.ts
  src/app/[variants]/(main)/pages/_layout/Desktop.tsx
  src/app/[variants]/(main)/pages/index.tsx
  src/app/[variants]/(main)/resource/hooks/useFileCategory.ts
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/menu/CategoryMenu.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
  src/features/NavPanel/Header/components/Nav.tsx
  src/features/ResourceManager/PageExplorer/index.tsx
  src/locales/default/common.ts
  src/store/global/initialState.ts
Due: Store Layer

fix: View document
  src/app/[variants]/(main)/resource/components/LibraryMenu/CategoryMenu.tsx
  src/app/[variants]/(main)/resource/components/LibraryMenu/Head.tsx
  src/app/[variants]/(main)/resource/components/LibraryMenu/Menu.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeBaseDetail/index.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeBaseSettings/index.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/ResourceManagerProvider.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/index.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/menu/CategoryMenu.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/store/action.ts
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/store/index.ts
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/store/initialState.ts
  src/app/[variants]/(main)/resource/routes/KnowledgeHome/store/selectors.ts
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/index.tsx
  src/proxy.ts
Due: none

feat: Refactor resource routing and introduce new resource management components
  src/app/[variants]/(main)/resource/components/CategoryMenu.tsx
  src/app/[variants]/(main)/resource/components/Container.tsx
  src/app/[variants]/(main)/resource/components/KnowledgeBase.tsx
  src/app/[variants]/(main)/resource/components/RegisterHotkeys.tsx
  src/app/[variants]/(main)/resource/components/ResourceManagerProvider.tsx
  src/app/[variants]/(main)/resource/index.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeBaseSettings/index.tsx
  src/app/[variants]/(main)/resource/routes/KnowledgeBasesList/index.tsx
  src/app/[variants]/(main)/resource/store/action.ts
  src/app/[variants]/(main)/resource/store/index.ts
  src/app/[variants]/(main)/resource/store/initialState.ts
  src/app/[variants]/(main)/resource/store/selectors.ts
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/index.tsx
  src/features/ResourceManager/FileExplorer/FolderBreadcrumb.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

style: update sidebar
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Nav.tsx
Due: none

style: update sidebar
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/AgentInfo.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/SwitchPanel.tsx
Due: none

style: update sidebar
  src/app/[variants]/(main)/chat/_layout/Sidebar/Body.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/index.tsx
  src/features/NavPanel/Body/Agent/List/Group/Item.tsx
  src/features/NavPanel/Body/Agent/List/Group/index.tsx
  src/features/NavPanel/Body/Agent/index.tsx
  src/features/NavPanel/Body/Project/index.tsx
  src/features/NavPanel/Body/index.tsx
  src/features/NavPanel/Header/index.tsx
  src/features/NavPanel/NavItem.tsx
Due: none

fix: Breadcrumb
  src/features/ResourceManager/FileExplorer/FolderBreadcrumb.tsx
Due: none

style: Adjust sidebar color
  src/features/ResourceManager/PageExplorer/index.tsx
Due: none

feat: Add video file rendering support and enhance file fetching in the resource manager.
  src/features/FileViewer/Renderer/Video/index.tsx
  src/features/FileViewer/Renderer/index.ts
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/FilePreviewer/index.tsx
Due: none

style: update agent profile
  src/app/[variants]/(main)/chat/(mobile)/features/ChatHeader/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/AgentInfo.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Nav.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/index.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatHeader/HeaderAction.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/WelcomeChatItem/GroupWelcome/useTemplateMatching.ts
  src/app/[variants]/(main)/chat/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentSettingsEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentSettingsEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/SettingButton.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/SmartAgentActionButton/MarketPublishButton.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/SmartAgentActionButton/MarketPublishModal.tsx
  src/app/[variants]/(main)/chat/profile/Settings/index.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentConfigBar.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentHeader.tsx
  src/app/[variants]/(main)/chat/profile/features/AutoSaveHint.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/profile/features/MentionList/MentionDropdown.tsx
  src/app/[variants]/(main)/chat/profile/features/MentionList/index.tsx
  src/app/[variants]/(main)/chat/profile/features/MentionList/types.ts
  src/app/[variants]/(main)/chat/profile/features/MentionList/useMentionItems.tsx
  src/app/[variants]/(main)/chat/profile/features/PluginTag.tsx
  src/app/[variants]/(main)/chat/profile/features/promptTemplate.json
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/hooks/useInitAgentConfig.ts
  src/locales/default/chat.ts
  src/locales/default/common.ts
  src/store/agent/slices/chat/selectors/agent.ts
Due: Store Layer

build: Discard unused files
  src/app/[variants]/(main)/resource/hooks/useFileQueryParam.ts
  src/app/[variants]/(main)/resource/index.tsx
  src/app/[variants]/(main)/resource/shared/FileModalQueryRoute.tsx
Due: none

feat: Show breadcrumb title
  src/app/[variants]/(main)/pages/index.tsx
  src/features/ResourceManager/FileExplorer/FolderBreadcrumb.tsx
  src/features/ResourceManager/FileExplorer/index.tsx
Due: none

style: update agent profile
  src/app/[variants]/(main)/chat/profile/Settings/_layout/Desktop/Header.tsx
  src/app/[variants]/(main)/chat/profile/Settings/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
Due: none

style: update agent profile
  src/app/[variants]/(main)/chat/(mobile)/features/ChatHeader/index.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatHeader/HeaderAction.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatHeader/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/ShareButton/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/Tags/HistoryLimitTags.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/Tags/KnowledgeTag.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/Tags/MemberCountTag.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/Tags/SearchTags.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/Tags/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/index.tsx
  src/app/[variants]/(main)/chat/features/WideScreenButton.tsx
  src/app/[variants]/(main)/chat/profile/Settings/_layout/Desktop/Header.tsx
  src/app/[variants]/(main)/chat/profile/Settings/_layout/Mobile/Header.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/MarketPublishButton.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/MarketPublishModal.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/utils.ts
  src/app/[variants]/(main)/chat/profile/Settings/features/HeaderContent.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentConfigBar.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AutoSaveHint.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/MentionDropdown.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/types.ts
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/useMentionItems.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/PluginTag.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/promptTemplate.json
  src/app/[variants]/(main)/chat/profile/features/ProfileProvider.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/NavHeader/index.tsx
Due: none

🐛 fix: 优化聊天消息提取逻辑，支持从 assistantGroup 中提取内容
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
  src/features/ChatInput/ActionBar/Token/TokenTagForGroupChat.tsx
  src/store/chat/slices/message/selectors/displayMessage.test.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
Due: Store Layer

🔨 chore: add market into userSettings & save the oidc token into db (#10481)
  docs/development/database-schema.dbml
  packages/database/migrations/0051_add_market_into_user_settings.sql
  packages/database/migrations/meta/0051_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/user.ts
  packages/types/src/user/settings/index.ts
  packages/types/src/user/settings/market.ts
  src/app/[variants]/(main)/chat/settings/features/SmartAgentActionButton/MarketPublishModal.tsx
  src/hooks/useAgentOwnershipCheck.ts
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/types.ts
Due: none

feat: support market mcp endpoint to use in web
  packages/database/src/models/user.ts
  packages/types/src/tool/plugin.ts
  src/libs/mcp/client.ts
  src/libs/mcp/types.ts
  src/server/routers/lambda/market/index.ts
  src/server/routers/tools/mcp.ts
  src/server/services/discover/index.ts
  src/server/services/mcp/index.ts
  src/services/discover.ts
  src/services/mcp.ts
  src/store/tool/slices/mcpStore/action.test.ts
  src/store/tool/slices/mcpStore/action.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

support agent store
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/models/message.ts
  packages/database/src/models/topic.ts
  packages/types/src/message/db/params.ts
  packages/types/src/topic/topic.ts
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/ChatItem/OrchestratorThinking.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/ChatItem/Thread.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/ChatItem/ThreadItem.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/WelcomeChatItem/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/WelcomeChatItem/GroupWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/WelcomeChatItem/index.tsx
  src/server/routers/lambda/message.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

improve header
  src/app/[variants]/(main)/chat/features/Conversation/GroupWelcome/GroupUsageSuggest.tsx
  src/app/[variants]/(main)/chat/features/Conversation/Header/index.tsx
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🐛 fix: update apiMode handling in ChatService to prioritize user preferences
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  src/services/chat/chat.test.ts
  src/services/chat/index.ts
Due: Services Layer

refactor agent store using agentId other than sessionId
  packages/types/src/conversation.ts
  src/app/[variants]/(main)/chat/_layout/AgentIdSync.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/ByTimeMode/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/index.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/features/Conversation/store/slices/data/action.ts
  src/features/NavPanel/Body/index.tsx
  src/hooks/useCurrentContext.ts
  src/hooks/useFetchTopics.ts
  src/hooks/useInitAgentConfig.ts
  src/services/message/index.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/message/initialState.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/selectors.ts
  src/store/chat/utils/messageMapKey.test.ts
  src/store/chat/utils/messageMapKey.ts
Due: Store Layer, Services Layer

🐛 fix: Unable to switch to default topic (#10472)
  src/app/[variants]/(main)/chat/components/topic/features/Topic/TopicListContent/TopicItem/index.tsx
  src/config/modelProviders/cerebras.ts
Due: none

🌐 chore: translate non-English comments to English in model-bank (#10488)
  packages/model-bank/src/standard-parameters/index.ts
Due: none

:bookmark: chore(release): v2.0.0-next.132 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b8/1ffd488bfc0e46e8dc20c2f41e3fbaa31750e1
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

🐛 fix: betterauth name should mapped to fullname
  src/auth.ts
  src/layout/AuthProvider/BetterAuth/UserUpdater.tsx
Due: none

🐛 fix: update auth field name from 'full_name' to 'fullName' for better compatibility
  src/auth.ts
Due: none

🐛 fix: betterauth name should mapped to fullName (#10490)
  src/auth.ts
  src/layout/AuthProvider/BetterAuth/UserUpdater.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.133 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  58/027bb29bee2f4974d7ba133e0e722e5a0c143f
Due: none

LOBE-1070
  CLAUDE.md
  src/features/Conversation/store.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/store/chat/slices/aiChat/__tests__/ai-chat.integration.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/cancel-functionality.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/internals.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/message/selectors/chat.test.ts
  src/store/chat/slices/message/selectors/dbMessage.test.ts
  src/store/chat/slices/message/selectors/dbMessage.ts
  src/store/chat/slices/message/selectors/displayMessage.test.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/__tests__/integration.test.ts
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/initialState.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/operation/types.ts
Due: Store Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
