Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

🔧 chore: update config
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/__tests__/chatGroup.test.ts
  packages/database/src/models/__tests__/user.test.ts
  packages/database/src/models/agent.ts
  packages/types/src/agent/chatConfig.ts
  packages/types/src/agent/item.ts
  packages/types/src/index.ts
  packages/types/src/serverConfig.ts
  packages/types/src/tool/builtin.ts
  packages/types/src/tool/intervention.ts
  packages/types/src/util.ts
Due: none

🌐 chore: add i18n
  src/locales/default/auth.ts
  src/locales/default/chat.ts
  src/locales/default/common.ts
  src/locales/default/components.ts
  src/locales/default/discover.ts
  src/locales/default/editor.ts
  src/locales/default/error.ts
  src/locales/default/file.ts
  src/locales/default/home.ts
  src/locales/default/hotkey.ts
  src/locales/default/index.ts
  src/locales/default/knowledgeBase.ts
  src/locales/default/marketAuth.ts
  src/locales/default/memory.ts
  src/locales/default/metadata.ts
  src/locales/default/onboarding.ts
  src/locales/default/plugin.ts
  src/locales/default/setting.ts
  src/locales/default/tool.ts
  src/locales/default/topic.ts
  src/locales/default/welcome.ts
Due: none

♻️ refactor: refactor service
  src/layout/AuthProvider/Desktop/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthConfirmModal.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/ProfileSetupModal.tsx
  src/layout/AuthProvider/MarketAuth/index.ts
  src/layout/AuthProvider/MarketAuth/oidc.test.ts
  src/layout/AuthProvider/MarketAuth/oidc.ts
  src/layout/AuthProvider/MarketAuth/types.ts
  src/layout/AuthProvider/MarketAuth/useMarketUserProfile.ts
  src/layout/AuthProvider/index.tsx
  src/layout/GlobalProvider/Cmdk.tsx
  src/layout/GlobalProvider/CmdkLazy.tsx
  src/layout/GlobalProvider/StoreInitialization.tsx
  src/layout/GlobalProvider/index.tsx
  src/services/agent.ts
  src/services/chat/chat.test.ts
  src/services/chat/contextEngineering.ts
  src/services/chat/index.ts
  src/services/chat/mecha/agentConfigResolver.test.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/services/chat/mecha/clientModelRuntime.test.ts
  src/services/chat/mecha/clientModelRuntime.ts
  src/services/chat/mecha/contextEngineering.test.ts
  src/services/chat/mecha/contextEngineering.ts
  src/services/chat/mecha/index.ts
  src/services/chat/mecha/memoryManager.ts
  src/services/chat/mecha/modelParamsResolver.ts
  src/services/chatGroup/index.ts
  src/services/home/index.ts
  src/services/message/index.ts
  src/services/message/server.test.ts
  src/services/models.ts
  src/services/topic/index.ts
Due: Services Layer

♻️ refactor: refactor with electron
  src/services/mcp.test.ts
  src/services/mcp.ts
Due: Services Layer

✨ feat: onboarding ui
  packages/database/src/models/aiProvider.ts
  packages/database/src/models/chunk.ts
  packages/database/src/models/generation.ts
  packages/database/src/models/session.ts
  packages/database/src/models/user.ts
Due: none

✨ feat: agent builder and group builder
  packages/database/src/types/chatGroup.ts
  packages/prompts/src/prompts/agentBuilder/index.ts
  packages/prompts/src/prompts/agentBuilder/modelsResultsPrompt.ts
  packages/prompts/src/prompts/agentBuilder/toolsResultsPrompt.ts
  packages/prompts/src/prompts/agentGroup/__snapshots__/index.test.ts.snap
  packages/prompts/src/prompts/agentGroup/agentProfile.ts
  packages/prompts/src/prompts/agentGroup/groupContext.ts
  packages/prompts/src/prompts/agentGroup/index.test.ts
  packages/prompts/src/prompts/agentGroup/index.ts
  packages/prompts/src/prompts/index.ts
  packages/prompts/src/prompts/plugin/index.ts
  packages/types/src/discover/assistants.ts
  packages/types/src/discover/index.ts
Due: none

✨ feat: desktop feature
  src/features/DesktopOnboarding/Navigation.tsx
  src/features/DesktopOnboarding/OnboardingContainer.tsx
  src/features/DesktopOnboarding/assets/card-bg-1.webp
  src/features/DesktopOnboarding/assets/card-bg-2.webp
  src/features/DesktopOnboarding/assets/card-bg-3.webp
  src/features/DesktopOnboarding/assets/card-bg-4.webp
  src/features/DesktopOnboarding/assets/card-bg-5.webp
  src/features/DesktopOnboarding/assets/card-bg-6.webp
  src/features/DesktopOnboarding/assets/intro-video.mp4
  src/features/DesktopOnboarding/assets/lobe256.png
  src/features/DesktopOnboarding/assets/logo-text.svg
  src/features/DesktopOnboarding/common/AuthResult.tsx
  src/features/DesktopOnboarding/common/LogoBrand.tsx
  src/features/DesktopOnboarding/common/TitleSection.tsx
  src/features/DesktopOnboarding/effects/LightRays.tsx
  src/features/DesktopOnboarding/screens/Screen1.tsx
  src/features/DesktopOnboarding/screens/Screen2.tsx
  src/features/DesktopOnboarding/screens/Screen3.tsx
  src/features/DesktopOnboarding/screens/Screen4.tsx
  src/features/DesktopOnboarding/screens/Screen5.tsx
  src/features/DesktopOnboarding/storage.ts
  src/features/DesktopOnboarding/styles/index.ts
  src/features/DesktopOnboarding/styles/layout.ts
  src/features/DesktopOnboarding/styles/media.ts
  src/features/DesktopOnboarding/styles/spacing.ts
  src/features/DesktopOnboarding/styles/theme.ts
  src/features/DesktopOnboarding/styles/typography.ts
  src/features/ElectronTitlebar/Connection/ConnectionMode.tsx
  src/features/ElectronTitlebar/Connection/Waiting.tsx
  src/features/ElectronTitlebar/Connection/index.tsx
  src/features/ElectronTitlebar/hooks/useWatchThemeUpdate.ts
Due: none

✨ feat: user memory
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/routers/lambda/userMemories/index.ts
  src/server/routers/lambda/userMemories/reembed.ts
  src/server/routers/lambda/userMemories/search.ts
  src/server/routers/lambda/userMemories/shared.ts
  src/server/routers/lambda/userMemories/tools.ts
Due: Server Layer

🔧 chore: update some code
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/klavis.ts
  src/server/services/changelog/index.ts
  src/server/services/mcp/deps/checkers/NpmInstallationChecker.test.ts
  src/server/services/mcp/index.ts
  src/services/discover.ts
  src/services/user/index.ts
Due: Services Layer, Server Layer

✨ feat: support CMD K
  src/features/CommandMenu/ChatList.tsx
  src/features/CommandMenu/ContextCommands.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/README.md
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/ThemeMenu.tsx
  src/features/CommandMenu/components/CommandFooter.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
  src/features/CommandMenu/types.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/features/CommandMenu/utils/context.ts
  src/features/CommandMenu/utils/contextCommands.ts
  src/services/document/index.ts
  src/services/file/index.ts
Due: Services Layer

♻️ refactor: refactor implement
  src/server/services/nextAuthUser/index.ts
  src/services/trace.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/global/action.test.ts
  src/store/global/actions/__tests__/general.test.ts
  src/store/global/actions/general.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
  src/store/image/slices/generationBatch/action.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: agent builder
  src/app/(backend)/market/agent/[[...segments]]/route.ts
  src/app/(backend)/market/user/[username]/route.ts
  src/app/(backend)/market/user/me/route.ts
  src/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/AgentBuilder/AgentBuilderProvider.tsx
  src/features/AgentBuilder/AgentBuilderWelcome.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/AgentBuilder/index.tsx
  src/features/AgentSetting/AgentCategory/useCategory.tsx
  src/features/AgentSetting/AgentChat/index.tsx
  src/features/AgentSetting/AgentMeta/AutoGenerateAvatar.tsx
  src/features/AgentSetting/AgentMeta/AutoGenerateSelect.tsx
  src/features/AgentSetting/AgentMeta/BackgroundSwatches.tsx
  src/features/AgentSetting/AgentModal/index.tsx
  src/features/AgentSetting/AgentOpening/OpeningQuestions.tsx
  src/features/AgentSetting/AgentPlugin/AddPluginButton.tsx
  src/features/AgentSetting/AgentPlugin/LoadingList.tsx
  src/features/AgentSetting/AgentPlugin/index.tsx
  src/features/AgentSetting/AgentSettings.tsx
  src/features/AgentSetting/AgentSettingsContent.tsx
  src/features/AgentSetting/store/action.ts
  src/features/AgentSetting/store/initialState.ts
  src/features/AgentSetting/store/reducers/config.ts
  src/server/routers/lambda/market/index.ts
  src/server/services/discover/index.ts
  src/services/marketApi.ts
  src/store/discover/slices/user/action.ts
  src/store/discover/slices/user/index.ts
  src/store/discover/store.ts
Due: Store Layer, Services Layer, Server Layer

style: update tool style
  package.json
  src/features/Conversation/Messages/AssistantGroup/Tool/Actions/Settings.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Actions/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Debug/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/BuiltinPluginTitle.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/Debug.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/PluginResult.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/PluginState.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/StatusIndicator.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/ToolTitle.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tools.tsx
  src/features/Conversation/Messages/Tool/Tool/Render.tsx
  src/features/Conversation/Messages/Tool/Tool/index.tsx
  src/features/Conversation/Messages/Tool/ToolItem.tsx
  src/features/Conversation/Messages/Tool/index.tsx
  src/locales/default/plugin.ts
Due: none

fix home send message
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/userMemory/slices/base/action.ts
  src/store/userMemory/utils/searchParams.ts
Due: Store Layer

🚨 chore: fix lint
  src/store/agent/slices/knowledge/action.ts
Due: Store Layer

✨ feat: wrap ConversationArea and ModelSwitchPanel in TooltipGroup for enhanced UI
  src/app/[variants]/(main)/chat/features/Conversation/index.tsx
  src/features/ModelSwitchPanel/index.tsx
Due: none

style: update tools style
  src/app/[variants]/(main)/community/(detail)/assistant/features/Details/Overview/index.tsx
  src/app/[variants]/(main)/community/(detail)/assistant/features/Sidebar/Summary/index.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Details/Parameter/index.tsx
  src/app/[variants]/(main)/settings/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/CollapseGroup/index.tsx
  src/components/ChangelogModal/index.tsx
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/components/TodoList.tsx
  src/features/AgentSetting/AgentMeta/index.tsx
  src/features/AgentSetting/AgentPrompt/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/Intervention/ModeSelector.tsx
  src/features/Conversation/Messages/AssistantGroup/Tools.tsx
  src/features/Conversation/Messages/Tool/Inspector/BuiltinPluginTitle.tsx
  src/features/Conversation/Messages/Tool/Inspector/Debug.tsx
  src/features/Conversation/Messages/Tool/Inspector/PluginResult.tsx
  src/features/Conversation/Messages/Tool/Inspector/PluginState.tsx
  src/features/Conversation/Messages/Tool/Inspector/Settings.tsx
  src/features/Conversation/Messages/Tool/Inspector/ToolTitle.tsx
  src/features/Conversation/Messages/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/Tool/Render/Arguments/ObjectEntity.tsx
  src/features/Conversation/Messages/Tool/Render/Arguments/ValueCell.tsx
  src/features/Conversation/Messages/Tool/Render/Arguments/index.tsx
  src/features/Conversation/Messages/Tool/Render/CustomRender.tsx
  src/features/Conversation/Messages/Tool/Render/ErrorResponse.tsx
  src/features/Conversation/Messages/Tool/Render/KeyValueEditor.tsx
  src/features/Conversation/Messages/Tool/Render/PluginSettings.tsx
  src/features/Conversation/Messages/Tool/Render/index.tsx
  src/features/Conversation/Messages/Tool/ToolItem.tsx
  src/features/Conversation/Messages/Tool/index.tsx
  src/features/MCPPluginDetail/Deployment/index.tsx
  src/features/MCPPluginDetail/Overview/index.tsx
  src/features/MCPPluginDetail/Schema/Prompts.tsx
  src/features/MCPPluginDetail/Schema/Tools.tsx
  src/features/PluginStore/PluginList/Detail/Header.tsx
  src/features/PluginStore/PluginList/Detail/InstallDetail/Tools.tsx
Due: none

fix agent session group not working
  docs/development/database-schema.dbml
  packages/database/src/models/agent.ts
  packages/database/src/repositories/agentMigration/index.ts
  packages/database/src/repositories/home/index.ts
  packages/types/src/agent/item.ts
  src/server/routers/lambda/home.ts
  src/services/home/index.ts
  src/store/home/slices/sidebarUI/action.ts
Due: Store Layer, Services Layer, Server Layer

🐛 fix: fix thread not working issue
  packages/database/src/models/__tests__/messages/message.thread-query.test.ts
  packages/database/src/models/message.ts
  src/features/NavPanel/SideBarDrawer.tsx
  src/features/Portal/Thread/Chat/index.tsx
  src/server/routers/lambda/aiChat.ts
  src/server/services/aiChat/index.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/thread/selectors/index.ts
  src/store/chat/slices/thread/selectors/util.ts
Due: Store Layer, Server Layer

:bookmark: chore(release): v2.0.0-next.175 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  af/96f577ecbd88aa3865d9228611d674a11967f6
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

style: remove some memo
  src/app/[variants]/(main)/_layout/DesktopLayoutContainer.tsx
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/(main)/community/(detail)/features/SidebarContainer.tsx
  src/app/[variants]/(main)/community/_layout/index.tsx
  src/app/[variants]/(main)/community/components/CategoryContainer.tsx
  src/app/[variants]/(main)/group/_layout/index.tsx
  src/app/[variants]/(main)/group/profile/index.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/home/index.tsx
  src/app/[variants]/(main)/image/_layout/index.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
  src/app/[variants]/(main)/memory/_layout/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/app/[variants]/(main)/page/_layout/index.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/index.tsx
  src/app/[variants]/(main)/resource/_layout/index.tsx
  src/app/[variants]/(main)/resource/library/_layout/index.tsx
  src/app/[variants]/(main)/resource/library/features/Container.tsx
  src/app/[variants]/(main)/settings/_layout/index.tsx
  src/app/[variants]/(main)/settings/provider/_layout/Desktop/Container.tsx
  src/app/[variants]/(mobile)/(home)/_layout/index.tsx
  src/app/[variants]/(mobile)/_layout/index.tsx
  src/app/[variants]/(mobile)/chat/_layout/index.tsx
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

fix: improve tooltip hover behavior in ModelSelect component
  src/components/ModelSelect/index.tsx
Due: none

chore: update references from react-layout-kit to @lobehub/ui for Flexbox and Center components in documentation and rules
  .cursor/rules/packages/react-layout-kit.mdc
  .cursor/rules/project-introduce.mdc
  .cursor/rules/react.mdc
  AGENTS.md
  docs/development/basic/feature-development.mdx
  docs/development/basic/feature-development.zh-CN.mdx
Due: none

style: fix some antd v6 style issues
  package.json
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/AgentItem.tsx
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud/TagCloudCanvas.tsx
  src/app/[variants]/(main)/resource/features/FileDetail.tsx
  src/app/[variants]/(main)/settings/stats/features/AiHeatmaps.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/ListItem/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/Header/Avatar.tsx
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/components/FileParsingStatus/EmbeddingStatus.tsx
  src/components/FileParsingStatus/index.tsx
  src/components/MemberSelectionModal/MemberSelectionModal.tsx
  src/features/MCP/MCPInstallProgress/InstallError/ErrorDetails.tsx
  src/features/PlanIcon/index.tsx
  src/features/PluginDevModal/index.tsx
  src/features/PluginTag/PluginStatus.tsx
  src/features/ResourceManager/components/ChunkDrawer/SimilaritySearchList/Item.tsx
  src/features/User/PlanTag.tsx
  src/features/User/UserInfo.tsx
  src/layout/AuthProvider/MarketAuth/ProfileSetupModal.tsx
  src/tools/web-browsing/Portal/Search/ResultList/SearchItem/TitleExtra.tsx
Due: none

style: update AgentCouncil style
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatMinimap/index.tsx
  src/app/[variants]/(main)/settings/stats/features/AiHeatmaps.tsx
  src/components/Thinking/index.tsx
  src/features/ChatMiniMap/MinimapIndicator.tsx
  src/features/ChatMiniMap/index.tsx
  src/features/ChatMiniMap/styles.ts
  src/features/ChatMiniMap/types.ts
  src/features/ChatMiniMap/useMinimapData.ts
  src/features/ChatMiniMap/utils.ts
  src/features/Conversation/Markdown/plugins/LobeThinking/Render.tsx
  src/features/Conversation/Markdown/plugins/Thinking/Render.tsx
  src/features/Conversation/Messages/AgentCouncil/CouncilMember.tsx
  src/features/Conversation/Messages/AgentCouncil/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/components/Reasoning.tsx
  src/features/Conversation/components/Thinking/StatusIndicator.tsx
  src/features/Conversation/components/Thinking/Title.tsx
  src/features/Conversation/components/Thinking/index.tsx
Due: none

style: fix antd modal padding
  src/app/[variants]/(main)/image/_layout/ConfigPanel/components/MultiImagesUpload/ImageManageModal.tsx
  src/components/FunctionModal/style.tsx
  src/components/GuideModal/index.tsx
Due: none

fix: slove when first call thread, not show ai chat message
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer

🐛 fix: slove when first call thread, not show ai chat message (#10878)
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
