Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

Notes added by 'git notes add'
  ac/d5954f154ec52696775c0ba9c9456392b66740
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix: change the market base url to online market.lobehub.com
  src/app/(backend)/market/agent/[[...segments]]/route.ts
  src/app/(backend)/market/oidc/[[...segments]]/route.ts
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
Due: none

feat: update the market callback layout
  src/app/market-auth-callback/layout.tsx
Due: none

feat: Enhance LobeMinimaxAI with interleaved thinking and message processing
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/core/streams/openai/__snapshots__/responsesStream.test.ts.snap
  packages/model-runtime/src/core/streams/openai/openai.test.ts
  packages/model-runtime/src/core/streams/openai/openai.ts
  packages/model-runtime/src/providers/minimax/index.ts
  packages/model-runtime/src/providers/novita/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/providers/openai/__snapshots__/index.test.ts.snap
  packages/model-runtime/src/providers/ppio/__snapshots__/index.test.ts.snap
  src/locales/default/error.ts
Due: none

🔨 chore: change the market base url to online market.lobehub.com (#10247)
  src/app/(backend)/market/agent/[[...segments]]/route.ts
  src/app/(backend)/market/oidc/[[...segments]]/route.ts
  src/app/market-auth-callback/layout.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
Due: none

✨ feat(moonshot): 添加 Kimi K2 思考模型及其高速版本，增强聊天模型功能
  packages/model-bank/src/aiModels/moonshot.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/providers/moonshot/index.ts
Due: none

support CollapsedMessage
  packages/conversation-flow/src/__tests__/fixtures/inputs/assistant-with-tools.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/assistant-with-tools.json
  packages/conversation-flow/src/parse.ts
  packages/conversation-flow/src/transformation/FlatListBuilder.ts
  packages/types/src/message/ui/chat.ts
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Assistant/CollapsedMessage.tsx
  src/features/Conversation/Messages/Assistant/MessageContent.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/Group/Actions/WithContentId.tsx
  src/features/Conversation/Messages/Group/CollapsedMessage.tsx
  src/features/Conversation/Messages/Group/Group.tsx
  src/features/Conversation/Messages/Group/GroupContext.ts
  src/features/Conversation/Messages/Group/index.tsx
  src/features/Conversation/hooks/useChatListActionsBar.tsx
  src/locales/default/chat.ts
  src/store/chat/slices/translate/action.ts
Due: Store Layer

💄 ui: add collapse UI for assistant messages
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/hooks/useChatListActionsBar.tsx
  src/locales/default/chat.ts
Due: none

✨ feat: add message collapse functionality
  packages/types/src/message/common/metadata.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
  src/store/chat/slices/message/selectors/messageState.ts
Due: Store Layer

improve test time
  src/libs/mcp/__tests__/index.test.ts
Due: Libraries Layer

fix tests
  src/store/chat/slices/translate/action.test.ts
Due: Store Layer

refactor fixtures
  packages/conversation-flow/src/__tests__/fixtures/index.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/assistantGroup/assistant-with-tools.json
  packages/conversation-flow/src/__tests__/fixtures/inputs/assistantGroup/index.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/assistantGroup/tools-with-branches.json
  packages/conversation-flow/src/__tests__/fixtures/inputs/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/assistantGroup/assistant-with-tools.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/assistantGroup/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/assistantGroup/tools-with-branches.json
  packages/conversation-flow/src/__tests__/parse.test.ts
Due: none

update
  .github/workflows/claude-translator.yml
Due: none

improve i18n
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
Due: none

:bookmark: chore(release): v2.0.0-next.66 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  14/7975ae46f39eb04df684c0392ec7e82e8377d3
Due: none

refactor to virtua
  package.json
  src/app/[variants]/(main)/chat/components/conversation/features/ChatMinimap/index.tsx
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Group/Actions/WithContentId.tsx
  src/features/Conversation/Messages/Group/GroupItem.tsx
  src/features/Conversation/Messages/User/Actions/ActionsBar.tsx
  src/features/Conversation/Messages/index.tsx
  src/features/Conversation/components/VirtualizedList/VirtuosoContext.ts
  src/features/Conversation/components/VirtualizedList/index.tsx
  src/features/Conversation/hooks/useDoubleClickEdit.ts
Due: none

🐛 fix: the tool to fail execution on ollama when a message contains both done and tool_calls
  packages/model-runtime/src/core/streams/ollama.ts
Due: none

try virtua
  package.json
  src/app/[variants]/(main)/chat/components/conversation/features/ChatList/ChatItem/index.tsx
  src/features/ChatItem/style.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/Group/index.tsx
  src/features/Conversation/Messages/index.tsx
  src/features/Conversation/components/VirtualizedList/index.tsx
  src/features/Conversation/components/WideScreenContainer/index.tsx
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer

默认滚动到底部
  src/features/Conversation/components/VirtualizedList/index.tsx
Due: none

fix
  src/features/Conversation/components/VirtualizedList/index.tsx
Due: none

📝 docs: Add comprehensive AgentKo.si documentation for Slovenian market
  docs/agentko/AGENTKO_PROJECT_GUIDE.md
  docs/agentko/API_REFERENCE.md
  docs/agentko/PROGRESS_CHECKLIST.md
  docs/agentko/QUICK_START.md
  docs/agentko/README.md
  docs/agentko/migrations/001_add_tier_system.sql
  docs/agentko/migrations/002_add_usage_tracking.sql
Due: none

✨ feat: Implement comprehensive admin panel system for Agentko.si
  ADMIN_PANEL_IMPLEMENTATION.md
  packages/database/src/models/admin.ts
  packages/database/src/schemas/auditLog.ts
  packages/database/src/schemas/index.ts
  packages/database/src/schemas/tokenUsage.ts
  packages/database/src/schemas/user.ts
  packages/database/src/utils/idGenerator.ts
  packages/types/src/admin.ts
  packages/types/src/index.ts
  src/components/Admin/StatCard.tsx
  src/components/Admin/StatusBadge.tsx
  src/components/Admin/TierBadge.tsx
  src/components/Admin/UsageProgressBar.tsx
  src/components/Admin/index.tsx
  src/locales/default/admin.ts
  src/locales/default/index.ts
  src/server/routers/lambda/admin.ts
  src/server/routers/lambda/index.ts
  src/server/services/admin/index.ts
Due: Server Layer

♻️ refactor: refactor to virtua (#10151)
  package.json
  src/app/[variants]/(main)/chat/components/conversation/features/ChatList/ChatItem/index.tsx
  src/app/[variants]/(main)/chat/components/conversation/features/ChatMinimap/index.tsx
  src/features/ChatItem/style.ts
  src/features/Conversation/Messages/Assistant/Actions/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/Group/Actions/WithContentId.tsx
  src/features/Conversation/Messages/Group/GroupItem.tsx
  src/features/Conversation/Messages/Group/index.tsx
  src/features/Conversation/Messages/User/Actions/ActionsBar.tsx
  src/features/Conversation/Messages/index.tsx
  src/features/Conversation/components/VirtualizedList/VirtuosoContext.ts
  src/features/Conversation/components/VirtualizedList/index.tsx
  src/features/Conversation/components/WideScreenContainer/index.tsx
  src/features/Conversation/hooks/useDoubleClickEdit.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer

🐛 fix: the tool to fail execution on ollama when a message contains both done and tool_calls
  packages/model-runtime/src/core/streams/ollama.test.ts
Due: none

:bookmark: chore(release): v2.0.0-next.67 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  24/6cce28db316af12e276f9d1f52a5ed67d86006
Due: none

🐛 fix: resolve SSRF issue in video fetching; move message transformation to `context-builders`
  packages/model-runtime/src/core/contextBuilders/siliconcloud.test.ts
  packages/model-runtime/src/core/contextBuilders/siliconcloud.ts
  packages/model-runtime/src/providers/siliconcloud/index.ts
  packages/model-runtime/src/utils/videoToBase64.ts
Due: none

✨ feat: support video input for SiliconCloud models
  docs/self-hosting/environment-variables/s3.mdx
  docs/self-hosting/environment-variables/s3.zh-CN.mdx
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/siliconcloud/index.ts
Due: none

🐛 fix: update MiniMax M2 context size
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

fix
  package.json
Due: none

🐛 fix: use ssrf-safe-fetch in `videoUrlToBase64` and `imageUrlToBase64`
  packages/model-runtime/src/utils/videoToBase64.ts
Due: none

🐛 fix: fix tests
  packages/model-runtime/src/core/contextBuilders/siliconcloud.test.ts
Due: none

🐛 fix: dynamically import ssrf-safe-fetch to prevent build failures
  packages/model-runtime/src/utils/videoToBase64.ts
Due: none

Revert "🐛 fix: dynamically import ssrf-safe-fetch to prevent build failures"
  packages/model-runtime/src/utils/videoToBase64.ts
Due: none

🐛 fix: Fix TypeScript type error in admin audit log query
  packages/database/migrations/0046_chemical_gargoyle.sql
  packages/database/migrations/meta/0046_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/file-loaders/package.json
  src/server/routers/lambda/admin.ts
Due: Server Layer
