Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

style: update oidc style
  src/app/[variants]/(auth)/oauth/callback/error/page.tsx
  src/app/[variants]/(auth)/oauth/callback/success/page.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/ClientError.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Consent/BuiltinConsent.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Consent/index.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Login.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/components/OAuthApplicationLogo.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/page.tsx
  src/app/[variants]/oauth/ResultLayout.tsx
  src/app/[variants]/oauth/callback/layout.tsx
  src/app/[variants]/oauth/callback/loading.tsx
  src/app/[variants]/oauth/callback/success/page.tsx
  src/app/[variants]/oauth/consent/[uid]/ClientError.tsx
  src/app/[variants]/oauth/consent/[uid]/Consent/index.tsx
  src/app/[variants]/oauth/consent/[uid]/Login.tsx
  src/app/[variants]/oauth/consent/[uid]/components/OAuthApplicationLogo.tsx
  src/app/market-auth-callback/page.tsx
Due: none

style: Update header
  src/features/ResourceManager/FileEditor/index.tsx
Due: none

style: update market-auth-callback
  src/app/[variants]/(auth)/_layout/index.tsx
  src/app/[variants]/(auth)/auth-error/page.tsx
  src/app/[variants]/(auth)/layout.tsx
  src/app/[variants]/(auth)/loading.tsx
  src/app/[variants]/(auth)/signin/page.tsx
  src/app/[variants]/layout.tsx
  src/app/market-auth-callback/layout.tsx
  src/app/market-auth-callback/page.tsx
Due: none

refac: Clean up code
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

fix: fix home market avatar z-index
  src/app/[variants]/(main)/home/features/CommunityAgents/Item.tsx
Due: none

lint: Remove unused files
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Header/NewNoteButton.tsx
  src/features/ResourceManager/components/PageExplorer/DocumentActions.tsx
  src/features/ResourceManager/components/PageExplorer/DocumentListItem.tsx
  src/features/ResourceManager/components/PageExplorer/RenamePopover.tsx
  src/features/ResourceManager/components/PageExplorer/hooks/usePageEditor.ts
Due: none

chore: rm unused loading
  src/app/[variants]/loading/Server/Content.tsx
  src/app/[variants]/loading/Server/Redirect.tsx
  src/app/[variants]/loading/Server/index.tsx
  src/app/[variants]/loading/index.tsx
  src/app/[variants]/loading/stage.ts
Due: none

Context 情景记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  packages/database/src/repositories/userMemory/index.ts
  src/app/[variants]/(main)/memory/features/ContextCard.tsx
  src/app/[variants]/(main)/memory/features/ContextDayGroup.tsx
  src/app/[variants]/(main)/memory/features/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/features/ContextTimelineView.tsx
  src/app/[variants]/(main)/memory/features/ContextsList.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/context/action.ts
Due: Store Layer, Services Layer, Server Layer

support switch input mode
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/store/session/initialState.ts
  src/store/session/slices/homeInput/action.test.ts
  src/store/session/slices/homeInput/action.ts
  src/store/session/slices/homeInput/index.ts
  src/store/session/slices/homeInput/initialState.ts
  src/store/session/store.ts
Due: Store Layer

style: update market-auth-callback
  src/app/[variants]/(auth)/market-auth-callback/page.tsx
  src/app/market-auth-callback/layout.tsx
  src/proxy.ts
Due: none

opti: Better D & D performance
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Header/index.tsx
Due: none

refac: Reorgnize folders
  src/features/ResourceManager/components/Explorer/ItemDropdown/DropdownMenu.tsx
  src/features/ResourceManager/components/Explorer/ItemDropdown/useFileItemDropdown.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/ChunkTag.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/Skeleton.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/DefaultFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/ImageFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/MarkdownFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/NoteFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

lint: Clean up codes
  src/features/ResourceManager/index.tsx
Due: none

🔨 chore(userMemories): improved the results of memory extractor (#10636)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix build
  packages/memory-user-memory/.gitignore
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/utils/path.ts
Due: none

refac: Clean up code
  src/features/ResourceManager/components/Explorer/EmptyPlaceholder.tsx
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
Due: none

opti: Better dnd performance
  src/features/ResourceManager/components/Explorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/components/Explorer/useFileItemDropdown.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

refactor send
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/session/slices/homeInput/action.ts
Due: Store Layer

refac: Clean up code
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

try to fix build
  packages/memory-user-memory/src/services/extractAgentService.ts
Due: none

♻️ refactor(memory-user-memory): better structure, added tests, simplified executor (#10641)
  packages/database/src/models/userMemory.ts
  packages/memory-user-memory/.gitignore
  packages/memory-user-memory/package.json
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/context.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/experience.ts
  packages/memory-user-memory/src/extractors/gatekeeper.test.ts
  packages/memory-user-memory/src/extractors/gatekeeper.ts
  packages/memory-user-memory/src/extractors/identity.test.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
  packages/memory-user-memory/src/extractors/preference.ts
  packages/memory-user-memory/src/providers/chatTopic.test.ts
  packages/memory-user-memory/src/providers/chatTopic.ts
  packages/memory-user-memory/src/providers/existingUserMemory.test.ts
  packages/memory-user-memory/src/providers/existingUserMemory.ts
  packages/memory-user-memory/src/providers/index.ts
  packages/memory-user-memory/src/schemas/gatekeeper.ts
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/memory-user-memory/src/utils/path.ts
  packages/types/src/topic/topic.ts
  packages/types/src/user/settings/general.ts
  packages/types/src/userMemory/identity.ts
  packages/types/src/userMemory/layers.ts
  src/server/services/memory/userMemory/extract.ts
  src/store/userMemory/slices/identity/action.ts
Due: Store Layer, Server Layer

refactor sidebar using homeStore and agentStore
  packages/database/src/repositories/home/index.test.ts
  packages/database/src/repositories/home/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionGroupMenuItems.tsx
  src/server/routers/lambda/home.ts
  src/services/home/index.ts
  src/store/home/slices/agentList/action.ts
Due: Store Layer, Services Layer, Server Layer

home store
  src/hooks/useFetchAgentList.ts
  src/proxy.ts
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/services/home/index.ts
  src/store/agent/slices/agent/action.ts
  src/store/home/index.ts
  src/store/home/initialState.ts
  src/store/home/selectors.ts
  src/store/home/slices/agentList/action.ts
  src/store/home/slices/agentList/index.ts
  src/store/home/slices/agentList/initialState.ts
  src/store/home/slices/agentList/selectors.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/index.ts
  src/store/home/slices/homeInput/initialState.ts
  src/store/home/slices/recent/action.ts
  src/store/home/slices/recent/index.ts
  src/store/home/slices/recent/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Services Layer, Server Layer

feat: Optimize hook
  src/app/[variants]/(main)/resource/features/store/action.ts
  src/app/[variants]/(main)/resource/features/store/initialState.ts
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/BatchActionsDropdown.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/ViewSwitcher.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/index.tsx
  src/features/ResourceManager/components/Explorer/hooks/useFileSelection.ts
  src/features/ResourceManager/components/Explorer/hooks/useViewMode.ts
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

lint: Clean up coed
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/BatchActionsDropdown.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/MultiSelectActions.tsx
Due: none

refactor home page using homeStore and agentStore
  packages/database/src/repositories/home/index.ts
  packages/types/src/home.ts
  packages/types/src/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Item.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/app/[variants]/(main)/home/features/RecentPage/List.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/List.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/List.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/store/home/index.ts
  src/store/home/selectors.ts
  src/store/home/slices/agentList/selectors.ts
  src/store/home/slices/recent/index.ts
  src/store/home/slices/recent/selectors.ts
Due: Store Layer

style: update memory GroupedVirtuoso
  src/app/[variants]/(main)/discover/components/VirtuosoGridList/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/useScrollParent.ts
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/List.tsx
  src/features/PluginStore/InstalledList/List/index.tsx
  src/features/PluginStore/McpList/List/index.tsx
  src/features/PluginStore/PluginList/List/index.tsx
Due: none

Home Repo
  packages/database/src/repositories/home/index.test.ts
  packages/database/src/repositories/home/index.ts
  src/server/routers/lambda/home.ts
  src/server/routers/lambda/index.ts
Due: Server Layer

style: update memory card
  src/app/[variants]/(main)/memory/contexts/features/List/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/ContextCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/ExperienceDrawer.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/MasonryCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/useCateColor.ts
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/PreferenceDrawer.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/PreferenceCard.tsx
Due: none

style: update memory
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/ContextCard.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/GridView/index.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/features/SourceLink.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/ViewModeSwitcher.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/MemoryCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/MonthGroup.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
Due: none

style: update memory card
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/ContextCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/HashTags.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/MasonryCard.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/features/ProgressIcon.tsx
  src/app/[variants]/(main)/memory/features/SourceLink.tsx
  src/app/[variants]/(main)/memory/features/Time.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/MemoryCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
Due: none

✅ test(database): document model delete all (#10644)
  packages/database/src/models/__tests__/document.test.ts
Due: none

refactor agent using homeStore and agentStore
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Item.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/GroupItem.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/CreateGroupModal.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/home/initialState.ts
  src/store/home/slices/sidebarUI/action.test.ts
  src/store/home/slices/sidebarUI/action.ts
  src/store/home/slices/sidebarUI/index.ts
  src/store/home/slices/sidebarUI/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Server Layer

refactor Conversation with agentStore
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/Conversation/hooks/index.ts
  src/features/Conversation/hooks/useAgentMeta.test.ts
  src/features/Conversation/hooks/useAgentMeta.ts
Due: none

style: fix auth card
  locales/en-US/auth.json
  src/features/AuthCard/index.tsx
Due: none

improve start input action
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
Due: none

feat: Page copilot
  packages/builtin-agents/src/agents/page-agent/index.ts
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/TopicSeletor.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/StoreUpdater.tsx
  src/locales/default/plugin.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/store/chat/slices/operation/types.ts
  src/tools/document/ExecutionRuntime/index.ts
  src/tools/document/index.ts
  src/tools/document/systemRole.ts
  src/tools/document/type.ts
Due: Store Layer

fix create agent flow
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/hooks/useInitBuiltinAgent.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/initialState.ts
Due: Store Layer
