Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

:bookmark: chore(release): v2.0.0-next.70 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  41/c554d748bc1fd05476904b9c892f57b9e0d953
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix: Duplicated import
  packages/database/src/schemas/file.ts
Due: none

fix: Circular deps
  packages/database/src/schemas/file.ts
  packages/database/src/schemas/rag.ts
  packages/database/src/schemas/relations.ts
Due: none

style(): update qiniu.ts
  packages/model-bank/src/aiModels/qiniu.ts
Due: none

fix: add router ErrorBoundary
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/components/BootErrorBoundary/index.tsx
Due: none

test: test the loading error
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/desktopRouter.config.tsx
Due: none

fix: try to fixed
  src/app/[variants]/desktopRouter.config.tsx
  src/layout/GlobalProvider/StoreInitialization.tsx
  src/store/global/initialState.ts
  src/store/user/slices/common/action.ts
Due: Store Layer

fix: test mobile
  src/app/[variants]/mobileRouter.config.tsx
Due: none

fix desktop
  src/features/User/UserPanel/PanelContent.tsx
Due: none

feat: add loading back
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
Due: none

🐛 fix: fix desktop user panel (#10272)
  src/features/User/UserPanel/PanelContent.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.71 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7a/fd1318dbd899d15ceb7295b40ab712224affad
Due: none

💄 style: Add model information for the Qiniu provider (#10270)
  packages/model-bank/src/aiModels/qiniu.ts
Due: none

:bookmark: chore(release): v2.0.0-next.72 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8b/5fc3656bb40eba30538bc8a5242d53a2392b25
Due: none

refactor to support split topic running
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/workflow.ts
Due: Store Layer

refactor to support split topic running
  src/services/message/index.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
Due: Store Layer, Services Layer

add
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/plugin/actions/workflow.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer

📝 docs(bot): Auto sync agents & plugin to readme
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/components/BootErrorBoundary/index.tsx
  src/layout/GlobalProvider/StoreInitialization.tsx
Due: none

support loading
  src/app/[variants]/(main)/chat/components/topic/features/Topic/TopicListContent/TopicItem/TopicContent.tsx
  src/store/chat/agents/createAgentExecutors.ts
Due: Store Layer

fix tests
  src/app/[variants]/(main)/chat/components/topic/features/Topic/TopicListContent/TopicItem/TopicContent.tsx
  src/app/[variants]/layout.tsx
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
Due: Store Layer

fix tests
  src/store/chat/slices/message/action.test.ts
Due: Store Layer

fix getDbMessageById
  src/store/chat/slices/message/selectors/dbMessage.ts
Due: Store Layer

✨ feat: support parallel topic agent runtime (#10273)
  src/app/[variants]/(main)/chat/components/topic/features/Topic/TopicListContent/TopicItem/TopicContent.tsx
  src/app/[variants]/layout.tsx
  src/services/message/index.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/message/selectors/dbMessage.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/chat/slices/plugin/actions/workflow.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer, Services Layer

:bookmark: chore(release): v2.0.0-next.73 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2c/edca58fe4641ec7eaa002df1a511d09900ff22
Due: none

fix desktop build
  .github/workflows/desktop-pr-build.yml
Due: none

Revert "fix desktop build"
  .github/workflows/desktop-pr-build.yml
Due: none

🔨 chore: update desktop build workflow (#10276)
  .github/workflows/desktop-pr-build.yml
Due: none

fix desktop build
  scripts/prebuild.mts
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/app/[variants]/page.tsx
Due: none

improve hover state
  src/features/Conversation/Messages/Group/Tool/Inspector/index.tsx
Due: none
