Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

✨ feat: implement builtin agents packages
  packages/builtin-agents/package.json
  packages/builtin-agents/src/agents/group-supervisor/index.ts
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/builtin-agents/src/agents/group-supervisor/type.ts
  packages/builtin-agents/src/agents/inbox/index.ts
  packages/builtin-agents/src/agents/inbox/systemRole.ts
  packages/builtin-agents/src/agents/page-agent/README.md
  packages/builtin-agents/src/agents/page-agent/index.ts
  packages/builtin-agents/src/agents/page-agent/systemRole.ts
  packages/builtin-agents/src/index.ts
  packages/builtin-agents/src/types.ts
Due: none

✨ feat: implement agent builder
  packages/builtin-agents/src/agents/agent-builder/index.ts
  packages/builtin-agents/src/agents/agent-builder/systemRole.ts
  packages/builtin-agents/src/agents/group-agent-builder/index.ts
  packages/builtin-agents/src/agents/group-agent-builder/systemRole.ts
  packages/builtin-tool-agent-builder/package.json
  packages/builtin-tool-agent-builder/src/ExecutionRuntime/index.ts
  packages/builtin-tool-agent-builder/src/client/Intervention/InstallPlugin.tsx
  packages/builtin-tool-agent-builder/src/client/Intervention/index.ts
  packages/builtin-tool-agent-builder/src/client/Render/GetAvailableModels.tsx
  packages/builtin-tool-agent-builder/src/client/Render/InstallPlugin.tsx
  packages/builtin-tool-agent-builder/src/client/Render/SearchMarketTools.tsx
  packages/builtin-tool-agent-builder/src/client/Render/UpdateConfig.tsx
  packages/builtin-tool-agent-builder/src/client/Render/UpdatePrompt.tsx
  packages/builtin-tool-agent-builder/src/client/Render/components/ConfigCard.tsx
  packages/builtin-tool-agent-builder/src/client/Render/components/ConfigDiffView.tsx
  packages/builtin-tool-agent-builder/src/client/Render/index.ts
  packages/builtin-tool-agent-builder/src/client/index.ts
  packages/builtin-tool-agent-builder/src/index.ts
  packages/builtin-tool-agent-builder/src/manifest.ts
  packages/builtin-tool-agent-builder/src/systemRole.ts
  packages/builtin-tool-agent-builder/src/types.ts
  packages/builtin-tool-group-agent-builder/package.json
  packages/builtin-tool-group-agent-builder/src/ExecutionRuntime/index.ts
  packages/builtin-tool-group-agent-builder/src/index.ts
  packages/builtin-tool-group-agent-builder/src/manifest.ts
  packages/builtin-tool-group-agent-builder/src/systemRole.ts
  packages/builtin-tool-group-agent-builder/src/types.ts
Due: none

♻️ refactor: refactor local-system
  packages/builtin-tool-local-system/package.json
  packages/builtin-tool-local-system/src/ExecutionRuntime/index.ts
  packages/builtin-tool-local-system/src/index.ts
  packages/builtin-tool-local-system/src/manifest.ts
  packages/builtin-tool-local-system/src/systemRole.ts
  packages/builtin-tool-local-system/src/types.ts
  packages/const/src/protocol.ts
  packages/const/src/utils/merge.ts
  packages/utils/src/client/parserPlaceholder.ts
  packages/utils/src/difference.ts
  packages/utils/src/folderStructure.ts
  packages/utils/src/format.ts
  packages/utils/src/index.ts
  packages/utils/src/merge.ts
  packages/utils/src/object.ts
  packages/utils/src/promptTemplate.ts
  packages/utils/src/server/index.ts
  packages/utils/src/server/sse.ts
  packages/utils/vitest.config.mts
  src/const/messageActionPortal.ts
  src/proxy.ts
  src/tools/local-system/ExecutionRuntime/index.ts
  src/tools/local-system/Intervention/EditLocalFile/index.tsx
  src/tools/local-system/Intervention/index.ts
  src/tools/local-system/Placeholder/ListFiles.tsx
  src/tools/local-system/Placeholder/SearchFiles.tsx
  src/tools/local-system/Render/EditLocalFile/index.tsx
  src/tools/local-system/Render/ListFiles/Result.tsx
  src/tools/local-system/Render/ListFiles/index.tsx
  src/tools/local-system/Render/ReadLocalFile/ReadFileSkeleton.tsx
  src/tools/local-system/Render/ReadLocalFile/index.tsx
  src/tools/local-system/Render/RenameLocalFile/index.tsx
  src/tools/local-system/Render/SearchFiles/Result.tsx
  src/tools/local-system/Render/SearchFiles/SearchQuery/index.tsx
  src/tools/local-system/Render/SearchFiles/index.tsx
  src/tools/local-system/Render/WriteFile/index.tsx
  src/tools/local-system/Render/index.ts
  src/tools/local-system/systemRole.ts
Due: none

♻️ refactor: refactor with es-toolkit
  packages/model-runtime/docs/test-coverage.md
  packages/model-runtime/src/core/streams/protocol.test.ts
  packages/model-runtime/src/core/streams/protocol.ts
  packages/model-runtime/src/providers/fal/index.ts
  packages/model-runtime/src/providers/higress/index.ts
  packages/model-runtime/src/types/chat.ts
  packages/model-runtime/src/utils/postProcessModelList.ts
  src/utils/server/routeVariants.ts
Due: Utils Layer

✨ feat: add user memory
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory.ts
  packages/database/src/models/userMemory/context.ts
  packages/database/src/models/userMemory/experience.ts
  packages/database/src/models/userMemory/identity.ts
  packages/database/src/models/userMemory/index.ts
  packages/database/src/models/userMemory/model.ts
  packages/database/src/models/userMemory/preference.ts
  packages/database/src/repositories/userMemory/index.ts
  packages/types/src/userMemory/base.ts
  packages/types/src/userMemory/identity.ts
  packages/types/src/userMemory/index.ts
  packages/types/src/userMemory/layers.ts
  packages/types/src/userMemory/list.ts
  packages/types/src/userMemory/server.ts
  packages/types/src/userMemory/shared.ts
  packages/types/src/userMemory/tools.ts
  packages/types/src/userMemory/trace.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

✨ feat: user onboarding
  packages/const/src/settings/agent.ts
  packages/const/src/settings/common.ts
  packages/const/src/settings/group.ts
  packages/const/src/settings/index.ts
  packages/const/src/settings/memory.ts
  packages/types/src/user/preference.ts
  packages/types/src/user/settings/general.ts
  packages/types/src/user/settings/index.ts
  packages/types/src/user/settings/memory.ts
  src/store/user/initialState.ts
  src/store/user/selectors.ts
  src/store/user/slices/auth/selectors.test.ts
  src/store/user/slices/auth/selectors.ts
  src/store/user/slices/common/action.test.ts
  src/store/user/slices/common/action.ts
  src/store/user/slices/common/initialState.ts
  src/store/user/slices/onboarding/action.ts
  src/store/user/slices/onboarding/initialState.ts
  src/store/user/slices/onboarding/selectors.ts
  src/store/user/slices/preference/selectors.test.ts
  src/store/user/slices/preference/selectors/labPrefer.ts
  src/store/user/slices/preference/selectors/preference.ts
  src/store/user/slices/settings/selectors/__snapshots__/settings.test.ts.snap
  src/store/user/slices/settings/selectors/general.test.ts
  src/store/user/slices/settings/selectors/general.ts
  src/store/user/slices/settings/selectors/settings.ts
  src/store/user/store.ts
Due: Store Layer

♻️ refactor: clean desktop relative code
  src/app/(backend)/trpc/desktop/[trpc]/route.ts
  src/app/(backend)/trpc/trpc.test.ts
  src/app/__tests__/desktop.routes.test.ts
  src/libs/mcp/__tests__/index.test.ts
  src/libs/trpc/client/async.ts
  src/libs/trpc/client/desktop.ts
  src/libs/trpc/client/index.ts
  src/libs/trpc/client/lambda.ts
  src/libs/trpc/client/tools.ts
  src/server/routers/desktop/index.ts
  src/server/routers/desktop/mcp.ts
  src/server/routers/desktop/pgTable.ts
  src/services/electron/localFileService.ts
  src/store/electron/actions/sync.ts
  src/store/electron/initialState.ts
  src/types/global.d.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer

✨ feat: code-interpreter tool
  src/services/codeInterpreter.ts
  src/store/urlHydration/action.ts
  src/store/urlHydration/index.ts
  src/store/urlHydration/initialState.ts
  src/store/urlHydration/store.ts
  src/tools/code-interpreter-draft/Render/components/ResultFileGallery.tsx
  src/tools/code-interpreter-draft/Render/components/ResultFileItem.tsx
  src/tools/code-interpreter-draft/Render/index.tsx
  src/tools/code-interpreter-draft/index.ts
  src/tools/code-interpreter/ExecutionRuntime/index.ts
  src/tools/code-interpreter/Intervention/EditLocalFile/index.tsx
  src/tools/code-interpreter/Intervention/ExecuteCode/index.tsx
  src/tools/code-interpreter/Intervention/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Intervention/RunCommand/index.tsx
  src/tools/code-interpreter/Intervention/WriteFile/index.tsx
  src/tools/code-interpreter/Intervention/index.ts
  src/tools/code-interpreter/Render/EditLocalFile/index.tsx
  src/tools/code-interpreter/Render/ExecuteCode/index.tsx
  src/tools/code-interpreter/Render/ExportFile/index.tsx
  src/tools/code-interpreter/Render/ListFiles/index.tsx
  src/tools/code-interpreter/Render/MoveLocalFiles/index.tsx
  src/tools/code-interpreter/Render/ReadLocalFile/index.tsx
  src/tools/code-interpreter/Render/RunCommand/index.tsx
  src/tools/code-interpreter/Render/SearchFiles/index.tsx
  src/tools/code-interpreter/Render/WriteFile/index.tsx
  src/tools/code-interpreter/Render/index.ts
  src/tools/code-interpreter/index.ts
  src/tools/code-interpreter/systemRole.ts
  src/tools/code-interpreter/type.ts
  src/utils/router.tsx
Due: Store Layer, Services Layer, Utils Layer

✨ feat: code-interpreter tool
  src/store/tool/slices/klavisStore/selectors.ts
Due: Store Layer

✨ feat: code-interpreter tool
  src/server/routers/tools/codeInterpreter.ts
  src/server/routers/tools/index.ts
Due: Server Layer

🔧 chore: clean code
  packages/types/package.json
  src/services/_url.ts
  src/services/tableViewer/client.ts
  src/services/tableViewer/desktop.ts
  src/services/tableViewer/index.ts
Due: Services Layer

✨ feat: add memory implement
  src/server/globalConfig/index.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/modules/S3/index.test.ts
  src/server/modules/S3/index.ts
  src/services/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/index.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/selectors.ts
  src/store/userMemory/slices/base/action.ts
  src/store/userMemory/slices/base/index.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/context/index.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/experience/index.ts
  src/store/userMemory/slices/home/action.ts
  src/store/userMemory/slices/home/index.ts
  src/store/userMemory/slices/identity/action.ts
  src/store/userMemory/slices/identity/index.ts
  src/store/userMemory/slices/preference/action.ts
  src/store/userMemory/slices/preference/index.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/store/userMemory/utils/searchParams.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: file search feature
  packages/const/src/hotkeys.ts
  packages/database/src/models/document.ts
  packages/database/src/models/file.ts
  packages/database/src/repositories/knowledge/index.ts
  packages/database/src/repositories/search/index.test.ts
  packages/database/src/repositories/search/index.ts
  packages/types/src/document/index.ts
  packages/types/src/hotkey.ts
  src/components/DMTag/export.ts
  src/components/DMTag/index.tsx
  src/components/Editor/AutoSaveHint.tsx
  src/components/KnowledgeIcon/index.tsx
  src/components/TodoList.tsx
  src/server/routers/lambda/document.ts
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/search.ts
  src/server/services/document/index.ts
  src/server/services/search/index.ts
Due: Server Layer

♻️ refactor: tools ui
  src/tools/executionRuntimes.ts
  src/tools/identifiers.ts
  src/tools/index.ts
  src/tools/interventions.ts
  src/tools/placeholders.ts
  src/tools/renders.ts
  src/tools/web-browsing/Placeholder/Search.tsx
  src/tools/web-browsing/Portal/Search/index.tsx
  src/tools/web-browsing/Portal/index.tsx
  src/tools/web-browsing/Render/PageContent/Loading.tsx
  src/tools/web-browsing/Render/Search/SearchQuery/SearchView.tsx
  src/tools/web-browsing/Render/Search/SearchQuery/index.tsx
  src/tools/web-browsing/Render/Search/SearchResult/index.tsx
Due: none

✨ feat: user memory
  packages/const/src/userMemory.ts
  packages/database/src/repositories/aiInfra/index.ts
  packages/database/src/schemas/userMemories.ts
  packages/database/src/utils/columns.ts
  packages/prompts/src/prompts/index.ts
  packages/prompts/src/prompts/messagesToText/__snapshots__/index.test.ts.snap
  packages/prompts/src/prompts/messagesToText/index.test.ts
  packages/prompts/src/prompts/messagesToText/index.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemory.ts
  src/server/services/file/impls/s3.test.ts
  src/server/services/file/impls/s3.ts
Due: Server Layer

✅ tests: refactor tests
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/__tests__/messages/message.update.test.ts
  packages/database/src/models/__tests__/messages/messageWithTask.test.ts
  packages/database/src/models/__tests__/messages/queryWithMessageGroup.test.ts
  packages/database/src/models/__tests__/thread.test.ts
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/models/__tests__/topics/topic.create.test.ts
  packages/database/src/models/__tests__/topics/topic.delete.test.ts
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/__tests__/topics/topic.stats.test.ts
  packages/database/src/models/__tests__/topics/topic.update.test.ts
Due: none

♻️ refactor: refactor hooks
  src/hooks/useActiveTabKey.ts
  src/hooks/useFetchAgentList.ts
  src/hooks/useFetchGroups.ts
  src/hooks/useFetchMessages.ts
  src/hooks/useFetchTopics.test.ts
  src/hooks/useFetchTopics.ts
  src/hooks/useHotkeys/chatScope.ts
  src/hooks/useHotkeys/filesScope.ts
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/useHotkeys/imageScope.ts
  src/hooks/useHotkeys/useHotkeyById.test.ts
  src/hooks/useHotkeys/useHotkeyById.ts
  src/hooks/useImgToClipboard.ts
  src/hooks/useInitAgentConfig.ts
  src/hooks/useInitBuiltinAgent.ts
  src/hooks/useInitGroupConfig.ts
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/hooks/useInterceptingRoutes.test.ts
  src/hooks/useInterceptingRoutes.ts
  src/hooks/useModelHasContextWindowToken.ts
  src/hooks/useNavigateToAgent.ts
  src/hooks/useOperationState.test.ts
  src/hooks/useOperationState.ts
  src/hooks/usePinnedAgentState.ts
  src/hooks/useQueryRoute.ts
  src/hooks/useShare.tsx
  src/hooks/useSwitchSession.ts
  src/hooks/useTTS.ts
  src/hooks/useTokenCount.ts
Due: none

♻️ refactor: refactor service
  src/layout/AuthProvider/Desktop/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthConfirmModal.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/ProfileSetupModal.tsx
  src/layout/AuthProvider/MarketAuth/index.ts
  src/layout/AuthProvider/MarketAuth/oidc.test.ts
  src/layout/AuthProvider/MarketAuth/oidc.ts
  src/layout/AuthProvider/MarketAuth/types.ts
  src/layout/AuthProvider/MarketAuth/useMarketUserProfile.ts
  src/layout/AuthProvider/index.tsx
  src/layout/GlobalProvider/Cmdk.tsx
  src/layout/GlobalProvider/CmdkLazy.tsx
  src/layout/GlobalProvider/StoreInitialization.tsx
  src/layout/GlobalProvider/index.tsx
  src/services/agent.ts
  src/services/chat/chat.test.ts
  src/services/chat/contextEngineering.ts
  src/services/chat/index.ts
  src/services/chat/mecha/agentConfigResolver.test.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/services/chat/mecha/clientModelRuntime.test.ts
  src/services/chat/mecha/clientModelRuntime.ts
  src/services/chat/mecha/contextEngineering.test.ts
  src/services/chat/mecha/contextEngineering.ts
  src/services/chat/mecha/index.ts
  src/services/chat/mecha/memoryManager.ts
  src/services/chat/mecha/modelParamsResolver.ts
  src/services/chatGroup/index.ts
  src/services/home/index.ts
  src/services/message/index.ts
  src/services/message/server.test.ts
  src/services/models.ts
  src/services/topic/index.ts
Due: Services Layer

✨ feat: onboarding ui
  packages/database/src/models/aiProvider.ts
  packages/database/src/models/chunk.ts
  packages/database/src/models/generation.ts
  packages/database/src/models/session.ts
  packages/database/src/models/user.ts
Due: none

♻️ refactor: clean code
  packages/database/src/repositories/dataImporter/__tests__/fixtures/agentsToSessions.json
  packages/database/src/repositories/dataImporter/__tests__/fixtures/with-client-id.json
  packages/database/src/repositories/dataImporter/deprecated/__tests__/fixtures/messages.json
  packages/database/src/repositories/dataImporter/deprecated/__tests__/index.test.ts
Due: none

✨ feat: agent builder and group builder
  packages/database/src/types/chatGroup.ts
  packages/prompts/src/prompts/agentBuilder/index.ts
  packages/prompts/src/prompts/agentBuilder/modelsResultsPrompt.ts
  packages/prompts/src/prompts/agentBuilder/toolsResultsPrompt.ts
  packages/prompts/src/prompts/agentGroup/__snapshots__/index.test.ts.snap
  packages/prompts/src/prompts/agentGroup/agentProfile.ts
  packages/prompts/src/prompts/agentGroup/groupContext.ts
  packages/prompts/src/prompts/agentGroup/index.test.ts
  packages/prompts/src/prompts/agentGroup/index.ts
  packages/prompts/src/prompts/index.ts
  packages/prompts/src/prompts/plugin/index.ts
  packages/types/src/discover/assistants.ts
  packages/types/src/discover/index.ts
Due: none

🔧 chore: update config
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/__tests__/chatGroup.test.ts
  packages/database/src/models/__tests__/user.test.ts
  packages/database/src/models/agent.ts
  packages/types/src/agent/chatConfig.ts
  packages/types/src/agent/item.ts
  packages/types/src/index.ts
  packages/types/src/serverConfig.ts
  packages/types/src/tool/builtin.ts
  packages/types/src/tool/intervention.ts
  packages/types/src/util.ts
Due: none

💄 style: update ui
  src/components/Analytics/MainInterfaceTracker.tsx
  src/components/Branding/ProductLogo/index.tsx
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/VersionTag.tsx
  src/components/ChangelogModal/index.tsx
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/components/DragUpload/useDragUpload.test.tsx
  src/components/EmojiPicker/index.tsx
  src/components/Error/Description.tsx
  src/components/InvalidAPIKey/APIKeyForm/index.tsx
  src/components/InvalidAPIKey/Bedrock.tsx
  src/components/InvalidAPIKey/ComfyUIForm.tsx
  src/components/InvalidAPIKey/LoadingContext.ts
  src/components/InvalidAPIKey/ProviderApiKeyForm.tsx
  src/components/InvalidAPIKey/__tests__/ComfyUIForm.test.tsx
  src/components/InvalidAPIKey/index.tsx
  src/components/InvalidAPIKey/useApiKey.ts
  src/components/LabsModal/Hero.tsx
  src/components/LabsModal/LabCard.tsx
  src/components/LabsModal/index.tsx
  src/components/LibIcon/index.tsx
  src/components/Loading/BrandTextLoading/index.tsx
  src/components/Loading/SkeletonLoading/index.tsx
  src/components/MemberSelectionModal/MemberSelectionModal.tsx
  src/components/ModelSelect/NewModelBadge.tsx
  src/components/ModelSelect/index.tsx
  src/components/NextAuth/AuthIcons.tsx
  src/components/OllamaSetupGuide/index.tsx
  src/components/Plugins/PluginAvatar.tsx
  src/components/RepoIcon/index.tsx
  src/components/SidebarHeader/index.tsx
  src/components/Skeleton/SkeletonInput.tsx
  src/components/Skeleton/SkeletonSwitch.tsx
  src/components/Thinking/index.tsx
Due: none

♻️ refactor: refactor with electron
  src/services/mcp.test.ts
  src/services/mcp.ts
Due: Services Layer

🌐 chore: add i18n
  src/locales/default/auth.ts
  src/locales/default/chat.ts
  src/locales/default/common.ts
  src/locales/default/components.ts
  src/locales/default/discover.ts
  src/locales/default/editor.ts
  src/locales/default/error.ts
  src/locales/default/file.ts
  src/locales/default/home.ts
  src/locales/default/hotkey.ts
  src/locales/default/index.ts
  src/locales/default/knowledgeBase.ts
  src/locales/default/marketAuth.ts
  src/locales/default/memory.ts
  src/locales/default/metadata.ts
  src/locales/default/onboarding.ts
  src/locales/default/plugin.ts
  src/locales/default/setting.ts
  src/locales/default/tool.ts
  src/locales/default/topic.ts
  src/locales/default/welcome.ts
Due: none

✨ feat: agent builder
  src/app/(backend)/market/agent/[[...segments]]/route.ts
  src/app/(backend)/market/user/[username]/route.ts
  src/app/(backend)/market/user/me/route.ts
  src/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/AgentBuilder/AgentBuilderProvider.tsx
  src/features/AgentBuilder/AgentBuilderWelcome.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/AgentBuilder/index.tsx
  src/features/AgentSetting/AgentCategory/useCategory.tsx
  src/features/AgentSetting/AgentChat/index.tsx
  src/features/AgentSetting/AgentMeta/AutoGenerateAvatar.tsx
  src/features/AgentSetting/AgentMeta/AutoGenerateSelect.tsx
  src/features/AgentSetting/AgentMeta/BackgroundSwatches.tsx
  src/features/AgentSetting/AgentModal/index.tsx
  src/features/AgentSetting/AgentOpening/OpeningQuestions.tsx
  src/features/AgentSetting/AgentPlugin/AddPluginButton.tsx
  src/features/AgentSetting/AgentPlugin/LoadingList.tsx
  src/features/AgentSetting/AgentPlugin/index.tsx
  src/features/AgentSetting/AgentSettings.tsx
  src/features/AgentSetting/AgentSettingsContent.tsx
  src/features/AgentSetting/store/action.ts
  src/features/AgentSetting/store/initialState.ts
  src/features/AgentSetting/store/reducers/config.ts
  src/server/routers/lambda/market/index.ts
  src/server/services/discover/index.ts
  src/services/marketApi.ts
  src/store/discover/slices/user/action.ts
  src/store/discover/slices/user/index.ts
  src/store/discover/store.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: user memory
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/routers/lambda/userMemories/index.ts
  src/server/routers/lambda/userMemories/reembed.ts
  src/server/routers/lambda/userMemories/search.ts
  src/server/routers/lambda/userMemories/shared.ts
  src/server/routers/lambda/userMemories/tools.ts
Due: Server Layer

✨ feat: desktop feature
  src/features/DesktopOnboarding/Navigation.tsx
  src/features/DesktopOnboarding/OnboardingContainer.tsx
  src/features/DesktopOnboarding/assets/card-bg-1.webp
  src/features/DesktopOnboarding/assets/card-bg-2.webp
  src/features/DesktopOnboarding/assets/card-bg-3.webp
  src/features/DesktopOnboarding/assets/card-bg-4.webp
  src/features/DesktopOnboarding/assets/card-bg-5.webp
  src/features/DesktopOnboarding/assets/card-bg-6.webp
  src/features/DesktopOnboarding/assets/intro-video.mp4
  src/features/DesktopOnboarding/assets/lobe256.png
  src/features/DesktopOnboarding/assets/logo-text.svg
  src/features/DesktopOnboarding/common/AuthResult.tsx
  src/features/DesktopOnboarding/common/LogoBrand.tsx
  src/features/DesktopOnboarding/common/TitleSection.tsx
  src/features/DesktopOnboarding/effects/LightRays.tsx
  src/features/DesktopOnboarding/screens/Screen1.tsx
  src/features/DesktopOnboarding/screens/Screen2.tsx
  src/features/DesktopOnboarding/screens/Screen3.tsx
  src/features/DesktopOnboarding/screens/Screen4.tsx
  src/features/DesktopOnboarding/screens/Screen5.tsx
  src/features/DesktopOnboarding/storage.ts
  src/features/DesktopOnboarding/styles/index.ts
  src/features/DesktopOnboarding/styles/layout.ts
  src/features/DesktopOnboarding/styles/media.ts
  src/features/DesktopOnboarding/styles/spacing.ts
  src/features/DesktopOnboarding/styles/theme.ts
  src/features/DesktopOnboarding/styles/typography.ts
  src/features/ElectronTitlebar/Connection/ConnectionMode.tsx
  src/features/ElectronTitlebar/Connection/Waiting.tsx
  src/features/ElectronTitlebar/Connection/index.tsx
  src/features/ElectronTitlebar/hooks/useWatchThemeUpdate.ts
Due: none

♻️ refactor: refactor implement
  src/server/services/nextAuthUser/index.ts
  src/services/trace.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/global/action.test.ts
  src/store/global/actions/__tests__/general.test.ts
  src/store/global/actions/general.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
  src/store/image/slices/generationBatch/action.ts
Due: Store Layer, Services Layer, Server Layer
