Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix tests
  vitest.config.ts
Due: none

chore: modify Markdown styles and Tag style
  apps/mobile/app/(main)/chat/(components)/ChatList/index.tsx
  apps/mobile/src/components/Markdown/data.ts
  apps/mobile/src/components/Markdown/demos/advanced.tsx
  apps/mobile/src/components/Markdown/demos/basic.tsx
  apps/mobile/src/components/Markdown/demos/data.ts
  apps/mobile/src/components/Markdown/demos/math.tsx
  apps/mobile/src/components/Markdown/demos/styling.tsx
  apps/mobile/src/components/Markdown/index.tsx
  apps/mobile/src/components/Tag/demos/colors.tsx
  apps/mobile/src/components/Tag/style.ts
  apps/mobile/src/theme/ThemeProvider/context.tsx
Due: none

feat: Tag support color prop
  apps/mobile/src/components/Tag/__tests__/Tag.test.tsx
  apps/mobile/src/components/Tag/demos/colors.tsx
  apps/mobile/src/components/Tag/index.tsx
  apps/mobile/src/components/Tag/style.ts
Due: none

chore: 优化 playground Card style
  apps/mobile/app/playground/styles.ts
Due: none

feat: Tag Component support preset color
  apps/mobile/app/playground/components/tag.tsx
  apps/mobile/src/components/Tag/demo.tsx
  apps/mobile/src/components/Tag/demos/border.tsx
  apps/mobile/src/components/Tag/demos/index.ts
  apps/mobile/src/components/Tag/demos/preset.tsx
  apps/mobile/src/components/Tag/index.tsx
  apps/mobile/src/components/Tag/style.ts
  apps/mobile/src/components/Tag/type.ts
  apps/mobile/src/theme/interface/presetColors.ts
Due: none

feat: migrate to remark
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/Markdown/index.tsx
Due: none

feat: animate loading message and simplify Toast props
  apps/mobile/src/components/Toast/Toast.tsx
  apps/mobile/src/components/Toast/demos/static.tsx
  apps/mobile/src/components/Toast/index.tsx
Due: none

feat: Toast 支持静态方法
  apps/mobile/app/playground/components/toast.tsx
  apps/mobile/src/components/Toast/demos/index.ts
  apps/mobile/src/components/Toast/demos/static.tsx
  apps/mobile/src/components/Toast/index.ts
  apps/mobile/src/components/Toast/index.tsx
Due: none

chore: optimize Toast implementation
  apps/mobile/src/components/Toast/ToastProviderWrapper.tsx
  apps/mobile/src/components/Toast/index.tsx
  apps/mobile/src/components/Toast/staticMethods.tsx
Due: none

fix tests
  package.json
  packages/const/src/index.ts
  packages/utils/src/index.ts
  src/utils/client/switchLang.test.ts
  src/utils/client/switchLang.ts
Due: Utils Layer

try to fix client db migration issue
  docs/development/database-schema.dbml
  packages/database/migrations/0028_oauth_handoffs.sql
  packages/database/migrations/0029_add_apikey_manage.sql
  packages/database/src/core/migrations.json
  scripts/migrateClientDB/compile-migrations.ts
Due: none

fix tests
  packages/database/src/repositories/tableViewer/index.test.ts
Due: none

fix: resolve post-merge issues with eval types and database tests
  packages/database/src/client/db.ts
  packages/database/src/models/__tests__/_util.ts
  packages/database/src/repositories/aiInfra/index.test.ts
  packages/database/src/repositories/dataExporter/index.test.ts
  packages/database/src/repositories/tableViewer/index.test.ts
  packages/types/src/index.ts
  src/server/routers/async/ragEval.ts
Due: Server Layer

fix(database): implement working client DB tests with proper mocks
  packages/database/src/client/db.test.ts
Due: none

:bookmark: chore(release): v1.114.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c9/163bc9e8404b5bd471a1aa3247ee72d6889c60
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

💄 style: Update mistral model vision ability (#8885)
  src/config/aiModels/mistral.ts
Due: none

:bookmark: chore(release): v1.114.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d4/eb117b0ce4b5d13adddd0424db460bceae9e60
Due: none

feat: Supervisor state
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/GroupChatSidebar/index.tsx
  src/store/chat/slices/message/selectors.ts
Due: Store Layer

feat: Include system role
  src/locales/default/setting.ts
Due: none

feat: Include system role
  packages/types/src/chatGroup/index.ts
  src/features/GroupChatSettings/ChatGroupMeta.tsx
  src/features/GroupChatSettings/ChatGroupSettings.tsx
  src/locales/default/setting.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/message/supervisor.ts
Due: Store Layer

feat: Include system role
  src/prompts/groupChat/index.ts
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
Due: Store Layer

update migrations sql
  packages/database/migrations/0030_add_group_chat.sql
  packages/database/migrations/meta/0030_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

feat: Supervisor state
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/GroupChatSidebar/index.tsx
Due: none

improve add ux
  src/app/[variants]/(main)/chat/@session/_layout/Desktop/SessionHeader.tsx
Due: none

fix: Add missing translation
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatInput/Desktop/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/GroupChatSidebar/ThreadChatList.tsx
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/GroupChatSidebar/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/GroupChatSidebar/thread.tsx
  src/locales/default/chat.ts
Due: none

refactor: 增加 python-interpreter package
  package.json
  packages/python-interpreter/package.json
  packages/python-interpreter/src/index.ts
  packages/python-interpreter/src/interpreter.ts
  packages/python-interpreter/src/types.ts
  packages/python-interpreter/src/worker.ts
  packages/types/src/tool/python.ts
  src/services/python.ts
  src/store/chat/slices/builtinTool/actions/python.ts
  src/store/chat/slices/builtinTool/initialState.ts
  src/store/chat/slices/builtinTool/selectors.ts
  src/tools/python/Render/components/PythonFileGallery.tsx
  src/tools/python/Render/components/PythonFileItem.tsx
  src/tools/python/Render/index.tsx
  src/tools/python/Render/pyodideWorker.ts
Due: Store Layer, Services Layer

fix: Cannot sort
  .vscode/settings.json
  src/prompts/groupChat/index.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
Due: Store Layer
