Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

📝 docs: add Better Auth fresh deployment warning and update env docs
  docs/self-hosting/advanced/auth.mdx
  docs/self-hosting/advanced/auth.zh-CN.mdx
Due: none

💡 chore(ssrf-safe-fetch): add docs link in error message for troubleshooting
  packages/ssrf-safe-fetch/index.ts
Due: none

🔧 chore: honor clerk enable override
  packages/const/src/auth.ts
  src/envs/auth.ts
Due: none

🔧 chore: refactor auth configuration to use constants for enabling authentication methods
  src/envs/auth.ts
Due: none

🔧 fix: ensure redirectURI is set correctly for SSO providers by handling optional NEXT_PUBLIC_AUTH_URL
  src/libs/better-auth/sso/index.ts
Due: Libraries Layer

📝 docs: note NEXT_PUBLIC_AUTH_URL is optional for Vercel deployments
  docs/self-hosting/advanced/auth.mdx
  docs/self-hosting/advanced/auth.zh-CN.mdx
  src/envs/auth.ts
Due: none

🐛 fix(test): add missing enableBetterAuth mock to test files
  src/libs/oidc-provider/provider.test.ts
  src/server/routers/lambda/__tests__/user.test.ts
Due: Server Layer, Libraries Layer

🔧 fix(auth): add trustedOrigins to auth configuration based on NEXT_PUBLIC_AUTH_URL
  src/auth.ts
Due: none

LOBE-1078
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/__tests__/integration/topic.integration.test.ts
  src/server/routers/lambda/_helpers/resolveContext.test.ts
  src/server/routers/lambda/_helpers/resolveContext.ts
  src/server/routers/lambda/_schema/context.ts
  src/server/routers/lambda/message.ts
  src/server/routers/lambda/topic.ts
  src/services/message/index.ts
Due: Services Layer, Server Layer

✨ add trusted origins env and vercel fallbacks
  src/auth.ts
  src/envs/auth.ts
  src/libs/better-auth/sso/index.ts
Due: Libraries Layer

LOBE-1086
  packages/types/src/message/ui/params.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-llm.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/testExecutor.ts
  src/store/chat/agents/__tests__/createAgentExecutors/resolve-aborted-tools.test.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/fixtures.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/aiChat/actions/memory.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/aiChat/selectors.test.ts
  src/store/chat/slices/aiChat/selectors.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/workflow.ts
  src/store/chat/slices/portal/selectors.test.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/chat/slices/topic/action.ts
  src/store/chat/slices/topic/selectors.test.ts
  src/store/chat/slices/translate/action.test.ts
  src/store/chat/slices/translate/action.ts
Due: Store Layer

🔧 fix(auth): update redirectURI to include optional NEXT_PUBLIC_AUTH_URL for SSO providers
  src/libs/better-auth/sso/index.ts
Due: Libraries Layer

🐛 fix: betterauth public url auto detect from VERCEL_URL (#10493)
  docs/self-hosting/advanced/auth.mdx
  docs/self-hosting/advanced/auth.zh-CN.mdx
  packages/const/src/auth.ts
  packages/ssrf-safe-fetch/index.ts
  src/auth.ts
  src/envs/auth.ts
  src/libs/better-auth/sso/index.ts
  src/libs/oidc-provider/provider.test.ts
  src/server/routers/lambda/__tests__/user.test.ts
Due: Server Layer, Libraries Layer

:bookmark: chore(release): v2.0.0-next.134 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  10/3d70caf322f61d8d953efa5dcc5d8150e589df
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

LOBE-1086
  packages/types/src/message/ui/params.ts
  src/features/Conversation/store/slices/message/action/crud.test.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/server/routers/lambda/message.ts
  src/services/message/index.ts
  src/services/message/server.test.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Services Layer, Server Layer

LOBE-1086
  packages/types/src/message/ui/params.ts
  src/server/routers/lambda/__tests__/integration/message.integration.test.ts
  src/server/routers/lambda/message.ts
  src/server/services/message/index.ts
Due: Server Layer

feat: 添加批量删除远程模型功能及更新通知组件
  packages/database/src/models/aiModel.ts
  src/app/[variants]/(main)/settings/provider/features/ModelList/EmptyModels.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/ModelTitle/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/UpdateNotification.tsx
  src/locales/default/modelProvider.ts
  src/server/routers/lambda/aiModel.ts
  src/services/aiModel/index.ts
  src/store/aiInfra/slices/aiModel/action.ts
Due: Store Layer, Services Layer, Server Layer

refactor agent url
  packages/const/src/url.ts
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/Inbox/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/List/index.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/ActionButton/AddAgent.tsx
  src/features/NavPanel/Body/Agent/List/List.tsx
  src/features/NavPanel/Body/index.tsx
  src/hooks/useSwitchSession.ts
  src/store/global/actions/workspacePane.ts
  src/store/session/slices/session/action.ts
  src/store/session/slices/session/initialState.ts
Due: Store Layer

Update auth.ts
  src/auth.ts
Due: none

LOBE-1093
  src/app/[variants]/(main)/chat/(mobile)/features/ChatHeader/ChatHeaderTitle.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/AgentConfig/Header/Avatar.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/AgentConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/AgentConfig/SystemRole.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/Header/Avatar.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/useSend.ts
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/WelcomeChatItem/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/PageTitle/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/MarketPublishButton.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/MarketPublishModal.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/index.tsx
  src/components/DMTag/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/index.tsx
  src/features/ShareModal/ShareImage/Preview.tsx
  src/features/ShareModal/ShareImage/index.tsx
  src/services/chat/index.ts
  src/store/agent/slices/chat/selectors/agent.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/message/selectors/displayMessage.ts
  src/store/session/slices/session/selectors/meta.test.ts
  src/store/session/slices/session/selectors/meta.ts
Due: Store Layer, Services Layer

refactor agent update config
  CLAUDE.md
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/MarketPublishButton.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentPublishButton/MarketPublishModal.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileProvider.tsx
  src/features/NavPanel/Body/Agent/List/Item/Editing.tsx
  src/store/agent/slices/chat/action.ts
  src/store/agent/slices/chat/initialState.ts
  src/store/session/slices/session/action.test.ts
  src/store/session/slices/session/action.ts
  src/store/session/slices/session/initialState.ts
Due: Store Layer

refactor sessionService.updateSessionMeta to agentService.updateAgentMeta
  packages/database/src/models/agent.ts
  src/features/NavPanel/Body/Agent/List/Item/Editing.tsx
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/store/agent/slices/chat/action.test.ts
  src/store/agent/slices/chat/action.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: 增加自定义服务商支持，更新选择器和界面显示
  src/app/[variants]/(main)/settings/provider/(list)/ProviderGrid/index.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/detail/default/ClientMode.tsx
  src/locales/default/modelProvider.ts
  src/store/aiInfra/slices/aiProvider/__tests__/selectors.test.ts
  src/store/aiInfra/slices/aiProvider/selectors.ts
Due: Store Layer

fix lint
  CLAUDE.md
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/TopicListContent/ByTimeMode/index.tsx
  src/components/ChatItem/index.ts
  src/features/Conversation/components/ChatItem/index.ts
  src/features/Conversation/components/VirtualizedList/index.tsx
  src/features/Conversation/store/slices/message/action/state.ts
  src/features/Conversation/types/hooks.ts
Due: none

fix tests
  src/app/(backend)/trpc/desktop/[trpc]/route.ts
  src/app/desktop/devtools/page.tsx
  src/app/desktop/layout.tsx
Due: none

add tests for agent store
  src/store/agent/slices/agent/action.test.ts
  src/store/agent/slices/agent/chatConfigSelectors.test.ts
  src/store/agent/slices/agent/selectors.test.ts
  src/store/agent/slices/knowledge/action.test.ts
  src/store/agent/slices/knowledge/action.ts
  src/store/agent/slices/plugin/action.test.ts
Due: Store Layer

add tests for agent store
  src/store/agent/slices/agent/action.test.ts
  src/store/agent/slices/agent/chatConfigSelectors.test.ts
  src/store/agent/slices/agent/selectors.test.ts
  src/store/agent/slices/knowledge/action.test.ts
  src/store/agent/slices/plugin/action.test.ts
Due: Store Layer

fix agentId in test
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/selectors/displayMessage.test.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/topic/action.test.ts
Due: Store Layer

🐛 fix: fix BetterAuth `Unable to link account - untrusted provider` (#10505)
  src/auth.ts
Due: none

:bookmark: chore(release): v2.0.0-next.135 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  15/23f5f6ca33be7f4284ba6f957f6b3c1a3d3bad
Due: none

fix test
  src/server/services/message/__tests__/index.test.ts
Due: Server Layer
