Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

refactor Conversation with agentStore
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/Conversation/hooks/index.ts
  src/features/Conversation/hooks/useAgentMeta.test.ts
  src/features/Conversation/hooks/useAgentMeta.ts
Due: none

style: fix auth card
  locales/en-US/auth.json
  src/features/AuthCard/index.tsx
Due: none

refactor agent using homeStore and agentStore
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Item.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/GroupItem.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/CreateGroupModal.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/home/initialState.ts
  src/store/home/slices/sidebarUI/action.test.ts
  src/store/home/slices/sidebarUI/action.ts
  src/store/home/slices/sidebarUI/index.ts
  src/store/home/slices/sidebarUI/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Server Layer

refactor home page using homeStore and agentStore
  packages/database/src/repositories/home/index.ts
  packages/types/src/home.ts
  packages/types/src/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Item.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/app/[variants]/(main)/home/features/RecentPage/List.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/List.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/List.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/store/home/index.ts
  src/store/home/selectors.ts
  src/store/home/slices/agentList/selectors.ts
  src/store/home/slices/recent/index.ts
  src/store/home/slices/recent/selectors.ts
Due: Store Layer

home store
  src/hooks/useFetchAgentList.ts
  src/proxy.ts
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/services/home/index.ts
  src/store/agent/slices/agent/action.ts
  src/store/home/index.ts
  src/store/home/initialState.ts
  src/store/home/selectors.ts
  src/store/home/slices/agentList/action.ts
  src/store/home/slices/agentList/index.ts
  src/store/home/slices/agentList/initialState.ts
  src/store/home/slices/agentList/selectors.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/index.ts
  src/store/home/slices/homeInput/initialState.ts
  src/store/home/slices/recent/action.ts
  src/store/home/slices/recent/index.ts
  src/store/home/slices/recent/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Services Layer, Server Layer

refactor sessionStore to agentStore
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/Item/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/ActionButton/AddAgent.tsx
  src/features/AgentSetting/AgentCategory/useCategory.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/features/DataImporter/index.tsx
  src/features/ShareModal/ShareImage/Preview.tsx
  src/hooks/useInterceptingRoutes.test.ts
  src/hooks/useInterceptingRoutes.ts
  src/hooks/usePinnedAgentState.ts
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
Due: Store Layer, Services Layer, Server Layer

fix create agent flow
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/hooks/useInitBuiltinAgent.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/initialState.ts
Due: Store Layer

support delete memory
  packages/database/src/models/userMemory/context.ts
  packages/database/src/models/userMemory/experience.ts
  packages/database/src/models/userMemory/identity.ts
  packages/database/src/models/userMemory/index.ts
  packages/database/src/models/userMemory/model.ts
  packages/database/src/models/userMemory/preference.ts
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer, Services Layer, Server Layer

refac: Make the file preview overflow
  src/features/ResourceManager/index.tsx
Due: none

support always intervention
  packages/types/src/tool/intervention.ts
  src/store/chat/agents/GeneralChatAgent.ts
  src/store/chat/agents/__tests__/GeneralChatAgent.test.ts
  src/tools/agent-builder/index.ts
Due: Store Layer

✨ feat: add the agentbuilder inject context & delete some get tools (#10666)
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/agent/selectors/agentByIdSelectors.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/GetAvailableTools.tsx
  src/tools/agent-builder/Render/GetConfig.tsx
  src/tools/agent-builder/Render/GetMeta.tsx
  src/tools/agent-builder/Render/GetPrompt.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/const.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer, Services Layer

refactor create group
  src/proxy.ts
Due: none

fix title and avatar
  packages/database/src/repositories/home/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/index.tsx
Due: none

improve start input action
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
Due: none

style: Move the close button
  src/features/ResourceManager/components/Editor/index.tsx
Due: none

feat: Page copilot
  packages/builtin-agents/src/agents/page-agent/index.ts
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/TopicSeletor.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/StoreUpdater.tsx
  src/locales/default/plugin.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/store/chat/slices/operation/types.ts
  src/tools/document/ExecutionRuntime/index.ts
  src/tools/document/index.ts
  src/tools/document/systemRole.ts
  src/tools/document/type.ts
Due: Store Layer

✨ feat: change all get tools into one & change tools into context (#10670)
  packages/context-engine/src/providers/AgentBuilderContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/services/chat/index.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SearchOfficialTools.tsx
  src/tools/agent-builder/Render/SetModel.tsx
  src/tools/agent-builder/Render/SetOpeningMessage.tsx
  src/tools/agent-builder/Render/SetOpeningQuestions.tsx
  src/tools/agent-builder/Render/UpdateChatConfig.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer, Services Layer

feat: Select All checkbox
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/Skeleton.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
Due: none

fix intervention issue
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

refactor agent group
  packages/database/src/repositories/home/index.ts
  packages/types/src/home.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
Due: none

✨ feat: support approve install plugins in agent builder (#10662)
  locales/en-US/plugin.json
  locales/zh-CN/plugin.json
  packages/builtin-agents/src/agents/agent-builder/systemRole.ts
  packages/prompts/src/prompts/agentBuilder/index.ts
  packages/prompts/src/prompts/agentBuilder/modelsResultsPrompt.ts
  packages/prompts/src/prompts/agentBuilder/toolsResultsPrompt.ts
  packages/prompts/src/prompts/index.ts
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/TopicSelector.tsx
  src/helpers/toolEngineering/index.ts
  src/locales/default/plugin.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Intervention/InstallPlugin.tsx
  src/tools/agent-builder/Intervention/index.ts
  src/tools/agent-builder/Render/InstallPlugin.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
  src/tools/identifiers.ts
  src/tools/interventions.ts
Due: Store Layer

refactor create group
  packages/const/src/url.ts
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/ModalProvider.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/server/routers/lambda/agent.ts
  src/server/routers/lambda/group.ts
  src/services/chatGroup/index.ts
  src/store/home/slices/group/action.ts
  src/store/home/slices/group/index.ts
  src/store/home/slices/group/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Services Layer, Server Layer

feat: Allow DND in tree
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

feat: Tap header to go root folder
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
Due: none

style: update right panel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/AgentBuilderToggle.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/index.tsx
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/app/[variants]/(main)/chat/profile/features/store/selectors.ts
  src/components/Analytics/MainInterfaceTracker.tsx
  src/features/NavHeader/index.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
  src/features/NavPanel/ToggleLeftPanelButton.tsx
  src/features/NavPanel/components/BackNav.tsx
  src/features/NavPanel/components/TogglePanelButton.tsx
  src/features/NavPanel/index.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/store/action.ts
  src/features/PageEditor/store/initialState.ts
  src/features/RightPanel/ToggleRightPanelButton.tsx
  src/features/RightPanel/index.tsx
  src/locales/default/hotkey.ts
  src/store/global/action.test.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

🐛 fix: remove the installPlugins invertion button,use defalut approve instead (#10681)
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  src/locales/default/chat.ts
  src/tools/agent-builder/Intervention/InstallPlugin.tsx
Due: none

✨ feat: when install tools have oauth ,should oauth in approve way (#10675)
  src/tools/agent-builder/ExecutionRuntime/index.ts
Due: none

fix: No loading if cached
  packages/builtin-agents/src/agents/page-agent/systemRole.ts
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

fix approve and push
  src/features/Conversation/store/slices/tool/action.test.ts
  src/features/Conversation/store/slices/tool/action.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/operation/types.ts
Due: Store Layer

style: rename action
  src/app/[variants]/(main)/_layout/DesktopLayoutContainer.tsx
  src/components/Analytics/MainInterfaceTracker.tsx
  src/features/NavPanel/components/TogglePanelButton.tsx
  src/features/NavPanel/hooks/useNavPanel.ts
  src/features/NavPanel/index.tsx
  src/hooks/useHotkeys/chatScope.ts
  src/hooks/useHotkeys/globalScope.ts
  src/store/global/action.test.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

try to fix operation
  src/store/chat/slices/aiChat/actions/conversationControl.ts
Due: Store Layer

feat: Page copilot
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  packages/context-engine/src/providers/index.ts
  src/features/PageEditor/StoreUpdater.tsx
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/chat/slices/message/initialState.ts
  src/tools/document/const.ts
Due: Store Layer, Services Layer

style: rename action
  packages/const/src/hotkeys.ts
Due: none

🔨 chore: update the toggleAgentPlugin into config tools (#10682)
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/TogglePlugin.tsx
  src/tools/agent-builder/Render/UpdateConfig.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

style: Add density for the tree
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

style: update memory panel
  src/app/[variants]/(main)/memory/contexts/features/ContextRightPanel.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/ExperienceRightPanel.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/ExperienceDrawer.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/CateTag.tsx
  src/app/[variants]/(main)/memory/features/DetailPanel.tsx
  src/app/[variants]/(main)/memory/features/HighlightedContent.tsx
  src/app/[variants]/(main)/memory/features/ProgressIcon.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/identities/features/IdentityRightPanel.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/PreferenceDrawer.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/PreferenceRightPanel.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/features/RightPanel/index.tsx
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/identity/action.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer

update i18n
  locales/ar/home.json
  locales/bg-BG/home.json
  locales/de-DE/home.json
  locales/en-US/home.json
  locales/es-ES/home.json
  locales/fa-IR/home.json
  locales/fr-FR/home.json
  locales/it-IT/home.json
  locales/ja-JP/home.json
  locales/ko-KR/home.json
  locales/nl-NL/home.json
  locales/pl-PL/home.json
  locales/pt-BR/home.json
  locales/ru-RU/home.json
  locales/tr-TR/home.json
  locales/vi-VN/home.json
  locales/zh-CN/home.json
  locales/zh-TW/home.json
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/locales/default/home.ts
  src/locales/default/index.ts
Due: none
