Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix: persist stop thinking tag
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/ChatItem/OrchestratorThinking.tsx
  src/app/[variants]/(main)/chat/(workspace)/@conversation/features/ChatList/ChatItem/index.tsx
Due: none

fix: Ts error
  src/components/MemberSelectionModal/MemberSelectionModal.tsx
Due: none

fix: Hide virtual in the member add modal
  docs/usage/features/group-chat.mdx
  locales/ar/chat.json
  locales/ar/setting.json
  locales/bg-BG/chat.json
  locales/bg-BG/setting.json
  locales/de-DE/chat.json
  locales/de-DE/setting.json
  locales/en-US/chat.json
  locales/en-US/setting.json
  locales/es-ES/chat.json
  locales/es-ES/setting.json
  locales/fa-IR/chat.json
  locales/fa-IR/setting.json
  locales/fr-FR/chat.json
  locales/fr-FR/setting.json
  locales/it-IT/chat.json
  locales/it-IT/setting.json
  locales/ja-JP/chat.json
  locales/ja-JP/setting.json
  locales/ko-KR/chat.json
  locales/ko-KR/setting.json
  locales/nl-NL/chat.json
  locales/nl-NL/setting.json
  locales/pl-PL/chat.json
  locales/pl-PL/setting.json
  locales/pt-BR/chat.json
  locales/pt-BR/setting.json
  locales/ru-RU/chat.json
  locales/ru-RU/setting.json
  locales/tr-TR/chat.json
  locales/tr-TR/setting.json
  locales/vi-VN/chat.json
  locales/vi-VN/setting.json
  locales/zh-CN/chat.json
  locales/zh-CN/setting.json
  locales/zh-TW/chat.json
  locales/zh-TW/setting.json
  src/components/MemberSelectionModal/MemberSelectionModal.tsx
  src/features/GroupChatSettings/GroupMembers.tsx
  src/locales/default/chat.ts
Due: none

fix: No fallback header
  src/app/[variants]/(main)/chat/(workspace)/_layout/Desktop/ChatHeader/Main.tsx
Due: none

fix: tag style
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
Due: Store Layer

feat: Delete member after remove group
  src/store/chatGroup/action.ts
Due: Store Layer

fix: Cannot turn off host
  packages/const/src/settings/systemAgent.ts
  src/features/GroupChatSettings/ChatGroupSettings.tsx
  src/store/user/slices/settings/selectors/systemAgent.ts
Due: Store Layer

feat: Replace string
  locales/ar/chat.json
  locales/bg-BG/chat.json
  locales/de-DE/chat.json
  locales/en-US/chat.json
  locales/es-ES/chat.json
  locales/fa-IR/chat.json
  locales/fr-FR/chat.json
  locales/it-IT/chat.json
  locales/ja-JP/chat.json
  locales/ko-KR/chat.json
  locales/nl-NL/chat.json
  locales/pl-PL/chat.json
  locales/pt-BR/chat.json
  locales/ru-RU/chat.json
  locales/tr-TR/chat.json
  locales/vi-VN/chat.json
  locales/zh-CN/chat.json
  locales/zh-TW/chat.json
  src/locales/default/chat.ts
Due: none

feat: Rename varibles and files
  src/app/[variants]/(main)/chat/(workspace)/features/AgentTeamSettings/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/features/SettingButton.tsx
  src/features/GroupChatSettings/AgentTeamChatSettings.tsx
  src/features/GroupChatSettings/AgentTeamMembersSettings.tsx
  src/features/GroupChatSettings/AgentTeamMetaSettings.tsx
  src/features/GroupChatSettings/AgentTeamSettings.tsx
  src/features/GroupChatSettings/GroupSettings.tsx
  src/features/GroupChatSettings/GroupSettingsContent.tsx
  src/features/GroupChatSettings/index.ts
Due: none

💄 style: Allow removal of `top_p` and similar request parameters (#9498)
  packages/const/src/layoutTokens.ts
  packages/database/src/models/__tests__/session.test.ts
  packages/database/src/models/session.ts
  packages/model-bank/src/aiModels/groq.ts
  packages/model-bank/src/aiModels/novita.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  src/features/AgentSetting/AgentModal/index.tsx
  src/features/ChatInput/ActionBar/Params/Controls.tsx
  src/features/ModelParamsControl/FrequencyPenalty.tsx
  src/features/ModelParamsControl/PresencePenalty.tsx
  src/features/ModelParamsControl/Temperature.tsx
  src/features/ModelParamsControl/TopP.tsx
  src/services/chat/index.ts
Due: Services Layer

:bookmark: chore(release): v1.141.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  53/82df8cf867346de1f75008a7ec9a61cd6db443
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix: Update test snap
  src/store/user/slices/settings/selectors/__snapshots__/settings.test.ts.snap
Due: Store Layer

chore(database): improve user memory schema
  .vscode/settings.json
  docs/development/database-schema.dbml
  packages/database/migrations/0039_improve_user_memory_field.sql
  packages/database/migrations/meta/0039_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/userMemories.ts
Due: none

✨ feat(database): user memory db schemas
  packages/database/src/schemas/userMemories.ts
Due: none

fix: id
  packages/database/migrations/0037_add_user_memory.sql
  packages/database/migrations/meta/0037_snapshot.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/userMemories.ts
Due: none

feat: migrations
  docs/development/database-schema.dbml
  packages/database/migrations/0037_add_user_memory.sql
  packages/database/migrations/meta/0037_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

fix: syntax id
  packages/database/migrations/0037_add_user_memory.sql
  packages/database/src/core/migrations.json
  packages/database/src/schemas/userMemories.ts
Due: none

feat(tools): implemented basic memory tools
  .vscode/settings.json
  package.json
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory.ts
  packages/types/src/index.ts
  packages/types/src/userMemory/index.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/memory.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/memory.ts
  src/tools/index.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
  src/types/userMemory.ts
Due: Store Layer, Services Layer, Server Layer

refactor the local system tools render
  apps/desktop/package.json
  apps/desktop/src/main/controllers/LocalFileCtr.ts
  apps/desktop/src/main/controllers/__tests__/LocalFileCtr.test.ts
  src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  src/store/chat/slices/builtinTool/actions/__tests__/dalle.test.ts
  src/store/chat/slices/builtinTool/actions/__tests__/localSystem.test.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/localFile.ts
  src/store/chat/slices/builtinTool/actions/localSystem.ts
  src/store/electron/selectors/__tests__/desktopState.test.ts
  src/store/electron/selectors/desktopState.ts
  src/tools/local-system/Placeholder/ListFiles.tsx
  src/tools/local-system/Placeholder/ReadLocalFile.tsx
  src/tools/local-system/Placeholder/SearchFiles.tsx
  src/tools/local-system/Placeholder/index.tsx
  src/tools/local-system/Render/ReadLocalFile/ReadFileSkeleton.tsx
  src/tools/local-system/Render/ReadLocalFile/ReadFileView.tsx
  src/tools/local-system/Render/ReadLocalFile/style.ts
  src/tools/local-system/Render/SearchFiles/Result.tsx
  src/tools/local-system/Render/SearchFiles/SearchQuery/SearchView.tsx
  src/tools/local-system/Render/SearchFiles/index.tsx
  src/tools/local-system/type.ts
Due: Store Layer

feat: add oidc config for mobile
  .env.mobile
Due: none

fix: build error
  apps/mobile/babel.config.js
  apps/mobile/package.json
Due: none

feat: migrate mobile trpc api
  apps/mobile/app/(auth)/login/index.tsx
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
  src/server/routers/mobile/__tests__/file.test.ts
  src/server/routers/mobile/__tests__/importer.test.ts
  src/server/routers/mobile/__tests__/message.test.ts
  src/server/routers/mobile/_template.ts
  src/server/routers/mobile/agent.test.ts
  src/server/routers/mobile/agent.ts
  src/server/routers/mobile/aiModel.test.ts
  src/server/routers/mobile/aiModel.ts
  src/server/routers/mobile/aiProvider.test.ts
  src/server/routers/mobile/aiProvider.ts
  src/server/routers/mobile/chunk.ts
  src/server/routers/mobile/config/__snapshots__/index.test.ts.snap
  src/server/routers/mobile/config/index.test.ts
  src/server/routers/mobile/config/index.ts
  src/server/routers/mobile/document.ts
  src/server/routers/mobile/exporter.ts
  src/server/routers/mobile/file.ts
  src/server/routers/mobile/generation.test.ts
  src/server/routers/mobile/generation.ts
  src/server/routers/mobile/generationBatch.test.ts
  src/server/routers/mobile/generationBatch.ts
  src/server/routers/mobile/generationTopic.test.ts
  src/server/routers/mobile/generationTopic.ts
  src/server/routers/mobile/image.ts
  src/server/routers/mobile/importer.ts
  src/server/routers/mobile/knowledgeBase.ts
  src/server/routers/mobile/market/index.ts
  src/server/routers/mobile/message.ts
  src/server/routers/mobile/plugin.ts
  src/server/routers/mobile/ragEval.ts
  src/server/routers/mobile/session.ts
  src/server/routers/mobile/sessionGroup.ts
  src/server/routers/mobile/thread.ts
  src/server/routers/mobile/topic.ts
  src/server/routers/mobile/user.test.ts
  src/server/routers/mobile/user.ts
Due: Server Layer

feat: add trpc services
  apps/mobile/app/Query.tsx
  apps/mobile/app/_layout.tsx
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
Due: none

fix: trpc client problem
  apps/mobile/package.json
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/services/session.ts
  apps/mobile/src/store/session/index.ts
Due: none

feat: sidebar implementation (#8658)
  apps/mobile/.gitignore
  apps/mobile/.npmrc
  apps/mobile/app/(main)/chat/(components)/StopLoadingIcon/index.tsx
  apps/mobile/app/(main)/chat/(components)/StopLoadingIcon/style.ts
  apps/mobile/app/(main)/chat/index.tsx
  apps/mobile/eas.json
  apps/mobile/jest.config.json
  apps/mobile/locales/en-US/chat.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/components/GithubAvatar/__tests__/GitHubAvatar.test.tsx
  apps/mobile/src/components/ListItem/index.tsx
  apps/mobile/src/components/ListItem/style.ts
  apps/mobile/src/features/SideBar/components/Footer/index.tsx
  apps/mobile/src/features/SideBar/components/Footer/styles.ts
  apps/mobile/src/features/SideBar/components/Header/index.tsx
  apps/mobile/src/features/SideBar/components/Header/style.ts
  apps/mobile/src/features/SideBar/components/SessionList/Inbox.tsx
  apps/mobile/src/features/SideBar/components/SessionList/SessionItem.tsx
  apps/mobile/src/features/SideBar/components/SessionList/index.tsx
  apps/mobile/src/features/SideBar/components/SessionList/style.ts
  apps/mobile/src/features/SideBar/index.tsx
  apps/mobile/src/features/SideBar/style.ts
  apps/mobile/src/services/_auth/trpc.ts
  apps/mobile/src/services/session.ts
  apps/mobile/src/store/session/index.ts
Due: none

fix: eas preview build env
  apps/mobile/eas.json
Due: none

fix(mobile): provider icon color when change theme
  apps/mobile/app/(main)/setting/providers/(components)/ProviderCard/index.tsx
  apps/mobile/app/(main)/setting/providers/[id]/(components)/ProviderInfoSection/index.tsx
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
Due: none

fix: color token
  apps/mobile/src/theme/alias.ts
  apps/mobile/src/theme/color/custom.ts
  apps/mobile/src/theme/interface/alias.ts
  apps/mobile/src/theme/interface/maps/colors.ts
  apps/mobile/src/theme/interface/seeds.ts
  apps/mobile/src/theme/seed.ts
Due: none

chore: remove chat page animation and optimize slide gesture
  apps/mobile/app/_layout.tsx
  apps/mobile/src/components/Slider/index.tsx
Due: none
