Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: Move help center to the footer
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

feat: New AddButton
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/locales/default/chat.ts
Due: none

feat: Support JS rendering
  src/features/FileViewer/Renderer/JavaScript/index.tsx
  src/features/FileViewer/Renderer/Markdown/index.tsx
  src/features/FileViewer/Renderer/index.ts
  src/features/FileViewer/index.tsx
  src/features/ResourceManager/FileEditor/FileContent.tsx
  src/features/ResourceManager/FileEditor/FileDetail.tsx
  src/features/ResourceManager/FileEditor/index.tsx
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

style: clean add button
  src/app/[variants]/(main)/home/_layout/Body/Agent/ModalProvider.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/index.tsx
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/app/[variants]/(main)/home/_layout/SidebarContent.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
Due: none

style: update style
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/SwitchPanel.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/Editing.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/index.tsx
Due: none

feat: Upload folder
  src/features/ResourceManager/Header/AddButton.tsx
  src/store/file/slices/fileManager/action.ts
  src/utils/folderStructure.ts
Due: Store Layer, Utils Layer

support session get inbox
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
Due: none

pref: update topic count
  package.json
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/models/topic.ts
  src/server/routers/lambda/__tests__/integration/topic.integration.test.ts
  src/server/routers/lambda/aiChat.ts
  src/server/routers/lambda/topic.ts
  src/services/topic/index.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Services Layer, Server Layer

add welcome for agent
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/AddButton.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/WelcomeChatItem/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
Due: none

improve conversation width
  src/features/Conversation/Messages/Assistant/index.tsx
Due: none

feat: add agent more
  src/features/NavPanel/SideBarLayout.tsx
  src/features/NavPanel/components/SkeletonList.tsx
Due: none

refactor inbox agent store
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileProvider.tsx
  src/layout/GlobalProvider/StoreInitialization.tsx
  src/server/services/nextAuthUser/index.ts
  src/server/services/user/index.ts
  src/store/agent/selectors/builtinAgentSelectors.test.ts
  src/store/agent/selectors/builtinAgentSelectors.ts
  src/store/agent/selectors/selectors.test.ts
  src/store/agent/selectors/selectors.ts
  src/store/agent/slices/agent/action.test.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
  src/store/agent/slices/knowledge/action.test.ts
  src/store/agent/slices/plugin/action.test.ts
  src/store/chat/slices/message/selectors/displayMessage.test.ts
  src/store/serverConfig/selectors.test.ts
  src/store/serverConfig/selectors.ts
Due: Store Layer, Server Layer

support config plugins
  packages/builtin-agents/src/agents/agent-builder/index.ts
  packages/builtin-agents/src/agents/agent-builder/systemRole.ts
  packages/builtin-agents/src/types.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/hooks/useInitAgentConfig.ts
  src/services/chat/index.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/store/agent/slices/builtin/action.ts
  src/store/user/slices/auth/selectors.ts
Due: Store Layer, Services Layer

feat: Handle gitignore
  src/features/ResourceManager/Header/AddButton.tsx
  src/locales/default/file.ts
  src/utils/gitignore.ts
Due: Utils Layer

feat: Unfiied search
  packages/database/src/repositories/search/index.test.ts
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

refactor agent
  src/hooks/useHotkeys/globalScope.ts
Due: none

inbox
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/InboxItem.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
Due: none

update for test
  src/server/routers/lambda/topic.ts
Due: Server Layer

fix topic with inbox agent
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/models/__tests__/topics/topic.create.test.ts
  packages/database/src/models/__tests__/topics/topic.delete.test.ts
  packages/database/src/models/__tests__/topics/topic.query.test.ts
  packages/database/src/models/__tests__/topics/topic.stats.test.ts
  packages/database/src/models/__tests__/topics/topic.update.test.ts
  packages/database/src/models/topic.ts
  packages/types/src/topic/topic.ts
  src/hooks/useFetchTopics.ts
  src/server/routers/lambda/__tests__/integration/topic.integration.test.ts
  src/server/routers/lambda/topic.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Server Layer

style: update create icon
  package.json
  packages/const/src/meta.ts
  public/icons/icon-lobe.png
  src/app/[variants]/(main)/chat/(mobile)/features/ChatHeader/ChatHeaderTitle.tsx
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/Inbox/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/AgentConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Agent/index.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Toolbar/index.tsx
  src/features/ShareModal/ShareImage/Preview.tsx
Due: none

update for test
  src/server/routers/lambda/__tests__/integration/topic.integration.test.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

refac: Lint code style
  src/features/FileViewer/Renderer/Markdown/index.tsx
  src/features/ResourceManager/FileEditor/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

style: update icon
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBaseList/List/Item/index.tsx
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
  src/components/KnowledgeIcon/index.tsx
  src/components/LibIcon/index.tsx
  src/components/RepoIcon/index.tsx
  src/features/ChatInput/ActionBar/Knowledge/useControls.tsx
  src/features/LibraryModal/AddFilesToKnowledgeBase/SelectForm.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
Due: none

refactor agent
  packages/memory-user-memory/.gitignore
  packages/utils/src/index.ts
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/Inbox/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/session/SessionListContent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/useNavigateToAgent.ts
  src/hooks/useQueryRoute.ts
  src/hooks/useSwitchSession.ts
Due: none

style: Search in CMDK
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
Due: none

fix: Copilot size
  src/features/PageEditor/Copilot/index.tsx
Due: none

style: Adjust padding
  src/features/ResourceManager/FileEditor/index.tsx
Due: none

feat: Discard the page editor modal
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/Toolbar/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/FileTree/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/Header/NewNoteButton.tsx
Due: none

fix
  src/server/services/agent/index.ts
Due: Server Layer

♻️ refactor(agent): add getAgentConfigById to AgentService with default config merging
  src/server/routers/lambda/agent.ts
  src/server/services/agent/index.test.ts
  src/server/services/agent/index.ts
Due: Server Layer

style: update agent welcome and chatinput
  src/features/ChatInput/Desktop/index.tsx
Due: none

opti: Save on blur
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/index.tsx
Due: none

chore: add knip cli
  knip.ts
  package.json
Due: none

fix: Page explore
  src/features/PageExplorer/index.tsx
  tsconfig.json
Due: none

style: update chat item style
  src/features/ChatList/Messages/Assistant/index.tsx
  src/features/ChatList/Messages/Group/ContentBlock.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/ContentBlock.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

🐛 fix: slove the command k jump link error (#10614)
  src/app/[variants]/(main)/layouts/index.tsx
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/layout/GlobalProvider/CmdkLazy.tsx
  src/layout/GlobalProvider/index.tsx
Due: none

fix: systemrole editor init
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/Item.tsx
  src/features/Conversation/components/VirtualizedList/index.tsx
Due: none

style: update new topic button
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/AddTopicButon.tsx
Due: none
