Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

📝 docs(bot): Auto sync agents & plugin to readme
  src/store/chat/slices/operation/actions.ts
Due: Store Layer

fix: fixed the discover page categray sider link error
  src/app/[variants]/(main)/discover/(list)/assistant/features/Category/index.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/features/Category/index.tsx
  src/app/[variants]/(main)/discover/(list)/model/features/Category/index.tsx
Due: none

🐛 fix: fixed the discover page categray sider link error (#10282)
  src/app/[variants]/(main)/discover/(list)/assistant/features/Category/index.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/features/Category/index.tsx
  src/app/[variants]/(main)/discover/(list)/model/features/Category/index.tsx
Due: none

✅ test: add unit tests for genWhere utilities (#10281)
  packages/database/src/utils/genWhere.test.ts
Due: none

:bookmark: chore(release): v2.0.0-next.79 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5e/41d9a39c601b2d6aef66318a583c5f8a45a480
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

Fix typos in some files
  docker-compose/setup.sh
Due: none

feat: Regenerate migration
  packages/database/migrations/0046_add_parent_id.sql
  packages/database/migrations/0046_extend_documents_varchar_length.sql
  packages/database/migrations/meta/0046_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

feat: Regenerate migration
  docs/development/database-schema.dbml
  packages/database/migrations/0046_add_parent_id.sql
  packages/database/migrations/meta/0046_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/file.ts
Due: none

👷 build: Update schema for incoming folder (#10217)
  docs/development/database-schema.dbml
  packages/database/migrations/0046_add_parent_id.sql
  packages/database/migrations/meta/0046_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/models/document.ts
  packages/database/src/models/file.ts
  packages/database/src/repositories/knowledge/index.test.ts
  packages/database/src/schemas/document.ts
  packages/database/src/schemas/file.ts
  packages/database/src/schemas/index.ts
  packages/database/src/schemas/rag.ts
  packages/database/src/schemas/relations.ts
  packages/database/src/schemas/topic.ts
  src/server/routers/lambda/file.ts
  src/services/file/index.ts
Due: Services Layer, Server Layer

fix: slove when logout always show loading
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.80 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4c/68fc3e3ab126073aa55dad48e8b949343df1fb
Due: none

🐛 fix: slove when logout always show loading (#10284)
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.81 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4d/8053bebee94abcfce0bf4bb276a5c2f84848a8
Due: none

feat: fixed changelog pages and open again
  src/app/[variants]/(main)/changelog/index.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

fix error notifcation
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

feat: 添加 Gemini 3 Pro 模型并移除 Gemini 2.0 Flash 预览模型
  packages/model-bank/src/aiModels/google.ts
Due: none

🐛 fix: fix noisy error notification (#10286)
  src/libs/trpc/client/lambda.ts
Due: Libraries Layer

:bookmark: chore(release): v2.0.0-next.82 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  92/b65f7b7abeb4d9050aa30f7aa9c4ff2b481672
Due: none

✨ feat: New API support switch Responses API mode (#9776)
  docs/usage/providers/comfyui.mdx
  docs/usage/providers/comfyui.zh-CN.mdx
  packages/model-bank/src/aiModels/novita.ts
  packages/model-bank/src/aiModels/nvidia.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-bank/src/aiModels/vercelaigateway.ts
  packages/model-bank/src/aiModels/volcengine.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/newapi/index.test.ts
  packages/model-runtime/src/providers/newapi/index.ts
  packages/model-runtime/src/providers/openrouter/index.test.ts
  packages/model-runtime/src/providers/openrouter/index.ts
  src/app/[variants]/(main)/settings/provider/features/CreateNewProvider/index.tsx
  src/app/[variants]/(main)/settings/provider/features/customProviderSdkOptions.ts
  src/config/modelProviders/aihubmix.ts
  src/config/modelProviders/newapi.ts
  src/locales/default/modelProvider.ts
Due: none

💄 style: add Gemini 3.0 Pro Preview Thinking to Google Provider
  packages/model-bank/src/aiModels/google.ts
Due: none

Update google.ts
  packages/model-bank/src/aiModels/google.ts
Due: none

add integration tests
  src/store/chat/selectors.ts
  src/store/chat/slices/aiChat/__tests__/ai-chat.integration.test.ts
Due: Store Layer

use operation
  packages/agent-runtime/src/core/runtime.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/__tests__/cancel-functionality.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/aiChat/initialState.ts
  src/store/chat/slices/aiChat/selectors.ts
  src/store/chat/slices/operation/__tests__/integration.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/types.ts
Due: Store Layer

refactor context to operation id
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/internals.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/chat/slices/plugin/actions/workflow.ts
Due: Store Layer

refactor agent runtime config
  packages/agent-runtime/src/core/runtime.ts
  packages/agent-runtime/src/types/runtime.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

debug cancel
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/__tests__/ai-chat.integration.test.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
Due: Store Layer

初步实现 agent runtime 的中断逻辑
  packages/agent-runtime/src/types/event.ts
  packages/agent-runtime/src/types/generalAgent.ts
  packages/agent-runtime/src/types/instruction.ts
  packages/types/src/message/common/tools.ts
  src/features/Conversation/Messages/Group/Tool/Inspector/index.tsx
  src/store/chat/agents/GeneralChatAgent.ts
  src/store/chat/agents/__tests__/GeneralChatAgent.test.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/__tests__/ai-chat.integration.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/__tests__/integration.test.ts
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/operation/types.ts
Due: Store Layer

refactor to support to cancel tools calling
  packages/types/src/message/common/metadata.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingStates.test.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/aiChat/actions/streamingStates.ts
  src/store/chat/slices/aiChat/initialState.ts
  src/store/chat/slices/message/selectors/messageState.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/operation/types.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/internals.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/workflow.ts
  src/store/chat/slices/translate/action.ts
Due: Store Layer

add finish type
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

refactor to support cancel ai streaming
  packages/types/src/message/common/metadata.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/fixtures.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingStates.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/aiChat/actions/streamingStates.ts
  src/store/chat/slices/aiChat/initialState.ts
  src/store/chat/slices/aiChat/selectors.ts
  src/store/chat/slices/message/initialState.ts
  src/store/chat/slices/message/selectors/messageState.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/thread/selectors/index.ts
Due: Store Layer

fix tests
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
Due: Store Layer

add more tests
  src/store/chat/agents/__tests__/GeneralChatAgent.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
Due: Store Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
