Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix: export FileMetadata interface for improved accessibility
  apps/desktop/src/main/services/fileSrv.ts
Due: none

refactor: unify IPC mocking across test files for consistency
  apps/desktop/src/main/controllers/__tests__/AuthCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/BrowserWindowsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/DevtoolsCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/LocalFileCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/MenuCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/NetworkProxyCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/NotificationCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/RemoteServerConfigCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/RemoteServerSyncCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/ShellCommandCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/ShortcutCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/SystemCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/TrayMenuCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UpdaterCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  apps/desktop/src/main/modules/fileSearch/__tests__/macOS.integration.test.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/preload/invoke.test.ts
Due: none

🐛 fix: add smooth scroll to top on 'More' button click in Title component (#10178)
  src/app/[variants]/(main)/discover/(list)/_layout/Mobile/Nav.tsx
  src/app/[variants]/(main)/discover/(list)/features/Pagination.tsx
  src/app/[variants]/(main)/discover/components/Title.tsx
Due: none

feat: enhance type-safe IPC flow with context propagation and service registry
  apps/desktop/README.md
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/controllers/UpdaterCtr.ts
  apps/desktop/src/main/controllers/__tests__/BrowserWindowsCtr.test.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/utils/ipc/__tests__/base.test.ts
  apps/desktop/src/main/utils/ipc/base.ts
  apps/desktop/src/main/utils/ipc/index.ts
  apps/desktop/src/main/utils/ipc/utility.ts
  src/utils/electron/ipc.ts
Due: Utils Layer

:bookmark: chore(release): v2.0.0-next.163 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ec/dda9d45256d8e6816bb4449c0424f8cc23c7c7
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix: fix home market avatar z-index
  src/app/[variants]/(main)/home/features/CommunityAgents/Item.tsx
Due: none

fix: View mode
  src/app/[variants]/(main)/resource/(home)/index.tsx
  src/app/[variants]/(main)/resource/library/index.tsx
Due: none

fix: Update library id based on URL
  src/app/[variants]/(main)/resource/(home)/index.tsx
  src/app/[variants]/(main)/resource/library/index.tsx
Due: none

fix: back button
  src/features/ResourceManager/components/Editor/index.tsx
Due: none

refac: Clean up code
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

style: update market-auth-callback
  src/app/[variants]/(auth)/_layout/index.tsx
  src/app/[variants]/(auth)/auth-error/page.tsx
  src/app/[variants]/(auth)/layout.tsx
  src/app/[variants]/(auth)/loading.tsx
  src/app/[variants]/(auth)/signin/page.tsx
  src/app/[variants]/layout.tsx
  src/app/market-auth-callback/layout.tsx
  src/app/market-auth-callback/page.tsx
Due: none

Experience 经验记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  packages/database/src/repositories/userMemory/index.ts
  src/app/[variants]/(main)/memory/features/ContextCard.tsx
  src/app/[variants]/(main)/memory/features/ContextDayGroup.tsx
  src/app/[variants]/(main)/memory/features/ContextTimelineView.tsx
  src/app/[variants]/(main)/memory/features/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/ExperienceDayGroup.tsx
  src/app/[variants]/(main)/memory/features/ExperienceDrawer.tsx
  src/app/[variants]/(main)/memory/features/ExperienceTimelineView.tsx
  src/app/[variants]/(main)/memory/features/ExperiencesList.tsx
  src/app/[variants]/(main)/memory/features/MemoryTabs.tsx
  src/app/[variants]/(main)/memory/features/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/features/PreferenceDayGroup.tsx
  src/app/[variants]/(main)/memory/features/PreferenceTimelineView.tsx
  src/app/[variants]/(main)/memory/features/PreferencesList.tsx
  src/app/[variants]/(main)/memory/features/ViewModeSwitcher.tsx
  src/app/[variants]/(main)/memory/index.tsx
  src/app/[variants]/loaders/routeParams.ts
  src/app/[variants]/router/desktopRouter.config.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/experience/action.ts
Due: Store Layer, Services Layer, Server Layer

Experience 经验记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  src/app/[variants]/(main)/memory/features/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/ExperienceDrawer.tsx
  src/locales/default/memory.ts
Due: none

Preference 偏好记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  packages/database/src/repositories/userMemory/index.ts
  src/app/[variants]/(main)/memory/features/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/features/PreferenceDayGroup.tsx
  src/app/[variants]/(main)/memory/features/PreferenceDrawer.tsx
  src/app/[variants]/(main)/memory/features/PreferenceTimelineView.tsx
  src/app/[variants]/(main)/memory/features/PreferencesList.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer, Services Layer, Server Layer

fix: add support for built-in model search in TokenTag component
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
Due: none

style: update oidc style
  src/app/[variants]/(auth)/oauth/callback/error/page.tsx
  src/app/[variants]/(auth)/oauth/callback/success/page.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/ClientError.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Consent/BuiltinConsent.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Consent/index.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/Login.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/components/OAuthApplicationLogo.tsx
  src/app/[variants]/(auth)/oauth/consent/[uid]/page.tsx
  src/app/[variants]/oauth/ResultLayout.tsx
  src/app/[variants]/oauth/callback/layout.tsx
  src/app/[variants]/oauth/callback/loading.tsx
  src/app/[variants]/oauth/callback/success/page.tsx
  src/app/[variants]/oauth/consent/[uid]/ClientError.tsx
  src/app/[variants]/oauth/consent/[uid]/Consent/index.tsx
  src/app/[variants]/oauth/consent/[uid]/Login.tsx
  src/app/[variants]/oauth/consent/[uid]/components/OAuthApplicationLogo.tsx
  src/app/market-auth-callback/page.tsx
Due: none

Context 情景记忆
  locales/en-US/memory.json
  locales/zh-CN/memory.json
  packages/database/src/repositories/userMemory/index.ts
  src/app/[variants]/(main)/memory/features/ContextCard.tsx
  src/app/[variants]/(main)/memory/features/ContextDayGroup.tsx
  src/app/[variants]/(main)/memory/features/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/features/ContextTimelineView.tsx
  src/app/[variants]/(main)/memory/features/ContextsList.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/context/action.ts
Due: Store Layer, Services Layer, Server Layer

style: update market-auth-callback
  src/app/[variants]/(auth)/market-auth-callback/page.tsx
  src/app/market-auth-callback/layout.tsx
  src/proxy.ts
Due: none

chore: rm unused loading
  src/app/[variants]/loading/Server/Content.tsx
  src/app/[variants]/loading/Server/Redirect.tsx
  src/app/[variants]/loading/Server/index.tsx
  src/app/[variants]/loading/index.tsx
  src/app/[variants]/loading/stage.ts
Due: none

chore(userMemories): improved the results of memory extractor
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

🔨 chore(userMemories): improved the results of memory extractor (#10636)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

refactor(memory-user-memory): better structure, added tests, simplified executor
  packages/database/src/models/userMemory.ts
  packages/memory-user-memory/.gitignore
  packages/memory-user-memory/package.json
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/context.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/experience.ts
  packages/memory-user-memory/src/extractors/gatekeeper.test.ts
  packages/memory-user-memory/src/extractors/gatekeeper.ts
  packages/memory-user-memory/src/extractors/identity.test.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
  packages/memory-user-memory/src/extractors/preference.ts
  packages/memory-user-memory/src/providers/chatTopic.test.ts
  packages/memory-user-memory/src/providers/chatTopic.ts
  packages/memory-user-memory/src/providers/existingUserMemory.test.ts
  packages/memory-user-memory/src/providers/existingUserMemory.ts
  packages/memory-user-memory/src/providers/index.ts
  packages/memory-user-memory/src/schemas/gatekeeper.ts
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/memory-user-memory/src/utils/path.ts
  packages/types/src/topic/topic.ts
  packages/types/src/user/settings/general.ts
  packages/types/src/userMemory/identity.ts
  packages/types/src/userMemory/layers.ts
  src/server/services/memory/userMemory/extract.ts
  src/store/userMemory/slices/identity/action.ts
Due: Store Layer, Server Layer

fix(database): missing user_id and user_memory_id index
  docs/development/database-schema.dbml
  packages/database/migrations/0060_add_user_memory_user_id_index.sql
  packages/database/migrations/meta/0060_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/userMemories.ts
Due: none

test(database): document model delete all
  packages/database/src/models/__tests__/document.test.ts
Due: none

fix: build failed
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/gatekeeper.test.ts
  packages/memory-user-memory/src/extractors/identity.test.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
Due: none

fix: improve more
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

♻️ refactor(memory-user-memory): better structure, added tests, simplified executor (#10641)
  packages/database/src/models/userMemory.ts
  packages/memory-user-memory/.gitignore
  packages/memory-user-memory/package.json
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/extractors/context.test.ts
  packages/memory-user-memory/src/extractors/context.ts
  packages/memory-user-memory/src/extractors/experience.test.ts
  packages/memory-user-memory/src/extractors/experience.ts
  packages/memory-user-memory/src/extractors/gatekeeper.test.ts
  packages/memory-user-memory/src/extractors/gatekeeper.ts
  packages/memory-user-memory/src/extractors/identity.test.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/extractors/preference.test.ts
  packages/memory-user-memory/src/extractors/preference.ts
  packages/memory-user-memory/src/providers/chatTopic.test.ts
  packages/memory-user-memory/src/providers/chatTopic.ts
  packages/memory-user-memory/src/providers/existingUserMemory.test.ts
  packages/memory-user-memory/src/providers/existingUserMemory.ts
  packages/memory-user-memory/src/providers/index.ts
  packages/memory-user-memory/src/schemas/gatekeeper.ts
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/memory-user-memory/src/utils/path.ts
  packages/types/src/topic/topic.ts
  packages/types/src/user/settings/general.ts
  packages/types/src/userMemory/identity.ts
  packages/types/src/userMemory/layers.ts
  src/server/services/memory/userMemory/extract.ts
  src/store/userMemory/slices/identity/action.ts
Due: Store Layer, Server Layer

try to fix build
  packages/memory-user-memory/src/services/extractAgentService.ts
Due: none

✨ feat: 添加 DeepSeek V3.2 模型及其定价信息，移除过时的实验性模型
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-bank/src/aiModels/volcengine.ts
Due: none

fix build
  packages/memory-user-memory/.gitignore
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/utils/path.ts
Due: none

refac: Clean up code
  src/features/ResourceManager/components/Explorer/EmptyPlaceholder.tsx
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
Due: none

opti: Better D & D performance
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Header/index.tsx
Due: none

opti: Better dnd performance
  src/features/ResourceManager/components/Explorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/components/Explorer/useFileItemDropdown.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

refac: Clean up code
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/index.tsx
  src/features/ResourceManager/components/Explorer/index.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

lint: Remove unused files
  src/features/ResourceManager/components/Explorer/FileListItem/index.tsx
  src/features/ResourceManager/components/Header/NewNoteButton.tsx
  src/features/ResourceManager/components/PageExplorer/DocumentActions.tsx
  src/features/ResourceManager/components/PageExplorer/DocumentListItem.tsx
  src/features/ResourceManager/components/PageExplorer/RenamePopover.tsx
  src/features/ResourceManager/components/PageExplorer/hooks/usePageEditor.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
