Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

:bookmark: chore(release): v2.0.0-next.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a5/e0e5acb22c13821e5e51094f6b075cec0174f5
Due: none

fix lint
  src/features/Conversation/Messages/Assistant/MessageContent.tsx
  src/features/Conversation/Messages/Assistant/Tool/Render/index.tsx
  src/features/Conversation/Messages/Assistant/Tool/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/index.tsx
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
Due: Store Layer

clean docker workflow
  .github/workflows/docker.yml
  packages/context-engine/src/index.ts
  packages/context-engine/src/providers/InboxGuide.ts
  packages/context-engine/src/providers/__tests__/InboxGuideProvider.test.ts
  packages/context-engine/src/providers/index.ts
Due: none

fix tests
  .github/workflows/docker.yml
  src/store/chat/slices/message/selectors/chat.test.ts
Due: Store Layer

fix docker
  .github/workflows/docker.yml
Due: none

fix tests
  src/services/chat/contextEngineering.test.ts
Due: Services Layer

fix tests
  src/store/chat/slices/message/action.test.ts
Due: Store Layer

fix tests
  src/store/chat/slices/plugin/action.test.ts
Due: Store Layer

fix docker workflow
  .github/workflows/docker.yml
Due: none

🔨 chore: fix docker workflow (#9987)
  .github/workflows/docker.yml
Due: none

update client db
  packages/database/package.json
Due: none

remove dalle
  src/features/AgentSetting/AgentPlugin/index.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/features/PluginTag/index.tsx
  src/features/PluginsUI/Render/BuiltinType/index.test.tsx
  src/services/chat/chat.test.ts
  src/store/chat/slices/builtinTool/actions/__tests__/dalle.test.ts
  src/store/chat/slices/builtinTool/actions/dalle.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/tool/selectors/tool.test.ts
  src/store/tool/selectors/tool.ts
  src/store/tool/slices/builtin/action.test.ts
  src/store/tool/slices/builtin/action.ts
  src/store/tool/slices/builtin/selectors.test.ts
  src/store/tool/slices/builtin/selectors.ts
  src/tools/dalle/Render/GalleyGrid.tsx
  src/tools/dalle/Render/Item/EditMode.tsx
  src/tools/dalle/Render/Item/Error.tsx
  src/tools/dalle/Render/Item/Image.tsx
  src/tools/dalle/Render/Item/ImageFileItem.tsx
  src/tools/dalle/Render/Item/index.tsx
  src/tools/dalle/Render/ToolBar.tsx
  src/tools/dalle/Render/index.tsx
  src/tools/dalle/index.ts
  src/tools/index.ts
  src/tools/renders.ts
Due: Store Layer, Services Layer

fix tests
  src/services/chat/__snapshots__/chat.test.ts.snap
  src/services/chat/chat.test.ts
Due: Services Layer

fix tests
  src/store/tool/slices/builtin/selectors.test.ts
Due: Store Layer

improve tests
  packages/database/src/models/__tests__/message.test.ts
  src/features/PluginsUI/Render/BuiltinType/index.test.tsx
Due: none

fix tests
  packages/database/src/models/__tests__/message.grouping.test.ts
  packages/database/src/models/message.ts
Due: none

:bookmark: chore(release): v2.0.0-next.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  35/13bf4363e811f854c4d576fe213a8426f796bb
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

remove edge client and <InitClientDB />
  src/app/(backend)/trpc/edge/[trpc]/route.ts
  src/app/[variants]/(main)/(mobile)/me/(home)/layout.tsx
  src/app/[variants]/(main)/chat/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/chat/_layout/Mobile.tsx
  src/app/[variants]/(main)/image/page.tsx
  src/app/[variants]/(main)/profile/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/profile/_layout/Mobile/index.tsx
  src/app/[variants]/(main)/settings/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/settings/_layout/Mobile/index.tsx
  src/libs/trpc/client/edge.ts
  src/libs/trpc/client/index.ts
  src/libs/trpc/edge/context.ts
  src/libs/trpc/edge/index.ts
  src/libs/trpc/edge/init.ts
  src/libs/trpc/edge/middleware/jwtPayload.test.ts
  src/libs/trpc/edge/middleware/jwtPayload.ts
  src/server/routers/desktop/mcp.ts
  src/server/routers/edge/appStatus.ts
  src/server/routers/edge/index.ts
  src/server/routers/edge/upload.ts
  src/server/routers/lambda/config/index.test.ts
  src/server/routers/tools/mcp.ts
  src/server/routers/tools/search.ts
  src/services/__tests__/tool.test.ts
  src/services/baseClientService/index.ts
Due: Services Layer, Server Layer, Libraries Layer

fix search tests
  src/server/routers/tools/search.test.ts
Due: Server Layer

fix desktop
  .github/workflows/desktop-pr-build.yml
Due: none

🔨 chore: fix desktop-pr workflow (#9992)
  .github/workflows/desktop-pr-build.yml
Due: none

try turbopack
  package.json
Due: none

:white_check_mark: test: remove empty test
  src/envs/__tests__/auth.test.ts
Due: none

fix provider link issue
  src/app/[variants]/(main)/settings/provider/(list)/ProviderGrid/Card.tsx
Due: none

fix app url
  src/envs/app.ts
Due: none

fix tests
  src/app/[variants]/(main)/(mobile)/me/(home)/__tests__/useCategory.test.tsx
  src/hooks/useInterceptingRoutes.test.ts
Due: none

✨ fix: add padding to TopicList component
  src/app/[variants]/(main)/image/@topic/features/Topics/TopicList.tsx
Due: none

🐛 fix: do not create image on Enter key during composition
  src/app/[variants]/(main)/image/features/PromptInput/index.tsx
Due: none

🐛 fix: include authorization header in mock user context
  src/libs/trpc/lambda/context.ts
Due: Libraries Layer

fix again
  src/app/[variants]/(main)/settings/provider/(list)/ProviderGrid/Card.tsx
  src/components/InnerLink.tsx
  src/components/Link.tsx
Due: none

👷 build: switch to turbopack for bundling (#9990)
  package.json
Due: none

:bookmark: chore(release): v2.0.0-next.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  25/16b89c7c731eb7bc72c4cf8f6980464ceb75fd
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
