Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

chore: ignore apps/mobile dir content build
  scripts/vercelIgnoredBuildStep.js
Due: none

🔨 chore: ignore apps/mobile dir content build (#10079)
  scripts/vercelIgnoredBuildStep.js
Due: none

fix: discover chat item
  apps/mobile/src/app/discover/assistant/[...slugs]/index.tsx
Due: none

test: missing tests
  packages/database/src/models/__tests__/userMemories.test.ts
Due: none

✅ test: add unit tests for MCP installation checkers (#10078)
  src/server/services/mcp/deps/checkers/ManualInstallationChecker.test.ts
  src/server/services/mcp/deps/checkers/NpmInstallationChecker.test.ts
  src/server/services/mcp/deps/checkers/PythonInstallationChecker.test.ts
Due: Server Layer

fix: update opt image
  apps/mobile/src/features/ChatInput/components/FileUpload/index.tsx
  apps/mobile/src/i18n/default/chat.ts
Due: none

✨ feat(cerebras, google): 移除 Qwen 3 Coder 480B 模型并更新 Nano Banana 模型的上下文窗口和最大输出
  packages/model-bank/src/aiModels/cerebras.ts
  packages/model-bank/src/aiModels/google.ts
Due: none

fix: update opt video
  apps/mobile/app.config.ts
  apps/mobile/package.json
  apps/mobile/pnpm-lock.yaml
  apps/mobile/src/features/ChatInput/components/FileUpload/index.tsx
Due: none

fix: sidebar multiple click nav
  apps/mobile/src/features/SideBar/index.tsx
Due: none

fix: multiple click nav in assistant page
  apps/mobile/src/app/discover/assistant/index.tsx
  apps/mobile/src/features/discover/assistant/components/AgentCard/index.tsx
Due: none

fix: update opt image
  apps/mobile/locales/ar/chat.json
  apps/mobile/locales/bg-BG/chat.json
  apps/mobile/locales/de-DE/chat.json
  apps/mobile/locales/en-US/chat.json
  apps/mobile/locales/es-ES/chat.json
  apps/mobile/locales/fa-IR/chat.json
  apps/mobile/locales/fr-FR/chat.json
  apps/mobile/locales/it-IT/chat.json
  apps/mobile/locales/ja-JP/chat.json
  apps/mobile/locales/ko-KR/chat.json
  apps/mobile/locales/nl-NL/chat.json
  apps/mobile/locales/pl-PL/chat.json
  apps/mobile/locales/pt-BR/chat.json
  apps/mobile/locales/ru-RU/chat.json
  apps/mobile/locales/tr-TR/chat.json
  apps/mobile/locales/vi-VN/chat.json
  apps/mobile/locales/zh-CN/chat.json
  apps/mobile/locales/zh-TW/chat.json
  apps/mobile/src/features/ChatInput/components/FilePreview/FileContent.tsx
  apps/mobile/src/features/ChatInput/components/FilePreview/UploadStatus.tsx
  apps/mobile/src/features/ChatInput/components/FileUpload/index.tsx
  apps/mobile/src/i18n/default/chat.ts
Due: none

fix: restore the lamdba change
  src/server/routers/lambda/agent.ts
  src/server/routers/lambda/message.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

✨ refactor: replace useUserStore with useGlobalStore for disabled models sorting
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

✨ feat: add dropdown menu for sorting models and providers with ascending/descending options
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/locales/default/modelProvider.ts
Due: none

✨ refactor: update sort type management in DisabledModels and List components to use useCallback
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
Due: none

✨ feat: persist sort type in localStorage for model providers and disabled models
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
Due: none

✨ feat: add sorting options for models by release date with ascending/descending functionality
  packages/model-bank/src/aiModels/google.ts
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/locales/default/modelProvider.ts
Due: none

✨ feat: add sorting functionality for disabled models and model providers with tooltip support
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/locales/default/modelProvider.ts
Due: none

✨ refactor: streamline sort type management in DisabledModels and List components
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
Due: none

fix: prevent assistant message from disappearing during regenerate
  src/store/chat/slices/aiChat/actions/generateAIChat.ts
Due: Store Layer

✨ feat: 删除话题时一并删除文件
  packages/const/src/settings/common.ts
  packages/database/src/models/topic.ts
  packages/types/src/user/settings/general.ts
  src/app/[variants]/(main)/settings/storage/Advanced.tsx
  src/locales/default/setting.ts
  src/server/routers/lambda/message.ts
  src/server/routers/lambda/topic.ts
  src/server/services/file/impls/local.ts
  src/server/services/file/impls/s3.ts
Due: Server Layer

feat(mobile): discover toggle drawer
  apps/mobile/src/app/discover/assistant/[...slugs]/index.tsx
  apps/mobile/src/features/discover/assistant/components/AgentCard/index.tsx
Due: none

fix: agent role edit mutiple open
  apps/mobile/src/app/(main)/chat/setting/index.tsx
Due: none

fix test
  src/server/services/file/impls/s3.test.ts
Due: Server Layer

fix: provider card multiple nav
  apps/mobile/src/app/(main)/setting/providers/_features/ProviderCard.tsx
Due: none

fix: agent detail and chat title nav double enter
  apps/mobile/src/app/(main)/chat/index.tsx
  apps/mobile/src/app/(main)/chat/setting/index.tsx
  apps/mobile/src/features/AgentRoleEdit/AgentRoleEditSection.tsx
  apps/mobile/src/features/AgentRoleEdit/sectionStyles.ts
  apps/mobile/src/hooks/useSinglePress.ts
Due: none

chore: update lock file
  apps/mobile/pnpm-lock.yaml
Due: none

feat(observability-otel): support to trace and meter for tRPC
  packages/obervability-otel/package.json
  packages/obervability-otel/src/api.ts
  packages/obervability-otel/src/trpc/convention.ts
  packages/obervability-otel/src/trpc/index.test.ts
  packages/obervability-otel/src/trpc/index.ts
  packages/obervability-otel/src/trpc/metrics.ts
  src/libs/trpc/lambda/index.ts
  src/libs/trpc/middleware/openTelemetry.ts
Due: Libraries Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
Due: none

✨ feat(moonshot): 添加 Kimi K2 Thinking 和 Kimi K2 Thinking Turbo 模型，更新模型参数处理
  packages/model-bank/src/aiModels/moonshot.ts
  packages/model-runtime/src/providers/moonshot/index.ts
Due: none

💄 style: add sorting functionality for disabled models and model providers with tooltip support (#10000)
  packages/model-bank/src/aiModels/google.ts
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/locales/default/modelProvider.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.34 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
