Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

✨ feat(settings): add new general settings (responseLanguage, liteMode, devMode, telemetry)
  locales/en-US/setting.json
  locales/zh-CN/setting.json
  packages/const/src/settings/common.ts
  packages/const/src/user.ts
  packages/types/src/user/preference.ts
  packages/types/src/user/settings/general.ts
  src/app/[variants]/(main)/settings/common/features/Common/Common.tsx
  src/locales/default/setting.ts
Due: none

✨ feat(profile): add career field to user profile
  locales/en-US/auth.json
  locales/zh-CN/auth.json
  packages/database/src/models/user.ts
  packages/types/src/user/preference.ts
  src/app/[variants]/(main)/settings/profile/Client.tsx
  src/locales/default/auth.ts
  src/server/routers/lambda/user.ts
  src/services/user/index.ts
  src/store/user/slices/auth/selectors.ts
  src/store/user/slices/common/action.ts
Due: Store Layer, Services Layer, Server Layer

Revert "🗃️ chore(database): add migration for career field"
  docs/development/database-schema.dbml
  packages/database/migrations/0063_add_career_field.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

♻️ refactor(store): migrate telemetry selector from preference to settings
  src/app/[variants]/(main)/settings/about/features/Analytics.tsx
  src/services/chat/index.ts
  src/services/discover.ts
  src/services/trace.ts
  src/store/user/slices/common/action.test.ts
  src/store/user/slices/common/action.ts
  src/store/user/slices/preference/selectors.test.ts
  src/store/user/slices/preference/selectors/preference.ts
  src/store/user/slices/settings/selectors/general.ts
Due: Store Layer, Services Layer

🗃️ chore(database): add user onboarding fields
  packages/const/src/user.ts
  packages/database/src/schemas/user.ts
  packages/types/src/user/preference.ts
Due: none

🗃️ chore(database): add migration for career field
  docs/development/database-schema.dbml
  packages/database/migrations/0063_add_career_field.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

♻️ refactor(types): move isDevMode, isLiteMode, responseLanguage to general settings
  packages/const/src/user.ts
  packages/database/src/schemas/user.ts
  packages/types/src/user/preference.ts
  packages/types/src/user/settings/general.ts
Due: none

🗃️ chore(database): add migration for user occupation field
  docs/development/database-schema.dbml
  packages/database/migrations/0063_add_user_occupation.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

feat(userMemories): improved the model for queryMemories & queryMemoryDetail
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/types/src/userMemory/base.ts
  packages/types/src/userMemory/index.ts
Due: none

refactor(userMemories): rename many types
  packages/database/src/models/userMemory/model.ts
  packages/types/src/userMemory/index.ts
  packages/types/src/userMemory/list.ts
Due: none

fix agent group system prompts
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/context-engine/src/processors/GroupMessageSender.ts
  packages/context-engine/src/processors/__tests__/GroupMessageSender.test.ts
  packages/database/src/models/__tests__/chatGroup.test.ts
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/chatGroup.ts
  packages/database/src/schemas/chatGroup.ts
  packages/prompts/src/prompts/agentGroup/__snapshots__/index.test.ts.snap
  packages/prompts/src/prompts/agentGroup/groupContext.ts
  src/features/ChatInput/hooks/useAgentId.ts
  src/services/chatGroup/index.ts
  src/store/agent/selectors/agentByIdSelectors.ts
  src/store/agent/selectors/selectors.test.ts
  src/store/agent/selectors/selectors.ts
  src/store/agent/slices/agent/action.test.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
  src/store/agent/slices/knowledge/action.test.ts
  src/store/agent/slices/plugin/action.test.ts
  src/store/agentGroup/slices/lifecycle.test.ts
  src/store/agentGroup/slices/member.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/utils/cleanSpeakerTag.test.ts
  src/store/chat/utils/cleanSpeakerTag.ts
Due: Store Layer, Services Layer

🤖 style: update i18n (#10759)
  locales/ar/models.json
  locales/bg-BG/models.json
  locales/de-DE/models.json
  locales/en-US/models.json
  locales/es-ES/models.json
  locales/fa-IR/models.json
  locales/fr-FR/models.json
  locales/it-IT/models.json
  locales/ja-JP/models.json
  locales/ko-KR/models.json
  locales/nl-NL/models.json
  locales/pl-PL/models.json
  locales/pt-BR/models.json
  locales/ru-RU/models.json
  locales/tr-TR/models.json
  locales/vi-VN/models.json
  locales/zh-CN/models.json
  locales/zh-TW/models.json
Due: none

fix some tests
  packages/context-engine/src/providers/__tests__/GroupContextInjector.test.ts
  packages/context-engine/src/providers/__tests__/__snapshots__/GroupContextInjector.test.ts.snap
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.172 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d1/1e9d5dde52420bfaf6ae6d02ac4a8a4d4d3240
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix kb list
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/List.tsx
  src/store/agent/slices/chat/action.ts
Due: Store Layer

:sparkles: feat: implement configurable auto-scroll
  packages/const/src/settings/common.ts
  packages/types/src/user/settings/general.ts
  src/app/[variants]/(main)/settings/common/features/Common/Common.tsx
  src/features/ChatList/components/AutoScroll.tsx
  src/locales/default/setting.ts
  src/store/user/slices/settings/selectors/general.ts
Due: Store Layer

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

fix some tests
  src/server/routers/lambda/__tests__/agentGroup.test.ts
Due: Server Layer

🐛 fix fix Knowledge Base select list (#10798)
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/List.tsx
  src/store/agent/slices/chat/action.ts
Due: Store Layer

📝 docs(bot): Auto sync agents & plugin to readme
  README.md
  README.zh-CN.md
Due: none

:bug: fix: gpt5.2 reasoning effort should not with top_p, temperature
  packages/model-runtime/src/core/contextBuilders/openai.ts
Due: none

:white_check_mark: test: adjust tests to align behaviors
  packages/model-runtime/src/providers/github/index.test.ts
Due: none

feat: change the react router data mode to delcarative mode
  src/app/[variants]/(main)/chat/_layout/AgentIdSync.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/index.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/index.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/group/_layout/GroupIdSync.tsx
  src/app/[variants]/(main)/settings/index.tsx
  src/app/[variants]/(main)/settings/provider/index.tsx
  src/app/[variants]/router/DesktopClientRouter.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/hooks/useInitAgentConfig.ts
  src/utils/router.tsx
Due: Utils Layer

feat: mobile router change
  src/app/[variants]/(mobile)/router/MobileClientRouter.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
Due: none

🐛 fix: change the react router data mode to delcarative mode (#10801)
  src/app/[variants]/(main)/chat/_layout/AgentIdSync.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/index.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/index.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/index.tsx
  src/app/[variants]/(main)/discover/(detail)/user/index.tsx
  src/app/[variants]/(main)/group/_layout/GroupIdSync.tsx
  src/app/[variants]/(main)/settings/index.tsx
  src/app/[variants]/(main)/settings/provider/index.tsx
  src/app/[variants]/(mobile)/router/MobileClientRouter.tsx
  src/app/[variants]/(mobile)/router/mobileRouter.config.tsx
  src/app/[variants]/router/DesktopClientRouter.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/hooks/useInitAgentConfig.ts
  src/utils/router.tsx
Due: Utils Layer

fix: fix memory type
  packages/database/src/repositories/userMemory/index.ts
  packages/types/src/userMemory/identity.ts
  src/app/[variants]/(main)/memory/contexts/features/List/GridView/ContextCard.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/ContextCard.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/GridView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/Loading.tsx
  src/app/[variants]/(main)/memory/features/SourceLink.tsx
  src/app/[variants]/(main)/memory/identities/features/List/GridView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/GridView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/GridView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/features/User/UserAvatar.tsx
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/slices/base/action.ts
Due: Store Layer, Services Layer, Server Layer

feat: Use modify
  package.json
  src/auth.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/tools/page-agent/ExecutionRuntime/index.ts
  src/tools/page-agent/index.ts
  src/tools/page-agent/systemRole.ts
  src/tools/page-agent/type.ts
Due: Store Layer

:bug: fix: request to gpt5 series should not with `top_p`, temperature when reasoning effort is not none (#10800)
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/providers/github/index.test.ts
Due: none

🗃️ db: add onboarding field to users table
  docs/development/database-schema.dbml
  packages/database/migrations/0063_add_user_occupation_and_onboarding.sql
  packages/database/migrations/meta/0063_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/user.ts
  packages/types/src/user/index.ts
  packages/types/src/user/onboarding.ts
Due: none

:bookmark: chore(release): v2.0.0-next.173 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  11/e065cd05dd55a8d02065065bb84e684946f75c
Due: none

fix tests
  src/config/featureFlags/schema.test.ts
  src/features/Conversation/store/slices/message/action/crud.test.ts
  src/hooks/useFetchTopics.test.ts
  src/server/routers/lambda/__tests__/aiAgent.test.ts
  src/server/routers/lambda/__tests__/file.test.ts
  src/server/services/aiChat/index.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/session/slices/session/action.test.ts
  src/store/user/slices/settings/selectors/__snapshots__/settings.test.ts.snap
  src/store/user/slices/settings/selectors/general.test.ts
Due: Store Layer, Server Layer

add gtd
  package.json
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/tool/initialState.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-gtd.test.ts
  src/store/tool/slices/builtin/executors/index.ts
  src/store/tool/slices/builtin/executors/lobe-gtd.ts
  src/store/tool/slices/builtin/types.ts
  src/tools/identifiers.ts
  src/tools/index.ts
  src/tools/page-agent/ExecutionRuntime/index.test.ts
Due: Store Layer
