Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix: Mention all not working
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
Due: Store Layer

feat: Hide virtual agent
  packages/types/src/agent/item.ts
  src/app/[variants]/(main)/chat/@session/_layout/Desktop/SessionHeader.tsx
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/DefaultMode.tsx
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/SearchMode.tsx
  src/server/modules/EdgeConfig/index.ts
Due: Server Layer

fix: type erro
  src/store/chat/slices/aiChat/actions/generateAIGroupChat.ts
Due: Store Layer

✨ feat: enhance EdgeConfig with per-user feature flags support
  src/config/featureFlags/index.ts
  src/config/featureFlags/schema.ts
  src/server/modules/EdgeConfig/index.ts
Due: Server Layer

feat: 添加 GLM-4.6 聊天模型，增强推理能力和上下文处理
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

:white_check_mark: lint: fix
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/server/services/usage/index.ts
Due: Server Layer

:lipstick: style: migrate panel UI
  packages/types/src/usage/usageRecord.ts
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/app/[variants]/(main)/profile/usage/features/components/UsageBarChart.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/server/services/usage/index.ts
  src/services/usage.ts
  src/store/global/initialState.ts
Due: Store Layer, Services Layer, Server Layer

:globe_with_meridians: i18n: add translations
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
Due: none

:globe_with_meridians: i18n: add i18n slots
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/TodaySpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/locales/default/auth.ts
Due: none

🐛 fix: Custom provider fails when client requests are enabled (#9534)
  packages/model-runtime/src/core/ModelRuntime.ts
  packages/types/src/auth.ts
  src/server/modules/ModelRuntime/index.test.ts
  src/server/modules/ModelRuntime/index.ts
  src/services/__tests__/models.test.ts
  src/services/_auth.ts
  src/services/chat/clientModelRuntime.test.ts
  src/services/chat/clientModelRuntime.ts
  src/services/chat/helper.ts
  src/services/chat/index.ts
  src/services/models.ts
Due: Services Layer, Server Layer

💄 style: Optimized `extendParams` UI (#9457)
  packages/model-bank/src/aiModels/aihubmix.ts
  packages/model-bank/src/aiModels/deepseek.ts
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/aiModels/hunyuan.ts
  packages/model-bank/src/aiModels/novita.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-runtime/src/providers/google/index.test.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/utils/modelParse.ts
  src/config/modelProviders/deepseek.ts
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/ReasoningTokenSlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingBudgetSlider.tsx
Due: none

chore: sync some update (#9539)
  packages/model-runtime/src/core/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/core/streams/protocol.ts
  packages/model-runtime/src/utils/usageConverter.test.ts
  packages/model-runtime/src/utils/usageConverter.ts
Due: none

🤖 style: update i18n (#9514)
  locales/ar/models.json
  locales/bg-BG/models.json
  locales/de-DE/models.json
  locales/en-US/models.json
  locales/es-ES/models.json
  locales/fa-IR/models.json
  locales/fr-FR/models.json
  locales/it-IT/models.json
  locales/ja-JP/models.json
  locales/ko-KR/models.json
  locales/nl-NL/models.json
  locales/pl-PL/models.json
  locales/pt-BR/models.json
  locales/ru-RU/models.json
  locales/tr-TR/models.json
  locales/vi-VN/models.json
  locales/zh-CN/models.json
  locales/zh-TW/models.json
Due: none

feat: add session pannel double click & drag create new window
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/List/Item/Actions.tsx
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/List/Item/index.tsx
  src/features/ElectronTitlebar/Connection/index.tsx
  src/store/global/actions/general.ts
Due: Store Layer

feat: add single pannel
  apps/desktop/src/main/appBrowsers.ts
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/core/browser/BrowserManager.ts
  packages/electron-client-ipc/src/events/windows.ts
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/TopicListContent/TopicItem/TopicContent.tsx
Due: none

feat: add ts define
  apps/desktop/src/main/appBrowsers.ts
Due: none

feat: loading singlemode not render draggablePannel
  src/app/[variants]/(main)/chat/_layout/Desktop/SessionPanel.tsx
Due: none

feat: use ueIsSingleMode hook to replace useSearchParams judge
  src/app/[variants]/(main)/_layout/Desktop/SideBar/index.tsx
  src/app/[variants]/(main)/chat/_layout/Desktop/SessionPanel.tsx
  src/app/[variants]/(main)/chat/features/TogglePanelButton.tsx
  src/hooks/useIsSingleMode.test.ts
  src/hooks/useIsSingleMode.ts
Due: none

feat: add supensed out in SideBar
  src/app/[variants]/(main)/_layout/Desktop/DesktopLayoutContainer.tsx
  src/app/[variants]/(main)/_layout/Desktop/index.tsx
  src/features/ElectronTitlebar/Connection/index.tsx
  src/hooks/useIsSingleMode.test.ts
  src/hooks/useIsSingleMode.ts
Due: none

feat: add openTopicInNewWindow to global windows
  src/app/[variants]/(main)/_layout/Desktop/SideBar/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/TopicListContent/TopicItem/TopicContent.tsx
  src/app/[variants]/(main)/chat/_layout/Desktop/SessionPanel.tsx
  src/app/[variants]/(main)/chat/features/TogglePanelButton.tsx
  src/store/global/actions/general.ts
Due: Store Layer

fix: update test.ts
  src/hooks/useIsSingleMode.test.ts
Due: none

:bookmark: chore(release): v1.133.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e0/1c72cf033b4644dc527349f44833ec85c75ef0
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix(mobile): monorepo production build script
  apps/mobile/package.json
Due: none

style(mobile): text area font size
  apps/mobile/src/components/Input/TextArea/style.ts
Due: none

chore(mobile): optimized renderContent component
  apps/mobile/app/(main)/chat/index.tsx
Due: none

💄 style: nano banana support `aspect_ratio` (#9528)
  packages/model-bank/src/aiModels/google.ts
  packages/model-runtime/src/providers/google/createImage.ts
Due: none

🐛 fix: `type` not preserved when model is disabled or sorted (#9530)
  packages/database/src/models/__tests__/aiModel.test.ts
  packages/database/src/models/aiModel.ts
  packages/model-bank/src/types/aiModel.ts
  src/app/[variants]/(main)/settings/provider/features/ModelList/ModelItem.tsx
  src/server/routers/lambda/aiModel.test.ts
Due: Server Layer

update log
  src/config/featureFlags/index.ts
  src/server/modules/EdgeConfig/index.ts
Due: Server Layer

:bookmark: chore(release): v1.133.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  63/e3b70681dd60c484fa942432a5b9ebd3bdfc41
Due: none

refactor
  src/config/featureFlags/index.ts
  src/server/featureFlags/index.ts
Due: Server Layer

Potential fix for code scanning alert no. 39: Workflow does not contain permissions
  .github/workflows/docker-pglite.yml
Due: none

refactor schema
  src/config/featureFlags/schema.test.ts
  src/config/featureFlags/schema.ts
Due: none

✨ feat: support double-click to open multi agent window on the desktop (#9331)
  apps/desktop/src/main/appBrowsers.ts
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/core/browser/BrowserManager.ts
  packages/electron-client-ipc/src/events/windows.ts
  src/app/[variants]/(main)/_layout/Desktop/DesktopLayoutContainer.tsx
  src/app/[variants]/(main)/_layout/Desktop/SideBar/index.tsx
  src/app/[variants]/(main)/_layout/Desktop/index.tsx
  src/app/[variants]/(main)/chat/(workspace)/@topic/features/TopicListContent/TopicItem/TopicContent.tsx
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/List/Item/Actions.tsx
  src/app/[variants]/(main)/chat/@session/features/SessionListContent/List/Item/index.tsx
  src/app/[variants]/(main)/chat/_layout/Desktop/SessionPanel.tsx
  src/app/[variants]/(main)/chat/features/TogglePanelButton.tsx
  src/features/ElectronTitlebar/Connection/index.tsx
  src/hooks/useIsSingleMode.test.ts
  src/hooks/useIsSingleMode.ts
  src/store/global/actions/general.ts
Due: Store Layer

🔨 chore: enhance EdgeConfig with per-user feature flags support (#9541)
  src/config/featureFlags/index.ts
  src/config/featureFlags/schema.test.ts
  src/config/featureFlags/schema.ts
  src/server/featureFlags/index.ts
  src/server/modules/EdgeConfig/index.ts
Due: Server Layer

:bookmark: chore(release): v1.134.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  01/d66a93686b38320d072a438f22f4314b650ef7
Due: none
