Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

style: Changelog modal
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/index.tsx
Due: none

fix: Exclude mapped document
  packages/database/src/repositories/knowledge/index.ts
Due: none

fix: Change log modal
  src/components/ChangelogModal/index.tsx
Due: none

support send message
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/hooks/useInitAgentConfig.ts
Due: none

refactor model list
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/ChatInput/ActionBar/History/Controls.tsx
  src/features/ChatInput/ActionBar/History/index.tsx
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/GPT51ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/GPT5ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/ImageAspectRatioSelect.tsx
  src/features/ChatInput/ActionBar/Model/ImageResolutionSlider.tsx
  src/features/ChatInput/ActionBar/Model/ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/TextVerbositySlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingLevelSlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingSlider.tsx
  src/features/ChatInput/ActionBar/Model/index.tsx
  src/features/ChatInput/ActionBar/Params/Controls.tsx
  src/features/ChatInput/ActionBar/Search/Controls.tsx
  src/features/ChatInput/ActionBar/Search/FCSearchModel.tsx
  src/features/ChatInput/ActionBar/Search/ModelBuiltinSearch.tsx
  src/features/ChatInput/ActionBar/Search/index.tsx
  src/features/ChatInput/hooks/useAgentEnableSearch.ts
  src/features/ChatInput/hooks/useUpdateAgentConfig.ts
  src/features/Conversation/ChatInput/index.tsx
  src/features/ModelSwitchPanel/index.tsx
  src/store/agent/slices/agent/action.ts
Due: Store Layer

refactor chat input issue
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/features/ChatInput/ActionBar/History/Controls.tsx
  src/features/ChatInput/ActionBar/History/index.tsx
  src/features/ChatInput/ActionBar/Knowledge/useControls.tsx
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/GPT51ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/GPT5ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/ImageAspectRatioSelect.tsx
  src/features/ChatInput/ActionBar/Model/ImageResolutionSlider.tsx
  src/features/ChatInput/ActionBar/Model/ReasoningEffortSlider.tsx
  src/features/ChatInput/ActionBar/Model/TextVerbositySlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingLevelSlider.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingSlider.tsx
  src/features/ChatInput/ActionBar/Model/index.tsx
  src/features/ChatInput/ActionBar/Params/Controls.tsx
  src/features/ChatInput/ActionBar/Params/index.tsx
  src/features/ChatInput/ActionBar/STT/browser.tsx
  src/features/ChatInput/ActionBar/STT/openai.tsx
  src/features/ChatInput/ActionBar/Search/Controls.tsx
  src/features/ChatInput/ActionBar/Search/FCSearchModel.tsx
  src/features/ChatInput/ActionBar/Search/ModelBuiltinSearch.tsx
  src/features/ChatInput/ActionBar/Search/index.tsx
  src/features/ChatInput/ActionBar/Token/TokenTag.tsx
  src/features/ChatInput/ActionBar/Token/TokenTagForGroupChat.tsx
  src/features/ChatInput/ActionBar/Tools/index.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/features/ChatInput/ActionBar/Upload/ServerMode.tsx
  src/features/ChatInput/ChatInputProvider.tsx
  src/features/ChatInput/Desktop/FilePreview/index.tsx
  src/features/ChatInput/StoreUpdater.tsx
  src/features/ChatInput/hooks/useAgentId.ts
  src/features/ChatInput/store/initialState.ts
  src/store/agent/selectors/agentByIdSelectors.ts
  src/store/agent/selectors/chatConfigByIdSelectors.ts
  src/store/agent/selectors/index.ts
Due: Store Layer

♻️ refactor(server/modules/s3): improved constructor to accept options without taking env directly (#10624)
  src/server/modules/S3/index.test.ts
  src/server/modules/S3/index.ts
  src/server/routers/lambda/upload.ts
  src/server/routers/lambda/user.ts
  src/server/services/file/impls/s3.test.ts
  src/server/services/file/impls/s3.ts
  src/server/services/user/index.ts
Due: Server Layer

✨ feat(userMemory): with Upstash Workflows for memory extractor (#10623)
  package.json
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/obervability-otel/src/modules/memory-user-memory/extract.ts
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

feat: Support blocks
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/features/CommandMenu/useCommandMenu.ts
  src/features/PageEditor/EditorContent.tsx
  src/locales/default/file.ts
Due: none

fix: Update filter
  packages/database/src/repositories/knowledge/index.ts
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/index.tsx
  src/store/file/slices/document/selectors.ts
Due: Store Layer

fix topic models update issues
  packages/database/src/models/__tests__/topics/topic.update.test.ts
  packages/database/src/models/topic.ts
  packages/database/src/schemas/_helpers.ts
Due: none

🔨 chore: change the settings sub router to / path (#10617)
  src/app/[variants]/(main)/settings/_layout/Body/index.tsx
  src/app/[variants]/(main)/settings/index.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/All.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/Item.tsx
  src/app/[variants]/(main)/settings/provider/index.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/loaders/routeParams.ts
Due: none

✨ feat(userMemories): whitelist to extract users (#10626)
  packages/database/src/models/user.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

✨ feat: add more acions & can modify provider and model (#10625)
  locales/ar/setting.json
  locales/bg-BG/setting.json
  locales/de-DE/setting.json
  locales/en-US/setting.json
  locales/es-ES/setting.json
  locales/fa-IR/setting.json
  locales/fr-FR/setting.json
  locales/it-IT/setting.json
  locales/ja-JP/setting.json
  locales/ko-KR/setting.json
  locales/nl-NL/setting.json
  locales/pl-PL/setting.json
  locales/pt-BR/setting.json
  locales/ru-RU/setting.json
  locales/tr-TR/setting.json
  locales/vi-VN/setting.json
  locales/zh-CN/setting.json
  locales/zh-TW/setting.json
  packages/builtin-agents/src/agents/agent-builder/systemRole.ts
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/AgentBuilderConversation.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/TopicSelector.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/locales/default/setting.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/GetAvailableModels.tsx
  src/tools/agent-builder/Render/GetAvailableTools.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

fix: DraggablePanel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/AgentBuilderConversation.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/TopicSelector.tsx
Due: none

fix topic messages issues
  packages/database/src/models/__tests__/topics/topic.delete.test.ts
  packages/database/src/models/__tests__/topics/topic.update.test.ts
  packages/database/src/models/topic.ts
  packages/database/src/repositories/agentMigration/__tests__/agentMigrationRepo.test.ts
  packages/database/src/repositories/agentMigration/index.ts
  src/server/routers/lambda/topic.ts
Due: Server Layer

style: update editor
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/TypoBar.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/useSlashItems.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/EditorCanvas/TypoBar.tsx
  src/features/PageEditor/EditorCanvas/actions.ts
  src/features/PageEditor/EditorCanvas/index.tsx
  src/features/PageEditor/EditorCanvas/useSlashItems.tsx
  src/features/PageEditor/EditorContent.tsx
  src/features/PageEditor/Modal/index.tsx
  src/locales/default/editor.ts
Due: none

refactor the switch branch
  packages/conversation-flow/src/__tests__/fixtures/outputs/assistantGroup/tools-with-branches.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/active-index-1.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/assistant-branch.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/assistant-group-branches.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/assistant-user-branch.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/conversation.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/multi-assistant-group.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/branch/nested.json
  packages/conversation-flow/src/transformation/FlatListBuilder.ts
  packages/database/src/repositories/agentMigration/__tests__/agentMigrationRepo.test.ts
  packages/utils/src/folderStructure.ts
  packages/utils/src/index.ts
  src/app/[variants]/(main)/chat/features/Conversation/ChatItem/OrchestratorThinking.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatItem/Thread.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatItem/ThreadItem.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatList/ChatItem/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/User/Actions/index.tsx
  src/features/Conversation/Messages/components/MessageBranch.tsx
  src/features/Conversation/store/slices/data/action.test.ts
  src/features/Conversation/store/slices/data/action.ts
  src/features/Conversation/store/slices/tool/action.test.ts
  src/features/Conversation/store/slices/tool/action.ts
  src/store/file/slices/fileManager/action.ts
Due: Store Layer

fix: DraggablePanel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/features/PageEditor/Copilot/index.tsx
Due: none

style: update agent builder
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentHeader.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/EditorCanvas.tsx
  src/features/PageEditor/EditorContent.tsx
Due: none

style: update editor
  locales/ar/editor.json
  locales/bg-BG/editor.json
  locales/de-DE/editor.json
  locales/en-US/editor.json
  locales/es-ES/editor.json
  locales/fa-IR/editor.json
  locales/fr-FR/editor.json
  locales/it-IT/editor.json
  locales/ja-JP/editor.json
  locales/ko-KR/editor.json
  locales/nl-NL/editor.json
  locales/pl-PL/editor.json
  locales/pt-BR/editor.json
  locales/ru-RU/editor.json
  locales/tr-TR/editor.json
  locales/vi-VN/editor.json
  locales/zh-CN/editor.json
  locales/zh-TW/editor.json
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/TypoBar.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/useSlashItems.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileProvider.tsx
  src/app/[variants]/(main)/chat/profile/features/StoreUpdater.tsx
  src/app/[variants]/(main)/chat/profile/features/index.ts
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/index.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/app/[variants]/(main)/chat/profile/features/store/selectors.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/PageEditor/EditorCanvas/TypoBar.tsx
  src/locales/default/editor.ts
Due: none

feat(userMemories): unify layer names, add webhook verify headers (#10629)
  packages/memory-user-memory/src/services/extractAgentService.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/userMemory/shared.ts
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

fix: fix cmd k register
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/hooks/useHotkeys/globalScope.ts
  src/store/global/initialState.ts
Due: Store Layer

feat: add Suspense debug
  src/app/[variants]/(main)/chat/features/Portal/index.tsx
  src/components/Loading/BrandTextLoading/index.tsx
Due: none

🐛 fix: expose /api/workflows endpoints (#10632)
  src/proxy.ts
Due: none

fix: fix DraggablePanel
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/PageEditor.tsx
Due: none

feat: add Suspense debug
  src/app/[variants]/(auth)/next-auth/error/page.tsx
  src/app/[variants]/(auth)/next-auth/signin/page.tsx
  src/app/[variants]/(main)/(mobile)/me/(home)/layout.tsx
  src/app/[variants]/(main)/(mobile)/me/settings/layout.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/features/Portal/features/PortalPanel.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/image/loading.tsx
  src/app/[variants]/(main)/layouts/index.tsx
  src/app/[variants]/(main)/page/index.tsx
  src/app/[variants]/(main)/settings/features/SettingsContent.tsx
  src/app/[variants]/(main)/settings/provider/detail/default/ClientMode.tsx
  src/app/[variants]/(main)/settings/provider/detail/index.tsx
  src/app/[variants]/DesktopRouter.tsx
  src/app/[variants]/MobileRouter.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/layout.tsx
  src/app/[variants]/loading.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/app/loading.tsx
  src/components/Loading/BrandTextLoading/index.tsx
  src/features/PageEditor/PageEditor.tsx
  src/utils/router.tsx
Due: Utils Layer

style: update page sidebar
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Nav.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/Nav.tsx
  src/app/[variants]/(main)/page/_layout/Body/Actions.tsx
  src/app/[variants]/(main)/page/_layout/Body/AllPagesDrawer/Content.tsx
  src/app/[variants]/(main)/page/_layout/Body/AllPagesDrawer/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/List/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/useDropdownMenu.tsx
  src/app/[variants]/(main)/page/_layout/Header/Search.tsx
  src/app/[variants]/(main)/page/_layout/Header/index.tsx
  src/features/NavPanel/SideBarDrawer.tsx
  src/hooks/useHotkeys/globalScope.ts
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
  src/store/file/slices/document/selectors.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: add modify system prompt tools in agentbuilder (#10634)
  src/app/[variants]/(main)/chat/profile/features/EditorCanvas/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/MentionDropdown.tsx
  src/app/[variants]/(main)/chat/profile/features/store/action.ts
  src/app/[variants]/(main)/chat/profile/features/store/initialState.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/GetPrompt.tsx
  src/tools/agent-builder/Render/UpdatePrompt.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

fix(userMemories): Upstash Workflows will serialize into `JSON`, causes the `Date` being incorrectly used (#10635)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

style: update agent setting
  src/app/[variants]/(main)/chat/(mobile)/settings/_layout/Header.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/_layout/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/features/AgentInfoDescription/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/features/AgentTeamSettings/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/features/SettingButton.tsx
  src/app/[variants]/(main)/chat/(mobile)/settings/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/Header/Avatar.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/Header/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/SystemRole.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/AgentConfig/index.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/ConfigLayout.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/ConfigSwitcher.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/features/TopicModal.tsx
  src/app/[variants]/(main)/chat/(mobile)/topic/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/index.tsx
  src/app/[variants]/(main)/chat/profile/Settings/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentSettings/Content.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentSettings/index.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/PublishButton.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileHydration.tsx
  src/app/[variants]/(main)/chat/profile/features/index.ts
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/AgentSetting/AgentModal/index.tsx
Due: none

fix: roll back file pagesize
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/features/ResourceManager/FileExplorer/ListView/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/FileExplorer/MasonryView/index.tsx
  src/features/ResourceManager/FileExplorer/MoveToFolderModal.tsx
  src/features/ResourceManager/FileExplorer/OPTIMIZATION_SUMMARY.md
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerActions.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerData.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerSelection.ts
  src/features/ResourceManager/FileExplorer/hooks/useFileExplorerView.ts
  src/features/ResourceManager/FileExplorer/index.tsx
  src/features/ResourceManager/FileExplorer/store/index.ts
  src/features/ResourceManager/FileExplorer/store/initialState.ts
  src/features/ResourceManager/FileExplorer/store/selectors.ts
  src/features/ResourceManager/FileExplorer/store/store.ts
  src/features/ResourceManager/FileExplorer/store/types.ts
  src/features/ResourceManager/FileExplorer/useFileExplorer.ts
  src/features/ResourceManager/FileTree/index.tsx
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/knowledge.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/file/slices/fileManager/action.ts
  src/store/userMemory/slices/base/index.ts
  src/store/userMemory/slices/context/index.ts
Due: Store Layer, Server Layer

fix: fix mobile
  src/app/[variants]/(main)/chat/_layout/Sidebar/GroupConfig/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/Header/Avatar.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/Header/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/SystemRole.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/ConfigLayout.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/ConfigSwitcher.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/TopicModal.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/index.tsx
  src/app/[variants]/(mobile)/chat/index.tsx
Due: none

✨ feat： add more official tools into agentbuilder (#10638)
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/AgentTool.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/PluginTag.tsx
  src/app/[variants]/(main)/settings/(mobile)/_layout/Header.tsx
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Render/SearchMarketTools.tsx
  src/tools/agent-builder/Render/SearchOfficialTools.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
Due: Store Layer

style: Update header
  src/features/ResourceManager/FileEditor/index.tsx
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
