Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

♻️ refactor: refactor hooks
  src/hooks/useActiveTabKey.ts
  src/hooks/useFetchAgentList.ts
  src/hooks/useFetchGroups.ts
  src/hooks/useFetchMessages.ts
  src/hooks/useFetchTopics.test.ts
  src/hooks/useFetchTopics.ts
  src/hooks/useHotkeys/chatScope.ts
  src/hooks/useHotkeys/filesScope.ts
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/useHotkeys/imageScope.ts
  src/hooks/useHotkeys/useHotkeyById.test.ts
  src/hooks/useHotkeys/useHotkeyById.ts
  src/hooks/useImgToClipboard.ts
  src/hooks/useInitAgentConfig.ts
  src/hooks/useInitBuiltinAgent.ts
  src/hooks/useInitGroupConfig.ts
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/hooks/useInterceptingRoutes.test.ts
  src/hooks/useInterceptingRoutes.ts
  src/hooks/useModelHasContextWindowToken.ts
  src/hooks/useNavigateToAgent.ts
  src/hooks/useOperationState.test.ts
  src/hooks/useOperationState.ts
  src/hooks/usePinnedAgentState.ts
  src/hooks/useQueryRoute.ts
  src/hooks/useShare.tsx
  src/hooks/useSwitchSession.ts
  src/hooks/useTTS.ts
  src/hooks/useTokenCount.ts
Due: none

💄 style: update ui
  src/components/Analytics/MainInterfaceTracker.tsx
  src/components/Branding/ProductLogo/index.tsx
  src/components/ChangelogModal/ChangelogContent.tsx
  src/components/ChangelogModal/VersionTag.tsx
  src/components/ChangelogModal/index.tsx
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/components/DragUpload/useDragUpload.test.tsx
  src/components/EmojiPicker/index.tsx
  src/components/Error/Description.tsx
  src/components/InvalidAPIKey/APIKeyForm/index.tsx
  src/components/InvalidAPIKey/Bedrock.tsx
  src/components/InvalidAPIKey/ComfyUIForm.tsx
  src/components/InvalidAPIKey/LoadingContext.ts
  src/components/InvalidAPIKey/ProviderApiKeyForm.tsx
  src/components/InvalidAPIKey/__tests__/ComfyUIForm.test.tsx
  src/components/InvalidAPIKey/index.tsx
  src/components/InvalidAPIKey/useApiKey.ts
  src/components/LabsModal/Hero.tsx
  src/components/LabsModal/LabCard.tsx
  src/components/LabsModal/index.tsx
  src/components/LibIcon/index.tsx
  src/components/Loading/BrandTextLoading/index.tsx
  src/components/Loading/SkeletonLoading/index.tsx
  src/components/MemberSelectionModal/MemberSelectionModal.tsx
  src/components/ModelSelect/NewModelBadge.tsx
  src/components/ModelSelect/index.tsx
  src/components/NextAuth/AuthIcons.tsx
  src/components/OllamaSetupGuide/index.tsx
  src/components/Plugins/PluginAvatar.tsx
  src/components/RepoIcon/index.tsx
  src/components/SidebarHeader/index.tsx
  src/components/Skeleton/SkeletonInput.tsx
  src/components/Skeleton/SkeletonSwitch.tsx
  src/components/Thinking/index.tsx
Due: none

♻️ refactor: refactor with electron
  src/services/mcp.test.ts
  src/services/mcp.ts
Due: Services Layer

🔧 chore: update config
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/__tests__/chatGroup.test.ts
  packages/database/src/models/__tests__/user.test.ts
  packages/database/src/models/agent.ts
  packages/types/src/agent/chatConfig.ts
  packages/types/src/agent/item.ts
  packages/types/src/index.ts
  packages/types/src/serverConfig.ts
  packages/types/src/tool/builtin.ts
  packages/types/src/tool/intervention.ts
  packages/types/src/util.ts
Due: none

🌐 chore: add i18n
  src/locales/default/auth.ts
  src/locales/default/chat.ts
  src/locales/default/common.ts
  src/locales/default/components.ts
  src/locales/default/discover.ts
  src/locales/default/editor.ts
  src/locales/default/error.ts
  src/locales/default/file.ts
  src/locales/default/home.ts
  src/locales/default/hotkey.ts
  src/locales/default/index.ts
  src/locales/default/knowledgeBase.ts
  src/locales/default/marketAuth.ts
  src/locales/default/memory.ts
  src/locales/default/metadata.ts
  src/locales/default/onboarding.ts
  src/locales/default/plugin.ts
  src/locales/default/setting.ts
  src/locales/default/tool.ts
  src/locales/default/topic.ts
  src/locales/default/welcome.ts
Due: none

♻️ refactor: refactor implement
  src/server/services/nextAuthUser/index.ts
  src/services/trace.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/global/action.test.ts
  src/store/global/actions/__tests__/general.test.ts
  src/store/global/actions/general.ts
  src/store/global/actions/workspacePane.ts
  src/store/global/initialState.ts
  src/store/global/selectors/systemStatus.test.ts
  src/store/global/selectors/systemStatus.ts
  src/store/image/slices/generationBatch/action.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: desktop feature
  src/features/DesktopOnboarding/Navigation.tsx
  src/features/DesktopOnboarding/OnboardingContainer.tsx
  src/features/DesktopOnboarding/assets/card-bg-1.webp
  src/features/DesktopOnboarding/assets/card-bg-2.webp
  src/features/DesktopOnboarding/assets/card-bg-3.webp
  src/features/DesktopOnboarding/assets/card-bg-4.webp
  src/features/DesktopOnboarding/assets/card-bg-5.webp
  src/features/DesktopOnboarding/assets/card-bg-6.webp
  src/features/DesktopOnboarding/assets/intro-video.mp4
  src/features/DesktopOnboarding/assets/lobe256.png
  src/features/DesktopOnboarding/assets/logo-text.svg
  src/features/DesktopOnboarding/common/AuthResult.tsx
  src/features/DesktopOnboarding/common/LogoBrand.tsx
  src/features/DesktopOnboarding/common/TitleSection.tsx
  src/features/DesktopOnboarding/effects/LightRays.tsx
  src/features/DesktopOnboarding/screens/Screen1.tsx
  src/features/DesktopOnboarding/screens/Screen2.tsx
  src/features/DesktopOnboarding/screens/Screen3.tsx
  src/features/DesktopOnboarding/screens/Screen4.tsx
  src/features/DesktopOnboarding/screens/Screen5.tsx
  src/features/DesktopOnboarding/storage.ts
  src/features/DesktopOnboarding/styles/index.ts
  src/features/DesktopOnboarding/styles/layout.ts
  src/features/DesktopOnboarding/styles/media.ts
  src/features/DesktopOnboarding/styles/spacing.ts
  src/features/DesktopOnboarding/styles/theme.ts
  src/features/DesktopOnboarding/styles/typography.ts
  src/features/ElectronTitlebar/Connection/ConnectionMode.tsx
  src/features/ElectronTitlebar/Connection/Waiting.tsx
  src/features/ElectronTitlebar/Connection/index.tsx
  src/features/ElectronTitlebar/hooks/useWatchThemeUpdate.ts
Due: none

✨ feat: support CMD K
  src/features/CommandMenu/ChatList.tsx
  src/features/CommandMenu/ContextCommands.tsx
  src/features/CommandMenu/MainMenu.tsx
  src/features/CommandMenu/README.md
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/ThemeMenu.tsx
  src/features/CommandMenu/components/CommandFooter.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
  src/features/CommandMenu/types.ts
  src/features/CommandMenu/useCommandMenu.ts
  src/features/CommandMenu/utils/context.ts
  src/features/CommandMenu/utils/contextCommands.ts
  src/services/document/index.ts
  src/services/file/index.ts
Due: Services Layer

✨ feat: user memory
  src/app/(backend)/api/webhooks/memory-extraction/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/process-users/route.ts
  src/server/routers/lambda/userMemories/index.ts
  src/server/routers/lambda/userMemories/reembed.ts
  src/server/routers/lambda/userMemories/search.ts
  src/server/routers/lambda/userMemories/shared.ts
  src/server/routers/lambda/userMemories/tools.ts
Due: Server Layer

✨ feat: agent builder
  src/app/(backend)/market/agent/[[...segments]]/route.ts
  src/app/(backend)/market/user/[username]/route.ts
  src/app/(backend)/market/user/me/route.ts
  src/features/AgentBuilder/AgentBuilderConversation.tsx
  src/features/AgentBuilder/AgentBuilderProvider.tsx
  src/features/AgentBuilder/AgentBuilderWelcome.tsx
  src/features/AgentBuilder/TopicSelector.tsx
  src/features/AgentBuilder/index.tsx
  src/features/AgentSetting/AgentCategory/useCategory.tsx
  src/features/AgentSetting/AgentChat/index.tsx
  src/features/AgentSetting/AgentMeta/AutoGenerateAvatar.tsx
  src/features/AgentSetting/AgentMeta/AutoGenerateSelect.tsx
  src/features/AgentSetting/AgentMeta/BackgroundSwatches.tsx
  src/features/AgentSetting/AgentModal/index.tsx
  src/features/AgentSetting/AgentOpening/OpeningQuestions.tsx
  src/features/AgentSetting/AgentPlugin/AddPluginButton.tsx
  src/features/AgentSetting/AgentPlugin/LoadingList.tsx
  src/features/AgentSetting/AgentPlugin/index.tsx
  src/features/AgentSetting/AgentSettings.tsx
  src/features/AgentSetting/AgentSettingsContent.tsx
  src/features/AgentSetting/store/action.ts
  src/features/AgentSetting/store/initialState.ts
  src/features/AgentSetting/store/reducers/config.ts
  src/server/routers/lambda/market/index.ts
  src/server/services/discover/index.ts
  src/services/marketApi.ts
  src/store/discover/slices/user/action.ts
  src/store/discover/slices/user/index.ts
  src/store/discover/store.ts
Due: Store Layer, Services Layer, Server Layer

🔧 chore: update some code
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/klavis.ts
  src/server/services/changelog/index.ts
  src/server/services/mcp/deps/checkers/NpmInstallationChecker.test.ts
  src/server/services/mcp/index.ts
  src/services/discover.ts
  src/services/user/index.ts
Due: Services Layer, Server Layer

fix home send message
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/helpers.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/userMemory/slices/base/action.ts
  src/store/userMemory/utils/searchParams.ts
Due: Store Layer

✨ feat: wrap ConversationArea and ModelSwitchPanel in TooltipGroup for enhanced UI
  src/app/[variants]/(main)/chat/features/Conversation/index.tsx
  src/features/ModelSwitchPanel/index.tsx
Due: none

🚨 chore: fix lint
  src/store/agent/slices/knowledge/action.ts
Due: Store Layer

style: remove some memo
  src/app/[variants]/(main)/_layout/DesktopLayoutContainer.tsx
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(main)/chat/_layout/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
  src/app/[variants]/(main)/community/(detail)/features/SidebarContainer.tsx
  src/app/[variants]/(main)/community/_layout/index.tsx
  src/app/[variants]/(main)/community/components/CategoryContainer.tsx
  src/app/[variants]/(main)/group/_layout/index.tsx
  src/app/[variants]/(main)/group/profile/index.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/home/index.tsx
  src/app/[variants]/(main)/image/_layout/index.tsx
  src/app/[variants]/(main)/memory/(home)/index.tsx
  src/app/[variants]/(main)/memory/_layout/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/app/[variants]/(main)/page/_layout/index.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/index.tsx
  src/app/[variants]/(main)/resource/_layout/index.tsx
  src/app/[variants]/(main)/resource/library/_layout/index.tsx
  src/app/[variants]/(main)/resource/library/features/Container.tsx
  src/app/[variants]/(main)/settings/_layout/index.tsx
  src/app/[variants]/(main)/settings/provider/_layout/Desktop/Container.tsx
  src/app/[variants]/(mobile)/(home)/_layout/index.tsx
  src/app/[variants]/(mobile)/_layout/index.tsx
  src/app/[variants]/(mobile)/chat/_layout/index.tsx
Due: none

fix: improve tooltip hover behavior in ModelSelect component
  src/components/ModelSelect/index.tsx
Due: none

style: update tool style
  package.json
  src/features/Conversation/Messages/AssistantGroup/Tool/Actions/Settings.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Actions/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Debug/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/BuiltinPluginTitle.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/Debug.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/PluginResult.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/PluginState.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/StatusIndicator.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/ToolTitle.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tools.tsx
  src/features/Conversation/Messages/Tool/Tool/Render.tsx
  src/features/Conversation/Messages/Tool/Tool/index.tsx
  src/features/Conversation/Messages/Tool/ToolItem.tsx
  src/features/Conversation/Messages/Tool/index.tsx
  src/locales/default/plugin.ts
Due: none

style: update tools style
  src/app/[variants]/(main)/community/(detail)/assistant/features/Details/Overview/index.tsx
  src/app/[variants]/(main)/community/(detail)/assistant/features/Sidebar/Summary/index.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Details/Parameter/index.tsx
  src/app/[variants]/(main)/settings/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/CollapseGroup/index.tsx
  src/components/ChangelogModal/index.tsx
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/components/TodoList.tsx
  src/features/AgentSetting/AgentMeta/index.tsx
  src/features/AgentSetting/AgentPrompt/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/Intervention/ModeSelector.tsx
  src/features/Conversation/Messages/AssistantGroup/Tools.tsx
  src/features/Conversation/Messages/Tool/Inspector/BuiltinPluginTitle.tsx
  src/features/Conversation/Messages/Tool/Inspector/Debug.tsx
  src/features/Conversation/Messages/Tool/Inspector/PluginResult.tsx
  src/features/Conversation/Messages/Tool/Inspector/PluginState.tsx
  src/features/Conversation/Messages/Tool/Inspector/Settings.tsx
  src/features/Conversation/Messages/Tool/Inspector/ToolTitle.tsx
  src/features/Conversation/Messages/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/Tool/Render/Arguments/ObjectEntity.tsx
  src/features/Conversation/Messages/Tool/Render/Arguments/ValueCell.tsx
  src/features/Conversation/Messages/Tool/Render/Arguments/index.tsx
  src/features/Conversation/Messages/Tool/Render/CustomRender.tsx
  src/features/Conversation/Messages/Tool/Render/ErrorResponse.tsx
  src/features/Conversation/Messages/Tool/Render/KeyValueEditor.tsx
  src/features/Conversation/Messages/Tool/Render/PluginSettings.tsx
  src/features/Conversation/Messages/Tool/Render/index.tsx
  src/features/Conversation/Messages/Tool/ToolItem.tsx
  src/features/Conversation/Messages/Tool/index.tsx
  src/features/MCPPluginDetail/Deployment/index.tsx
  src/features/MCPPluginDetail/Overview/index.tsx
  src/features/MCPPluginDetail/Schema/Prompts.tsx
  src/features/MCPPluginDetail/Schema/Tools.tsx
  src/features/PluginStore/PluginList/Detail/Header.tsx
  src/features/PluginStore/PluginList/Detail/InstallDetail/Tools.tsx
Due: none

🐛 fix: fix thread not working issue
  packages/database/src/models/__tests__/messages/message.thread-query.test.ts
  packages/database/src/models/message.ts
  src/features/NavPanel/SideBarDrawer.tsx
  src/features/Portal/Thread/Chat/index.tsx
  src/server/routers/lambda/aiChat.ts
  src/server/services/aiChat/index.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/thread/selectors/index.ts
  src/store/chat/slices/thread/selectors/util.ts
Due: Store Layer, Server Layer

fix agent session group not working
  packages/database/src/models/agent.ts
  packages/database/src/repositories/agentMigration/index.ts
  packages/database/src/repositories/home/index.ts
  packages/types/src/agent/item.ts
  src/server/routers/lambda/home.ts
  src/services/home/index.ts
  src/store/home/slices/sidebarUI/action.ts
Due: Store Layer, Services Layer, Server Layer

style: fix some antd v6 style issues
  package.json
  src/app/[variants]/(main)/home/_layout/CreateGroupModal/AgentItem.tsx
  src/app/[variants]/(main)/memory/(home)/features/RoleTagCloud/TagCloudCanvas.tsx
  src/app/[variants]/(main)/resource/features/FileDetail.tsx
  src/app/[variants]/(main)/settings/stats/features/AiHeatmaps.tsx
  src/app/[variants]/(mobile)/(home)/features/SessionListContent/ListItem/index.tsx
  src/app/[variants]/(mobile)/chat/features/Topic/features/AgentConfig/Header/Avatar.tsx
  src/components/ChatGroupWizard/ChatGroupWizard.tsx
  src/components/FileParsingStatus/EmbeddingStatus.tsx
  src/components/FileParsingStatus/index.tsx
  src/components/MemberSelectionModal/MemberSelectionModal.tsx
  src/features/MCP/MCPInstallProgress/InstallError/ErrorDetails.tsx
  src/features/PlanIcon/index.tsx
  src/features/PluginDevModal/index.tsx
  src/features/PluginTag/PluginStatus.tsx
  src/features/ResourceManager/components/ChunkDrawer/SimilaritySearchList/Item.tsx
  src/features/User/PlanTag.tsx
  src/features/User/UserInfo.tsx
  src/layout/AuthProvider/MarketAuth/ProfileSetupModal.tsx
  src/tools/web-browsing/Portal/Search/ResultList/SearchItem/TitleExtra.tsx
Due: none

style: update AgentCouncil style
  src/app/[variants]/(main)/chat/features/Conversation/ChatMinimap/index.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatMinimap/index.tsx
  src/app/[variants]/(main)/settings/stats/features/AiHeatmaps.tsx
  src/components/Thinking/index.tsx
  src/features/ChatMiniMap/MinimapIndicator.tsx
  src/features/ChatMiniMap/index.tsx
  src/features/ChatMiniMap/styles.ts
  src/features/ChatMiniMap/types.ts
  src/features/ChatMiniMap/useMinimapData.ts
  src/features/ChatMiniMap/utils.ts
  src/features/Conversation/Markdown/plugins/LobeThinking/Render.tsx
  src/features/Conversation/Markdown/plugins/Thinking/Render.tsx
  src/features/Conversation/Messages/AgentCouncil/CouncilMember.tsx
  src/features/Conversation/Messages/AgentCouncil/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/components/Reasoning.tsx
  src/features/Conversation/components/Thinking/StatusIndicator.tsx
  src/features/Conversation/components/Thinking/Title.tsx
  src/features/Conversation/components/Thinking/index.tsx
Due: none

style: update AgentCouncil actions
  src/features/Conversation/Messages/AgentCouncil/TaskInstruction.tsx
  src/features/Conversation/Messages/AgentCouncil/components/AutoScrollShadow.tsx
  src/features/Conversation/Messages/AgentCouncil/components/CouncilList.tsx
  src/features/Conversation/Messages/AgentCouncil/components/CouncilMember.tsx
  src/features/Conversation/Messages/AgentCouncil/components/ScrollShadowWithButton.tsx
  src/features/Conversation/Messages/AgentCouncil/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/Contexts/message-action-context.ts
  src/features/Conversation/store/slices/data/selectors.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/store/chat/helpers.ts
Due: Store Layer

🐛 fix: slove when first call thread, not show ai chat message (#10878)
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer

chore: update references from react-layout-kit to @lobehub/ui for Flexbox and Center components in documentation and rules
  .cursor/rules/packages/react-layout-kit.mdc
  .cursor/rules/project-introduce.mdc
  .cursor/rules/react.mdc
  AGENTS.md
  docs/development/basic/feature-development.mdx
  docs/development/basic/feature-development.zh-CN.mdx
Due: none

style: fix antd modal padding
  src/app/[variants]/(main)/image/_layout/ConfigPanel/components/MultiImagesUpload/ImageManageModal.tsx
  src/components/FunctionModal/style.tsx
  src/components/GuideModal/index.tsx
Due: none

✨ feat: support export and import topic JSON (#10885)
  locales/en-US/chat.json
  locales/en-US/topic.json
  locales/zh-CN/chat.json
  locales/zh-CN/topic.json
  packages/database/src/repositories/topicImporter/__tests__/fixtures/exported-topic.json
  packages/database/src/repositories/topicImporter/__tests__/importTopic.test.ts
  packages/database/src/repositories/topicImporter/index.ts
  packages/types/src/export.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/app/[variants]/(main)/chat/features/Conversation/AgentWelcome/ToolAuthAlert.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/useDropdownMenu.tsx
  src/features/ShareModal/ShareJSON/generateFullExport.test.ts
  src/features/ShareModal/ShareJSON/generateFullExport.ts
  src/features/ShareModal/ShareJSON/generateMessages.ts
  src/features/ShareModal/ShareJSON/index.tsx
  src/features/ShareModal/ShareJSON/type.ts
  src/locales/default/chat.ts
  src/locales/default/topic.ts
  src/server/routers/lambda/topic.ts
  src/services/topic/index.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Services Layer, Server Layer

✨ feat: support swr local cache (#10884)
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Members/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/hooks/useFetchAgentList.ts
  src/hooks/useFetchTopics.ts
  src/hooks/useInitGroupConfig.ts
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/layout/GlobalProvider/Query.tsx
  src/libs/swr/index.ts
  src/libs/swr/localStorageProvider.test.ts
  src/libs/swr/localStorageProvider.ts
  src/libs/swr/useClientDataSWRWithSync.ts
  src/store/agentGroup/action.ts
  src/store/chat/slices/topic/action.ts
  src/store/home/slices/agentList/action.ts
  src/store/home/slices/recent/action.ts
Due: Store Layer, Libraries Layer

🐛 fix(desktop): prevent window resize when onboarding (#10887)
  apps/desktop/src/main/controllers/BrowserWindowsCtr.ts
  apps/desktop/src/main/core/browser/Browser.ts
  apps/desktop/src/main/core/browser/BrowserManager.ts
  packages/electron-client-ipc/src/types/index.ts
  packages/electron-client-ipc/src/types/window.ts
  src/app/[variants]/(main)/desktop-onboarding/index.tsx
  src/features/DesktopOnboarding/OnboardingContainer.tsx
  src/services/electron/system.ts
Due: Services Layer

chore: sync some changes from cloud (#10882)
  packages/database/src/schemas/_helpers.ts
  packages/database/src/utils/idGenerator.ts
  packages/model-runtime/src/core/RouterRuntime/baseRuntimeMap.ts
  packages/model-runtime/src/core/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/providers/anthropic/resolveCacheTTL.ts
  packages/model-runtime/src/providers/bedrock/index.ts
  packages/types/src/asyncTask.ts
  packages/types/src/user/preference.ts
  packages/utils/src/time.test.ts
  src/app/(backend)/trpc/lambda/[trpc]/route.ts
  src/app/[variants]/(main)/settings/provider/features/ProviderConfig/index.tsx
  src/components/404/index.tsx
  src/features/PluginStore/McpList/Detail/Settings/index.tsx
  src/hooks/useTTS.ts
  src/libs/trpc/lambda/context.ts
  src/server/modules/ModelRuntime/index.ts
  src/services/_url.ts
  src/store/user/slices/auth/selectors.ts
  src/store/user/slices/common/action.ts
  src/store/user/slices/common/initialState.ts
  src/utils/errorResponse.ts
Due: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

✨ feat: add home page create group builder button (#10904)
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/initialState.ts
Due: Store Layer

refactor(memory-user-memory,userMemories): split chat topic related operations into dedicated pipelines sub-route (#10907)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-users/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
