Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

🐛 fix(work): restrict deleteWork to orphan rows and hide stale status on orphan cards
  apps/server/src/routers/lambda/work.ts
  packages/database/src/models/work/__tests__/document.test.ts
  packages/database/src/models/work/writes.ts
  src/features/Work/WorkSummaryCard.tsx
  src/features/Work/useRemoveWork.ts
  src/features/WorkGallery/WorkPreview.tsx
Due: none

💄 style(local-file): merge file actions into one segmented bar and reveal the file in Finder (#19263)
  apps/desktop/src/main/controllers/LocalFileCtr.ts
  apps/desktop/src/main/controllers/__tests__/LocalFileCtr.test.ts
  src/features/LocalFile/LocalFile.tsx
Due: none

🐛 fix(work): gate deleteWork on agent:update, show remove action on touch, disclose cascades
  apps/server/src/routers/lambda/__tests__/work.test.ts
  apps/server/src/routers/lambda/work.ts
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/locales/src/default/chat.ts
  src/features/WorkGallery/WorkPreviewCard.tsx
Due: none

✨ feat(provider): add Token Market
  Dockerfile
  docs/self-hosting/environment-variables/model-provider.mdx
  docs/self-hosting/environment-variables/model-provider.zh-CN.mdx
  locales/en-US/providers.json
  locales/zh-CN/providers.json
  packages/env/src/llm.ts
  packages/model-bank/package.json
  packages/model-bank/src/aiModels/index.ts
  packages/model-bank/src/aiModels/tokensmarket.ts
  packages/model-bank/src/const/modelProvider.ts
  packages/model-bank/src/modelProviders/index.ts
  packages/model-bank/src/modelProviders/tokensmarket.ts
  packages/model-runtime/src/index.ts
  packages/model-runtime/src/providers/tokensmarket/index.test.ts
  packages/model-runtime/src/providers/tokensmarket/index.ts
  packages/model-runtime/src/runtimeMap.ts
Due: none

📝 docs: route trace investigations through host guidance
  .agents/skills/agent-tracing/SKILL.md
Due: none

✨ feat(desktop): show a page thumbnail when hovering a tab
  apps/desktop/src/main/controllers/TabPreviewCtr.ts
  apps/desktop/src/main/controllers/registry.ts
  packages/electron-client-ipc/src/types/index.ts
  packages/electron-client-ipc/src/types/tabPreview.ts
  src/features/Electron/TabHost/TabHost.tsx
  src/features/Electron/TabHost/useTabPreviewCapture.ts
  src/features/Electron/titlebar/TabBar/TabItem.tsx
  src/features/Electron/titlebar/TabBar/hooks/useTabPreview.ts
  src/features/Electron/titlebar/TabBar/styles.ts
Due: none

✨ feat(tools): present Computer Use actions and reasoning
  apps/desktop/src/main/controllers/AuvCtr.ts
  apps/desktop/src/main/controllers/GatewayConnectionCtr.ts
  apps/desktop/src/main/controllers/__tests__/GatewayConnectionCtr.test.ts
  apps/desktop/src/main/services/__tests__/auvSrv.test.ts
  apps/server/src/services/toolExecution/serverRuntimes/auv.ts
  locales/en-US/plugin.json
  locales/en-US/setting.json
  locales/zh-CN/plugin.json
  locales/zh-CN/setting.json
  packages/builtin-tool-auv/README.md
  packages/builtin-tool-auv/package.json
  packages/builtin-tool-auv/src/client/Inspector/runCommand.tsx
  packages/builtin-tool-auv/src/manifest.ts
  packages/builtin-tool-auv/src/systemRole.ts
  packages/builtin-tool-auv/src/types.ts
  packages/builtin-tool-local-system/src/client/Inspector/ReadLocalFile/index.tsx
  packages/builtin-tools/src/register.ts
  packages/locales/src/default/plugin.ts
  packages/locales/src/default/setting.ts
  packages/shared-tool-ui/src/Inspector/ReadLocalFile/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/index.tsx
  src/features/DevPanel/RenderGallery/fixtures/lobe-local-system.ts
  src/features/DevPanel/RenderGallery/fixtures/lobeAuv.ts
  src/features/Settings/skill/features/SkillDetail/localization.test.ts
  src/helpers/toolAvailability.test.ts
  src/store/tool/builtinToolRegistry.test.ts
Due: Store Layer

🐛 fix(desktop): gate Computer Use support and preserve AUV failures
  apps/desktop/package.json
  apps/desktop/src/main/controllers/AuvCtr.ts
  apps/desktop/src/main/controllers/GatewayConnectionCtr.ts
  apps/desktop/src/main/controllers/__tests__/GatewayConnectionCtr.test.ts
  apps/desktop/src/main/services/__tests__/auvSrv.test.ts
  apps/desktop/src/main/services/auvSrv.ts
  apps/desktop/src/main/services/gatewayConnectionSrv.ts
  apps/server/src/modules/Mecha/AgentToolsEngine/__tests__/index.test.ts
  apps/server/src/modules/Mecha/AgentToolsEngine/index.ts
  apps/server/src/modules/Mecha/AgentToolsEngine/types.ts
  apps/server/src/services/aiAgent/__tests__/execAgent.deviceToolPipeline.test.ts
  apps/server/src/services/aiAgent/deviceToolRegistry.test.ts
  apps/server/src/services/aiAgent/deviceToolRegistry.ts
  apps/server/src/services/aiAgent/pipeline/toolDiscovery.ts
  apps/server/src/services/toolExecution/serverRuntimes/__tests__/auv.test.ts
  apps/server/src/services/toolExecution/serverRuntimes/auv.ts
  packages/builtin-tool-auv/README.md
  packages/builtin-tool-auv/src/client/executor/index.test.ts
  packages/builtin-tool-auv/src/client/executor/index.ts
  packages/builtin-tool-auv/src/manifest.ts
  packages/builtin-tool-auv/vitest.config.mts
  packages/device-gateway-client/src/types.ts
Due: none

🐛 fix: localize image cooldown feedback and retry time
  locales/en-US/error.json
  locales/zh-CN/error.json
  packages/locales/src/default/error.ts
  packages/types/src/asyncTask.ts
  src/routes/(main)/(create)/image/features/GenerationFeed/GenerationItem/ErrorState.test.tsx
  src/routes/(main)/(create)/image/features/GenerationFeed/GenerationItem/ErrorState.tsx
Due: none

♻️ refactor(conversation): make a folded steer row a first-class row model
  src/features/Conversation/ChatList/components/VirtualizedList.tsx
  src/features/Conversation/ChatList/hooks/useAgentSignalReceipts.ts
  src/features/Conversation/ChatList/index.tsx
  src/features/Conversation/ChatList/utils/chatRows.test.ts
  src/features/Conversation/ChatList/utils/chatRows.ts
  src/features/Conversation/ChatList/utils/messageDeepLink.test.ts
  src/features/Conversation/ChatList/utils/messageDeepLink.ts
  src/features/Conversation/MessageForward/ForwardModal.tsx
  src/features/Conversation/MessageForward/SelectionFooterBar.tsx
  src/features/Conversation/MessageForward/useForwardMessages.ts
  src/features/Conversation/Messages/AssistantGroup/components/Group.test.tsx
  src/features/Conversation/Messages/AssistantGroup/components/Group.tsx
  src/features/Conversation/Messages/AssistantGroup/components/SteerMessage.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/AssistantGroup/utils/continuations.ts
  src/features/Conversation/Messages/index.tsx
  src/features/Conversation/store/slices/data/selectors.ts
  src/features/Conversation/store/slices/data/steerChains.test.ts
  src/features/Conversation/store/slices/data/steerChains.ts
  src/features/Conversation/store/slices/message/action/crud.test.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/features/Conversation/store/slices/messageState/action.test.ts
  src/features/Conversation/store/slices/messageState/action.ts
  src/features/Conversation/store/slices/messageState/selectors.test.ts
  src/features/Conversation/store/slices/messageState/selectors.ts
  src/store/chat/slices/forward/helpers.ts
Due: Store Layer

💄 style(local-file): use Tabs for the xlsx preview layout switch
  src/features/Portal/LocalFile/xlsx/XlsxPane.tsx
Due: none

💄 style(local-file): use Tabs for the xlsx preview layout switch (#19286)
  src/features/Portal/LocalFile/xlsx/XlsxPane.tsx
Due: none

✨ feat(goal): add set-agent and restart commands (#19181)
  apps/cli/src/commands/goal.ts
  apps/server/src/routers/lambda/goal.ts
  apps/server/src/services/goal/index.test.ts
  apps/server/src/services/goal/index.ts
  packages/agent-tracing/src/goal/types.ts
  packages/database/src/models/goalGraph.ts
Due: none

🐛 fix: localize image cooldown feedback and retry time (#19285)
  locales/en-US/error.json
  locales/zh-CN/error.json
  packages/locales/src/default/error.ts
  packages/types/src/asyncTask.ts
  src/routes/(main)/(create)/image/features/GenerationFeed/GenerationItem/ErrorState.test.tsx
  src/routes/(main)/(create)/image/features/GenerationFeed/GenerationItem/ErrorState.tsx
Due: none

✅ test: mock completion sound in agent run specs
  src/store/chat/slices/agentRun/actions/__tests__/heterogeneousAgentExecutor.test.ts
  src/store/chat/slices/agentRun/actions/__tests__/streamingExecutor.test.ts
Due: Store Layer

⚡️ perf(spa): keep first-screen and lazy modules in separate chunks
  apps/desktop/vite.renderer.config.ts
  apps/share/vite.config.ts
  apps/workbench/vite.config.ts
  plugins/vite/sharedRendererConfig.ts
  vite.config.ts
Due: none

⚡️ perf(analytics): load @lobehub/analytics after first paint
  eslint.config.mjs
  src/components/Analytics/HomePageTracker.tsx
  src/components/Analytics/LobeAnalyticsProvider.tsx
  src/components/Analytics/X.tsx
  src/features/AgentSetting/store/action.ts
  src/features/Billboard/Carousel.tsx
  src/features/Billboard/index.tsx
  src/features/HomeSidebar/Footer/index.test.tsx
  src/features/HomeSidebar/Footer/index.tsx
  src/features/HomeSidebar/hooks/useCreateModal.test.tsx
  src/features/MobileHome/SessionListContent/List/index.tsx
  src/features/User/UserLoginOrSignup/trackLoginOrSignupClicked.test.ts
  src/features/User/UserLoginOrSignup/trackLoginOrSignupClicked.ts
  src/libs/analytics/client.test.ts
  src/libs/analytics/client.ts
  src/libs/analytics/productUsageEvent.ts
  src/services/onboardingMetrics/index.test.ts
  src/services/onboardingMetrics/index.ts
  src/store/agent/slices/agent/action.ts
  src/store/session/slices/session/action.ts
  src/store/user/slices/common/action.ts
Due: Store Layer, Services Layer, Libraries Layer

⚡️ perf(model-bank): keep the aiModels catalog off the boot path
  eslint.config.mjs
  packages/model-bank/package.json
  packages/model-runtime/package.json
  packages/model-runtime/src/utils/modelExtendParams.ts
  src/features/ChatInput/ActionBar/Params/Controls.tsx
  src/features/ChatInput/hooks/useReasoningEffortControl.ts
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/ModelSwitchPanel/components/ControlsForm/ControlsForm.tsx
  src/features/ModelSwitchPanel/components/ControlsForm/ReasoningModeSegmented.tsx
  src/features/Settings/provider/detail/azure/index.tsx
  src/features/Settings/provider/detail/azureai/index.tsx
  src/features/Settings/provider/features/ModelList/ModelItem.tsx
  src/helpers/getSearchConfig.ts
  src/routes/(main)/(create)/features/GenerationInput/GenerationInvalidAPIKey.tsx
  src/routes/(main)/(create)/image/features/ConfigPanel/components/InputNumber/index.tsx
  src/routes/(main)/(create)/image/features/ConfigPanel/hooks/useAutoDimensions.ts
  src/services/_auth.ts
  src/store/aiInfra/slices/aiModel/selectors.ts
  src/store/image/slices/generationConfig/action.ts
  src/store/image/slices/generationConfig/hooks.ts
  src/store/image/slices/generationConfig/initialState.ts
  src/store/video/slices/generationConfig/action.ts
  src/store/video/slices/generationConfig/initialState.ts
  src/utils/aiProvider.ts
  src/utils/errorResponse.ts
Due: Store Layer, Services Layer, Utils Layer

⚡️ perf(skills): keep builtin skill bodies and the tool store off the boot path
  packages/builtin-skills/package.json
  packages/builtin-skills/src/agent-browser/index.ts
  packages/builtin-skills/src/agent-browser/manifest.ts
  packages/builtin-skills/src/artifacts/index.ts
  packages/builtin-skills/src/artifacts/manifest.ts
  packages/builtin-skills/src/lobehub/index.ts
  packages/builtin-skills/src/lobehub/manifest.ts
  packages/builtin-skills/src/manifests.ts
  packages/builtin-skills/src/task/index.ts
  packages/builtin-skills/src/task/manifest.ts
  packages/types/src/skill/index.ts
  src/components/Skeleton/Settings/Profile.tsx
  src/features/Settings/skill/features/AgentSkillItem.tsx
  src/features/Settings/skill/features/SkillDetail/index.test.tsx
  src/features/Settings/skill/features/SkillDetail/index.tsx
  src/features/Settings/skill/features/SkillDetail/localization.test.ts
  src/features/Settings/skill/features/SkillDetail/localization.ts
  src/features/Settings/skill/features/SkillList.tsx
  src/features/SkillStore/SkillDetail/BuiltinAgentSkillDetailProvider.tsx
  src/features/SkillStore/SkillList/LobeHub/index.tsx
  src/helpers/skillFilters.ts
  src/services/chat/mecha/skillEngineering.test.ts
  src/services/chat/mecha/skillEngineering.ts
  src/services/chat/mecha/skillPreload.ts
  src/store/chat/slices/agentRun/actions/__tests__/conversationLifecycle.test.ts
  src/store/tool/slices/builtin/initialState.ts
  src/store/tool/slices/builtin/loadBuiltinSkills.ts
  src/store/tool/slices/builtin/selectors.ts
Due: Store Layer, Services Layer

⚡️ perf(spa): cut the editor runtime, ajv and database models from the boot path
  apps/cli/src/commands/agent.ts
  apps/server/src/services/aiAgent/helpers/agentFactory.ts
  packages/agent-runtime/src/agents/graph/GraphAgent.ts
  packages/agent-runtime/src/agents/graph/__tests__/GraphAgent.test.ts
  packages/context-engine/package.json
  packages/context-engine/src/providers/AgentDocumentInjector/shared.ts
  packages/locales/src/create.ts
  packages/openapi/src/types/agent.type.ts
  packages/types/package.json
  packages/types/src/agent/index.ts
  src/features/AgentSetting/AgentGraphRuntime/index.tsx
  src/layout/GlobalProvider/Editor.tsx
  src/utils/agentDocumentContextMapping.ts
Due: Utils Layer

⚡️ perf(home): cut the first navigation's closure in half
  eslint.config.mjs
  src/components/ChangelogModal/index.tsx
  src/components/ErrorBoundary/AlertFallback.tsx
  src/features/DailyBrief/BriefCardActions.tsx
  src/features/DailyBrief/BriefCardSummary.tsx
  src/features/DailyBrief/__tests__/BriefCardSummary.test.tsx
  src/features/Home/index.tsx
  src/features/HomeInbox/NewsList.tsx
  src/features/HomeInbox/UnreadTopicList.tsx
  src/features/HomeSidebar/Header/components/InboxModal/NotificationDetailModal.tsx
  src/features/HomeSidebar/hooks/useProjectMenuItems.tsx
  src/features/Projects/CreateProjectContent.tsx
  src/features/Projects/CreateProjectModal.tsx
  src/features/RecommendTaskTemplates/TaskTemplateCard.tsx
  src/features/ResourceManager/DndContextWrapper.tsx
  src/hooks/useInterceptingRoutes.test.ts
  src/hooks/useInterceptingRoutes.ts
  src/routes/(main)/_layout/index.tsx
Due: none

💄 Simplify flow review and make mobile steps readable
  apps/cli/src/commands/acceptanceFlow.test.ts
  apps/cli/src/commands/acceptanceFlow.ts
  apps/server/src/routers/lambda/acceptance.ts
  locales/en-US/verify.json
  locales/zh-CN/verify.json
  packages/builtin-skills/src/acceptance/SKILL.md
  packages/database/src/models/__tests__/acceptanceFlow.test.ts
  packages/database/src/models/acceptanceFlow.ts
  packages/locales/src/default/verify.ts
  packages/types/src/verify.ts
  src/features/Acceptance/Viewer/Flow/AcceptanceFlow.tsx
  src/features/Acceptance/Viewer/Flow/FlowGroup.tsx
  src/features/Acceptance/Viewer/Flow/FlowOutline.tsx
  src/features/Acceptance/Viewer/Plan/AcceptancePlanReview.tsx
  src/features/Acceptance/Viewer/Plan/planReview.test.ts
  src/features/Acceptance/Viewer/Plan/planReview.ts
  src/services/verify.ts
Due: Services Layer

💄 Hide acceptance flow on mobile surfaces
  src/features/Acceptance/Viewer/AcceptanceOverview.tsx
  src/features/Acceptance/Viewer/Flow/flowNavigation.test.ts
  src/features/Acceptance/Viewer/Flow/flowNavigation.ts
Due: none

✅ test(auth): mock ORG_NAME for the deferred analytics client
  src/features/Auth/SignIn/useSignIn.test.ts
  src/features/Auth/SignUp/useSignUp.test.ts
Due: none

✨ feat(computer-use): activate on demand and fix CI regressions
  apps/desktop/package.json
  apps/server/src/modules/Mecha/AgentToolsEngine/__tests__/index.test.ts
  apps/server/src/modules/Mecha/AgentToolsEngine/index.ts
  apps/server/src/services/aiAgent/__tests__/execAgent.device.test.ts
  apps/server/src/services/aiAgent/__tests__/execAgent.deviceToolPipeline.test.ts
  packages/builtin-tool-auv/README.md
  packages/builtin-tool-auv/src/manifest.ts
  packages/builtin-tool-auv/src/systemRole.ts
  packages/builtin-tools/src/index.ts
  src/helpers/toolEngineering/index.test.ts
  src/helpers/toolEngineering/index.ts
  src/store/tool/builtinToolRegistry.test.ts
Due: Store Layer

🐛 fix(vite): keep one EditorContext in dev for the path-imported provider
  plugins/vite/sharedRendererConfig.ts
Due: none

✨ feat(desktop): add chat completion sound settings (#19280)
  apps/desktop/resources/sounds/lobehub-complete.aiff
  apps/desktop/src/main/controllers/CompletionSoundCtr.ts
  apps/desktop/src/main/controllers/NotificationCtr.mac.ts
  apps/desktop/src/main/controllers/__tests__/CompletionSoundCtr.test.ts
  apps/desktop/src/main/controllers/__tests__/controllerDefaultExport.test.ts
  apps/desktop/src/main/controllers/notificationShared.ts
  apps/desktop/src/main/controllers/registry.ts
  apps/desktop/src/main/modules/completionSound.test.ts
  apps/desktop/src/main/modules/completionSound.ts
  apps/desktop/src/main/types/store.ts
  locales/en-US/setting.json
  locales/zh-CN/setting.json
  packages/electron-client-ipc/src/types/notification.ts
  packages/electron-mac-notifications/index.d.ts
  packages/electron-mac-notifications/index.js
  packages/electron-mac-notifications/native/addon.mm
  packages/locales/src/default/setting.ts
  public/sounds/chat-complete.wav
  scripts/generateCompletionSound.mts
  src/features/Settings/features/componentMap.desktop.ts
  src/features/Settings/hooks/useCategory.tsx
  src/features/Settings/notification/index.tsx
  src/features/SettingsSearch/items.ts
  src/services/electron/completionSound.test.ts
  src/services/electron/completionSound.ts
  src/store/chat/slices/agentRun/actions/__tests__/heterogeneousAgentExecutor.test.ts
  src/store/chat/slices/agentRun/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/agentRun/actions/lifecycle/buildRunLifecycle.test.ts
  src/store/chat/slices/agentRun/actions/lifecycle/buildRunLifecycle.ts
  src/store/chat/utils/desktopNotification.test.ts
  src/store/chat/utils/desktopNotification.ts
Due: Store Layer, Services Layer

🐛 fix(work): prompt removal on click instead of badging orphan works
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/locales/src/default/chat.ts
  src/features/Conversation/WorkingSidebar/WorksSection/WorkVersionHistoryCard.tsx
  src/features/Work/ResourceDeletedTag.tsx
  src/features/Work/WorkSummaryCard.tsx
  src/features/Work/useRemoveWork.ts
  src/features/Work/useResourceDeletedPrompt.ts
  src/features/WorkGallery/WorkPreviewCard.tsx
  src/features/WorkGallery/index.tsx
Due: none

🐛 fix(work): let users remove orphaned document works from the card (#19275)
  apps/server/src/routers/lambda/__tests__/work.test.ts
  apps/server/src/routers/lambda/work.ts
  locales/en-US/chat.json
  locales/zh-CN/chat.json
  packages/database/src/models/work/__tests__/document.test.ts
  packages/database/src/models/work/__tests__/task.test.ts
  packages/database/src/models/work/__tests__/workspace.test.ts
  packages/database/src/models/work/displayWork.ts
  packages/database/src/models/work/index.ts
  packages/database/src/models/work/internal.ts
  packages/database/src/models/work/queries.ts
  packages/database/src/models/work/task.ts
  packages/database/src/models/work/writes.ts
  packages/locales/src/default/chat.ts
  packages/types/src/work.ts
  src/features/Conversation/WorkingSidebar/WorksSection/WorkVersionHistoryCard.tsx
  src/features/Work/WorkSummaryCard.tsx
  src/features/Work/useRemoveWork.ts
  src/features/Work/useResourceDeletedPrompt.ts
  src/features/WorkGallery/WorkPreview.tsx
  src/features/WorkGallery/WorkPreviewCard.tsx
  src/features/WorkGallery/index.tsx
  src/services/work.test.ts
  src/services/work.ts
Due: Services Layer

🐛 fix(vite): keep entry-set chunking for the multi-entry desktop renderer
  apps/desktop/vite.renderer.config.ts
  plugins/vite/sharedRendererConfig.ts
Due: none

🐛 fix(lint): carry the model-bank ban through every scoped override
  eslint.config.mjs
Due: none

📝 docs(acceptance): make the tester the plan gate, first round only
  .agents/acceptance/PROCESS.md
  .agents/acceptance/PROJECT.md
  .agents/acceptance/references/plan-feedback.md
  packages/builtin-skills/src/acceptance/SKILL.md
  packages/builtin-skills/src/acceptance/index.ts
  packages/builtin-skills/src/acceptance/references/plan-format.md
  packages/builtin-skills/src/acceptance/references/project-adapter.md
  packages/builtin-skills/src/acceptance/references/report.md
  packages/builtin-skills/src/acceptance/references/tester-review.md
Due: none

🐛 fix(lint): carry the icon and emoji-picker bans through every scoped override
  eslint.config.mjs
  src/libs/providerIcon.ts
Due: Libraries Layer

🐛 fix(skills): retry the builtin-skill chunk after a failed load
  src/store/tool/slices/builtin/loadBuiltinSkills.test.ts
  src/store/tool/slices/builtin/loadBuiltinSkills.ts
Due: Store Layer

🐛 fix(locales): refresh consumers after the dev English overlay lands
  packages/locales/src/create.test.ts
  packages/locales/src/create.ts
Due: none

🐛 fix(brief): measure an eagerly mounted wrapper around the lazy summary
  src/features/DailyBrief/BriefCardSummary.tsx
  src/features/DailyBrief/__tests__/BriefCardSummary.test.tsx
Due: none
