Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: Duplicate document
  src/features/KnowledgeManager/DocumentExplorer/DocumentActions.tsx
  src/store/file/slices/chat/action.ts
Due: Store Layer

feat: Add heading option
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/locales/default/file.ts
Due: none

fix: Test error
  src/features/KnowledgeManager/Home/UploadEntries.tsx
  src/store/file/slices/fileManager/action.test.ts
Due: Store Layer

fix: Add missing translation
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/locales/default/file.ts
Due: none

fix: Editor hot area
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

fix: Word count
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

feat: Collpased by default
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/CategoryMenu.tsx
Due: none

lint: Seperate code
  src/features/KnowledgeManager/DocumentExplorer/DocumentListItem.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
Due: none

style: Adjust file list density
  src/features/KnowledgeManager/FileExplorer/FileListItem/index.tsx
Due: none

feat: Share state
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/store/file/slices/chat/selectors.ts
Due: Store Layer

fix: Add missing translation
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/features/KnowledgeManager/Header/NewNoteButton.tsx
  src/features/KnowledgeManager/Home/RecentDocuments.tsx
  src/features/KnowledgeManager/Home/RecentFiles.tsx
  src/features/KnowledgeManager/Home/index.tsx
  src/locales/default/file.ts
Due: none

feat: Delete confirm
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/features/KnowledgeManager/DocumentExplorer/DocumentActions.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/locales/default/file.ts
Due: none

fix: Style pollution
  src/features/KnowledgeManager/DocumentExplorer/DocumentListItem.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
Due: none

fix: Navigation
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/index.tsx
Due: none

fix: Remove useless query
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

feat: Immeditaely create knowledge base
  src/store/file/slices/chat/action.ts
Due: Store Layer

feat: Rename
  src/features/KnowledgeManager/DocumentExplorer/DocumentActions.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentListItem.tsx
  src/features/KnowledgeManager/DocumentExplorer/RenamePopover.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
Due: none

feat: Collapse switch
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/index.tsx
Due: none

fix: Remove website for now
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/CategoryMenu.tsx
  src/locales/default/file.ts
Due: none

feat: Add missing translation
  locales/ar/file.json
  locales/bg-BG/file.json
  locales/de-DE/file.json
  locales/en-US/file.json
  locales/es-ES/file.json
  locales/fa-IR/file.json
  locales/fr-FR/file.json
  locales/it-IT/file.json
  locales/ja-JP/file.json
  locales/ko-KR/file.json
  locales/nl-NL/file.json
  locales/pl-PL/file.json
  locales/pt-BR/file.json
  locales/ru-RU/file.json
  locales/tr-TR/file.json
  locales/vi-VN/file.json
  locales/zh-CN/file.json
  locales/zh-TW/file.json
Due: none

feat: Remove unused features
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

fix: Emoji picker disappear
  src/features/KnowledgeManager/DocumentExplorer/RenamePopover.tsx
Due: none

feat: Immedately create the document
  src/features/KnowledgeManager/Home/index.tsx
  src/locales/default/file.ts
Due: none

feat: Use masonry by default
  src/features/KnowledgeManager/FileExplorer/index.tsx
  src/features/KnowledgeManager/Header/index.tsx
Due: none

feat: Open emoji pciker by default
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

feat: Rename
  src/features/KnowledgeManager/DocumentExplorer/DocumentListItem.tsx
  src/features/KnowledgeManager/DocumentExplorer/RenamePopover.tsx
Due: none

fix: Emoji picker
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/Home/index.tsx
Due: none

feat: Refactor document
  packages/types/src/document/index.ts
  packages/types/src/files/list.ts
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/DocumentListItem.tsx
  src/features/KnowledgeManager/DocumentExplorer/NoteEditorModal.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/features/KnowledgeManager/FileExplorer/FileListItem/index.tsx
  src/features/KnowledgeManager/FileExplorer/MasonryFileItem/index.tsx
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
  src/store/file/initialState.ts
  src/store/file/slices/chat/action.ts
  src/store/file/slices/chat/initialState.ts
  src/store/file/slices/chat/selectors.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/index.ts
  src/store/file/slices/document/initialState.ts
  src/store/file/slices/document/selectors.ts
  src/store/file/slices/fileManager/action.ts
  src/store/file/store.ts
Due: Store Layer, Services Layer, Server Layer

feat: Reduce delay
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
Due: none

fix: URL
  locales/en-US/file.json
  src/app/[variants]/(main)/knowledge/hooks/useFileCategory.ts
Due: none

fix: Address ts error
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

fix: add missing translation
  locales/ar/file.json
  locales/bg-BG/file.json
  locales/de-DE/file.json
  locales/en-US/file.json
  locales/es-ES/file.json
  locales/fa-IR/file.json
  locales/fr-FR/file.json
  locales/it-IT/file.json
  locales/ja-JP/file.json
  locales/ko-KR/file.json
  locales/nl-NL/file.json
  locales/pl-PL/file.json
  locales/pt-BR/file.json
  locales/ru-RU/file.json
  locales/tr-TR/file.json
  locales/vi-VN/file.json
  locales/zh-CN/file.json
  locales/zh-TW/file.json
  src/features/KnowledgeManager/Header/AddButton.tsx
  src/locales/default/file.ts
Due: none

fix: Add missing translation
  locales/ar/file.json
  locales/bg-BG/file.json
  locales/de-DE/file.json
  locales/en-US/file.json
  locales/es-ES/file.json
  locales/fa-IR/file.json
  locales/fr-FR/file.json
  locales/it-IT/file.json
  locales/ja-JP/file.json
  locales/ko-KR/file.json
  locales/nl-NL/file.json
  locales/pl-PL/file.json
  locales/pt-BR/file.json
  locales/ru-RU/file.json
  locales/tr-TR/file.json
  locales/vi-VN/file.json
  locales/zh-CN/file.json
  locales/zh-TW/file.json
Due: none

fix: editor blurred
  src/features/KnowledgeManager/DocumentExplorer/DocumentEditor.tsx
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

fix: Route flickering
  src/app/[variants]/(main)/knowledge/hooks/useFileCategory.ts
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/index.tsx
Due: none

fix: No skelton after successfuly deletion
  src/features/KnowledgeManager/DocumentExplorer/index.tsx
  src/store/file/slices/document/action.ts
Due: Store Layer

feat: Document -> Page
  packages/types/src/files/index.ts
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/CategoryMenu.tsx
  src/features/KnowledgeManager/index.tsx
  src/locales/default/file.ts
Due: none

fix: Test
  src/server/routers/lambda/__tests__/file.test.ts
Due: Server Layer

fix: Filter
  packages/database/src/repositories/knowledge/index.ts
Due: none

build: Add test
  packages/database/src/repositories/knowledge/index.test.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
