Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

feat: added redis providers (ioredis, upstash)
  .env.example
  .env.example.development
  docker-compose.development.yml
  docker-compose/local/docker-compose.yml
  docker-compose/local/logto/docker-compose.yml
  package.json
  src/envs/redis.ts
  src/libs/redis/index.ts
  src/libs/redis/manager.test.ts
  src/libs/redis/manager.ts
  src/libs/redis/redis.test.ts
  src/libs/redis/redis.ts
  src/libs/redis/types.ts
  src/libs/redis/upstash.test.ts
  src/libs/redis/upstash.ts
  src/libs/redis/utils.test.ts
  src/libs/redis/utils.ts
Due: Libraries Layer

chore: changed as suggested
  src/envs/redis.ts
Due: none

feat: auto inject user memory
  package.json
  packages/const/src/settings/index.ts
  packages/const/src/settings/userMemory.ts
  packages/database/src/schemas/userMemories.ts
  packages/types/src/user/settings/index.ts
  packages/types/src/user/settings/userMemory.ts
  packages/types/src/userMemory/server.ts
  src/hooks/useFetchMessages.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/chat/contextEngineering.test.ts
  src/services/chat/contextEngineering.ts
  src/services/chat/index.ts
  src/services/chat/providers/UserMemoryInjector.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/store/userMemory/index.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/selectors.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/tools/index.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
  src/utils/memory/searchParams.ts
Due: Store Layer, Services Layer, Server Layer, Utils Layer

chore: re-configure preference top-k
  packages/const/src/userMemory.ts
  src/store/userMemory/utils/searchParams.ts
Due: Store Layer

feat(userMemories): implemented user memories, fetch, inject, models
  src/hooks/useFetchMessages.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/chat/index.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/selectors/dbMessage.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/store/userMemory/utils/searchParams.ts
  src/tools/memory/systemRole.ts
Due: Store Layer, Services Layer, Server Layer

tests: fixed
  src/services/chat/contextEngineering.test.ts
Due: Services Layer

fix: type issue & message update issue
  packages/types/src/userMemory/tools.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
Due: Store Layer

tests: fixed
  packages/database/src/models/userMemory.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
Due: Server Layer

feat(database): added user memory actvities schema
  packages/database/migrations/0050_add_user_memory_activities.sql
  packages/database/migrations/meta/0050_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/schemas/userMemories.ts
  packages/types/src/userMemory/shared.ts
Due: none

💄 style: update i18n
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🐛 fix: 移除冗余的 Doubao 模型定义，优化模型列表
  packages/model-bank/src/aiModels/volcengine.ts
Due: none

feat: add handling for content_part and reasoning_part events in fetchSSE
  packages/fetch-sse/src/__tests__/fetchSSE.test.ts
  packages/fetch-sse/src/fetchSSE.ts
Due: none

🔨 chore: support to have Redis and providers (#10391)
  .env.example
  .env.example.development
  docker-compose.development.yml
  docker-compose/local/docker-compose.yml
  docker-compose/local/logto/docker-compose.yml
  package.json
  src/envs/redis.ts
  src/libs/redis/index.ts
  src/libs/redis/manager.test.ts
  src/libs/redis/manager.ts
  src/libs/redis/redis.test.ts
  src/libs/redis/redis.ts
  src/libs/redis/types.ts
  src/libs/redis/upstash.test.ts
  src/libs/redis/upstash.ts
  src/libs/redis/utils.test.ts
  src/libs/redis/utils.ts
Due: Libraries Layer

修复: 更新话题项编辑状态的条件判断逻辑
  src/app/[variants]/(main)/chat/components/topic/features/Topic/TopicListContent/TopicItem/index.tsx
Due: none

🌐 chore: translate non-English comments to English in packages/database (#10468)
  packages/database/src/client/db.ts
  packages/database/src/repositories/dataImporter/deprecated/index.ts
  packages/database/src/repositories/dataImporter/index.ts
  packages/database/src/schemas/generation.ts
  packages/database/src/schemas/oidc.ts
Due: none

🐛 fix: Optimized New API provider (#10452)
  packages/model-runtime/src/providers/newapi/index.ts
  packages/model-runtime/src/runtimeMap.ts
  src/app/[variants]/(main)/settings/provider/features/ProviderConfig/UpdateProviderInfo/SettingModal.tsx
Due: none

修复: 修改 Alt+Click 事件处理逻辑以保持当前话题选择
  src/app/[variants]/(main)/chat/components/topic/features/Topic/TopicListContent/TopicItem/index.tsx
Due: none

🤖 style: update i18n (#10466)
  locales/ar/auth.json
  locales/bg-BG/auth.json
  locales/de-DE/auth.json
  locales/en-US/auth.json
  locales/es-ES/auth.json
  locales/fa-IR/auth.json
  locales/fr-FR/auth.json
  locales/it-IT/auth.json
  locales/ja-JP/auth.json
  locales/ko-KR/auth.json
  locales/nl-NL/auth.json
  locales/pl-PL/auth.json
  locales/pt-BR/auth.json
  locales/ru-RU/auth.json
  locales/tr-TR/auth.json
  locales/vi-VN/auth.json
  locales/zh-CN/auth.json
  locales/zh-TW/auth.json
Due: none

:bookmark: chore(release): v2.0.0-next.128 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3c/7eb6993319b336657d66c87ae7a780c0bdeeb6
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  README.md
  README.zh-CN.md
  changelog/v1.json
Due: none

修复: 添加 Cerebras 模型提供者的代理 URL 占位符
  src/config/modelProviders/cerebras.ts
Due: none

fix: Filter out file with type = file
  packages/database/src/repositories/knowledge/index.test.ts
  packages/database/src/repositories/knowledge/index.ts
Due: none

fix: missing tools commited to another branch
  packages/types/src/userMemory/tools.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/store/chat/slices/operation/types.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
Due: Store Layer, Services Layer

push update
  docs/development/database-schema.dbml
  packages/database/migrations/0050_thread_and_user_id.sql
  packages/database/migrations/meta/0050_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/nextauth.ts
  packages/database/src/schemas/topic.ts
  packages/types/src/topic/thread.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/thread/initialState.ts
  src/store/chat/slices/thread/selectors/util.ts
Due: Store Layer

🐛 fix: Filter out file with `sourceType` = `file` (#10474)
  packages/database/src/repositories/knowledge/index.test.ts
  packages/database/src/repositories/knowledge/index.ts
Due: none

♻️ refactor: refactor thread table and nextauth userId (#10475)
  docs/development/database-schema.dbml
  packages/database/migrations/0050_thread_and_user_id.sql
  packages/database/migrations/meta/0050_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/nextauth.ts
  packages/database/src/schemas/topic.ts
  packages/types/src/topic/thread.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/thread/initialState.ts
  src/store/chat/slices/thread/selectors/util.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.129 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  06/cd54518b5abbe0b2fc4345d0ba2eb401ebe308
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
