Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix: Editor not saving
  src/features/PageEditor/PageEditorModal.tsx
  src/features/PageEditor/usePageEditor.ts
Due: none

:bookmark: chore(release): v1.143.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f3/a48ea4db7f4abd206bcdb7af74269b69294a42
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

update ci
  .github/workflows/test.yml
Due: none

fix
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
Due: Store Layer

style: Toggle copilot
  src/features/PageEditor/index.tsx
Due: none

🐛 fix: try to fix send issue (#10553)
  packages/database/src/models/message.ts
  packages/types/src/aiChat.ts
  packages/types/src/conversation.ts
  packages/types/src/message/ui/params.ts
  packages/types/src/topic/thread.ts
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/chat/features/Conversation/useActionsBarConfig.ts
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/ChatList/Messages/Assistant/index.tsx
  src/features/ChatList/Messages/User/BelowMessage.tsx
  src/features/ChatList/Messages/User/index.tsx
  src/features/Conversation/Messages/User/BelowMessage.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/features/Conversation/store/slices/message/action/index.ts
  src/features/Portal/Thread/Chat/index.tsx
  src/hooks/useOperationState.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/rag.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/index.ts
  src/store/chat/slices/aiChat/actions/rag.ts
  src/store/chat/slices/aiChat/initialState.ts
  src/store/chat/slices/aiChat/selectors.test.ts
  src/store/chat/slices/message/actions/internals.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/selectors/messageState.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/selectors.ts
  src/store/chat/slices/operation/types.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/thread/initialState.ts
  src/store/chat/slices/thread/selectors/index.ts
  src/store/chat/slices/thread/selectors/util.ts
  src/store/chat/utils/messageMapKey.test.ts
  src/store/chat/utils/messageMapKey.ts
Due: Store Layer

feat: Optimize drag placeholder
  src/app/[variants]/(main)/resource/features/DndContextWrapper.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/index.tsx
Due: none

update
  src/features/PageEditor/DocumentConversation.tsx
  src/features/PageEditor/index.tsx
Due: none

style: update settings sidebar
  locales/zh-CN/setting.json
  src/app/[variants]/(main)/settings/(mobile)/index.tsx
  src/app/[variants]/(main)/settings/_layout/CategoryContent.tsx
  src/app/[variants]/(main)/settings/agent/AgentMenu/Menu.tsx
  src/app/[variants]/(main)/settings/agent/AgentMenu/index.tsx
  src/app/[variants]/(main)/settings/agent/_layout/Desktop.tsx
  src/app/[variants]/(main)/settings/agent/_layout/Mobile.tsx
  src/app/[variants]/(main)/settings/agent/index.tsx
  src/app/[variants]/(main)/settings/features/SettingsContent.tsx
  src/app/[variants]/(main)/settings/hooks/useCategory.tsx
  src/app/[variants]/(main)/settings/index.tsx
  src/locales/default/setting.ts
Due: none

feat: init agentBuilderSlice & mailfest & api
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/operation/types.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
  src/tools/executionRuntimes.ts
  src/tools/index.ts
Due: Store Layer

fix: File tree not loading subsiding item
  src/features/ResourceManager/FileTree/index.tsx
Due: none

feat: add agent builder tools render
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/Render/GetConfig.tsx
  src/tools/agent-builder/Render/GetMeta.tsx
  src/tools/agent-builder/Render/SetModel.tsx
  src/tools/agent-builder/Render/SetOpeningMessage.tsx
  src/tools/agent-builder/Render/SetOpeningQuestions.tsx
  src/tools/agent-builder/Render/TogglePlugin.tsx
  src/tools/agent-builder/Render/UpdateChatConfig.tsx
  src/tools/agent-builder/Render/UpdateConfig.tsx
  src/tools/agent-builder/Render/UpdateMeta.tsx
  src/tools/agent-builder/Render/components/ConfigCard.tsx
  src/tools/agent-builder/Render/components/ConfigDiffView.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/index.ts
  src/tools/renders.ts
Due: Store Layer

fix: View mode
  src/features/ResourceManager/FileTree/index.tsx
Due: none

support init agent
  packages/const/src/agent.ts
  packages/const/src/index.ts
  packages/database/src/models/agent.ts
  packages/prompts/src/agents/index.ts
  packages/prompts/src/agents/pageAgent.ts
  packages/prompts/src/index.ts
  src/features/Conversation/ChatList/index.tsx
  src/features/PageEditor/index.tsx
  src/server/routers/lambda/agent.ts
  src/server/services/agent/index.ts
  src/services/agent.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
Due: Store Layer, Services Layer, Server Layer

✨ Add Resend email provider and env selector
  package.json
  src/envs/email.ts
  src/server/services/email/README.md
  src/server/services/email/impls/index.ts
  src/server/services/email/impls/resend/index.ts
  src/server/services/email/index.test.ts
  src/server/services/email/index.ts
Due: Server Layer

fix: slove the soft reload will HydrateFallback
  src/utils/router.tsx
Due: Utils Layer

basic integration
  packages/types/src/conversation.ts
  src/features/PageEditor/PageAgentProvider.tsx
  src/features/PageEditor/index.tsx
  src/store/chat/utils/messageMapKey.ts
Due: Store Layer

fix: delete useless code
  src/utils/router.tsx
Due: Utils Layer

🐛 fix: slove the soft reload will HydrateFallback (#10556)
  src/utils/router.tsx
Due: Utils Layer

refac: Rename files
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBase.tsx
  src/features/ChatInput/ActionBar/Knowledge/index.tsx
  src/features/KnowledgeBaseModal/AddFilesToKnowledgeBase/index.tsx
  src/features/LibraryModal/AddFilesToKnowledgeBase/SelectForm.tsx
  src/features/LibraryModal/AddFilesToKnowledgeBase/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/Action.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/EditCustomPlugin.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/MasonryItem.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/MasonryItemWrapper.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/PluginTag.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Item/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/List.tsx
  src/features/LibraryModal/AssignKnowledgeBase/Loading.tsx
  src/features/LibraryModal/AssignKnowledgeBase/MasonrySkeleton.tsx
  src/features/LibraryModal/AssignKnowledgeBase/ViewSwitcher.tsx
  src/features/LibraryModal/AssignKnowledgeBase/index.tsx
  src/features/LibraryModal/CreateNew/CreateForm.tsx
  src/features/LibraryModal/CreateNew/index.tsx
  src/features/LibraryModal/index.ts
  src/features/NavPanel/hooks/useProjectMenuItems.tsx
  src/features/ResourceManager/FileExplorer/EmptyStatus.tsx
  src/features/ResourceManager/FileExplorer/FileListItem/DropdownMenu.tsx
  src/features/ResourceManager/FileExplorer/ToolBar/index.tsx
  src/features/ResourceManager/FileExplorer/index.tsx
Due: none

📝 Update BetterAuth email & magic-link docs
  docs/self-hosting/advanced/auth.mdx
  docs/self-hosting/advanced/auth.zh-CN.mdx
Due: none

📝 docs: update brand name
  .cursor/rules/project-introduce.mdc
  AGENTS.md
  src/libs/better-auth/email-templates/magic-link.ts
  src/libs/better-auth/email-templates/reset-password.ts
  src/libs/better-auth/email-templates/verification.ts
Due: Libraries Layer

fix types
  apps/desktop/package.json
  apps/desktop/src/main/utils/next-electron-rsc.ts
  packages/electron-client-ipc/src/events/system.ts
  packages/electron-client-ipc/src/types/system.ts
Due: none

🐛 Guard env access in EmailService for client tests
  src/server/services/email/index.ts
Due: Server Layer

✨ feat: email provider support resend (#10557)
  .cursor/rules/project-introduce.mdc
  AGENTS.md
  docs/self-hosting/advanced/auth.mdx
  docs/self-hosting/advanced/auth.zh-CN.mdx
  package.json
  src/envs/email.ts
  src/libs/better-auth/email-templates/magic-link.ts
  src/libs/better-auth/email-templates/reset-password.ts
  src/libs/better-auth/email-templates/verification.ts
  src/server/services/email/README.md
  src/server/services/email/impls/index.ts
  src/server/services/email/impls/resend/index.ts
  src/server/services/email/index.test.ts
  src/server/services/email/index.ts
Due: Server Layer, Libraries Layer

:bookmark: chore(release): v2.0.0-next.145 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cc/95e6f9edd17b16879d71e01075bae94d8c49d0
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
  src/envs/email.ts
Due: none

✅ test: fix test types and improve desktop ci workflow (#10552)
  .github/workflows/test.yml
  apps/desktop/package.json
  apps/desktop/src/main/controllers/__tests__/UploadFileCtr.test.ts
  apps/desktop/src/main/core/infrastructure/__tests__/ProtocolManager.test.ts
  apps/desktop/src/main/core/ui/__tests__/Tray.test.ts
  apps/desktop/src/main/utils/__tests__/file-system.test.ts
  apps/desktop/src/main/utils/__tests__/logger.test.ts
  apps/desktop/src/main/utils/next-electron-rsc.ts
  apps/desktop/src/preload/invoke.test.ts
  apps/desktop/src/preload/routeInterceptor.test.ts
  apps/desktop/src/preload/streamer.test.ts
  packages/electron-client-ipc/src/events/system.ts
  packages/electron-client-ipc/src/types/system.ts
Due: none

refactor conversation context
  packages/types/src/conversation.ts
  src/features/PageEditor/PageAgentProvider.tsx
  src/hooks/useOperationState.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/actions/internals.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
Due: Store Layer

refactor: refactor dev copilot (#10559)
  packages/const/src/agent.ts
  packages/const/src/index.ts
  packages/database/src/models/agent.ts
  packages/prompts/src/agents/index.ts
  packages/prompts/src/agents/pageAgent.ts
  packages/prompts/src/index.ts
  packages/types/src/conversation.ts
  src/features/Conversation/ChatList/index.tsx
  src/features/PageEditor/DocumentConversation.tsx
  src/features/PageEditor/PageAgentProvider.tsx
  src/features/PageEditor/index.tsx
  src/hooks/useOperationState.ts
  src/server/routers/lambda/agent.ts
  src/server/services/agent/index.ts
  src/services/agent.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/actions/internals.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/utils/messageMapKey.ts
  src/store/file/slices/document/action.ts
  src/store/file/slices/document/initialState.ts
Due: Store Layer, Services Layer, Server Layer

style: update home header
  packages/const/src/layoutTokens.ts
  src/app/[variants]/(main)/home/features/index.tsx
  src/app/[variants]/(main)/home/index.tsx
Due: none

style: update image header
  packages/const/src/hotkeys.ts
  src/app/[variants]/(main)/(mobile)/_layout/NavBar.tsx
  src/app/[variants]/(main)/(mobile)/_layout/index.tsx
  src/app/[variants]/(main)/image/_layout/index.tsx
  src/app/[variants]/(main)/image/features/GenerationFeed/index.tsx
  src/app/[variants]/(main)/image/features/ImageWorkspace/EmptyState.tsx
  src/app/[variants]/(main)/image/features/ImageWorkspace/SkeletonList.tsx
  src/app/[variants]/(main)/image/index.tsx
  src/app/[variants]/(main)/layouts/DesktopLayoutContainer.tsx
  src/app/[variants]/(main)/layouts/RegisterHotkeys.tsx
  src/app/[variants]/(main)/layouts/desktop/index.tsx
  src/app/[variants]/(main)/layouts/index.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/features/Conversation/components/WideScreenContainer/index.tsx
  src/features/NavHeader/index.tsx
  src/features/NavPanel/index.tsx
  src/hooks/useHotkeys/chatScope.ts
  src/hooks/useHotkeys/filesScope.ts
  src/hooks/useHotkeys/globalScope.ts
  src/hooks/useHotkeys/imageScope.ts
Due: none

style: update page header
  src/app/[variants]/(main)/page/[id]/index.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/Editing.tsx
  src/app/[variants]/(main)/page/_layout/Body/DocumentList/List/Item/index.tsx
  src/app/[variants]/(main)/page/index.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/features/PageEditor/Header/PageEditorBreadcrumb.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/PageEditorBody.tsx
  src/features/PageEditor/PageEditorContext.tsx
  src/features/PageEditor/PageEditorCopilot.tsx
  src/features/PageEditor/PageEditorTitle.tsx
  src/features/PageEditor/index.tsx
  src/features/PageEditor/usePageEditorMenu.tsx
  src/features/PageExplorer/DocumentEditorPlaceholder.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

style: update pageEditor
  src/features/PageEditor/Body/Title.tsx
  src/features/PageEditor/Body/index.tsx
  src/features/PageEditor/Context.tsx
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/Header/Breadcrumb.tsx
  src/features/PageEditor/Header/PageEditorBreadcrumb.tsx
  src/features/PageEditor/Header/index.tsx
  src/features/PageEditor/Header/useMenu.tsx
  src/features/PageEditor/Modal/index.tsx
  src/features/PageEditor/index.tsx
  src/features/ResourceManager/FileExplorer/MasonryFileItem/index.tsx
  src/features/ResourceManager/Header/AddButton.tsx
  src/features/ResourceManager/Header/NewNoteButton.tsx
Due: none

style: update setting header
  src/app/[variants]/(main)/settings/_layout/index.tsx
  src/app/[variants]/(main)/settings/features/SettingsContent.tsx
  src/app/[variants]/(main)/settings/index.tsx
  src/app/[variants]/(main)/settings/provider/_layout/Desktop/Container.tsx
  src/features/NavHeader/index.tsx
Due: none

feat: add agent builder conversation to agent settings editor page
  src/app/[variants]/(main)/chat/profile/features/AgentBuilderConversation.tsx
  src/app/[variants]/(main)/chat/profile/features/AgentBuilderProvider.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/index.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/index.tsx
  src/app/[variants]/(main)/chat/profile/index.tsx
Due: none
