Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

refac: Reorgnize folders
  src/features/ResourceManager/components/Explorer/ItemDropdown/DropdownMenu.tsx
  src/features/ResourceManager/components/Explorer/ItemDropdown/useFileItemDropdown.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/ChunkTag.tsx
  src/features/ResourceManager/components/Explorer/ListView/ListItem/index.tsx
  src/features/ResourceManager/components/Explorer/ListView/Skeleton.tsx
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/DefaultFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/ImageFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/MarkdownFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/MasonryItemWrapper.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/NoteFileItem.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/MasonryFileItem/index.tsx
  src/features/ResourceManager/components/Explorer/MasonryView/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

support switch input mode
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/store/session/initialState.ts
  src/store/session/slices/homeInput/action.test.ts
  src/store/session/slices/homeInput/action.ts
  src/store/session/slices/homeInput/index.ts
  src/store/session/slices/homeInput/initialState.ts
  src/store/session/store.ts
Due: Store Layer

refactor send
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/session/slices/homeInput/action.ts
Due: Store Layer

✨ feat: 启用 DeepSeek V3.2 和 V3.1 Terminus 模型，移除不必要的 enabled 属性
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
Due: none

lint: Clean up codes
  src/features/ResourceManager/index.tsx
Due: none

style: update memory
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/ContextCard.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/GridView/index.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/features/SourceLink.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/ViewModeSwitcher.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/MemoryCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/MonthGroup.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/DayGroup.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
Due: none

feat: Optimize hook
  src/app/[variants]/(main)/resource/features/store/action.ts
  src/app/[variants]/(main)/resource/features/store/initialState.ts
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/BatchActionsDropdown.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/ViewSwitcher.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/index.tsx
  src/features/ResourceManager/components/Explorer/hooks/useFileSelection.ts
  src/features/ResourceManager/components/Explorer/hooks/useViewMode.ts
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
Due: none

style: update memory GroupedVirtuoso
  src/app/[variants]/(main)/discover/components/VirtuosoGridList/index.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/contexts/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/experiences/index.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/useScrollParent.ts
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/preferences/index.tsx
  src/features/LibraryModal/AssignKnowledgeBase/List.tsx
  src/features/PluginStore/InstalledList/List/index.tsx
  src/features/PluginStore/McpList/List/index.tsx
  src/features/PluginStore/PluginList/List/index.tsx
Due: none

Home Repo
  packages/database/src/repositories/home/index.test.ts
  packages/database/src/repositories/home/index.ts
  src/server/routers/lambda/home.ts
  src/server/routers/lambda/index.ts
Due: Server Layer

feat: add better auth expo config
  package.json
  src/auth.ts
  src/libs/better-auth/utils/config.ts
Due: Libraries Layer

style: update memory card
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/ContextCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/HashTags.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/MasonryCard.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/features/ProgressIcon.tsx
  src/app/[variants]/(main)/memory/features/SourceLink.tsx
  src/app/[variants]/(main)/memory/features/Time.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/IdentityCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/MemoryCard.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/index.tsx
Due: none

✅ test(database): document model delete all (#10644)
  packages/database/src/models/__tests__/document.test.ts
Due: none

chore(deps): remove @types/ioredis as ioredis now provides types by default
  package.json
Due: none

fix: use new api for timeout
  packages/database/src/client/db.test.ts
  packages/database/src/repositories/dataImporter/deprecated/__tests__/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
Due: none

style: update memory card
  src/app/[variants]/(main)/memory/contexts/features/List/ContextDrawer.tsx
  src/app/[variants]/(main)/memory/contexts/features/List/MasonryView/ContextCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/ExperienceDrawer.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/MasonryView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/TimelineView/ExperienceCard.tsx
  src/app/[variants]/(main)/memory/features/MasonryView/MasonryCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/PeriodGroup.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/TimeLineCard.tsx
  src/app/[variants]/(main)/memory/features/TimeLineView/index.tsx
  src/app/[variants]/(main)/memory/features/useCateColor.ts
  src/app/[variants]/(main)/memory/preferences/features/List/MasonryView/PreferenceCard.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/PreferenceDrawer.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/TimelineView/PreferenceCard.tsx
Due: none

style: fix auth card
  locales/en-US/auth.json
  src/features/AuthCard/index.tsx
Due: none

home store
  src/hooks/useFetchAgentList.ts
  src/proxy.ts
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/services/home/index.ts
  src/store/agent/slices/agent/action.ts
  src/store/home/index.ts
  src/store/home/initialState.ts
  src/store/home/selectors.ts
  src/store/home/slices/agentList/action.ts
  src/store/home/slices/agentList/index.ts
  src/store/home/slices/agentList/initialState.ts
  src/store/home/slices/agentList/selectors.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/index.ts
  src/store/home/slices/homeInput/initialState.ts
  src/store/home/slices/recent/action.ts
  src/store/home/slices/recent/index.ts
  src/store/home/slices/recent/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Services Layer, Server Layer

refactor agent using homeStore and agentStore
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Item.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/GroupItem.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/CreateGroupModal.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/home/initialState.ts
  src/store/home/slices/sidebarUI/action.test.ts
  src/store/home/slices/sidebarUI/action.ts
  src/store/home/slices/sidebarUI/index.ts
  src/store/home/slices/sidebarUI/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Server Layer

refactor sidebar using homeStore and agentStore
  packages/database/src/repositories/home/index.test.ts
  packages/database/src/repositories/home/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionGroupMenuItems.tsx
  src/server/routers/lambda/home.ts
  src/services/home/index.ts
  src/store/home/slices/agentList/action.ts
Due: Store Layer, Services Layer, Server Layer

refactor home page using homeStore and agentStore
  packages/database/src/repositories/home/index.ts
  packages/types/src/home.ts
  packages/types/src/index.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/Item.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Group/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/useAgentList.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/Modals/ConfigGroupModal/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionItemMenuItems.tsx
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/app/[variants]/(main)/home/features/RecentPage/List.tsx
  src/app/[variants]/(main)/home/features/RecentPage/index.tsx
  src/app/[variants]/(main)/home/features/RecentResource/List.tsx
  src/app/[variants]/(main)/home/features/RecentResource/index.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/List.tsx
  src/app/[variants]/(main)/home/features/RecentTopic/index.tsx
  src/hooks/useInitRecentPage.ts
  src/hooks/useInitRecentResource.ts
  src/hooks/useInitRecentTopic.ts
  src/store/home/index.ts
  src/store/home/selectors.ts
  src/store/home/slices/agentList/selectors.ts
  src/store/home/slices/recent/index.ts
  src/store/home/slices/recent/selectors.ts
Due: Store Layer

refactor Conversation with agentStore
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/Conversation/hooks/index.ts
  src/features/Conversation/hooks/useAgentMeta.test.ts
  src/features/Conversation/hooks/useAgentMeta.ts
Due: none

lint: Clean up coed
  src/features/ResourceManager/components/Explorer/Header/index.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/BatchActionsDropdown.tsx
  src/features/ResourceManager/components/Explorer/ToolBar/MultiSelectActions.tsx
Due: none

refactor sessionStore to agentStore
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/Item/index.tsx
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/discover/(detail)/assistant/features/Sidebar/ActionButton/AddAgent.tsx
  src/features/AgentSetting/AgentCategory/useCategory.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/features/DataImporter/index.tsx
  src/features/ShareModal/ShareImage/Preview.tsx
  src/hooks/useInterceptingRoutes.test.ts
  src/hooks/useInterceptingRoutes.ts
  src/hooks/usePinnedAgentState.ts
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/initialState.ts
Due: Store Layer, Services Layer, Server Layer

fix create agent flow
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/hooks/useInitBuiltinAgent.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/initialState.ts
Due: Store Layer

fix delete agent and improve start input action
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
  src/store/home/slices/sidebarUI/action.ts
Due: Store Layer, Services Layer, Server Layer

improve start input action
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
Due: none

🐛 fix: update useFetchFilesAndKnowledgeBases to accept activeAgentId as a parameter
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/List.tsx
  src/store/agent/slices/chat/action.ts
Due: Store Layer

🐛 fix: remove overflowY from Container and add overflow hidden to List and index styles
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/List.tsx
  src/features/KnowledgeManager/FileExplorer/index.tsx
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

support delete memory
  packages/database/src/models/userMemory/context.ts
  packages/database/src/models/userMemory/experience.ts
  packages/database/src/models/userMemory/identity.ts
  packages/database/src/models/userMemory/index.ts
  packages/database/src/models/userMemory/model.ts
  packages/database/src/models/userMemory/preference.ts
  src/app/[variants]/(main)/memory/contexts/features/List/index.tsx
  src/app/[variants]/(main)/memory/experiences/features/List/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/MasonryView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/TimelineView/index.tsx
  src/app/[variants]/(main)/memory/identities/features/List/index.tsx
  src/app/[variants]/(main)/memory/preferences/features/List/index.tsx
  src/locales/default/memory.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/preference/action.ts
Due: Store Layer, Services Layer, Server Layer

feat: update agent builder tools call way
  locales/en-US/plugin.json
  locales/zh-CN/plugin.json
  packages/builtin-agents/src/agents/agent-builder/systemRole.ts
  packages/prompts/src/prompts/agentBuilder/index.ts
  packages/prompts/src/prompts/agentBuilder/modelsResultsPrompt.ts
  packages/prompts/src/prompts/agentBuilder/toolsResultsPrompt.ts
  packages/prompts/src/prompts/index.ts
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/TopicSelector.tsx
  src/locales/default/plugin.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
  src/tools/identifiers.ts
Due: Store Layer

feat: add install Plugins tools & add human approve intervation
  src/helpers/toolEngineering/index.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Intervention/InstallPlugin.tsx
  src/tools/agent-builder/Intervention/index.ts
  src/tools/agent-builder/Render/InstallPlugin.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/types.ts
  src/tools/interventions.ts
Due: Store Layer

✨ feat: support approve install plugins in agent builder (#10662)
  locales/en-US/plugin.json
  locales/zh-CN/plugin.json
  packages/builtin-agents/src/agents/agent-builder/systemRole.ts
  packages/prompts/src/prompts/agentBuilder/index.ts
  packages/prompts/src/prompts/agentBuilder/modelsResultsPrompt.ts
  packages/prompts/src/prompts/agentBuilder/toolsResultsPrompt.ts
  packages/prompts/src/prompts/index.ts
  src/app/[variants]/(main)/chat/profile/features/AgentBuilder/TopicSelector.tsx
  src/helpers/toolEngineering/index.ts
  src/locales/default/plugin.ts
  src/store/chat/slices/builtinTool/actions/agentBuilder.ts
  src/tools/agent-builder/ExecutionRuntime/index.ts
  src/tools/agent-builder/Intervention/InstallPlugin.tsx
  src/tools/agent-builder/Intervention/index.ts
  src/tools/agent-builder/Render/InstallPlugin.tsx
  src/tools/agent-builder/Render/index.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  src/tools/agent-builder/types.ts
  src/tools/identifiers.ts
  src/tools/interventions.ts
Due: Store Layer

feat: Page copilot
  packages/builtin-agents/src/agents/page-agent/index.ts
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/TopicSeletor.tsx
  src/features/PageEditor/Copilot/index.tsx
  src/features/PageEditor/StoreUpdater.tsx
  src/locales/default/plugin.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/store/chat/slices/operation/types.ts
  src/tools/document/ExecutionRuntime/index.ts
  src/tools/document/index.ts
  src/tools/document/systemRole.ts
  src/tools/document/type.ts
Due: Store Layer

refactor create group
  src/proxy.ts
Due: none

refactor create group
  packages/const/src/url.ts
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/ModalProvider.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/index.tsx
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/server/routers/lambda/agent.ts
  src/server/routers/lambda/group.ts
  src/services/chatGroup/index.ts
  src/store/home/slices/group/action.ts
  src/store/home/slices/group/index.ts
  src/store/home/slices/group/initialState.ts
  src/store/home/store.ts
Due: Store Layer, Services Layer, Server Layer

refactor agent group
  packages/database/src/repositories/home/index.ts
  packages/types/src/home.ts
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentGroupItem/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/Editing.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/AgentItem/index.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/Item/Avatar.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/List/List.tsx
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
