Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix test
  src/store/chat/slices/aiChat/actions/__tests__/generateAIChatV2.test.ts
Due: Store Layer

add ToolNameResolver
  packages/context-engine/package.json
  packages/context-engine/src/index.ts
  packages/context-engine/src/tools/ToolNameResolver.ts
  packages/context-engine/src/tools/__tests__/ToolNameResolver.test.ts
  packages/context-engine/src/tools/index.ts
  packages/context-engine/src/tools/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/toolCall.ts
  packages/utils/src/toolManifest.ts
  src/services/chat/contextEngineering.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
  src/store/tool/selectors/tool.ts
Due: Store Layer, Services Layer

fix ToolName generate tests
  packages/context-engine/src/tools/ToolNameResolver.ts
  packages/context-engine/src/tools/__tests__/ToolNameResolver.test.ts
  packages/context-engine/src/tools/__tests__/generateToolName.test.ts
Due: none

fix tests
  packages/context-engine/src/tools/__tests__/ToolNameResolver.test.ts
Due: none

fix(build): disable webpack cache and minification for Vercel memory constraints
  next.config.ts
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🔨 chore: output JSON support tools calling mode (#9696)
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/anthropic/generateObject.test.ts
  packages/model-runtime/src/providers/anthropic/generateObject.ts
  packages/model-runtime/src/types/structureOutput.ts
  packages/types/src/aiChat.ts
  packages/types/src/tool/index.ts
  packages/types/src/tool/tool.ts
  src/server/routers/lambda/aiChat.ts
Due: Server Layer

🔨 chore: add Clerk authentication related variables and some other variables in Dockerfile (#9640)
  Dockerfile
  Dockerfile.database
  Dockerfile.pglite
Due: none

💄 style: change the user chatItem maxWidth should use flex 1 (#9689)
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

:bookmark: chore(release): v1.137.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  af/71a7933aacd77094a9320ac2ff8374e010aa82
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

🐛 fix: fix the Worker URL cross-origin issue (#9624)
  next.config.ts
Due: none

fix tests
  e2e/routes.spec.ts
Due: none

clean
  packages/types/src/plugins/index.ts
Due: none

add
  packages/model-runtime/src/index.ts
  packages/model-runtime/src/types/chat.ts
  packages/model-runtime/src/utils/consumeStream.ts
  packages/types/src/index.ts
  packages/types/src/tool/builtin.ts
  packages/types/src/tool/search/index.ts
  packages/web-crawler/src/crawler.ts
  packages/web-crawler/src/type.ts
Due: none

refactor types
  packages/database/src/models/plugin.ts
  packages/types/src/message/tools.ts
  src/database/_deprecated/models/plugin.ts
  src/features/PluginsUI/Render/index.tsx
  src/migrations/FromV4ToV5/types/v4.ts
  src/migrations/FromV4ToV5/types/v5.ts
  src/server/routers/lambda/plugin.ts
  src/services/chat/chat.test.ts
  src/services/plugin/_deprecated.test.ts
  src/services/plugin/_deprecated.ts
  src/services/plugin/client.test.ts
  src/services/plugin/client.ts
  src/services/plugin/type.ts
  src/store/tool/helpers.ts
  src/store/tool/slices/builtin/initialState.ts
  src/store/tool/slices/oldStore/action.ts
  src/store/tool/slices/plugin/action.test.ts
  src/store/tool/slices/plugin/initialState.ts
  src/tools/artifacts/index.ts
  src/tools/dalle/Render/index.tsx
  src/tools/dalle/index.ts
  src/tools/index.ts
  src/tools/local-system/Render/index.tsx
  src/tools/local-system/index.ts
  src/tools/portals.ts
  src/tools/renders.ts
  src/tools/web-browsing/Portal/index.tsx
  src/tools/web-browsing/Render/index.tsx
  src/tools/web-browsing/index.ts
Due: Store Layer, Services Layer, Server Layer

refactor to improve search performance
  packages/types/src/aiProvider.ts
  packages/utils/src/fetch/__tests__/fetchSSE.test.ts
  packages/utils/src/fetch/fetchSSE.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/tools/web-browsing/const.ts
Due: Store Layer

fix desktop remote streamable http
  packages/types/src/plugins/mcp.ts
  packages/utils/src/url.ts
  src/server/routers/desktop/mcp.ts
  src/server/routers/tools/mcp.ts
  src/services/mcp.ts
Due: Services Layer, Server Layer

fix mcp retry issue
  src/libs/mcp/client.ts
  src/server/services/mcp/index.ts
Due: Server Layer, Libraries Layer

fix tests
  src/server/services/discover/index.test.ts
  src/services/chat/chat.test.ts
Due: Services Layer, Server Layer

refactor types
  src/tools/web-browsing/Portal/PageContents/index.tsx
  src/tools/web-browsing/Portal/Search/ResultList/SearchItem/TitleExtra.tsx
  src/tools/web-browsing/Portal/Search/ResultList/SearchItem/Video.tsx
  src/tools/web-browsing/Portal/Search/ResultList/index.tsx
  src/tools/web-browsing/Portal/Search/index.tsx
  src/tools/web-browsing/Portal/index.tsx
  src/tools/web-browsing/Render/PageContent/index.tsx
  src/tools/web-browsing/Render/index.tsx
Due: none

add more tests
  src/server/services/mcp/index.test.ts
Due: Server Layer

fix style
  src/features/Conversation/Messages/Assistant/Tool/Inspector/PluginState.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
Due: none

fix test
  src/store/chat/slices/builtinTool/actions/search.test.ts
Due: Store Layer

add local
  packages/utils/src/url.test.ts
Due: none

fix test and types
  packages/context-engine/src/__tests__/pipeline.test.ts
  packages/types/src/message/tools.ts
Due: none

add test
  packages/const/src/index.ts
  packages/model-runtime/src/utils/consumeStream.test.ts
  packages/types/src/tool/search/index.ts
  src/server/services/search/index.test.ts
  src/server/services/search/index.ts
  src/tools/executionRuntimes.ts
  src/tools/web-browsing/ExecutionRuntime/index.ts
Due: Server Layer

refactor
  src/server/routers/tools/search.ts
  src/services/search.ts
  src/store/discover/slices/plugin/action.ts
  src/tools/web-browsing/Portal/PageContent/index.tsx
  src/tools/web-browsing/Render/PageContent/Result.tsx
Due: Store Layer, Services Layer, Server Layer

refactor types
  src/server/routers/tools/search.test.ts
  src/server/services/search/impls/anspire/index.ts
  src/server/services/search/impls/bocha/index.ts
  src/server/services/search/impls/brave/index.ts
  src/server/services/search/impls/exa/index.ts
  src/server/services/search/impls/firecrawl/index.ts
  src/server/services/search/impls/google/index.ts
  src/server/services/search/impls/jina/index.ts
  src/server/services/search/impls/kagi/index.ts
  src/server/services/search/impls/search1api/index.ts
  src/server/services/search/impls/searxng/index.ts
  src/server/services/search/impls/tavily/index.ts
  src/server/services/search/impls/type.ts
  src/server/services/search/index.ts
  src/store/chat/slices/builtinTool/actions/search.test.ts
  src/tools/web-browsing/Portal/Search/ResultList/SearchItem/index.tsx
  src/tools/web-browsing/Portal/index.tsx
  src/tools/web-browsing/Render/Search/SearchQuery/index.tsx
  src/tools/web-browsing/Render/Search/SearchResult/SearchResultItem.tsx
  src/tools/web-browsing/Render/Search/SearchResult/index.tsx
  src/tools/web-browsing/Render/Search/index.tsx
  src/tools/web-browsing/Render/index.tsx
  src/tools/web-browsing/components/SearchBar.tsx
Due: Store Layer, Server Layer

refactor
  src/server/services/discover/index.ts
  src/server/services/mcp/index.ts
  src/server/services/search/index.ts
Due: Server Layer

:bookmark: chore(release): v1.137.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  79/955e8f8df9fab0b647b93d0749a5452485d7c5
Due: none

删除 GLM-4.6 模型的定义
  packages/model-bank/src/aiModels/ollamacloud.ts
Due: none

update
  packages/utils/src/url.test.ts
  packages/utils/src/url.ts
  src/services/mcp.ts
Due: Services Layer

🐛 fix: fix tools calling long name length >64 issue (#9697)
  packages/context-engine/package.json
  packages/context-engine/src/index.ts
  packages/context-engine/src/tools/ToolNameResolver.ts
  packages/context-engine/src/tools/__tests__/ToolNameResolver.test.ts
  packages/context-engine/src/tools/__tests__/generateToolName.test.ts
  packages/context-engine/src/tools/index.ts
  packages/context-engine/src/tools/utils.ts
  packages/utils/src/index.ts
  packages/utils/src/toolCall.ts
  packages/utils/src/toolManifest.ts
  src/services/chat/contextEngineering.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/action.ts
  src/store/tool/selectors/tool.ts
Due: Store Layer, Services Layer

:bookmark: chore(release): v1.137.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none
