Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

fix(memory-user-memory): use schema reference to column to avoid onUpdate hook
  packages/memory-user-memory/src/providers/chatTopic.ts
Due: none

style: update supervisor
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/AgentProfilePopup.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMemberItem.tsx
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/group/features/GroupAvatar.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/AgentHeader.tsx
  src/components/EmojiPicker/index.tsx
  src/features/User/UserAvatar.tsx
Due: none

feat: add opening message & question into group chat welcome
  packages/builtin-tool-group-agent-builder/src/ExecutionRuntime/index.ts
  packages/builtin-tool-group-agent-builder/src/index.ts
  packages/builtin-tool-group-agent-builder/src/manifest.ts
  packages/builtin-tool-group-agent-builder/src/systemRole.ts
  packages/builtin-tool-group-agent-builder/src/types.ts
  packages/const/src/settings/group.ts
  packages/context-engine/src/providers/GroupAgentBuilderContextInjector.ts
  packages/database/src/types/chatGroup.ts
  packages/types/src/agentGroup/index.ts
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/index.tsx
  src/services/chat/mecha/contextEngineering.ts
  src/store/agentGroup/selectors/current.ts
  src/store/chat/slices/builtinTool/actions/groupAgentBuilder.ts
Due: Store Layer, Services Layer

✨ feat: agent group support opening message (#10845)
  packages/builtin-tool-group-agent-builder/src/ExecutionRuntime/index.ts
  packages/builtin-tool-group-agent-builder/src/index.ts
  packages/builtin-tool-group-agent-builder/src/manifest.ts
  packages/builtin-tool-group-agent-builder/src/systemRole.ts
  packages/builtin-tool-group-agent-builder/src/types.ts
  packages/const/src/settings/group.ts
  packages/context-engine/src/providers/GroupAgentBuilderContextInjector.ts
  packages/database/src/types/chatGroup.ts
  packages/types/src/agentGroup/index.ts
  src/app/[variants]/(main)/group/features/Conversation/AgentWelcome/index.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/index.tsx
  src/services/chat/mecha/contextEngineering.ts
  src/store/agentGroup/selectors/current.ts
  src/store/chat/slices/builtinTool/actions/groupAgentBuilder.ts
Due: Store Layer, Services Layer

⚡️ perf: lazy-mount model info tooltips in model switch
  src/components/ModelSelect/NewModelBadge.tsx
  src/components/ModelSelect/index.tsx
  src/features/ModelSwitchPanel/index.tsx
Due: none

support local server agent runtime
  src/app/(backend)/api/agent/isEnableAgent.ts
  src/app/(backend)/api/agent/route.ts
  src/app/(backend)/api/agent/run/route.ts
  src/app/(backend)/api/agent/stream/__tests__/route.test.ts
  src/app/(backend)/api/agent/stream/route.ts
  src/envs/app.ts
  src/server/modules/AgentRuntime/AgentRuntimeCoordinator.ts
  src/server/modules/AgentRuntime/factory.ts
  src/server/modules/AgentRuntime/index.ts
  src/server/routers/lambda/__tests__/aiAgent.execGroupSubAgentTask.test.ts
  src/server/routers/lambda/__tests__/aiAgent.getTaskStatus.test.ts
  src/server/routers/lambda/__tests__/aiAgent.interruptTask.test.ts
  src/server/routers/lambda/__tests__/aiAgent.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.task.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execAgents.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/execGroupAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/helpers.ts
  src/server/routers/lambda/__tests__/integration/aiAgent/multiRoundTools.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/queue/QueueService.ts
  src/server/services/queue/__tests__/QueueService.test.ts
  src/server/services/queue/impls/index.ts
  src/server/services/queue/impls/local.ts
  src/server/services/queue/impls/simple.ts
Due: Server Layer

fix(memory-user-memory): prompt incorrectly specified the structure, promptfoo config error
  packages/memory-user-memory/promptfoo/evals/identity/with-s3-trace/tests/cases.ts
  packages/memory-user-memory/src/prompts/layers/identity.md
Due: none

style: update agent builder avatar
  packages/builtin-agents/src/agents/group-agent-builder/index.ts
  packages/types/src/agent/item.ts
  src/features/AgentBuilder/AgentBuilderWelcome.tsx
Due: none

⚡️ perf: use virtual list and resizable panel for model switch
  src/features/ModelSwitchPanel/index.tsx
Due: none

⚡️ perf: increase VList buffer size to reduce blank during scroll
  src/features/ModelSwitchPanel/index.tsx
Due: none

⚡️ perf: optimize model switch panel UX and performance
  src/components/ModelSelect/index.tsx
  src/features/ModelSwitchPanel/index.tsx
Due: none

update group management tool render
  packages/builtin-tool-group-management/src/client/Intervention/ExecuteTask.tsx
  packages/builtin-tool-group-management/src/client/Intervention/index.ts
  packages/builtin-tool-group-management/src/client/Render/ExecuteTask/index.tsx
  packages/builtin-tool-group-management/src/client/index.ts
  packages/builtin-tool-group-management/src/executor.test.ts
  packages/builtin-tool-group-management/src/executor.ts
  packages/builtin-tool-group-management/src/manifest.ts
  packages/builtin-tool-group-management/src/types.ts
  packages/types/src/message/common/metadata.ts
  packages/types/src/message/db/params.ts
  packages/types/src/message/ui/chat.ts
  packages/types/src/message/ui/params.ts
Due: none

refactor GroupOrchestration
  packages/agent-runtime/src/core/__tests__/GroupOrchestrationRuntime.test.ts
  packages/agent-runtime/src/core/index.ts
  packages/agent-runtime/src/groupOrchestration/GroupOrchestrationRuntime.ts
  packages/agent-runtime/src/groupOrchestration/GroupOrchestrationSupervisor.ts
  packages/agent-runtime/src/groupOrchestration/__tests__/GroupOrchestrationSupervisor.test.ts
  packages/agent-runtime/src/groupOrchestration/index.ts
  packages/agent-runtime/src/groupOrchestration/types.ts
  packages/agent-runtime/src/index.ts
  packages/agent-runtime/src/types/groupOrchestration.ts
  packages/agent-runtime/src/types/index.ts
  packages/types/src/tool/builtin.ts
  src/locales/default/tool.ts
  src/services/aiAgent.ts
  src/store/chat/agents/GroupOrchestration/GroupOrchestrationSupervisor.ts
  src/store/chat/agents/GroupOrchestration/__tests__/GroupOrchestrationSupervisor.test.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/agents/GroupOrchestration/index.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/tools/interventions.ts
Due: Store Layer, Services Layer

support show async task
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  packages/context-engine/src/processors/TaskMessage.ts
  packages/context-engine/src/processors/__tests__/TaskMessage.test.ts
  packages/context-engine/src/processors/index.ts
  packages/types/src/agentGroup/index.ts
  packages/types/src/message/ui/chat.ts
  src/features/Conversation/Messages/AgentCouncil/TaskInstruction.tsx
  src/features/Conversation/Messages/Task/Actions/Error.tsx
  src/features/Conversation/Messages/Task/Actions/index.tsx
  src/features/Conversation/Messages/Task/Actions/useAssistantActions.ts
  src/features/Conversation/Messages/Task/TaskDetailPanel/CompletedState.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/ErrorState.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/ProcessingState.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/index.tsx
  src/features/Conversation/Messages/Task/components/MessageContent.tsx
  src/features/Conversation/Messages/Task/index.tsx
  src/features/Conversation/Messages/index.tsx
  src/server/routers/lambda/__tests__/aiAgent.getTaskStatus.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.task.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/agentRuntime/__tests__/stepLifecycleCallbacks.test.ts
  src/server/services/agentRuntime/types.ts
  src/server/services/aiAgent/__tests__/execGroupSubAgentTask.test.ts
  src/server/services/aiAgent/index.ts
  src/services/aiAgent.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
Due: Store Layer, Services Layer, Server Layer

support async task running
  packages/database/src/models/__tests__/messages/messageWithTask.test.ts
  packages/database/src/models/message.ts
  packages/types/src/message/ui/chat.ts
  packages/types/src/topic/thread.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
Due: Store Layer

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

fix: Add link
  src/features/PageEditor/EditorCanvas/index.tsx
Due: none

feat: add React DevTools extension for development
  apps/desktop/package.json
  apps/desktop/src/main/core/App.ts
Due: none

fix: Skip placeholder
  src/features/PageExplorer/index.tsx
Due: none

feat: update agent builder prompt
  packages/builtin-tool-agent-builder/src/systemRole.ts
Due: none

feat: change klavis into lobehub mcp
  packages/builtin-tool-agent-builder/src/systemRole.ts
Due: none

♻️ refactor: update agent builder system prompt (#10848)
  packages/builtin-tool-agent-builder/src/systemRole.ts
Due: none

style: restore original model dropdown style
  src/features/ModelSwitchPanel/index.tsx
Due: none

fix: change default placement of ModelInfoTags tooltip from 'right' to 'top'
  src/components/ModelSelect/index.tsx
Due: none

⚡️ perf(ModelSwitchPanel): replace virtual list with delayed rendering
  src/features/ModelSwitchPanel/index.tsx
Due: none

style: update style
  src/app/[variants]/(main)/home/features/RecentTopic/Item.tsx
  src/features/Conversation/Messages/AssistantGroup/Tools.tsx
Due: none

fix: slove some community link cant goto
  src/app/[variants]/(main)/community/(detail)/assistant/features/Details/Overview/TagList.tsx
  src/app/[variants]/(main)/community/(detail)/assistant/features/Details/SystemRole/TagList.tsx
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/community/(detail)/features/Block.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Details/Overview/ProviderList/index.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Sidebar/ActionButton/ChatWithModel.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Sidebar/RelatedProviders/index.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Details/Overview/ModelList/index.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Sidebar/ActionButton/ProviderConfig.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Sidebar/RelatedModels/index.tsx
Due: none

chore: integrate environment management with @t3-oss/env-core
  apps/desktop/package.json
  apps/desktop/src/main/const/env.ts
  apps/desktop/src/main/core/App.ts
  apps/desktop/src/main/core/__tests__/App.test.ts
  apps/desktop/src/main/env.ts
  apps/desktop/src/main/libs/mcp/client.ts
  apps/desktop/src/main/modules/updater/configs.ts
  apps/desktop/src/main/utils/logger.ts
Due: none

fix(ModelSwitchPanel): update left resizing option to false
  src/features/ModelSwitchPanel/index.tsx
Due: none

chore(MessageItem): remove unused IntersectionObserver logic and related state management
  src/features/Conversation/Messages/index.tsx
Due: none

fix refresh async task issue
  packages/builtin-tool-group-management/src/executor.test.ts
  packages/types/src/message/ui/chat.ts
  src/features/Conversation/Messages/Task/TaskDetailPanel/ProcessingState.tsx
  src/features/Conversation/Messages/Task/TaskDetailPanel/index.tsx
  src/features/Conversation/Messages/Task/index.tsx
  src/server/routers/lambda/__tests__/aiAgent.getTaskStatus.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.task.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/services/aiAgent.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
Due: Store Layer, Services Layer, Server Layer

fix: Clean up code
  locales/en-US/common.json
  locales/zh-CN/common.json
  packages/database/src/repositories/search/index.ts
  src/features/CommandMenu/SearchResults.tsx
  src/features/CommandMenu/components/CommandFooter.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/index.tsx
  src/features/CommandMenu/styles.ts
  src/locales/default/common.ts
  src/server/routers/lambda/search.ts
Due: Server Layer

feat: update the community card with market auth
  src/app/[variants]/(main)/community/(detail)/user/features/DetailProvider.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/index.tsx
  src/app/[variants]/(main)/community/features/UserAvatar/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/types.ts
  src/server/services/discover/index.ts
Due: Server Layer

🐛 fix: fixed some bugs in community pages (#10851)
  src/app/[variants]/(main)/community/(detail)/assistant/features/Details/Overview/TagList.tsx
  src/app/[variants]/(main)/community/(detail)/assistant/features/Details/SystemRole/TagList.tsx
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/community/(detail)/features/Block.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Details/Overview/ProviderList/index.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Sidebar/ActionButton/ChatWithModel.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Sidebar/RelatedProviders/index.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Details/Overview/ModelList/index.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Sidebar/ActionButton/ProviderConfig.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Sidebar/RelatedModels/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/DetailProvider.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/index.tsx
  src/app/[variants]/(main)/community/features/UserAvatar/index.tsx
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/types.ts
  src/server/services/discover/index.ts
Due: Server Layer

⚡️ perf(user): optimize getUserState with parallel queries
  packages/database/src/models/message.ts
  src/server/routers/lambda/user.ts
Due: Server Layer

⚡️ perf(config): fetch serverConfig and featureFlags in parallel
  src/server/routers/lambda/config/index.ts
Due: Server Layer

⚡️ perf(agent): optimize getBuiltinAgent with parallel fetch
  packages/database/src/models/user.ts
  src/server/services/agent/index.ts
Due: Server Layer

⚡️ perf(agentGroup): use getUserSettingsDefaultAgentConfig for lighter queries
  src/server/routers/lambda/agentGroup.ts
  src/server/services/chatGroup/index.ts
Due: Server Layer

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
