Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

Notes added by 'git notes add'
  f1/78777c8d93bb667ad6ed892586494821224993
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

🌐 chore: translate non-English comments to English in packages/utils and src/services (#10143)
  packages/utils/src/compass.ts
  packages/utils/src/fetch/headers.ts
  packages/utils/src/fetch/request.ts
  packages/utils/src/object.ts
  src/services/discover.ts
  src/utils/server/routeVariants.ts
Due: Services Layer, Utils Layer

🐛 fix: Add missing /discover prefix to all discover page links
  src/app/[variants]/(main)/discover/(detail)/assistant/[...slugs]/features/Sidebar/Related/index.tsx
  src/app/[variants]/(main)/discover/(detail)/mcp/[slug]/features/Sidebar/Related/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/[...slugs]/features/Details/Related/index.tsx
  src/app/[variants]/(main)/discover/(detail)/model/[...slugs]/features/Sidebar/Related/index.tsx
  src/app/[variants]/(main)/discover/(detail)/provider/[...slugs]/features/Sidebar/Related/index.tsx
  src/app/[variants]/(main)/discover/(list)/(home)/HomePage.tsx
  src/app/[variants]/(main)/discover/(list)/assistant/features/List/Item.tsx
  src/app/[variants]/(main)/discover/(list)/mcp/features/List/Item.tsx
  src/app/[variants]/(main)/discover/(list)/model/features/List/Item.tsx
  src/app/[variants]/(main)/discover/(list)/provider/features/List/Item.tsx
Due: none

feat: auto inject user memory
  package.json
  packages/const/src/settings/index.ts
  packages/const/src/settings/userMemory.ts
  packages/database/src/schemas/userMemories.ts
  packages/types/src/user/settings/index.ts
  packages/types/src/user/settings/userMemory.ts
  packages/types/src/userMemory/server.ts
  src/hooks/useFetchMessages.ts
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/chat/contextEngineering.test.ts
  src/services/chat/contextEngineering.ts
  src/services/chat/index.ts
  src/services/chat/providers/UserMemoryInjector.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/store/userMemory/index.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/selectors.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/tools/index.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
  src/utils/memory/searchParams.ts
Due: Store Layer, Services Layer, Server Layer, Utils Layer

feat(userMemories): implemented user memories, fetch, inject, models
  src/hooks/useFetchMessages.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/chat/index.ts
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
  src/store/chat/slices/message/selectors/chat.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/store/userMemory/utils/searchParams.ts
  src/tools/memory/systemRole.ts
Due: Store Layer, Services Layer, Server Layer

chore: re-configure preference top-k
  packages/const/src/userMemory.ts
  src/store/userMemory/utils/searchParams.ts
Due: Store Layer

add parse testing
  packages/conversation-flow/src/__tests__/parse.test.ts
Due: none

Revert edge runtime changes
  src/app/(backend)/webapi/chat/azureai/route.test.ts
  src/app/(backend)/webapi/chat/azureai/route.ts
  src/app/(backend)/webapi/stt/openai/route.ts
  src/app/(backend)/webapi/tts/edge/route.ts
  src/app/(backend)/webapi/tts/microsoft/route.ts
  src/app/(backend)/webapi/tts/openai/route.ts
Due: none

🔧 refactor: update fetch type assertion in ModelRuntime initialization
  src/server/modules/ModelRuntime/index.ts
Due: Server Layer

✅ test: fix ollama URL image conversion timeout by mocking imageUrlToBase64
  packages/model-runtime/src/providers/ollama/index.test.ts
Due: none

chore: add some debug logs
  packages/model-runtime/src/providers/azureai/index.ts
Due: none

🔧 refactor: enhance fetch functionality with SSRF options across multiple context builders
  .eslintrc.js
  packages/model-runtime/src/core/contextBuilders/google.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/providers/bfl/createImage.ts
  packages/ssrf-safe-fetch/browser.ts
  packages/ssrf-safe-fetch/index.ts
  packages/ssrf-safe-fetch/package.json
  packages/utils/src/imageToBase64.ts
Due: none

refactor: remove tts edge runtime setting
  packages/model-runtime/src/providers/azureai/index.ts
  src/app/(backend)/webapi/tts/edge/route.ts
  src/app/(backend)/webapi/tts/microsoft/route.ts
  src/app/(backend)/webapi/tts/openai/route.ts
Due: none

chore: try fix node:stream import
  packages/model-runtime/src/providers/azureai/index.ts
Due: none

♻️ refactor: unify fetch property naming across providers and extract ModelRuntimeOptions type
  packages/model-runtime/src/core/ModelRuntime.ts
  packages/model-runtime/src/core/contextBuilders/anthropic.test.ts
  packages/model-runtime/src/core/contextBuilders/anthropic.ts
  packages/model-runtime/src/core/contextBuilders/google.test.ts
  packages/model-runtime/src/core/contextBuilders/google.ts
  packages/model-runtime/src/core/contextBuilders/openai.test.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/createImage.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/createImage.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/anthropic/index.ts
  packages/model-runtime/src/providers/bfl/createImage.test.ts
  packages/model-runtime/src/providers/bfl/createImage.ts
  packages/model-runtime/src/providers/bfl/index.ts
  packages/model-runtime/src/providers/google/createImage.test.ts
  packages/model-runtime/src/providers/google/createImage.ts
  packages/model-runtime/src/providers/google/index.test.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/providers/ollama/index.ts
  packages/model-runtime/src/providers/siliconcloud/createImage.ts
  packages/model-runtime/src/utils/imageToBase64.test.ts
  packages/model-runtime/src/utils/imageToBase64.ts
  packages/utils/src/imageToBase64.ts
  src/server/modules/ModelRuntime/index.ts
Due: Server Layer

chore: remove temp logs
  packages/model-runtime/src/providers/azureai/index.ts
  packages/model-runtime/src/providers/ollama/index.ts
Due: none

Adjust SSRF fetch usage
  packages/model-runtime/src/core/contextBuilders/google.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/utils/src/imageToBase64.ts
Due: none

🐛 fix: support azure ai node runtime
  packages/model-runtime/src/providers/azureai/index.ts
  src/app/(backend)/webapi/chat/azureai/route.test.ts
  src/app/(backend)/webapi/chat/azureai/route.ts
Due: none

✅ test: fix mock assertions for updated image conversion function signatures
  packages/model-runtime/src/core/contextBuilders/anthropic.test.ts
  packages/model-runtime/src/core/contextBuilders/google.test.ts
  packages/model-runtime/src/core/contextBuilders/openai.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/createImage.test.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/providers/bfl/createImage.test.ts
  packages/model-runtime/src/providers/google/createImage.test.ts
Due: none

Respect custom fetch overrides
  packages/model-runtime/src/providers/vertexai/index.ts
  src/server/modules/ModelRuntime/index.ts
Due: Server Layer

🐛 fix: ollama image to base64 before send message #10002
  packages/model-runtime/src/providers/ollama/index.test.ts
  packages/model-runtime/src/providers/ollama/index.ts
Due: none

🐛 fix: imageUrlToBase64 ssrf
  packages/utils/package.json
  packages/utils/src/imageToBase64.ts
Due: none

refactor: remove edge runtime setting from OpenAI route
  src/app/(backend)/webapi/stt/openai/route.ts
Due: none

🐛 fix: provide browser entry for ssrf-safe-fetch
  packages/ssrf-safe-fetch/browser.ts
  packages/ssrf-safe-fetch/package.json
Due: none

fix claude thinking issue
  src/services/message/index.ts
  src/store/chat/agents/createAgentExecutors.ts
Due: Store Layer, Services Layer

🐛 fix: enable browser back/forward
  src/app/[variants]/(main)/discover/DiscoverRouter.tsx
Due: none

fix gpt thinking
  packages/model-runtime/src/core/contextBuilders/openai.test.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/types/chat.ts
Due: none

fix mobile router
  src/server/routers/mobile/index.ts
Due: Server Layer

Update src/services/message/index.ts
  src/services/message/index.ts
Due: Services Layer

fix tests
  packages/model-runtime/src/core/contextBuilders/openai.ts
Due: none

fix tests and portal
  packages/model-runtime/src/core/contextBuilders/openai.test.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  src/store/chat/slices/portal/selectors.ts
Due: Store Layer

fix tests
  src/store/chat/slices/portal/selectors.test.ts
Due: Store Layer

🐛 fix: fix reasoning issue with claude and Response API thinking (#10147)
  packages/conversation-flow/src/__tests__/parse.test.ts
  packages/model-runtime/src/core/contextBuilders/openai.test.ts
  packages/model-runtime/src/core/contextBuilders/openai.ts
  packages/model-runtime/src/types/chat.ts
  src/server/routers/mobile/index.ts
  src/services/message/index.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/portal/selectors.test.ts
  src/store/chat/slices/portal/selectors.ts
Due: Store Layer, Services Layer, Server Layer

:bookmark: chore(release): v2.0.0-next.44 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  03/7703c8f03be91f9c4ef1e05157f4e80bfda69b
Due: none

♻️ refactor(utils): stream responses before buffering
  packages/utils/src/server/response.ts
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
