Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: editor
  src/features/FileManager/components/NoteEditorModal.tsx
Due: none

lint: Regroup files
  src/features/FileManager/FileList/MasonryFileItem/DefaultFileItem.tsx
  src/features/FileManager/FileList/MasonryFileItem/ImageFileItem.tsx
  src/features/FileManager/FileList/MasonryFileItem/MarkdownFileItem.tsx
  src/features/FileManager/FileList/MasonryFileItem/NoteFileItem.tsx
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
Due: none

feat: New note view
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteSplitView.tsx
  src/store/file/slices/chat/action.ts
  src/store/file/slices/chat/initialState.ts
Due: Store Layer

fix: Image border
  src/features/FileManager/FileList/MasonryFileItem/ImageFileItem.tsx
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
Due: none

🐛 fix: Fix editor in modal
  src/features/FileManager/components/NoteEditorModal.tsx
Due: none

fix: Mansory stuck
  src/features/FileManager/FileList/index.tsx
Due: none

style: column
  src/features/FileManager/FileList/index.tsx
Due: none

feat: masonry view in chat
  src/features/ChatInput/ActionBar/Knowledge/index.tsx
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/Item/MasonryItem.tsx
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/Item/MasonryItemWrapper.tsx
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/List.tsx
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/MasonrySkeleton.tsx
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/ViewSwitcher.tsx
  src/features/KnowledgeBaseModal/AssignKnowledgeBase/index.tsx
  src/store/global/initialState.ts
Due: Store Layer

feat: editor
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/features/FileManager/FileList/MasonryFileItem/NoteFileItem.tsx
  src/features/FileManager/FileList/MasonryFileItem/index.tsx
  src/features/FileManager/FileList/index.tsx
  src/features/FileManager/components/NoteEditorModal.tsx
  src/server/routers/lambda/document.ts
  src/server/routers/lambda/file.ts
  src/server/services/document/index.ts
Due: Server Layer

style: New sidebar
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/FileMenu.tsx
  src/locales/default/file.ts
Due: none

fix: New note draft
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteSplitView.tsx
  src/store/file/slices/chat/action.ts
Due: Store Layer

style: Collection style
  src/app/[variants]/(main)/knowledge/components/KnowledgeBaseList/index.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/index.tsx
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/KnowledgeBase.tsx
Due: none

fix: Cannot query other data
  packages/database/src/models/file.ts
  packages/database/src/repositories/knowledge/index.ts
Due: none

style: New header style
  src/features/FileManager/components/NoteSplitView.tsx
  src/locales/default/file.ts
Due: none

fix: Preview not updating
  src/features/FileManager/components/NoteSplitView.tsx
Due: none

feat: Empty placeholder
  src/features/FileManager/components/NoteEmptyStatus.tsx
  src/features/FileManager/components/NoteSplitView.tsx
Due: none

style: Add skeleton
  locales/en-US/file.json
  locales/zh-CN/file.json
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/FileMenu.tsx
  src/features/FileManager/components/NoteActions.tsx
  src/features/FileManager/components/NoteListSkeleton.tsx
  src/features/FileManager/components/NoteSplitView.tsx
  src/locales/default/file.ts
Due: none

style: Remove icon
  src/app/[variants]/(main)/knowledge/routes/KnowledgeHome/menu/FileMenu.tsx
Due: none

fix: New note draft
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteSplitView.tsx
Due: none

fix: Lint error
  src/features/FileManager/components/NoteSplitView.tsx
Due: none

style: button style
  src/features/FileManager/Header/AddButton.tsx
  src/features/FileManager/Header/index.tsx
  src/features/FileManager/components/NoteActions.tsx
  src/features/FileManager/components/NoteSplitView.tsx
Due: none

fix: Cannot delete note
  packages/database/src/repositories/knowledge/index.ts
  src/features/FileManager/components/NoteActions.tsx
  src/locales/default/file.ts
  src/store/file/slices/chat/action.ts
Due: Store Layer

style: Adjust padding
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteEmptyStatus.tsx
Due: none

fix: Icon not saved
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/store/file/slices/chat/action.ts
Due: Store Layer

fix: Tab active status
  src/features/FileManager/components/NoteSplitView.tsx
  src/store/global/initialState.ts
Due: Store Layer

feat: Emoji picker
  locales/zh-CN/file.json
  packages/database/src/repositories/knowledge/index.ts
  packages/types/src/files/list.ts
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteSplitView.tsx
  src/locales/default/file.ts
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
Due: Services Layer, Server Layer

style: Fix input color
  src/features/FileManager/components/NoteActions.tsx
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/locales/default/file.ts
Due: none

style: image placeholder
  src/components/FileIcon/index.tsx
  src/features/FileManager/FileList/MasonryFileItem/ImageFileItem.tsx
  src/features/FileManager/components/NoteSplitView.tsx
Due: none

style: Move icon to leading position
  src/features/FileManager/components/NoteEditorPanel.tsx
Due: none

feat: Upload markdown
  src/features/FileManager/FileList/MasonryFileItem/NoteFileItem.tsx
  src/features/FileManager/components/NoteEditorPanel.tsx
  src/features/FileManager/components/NoteEmptyStatus.tsx
  src/features/FileManager/components/NoteSplitView.tsx
  src/store/file/slices/chat/action.ts
Due: Store Layer

chore: remove and adjust unnecessary code
  .gitignore
  scripts/vercelIgnoredBuildStep.js
  src/locales/default/chat.ts
Due: none

chore: remove .env.mobile
  .env.mobile
Due: none

chore: update license
  apps/mobile/FONT_FIX_GUIDE.md
  apps/mobile/I18N_REFACTOR.md
  apps/mobile/LICENSE
  apps/mobile/README.md
Due: none

chore: assemble md files to docs
  apps/mobile/docs/FONT_FIX_GUIDE.md
  apps/mobile/docs/I18N_REFACTOR.md
Due: none

chore: remove ai generated docs
  apps/mobile/docs/AUTH_CONFIG.md
  apps/mobile/docs/AUTH_SYSTEM.md
  apps/mobile/docs/THEME_SYSTEM_SUMMARY.md
  apps/mobile/docs/model-switch-refactor-design.md
Due: none

chore: update readme
  apps/mobile/README.md
  apps/mobile/README.zh-CN.md
Due: none

chore: update readme
  apps/mobile/README.md
Due: none

fix: fix style
  apps/mobile/locales/en-US/chat.json
  apps/mobile/src/components/Dropdown/Dropdown.tsx
Due: none

fix: fix style
  apps/mobile/src/components/Dropdown/Dropdown.tsx
Due: none
