Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

support inject page context in the agent runtime
  packages/agent-runtime/src/types/instruction.ts
  packages/builtin-tool-page-agent/src/ExecutionRuntime/index.ts
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  packages/context-engine/src/engine/messages/types.ts
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  packages/context-engine/src/providers/__tests__/PageEditorContextInjector.test.ts
  packages/context-engine/src/providers/index.ts
  packages/types/src/stepContext.ts
  src/server/modules/Mecha/ContextEngineering/__tests__/serverMessagesEngine.test.ts
  src/server/modules/Mecha/ContextEngineering/index.ts
  src/server/modules/Mecha/ContextEngineering/types.ts
  src/services/chat/index.ts
  src/services/chat/mecha/contextEngineering.ts
  src/services/chat/types.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer, Services Layer, Server Layer

🐛 fix(ci): always continue build to upload bundle analyzer report
  .github/workflows/bundle-analyzer.yml
Due: none

🐛 fix(ci): always continue build to upload bundle analyzer report (#10946)
  .github/workflows/bundle-analyzer.yml
Due: none

fix initial context injection
  packages/context-engine/src/providers/__tests__/PageEditorContextInjector.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.178 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  82/5e6ebd3909c20b73f48058e18bbae921ee65ab
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix: slove the mutate not work problem
  src/libs/swr/mutate.ts
Due: Libraries Layer

🐛 fix: slove the mutate not work problem (#10947)
  src/libs/swr/mutate.ts
Due: Libraries Layer

feat: Import from notion
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/locales/default/file.ts
Due: none

feat: Import from notion (#10948)
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/locales/default/file.ts
Due: none

🔧 chore(deps): upgrade Next.js from 16.1.0 to 16.1.1
  package.json
Due: none

fix: mixed message error
  src/store/chat/slices/aiChat/actions/generateAIChatV2.ts
Due: Store Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/mobile/lobechat_com_discover.html
Due: none

lint: Create consts for URLs
  packages/business/const/src/branding.ts
  src/app/[variants]/(main)/resource/library/_layout/Header/LibraryHead.tsx
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
Due: none

fix: Editor
  package.json
  src/app/[variants]/(main)/resource/(home)/_layout/Body/KnowledgeBase.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/LibraryList/EmptyStatus.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/LibraryList/List/Item/Actions.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/LibraryList/List/Item/Editing.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/LibraryList/List/Item/index.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/LibraryList/List/Item/useDropdownMenu.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/LibraryList/List/index.tsx
  src/app/[variants]/(main)/resource/(home)/_layout/Body/LibraryList/index.tsx
Due: none

🐛 fix(scripts): fix syntax error in prebuild.mts
  scripts/prebuild.mts
Due: none

support diff all toolbar
  locales/zh-CN/editor.json
  locales/zh-CN/plugin.json
  packages/builtin-tool-page-agent/src/systemRole.ts
  src/features/PageEditor/DiffAllToolbar.tsx
  src/features/PageEditor/PageEditor.tsx
  src/locales/default/editor.ts
  src/locales/default/plugin.ts
Due: none

fix: Type error
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/locales/default/file.ts
Due: none

🐛 fix: fix desktop test cases and refactor translations
  CLAUDE.md
  GEMINI.md
  apps/desktop/src/main/core/infrastructure/__tests__/I18nManager.test.ts
  apps/desktop/src/main/menus/impls/macOS.test.ts
Due: none

🐛 fix: add missing buildAndSetAppMenu calls in tests
  apps/desktop/src/main/menus/impls/macOS.test.ts
Due: none

🐛 fix: Fix desktop test cases and refactor translations (#10955)
  CLAUDE.md
  GEMINI.md
  apps/desktop/src/main/core/infrastructure/__tests__/I18nManager.test.ts
  apps/desktop/src/main/menus/impls/macOS.test.ts
Due: none

chore: update deps
  package.json
  packages/agent-runtime/package.json
  packages/builtin-agents/package.json
  packages/builtin-tool-agent-builder/package.json
  packages/builtin-tool-group-agent-builder/package.json
  packages/builtin-tool-group-management/package.json
  packages/builtin-tool-gtd/package.json
  packages/builtin-tool-knowledge-base/package.json
  packages/builtin-tool-local-system/package.json
  packages/builtin-tool-memory/package.json
  packages/builtin-tool-notebook/package.json
  packages/builtin-tool-page-agent/package.json
  packages/business/config/package.json
  packages/config/package.json
  packages/const/package.json
  packages/context-engine/package.json
  packages/conversation-flow/package.json
  packages/database/package.json
  packages/electron-client-ipc/package.json
  packages/fetch-sse/package.json
  packages/model-runtime/package.json
  packages/prompts/package.json
  packages/types/package.json
  packages/utils/package.json
  src/components/Error/Description.tsx
  src/components/InfoTooltip/index.tsx
  src/components/Loading/UpdateLoading/index.tsx
  src/features/ChatInput/store/initialState.ts
  src/features/Conversation/ChatInput/index.tsx
  src/layout/GlobalProvider/AppTheme.tsx
Due: none

🔨 chore: update compoents version (#10957)
  package.json
  packages/agent-runtime/package.json
  packages/builtin-agents/package.json
  packages/builtin-tool-agent-builder/package.json
  packages/builtin-tool-group-agent-builder/package.json
  packages/builtin-tool-group-management/package.json
  packages/builtin-tool-gtd/package.json
  packages/builtin-tool-knowledge-base/package.json
  packages/builtin-tool-local-system/package.json
  packages/builtin-tool-memory/package.json
  packages/builtin-tool-notebook/package.json
  packages/builtin-tool-page-agent/package.json
  packages/business/config/package.json
  packages/config/package.json
  packages/const/package.json
  packages/context-engine/package.json
  packages/conversation-flow/package.json
  packages/database/package.json
  packages/electron-client-ipc/package.json
  packages/fetch-sse/package.json
  packages/model-runtime/package.json
  packages/prompts/package.json
  packages/types/package.json
  packages/utils/package.json
  src/components/Error/Description.tsx
  src/components/InfoTooltip/index.tsx
  src/components/Loading/UpdateLoading/index.tsx
  src/features/ChatInput/store/initialState.ts
  src/features/Conversation/ChatInput/index.tsx
  src/layout/GlobalProvider/AppTheme.tsx
Due: none

fix(memory-user-memory): incorrect format exported from LoCoMo
  packages/memory-user-memory/benchmarks/locomo/run.ts
  packages/memory-user-memory/src/converters/locomo.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

refactor(userMemories): make CEPx4 + Ix1 parallel
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topic-layers/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-users/route.ts
Due: none

feat(userMemories): added /api/dev/memory-user-memory/benchmark-locomo with feature flag gate, and webhook auth
  src/app/(backend)/api/dev/memory-user-memory/benchmark-locomo/route.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
Due: Server Layer

🐛 fix(scripts): fix syntax error in prebuild.mts (#10952)
  scripts/prebuild.mts
Due: none

refactor: aggregate business middleware
  src/business/trpc/middlewares/async.ts
  src/business/trpc/middlewares/lambda.ts
  src/server/routers/async/file.ts
  src/server/routers/lambda/file.ts
Due: Server Layer

refactor: add lobehub routerRuntime to opensource code
  packages/business/model-runtime/package.json
  packages/business/model-runtime/src/index.ts
  packages/business/model-runtime/src/router-runtime-options.ts
  packages/model-runtime/package.json
  packages/model-runtime/src/index.ts
  packages/model-runtime/src/providers/lobehub/index.ts
  packages/model-runtime/src/runtimeMap.ts
Due: none

refactor: expose more backend business api
  src/business/server/image-generation/chargeAfterGenerate.ts
  src/business/server/image-generation/chargeBeforeGenerate.ts
  src/business/server/trpc-middlewares/async.ts
  src/business/server/trpc-middlewares/lambda.ts
  src/business/server/user.ts
  src/libs/better-auth/define-config.ts
  src/server/routers/async/file.ts
  src/server/routers/async/image.ts
  src/server/routers/lambda/chunk.ts
  src/server/routers/lambda/file.ts
  src/server/routers/lambda/image.ts
  src/server/routers/lambda/user.ts
  src/server/services/user/index.ts
Due: Server Layer, Libraries Layer

:bookmark: chore(release): v2.0.0-next.179 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  35/0c36a762423f68624838f1f6eee047c1915877
Due: none

✨ feat: Add i18n UI locales and improve tool types
  packages/database/src/schemas/user.ts
  packages/memory-user-memory/src/schemas/jsonSchemas.ts
  packages/types/src/discover/plugins.ts
  packages/types/src/message/common/tools.ts
  packages/types/src/tool/index.ts
  packages/types/src/tool/plugin.ts
  src/app/(backend)/webapi/plugin/gateway/route.ts
  src/helpers/toolEngineering/index.ts
  src/layout/GlobalProvider/AppTheme.tsx
  src/libs/getUILocaleAndResources.test.ts
  src/libs/getUILocaleAndResources.ts
  src/libs/redis/upstash.ts
  src/locales/ui/ar.ts
  src/locales/ui/bg-BG.ts
  src/locales/ui/de-DE.ts
  src/locales/ui/es-ES.ts
  src/locales/ui/fa-IR.ts
  src/locales/ui/fr-FR.ts
  src/locales/ui/it-IT.ts
  src/locales/ui/ja-JP.ts
  src/locales/ui/ko-KR.ts
  src/locales/ui/nl-NL.ts
  src/locales/ui/pl-PL.ts
  src/locales/ui/pt-BR.ts
  src/locales/ui/ru-RU.ts
  src/locales/ui/tr-TR.ts
  src/locales/ui/vi-VN.ts
  src/locales/ui/zh-TW.ts
  src/server/routers/lambda/klavis.ts
  src/server/services/mcp/index.ts
  src/server/services/pluginGateway/index.ts
  src/store/tool/helpers.ts
  src/store/tool/selectors/tool.ts
Due: Store Layer, Server Layer, Libraries Layer

refactor and clean
  src/features/PageEditor/PageEditor.tsx
  src/features/PageEditor/index.ts
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer
