Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

lint: Add doc for the agent
  packages/builtin-agents/src/agents/page-agent/README.md
Due: none

feat: Import Notion
  locales/en-US/file.json
  locales/zh-CN/file.json
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  src/features/PageEditor/StoreUpdater.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/locales/default/file.ts
  src/tools/document/ExecutionRuntime/index.test.ts
  src/tools/document/ExecutionRuntime/index.ts
Due: none

🔨 chore: update the market oidc oauth (#10688)
  src/layout/AuthProvider/MarketAuth/MarketAuthProvider.tsx
  src/layout/AuthProvider/MarketAuth/oidc.ts
Due: none

style: update default avatar
  packages/const/src/meta.ts
  public/images/default_avatar.webp
Due: none

refactor context engine
  locales/zh-CN/home.json
  packages/context-engine/src/engine/index.ts
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  packages/context-engine/src/engine/messages/__tests__/MessagesEngine.test.ts
  packages/context-engine/src/engine/messages/index.ts
  packages/context-engine/src/engine/messages/types.ts
  packages/context-engine/src/engine/tools/ToolNameResolver.ts
  packages/context-engine/src/engine/tools/ToolsEngine.ts
  packages/context-engine/src/engine/tools/__tests__/ToolNameResolver.test.ts
  packages/context-engine/src/engine/tools/__tests__/ToolsEngine.test.ts
  packages/context-engine/src/engine/tools/__tests__/utils.test.ts
  packages/context-engine/src/engine/tools/index.ts
  packages/context-engine/src/engine/tools/types.ts
  packages/context-engine/src/engine/tools/utils.ts
  packages/context-engine/src/index.ts
  packages/context-engine/src/providers/UserMemoryInjector.ts
  src/locales/default/home.ts
  src/server/services/agentRuntime/types.ts
Due: Server Layer

feat: Delete node
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/tools/document/systemRole.ts
Due: Store Layer

feat: Update node
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  src/features/PageEditor/store/action.ts
  src/store/chat/slices/builtinTool/actions/pageAgent.ts
  src/tools/document/ExecutionRuntime/index.test.ts
  src/tools/document/ExecutionRuntime/index.ts
Due: Store Layer

fix tools resolver
  CLAUDE.md
  src/services/chat/index.ts
  src/services/chat/mecha/agentConfigResolver.test.ts
  src/services/chat/mecha/agentConfigResolver.ts
Due: Services Layer

feat(memory-user-memory): capture extract steps data to otel & s3 (#10677)
  package.json
  packages/memory-user-memory/src/extractors/base.ts
  packages/memory-user-memory/src/extractors/identity.test.ts
  packages/memory-user-memory/src/extractors/identity.ts
  packages/memory-user-memory/src/index.ts
  packages/memory-user-memory/src/prompts/layers/identity.md
  packages/memory-user-memory/src/schemas/identity.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  packages/obervability-otel/package.json
  packages/obervability-otel/src/api.ts
  packages/obervability-otel/src/gen-ai/index.ts
  packages/obervability-otel/src/gen-ai/semconv.ts
  packages/obervability-otel/src/modules/memory-user-memory/extract.ts
  src/server/globalConfig/parseMemoryExtractionConfig.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

support runAgentById
  src/server/modules/Mecha/ContextEngineering/__tests__/serverMessagesEngine.test.ts
  src/server/modules/Mecha/ContextEngineering/index.ts
  src/server/modules/Mecha/ContextEngineering/types.ts
  src/server/modules/Mecha/index.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
  src/server/services/agentRuntime/AgentRuntimeService.ts
  src/server/services/agentRuntime/types.ts
Due: Server Layer

fix tests
  packages/utils/src/server/sse.ts
  src/app/(backend)/api/workflows/agent/stream/__tests__/route.test.ts
  src/services/agentRuntime/__tests__/client.test.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/store/chat/slices/topic/action.test.ts
  src/store/knowledgeBase/slices/crud/action.test.ts
  src/store/session/slices/homeInput/action.test.ts
  src/store/user/slices/auth/selectors.test.ts
Due: Store Layer, Services Layer

feat: Notion guide video
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/Setting/Footer.tsx
  src/locales/default/file.ts
Due: none

fix tests
  src/store/agent/slices/agent/action.test.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/file/slices/fileManager/action.test.ts
Due: Store Layer

🔨 chore: update agent builder metion in ediotor canvas (#10691)
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/PublishButton.tsx
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/useMarketPublish.ts
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/MentionDropdown.tsx
  src/app/[variants]/(main)/chat/profile/features/ProfileEditor/MentionList/useMentionItems.tsx
  src/app/[variants]/(main)/group/profile/features/Header/AgentPublishButton/useMarketPublish.ts
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/MentionList/MentionDropdown.tsx
  src/app/[variants]/(main)/group/profile/features/ProfileEditor/MentionList/useMentionItems.tsx
  src/features/ChatInput/ActionBar/Tools/useControls.tsx
  src/features/ModelSelect/index.tsx
Due: none

fix tests
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
Due: Server Layer

chore: clean chat item
  src/app/[variants]/(main)/chat/_layout/Sidebar/Topic/AllTopicsDrawer/Content.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/Topic/AllTopicsDrawer/Content.tsx
  src/app/[variants]/(main)/home/_layout/Body/Agent/AllAgentsDrawer/Content.tsx
  src/app/[variants]/(main)/page/_layout/Body/AllPagesDrawer/Content.tsx
  src/components/ChatItem/index.ts
  src/features/ChatItem/ChatItem.tsx
  src/features/ChatItem/MessageContent.tsx
  src/features/ChatItem/components/Actions.tsx
  src/features/ChatItem/components/Avatar.tsx
  src/features/ChatItem/components/BorderSpacing.tsx
  src/features/ChatItem/components/ErrorContent.tsx
  src/features/ChatItem/components/Loading.tsx
  src/features/ChatItem/components/MessageContent.tsx
  src/features/ChatItem/components/Title.tsx
  src/features/ChatItem/index.ts
  src/features/ChatItem/style.ts
  src/features/ChatItem/type.ts
  src/features/ChatList/Messages/Assistant/index.tsx
  src/features/ChatList/Messages/Group/index.tsx
  src/features/ChatList/Messages/User/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/features/Conversation/components/ChatItem/index.ts
  src/features/ResourceManager/components/Explorer/ListView/index.tsx
Due: none

feat: Extract title from markdown
  src/features/ResourceManager/components/Header/AddButton.tsx
Due: none

fix enable server agent
  src/app/(backend)/api/workflows/agent/isEnableAgent.ts
Due: none

feat: Batch delete documents
  src/features/ResourceManager/components/Explorer/ItemDropdown/useFileItemDropdown.tsx
  src/features/ResourceManager/components/Explorer/useFileExplorer.ts
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/server/routers/lambda/document.ts
  src/server/services/document/index.ts
  src/services/document/index.ts
Due: Services Layer, Server Layer

fix tests
  src/features/User/__tests__/useMenu.test.tsx
  src/helpers/getSearchConfig.test.ts
  src/server/services/agentRuntime/AgentRuntimeService.test.ts
  src/server/services/user/index.test.ts
  src/services/__tests__/models.test.ts
  src/store/home/slices/sidebarUI/action.test.ts
Due: Store Layer, Services Layer, Server Layer

feat: Add a close button
  src/features/PageEditor/Copilot/Conversation.tsx
  src/features/PageEditor/Copilot/Toolbar.tsx
Due: none

feat: Sync folder expand
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

chore: clean chat list
  packages/const/src/hotkeys.ts
  src/features/Conversation/ChatItem/components/MessageContent.tsx
Due: none

lint: Remove unused files
  src/features/PageEditor/hooks/usePageEditor.ts
  src/features/PageEditor/index.ts
  src/features/ResourceManager/components/Header/AddButton.tsx
  src/features/ResourceManager/components/Header/hooks/useNotionImport.ts
  src/locales/default/file.ts
Due: none

chore: clean chat list
  packages/const/src/settings/agent.ts
  packages/database/src/repositories/dataImporter/__tests__/fixtures/agentsToSessions.json
  packages/database/src/repositories/dataImporter/__tests__/fixtures/with-client-id.json
  packages/database/src/repositories/dataImporter/deprecated/__tests__/fixtures/messages.json
  packages/database/src/repositories/dataImporter/deprecated/__tests__/index.test.ts
  packages/types/src/agent/chatConfig.ts
  src/app/[variants]/(main)/chat/profile/features/Header/AgentPublishButton/useMarketPublish.ts
  src/app/[variants]/(main)/group/profile/features/Header/AgentPublishButton/useMarketPublish.ts
  src/app/[variants]/(mobile)/chat/settings/features/AgentInfoDescription/index.tsx
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/Actions.tsx
  src/features/Conversation/ChatItem/components/Avatar.tsx
  src/features/Conversation/ChatItem/components/BorderSpacing.tsx
  src/features/Conversation/ChatItem/components/ErrorContent.tsx
  src/features/Conversation/ChatItem/components/Loading.tsx
  src/features/Conversation/ChatItem/components/MessageContent.tsx
  src/features/Conversation/ChatItem/components/Title.tsx
  src/features/Conversation/ChatItem/index.ts
  src/features/Conversation/ChatItem/style.ts
  src/features/Conversation/ChatItem/type.ts
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/features/Conversation/Messages/User/MarkdownRender/ContentPreview.tsx
  src/features/Conversation/Messages/User/MarkdownRender/index.tsx
  src/features/Conversation/Messages/User/index.tsx
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/features/Conversation/types/ui.ts
  src/locales/default/setting.ts
  src/store/agent/selectors/chatConfigSelectors.test.ts
  src/store/agent/selectors/chatConfigSelectors.ts
  src/store/session/slices/session/action.test.ts
  src/tools/agent-builder/index.ts
  src/tools/agent-builder/systemRole.ts
  重构 Conversation.md
Due: Store Layer

chore: clean chat list
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/MessageContent.tsx
  src/features/Conversation/ChatItem/style.ts
  src/features/Conversation/ChatItem/type.ts
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/features/Conversation/Messages/User/index.tsx
Due: none

refactor to skip turbopack warning
  packages/file-loaders/src/utils/parser-utils.ts
  src/auth.ts
  src/hooks/useHotkeys/chatScope.ts
  src/libs/oidc-provider/jwt.ts
  src/server/services/pluginGateway/index.ts
  src/server/services/queue/impls/qstash.ts
  src/server/services/search/index.ts
Due: Server Layer, Libraries Layer

style: Warp title if too long
  src/features/PageEditor/Body/Title.tsx
Due: none

lint: Clean up codes
  src/app/[variants]/(main)/home/features/UploadEntries.tsx
  src/features/PageEditor/PageEditorProvider.tsx
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/ResourceManager/components/Header/AddButton.tsx
Due: none

clean chat input
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/ClassicChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/GroupChat.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/MessageFromUrl.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/Desktop/useSendMenuItems.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/index.tsx
  src/app/[variants]/(main)/chat/features/Conversation/ChatInput/useSend.ts
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/app/[variants]/(main)/chat/features/Conversation/MainChatInput/useSendMenuItems.tsx
  src/features/Portal/GroupThread/Body/index.tsx
Due: none

style: update message edit
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/Actions.tsx
  src/features/Conversation/ChatItem/components/MessageContent.tsx
  src/features/Conversation/ChatItem/components/MessageContent/EditableModal.tsx
  src/features/Conversation/ChatItem/components/MessageContent/Typobar.tsx
  src/features/Conversation/ChatItem/components/MessageContent/index.tsx
  src/features/Conversation/ChatItem/style.ts
  src/features/Conversation/Messages/Default.tsx
  src/features/Conversation/hooks/useChatItemContextMenu.tsx
Due: none

fix: Cannot open page in resource manager
  src/features/PageExplorer/PageExplorerPlaceholder.tsx
  src/features/PageExplorer/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

✨ feat(database): added `queryTags` for user memory (#10694)
  packages/database/src/models/__tests__/userMemories.test.ts
  packages/database/src/models/userMemory/model.ts
  packages/memory-user-memory/src/services/extractExecutor.ts
  packages/memory-user-memory/src/types.ts
  packages/types/src/userMemory/shared.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemory.ts
  src/server/services/memory/userMemory/extract.ts
  src/services/userMemory.ts
Due: Services Layer, Server Layer

fix parentId
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/__tests__/RuntimeExecutors.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
Due: Server Layer

support server agent runtime with integration testing
  .cursor/rules/testing-guide/agent-runtime-e2e.mdc
  next.config.ts
  package.json
  src/app/(backend)/api/workflows/agent/run/route.ts
  src/server/modules/AgentRuntime/AgentRuntimeCoordinator.ts
  src/server/modules/AgentRuntime/GeneralAgent.ts
  src/server/modules/AgentRuntime/InMemoryAgentStateManager.ts
  src/server/modules/AgentRuntime/InMemoryStreamEventManager.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/index.ts
  src/server/modules/AgentRuntime/types.ts
  src/server/routers/lambda/__tests__/aiAgent.test.ts
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/__tests__/integration/helpers/openaiMock.ts
  src/server/routers/lambda/aiAgent.ts
  src/server/services/agentRuntime/__tests__/executeSync.test.ts
Due: Server Layer

fix aiAgent runByAgentId
  src/server/routers/lambda/__tests__/integration/aiAgent.integration.test.ts
  src/server/routers/lambda/aiAgent.ts
Due: Server Layer
