Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

style: Add missing border
  src/features/ResourceManager/components/Editor/index.tsx
  src/features/ResourceManager/index.tsx
Due: none

lint: Remove unused code
  src/components/DMTag/export.ts
  src/components/DMTag/index.tsx
  src/features/ResourceManager/components/Header/FilesSearchBar.tsx
  src/features/ResourceManager/components/Header/TogglePanelButton.tsx
  src/features/ResourceManager/components/Header/UploadFileButton.tsx
  src/features/ResourceManager/components/Header/index.tsx
Due: none

添加 builtin group agent
  packages/builtin-agents/src/agents/group-supervisor/index.ts
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/builtin-agents/src/agents/group-supervisor/type.ts
  packages/builtin-agents/src/index.ts
  packages/builtin-agents/src/types.ts
  packages/builtin-tool-group-management/package.json
  packages/builtin-tool-group-management/src/index.ts
  packages/builtin-tool-group-management/src/manifest.ts
  packages/builtin-tool-group-management/src/systemRole.ts
  packages/builtin-tool-group-management/src/types.ts
  packages/database/src/repositories/agentGroup/index.test.ts
  packages/database/src/repositories/agentGroup/index.ts
  packages/utils/src/client/parserPlaceholder.ts
  src/server/modules/Mecha/ContextEngineering/index.ts
Due: Server Layer

lint: Remove unused files
  src/features/ChatInput/Desktop/index.tsx
Due: none

style: Add todos
  src/features/ChatInput/Desktop/index.tsx
Due: none

fix loading
  src/app/(backend)/api/agent/stream/__tests__/route.test.ts
  src/app/(backend)/api/agent/stream/route.ts
  src/server/modules/AgentRuntime/AgentRuntimeCoordinator.ts
  src/server/modules/AgentRuntime/__tests__/AgentRuntimeCoordinator.test.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/runAgent.ts
Due: Store Layer, Server Layer

update provider
  packages/builtin-agents/src/agents/page-agent/index.ts
  packages/builtin-agents/src/types.ts
  packages/context-engine/src/base/BaseLastUserContentProvider.ts
  packages/context-engine/src/base/__tests__/BaseLastUserContentProvider.test.ts
  packages/context-engine/src/index.ts
  packages/context-engine/src/providers/PageEditorContextInjector.ts
  packages/context-engine/src/providers/__tests__/PageEditorContextInjector.test.ts
  src/services/chat/mecha/agentConfigResolver.test.ts
  src/services/chat/mecha/agentConfigResolver.ts
Due: Services Layer

feat: New context item style
  src/features/ChatInput/Desktop/ContextContainer/ContextList.tsx
  src/features/ChatInput/Desktop/ContextContainer/FileItem/Content.tsx
  src/features/ChatInput/Desktop/ContextContainer/FileItem/index.tsx
  src/features/ChatInput/Desktop/ContextContainer/FileItem/utils.ts
  src/features/ChatInput/Desktop/ContextContainer/index.tsx
  src/features/ChatInput/Desktop/index.tsx
Due: none

add timing
  src/server/modules/AgentRuntime/redis.ts
Due: Server Layer

update content
  src/app/(backend)/api/agent/stream/route.ts
  src/server/modules/AgentRuntime/RuntimeExecutors.ts
  src/server/modules/AgentRuntime/StreamEventManager.ts
  src/tools/page-agent/systemRole.ts
Due: Server Layer

完成 GroupOrchestrationSupervisor 定义
  package.json
  packages/agent-runtime/src/core/GroupOrchestrationRuntime.ts
  packages/agent-runtime/src/core/__tests__/GroupOrchestrationRuntime.test.ts
  packages/agent-runtime/src/core/index.ts
  packages/agent-runtime/src/types/groupOrchestration.ts
  packages/agent-runtime/src/types/index.ts
  packages/builtin-tool-group-management/src/types.ts
  src/app/[variants]/(main)/group/features/Conversation/ConversationArea.tsx
  src/store/chat/agents/GroupOrchestration/GroupOrchestrationSupervisor.ts
  src/store/chat/agents/GroupOrchestration/__tests__/GroupOrchestrationSupervisor.test.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/agents/GroupOrchestration/index.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/aiAgent/actions/index.ts
  src/store/chat/slices/plugin/actions/index.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/tool/slices/builtin/action.ts
  src/store/tool/slices/builtin/executors/index.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer

fix group message query
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/message.ts
  packages/types/src/conversation.ts
  src/features/Conversation/components/ShareMessageModal/ShareImage/Preview.tsx
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
Due: Server Layer

clean
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMemberItem.tsx
  src/app/[variants]/(main)/group/features/Conversation/ChatItem/OrchestratorThinking.tsx
  src/components/TodoList.tsx
  src/features/Conversation/Messages/Supervisor/index.tsx
  src/features/Conversation/Messages/index.tsx
  src/store/chat/slices/message/actions/runtimeState.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
Due: Store Layer

fix regenerate and delete
  packages/types/src/aiChat.ts
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/locales/default/plugin.ts
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiAgent/actions/agentGroup.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/tool/slices/builtin/executors/BaseExecutor.ts
  src/store/tool/slices/builtin/executors/__tests__/BaseExecutor.test.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-web-browsing.test.ts
  src/store/tool/slices/builtin/executors/index.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/executors/lobe-web-browsing.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer, Server Layer

clean actions
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/Conversation/Error/ClerkLogin/index.tsx
  src/features/Conversation/Error/OAuthForm.tsx
  src/features/Conversation/Error/OllamaBizError/InvalidOllamaModel.tsx
  src/features/Conversation/Error/OllamaBizError/index.tsx
  src/features/Conversation/Error/OllamaSetupGuide/Desktop.tsx
  src/features/Conversation/Error/OllamaSetupGuide/index.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Inspector/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/PluginSettings.tsx
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/hooks/useHotkeys/chatScope.ts
  src/store/agentGroup/selectors/byId.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationControl.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/conversationControl.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/plugin/actions/publicApi.ts
  src/store/chat/slices/plugin/actions/workflow.ts
  src/store/chat/slices/thread/action.test.ts
  src/store/chat/slices/thread/action.ts
Due: Store Layer

improve
  src/hooks/useFetchTopics.ts
  src/services/chat/mecha/contextEngineering.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/message/actions/runtimeState.ts
Due: Store Layer, Services Layer

完成 Supervisor 注入链路
  packages/builtin-agents/src/agents/group-supervisor/systemRole.ts
  packages/builtin-tool-group-management/src/manifest.ts
  src/app/[variants]/(main)/group/features/Conversation/useActionsBarConfig.ts
  src/services/chat/mecha/agentConfigResolver.ts
  src/store/agentGroup/action.ts
  src/store/agentGroup/selectors/byId.test.ts
  src/store/agentGroup/selectors/byId.ts
  src/store/agentGroup/selectors/index.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/tools/identifiers.ts
  src/tools/index.ts
Due: Store Layer, Services Layer

fix avatar id
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/index.tsx
  src/features/Conversation/hooks/useAgentMeta.test.ts
  src/features/Conversation/hooks/useAgentMeta.ts
Due: none

feat(mobile): add topic router for mobile compatibility (#10776)
  src/server/routers/mobile/index.ts
  src/server/routers/mobile/topic.ts
Due: Server Layer

初步跑通群聊 pipeline
  packages/database/src/repositories/agentGroup/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/types.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer

fix total workflow in group mode
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMemberItem.tsx
  src/features/Conversation/store/slices/data/action.test.ts
  src/features/Conversation/store/slices/data/action.ts
  src/hooks/useFetchTopics.test.ts
  src/hooks/useFetchTopics.ts
  src/server/services/aiChat/index.ts
  src/services/message/index.ts
  src/store/chat/agents/GroupOrchestration/__tests__/createGroupOrchestrationExecutors.test.ts
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-llm.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/testExecutor.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiAgent/actions/groupOrchestration.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/utils/messageMapKey.test.ts
  src/store/chat/utils/messageMapKey.ts
Due: Store Layer, Services Layer, Server Layer

style: update error style
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/index.tsx
  src/components/OllamaSetupGuide/index.tsx
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/ErrorContent.tsx
  src/features/Conversation/ChatItem/style.ts
  src/features/Conversation/Error/BaseErrorForm.tsx
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/Conversation/Error/ClerkLogin/index.tsx
  src/features/Conversation/Error/ErrorJsonViewer.tsx
  src/features/Conversation/Error/OAuthForm.tsx
  src/features/Conversation/Error/OllamaBizError/index.tsx
  src/features/Conversation/Error/OllamaSetupGuide/Desktop.tsx
  src/features/Conversation/Error/OllamaSetupGuide/index.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Error/index.tsx
  src/features/Conversation/Messages/AssistantGroup/components/ContentBlock.tsx
  src/features/ModelSwitchPanel/index.tsx
  src/locales/default/components.ts
  src/locales/default/error.ts
Due: none

style: update error style
  src/app/[variants]/(main)/image/features/GenerationFeed/BatchItem.tsx
  src/components/InvalidAPIKey/APIKeyForm/index.tsx
  src/components/InvalidAPIKey/Bedrock.tsx
  src/components/InvalidAPIKey/ComfyUIForm.tsx
  src/components/InvalidAPIKey/LoadingContext.ts
  src/components/InvalidAPIKey/ProviderApiKeyForm.tsx
  src/components/InvalidAPIKey/__tests__/ComfyUIForm.test.tsx
  src/components/InvalidAPIKey/index.tsx
  src/components/InvalidAPIKey/useApiKey.ts
  src/features/Conversation/ChatInput/index.tsx
  src/features/Conversation/ChatItem/ChatItem.tsx
  src/features/Conversation/ChatItem/components/ErrorContent.tsx
  src/features/Conversation/ChatItem/type.ts
  src/features/Conversation/Error/ChatInvalidApiKey.tsx
  src/features/Conversation/Error/index.tsx
  src/features/Conversation/Messages/Assistant/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Error/index.tsx
  src/features/Conversation/Messages/AssistantGroup/Tool/Render/ErrorResponse.tsx
  src/features/Conversation/Messages/Tool/Render/ErrorResponse.tsx
  src/features/Conversation/Messages/Tool/index.tsx
Due: none

fix group and thread
  src/features/Conversation/store/slices/data/action.test.ts
  src/features/Conversation/store/slices/generation/action.test.ts
  src/features/Conversation/store/slices/generation/action.ts
  src/features/Conversation/store/slices/message/action/crud.ts
  src/server/routers/lambda/_schema/context.ts
  src/server/services/message/__tests__/index.test.ts
  src/server/services/message/index.ts
  src/services/message/index.ts
  src/store/chat/slices/aiChat/actions/__tests__/conversationLifecycle.test.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/message/action.test.ts
  src/store/chat/slices/message/actions/optimisticUpdate.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/chat/slices/plugin/action.test.ts
  src/store/chat/slices/plugin/actions/optimisticUpdate.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
Due: Store Layer, Services Layer, Server Layer

update prompts
  packages/context-engine/src/providers/__tests__/__snapshots__/GroupContextInjector.test.ts.snap
  packages/prompts/src/prompts/agentGroup/__snapshots__/index.test.ts.snap
  packages/prompts/src/prompts/agentGroup/agentProfile.ts
  packages/prompts/src/prompts/agentGroup/groupContext.ts
  src/features/Conversation/Messages/AgentCouncil/CouncilMember.tsx
  src/features/Conversation/Messages/AgentCouncil/index.tsx
Due: none

support search and create agent
  packages/context-engine/src/engine/messages/MessagesEngine.ts
  packages/context-engine/src/engine/messages/types.ts
  packages/context-engine/src/processors/GroupMessageSender.ts
  packages/context-engine/src/processors/__tests__/GroupMessageSender.test.ts
  packages/context-engine/src/providers/GroupContextInjector.ts
  packages/context-engine/src/providers/__tests__/GroupContextInjector.test.ts
  packages/context-engine/src/providers/index.ts
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/__tests__/chatGroup.test.ts
  packages/database/src/models/agent.ts
  packages/database/src/models/chatGroup.ts
  packages/database/src/repositories/agentGroup/index.ts
  packages/prompts/src/prompts/agentGroup/index.test.ts
  packages/prompts/src/prompts/agentGroup/index.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/AgentItem.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/AvailableAgentList.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/index.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useCreateMenuItems.tsx
  src/app/[variants]/(main)/home/_layout/hooks/useSessionGroupMenuItems.tsx
  src/features/Conversation/ChatList/components/VirtualizedList.tsx
  src/server/routers/lambda/agent.ts
  src/server/routers/lambda/agentGroup.ts
  src/services/agent.ts
  src/store/agentGroup/selectors/byId.test.ts
  src/store/agentGroup/selectors/byId.ts
  src/store/agentGroup/selectors/current.ts
  src/store/agentGroup/slices/curd.test.ts
  src/store/agentGroup/slices/lifecycle.test.ts
  src/store/agentGroup/slices/member.test.ts
  src/store/chat/slices/message/actions/publicApi.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
Due: Store Layer, Services Layer, Server Layer

add tests for different speaker
  packages/conversation-flow/src/__tests__/fixtures/index.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/agentGroup/index.ts
  packages/conversation-flow/src/__tests__/fixtures/inputs/agentGroup/speak-different-agent.json
  packages/conversation-flow/src/__tests__/fixtures/inputs/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentGroup/index.ts
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentGroup/speak-different-agent.json
  packages/conversation-flow/src/__tests__/parse.test.ts
  packages/prompts/src/prompts/agentGroup/index.test.ts
Due: none

implement getAgentInfo
  packages/prompts/src/prompts/agentGroup/index.ts
  packages/prompts/src/prompts/index.ts
  src/store/chat/agents/GroupOrchestration/GroupOrchestrationSupervisor.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/store/tool/slices/builtin/executors/__tests__/lobe-group-management.test.ts
  src/store/tool/slices/builtin/executors/lobe-group-management.ts
  src/store/tool/slices/builtin/types.ts
Due: Store Layer

fix group mode
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentCouncil/simple.json
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentCouncil/with-supervisor-reply.json
  packages/conversation-flow/src/transformation/ContextTreeBuilder.ts
  packages/conversation-flow/src/types/contextTree.ts
  src/features/Conversation/ChatList/components/VirtualizedList.tsx
  src/store/chat/agents/GroupOrchestration/createGroupOrchestrationExecutors.ts
Due: Store Layer

fix group member selection api
  packages/builtin-tool-group-management/src/manifest.ts
  packages/builtin-tool-group-management/src/systemRole.ts
  packages/database/src/models/__tests__/agent.test.ts
  packages/database/src/models/agent.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/server/routers/lambda/agent.ts
  src/services/agent.ts
Due: Services Layer, Server Layer

fix add and remove group member
  .cursor/rules/group-chat.mdc
  packages/types/src/agentGroup/index.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/AgentItem.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/AvailableAgentList.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/SelectedAgentList.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/index.tsx
  src/app/[variants]/(main)/group/_layout/Sidebar/AddGroupMemberModal/store.ts
  src/app/[variants]/(main)/group/_layout/Sidebar/GroupConfig/GroupMember.tsx
  src/locales/default/chat.ts
  src/store/agentGroup/action.ts
  src/store/agentGroup/initialState.ts
  src/store/agentGroup/slices/curd.ts
  src/store/agentGroup/slices/index.ts
  src/store/agentGroup/slices/lifecycle.ts
  src/store/agentGroup/slices/member.ts
  src/store/agentGroup/store.ts
Due: Store Layer

fix group issue
  packages/conversation-flow/src/__tests__/fixtures/outputs/agentGroup/speak-different-agent.json
  packages/conversation-flow/src/transformation/MessageCollector.ts
Due: none

backup
  .husky/pre-commit
  package.json
Due: none

refactor: update electron build process and improve prebuild script
  package.json
  scripts/electronWorkflow/buildNextApp.mts
  scripts/prebuild.mts
  tsconfig.json
Due: none

feat: enhance electron build process with source modifications and cleanup utilities
  package.json
  scripts/electronWorkflow/buildNextApp.mts
  scripts/electronWorkflow/modifiers/appCode.mts
  scripts/electronWorkflow/modifiers/cleanUp.mts
  scripts/electronWorkflow/modifiers/index.mts
  scripts/electronWorkflow/modifiers/nextConfig.mts
  scripts/electronWorkflow/modifiers/routes.mts
  scripts/electronWorkflow/modifiers/utils.mts
  src/app/(backend)/webapi/plugin/gateway/route.ts
  src/server/services/pluginGateway/index.ts
  src/server/services/pluginGateway/settings.test.ts
  src/server/services/pluginGateway/settings.ts
Due: Server Layer

chore: format tsconfig.json and enhance electron workflow modifiers
  scripts/electronWorkflow/modifiers/index.mts
Due: none

update
  src/server/translation.ts
Due: Server Layer

update
  src/components/mdx/Image.tsx
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
