Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

Notes added by 'git notes add'
  dc/09cc866789ae87af0d8b5dd656d957c506429a
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix cve
  package.json
Due: none

update
  package.json
Due: none

rename
  src/app/[variants]/(main)/home/_layout/Body/BottomMenu/index.tsx
  src/app/[variants]/(main)/memory/_layout/index.tsx
  src/app/[variants]/(main)/memory/features/ContextsList.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/FilterBar.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/IdentitiesList.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/IdentityCard.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/ListView.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/MonthGroup.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/RoleTagCloud.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/TimelineView.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/index.tsx
  src/app/[variants]/(main)/memory/features/MemoryCard.tsx
  src/app/[variants]/(main)/memory/features/MemoryTabs.tsx
  src/app/[variants]/(main)/memory/index.tsx
  src/app/[variants]/(main)/profile/memory/page.tsx
  src/app/[variants]/desktopRouter.config.tsx
  src/app/[variants]/mobileRouter.config.tsx
  src/locales/default/common.ts
  src/store/global/initialState.ts
  src/store/userMemory/store.ts
Due: Store Layer

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🐛 fix: fix React CVE issue (#10593)
  package.json
Due: none

🔨 chore: environment variable loading with dotenv-expand (#10590)
  scripts/migrateServerDB/index.ts
Due: none

:bookmark: chore(release): v2.0.0-next.156 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ce/7971e61c6de8f48c0023ab5745b3d9d5aec4a2
Due: none

pin
  package.json
Due: none

🐛 fix: fix React CVE (#10592)
  package.json
Due: none

feat: New AddButton
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
  src/locales/default/chat.ts
Due: none

:bookmark: chore(release): v1.143.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1b/5afffe1e865d4e0b5464e9d0116729ce289061
Due: none

style: Add tooltip
  src/app/[variants]/(main)/home/_layout/Header/components/AddButton.tsx
Due: none

feat: Move help center to the footer
  src/app/[variants]/(main)/home/_layout/Footer/index.tsx
  src/features/User/UserPanel/useMenu.tsx
Due: none

fix(models): remove deprecated o1-mini model from chat models list
  packages/model-bank/src/aiModels/openai.ts
Due: none

Update src/app/[variants]/(main)/settings/provider/features/ModelList/UpdateNotification.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/UpdateNotification.tsx
Due: none

Update src/store/aiInfra/slices/aiModel/action.test.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
Due: Store Layer

Update src/locales/default/modelProvider.ts
  src/locales/default/modelProvider.ts
Due: none

Update src/app/[variants]/(main)/settings/provider/features/ModelList/ModelTitle/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/ModelTitle/index.tsx
Due: none

fix: resolve merge conflict in keyVaults.ts
  packages/types/src/user/settings/keyVaults.ts
Due: none

修复模型更新通知消息，调整本地化字符串以更好地反映状态变化
  src/app/[variants]/(main)/settings/provider/features/ModelList/ModelTitle/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/UpdateNotification.tsx
  src/locales/default/modelProvider.ts
  src/store/aiInfra/slices/aiModel/action.test.ts
Due: Store Layer

💄 style: Update Spark X1.5 model (#10103)
  packages/model-bank/src/aiModels/cerebras.ts
  packages/model-bank/src/aiModels/infiniai.ts
  packages/model-bank/src/aiModels/minimax.ts
  packages/model-bank/src/aiModels/moonshot.ts
  packages/model-bank/src/aiModels/openai.ts
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/siliconcloud.ts
  packages/model-bank/src/aiModels/spark.ts
  packages/model-bank/src/aiModels/volcengine.ts
  packages/model-bank/src/aiModels/wenxin.ts
  packages/model-runtime/src/core/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/providers/minimax/index.ts
  packages/model-runtime/src/providers/spark/index.test.ts
  packages/model-runtime/src/providers/spark/index.ts
  packages/model-runtime/src/providers/volcengine/index.test.ts
  packages/model-runtime/src/providers/volcengine/index.ts
  src/config/modelProviders/spark.ts
  src/config/modelProviders/volcengine.ts
Due: none

🌐 chore: translate non-English comments to English in store modules and types (#10597)
  packages/types/src/tool/builtin.ts
  src/store/aiInfra/store.ts
  src/store/chat/store.ts
  src/store/discover/store.ts
  src/store/electron/store.ts
  src/store/file/store.ts
  src/store/global/store.ts
  src/store/knowledgeBase/store.ts
  src/store/serverConfig/store.ts
  src/store/session/store.ts
  src/store/tool/store.ts
  src/store/user/store.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.157 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  87/6a997c0fbc7671d326d1db979c93b9dbe176f8
Due: none

style: update welcome speed
  package.json
  src/app/[variants]/(main)/home/features/WelcomeText/index.tsx
Due: none

refactor memory
  packages/types/src/userMemory/identity.ts
  src/app/[variants]/(main)/memory/features/ContextsList.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/IdentitiesList.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/IdentityCard.tsx
  src/app/[variants]/(main)/memory/features/IdentityTimeline/ListView.tsx
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/server/routers/lambda/userMemories/index.ts
  src/server/routers/lambda/userMemories/reembed.ts
  src/server/routers/lambda/userMemories/search.ts
  src/server/routers/lambda/userMemories/shared.ts
  src/server/routers/lambda/userMemories/tools.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/base/action.ts
  src/store/userMemory/slices/base/index.ts
  src/store/userMemory/slices/context/action.ts
  src/store/userMemory/slices/context/index.ts
  src/store/userMemory/slices/experience/action.ts
  src/store/userMemory/slices/experience/index.ts
  src/store/userMemory/slices/identity/action.ts
  src/store/userMemory/slices/identity/index.ts
  src/store/userMemory/slices/memory/action.ts
  src/store/userMemory/slices/memory/index.ts
  src/store/userMemory/slices/preference/action.ts
  src/store/userMemory/slices/preference/index.ts
  src/store/userMemory/store.ts
Due: Store Layer, Services Layer, Server Layer

update
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories/search.ts
  src/server/routers/lambda/userMemories/shared.ts
  src/server/routers/lambda/userMemory.ts
  src/services/userMemory/index.ts
  src/store/userMemory/slices/base/action.ts
  src/store/userMemory/store.ts
Due: Store Layer, Services Layer, Server Layer

Update src/server/routers/lambda/message.ts
  src/server/routers/lambda/message.ts
Due: Server Layer

Update src/server/services/file/impls/s3.test.ts
  src/server/services/file/impls/s3.test.ts
Due: Server Layer

✨ refactor: 优化文件使用情况查询逻辑，减少重复代码并增加可读性
  src/server/routers/lambda/message.ts
  src/server/routers/lambda/topic.ts
  src/store/chat/slices/topic/action.ts
Due: Store Layer, Server Layer
