Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

feat: Remove `docs_` prefix from URL (#10888)
  locales/ar/common.json
  locales/bg-BG/common.json
  locales/de-DE/common.json
  locales/en-US/common.json
  locales/es-ES/common.json
  locales/fa-IR/common.json
  locales/fr-FR/common.json
  locales/it-IT/common.json
  locales/ja-JP/common.json
  locales/ko-KR/common.json
  locales/nl-NL/common.json
  locales/pl-PL/common.json
  locales/pt-BR/common.json
  locales/ru-RU/common.json
  locales/tr-TR/common.json
  locales/vi-VN/common.json
  locales/zh-CN/common.json
  locales/zh-TW/common.json
  packages/builtin-agents/src/agents/page-agent/systemRole.ts
  src/app/[variants]/(main)/page/_layout/Body/useDropdownMenu.tsx
  src/app/[variants]/(main)/page/index.tsx
  src/app/[variants]/(main)/settings/about/index.tsx
  src/features/CommandMenu/components/CommandInput.tsx
  src/features/CommandMenu/useCommandMenu.ts
  src/locales/default/common.ts
  src/store/file/slices/document/action.ts
Due: Store Layer

chore: update passkey table
  packages/database/migrations/0065_add_passkey.sql
  packages/database/src/core/migrations.json
Due: none

chore: optimize version
  packages/electron-client-ipc/package.json
  packages/model-bank/package.json
  packages/model-runtime/package.json
  packages/types/package.json
  public/.well-known/README.md
Due: none

chore: remove as any
  src/server/routers/lambda/_template.ts
  src/server/routers/lambda/group.ts
  src/server/routers/lambda/knowledgeBase.ts
  src/server/routers/lambda/session.ts
  src/server/routers/lambda/sessionGroup.ts
  src/server/routers/lambda/thread.ts
Due: Server Layer

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
  lighthouse/chat/mobile/pagespeed.svg
Due: none

fix: sql not exits problem
  packages/database/migrations/0065_add_passkey.sql
Due: none

✨ feat: 添加混元图生文模型，更新智谱模型配置，优化模型解析逻辑
  packages/model-bank/src/aiModels/hunyuan.ts
  packages/model-bank/src/aiModels/qwen.ts
  packages/model-bank/src/aiModels/zhipu.ts
  packages/model-runtime/src/providers/zhipu/index.ts
  packages/model-runtime/src/utils/modelParse.ts
Due: none

✨ feat: topic message swr cache (#10886)
  src/features/Conversation/store/slices/data/action.ts
  src/libs/swr/localStorageProvider.ts
Due: Libraries Layer

fix: passkey statement
  packages/database/migrations/0065_add_passkey.sql
Due: none

fix: passkey origin null
  src/auth.ts
Due: none

chore: remove strict peer dependencies
  .npmrc
Due: none

chore: update package dependencies and import paths
  .cursor/rules/react.mdc
  package.json
  src/components/Error/Description.tsx
  src/components/InfoTooltip/index.tsx
  src/components/Loading/UpdateLoading/index.tsx
  src/features/ChatInput/store/initialState.ts
  src/features/Conversation/ChatInput/index.tsx
  src/features/DesktopOnboarding/Navigation.tsx
  src/features/MCP/MCPInstallProgress/InstallError/ErrorDetails.tsx
  src/features/MCP/MCPInstallProgress/MCPConfigForm.tsx
  src/features/MCP/MCPInstallProgress/MCPDependenciesGuide.tsx
  src/features/MCP/MCPInstallProgress/index.tsx
  src/features/ResourceManager/components/FolderTree/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

fix(import): fix lobehub ui es import path (#10893)
  .cursor/rules/react.mdc
  package.json
  src/components/Error/Description.tsx
  src/components/InfoTooltip/index.tsx
  src/components/Loading/UpdateLoading/index.tsx
  src/features/ChatInput/store/initialState.ts
  src/features/Conversation/ChatInput/index.tsx
  src/features/DesktopOnboarding/Navigation.tsx
  src/features/MCP/MCPInstallProgress/InstallError/ErrorDetails.tsx
  src/features/MCP/MCPInstallProgress/MCPConfigForm.tsx
  src/features/MCP/MCPInstallProgress/MCPDependenciesGuide.tsx
  src/features/MCP/MCPInstallProgress/index.tsx
  src/features/ResourceManager/components/FolderTree/index.tsx
  src/features/ResourceManager/components/Tree/index.tsx
Due: none

fix: test case
  packages/database/src/repositories/tableViewer/index.test.ts
Due: none

test(logger): enhance logger tests with mocked environment variables
  apps/desktop/src/main/utils/__tests__/logger.test.ts
Due: none

fix: slove swr mutate not work in Cache Provider
  src/layout/GlobalProvider/Query.tsx
  src/libs/swr/index.ts
  src/libs/swr/mutate.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/knowledge/action.ts
  src/store/agentGroup/action.ts
  src/store/aiInfra/slices/aiModel/action.ts
  src/store/aiInfra/slices/aiProvider/action.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/topic/action.ts
  src/store/electron/actions/settings.ts
  src/store/electron/actions/sync.ts
  src/store/file/slices/fileManager/action.ts
  src/store/home/slices/agentList/action.ts
  src/store/image/slices/generationBatch/action.ts
  src/store/image/slices/generationTopic/action.ts
  src/store/knowledgeBase/slices/crud/action.ts
  src/store/knowledgeBase/slices/ragEval/actions/dataset.ts
  src/store/knowledgeBase/slices/ragEval/actions/evaluation.ts
  src/store/session/slices/session/action.ts
  src/store/tool/slices/oldStore/action.ts
  src/store/user/slices/common/action.ts
  src/store/userMemory/slices/base/action.ts
Due: Store Layer, Libraries Layer

🐛 fix: slove swr mutate not work in Cache Provider (#10895)
  src/layout/GlobalProvider/Query.tsx
  src/libs/swr/index.ts
  src/libs/swr/mutate.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/knowledge/action.ts
  src/store/agentGroup/action.ts
  src/store/aiInfra/slices/aiModel/action.ts
  src/store/aiInfra/slices/aiProvider/action.ts
  src/store/chat/slices/message/actions/query.ts
  src/store/chat/slices/thread/action.ts
  src/store/chat/slices/topic/action.ts
  src/store/electron/actions/settings.ts
  src/store/electron/actions/sync.ts
  src/store/file/slices/fileManager/action.ts
  src/store/home/slices/agentList/action.ts
  src/store/image/slices/generationBatch/action.ts
  src/store/image/slices/generationTopic/action.ts
  src/store/knowledgeBase/slices/crud/action.ts
  src/store/knowledgeBase/slices/ragEval/actions/dataset.ts
  src/store/knowledgeBase/slices/ragEval/actions/evaluation.ts
  src/store/session/slices/session/action.ts
  src/store/tool/slices/oldStore/action.ts
  src/store/user/slices/common/action.ts
  src/store/userMemory/slices/base/action.ts
Due: Store Layer, Libraries Layer

✅ test: fix desktop test case (#10894)
  apps/desktop/src/main/utils/__tests__/logger.test.ts
Due: none

chore: update @lobehub/charts dependency to version 3.0.2 in package.json
  package.json
Due: none

🔨 chore: bump @lobehub/charts (#10897)
  package.json
Due: none

chore: remove local passkey origin
  src/auth.ts
Due: none

🔧 chore: update @lobehub/charts dependency to version 3.0.4 in package.json
  package.json
Due: none

🐛 fix: bump charts 3.0.4 to fix import es path (#10898)
  package.json
Due: none

🔧 chore: update apidom-reference patch and clean up binary parser code
  patches/@swagger-api__apidom-reference.patch
Due: none

🔨 chore: update patch file to try fix build error (#10900)
  patches/@swagger-api__apidom-reference.patch
Due: none

✨ feat: mobile native better auth support (#10871)
  .eslintrc.js
  docs/development/database-schema.dbml
  next.config.ts
  package.json
  packages/agent-runtime/package.json
  packages/const/package.json
  packages/database/migrations/0065_add_passkey.sql
  packages/database/migrations/meta/0065_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/package.json
  packages/database/src/core/migrations.json
  packages/database/src/repositories/tableViewer/index.test.ts
  packages/database/src/schemas/betterAuth.ts
  packages/electron-client-ipc/package.json
  packages/model-bank/package.json
  packages/model-runtime/package.json
  packages/types/package.json
  packages/utils/package.json
  packages/web-crawler/package.json
  public/.well-known/apple-app-site-association
  public/.well-known/assetlinks.json
  src/auth.ts
  src/libs/better-auth/email-templates/index.ts
  src/libs/better-auth/email-templates/verification-otp.ts
  src/libs/better-auth/utils/config.ts
Due: Libraries Layer

add document db schema update
  docs/development/database-schema.dbml
  packages/database/migrations/0065_add_document_fields.sql
  packages/database/src/schemas/file.ts
Due: none

update migration sql
  packages/database/migrations/0066_add_document_fields.sql
  packages/database/migrations/meta/0066_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
Due: none

🔧 chore: update localization strings for clarity and consistency
  src/locales/default/auth.ts
  src/locales/default/chat.ts
  src/locales/default/common.ts
  src/locales/default/error.ts
Due: none

✨ feat: update DesktopHome layout and routing
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/home/index.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
Due: none

refactor: simplify layout visibility handling in home component
  src/app/[variants]/(main)/home/_layout/index.tsx
Due: none

⚡️perf: reduce back to home render time (#10890)
  src/app/[variants]/(main)/_layout/index.tsx
  src/app/[variants]/(main)/home/_layout/index.tsx
  src/app/[variants]/(main)/home/index.tsx
  src/app/[variants]/router/desktopRouter.config.tsx
  src/features/NavPanel/SideBarHeaderLayout.tsx
Due: none

feat: add group builder inhome page use sender
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/initialState.ts
Due: Store Layer

✨ feat: add home page create group builder button (#10904)
  src/app/[variants]/(main)/home/features/InputArea/ModeHeader.tsx
  src/app/[variants]/(main)/home/features/InputArea/StarterList.tsx
  src/app/[variants]/(main)/home/features/InputArea/useSend.ts
  src/store/home/slices/homeInput/action.ts
  src/store/home/slices/homeInput/initialState.ts
Due: Store Layer

✨ feat: 添加 MiniMax M2.1 和 MiniMax M2.1 Lightning 模型，更新模型参数配置；调整 OllamaCloud 模型的上下文窗口大小
  packages/model-bank/src/aiModels/infiniai.ts
  packages/model-bank/src/aiModels/minimax.ts
  packages/model-bank/src/aiModels/ollamacloud.ts
Due: none

✨ perf: integrate TooltipGroup component across various UI components
  src/app/[variants]/(main)/community/(detail)/assistant/features/Header.tsx
  src/app/[variants]/(main)/community/(detail)/model/features/Details/Overview/ProviderList/index.tsx
  src/app/[variants]/(main)/community/(detail)/provider/features/Details/Overview/ModelList/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/Header/index.tsx
  src/app/[variants]/(main)/community/(detail)/user/features/UserAgentCard.tsx
  src/app/[variants]/(main)/community/features/LikeButton.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/DisabledModels.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/EnabledModelList/index.tsx
  src/app/[variants]/(main)/settings/provider/features/ModelList/SearchResult.tsx
  src/features/ChatInput/ActionBar/Search/FunctionCallingModelSelect/index.tsx
  src/features/ModelSelect/index.tsx
Due: none

refactor(memory-user-memory,userMemories): split chat topic related operations into dedicated pipelines sub-route
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-users/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer

refactor(memory-user-memory,userMemories): split chat topic related operations into dedicated pipelines sub-route (#10907)
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-topic/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-user-topics/route.ts
  src/app/(backend)/api/workflows/memory-user-memory/pipelines/chat-topic/process-users/route.ts
  src/server/services/memory/userMemory/extract.ts
Due: Server Layer
