Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

Update packages/model-runtime/src/newapi/index.ts
  packages/model-runtime/src/newapi/index.ts
Due: none

✨ feat: add NewAPI as a router provider for multi-model aggregation
  .gitignore
  package.json
  packages/model-bank/package.json
  packages/model-bank/src/aiModels/index.ts
  packages/model-bank/src/aiModels/newapi.ts
  packages/model-runtime/src/index.ts
  packages/model-runtime/src/newapi/index.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/model-runtime/src/types/type.ts
  packages/types/src/user/settings/keyVaults.ts
  src/app/[variants]/(main)/settings/provider/(detail)/newapi/page.tsx
  src/config/modelProviders/index.ts
  src/config/modelProviders/newapi.ts
  src/locales/default/modelProvider.ts
Due: none

🔨 fix: adjust for review comment https://github.com/lobehub/lobe-chat/pull/9041#pullrequestreview-3183464594
  src/config/modelProviders/index.ts
  src/config/modelProviders/newapi.ts
Due: none

🐛 fix: resolve NewAPI baseURL transmission issue with dynamic routers configuration
  packages/model-runtime/src/RouterRuntime/createRuntime.test.ts
  packages/model-runtime/src/RouterRuntime/createRuntime.ts
  packages/model-runtime/src/newapi/index.test.ts
  packages/model-runtime/src/newapi/index.ts
  src/locales/default/modelProvider.ts
Due: none

remove edge runtime
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/anthropic/route.test.ts
  src/app/(backend)/webapi/chat/anthropic/route.ts
  src/app/(backend)/webapi/chat/groq/route.test.ts
  src/app/(backend)/webapi/chat/groq/route.ts
  src/app/(backend)/webapi/chat/openai/route.test.ts
  src/app/(backend)/webapi/chat/openai/route.ts
Due: none

:bug: fix: only init db adapter in server service
  src/libs/next-auth/auth.config.ts
Due: Libraries Layer

:bookmark: chore(release): v1.122.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  29/8cd4f8c95ea32d685277ac1175811e96bb7370
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

🐛 fix: include reasoning content and usage data in non-streaming chat completion responses
  packages/model-runtime/src/utils/openaiCompatibleFactory/index.test.ts
Due: none

rename example development
  .env.example.development
Due: none

🔨 chore: rename example development (#9090)
  .env.example.development
Due: none

fix: add `vercelaigateway` to package.json.exports
  packages/model-bank/package.json
Due: none

fix: update `AgentRuntimeErrorType` import
  packages/model-bank/src/aiModels/vercelaigateway.ts
  packages/model-runtime/src/vercelaigateway/index.ts
Due: none

✨ feat: support Vercel AI Gateway provider
  .env.example
  Dockerfile
  Dockerfile.database
  Dockerfile.pglite
  docs/self-hosting/environment-variables/model-provider.mdx
  docs/self-hosting/environment-variables/model-provider.zh-CN.mdx
  docs/usage/providers/vercel-ai-gateway.mdx
  docs/usage/providers/vercel-ai-gateway.zh-CN.mdx
  packages/model-bank/src/aiModels/index.ts
  packages/model-bank/src/aiModels/vercelaigateway.ts
  packages/model-runtime/src/runtimeMap.ts
  packages/model-runtime/src/types/type.ts
  packages/model-runtime/src/vercelaigateway/index.ts
  packages/types/src/user/settings/keyVaults.ts
  src/config/llm.ts
  src/config/modelProviders/index.ts
  src/config/modelProviders/vercelaigateway.ts
Due: none

✨ feat: 更新 Novita 模型的定价策略，调整输入和输出的费率
  packages/model-bank/src/aiModels/novita.ts
Due: none

:bookmark: chore(release): v1.122.1 [skip ci]
  CHANGELOG.md
Due: none

🐛 fix: test
  packages/model-runtime/src/utils/openaiCompatibleFactory/index.test.ts
  packages/model-runtime/src/utils/openaiCompatibleFactory/index.ts
  packages/model-runtime/src/utils/streams/spark.test.ts
  packages/model-runtime/src/utils/streams/spark.ts
Due: none

refactor
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/anthropic/route.test.ts
  src/app/(backend)/webapi/chat/anthropic/route.ts
  src/app/(backend)/webapi/chat/google/route.test.ts
  src/app/(backend)/webapi/chat/google/route.ts
  src/app/(backend)/webapi/chat/groq/route.test.ts
  src/app/(backend)/webapi/chat/groq/route.ts
  src/app/(backend)/webapi/chat/openai/route.test.ts
  src/app/(backend)/webapi/chat/openai/route.ts
  src/app/(backend)/webapi/chat/vertexai/route.ts
Due: none

♻️ refactor: make LobeNextAuthDBAdapter Edge Compatible (#9088)
  packages/database/src/server/models/__tests__/nextauth.test.ts
  packages/utils/src/server/__tests__/auth.test.ts
  packages/utils/src/server/auth.ts
  src/app/(backend)/api/auth/adapter/route.ts
  src/app/(backend)/api/webhooks/logto/route.ts
  src/config/auth.ts
  src/libs/next-auth/adapter/index.ts
  src/libs/next-auth/auth.config.ts
  src/libs/next-auth/edge.ts
  src/libs/next-auth/index.ts
  src/libs/trpc/edge/context.ts
  src/libs/trpc/lambda/context.ts
  src/middleware.ts
  src/server/routers/lambda/user.test.ts
  src/server/routers/lambda/user.ts
  src/server/services/nextAuthUser/index.test.ts
  src/server/services/nextAuthUser/index.ts
  src/server/services/nextAuthUser/utils.ts
Due: Server Layer, Libraries Layer

:bookmark: chore(release): v1.122.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5e/611f2fba681fb24fbb8d3130b4e67735dda372
Due: none

:recycle: refactor: remove use client
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/UsageCards/index.tsx
Due: none

:lipstick: style: change charts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalRequest.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalSpend.tsx
Due: none

:recycle: refactor: align concept entities
  packages/database/src/models/usage.ts
  packages/database/src/schemas/usage.ts
  packages/database/src/utils/idGenerator.ts
  packages/types/src/usage/index.ts
  packages/types/src/usage/usageRecord.ts
  src/app/(backend)/webapi/usage/route.ts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/ModelTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/ActiveModels/index.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageCards/MonthSpend.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTable.tsx
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
  src/server/modules/ModelRuntime/usage.ts
  src/server/routers/lambda/usage.ts
  src/server/services/usage/index.ts
  src/services/usage.ts
Due: Services Layer, Server Layer

:lip_stick: style: use 2 cols
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

:recycle: refactor: migrate to new helpr
  packages/model-runtime/src/types/chat.ts
  packages/types/src/usage/usageRecord.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/[provider]/util.ts
  src/server/services/usage/index.ts
Due: Server Layer

:bug: fix: data mapping
  src/app/(backend)/webapi/usage/route.ts
  src/server/modules/ModelRuntime/usage.ts
  src/server/services/usage/index.ts
Due: Server Layer

:sparkles: feat: barchart
  packages/database/src/models/usage.ts
  packages/database/src/schemas/index.ts
  src/app/[variants]/(main)/profile/usage/Client.tsx
  src/app/[variants]/(main)/profile/usage/features/TotalUsage.tsx
  src/app/[variants]/(main)/profile/usage/page.tsx
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/usage.ts
  src/server/services/usage/index.ts
  src/services/usage.ts
  src/types/usage/requestLog.ts
Due: Services Layer, Server Layer

:construction: wip:
  packages/database/src/models/usage.ts
  packages/database/src/schemas/usage.ts
  packages/database/src/utils/idGenerator.ts
  src/server/routers/lambda/usage.ts
  src/types/usage/requestLog.ts
Due: Server Layer

:bug: fix: add key
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

:recycle: refactor: use inner fetcher
  packages/model-runtime/src/types/chat.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/[provider]/util.ts
  src/app/(backend)/webapi/usage/route.ts
  src/server/modules/ModelRuntime/usage.ts
  src/server/services/usage/index.ts
Due: Server Layer

:recycle: refactor: use stack
  src/app/[variants]/(main)/profile/usage/features/UsageCategories.tsx
Due: none

:rewind: revert: undo wrong resolves
  packages/types/package.json
  src/app/[variants]/(main)/profile/hooks/useCategory.tsx
  src/types/locale.ts
  src/types/next.ts
  vitest.config.mts
Due: none

Delete packages/types/src/share.ts
  packages/types/src/share.ts
Due: none

:recycle: refactor: cascade changes from model-runtime
  packages/model-runtime/src/types/chat.ts
  src/app/(backend)/webapi/chat/[provider]/route.ts
  src/app/(backend)/webapi/chat/[provider]/util.ts
Due: none

:bug: fix: number format
  src/app/[variants]/(main)/profile/usage/features/UsageTrends.tsx
Due: none

Path conditions:
  Store Layer: any of: src/store/**
  Services Layer: any of: src/services/**
  Server Layer: any of: src/server/**
  Libraries Layer: any of: src/libs/**
  Utils Layer: any of: src/utils/**
