Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

fix test
  src/store/chat/agents/__tests__/createAgentExecutors/call-llm.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/resolve-aborted-tools.test.ts
  src/store/global/action.test.ts
  src/store/session/slices/session/action.test.ts
Due: Store Layer

support agent store
  packages/database/src/models/__tests__/agent.test.ts
Due: none

fix tests
  src/store/agent/selectors.ts
  src/store/agent/selectors/chatConfigSelectors.test.ts
  src/store/agent/selectors/chatConfigSelectors.ts
  src/store/agent/selectors/index.ts
  src/store/agent/selectors/selectors.test.ts
  src/store/agent/selectors/selectors.ts
  src/store/agent/slices/agent/action.ts
  src/store/agent/slices/agent/index.ts
  src/store/agent/slices/knowledge/action.ts
  src/store/agent/slices/plugin/action.ts
  src/store/chat/slices/aiChat/actions/__tests__/rag.test.ts
Due: Store Layer

update topic and message db
  docs/development/database-schema.dbml
  packages/database/migrations/0052_topic_and_messages.sql
  packages/database/migrations/meta/0052_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/schemas/message.ts
  packages/database/src/schemas/topic.ts
Due: none

fix tests
  packages/database/src/models/__tests__/topic.test.ts
Due: none

🌐 chore: translate non-English comments to English in python-interpreter (#10499)
  packages/python-interpreter/src/worker.ts
Due: none

🔨 chore: update topic and message db (#10511)
  docs/development/database-schema.dbml
  packages/database/migrations/0052_topic_and_messages.sql
  packages/database/migrations/meta/0052_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/src/core/migrations.json
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/schemas/message.ts
  packages/database/src/schemas/topic.ts
Due: none

fix bug
  packages/types/src/aiChat.ts
  src/app/loading.tsx
  src/features/Conversation/store/slices/data/action.ts
  src/hooks/useCurrentContext.ts
  src/server/routers/lambda/aiChat.ts
  src/server/services/aiChat/index.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
Due: Store Layer, Server Layer

🐛 fix: refresh custom AI provider on selection (#10506)
  src/app/[variants]/(main)/settings/provider/(list)/ProviderGrid/index.tsx
  src/app/[variants]/(main)/settings/provider/ProviderMenu/List.tsx
  src/app/[variants]/(main)/settings/provider/detail/default/ClientMode.tsx
  src/locales/default/modelProvider.ts
  src/store/aiInfra/slices/aiProvider/__tests__/selectors.test.ts
  src/store/aiInfra/slices/aiProvider/selectors.ts
Due: Store Layer

:bookmark: chore(release): v2.0.0-next.136 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  65/a5c41f59a17d966e944b545ac36d00e57a4793
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

tests: fixed
  src/services/chat/contextEngineering.test.ts
Due: Services Layer

feat: auto inject user memory
  package.json
  packages/const/src/settings/index.ts
  packages/const/src/settings/userMemory.ts
  packages/database/src/schemas/userMemories.ts
  packages/types/src/user/settings/index.ts
  packages/types/src/user/settings/userMemory.ts
  packages/types/src/userMemory/server.ts
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/chat/contextEngineering.test.ts
  src/services/chat/contextEngineering.ts
  src/services/chat/index.ts
  src/services/chat/providers/UserMemoryInjector.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/store/userMemory/index.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/selectors.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/tools/index.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
  src/utils/memory/searchParams.ts
Due: Store Layer, Services Layer, Server Layer, Utils Layer

fix: type issue & message update issue
  packages/types/src/userMemory/tools.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
Due: Store Layer

feat(userMemories): implemented user memories, fetch, inject, models
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/chat/index.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/message/selectors/dbMessage.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/store/userMemory/utils/searchParams.ts
  src/tools/memory/systemRole.ts
Due: Store Layer, Services Layer, Server Layer

chore: re-configure preference top-k
  packages/const/src/userMemory.ts
  src/store/userMemory/utils/searchParams.ts
Due: Store Layer

tests: fixed
  packages/database/src/models/userMemory.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
Due: Server Layer

fix: missing tools commited to another branch
  packages/types/src/userMemory/tools.ts
  src/services/userMemory.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/store/chat/slices/operation/types.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
Due: Store Layer, Services Layer

feat(userMemories): implemented more user memories, stores, auto inject, tools (#10513)
  package.json
  packages/const/src/settings/index.ts
  packages/const/src/settings/userMemory.ts
  packages/const/src/userMemory.ts
  packages/database/src/models/userMemory.ts
  packages/database/src/schemas/userMemories.ts
  packages/types/src/user/settings/index.ts
  packages/types/src/user/settings/userMemory.ts
  packages/types/src/userMemory/server.ts
  packages/types/src/userMemory/tools.ts
  src/app/[variants]/(main)/chat/features/Conversation/ConversationArea.tsx
  src/server/routers/lambda/index.ts
  src/server/routers/lambda/userMemories.test.ts
  src/server/routers/lambda/userMemories.ts
  src/services/chat/contextEngineering.test.ts
  src/services/chat/contextEngineering.ts
  src/services/chat/index.ts
  src/services/chat/providers/UserMemoryInjector.ts
  src/services/userMemory.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/builtinTool/actions/index.ts
  src/store/chat/slices/builtinTool/actions/userMemory.ts
  src/store/chat/slices/message/selectors/dbMessage.ts
  src/store/chat/slices/operation/types.ts
  src/store/userMemory/index.ts
  src/store/userMemory/initialState.ts
  src/store/userMemory/selectors.ts
  src/store/userMemory/store.ts
  src/store/userMemory/utils/cacheKey.ts
  src/store/userMemory/utils/searchParams.ts
  src/tools/index.ts
  src/tools/memory/index.ts
  src/tools/memory/systemRole.ts
  src/tools/memory/types.ts
Due: Store Layer, Services Layer, Server Layer

improve i18n
  locales/en-US/topic.json
  locales/zh-CN/topic.json
  src/app/[variants]/(main)/chat/_layout/Sidebar/Header/Nav.tsx
  src/locales/default/topic.ts
Due: none

fix topic create
  packages/database/src/models/__tests__/topic.test.ts
  packages/database/src/models/topic.ts
  src/server/routers/lambda/aiChat.ts
  src/server/services/aiChat/index.ts
Due: Server Layer

gemini image search
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/types/aiModel.ts
  packages/model-runtime/src/providers/google/createImage.ts
  packages/model-runtime/src/types/image.ts
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/components/SearchSwitch.tsx
  src/app/[variants]/(main)/image/@menu/features/ConfigPanel/index.tsx
  src/locales/default/image.ts
  src/server/routers/async/image.ts
  src/server/routers/lambda/image.ts
  src/store/image/slices/createImage/action.ts
  src/store/image/slices/generationConfig/action.ts
  src/store/image/slices/generationConfig/initialState.ts
  src/store/image/slices/generationConfig/selectors.ts
Due: Store Layer, Server Layer

✅ test: add web search support to createGoogleImage function
  packages/model-runtime/src/providers/google/createImage.test.ts
Due: none

🐛 fix: update apiMode handling in ChatService to prioritize user preferences (#10487)
  packages/model-runtime/src/core/openaiCompatibleFactory/index.ts
  src/services/chat/chat.test.ts
  src/services/chat/index.ts
Due: Services Layer

fix messages query
  packages/database/src/models/__tests__/messages/message.delete.test.ts
  packages/database/src/models/__tests__/messages/message.query.test.ts
  packages/database/src/models/message.ts
Due: none

:bookmark: chore(release): v2.0.0-next.137 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  42/3bdee43b9801cb7afcc350bcdc6013136798a2
Due: none

add more tests
  src/server/routers/lambda/_helpers/resolveContext.ts
  src/server/services/message/__tests__/index.integration.test.ts
  src/server/services/message/index.ts
Due: Server Layer

add more tests
  src/server/routers/lambda/__tests__/aiChat.test.ts
  src/server/routers/lambda/aiChat.ts
Due: Server Layer

add more tests
  src/server/routers/lambda/__tests__/aiChat.test.ts
Due: Server Layer

add more tests
  packages/database/src/models/topic.ts
  src/server/routers/lambda/__tests__/message.test.ts
  src/server/routers/lambda/__tests__/topic.test.ts
Due: Server Layer

update
  CLAUDE.md
Due: none

✅ test(database): add ThreadModel unit tests
  packages/database/src/models/__tests__/thread.test.ts
Due: none

update
  src/server/routers/lambda/_helpers/resolveContext.test.ts
Due: Server Layer
