Repository lobehub/lobe-chat: changes, and which Codecov flags are due for each by the changed paths.
All: Store Layer, Services Layer, Server Layer, Libraries Layer, Utils Layer

codecov.yml:

component_management:
  individual_components:
    # App architecture layers
    - component_id: app_store
      name: "Store Layer"
      paths:
        - src/store/**
    - component_id: app_services
      name: "Services Layer"
      paths:
        - src/services/**
    - component_id: app_server
      name: "Server Layer"
      paths:
        - src/server/**
    - component_id: app_libs
      name: "Libraries Layer"
      paths:
        - src/libs/**
    - component_id: app_utils
      name: "Utils Layer"
      paths:
        - src/utils/**

coverage:
  status:
    project:
      default: off
      database:
        flags:
          - database
      app:
        flags:
          - app
    patch: off


comment:
  layout: "header, diff, flags, components"  # show component info in the PR comment

完成 tool operation 调用重构
  packages/types/src/tool/search/index.ts
  src/services/search.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/builtinTool/actions/__tests__/localSystem.test.ts
  src/store/chat/slices/builtinTool/actions/__tests__/search.test.ts
  src/store/chat/slices/builtinTool/actions/interpreter.ts
  src/store/chat/slices/builtinTool/actions/localSystem.ts
  src/store/chat/slices/builtinTool/actions/search.ts
  src/store/chat/slices/builtinTool/selectors.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/plugin/actions/pluginTypes.ts
  src/tools/web-browsing/ExecutionRuntime/index.ts
Due: Store Layer, Services Layer

fix loading state
  src/features/Conversation/Messages/User/index.tsx
  src/features/Conversation/Messages/index.tsx
  src/store/chat/slices/aiChat/selectors.test.ts
  src/store/chat/slices/builtinTool/selectors.test.ts
  src/store/chat/slices/message/selectors/messageState.ts
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/selectors.ts
Due: Store Layer

add tests
  src/store/chat/agents/__tests__/createAgentExecutors/call-llm.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/finish.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/fixtures/index.ts
  src/store/chat/agents/__tests__/createAgentExecutors/fixtures/mockInstructions.ts
  src/store/chat/agents/__tests__/createAgentExecutors/fixtures/mockMessages.ts
  src/store/chat/agents/__tests__/createAgentExecutors/fixtures/mockOperations.ts
  src/store/chat/agents/__tests__/createAgentExecutors/fixtures/mockStore.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/assertions.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/index.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/operationTestUtils.ts
  src/store/chat/agents/__tests__/createAgentExecutors/helpers/testExecutor.ts
  src/store/chat/agents/__tests__/createAgentExecutors/request-human-approve.test.ts
  src/store/chat/agents/__tests__/createAgentExecutors/resolve-aborted-tools.test.ts
  src/store/chat/agents/createAgentExecutors.ts
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

fix tests
  src/store/chat/slices/aiChat/actions/__tests__/streamingExecutor.test.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
Due: Store Layer

refactor state to isAgentRuntimeRunning
  src/app/[variants]/(main)/chat/components/conversation/features/ChatInput/V1Mobile/index.tsx
  src/app/[variants]/(main)/chat/components/conversation/features/ChatInput/V1Mobile/useSend.ts
  src/app/[variants]/(main)/chat/components/conversation/features/ChatInput/useSend.ts
  src/app/[variants]/(main)/chat/session/features/SessionListContent/List/Item/index.tsx
  src/features/ChatInput/ActionBar/STT/browser.tsx
  src/features/ChatInput/ActionBar/STT/openai.tsx
  src/features/Conversation/components/AutoScroll.tsx
  src/store/chat/agents/GeneralChatAgent.ts
  src/store/chat/slices/message/selectors/messageState.ts
  src/store/chat/slices/operation/__tests__/integration.test.ts
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/actions.ts
  src/store/chat/slices/operation/selectors.ts
  src/tools/web-browsing/Portal/Search/Footer.tsx
Due: Store Layer

✅ test: add test for human_abort extractAbortInfo path
  src/store/chat/agents/__tests__/GeneralChatAgent.test.ts
Due: Store Layer

fix
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/actions.ts
Due: Store Layer

auto clean up
  src/store/chat/slices/operation/__tests__/actions.test.ts
  src/store/chat/slices/operation/actions.ts
Due: Store Layer

🐛 fix: prevent showing success status when tool execution is cancelled
  src/store/chat/agents/__tests__/createAgentExecutors/call-tool.test.ts
  src/store/chat/agents/createAgentExecutors.ts
Due: Store Layer

Delete .github/workflows/sync.yml
  .github/workflows/sync.yml
Due: none

Delete .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

Delete .github/workflows/release-desktop-beta.yml
  .github/workflows/release-desktop-beta.yml
Due: none

🤖 chore: Lighthouse Results | Chat
  lighthouse/chat/desktop/lobechat_com_chat.html
  lighthouse/chat/desktop/pagespeed.svg
  lighthouse/chat/mobile/lobechat_com_chat.html
Due: none

🤖 chore: Lighthouse Results | Discover
  lighthouse/discover/desktop/lobechat_com_discover.html
  lighthouse/discover/desktop/pagespeed.svg
  lighthouse/discover/mobile/lobechat_com_discover.html
  lighthouse/discover/mobile/pagespeed.svg
Due: none

:bookmark: chore(release): v2.0.0-next.83 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  76/36344e077c471c949d056dabfd8560360707ac
Due: none

📝 docs(bot): Auto sync agents & plugin to readme
  changelog/v1.json
Due: none

fix model id
  packages/model-bank/src/aiModels/google.ts
Due: none

fix thread send
  src/app/[variants]/(main)/chat/components/conversation/features/ChatInput/useSend.ts
  src/store/chat/slices/aiChat/actions/conversationLifecycle.ts
  src/store/chat/slices/aiChat/actions/streamingExecutor.ts
  src/store/chat/slices/operation/__tests__/selectors.test.ts
  src/store/chat/slices/operation/selectors.ts
Due: Store Layer

💄 style: add Gemini 3.0 Pro Preview to Google Provider (#10290)
  packages/model-bank/src/aiModels/google.ts
Due: none

feat: 添加思考水平功能，更新相关模型和配置
  packages/model-bank/src/aiModels/google.ts
  packages/model-bank/src/types/aiModel.ts
  packages/model-runtime/src/providers/google/index.ts
  packages/model-runtime/src/types/chat.ts
  packages/types/src/agent/chatConfig.ts
  src/features/ChatInput/ActionBar/Model/ControlsForm.tsx
  src/features/ChatInput/ActionBar/Model/ThinkingLevelSlider.tsx
  src/locales/default/chat.ts
  src/services/chat/index.ts
Due: Services Layer

Delete .github/workflows/issue-close-require.yml
  .github/workflows/issue-close-require.yml
Due: none

Delete .github/workflows/auto-i18n.yml
  .github/workflows/auto-i18n.yml
Due: none

Delete .github/workflows/lighthouse.yml
  .github/workflows/lighthouse.yml
Due: none

:bookmark: chore(release): v2.0.0-next.84 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  20/3fdc4b228df651bc72f42c436f056543a2cf82
Due: none

feat: 添加 Gemini 3 Pro 模型并移除旧版 Gemini 2.5 Flash 和 Flash-Lite 模型
  packages/model-bank/src/aiModels/aihubmix.ts
  packages/model-bank/src/aiModels/google.ts
Due: none

feat: 添加 Gemini 3 Pro 预览模型及其相关配置
  packages/model-bank/src/aiModels/ollamacloud.ts
Due: none

fix: add lost merge files
  src/features/Conversation/Messages/index.tsx
Due: none

fix: slove discover pagination router
  src/app/[variants]/(main)/discover/(list)/features/Pagination.tsx
Due: none

🐛 fix: slove discover pagination router (#10294)
  src/app/[variants]/(main)/discover/(list)/features/Pagination.tsx
Due: none

fix: add lost className
  src/features/ChatItem/components/MessageContent.tsx
Due: none

:bookmark: chore(release): v2.0.0-next.85 [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix: lint fixed
  src/features/Conversation/Messages/index.tsx
Due: none

Notes added by 'git notes add'
  ca/aa3310025bdda998f5cb67fafb05322cd6507b
Due: none

Delete .github/workflows/claude-translate-comments.yml
  .github/workflows/claude-translate-comments.yml
Due: none
